button,
select,
select option,
input,
textarea,
html,
#layout-main div.mylist_list tr.all_watched td.stats
{
	background:#000000;
	color:#728972;
}

table
{
	border-top-color:#888888;
}

tr.g_odd,
li.g_odd,
span.g_odd
{
	background-color:#393939;
}

#layout-main table ul li.g_odd,
#layout-main table table td.g_odd,
#layout-main ul.g_list li.g_odd
{
	color:#728972;
}

#layout-main > h1
{
	background-color:#000000;
	border-top-color:#888888;
}

#layout-menu > li ul
{
	background-color:#888888;
	border-color:#000000;
}

#layout-tabs ul.main-tabs > li.selected
{
	background-color:#000000;
	border-bottom-color:#000000;
}

#layout-menu li.sub-menu ul li:hover
{
	background-color:#AAAAAA;
}

#layout-main div.pagination span a
{
	background-color:#555555;
	border-color:#666666;
	color:#CCCCCC;
}

#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong
{
	color:#000000;
}

#layout-main div.tagcloud
{
	background-color:#888888;
	border-color:#888888;
}

button:hover
{
	background-color:#888888;
	color:#CCCCCC;
}

a,
span.link,
#layout-tabs ul.main-tabs > li.selected a,
ul.g_list li,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover
{
	color:#CCCCCC;
}

a:hover,
span.link:hover,
#layout-menu li.sub-menu:hover,
button:hover,
input[type="submit"]:hover
{
	color:#FFFFFF;
}

#layout-main div.msg_all tr.mod
{
	background-color:#728972;
}

#layout-main table tr.header,
#layout-main table thead tr
{
	background-color:#999999;
	color:#000000;
}

#layout-main ul.g_list li,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs li,
#layout-nav div.menu_hr
{
	border-color:#888888;
}

button:hover,
input[type="submit"]:hover,
#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.selected,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-menu li.sub-menu:hover,
#layout-main div.news_all div.g_timedentry h4,
{
	background-color:#888888;
}


#layout-main td ins,
#layout-main input.include,
#layout-main table.filelist tr.good,
#layout-main div.myvotes_all table tr.high td,
#layout-main div.producer_all table tr.mylist,
#layout-main div.character_all div.tabbed_pane_main table tr.mylist,
#layout-main div.creator_all div.tabbed_pane_main table tr.mylist,
#layout-main div.anime_all div.tabbed_pane_main table tr.mylist,
#layout-main div.animelist_all table tr.mylist,
#layout-main div.group_released table tr.mylist,
#layout-main div.schedule_all table tr.mylist,
#layout-main div.forum div.comment div.content strong,
#layout-main div.forum a.topictitle strong,
#layout-main div.addcreatoranimerel_all tr.identical,
#layout-main table.animelist tr.mylist
{
	background-color:#364a36;
}

#layout-main table.filelist tr.g_odd.good,
#layout-main div.myvotes_all table tr.g_odd.high td,
#layout-main div.producer_all table tr.g_odd.mylist,
#layout-main div.character_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.creator_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.anime_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.animelist_all table tr.g_odd.mylist,
#layout-main div.group_released table tr.g_odd.mylist,
#layout-main div.schedule_all table tr.g_odd.mylist,
#layout-main table.animelist tr.g_odd.mylist
{
	background-color:#4c614c;
}

#layout-main td del,
#layout-main tr.g_fs_lame,
#layout-main input.exclude,
#layout-main table.filelist tr.invalid,
#layout-main table.filelist tr.g_odd.deprecated
{
	background-color:#564444;
}

#layout-main table.filelist tr.generic
{
	background-color:#444444;
}

#layout-main td del,
#layout-main td ins,
#layout-main table.filelist,
#layout-main table.animelist,
#layout-main div.group_released table,
#layout-main div.producer_related_anime table,
#layout-main td ins,
#layout-main div.myvotes_all table tr.high td,
#layout-main div.character_all div.tabbed_pane_main table,
#layout-main div.creator_all div.tabbed_pane_main table,
#layout-main div.anime_all div.tabbed_pane_main table,
#layout-main div.animelist_all table,
#layout-main div.schedule_all table,
#layout-main div.addcreatoranimerel_all table
{
	color:#A0A0A0;
}

#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong
{
	background-color:#728972;
	border-color:#666666;
}

#layout-main div.export_all div.exportblock div.inner,
#layout-main div.export_all div.exportblock .rbottom *,
#layout-main div.export_all div.exportblock .rtop *
{
	background-color:#888888;
}

#layout-main div.tabbed_pane div.body,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	background-color: #000000;
}

#layout-main div.anime_all div.desc
{
	background-color:#000000;
	border-color:#888888;
}

div.quotebody
{
	background-color:#404040;
	border:1px solid #555555;
	color:#ABABAB;
}

#layout-main div.cmt_entries dl.profile dd strong
{
	color:#666666;
}

#layout-main div.tagcloud
{
    background-color:#444444;
}

#layout-main div.forum .rtop *,
#layout-main div.forum .rbottom *,
#layout-main div.forum div.inner,
#layout-main div.forum div.poll div.inner,
#layout-main div.forum div.poll .rbottom *,
#layout-main div.forum div.poll .rtop *,
#layout-main div.forum div.comment div.inner,
#layout-main div.forum div.comment .rbottom *,
#layout-main div.forum div.comment .rtop *,
#layout-main div.forum div.threads .rtop *,
#layout-main div.forum div.threads .rbottom *,
#layout-main div.forum div.threads div.inner
{
	background-color: #3B3B3B;
}

#layout-main div.forum div.signature,
#layout-main div.forum div.navbar div.inner div.bottom
{
	border-top-color:#888888;
}

#layout-main div.forum ul.topics
{
	border-left-color:#3B3B3B;
	border-right-color:#3B3B3B;
}

#layout-main div.forum ul.topics li.row
{
	border-top:1px solid #777777;
	border-bottom: none;
}

#layout-main div.forum ul.topics li.row
{
	background-color:#000000;
}

#layout-main div.forum ul.topics li.g_odd
{
	background-color:#3F3F3F;
}

#layout-main div.forum a.topictitle
{
	color: #CCCCCC;
}

#layout-main div.forum ul.topiclist li
{
	color: inherit;
}

#layout-main div.forum ul.topics li.row:hover
{
	background-color:#666666;
}

#layout-main div.forum ul.topics li.row:hover
{
	background-color:#555555;
}

#layout-main div.forum div.deleted,
#layout-main div.forum li.deleted dl.icon
{
	opacity:0.6;
}