#layout-content div#layout-tabs {
	margin:0; padding:0;
	display:block;
	z-index:1000;
}
#layout-content div#layout-tabs ul.main-tabs {
	margin:0; padding:0 40px;
	width:100%; height:35px;
	display:block;
	position:relative; top:26px; left:-40px;
	background:#4e1709;
	border-bottom:1px solid #666;
	text-align:right;
	line-height:35px;
}
	#layout-content div#layout-tabs ul.main-tabs li {
		margin:0; padding:0;
		display:inline;
		position:relative; bottom:-2px;
		overflow:visible;
	}
	#layout-content div#layout-tabs ul.main-tabs li a {
			margin:0; padding:8px 7px;
			color:#ababab;
			border:none;
			text-transform:capitalize;
		}
		#layout-content div#layout-tabs ul.main-tabs li a:hover {
			color:#dbdbdb; background:url(images/layout/tab-arrow.png) no-repeat bottom center;
		}
		#layout-content div#layout-tabs ul.main-tabs li.selected a {
			padding:8px 7px;
			color:#dbdbdb; background:url(images/layout/tab-arrow.png) no-repeat bottom center;
			border:none; border-bottom:none; font-weight:bold;
		}
