#layout-main div.tabbed_pane { }
	#layout-main div.tabbed_pane ul.tabs {
		margin:3px 0 6px;
	}
		#layout-main div.tabbed_pane ul.tabs li.tab {
			padding:2px 4px 4px;
			color:#666;
			font-size:0.9em;
		}
		#layout-main div.tabbed_pane ul.tabs li.tab:hover,
		#layout-main div.tabbed_pane ul.tabs li.tab.selected {
			padding:2px 4px 6px;
			color:#333; background:url(images/layout/tabbox-arrow.png) no-repeat center bottom;
		}
	#layout-main div.tabbed_pane div.body {
		padding:1px;
		background:#fff;
		border:5px solid #595654;
	}
		#layout-main div.tabbed_pane div.body h4 {
			margin:0 0 10px; padding:10px;
			color:#393634; background:none;
			font-size:1.2em; font-weight:bold;
		}
#layout-main div.tabbed_pane div.body div.g_definitionlist {
	border:none;
}
