#layout-main table {
	color:#333;
	border-collapse:collapse;
}
	#layout-main table tr.header {
		background:#333;
		border:none;
		border-left:1px solid #333;
		border-right:1px solid #333;
	}
		#layout-main table tr.header th {
			padding:5px;
			color:#eee;
			font-size:0.8em; font-weight:bold;
			text-align:left;
			
		}
			#layout-main table tr.header th a {
				margin:-5px; padding:5px;
				display:block;
				color:#dbdbdb; background-position:right center;
			}
			#layout-main table tr.header th a:hover {
				color:#ababab; background-color:#444;
			}
	#layout-main table tr {
		border-bottom:1px solid #cbcbcb;
		border-left:1px solid #cbcbcb;
		border-right:1px solid #cbcbcb;
	}
	#layout-main table tr.g_odd {
		background:#e2e8e6;
	}
		#layout-main table tr td {
			padding:3px;
			font-size:11px;
		}
#layout-main table tr.mylist {
	background:#e6ffe6;
}
#layout-main table tr.g_odd.mylist {
	background:#dcffdc;
}
