a:hover #tooltip {
	padding-top:5px;
	background:none;
	background:url(images/layout/tabbox-arrow.png) no-repeat center top;
	opacity:0.9;
}
a:hover #tooltip span.top,
a:hover #tooltip span.bottom {
	display:none;
}
a:hover #tooltip span.middle {
	margin:0; padding:5px 10px;
	color:#333; background:#fff;
	border:5px solid #595654;
}
