@import "../../common/normalize.css";

/**/

*{
color: inherit;
font-size: inherit;
font-family: inherit;
}

a{
text-decoration: underline;
}

.g_list, .tabs{
text-align: right;
}

.main-tabs li,
.tabs li.tab,
.g_list li{
display: inline;
}

ul.contribution li{
display: block;
text-align: left;
}

#layout-nav{
background: url(images/dc.jpg) top left no-repeat;
padding-top: 160px;
}

#layout-menu{
background: #D9E1E5 url(images/nav.gif) top left;
border-color: #DFEEF7 rgb(207, 222, 231);
border-style: solid;
border-width: 1px;
color: #444444;
height: 41px;
}

#layout-menu li span.tab,
#layout-menu li ul.popup{
font-size: 110%;
color: #456;
display: block;
line-height: 41px;
padding-right: 20px;
padding-left: 20px;
font-family: sans-serif;
}

#layout-menu > li{
float: left;
}

#layout-menu li span.tab{
background: #D9E1E5 url(images/nav.gif);
border-right: 1px solid #AFBEC7;
font-weight: bold;
}

#layout-menu li.alert span.tab{
color: #B00;
}

#layout-menu li span.tab:hover{
background-position: left bottom; color: #234;
}

#layout-menu li ul.popup{
position: absolute;
background-color: #F5F5F5;
border: 1px solid #AFBEC7;
border-top: none;
margin-left: -1px;
padding-top: 10px;
padding-bottom: 10px;
}

#layout-menu li form{
line-height: 41px;
}

#layout-menu a[title^=""] span{
display: none;
}

#layout-menu a[title^=""]:after{
content: attr(title); /*Opera only*/
}

#layout-menu li ul{
display: none;
}

#layout-menu li ul li{
float: none;
display: block;
line-height: normal;
white-space: nowrap;
margin-left: 0;
}

/**/
table table,
h4+table,
.g_section > table,
.g_section > form > table/*,
.search_all .g_definitionlist > table*/{
width: 100%;
}

html{
background: #E6EDF5 url(images/bg.jpg) top left repeat-x;
font-family: "Lucida Sans Unicode", sans-serif;
font-size: 14px;
height: 100%;
}

body{
background-color: white;
margin: 10px auto 10px auto;
padding: 10px 10px 5px 10px;
width: 1024px;
}

body.nonav{
width: auto;
margin: 0;
background-color: transparent;
}

#layout-footer{
text-align: center;
font-size: 80%;
padding-top: 0.5em;
}

h1{
font-family: Tahoma,sans-serif;
font-size: 220%;
margin-top: 0.2em;
}

#layout-tabs{
margin-top: 0.5em;
float: right;
}

h4 span{
font-size: 120%;
font-weight: bold;
color:#666666;
line-height: 2em;
}

td,th{
padding-left: 3px;
}

th{
white-space: nowrap;
padding-right: 1em;
}

a{
text-decoration: none;
}

a:hover {
color:#CC6600;
background-color: #FFDDAA;
}

h1, a, .tabs li {
color: #996633;
}

.selected a,
#layout-footer{
color: #AAAAAA;
}

a.ascending{
text-decoration: underline;
}

a.descending{
text-decoration: overline;
}

.all_watched .name label{
text-decoration: line-through;
}

/**/
.hide{
display: none !important;
}

.image{
float: left;
padding: 1em;
}

div.desc{
clear: left;
background-color: #F5F5F5;
border: 1px solid #E3E4E4;
color: #505050;
padding: 3px 3px 3px 8px;
margin-top: 1em;
}

.main_all .news,
.g_content{
background-color: #FAFAFA;
padding: 6px;
}

.g_section,.g_list,.g_msg, .tabs{
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.tab, #layout-footer, .i_icon span, h4 span:first-child, span a{
cursor: pointer;
-moz-user-select: none;
-user-select: none;
}

#layout-menu .tab, .i_icon span, th{
cursor: default;
}

#layout-footer div{
font-size: 200%;
}

ul.main-tabs li,
ul.tabs li.tab,
ul.g_list li,
li.tab,
tr.header {
border-color: #EEEEEE rgb(238, 238, 238) rgb(238, 238, 238) rgb(193, 202, 211);
border-style: solid;
border-width: 1px 1px 1px 5px;
padding-left: 2px;
font-family: Tahoma,sans-serif;
line-height: 1.6em;
}

#layout-search{
float: right;
margin-top: -33px;
padding-right: 10px;
}

#layout-menu p{
text-align: right;
}

p.action,
tr.action td.submit,
tr.action td.value,
p.mylistadd{
text-align: center;
padding: 1em;
}

textarea{
width: 99%;
}

#menu-user li.user{
display: none;
}

table td{
border-top: 1px solid #EEE;
}

tr.mylist td, tr.good td{
background-color: #F2FFF0;
}

td table{
margin: 1em;
}

input[type="text"], textarea, select{
padding-left: 2px;
/*border: 1px solid orange;*/
}

/*g_msg*/
.g_msg{
padding: 0.1em 0.2em;
border-top: 1px solid #EEE;
border-bottom: 1px solid #EEE;
background-color: white;
}

.g_msg h3{
float: right;
/*margin-right: 0.2em;*/
font-weight: bold;
/*font-family: sans-serif;*/
}

.g_msg.note h3{
color: #8888FF;
}

.g_msg.error h3{
color: #DD5533;
}

.g_msg.warning h3{
color: #FF8800;
}

.g_msg.success h3{
color: #88AA88;
}

.i_award{
padding: 0 0.5em;
}

.i_award + .i_award{
border-left: 1px solid black;
}

/*TEMP*/
/*img{opacity: 0.03}*/
th.award, td.awards{
display: none;
}

pre,div.animerel{
overflow: scroll;
}

td span.icons{ color: gray; float: right; }

dl
{
display: table;
margin: 1px auto 1px auto;
}

dl dt
{
float: left;
clear: left;
}

dl dd
{
margin-left: 10em;
text-align: left;
}

span.date, td.rating{ white-space: nowrap }

span.time, td.rating span{ color: gray; font-size: 76%; vertical-align: top; }

h4.collapsed span:first-child{ text-decoration: line-through }


div.g_info{
margin: 1em 0;
padding: 0.2em 1em;
background-color: white;
border-top: 1px solid #EEE;
border-bottom: 1px solid #EEE;
}
select{font-family: "Lucida Sans Unicode", sans-serif;}
option{padding-left: 12px}
option.section{padding-left: 4px; color: gray}
option.section:after{content:":"}
option[value="delall"]{color: #B11}

/*PAGE SPEC LAY*/
.mylist_menu h4{display:none}
.mylist_menu ul{margin: 0.4em 0}
.mylist_menu ul li{display:inline; border-left: 2px solid #CCC; border-bottom: 1px solid #DDD}

.main_all {background-color: transparent}
.main_all .news{width: 70%;}
.main_all .rightbar{ width:27%; float:right}
.main_all .g_list {text-align: left}

.g_end {clear: both}