table
{
	border-collapse: seperate;
}

img, a
{
	border: none;
}

#layout-main table tr
{
	border: 1px solid #363636;
}

#layout-main table tr.g_odd + tr td,
#layout-main table tr + tr.g_odd td,
#layout-main li.g_odd + li,
#layout-main li + li.g_odd
{
	border-top: 1px solid #dddddd;
	border-bottom: none;
}
#layout-main ul.g_list li,
#layout-main table tr.header + tr td
{
	border: none;
}

#layout-main table tr th.field,
#layout-main table tr td.field,
#layout-main table tr.g_odd + tr td.field,
#layout-main table tr + tr.g_odd td.field,
#layout-main table tr.g_odd + tr td.field,
#layout-main table tr + tr.g_odd td.field
{
	border-top: 1px solid #363636;
}

#layout-menu li.sub-menu
{
	border:1px solid #555555;
	-moz-border-radius: .35em;
	-webkit-border-radius: .35em;
	-moz-border-radius-topleft:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	border-left: none;
	border-width: 1px 2px 1px 0;
}

#layout-menu li ul li a
{
	border: 1px solid #444444;
	border-width: 0 1px;
}

#layout-menu li ul li:first-child a,
#layout-menu li ul li#alert-notif a#newnotifies
{
	border-width: 2px 1px 0 1px;
}

#layout-menu li ul li#alert-notif a
{
	border-width: 0 1px 0 1px;
}

#layout-menu li ul li:last-child a
{
	border-width: 0 1px 2px 1px;
	
}

#layout-main .g_description,
#layout-main .g_image image
{
	border: 1px #98AAB1 dotted;
}

#layout-main .g_image image
{
	padding: 1px;
}

#layout-main .block .g_definitionlist table
{
	/*border: none;*/
	margin: 0;
}

#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top: 2px #006699 double;
}

#layout-main div.anime_all div.episodes tr.heading th
{
	padding: 4px 1px 7px 1px;
	border-bottom: black 2px solid;
}

#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top: black 2px solid;
}

#layout-main div.avatar img
{
	border: 1px solid #cbd6e5;
}

#layout-main h1
{
	border: 2px ridge #dddddd;
}

#layout-tabs + #layout-main,
body.nonav #layout-main div.g_content,
#layout-search div.search,
#tooltip span.top,
#tooltip span.bottom,
#layout-content,
#layout-menu,
#layout-main h1
{
	-moz-border-radius: .75em;
	-webkit-border-radius: .75em;
	-moz-border-radius-topleft:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-bottom-right-radius:0;
}

#layout-tabs + #layout-main
{
	border: 1px solid #999999;
}

#layout-main div.animeatt_all div.bar h4,
#layout-main div.animeatt_all div.bar ul,
#layout-main div.creq_all div.states dl,
#layout-main table,
#layout-main div.userpage_all div.latest ul,
#layout-main div.userpage_all div.g_section.clubs h3 + div,
#layout-main div.g_menu div h4 + ul,
#layout-main div.g_menu div h4 + p,
#layout-main div.latestanimes_anime div.data table,
#layout-main div.main_all div.rightbar h4 + ol,
#layout-main div.profile_all div.pane.general div.body div.pane div,
#layout-main div.profile_all div.passwords form div.anidb,
#layout-main div.profile_all div.passwords form div.g_section,
#layout-main div.profile_all div.tabbed_pane div.default_languages div,
#layout-main div.profile_all div.rdf_jabber div
{
	border: 1px solid #363636;
}

#layout-main div.tabbed_pane div.body
{
	border: 1px solid #999999;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
}

#layout-main ul.links_bottom
{
	border: none;
	border-top: 2px groove #FFFFFF;
}

#tooltip span.top,
#tooltip span.bottom,
#tooltip span.middle
{
	border: 2pt solid #363636;
}

#tooltip span.top
{
	border-bottom: none;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
}

#tooltip span.bottom
{
	border-top: none;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
}

#tooltip span.middle
{
	border-top: none;
	border-bottom: none;
}


#layout-tabs ul li a,
#layout-main div.tabbed_pane ul.tabs li
{
	border: 1px solid #999999;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
}

#layout-tabs ul li a
{
	border-bottom-color: #acacac;
}

#layout-tabs ul li.selected a,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.tabbed_pane div.pane ul.tabs li.selected
{
	border: 1px solid #999999;
	border-bottom-color: #f3f3f3;
	border-top:medium none;
}

#layout-main ul.g_list li.selected,
#layout-main ul.g_list li a
{
	-moz-border-radius:.5em;
	-webkit-border-radius: .5em;
	border:1px solid #999999;
}

table table
{
	border: none;
}
