#layout-main div.forum div.poll div.pollbar,
#layout-main div.forum div.g_bubble.header,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.threads
{
	background-color: #363636;
}

#layout-main div.forum div.g_bubble.options-box *,
#layout-main div.forum div.g_bubble.navbar a,
#layout-main div.forum div.g_bubble.navbar span,
#layout-main div.forum div.g_bubble.search label
{
	color: #dddddd;
}

#layout-main div.forum div.g_bubble.threads
{
	border: 2px ridge #dddddd;
	-moz-border-radius: .75em;
	-webkit-border-radius: .75em;
	-moz-border-radius-topleft:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-bottom-right-radius:0;
}

#layout-main div.forum ul.topiclist,
#layout-main div.forum ul.linklist
{
	background-color: transparent;
}

#layout-main div.forum div.g_bubble.threads
{
	padding-bottom: .5em;
}

#layout-main div.forum div.signature,
#layout-main div.forum div.g_bubble.navbar div.bottom
{
	border-top-color:#dddddd;
}

#layout-main div.forum ul.topics li.row
{
	background-color:#999999;
}

#layout-main div.forum ul.topics li.g_odd.row
{
	background-color:#aaaaaa;
}

/*
#layout-main div.cmt_entries a.username-colored:hover,
#layout-main div.forum a.username-coloured:hover,*/
#layout-main div.forum a.topictitle:hover,
#layout-main div.forum ul.topiclist li
{
	color:#666666;
}

#layout-main div.forum ul.topics
{
	border-left-color:#363636;
	border-right-color:#363636;
}

#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover
{
	background-color:#bbbbbb;
}

#layout-main div.forum a.topictitle/*,
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum a.username-coloured*/
{
	color: #555555;
}

#layout-main div.cmt_entries div.postbody span.actions
{
	padding-right:0;
}

#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.events,
#layout-main div.forum div.g_bubble.header,
#layout-main div.forum div.g_bubble.comment
{
	background:#eeeeee;
	border: 1px solid #555555;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border-width:3px 1px 3px 1px;
}

#layout-main div.cmt_entries dl.profile
{
	border-right:none;
}

#layout-main div.cmt_entries div.postbody p.author
{
	background:#b3b3b3 url(images/tab-3.png) repeat-x scroll 0 -7px;
	margin:0 0 0.5em 0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-topright:.4em;
	-webkit-border-top-right-radius:.4em;
	-moz-border-radius-topleft:.4em;
	-webkit-border-top-left-radius:.4em;
	border-color:#9A9A9A;
	border-style:solid;
	border-width:0 0 1px 1px;
	height:1.2em;
}

#layout-main div.cmt_entries dl.profile + div.postbody p.author
{
	-moz-border-radius-topleft:0em;
	-webkit-border-top-left-radius:0em;
	-moz-border-radius-bottomleft:.7em;
	-webkit-border-bottom-left-radius:.7em;
	margin:0 0 0.5em 16em;
}

#layout-main div.cmt_entries div.postfooter
{
	padding-bottom:0.4em;
	padding-right:0.5em;
}

#layout-main div.forum div.events h2,
#layout-main div.forum div.poll h2
{
	color:#444444;
}

#layout-main div.userpage_all div.blog div.g_timedentry h4
{
	display: block;
}

#layout-main div.forum li.header dt,
#layout-main div.forum li.header dd
{
	margin: .2em 0;
}

#layout-main div.forum div.search form input
{
	vertical-align:middle;
}