/*---------------------------------
			@GENRES
----------------------------------*/

div.genre_list caption {
	display: none;
}
div.genre_list table {
	margin: 1em auto;
}
div.genre_list table td {
	padding-right: 1em;
}
div.genre_list table td[align="right"] {
	padding: 0.4em;
	text-align: center;
	background-color: #f5eef8;
}