body.nonav #layout-main,
body.nonav #layout-footer
{
	width: auto;
	height: 90%;
	margin:0;
}

#layout-nav input,
#layout-nav button
{
	width: 100%;
}


#layout-main table,
#layout-main table caption
{
	margin: 0 auto 0 auto;
}

#layout-nav #user-xkeep input
{
	border: none;
	width: auto;
}

body.nonav
{
	padding: 0;
}
body.nonav #layout-main h1
{
	display: none;
}

.hide
{
	display: none !important;
}

#layout-menu span.tab,
#layout-tabs
{
	display: none;
}

#layout-menu span.tab
{
	position: absolute; /*IE6*/
}

#layout-main h1,
#layout-main .g_section,
#layout-main .g_list,
#layout-main .g_msg,
#layout-main div.addepm div.ep,
#layout-main div.cmt_all div.topic_actions
{
	margin-bottom: 1em;
}

#layout-main table + .g_list
{
	margin-top: 1em;
}

#layout-main .g_end
{
	padding: 0;
	margin: 0;
	clear: right;
	border: none;
}

#layout-main .g_section,
#layout-main .g_list
{
	clear: both;
}

#layout-main .g_list.type
{
	float: left;
}

#layout-main .g_list.limit
{
	float: right;
}

#layout-main div.anime_all div.info tr.official td.value span.icons,
#layout-main div table td.name span.icons,
#layout-main div table td.title span.icons,
#layout-main table.filelist td.source span.icons
{
	float: right;
}

#layout-main .icons .i_icon,
#layout-main div.group_released tr td.languages span.i_icon,
#layout-main div.anime_all div.groups td.languages span.i_icon,
#layout-main div.anime_all div.episodes td.action .i_icon
{
	float: left;
	/*padding: 0px 1px 0px 1px;*/
}

#layout-main td.icons.quality .i_icon
{
	padding: 0px;
}

#layout-main div.ep_all table.filelist,
#layout-main div.ed2kdump_box textarea,
#layout-main div.schedule table
{
	width: 98%;
}


#layout-main div.mylist_list table td.rating.votes span.count
{
	display: none;
}

#obj-tooltip {
	position: absolute;
	left: 0px;
	width: 300px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	font-size: x-small;
}

#obj-pointer {
	position: absolute;
	left: -300px;
  width: 15px;
  height: 13px;
	z-index: 101;
	visibility: hidden;
}

#layout-hint
{
	position: absolute;
	top: 0;
	width: 99.8%;
	border: 1px solid #AFAF00;
	background-color: #FFFFDF;
	text-align: center;
}

/* this is in common/layout/common.css, put it in someother place if it irks you :P */
ul.format-modes {
	list-style: none;
}

ul.format-modes li {
	display: inline;
	padding: 0px 5px 2px 5px;
	border: solid 1px black;
	margin: 2px;
	background-color: rgb(191, 194, 201);
	cursor: pointer;
	/*text-decoration: underline;*/
}

ul.format-modes li.selected, ul.format-modes li:hover {
	background-color: #8492B5;
	text-decoration: none;
}
