body.nonav #layout-main,
body.nonav #layout-footer
{
	width: auto;
	height: 90%;
	margin:0;
}

#layout-nav input
{
	width: 100%;
}

#layout-nav ul
{
	margin-top: 2px;
}
#layout-nav label input
{
	width: auto;
}

body.nonav
{
	padding: 0;
}
body.nonav #layout-main h1
{
	display: none;
}

.hide,
#layout-tabs
{
	display: none;
}

#layout-main h1,
#layout-main div.g_section,
#layout-main div.g_filterlist,
#layout-main ul.g_actionlist,
#layout-main div.g_errorbox,
#layout-main div.g_warnbox,
#layout-main div.g_notebox,
#layout-main div.g_successbox,
#layout-main div.mylist_list ul.g_jumplist,
#layout-main div.addepm div.ep,
#layout-main div.cmt_all div.topic_actions
{
	margin-bottom: 1em;
}

#layout-main div.g_end
{
	padding: 0;
	margin: 0;
	clear: right;
	border: none;
}

#layout-main div.g_section,
#layout-main div.g_filterlist,
#layout-main ul.g_actionlist
{
	clear: both;
}

#layout-main ul.type
{
	float: left;
}

#layout-main ul.g_numonpage
{
	float: right;
}

#layout-main .g_navprev
{
	float: left;
	padding-left: 0.3em;
}

#layout-main .g_navnext
{
	float: right;
	padding-right: 0.3em;
}

#layout-main div.anime_all div.info tr.official td.value div.icons,
#layout-main div table td.title div.icons,
#layout-main table.filelist td.source div.icons
{
	float: right;
}

#layout-main *.icons *.i_icon,
#layout-main div.group_released tr td.languages span.i_icon,
#layout-main div.anime_all div.groups td.languages span.i_icon,
#layout-main div.anime_all div.episodes td.action .i_icon
{
	float: left;
	padding: 0px 1px 0px 1px;
}

#layout-main td.icons.quality *.i_icon
{
	padding: 0px;
}

#layout-main div.anime_all div.episodes table.eplist,
#layout-main div.ep_all table.filelist
{
	width: 98%;
}


#layout-main div.mylist_list table td.rating.votes span.count
{
	display: none;
}

#layout-main div.ed2kdump_box textarea
{
	width: 98%;
}

#layout-main div.schedule table
{
	width: 100%;
}

#obj-tooltip {
	position: absolute;
	left: 0px;
	width: 300px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	font-size: x-small;
}

#obj-pointer {
	position: absolute;
	left: -300px;
  width: 15px;
  height: 13px;
	z-index: 101;
	visibility: hidden;
}

#layout-hint
{
	position: absolute;
	top: 0;
	width: 100%;
	border: 1px solid #AFAF00;
	background-color: #FFFFDF;
	text-align: center;
}
