html, body, div, form, table, tr, td, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, p, caption
{
	padding: 0;
	margin: 0;
	border: none;
	left: 0;
}
table table
{
	width: 100%;
}
td, th
{
	padding: 1px 2px 1px 2px;
}
li
{
	padding: 0px 4px 0px 2px;
}
p, textarea
{
	padding: 4px;
}
input
{
	padding-left: 2px;
}
table, table caption
{
	margin: 0 auto 0 auto;
}
span
{
	display: inline;
}
fieldset
{
	display: none;
}
ul
{
	list-style-type: none;
}
ol
{
	list-style-position: outside;
	margin-left: 2em;
}
dl
{
  display: table;
	margin: 1px auto 1px auto;
}
dl dt
{
	float: left;
	clear: left;
}
dl dd
{
	margin-left: 10em;
	text-align: left;
}