td
{
	/*border-top: 1px #FFFFFF solid;*/
}

table
{
	border: 1px solid #66604d;
	border-spacing: 0;
}

table.filelist tr.newep td{
	border-top: 1px solid #e9e6d9;
}

table table,
#layout-main div.profile_all table
{
	border: none;
}

img, a
{
	border: none;
}

/*ul,*/
#layout-nav,
#layout-footer,
#layout-main,
#layout-tabs ul li a,
#layout-tabs ul li.g_odd a
{
	border: 1px #867f6a solid;
}

#layout-main .g_description,
#layout-main .g_image image,
#layout-main .g_timedentry,
#layout-main .g_definitionlist table,
#layout-main div.desc,
#layout-main div.tabbed_pane ul.tabs li
{
	border: 1px #999380 dotted;
}

#layout-main h1,
#layout-main div.g_timedentry h4
{
	border: 1px #867f6a dotted;
}

#layout-main .g_image image,
#layout-main .g_definitionlist
{
	padding: 1px;
}

#layout-main .block .g_definitionlist table
{
	border: none;
	margin: 0;
}

#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top: 1px #66604d double;
}

#layout-main div.avatar img
{
	border: 1px solid #8c8673;
}