body
{
	color: #555040;
	background-color: #bebcad;
}

a:link,a:active,a:visited
{
	color : #006699;
}

#layout-nav a
{
	color: #4f5e77;
	font-weight: bold;
}

span.link,
a:hover,
#layout-nav a:hover
{
	color : #98b974;
}

#layout-nav
{
	background: #e0dbc9;
}

#layout-menu ul,
#layout-tabs ul li a:hover,
#layout-tabs ul li.selected a,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main,
#layout-footer
{
	background-color: #e9e6d9;
}

#layout-main th a,
#layout-main h1 a,
#layout-main div.g_timedentry h4 a
{
	color: #e9e6d9;
}

th,
#layout-main h1,
#layout-main div.g_timedentry h4,
#layout-main div.tabbed_pane ul.tabs li
{
	color: #e9e6d9;
	background-color: #8c8673;
}

#layout-main div.tabbed_pane ul.tabs li.selected
{
	color: black;
}

#layout-tabs ul li a,
#layout-main tr.g_odd,
#layout-main li.g_odd,
#layout-main span.g_odd,
#layout-main div.desc
{
	background-color: #e0dbc9;
}

#layout-menu ul li a:hover,
#layout-tabs ul li a:hover,
#layout-main div.tabbed_pane ul.tabs li:hover
{
	color: inherit;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-menu ul li:hover
{
	background-color: #e0dbc9;
}

#layout-tabs ul li.selected a,
#layout-tabs ul li.selected a:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover
{
	background-color: #E9E6D9;
}

.g_bubble.stripe,
.g_bubble,
.g_bubble .g_bubble  .g_bubble
{
	background-color: #E9E6D9;
}

.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble,
#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.events,
#layout-main div.forum div.g_bubble.comment,
#layout-main div.main_all .g_bubble
{
	background-color: #E0DBC9;
}

.g_bubble
{
	border: 1px dotted #999380;
}

#layout-main div.main_all div.rightbar h4,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	padding:2px;
	color:#E9E6D9;
	border: 1px dotted #867F6A;
	background-color:#8C8673;
}

#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row:hover,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover,
#layout-main div.main_all div.rightbar h4,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	background-color:#BEBCAD;
}

#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row,
#layout-main div.forum ul.topics li.g_odd.row
{
	background-color:#E0DBC9;
}

#layout-main div.forum ul.topics li.row
{
	background-color:#E9E6D9;
}

#layout-main div.forum li.header dt,
#layout-main div.forum li.header dd
{
	color:#E9E6D9;
}

#layout-main div.forum div.g_bubble.threads
{
	background-color:#8C8673;
}

#layout-main div.forum ul.topics
{
	border-left-color:#8C8673;
	border-right-color:#8C8673;
}