body
{
	color: #555040;
	border-color: #FFFFFF;
	background: #bebcad;
	
	font: x-small/1.4 Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

a:link,a:active,a:visited
{
	color : #006699;
}

#layout-nav a
{
	color: #4f5e77;
	font-weight: bold;
}

a:hover,
#layout-nav a:hover
{
	color : #98b974;
}

#layout-nav
{
	background: #e0dbc9;
}

#layout-nav div ul,
#layout-main,
#layout-footer
{
	background-color: #e9e6d9;
}

#layout-main th a,
#layout-main h1 a,
#layout-main div.g_timedentry h4 a
{
	color: #e9e6d9;
}

th,
#layout-main h1,
#layout-main div.g_timedentry h4
{
	color: #e9e6d9;
	background-color: #8c8673;
}

#layout-main tr.g_odd,
#layout-main li.g_odd,
#layout-main span.g_odd,
#layout-main div.desc
{
	background-color: #e0dbc9;
}

#layout-menu > div > ul > li > a:hover
{
	color: inherit;
}
#layout-menu > div > ul > li:hover
{
	background-color: #e0dbc9;
}