@import "../common/normalize.css";
@import "../common/layout/default.css";
@import "../icons/all.css";
@import "../common/layout/global/timedentry.css";
@import "../common/style/color/forum-default.css";

body.nonav
{
	margin:0;
	width:auto;
}

body
{
	margin:10px auto;
	padding:10px;
	width:1024px;
}

.g_section > form > table,
.g_section > table,
h4+table
{
	width:100%;
}

textarea
{
	width:99%;
}

table table
{
	width:98%;
}

.main_all .news
{
	width:70%;
}

.main_all .rightbar
{
	background-color:#F7F7F2;
	margin-top:7px;
	width:27%;
}

.review .bar
{
	width:10em;
}

.animelist .type,
.main_all .rightbar li,
span.date,
span.user,
td.action,
td.rating,
th
{
	white-space:nowrap;
}

a.filter,
span.time,
span.user a.id,
td.rating span,
tr.mylist td.name a:after
{
	vertical-align:top;
}

a
{
	text-decoration:none;
}

.state.dropped,
h4.collapsed span:first-child
{
	text-decoration:line-through;
}

.g_list,
.tabs
{
	text-align:right;
}

.main_all .g_list,
ul.contribution li
{
	text-align:left;
}

#layout-footer,
.animeatt_all .review .bar .avatar,
.pre_creq,
div.pane p,
p.action,
p.mylistadd,
td.count,
td.rating,
td.type,
tr.action td.submit,
tr.action td.value
{
	text-align:center;
}

.g_content,
.main_all .news
{
	background-color:#FAFAFA;
	padding:6px;
}

#layout-nav
{
	background:url(images/dc.jpg) center -60px no-repeat;
	border-color:#DFEEF7 rgb(207, 222, 231);
	border-width:1px;
	padding:41px 0 0;
}

.image,
div.desc,
p.action,
p.mylistadd,
tr.action td.submit,
tr.action td.value
{
	padding:1em;
}

.g_menu.mylist_menu
{
	background-color:#F5F5F5;
	border:1px solid #AFBEC7;
	margin:-6em -12em 0 0;
	padding:.4em;
}

.g_info,
.g_timedentry .body
{
	padding:.2em 1em;
}

.g_msg
{
	padding:.1em .2em;
}

.i_award
{
	padding:0 .5em;
}

#layout-footer
{
	font-size:80%;
	padding-top:10px;
}

#layout-search
{
	margin-top:-33px;
	padding-right:10px;
}

th
{
	padding-right:1em;
}

option
{
	padding-left:12px;
}

blockquote,
input[type="text"],
li.tab,
option.section,
select,
td,
textarea,
th,
tr.header,
ul.g_list li,
ul.main-tabs li,
ul.tabs li.tab
{
	padding-left:2px;
}

.creq_data,
div.animerel,
pre
{
	overflow:scroll;
}

.main_all .rightbar li
{
	overflow:hidden;
}

pre
{
	max-height:36em;
}

.creq_data
{
	max-height:28em;
}

.main_all .rightbar > *
{
	margin:8px;
}

.g_info
{
	margin:1em 0;
}

td table
{
	margin:1em;
}

.g_timedentry
{
	margin:.5em;
}

.animeatt_all .review .bar
{
	margin:0 0 1em 1em;
}

.animeatt_all .review + .review,
.g_timedentry + .g_timedentry
{
	margin-top:2em;
}

#layout-tabs,
.g_list,
.g_msg,
.g_section,
.tabs
{
	margin-top:.5em;
}

h1
{
	font-size:220%;
	margin-top:.2em;
}

.g_timedentry .stamp
{
	margin-top:-1.2em;
}

.g_list,
.g_msg,
.g_section,
.tabs
{
	margin-bottom:.5em;
}

caption,
h4
{
	color:#666666;
	line-height:2em;
}

li.tab,
tr.header,
ul.g_list li,
ul.main-tabs li,
ul.tabs li.tab
{
	border-color:#EEEEEE;
	border-width:1px 1px 1px 5px;
	line-height:1.6em;
}

span.date,
span.user a.id,
td.id,
td.size
{
	letter-spacing:-1px;
}

html
{
	background:#E6EDF5 url(images/bg.jpg) top left repeat-x;
	font-size:14px;
	height:100%;
}

.g_msg h3,
.state.new
{
	font-weight:bold;
}

.state.stalled
{
	font-style:italic;
}

#layout-footer div
{
	font-size:200%;
}

.g_timedentry h4,
caption,
h4
{
	font-size:130%;
}

a.filter,
span.time,
span.user a.id,
td.rating span
{
	font-size:76%;
}

tr.mylist td.name a:first-child:after
{
	content:" M";
	font-size:60%;
}

.main_all .rightbar li,
h1,
li.tab,
tr.header,
ul.g_list li,
ul.main-tabs li,
ul.tabs li.tab
{
	font-family:Tahoma,
 sans-serif;
}

html,
select
{
	font-family:"Lucida Sans Unicode",
 sans-serif;
}

#layout-search,
#layout-tabs,
.g_menu,
.g_menu.mylist_menu,
.g_msg h3,
.g_timedentry .stamp,
.main_all .rightbar,
.review .bar,
td span.icons
{
	float:right;
}

.image
{
	float:left;
}

.hide
{
	display:none!important;
}

.g_list li,
.main-tabs li,
.tabs li.tab
{
	display:inline;
}

#layout-footer,
.i_icon span,
.tab,
h4 span:first-child,
span a
{
	-moz-user-select:none;
	-user-select:none;
	cursor:pointer;
}

.i_icon span,
th
{
	cursor:default;
}

tr.mylist.all_watched .name a:first-child:after
{
	content:" W";
}

.group_all td.date.added,
.pre_creq,
.state.locked,
a.filter,
option.section,
span.time,
span.user a.id,
td span.icons,
td.rating span,
td.type,
tr.mylist td.name a:after
{
	color:gray;
}

.g_msg.warning h3
{
	color:#FF8800;
}

.g_msg.error h3
{
	color:#DD5533;
}

a:hover
{
	background-color:#FFDDAA;
	color:#CC6600;
}

option[value="delall"]
{
	color:#BB1111;
}

#layout-footer,
.selected a
{
	color:#AAAAAA;
}

.tabs li,
a,
h1
{
	color:#996633;
}

.g_msg.success h3
{
	color:#88AA88;
}

.g_msg.note h3
{
	color:#8888FF;
}

td.count
{
	color:#770000;
}

blockquote
{
	border-left:2px solid lightgray;
	color:#0F0F0F;
}

td.rating
{
	color:#0000AA;
}

.animeatt_all .review,
.g_list
{
	clear:right;
}

.g_section,
div.desc,
.css_style + p
{
	clear:left;
}

.g_end
{
	clear:both;
}

tr.newtype td
{
	border-width:3px;
}

.g_info,
.g_msg,
.g_timedentry .body,
.review h4,
div.desc,
p.action,
p.mylistadd,
td,
tr.action td.submit,
tr.action td.value
{
	border-top:1px solid #EEEEEE;
}

#layout-nav,
li.tab,
tr.header,
ul.g_list li,
ul.main-tabs li,
ul.tabs li.tab
{
	border-style:solid;
}

.i_award + .i_award
{
	border-left:1px solid #000000;
}

.g_info,
.g_msg,
.g_timedentry .body,
div.desc,
p.action,
p.mylistadd,
tr.action td.submit,
tr.action td.value
{
	border-bottom:1px solid #EEEEEE;
}

.main_all .rightbar h4
{
	border-bottom:1px solid #EAEADA;
}

.main_all,
body.nonav
{
	background-color:transparent!important;
}

.g_info,
.g_msg,
.g_timedentry .body,
blockquote,
body,
div.desc,
p.action,
p.mylistadd,
tr.action td.submit,
tr.action td.value
{
	background-color:#FFFFFF;
}

del,
tr.bad
{
	background-color:#FFEAEA;
}

tr.mylist.all_watched td
{
	background-color:#F6F4FF;
}

ins,
tr.good td,
tr.mylist td
{
	background-color:#F2FFF0;
}

#layout-menu > li
{
	background:#D9E1E5 url(images/nav.gif);
	border-right:1px solid #AFBEC7;
	display:block;
	float:left;
	font-weight:bold;
	line-height:41px;
	padding-left:18px;
	padding-right:18px;
}

#layout-menu > li ul
{
	background-color:#F5F5F5;
	border:1px solid #AFBEC7;
	border-top:none;
	display:none;
	font-weight:normal;
	line-height:normal;
	margin-left:-19px;
	padding:4px 0;
	position:absolute;
}

#layout-menu
{
	color:#445566;
	cursor:default;
	font-family:sans-serif;
	font-size:110%;
	height:41px;
}

#layout-menu > li.alert
{
	color:#BB0000;
}

#layout-menu > li:hover
{
	background-position:left bottom;
	color:#223344;
}

#layout-menu a
{
	display:block;
	padding:3px 8px;
}

th.sortable
{
	cursor:pointer;
}

.state.return,
a.ascending,
th.ascending
{
	text-decoration:underline;
}

a.descending,
th.descending
{
	text-decoration:overline;
}

#menu-user li.user,
.file_all dd.group span.time,
.g_timedentry .avatar,
.grouplist span.completion img,
.i_audio,
.i_video,
.main_all .rightbar h3,
td.awards,
th.award,
#layout-menu a[title^=""] span
{
	display:none;
}

ul.contribution li,
#layout-menu > li:hover ul
{
	display:block;
}

.grouplist span.completion:after,
#layout-menu a[title^=""]:after
{
	content:attr(title);
}

#layout-search .rtop,
#layout-search .rbottom,
#layout-search div.search form.random
{
	display:none;
}