#layout-main div.userpage_all div.g_section.favreviewers {
	width:145px;
	border-left:5px solid #393634;
}
	#layout-main div.userpage_all div.g_section.favreviewers p {
		padding:2px 8px 2px 14px;
		border-bottom:1px solid #dbdbdb;
		font-size:0.85em;
	}
