#layout-main div.userpage_all div.g_section ul { }
		#layout-main div.userpage_all div.g_section ul li {
			padding:2px 8px 2px 14px;
			text-transform:capitalize;
			border-bottom:1px solid #dbdbdb;
			font-size:0.85em;
		}
