#layout-main div.userpage_all div.g_section.userprefs {
	margin-left:230px; margin-right:190px;
	border:none;
}
	#layout-main div.userpage_all div.g_section.userprefs div {
		margin:0 0 10px;
		border-left:5px solid #393634;
	}
	#layout-main div.userpage_all div.g_section.userprefs div.signature {
		padding-bottom:10px;
		overflow:hidden;
		border-bottom:1px solid #dbdbdb;
		text-align:center;
	}
		#layout-main div.userpage_all div.g_section.userprefs div.signature h4 {
			margin:0 0 10px;
		}
