/* Creation: 21th January 2007 by Amour */
/* Last update: 18th February 2008 by Amour */

@import "../anidbstyle/anidbstyle.css";

/* *** */
/* News: IE6 only compatibility... */
/* *** */
#layout-content div.main_all div.rightbar
{
	-clear: both;
	-float: right;
	-margin: 0.3em;
	-padding: 0em;
	-width: 20%;
}

#layout-content div.main_all div.news
{
	-clear: left;
	-float: right;
	-margin: 0.3em;
	-padding: 0em;
	-width: 80%;
}

/* *** */
/* News: fix to latest additions display */
/* Unfortunatly, it brokes Firefox */
/* *** */
/*
#layout-content div.main_all div.rightbar li a
{
	float: left;
	margin: 0em;
	width: 11.4em;
}
*/
/* *** */

/* *** */
/* Calendar: fix to titles size */
/* *** */
#layout-content div.latestanimes_anime h3
{
	font-size: 12px;
}

/* *** */
/* Anime List: the year value should display on one line only */
/* MyDbEntries: the date value should display on one line only */
/* *** */
#layout-content td.year,
#layout-content td.date
{
	white-space: nowrap;
}

/* *** */
/* Anime: workaround to image/definition position */
/* *** */
#layout-main div.info div.block
{
	display: block;	/*for FF*/
}

#layout-main div.info div.block div.image
{
	float: left;	/*for IE*/
	padding-bottom: 0px;	/*for IE*/
	width: auto;	/*for FF*/
}

#layout-main div.info div.block div.data,
{
	width: auto;	/*for FF*/
}

/* *** */
/* Profile: workaround to image/definition position */
/* Unfortunatly, it brokes Firefox */
/* *** */
/*
#layout-main div.block div.image
{
	float: left;
	width: auto;
}

#layout-main div.block div.info
{
	float: left;
	width: auto;
}
*/

/* *** */
/* Anime: fix to description position */
/* *** */
#layout-main div.info div.desc
{
	clear: both;
}

/* *** */
/* MyList: fix to page width */
/* *** */
#layout-content ul.g_jumplist
{
	width: auto;
}

#layout-content ul.g_actionlist li,
#layout-content ul.g_jumplist li
{
	font-style: normal;
}

/* *** */
/* MyList & MyPlace: fix to menu */
/* *** */
html #layout-content div.g_menu
{
	float: right;
	height: auto;
	width: auto;
}

/* *** */
/* MyPlace: fix to overlap content */
/* *** */
#layout-content div.stats,
#layout-content div.latest
{
	clear: none;
}

/* *** */
/* Mass add files: fix to dump size */
/* *** */
#layout-content div.addfilem.form div.dump textarea
{
	width: 90%;
	height: 15em;
	white-space: pre;
}
