/* Last update: 29th April 2007 by Amour */
@import "../anidbstyle/anidbstyle.css";

html td, html th
{
	font-size: 10px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

html a.i_inline, html span.i_inline
{
	padding: 0;
	background: none;
}

html .i_inline span
{
	display: inline;
	font-size: 90%
}

#layout-search
{
	position: absolute;
	top: 0px;
	left: 0px;
}

#layout-search form input.submit
{
	margin-right: 15px;
}

#layout-content
{
	margin-top: 103px;
}

#layout-content div.section
{
	width: 99%;
}

#layout-content
{
	margin-left: 182px;
	background-color: transparent;
	width: auto;
	height: auto;
}

#layout-content h1
{
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 4px 0 18px 37px;
}

#layout-content div.genren_all li span
{
	display: inline;
	width: 100%;
}

#layout-content div.latestanimes_anime
{
	padding-left: 0;
}

#layout-content div.latestanimes_anime h3
{
	font-size: 10px;
	font-weight: normal;
}


/* *** */
/* Anime: fix to image position */
/* *** */
#layout-content div.info div.image
{
	float: left;
	padding-bottom: 0px;
	height: auto;
	width: auto;
}

/* *** */
/* Anime: fix to description position */
/* *** */
#layout-content div.info p.desc
{
	clear: both;
}

/* *** */
/* Transitional Hacks: fix to anidbstyle.css */
/* *** */
#layout-content *[align="center"] > *
{
	text-align: center;
}

/* *** */
/* MyPlace: overlap fix */
/* *** */
#layout-content div.stats,
#layout-content div.latest
{
	clear: none;
}

/* *** */
/* MyList: width fix */
/* *** */
#layout-content ul.g_jumplist
{
width: auto;
}

#layout-content ul.g_actionlist li,
#layout-content ul.g_jumplist li
{
font-style: normal;
}

/* *** */
/* MyList: menu fix */
/* *** */
html #layout-content div.g_menu
{
	float: right;
	height: auto;
	width: 150px;
}

/* *** */
/* Mass add files: dump size fix */
/* *** */
#layout-content div.addfilem.form div.dump textarea
{
	width: 90%;
	height: 15em;
	white-space: pre;
}
