<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="trace.xml" traceOutputOptions="DateTime,LogicalOperationStack,ThreadId" />
    </sharedListeners>
    <sources>
      <source name="AVDump2Lib.Acreqing.AniDB">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="AVDump2Lib.Acreqing.ACReq">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="AVDump2CL.CL">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
