/** HaruhiStyleX.AniDB v2
 * Style by: TheJAG
 * Based on Harustyle by b1hn
 */

@import "../common/style/icons/flags.css";

body
{
	font-family:Calibri, "Arial Unicode MS", Arial, Tahoma, Verdana, monospace;
	background-image:url('images/topBack.png');
	background-repeat:repeat-x;
	margin:0px;
	padding:0px;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}

body.nonav
{
	background-image:none;
}

#layout-menu
{
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
}

#layout-menu div.menu
{
	background-image:url('images/menuClean.png');
	background-repeat:no-repeat;
	height:600px;
	width:190px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
}
#layout-menu div.menu:hover
{
	background-image:url('images/menu.png');
}

#layout-menu div.menu ul
{
	visibility:hidden;
	list-style-type:none;
	font-size:14px;
	line-height:15px;
	margin:0px;
	padding:15px 0px 0px 30px;
}

#layout-menu div.menu:hover ul
{
	visibility:visible;
}

#layout-menu div.menu ul.main li.main a
{
	content:'news';
}

#layout-menu div.menu a
{
	color:black;
	text-decoration:none;
	font-weight:bold;
	text-transform:capitalize;
}

#layout-menu div.menu a:hover,
#layout-menu div.menu a:active
{
	color:red;
}

#layout-menu div.usermenu
{
	background-image:url('images/banner.png');
	background-repeat:no-repeat;
	background-position:190px 0px;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100px;
}

#layout-menu div.usermenu p
{
	margin:0px;
	padding:0px;
	z-index:1;
}

#layout-menu div.usermenu p.user
{
	position:absolute;
	top:8px;
	left:205px;
	color:white;
	background-color:transparent;
	/** background-color:transparent
	 * prevents warnings form appearing in W3's css-validator
	 */
	font-weight:bold;
}

#layout-menu div.usermenu p.user:before
{
	content:'Welcome ';
}

#layout-menu div.usermenu a
{
	color:white;
	background-color:transparent;
	/** background-color:transparent
	 * prevents warnings form appearing in W3's css-validator
	 */
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
}

#layout-menu div.usermenu a:hover,
#layout-menu div.usermenu a:active
{
	color:red;
}

#layout-menu div.usermenu a.i_profile
{
	position:absolute;
	top:25px;
	left:340px;
	text-transform:capitalize;
}

#layout-menu div.usermenu a.i_logout
{
	position:absolute;
	top:35px;
	left:340px;
	text-transform:capitalize;
}

#layout-menu div.usermenu a#newnotifies
{
	position:absolute;
	top:45px;
	left:340px;
}

#layout-menu div.usermenu a.history
{
	position:absolute;
	top:55px;
	left:340px;
	content:'History';
}

#layout-menu div.usermenu a#newmessages
{
	position:absolute;
	top:65px;
	left:340px;
}

#layout-search div.search
{
	position:absolute;
	top:0px;
	left:190px;
	height:100px;
	z-index:1;
}

#layout-search div.search input.text
{
	position:absolute;
	top:55px;
	left:20px;
	border-style:none;
	background-color:white;
	color:black;
	height:12px;
	width:100px;
}

#layout-search div.search input.submit
{
	position:absolute;
	top:70px;
	left:60px;
	background-image:none;
	background-color:transparent;
	border:none;
	color:white;
	font-size:12px;
	font-weight:bold;
	content:'Search';
}

#layout-search div.search input.submit:hover,
#layout-search div.search input.submit:active
{
	cursor:pointer;
	color:red;
}

#layout-content
{
	margin-top:100px;
	margin-left:200px;
	margin-right:10px;
	font-size:12px;
}

body.nonav #layout-content
{
	margin:0px;
}

body.nonav #layout-content div.agcmts_all div.agcmts_head
{
	text-align:center;
	background-color:#3496DA;
	font-size:16px;
}

body.nonav #layout-content div.agcmts_all div.agcmts_head p
{
	margin:0px;
}

body.nonav #layout-content div.agcmts_all div.agcmts_entries div.comment h4
{
	background-color:#3496DA;
	font-size:14px;
	margin:0px;
}

body.nonav #layout-content div.agcmts_all div.agcmts_entries div.comment span.stamp
{
	float:right;
}

body.nonav #layout-content div.agcmts_all div.agcmts_entries div.comment p
{
	margin-top:16px;
}

body.nonav #layout-content div.agcmts_add h4
{
	background-color:#3496DA;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	margin:0px;
	padding:0px;
	color:white;
}

body.nonav #layout-content div.agcmts_add textarea
{
	width:300px;
	height:200px;
}

body.nonav #layout-content hr
{
	display:none;
}

#layout-content a
{
	color:black;
	text-decoration:none;
	font-weight:bold;
}

#layout-content a:hover,
#layout-content a:active
{
	color:red;
}

#layout-content h1
{
	font-size:24px;
	color:white;
	background-color:#3496DA;
	margin:0px;
	padding:0px;
	text-align:center;
}

#layout-content div.rightbar
{
	position:absolute;
	top:600px;
	left:10px;
	float:right;
	width:180px;
	font-size:12px;
	color:white;
	background-color:transparent;
	/** background-color:transparent
	 * prevents warnings form appearing in W3's css-validator
	 */
}

#layout-content div.rightbar h4
{
	background-color:#3496DA;
	font-weight:bold;
	text-align:center;
	margin:0px;
	padding:0px;
}

#layout-content div.rightbar h3
{
	background-color:#3496DA;
	font-weight:bold;
	text-align:center;
	margin:20px 0px 0px 0px;
	padding:0px;
	font-size:16px;
}

#layout-content div.rightbar p
{
	background-color:#AAD8E6;
	text-align:center;
	margin:0px;
	padding:0px;
}

#layout-content div.rightbar ol
{
	margin:0px 0px 10px 0px;
	padding:0px;
}

#layout-content div.rightbar li
{
	margin:0;
	padding:0px;
	width:180px;
	list-style-type:none;
	color:black;
}

#layout-content div.rightbar li.g_odd
{
	background-color:#AAD8E6;
}

#layout-content div.rightbar a
{
	color:black;
	font-weight:bold;
	text-decoration:none;
}

#layout-content div.rightbar a:hover,
#layout-content div.rightbar a:active
{
	color:red;
}

#layout-content div.news h4
{
	background-color:#3496DA;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	margin:0px;
	padding:0px;
	color:white;
}

#layout-content div.news span.stamp
{
	float:right;
	font-size:12px;
	padding-right:5px;
}

#layout-content div.news span.stamp a
{
	color:black;
	font-weight:bold;
	text-decoration:none;
}

#layout-content div.news span.stamp a:hover,
#layout-content div.news span.stamp a:active
{
	color:red;
}

#layout-content div.news div
{
	margin:0px 0px 20px 0px;
	padding:14px 5px 5px 5px;
	font-size:12px;
}

#layout-content div.news div a
{
	color:black;
	font-weight:bold;
	text-decoration:none;
}

#layout-content div.news div a:hover,
#layout-content div.news div a:active
{
	color:red;
}

#layout-content div.search_all div.search_form fieldset
{
	display:none;
}

#layout-content div.search_all div.search_form div.search table
{
	margin:auto;
	width:100%;
	border-spacing:0px;
}

#layout-content div.search_all div.search_form div.search caption
{
	background-color:#3496DA;
	color:white;
	font-weight:bold;
	font-size:16px;
}

#layout-content div.search_all div.search_form div.search th
{
	text-align:left;
}

#layout-content div.search_all div.search_form div.search tr.g_odd
{
	background-color:#AAD8E6;
}

#layout-content div.search_all div.search_form div.search tr.genres i
{
	font-size:12px;
}

#layout-content div.search_all div.search_form div.search tr.action
{
	text-align:center
}

#layout-content div.search_all ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;
	text-align:center;
	background-color:#AAD8E6;
	text-transform:capitalize;
}

#layout-content div.search_all a
{
	color:black;
	text-decoration:none;
	font-weight:bold;
}

#layout-content div.search_all a:hover,
#layout-content div.search_all a:active
{
	color:red;
}

#layout-footer
{
	font-size:12px;
	text-align:center;
}

#layout-footer p
{
	margin:0px;
	padding:0px;
}

#layout-footer:after
{
	content:'HaruhiStyleX by TheJAG. (Based on Harustyle by b1hn.)';
}
