@import "../harustyle/harustyle.css";

html
{
background-color: #FFFFFF;
background-image: url('images/menubg.jpg');
background-position: 0px 697px;
background-repeat:repeat-y;
}

#layout-content,
#layout-footer
{
	margin-left: 190px;
	padding: 1em;
}

#layout-content h1, .g_content
{
	margin-bottom: 1.1em;
}

#layout-menu
{
width: 189px;
background: url('images/menu.png') no-repeat top left;
}

#layout-search div.search
{
background: url(images/banner.png) no-repeat top left;
height: 94px;	
}

#layout-search
{
background url(images/topback.png) repeat-x top;
height: 94px;
}

#layout-search div.search form
{
background: url(images/searchbg.png) no-repeat 0px 77px;
height: 72px;
}

#user-logout a
{
background-image: url(images/button_logout.gif);
}

#user-profile a
{
background-image: url(images/button_profile.gif);
}

#layout-search form input.submit
{
background-image: url(images/button_search.gif);
}

#layout-search div.search
{
height: 94px;	
}

#layout-search form input.submit
{
margin-top: 2px;
}

#layout-footer:after
{
content: "HaruhiStyleX by TheJAG (Based on HaruStyle by b1nh)"
}

#layout-content div.myplace_all div.latest
{
margin-right: 22em;
}

