#layout-content div.g_msg
{
	background-color: #FFFFFF;
}

#layout-content div.g_msg.error
{
	border-left: 3px solid #FF0000;
}
#layout-content div.g_msg.warning
{
	border-left: 3px solid #FF9E2C;
	color: #FF9E2C;
}
#layout-content div.g_msg.warning p
{
	color: #FF9E2C;
}
#layout-content div.g_msg.success p
{
	color: #9CCD17;
}
#layout-content div.g_msg.note
{
	border-left: 3px solid #46C5FF;
	color: #46C5FF;
}
#layout-content div.g_note
{
	border-left: 3px solid #46C5FF;
	color: #46C5FF;
}
#layout-content div.g_successbox
{
	border-left: 3px solid #9CCD17;
	color: #9CCD17;
}

#layout-content div.g_msg.error h3
{
	color: #FF0000;
}
#layout-content div.g_msg.warning h3
{
	color: #FF9E2C;
}
#layout-content div.g_msg.note h3
{
	color: #46C5FF;
}
#layout-content div.g_successbox h3
{
	color: #9CCD17;
}