
/* Default center is probably too zealous... */
#layout-content div.ep_info table
{
	margin-left: 0;
}

#layout-content div.ep_info th:after
{
	content: ": ";
}

#layout-content div.ep_info tr.anime > *,
#layout-content div.ep_info tr.misc > *,
#layout-content div.ep_info tr.desc > *
{
	padding-bottom: 2.3em;
}

#layout-content div.ep_vote form
{
	margin-bottom: 0.5em;
}

#layout-content div.ep_vote form *
{
	margin: 0;
}

#layout-content div.ep_vote form label
{
	display: block;
}