#layout-content div.group_released td.state.complete,
#layout-content div.group_released td.state.finished
{
	font-weight: bold;
}

#layout-content div.group_released td.state.stalled
{
	font-style: italic;
}

#layout-content div.group_released td.count
{
	text-align: right;
}

#layout-content div.group_vote,
#layout-content div.group_released td.state,
#layout-content div.group_released td.rating
{
	text-align: center;
}