
#layout-content div.dbstats_all
{
	padding-left: 9.6em;
	padding-right: 8em;
}

#layout-content div.dbstats_all div.stat
{
	float: left;
	margin: 0.3em 0.1em 0.1em 0.3em;
	border: 2px #BFC2CA ridge;
	width: 20em;
}

#layout-content div.dbstats_all div.actions
{
	clear: left;
	text-align: center;
}

#layout-content div.dbstats_all h3
{
	clear: left;
	font-size: 100%;
	text-align: center;
}

#layout-content div.dbstats_all h4
{
	background-color: #494D59;
	color: #bbbbbb;
	font-weight: normal;
	font-size: 100%;
	margin: 0;
	text-align: center;
	padding: 0.3em;
}

#layout-content div.dbstats_all div.stat ol
{
	margin: 0;
	padding: 0;
}

#layout-content div.dbstats_all div.stat li
{
	list-style: none;
	text-align: left;
}

#layout-content div.dbstats_all div.stat li span
{
	display: block;
	float: left;
	height: 100%;
	width: 5.2em;
	text-align: right;
	white-space: nowrap;
}

#layout-content div.dbstats_all div.stat li a
{
	display: block;
	margin-left: 6.8em;	
}
