
/*#layout-content div.anime_info div.block
{
	display: table;
	margin-top: 6px;
	padding-right: 6px;
}

#layout-content div.anime_info div.image
{
	display: table-cell;
	vertical-align: middle;
	border: 1px solid;
	border-color: #E8E9EC #717377 #717377 #E8E9EC;
	padding: 2px;
}
*/
#layout-content div.anime_info div.image img
{
	border: 1px solid;
	border-color: #717377 #E8E9EC #E8E9EC #717377;
	padding: 1px;
}
/*
#layout-content div.anime_info div.data
{
	display: table-cell;
	vertical-align: middle;
	padding-left: 7px;
}

#layout-content div.anime_info div.data dt
{
	margin-top: 0.36em;
	margin-bottom: -1.2em;
	margin-right: 10em;
}

#layout-content div.anime_info div.data dt:after
{
	content: ": ";
}

#layout-content div.anime_info div.data dd
{
	min-height: 1.3em;
	overflow: hidden;
	margin-left: 100px; *//*this is reeeally bad*//*
}
*/
#layout-content div.ep_info div.info table
{
	margin-left: auto;
	margin-right: auto;
}
#layout-content div.ep_files h4,
#layout-content div.ep_vote p
{
	text-align: center;
}

#layout-content div.anime_info div.data dd.anirec
{
	overflow: visible;
}

#layout-content div.anime_info div.data dd.anirec a.i_help
{
	padding: 7px 8px 7px 12px;
}

#layout-content div.anime_vote form
{
	margin-bottom: 0.5em;
}

#layout-content div.anime_vote form *
{
	margin: 0;
}

#layout-content div.anime_vote form label
{
	display: block;
}

#layout-content div.anime_info p.desc
{
	margin: 0.7em 0.3em 0.3em 0.3em;
}

#layout-content div.anime_vote form.permvote
{
	margin: 1.1em 0 1.1em 0;
}

#layout-content div.anime_vote form.tempvote
{
	width: 50%;
	margin: 1.1em 0.6em 1.1em 0;
	float: left;
}

#layout-content div.anime_vote form.tempvote div
{
	padding-right: 6px;
	float: right;
}

#layout-content div.anime_mylist
{
	clear: left;
}

#layout-content div.anime_mylist th,
#layout-content div.anime_group th
{
	font-weight: normal;
	background-color: #b0b0b0;
}

#layout-content div.anime_mylist th.heading,
#layout-content div.anime_group th.info
{
	font-weight: bold;
	padding: 0.1em 0.9em 0.1em 0.9em;
}

#layout-content div.anime_mylist th.anime
{
	width: 300px;
	text-align: left;
}

#layout-content div.anime_mylist td.eps,
#layout-content div.anime_mylist td.seen
{
	padding: 0.1em 0.9em 0.1em 0.9em;
	text-align: center;
}

#layout-content div.anime_vote td
{
	white-space: nowrap;
}
#layout-content div.anime_group th.group
{
	text-align: left;
}

#layout-content div.anime_group td
{
	text-align: center;
}

#layout-content div.anime_group td.lastep,
#layout-content div.anime_group td.cmts
{
	text-align: right;
}

#layout-content div.anime_group td.group,
#layout-content div.anime_group td.lastupdate
{
	text-align: left;
}

#layout-content div.anime_group td.lastupdate.new,
#layout-content div.anime_group td.state.complete,
#layout-content div.anime_group td.state.finished
{
	font-weight: bold;
}

#layout-content div.anime_group td.state.unknown
{
	content: "N/A";
}

#layout-content div.anime_group td.state.stalled
{
	font-style: italic;
}

#layout-content div.anime_table table
{
	width: 100%;
}

#layout-content div.anime_table th
{
	font-weight: normal;
	text-align: left;
}

#layout-content div.anime_table td
{
	height: 1.6em;
	padding: 0.1em 0.1em 0.1em 0.1em;
	vertical-align: middle;
}

#layout-content div.anime_table table.eplist
{
	padding: 0;
	margin-bottom: 15px;
}

#layout-content div.anime_table table.filelist
{
	padding: 2px 3px 15px 57px;
}

#layout-content div.anime_table tr.heading th
{
	padding: 4px 1px 7px 1px;
	border-bottom: black 2px solid;
}

#layout-content div.anime_table tr.newtype td
{
	padding: 4px 1px 7px 1px;
	border-top: black 2px solid;
}

#layout-content div.anime_table tr.good td
{
	background-color: #6fc279;
}

#layout-content div.anime_table tr.deprecated td
{
	background-color: #999999;
}

#layout-content div.anime_table tr.genr td
{
	background-color: #eeeeee;
}

#layout-content div.anime_table td.epusers,
#layout-content div.anime_table td.files
{
	text-align: right;
}

#layout-content div.anime_table th.expand,
#layout-content div.anime_table td.expand,
#layout-content div.anime_table td.check,
#layout-content div.anime_table td.ed2k,
#layout-content div.anime_table td.fileaction
{
	text-align: center; /* Not actually much use, doesn't center block images */
}

#layout-content div.anime_table td.stat .i_icon
{
	float: left;
}

#layout-content div.anime_table td.stat .i_crc_yes
{
	margin-left: 3px;
}

#layout-content div.anime_table td.qual .i_icon
{
	margin-left: 0;
}

#layout-content div.anime_mylist td.title div,
#layout-content div.anime_table td.title div
{
	float: right;
}


#layout-content div.ep_files table.filelist td .icoco .i_icon,
#layout-content div.anime_group table.grouplist tr td.languages span.i_icon,
#layout-content div.anime_mylist td div.icoco span.i_icon,
#layout-content div.anime_table td div.icoco span.i_icon
{
	float: left;
	padding: 0px 2px 0px 2px;
}

#layout-content div.anime_table div.actions
{
	text-align: center;
	margin: auto;
}

#layout-content div.anime_edit
{
	text-align: center;
}

#layout-content div.anime_edit div
{
	padding-left: 19%;
	padding-right: 19%;
	margin-top: 1.2em;
}

#layout-content div.anime_awards
{
	text-align: center;
}

#layout-content div.anime_group td.mylist
{
	font-weight: bold;
	text-align: center;
}

#layout-content div.anime_group td.mylist.new
{
	color: red;
}

#layout-content div.anime_group td.mylist:before
{
	content: "* ";
}

#layout-content div.anime_group td.mylist:after
{
	content: " *";
}

#layout-content div.mylist_list tr.complete td.stats
{
 	font-weight: bold;
}

#layout-content div.ed2kdump_box
{
	text-align: center;
}

#layout-content div.anime_all a.action:before
{
	content: "[";
}

#layout-content div.anime_all a.action:after
{
	content: "]";
}

#layout-content div.anime_all span.i_icon
{
	float: right;
}

/* fahrenheit */
#layout-content div.anime_table table.eplist .eidFileTable_load {
  text-align: center;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  background: #FFFFFF url(images/loading.gif) no-repeat right;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}

#layout-content div.anime_table table.eplist .eidFileTable {
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  background: #FFFFFF;
  color: #000000;
}

#layout-content div.anime.filter a.i_plus,
#layout-content div.anime_table table.filelist td.ftype .i_icon,
#layout-content div.anime_table td.ed2k .i_icon,
#layout-content div.anime_table td.stat .i_icon,
#layout-content div.anime_table td.action.file .i_icon
{
	padding-left: 5px;
	float: left;
}
#layout-content div.anime_table td.action.file
{
	width: 60px;
}