#layout-menu
{
	position: absolute;
	top: 94px;
	left: 0;
	width: 142px;
	height: 700px;
	padding: 51px 0px 0px 28px;
	background: transparent url(../anidbstyle/images/menuback.png) no-repeat top left;
}

#menu-account,
#menu-login
{
	position: absolute;
	top: 520px;
	left: 8px;
	line-height: 2;
}

#menu-mod
{
	position: absolute;
	top: 700px;
	left: 23px;
	padding: 4px;
	background-color: #1a2238;
	border: 1px inset #AEAEAE;
}

#layout-menu ul
{
	line-height: 1.2;
	width: 96px;
	margin-bottom: 10px;
}

#layout-menu li.mynotifies, #layout-menu li.mywishlist,
#layout-menu li.myreviews, #layout-menu li.mydbentries,
#layout-menu li.mycreqs, #layout-menu li.up2date
{
	display: none;
}

#layout-menu ul.main, #layout-menu li.ed2kdump, #layout-menu ul.lists
{
	margin-bottom: 1.0em;
}

#layout-menu li.help
{
	margin-bottom: 2px;
	text-indent: 15px;
	background: url(../icons/orange/ask2.gif) left no-repeat;
}

#layout-menu li.forum a
{
	font-weight: bold;
}

#layout-search
{
	background: transparent url(../anidbstyle/images/backlame.png) repeat-x top;
	width: 100%;
}

#layout-search div.search
{
	background: transparent url(../anidbstyle/images/anidb01toosimple.png) no-repeat top left;
	height: 94px;
}

#layout-search div.search form
{
	background: transparent url(../anidbstyle/images/searchback.png) no-repeat top right;
	position: absolute;
	top: 77px;
	left: auto;
	right: 0;
	-right: -1px;
	width: 250px;
	height: 57px;
}

#layout-search div.search form p
{
	margin-top: 12px;
	margin-left: 32px;
}

#layout-search div.search form p select
{
	display:block !important;
	float: left;
	font-size:10px;
}

#layout-search div.search form input.text
{
	width:90px;
	float: right;
	margin-right: 5px;
}

#layout-search div.search form input.submit
{
	background: url(../icons/orange/button_search.gif) no-repeat top;
	padding: 20px 0 0 0;
	width: 63px;
	height: 14px;
	border: 0;
	cursor: pointer;
	margin-top: 2px;
	text-indent: -9999px;
}

#layout-content
{
	margin-left: 182px;
	padding-top: 0.5em;
}

#layout-tabs + #layout-main
{
	padding-top: 2em;
}

#layout-main h1
{
	margin: 3px 0 18px 37px;
	text-align: left;
}

#layout-footer
{
	margin-top: 19px;
	margin-left: 182px;
	text-align: center;
}

#layout-main div.anime_all div.mylist th.anime
{
	width: 300px;
}

#layout-tabs
{
	position: absolute;
	right: 260px;
	left: 180px;
	top: 92px;
}

#layout-tabs ul li,
#layout-main div.tabbed_pane ul.tabs li
{
	display: inline;
}

#layout-tabs ul
{
	margin-top: 1.4em;
	margin-left: 2em;
}

#layout-tabs ul li
{
	padding:0px 0px 4px;
	position: relative;
	text-align: left;
	width: auto;
	float:left;
	white-space: nowrap;
	margin-left:0.2em;
}

#layout-tabs ul li a
{
	padding:0px 8px 3px 8px;
}

#layout-main div.userpage_all > div.g_section > h4
{
	padding: 0.3em;
}