#layout-main div.anime_all div.g_section.info div.tabbed_pane div.body {
	padding:10px;
}
#layout-main div.anime_all div.g_section.info div.data {
	width:50%;
}
#layout-main div.anime_all div.g_section.info div.image {
	margin-top:25px; margin-right:0;
	width:49%;
	float:right;
	text-align:left;
}
	#layout-main div.anime_all div.g_section.info div.image img {
		border:5px solid #595654;
	}
#layout-main div.block + div.desc {
	margin:0;
	width:50%;
}