*.i_filestate_corrupted { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_corrupted.gif'); }
*.i_filestate_edited { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_edited.gif'); }
*.i_filestate_ondvd { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_ondvd.gif'); }
*.i_filestate_ontv { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_ontv.gif'); }
*.i_filestate_onvhs { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_onvhs.gif'); }
*.i_filestate_other { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_other.gif'); }
*.i_filestate_selfripped { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_selfripped.gif'); }
*.i_filestate_theater { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_theater.gif'); }
