*.i_uncensored { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_uncensored.gif'); }
*.i_vrs_1 { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_1.gif'); }
*.i_vrs_2 { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_2.gif'); }
*.i_vrs_3 { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_3.gif'); }
*.i_vrs_4 { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_4.gif'); }
*.i_vrs_5 { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_5.gif'); }
*.i_ask { background-image: url('http://www.anidb.net/css/anidbstyle/images/ask.gif'); }
*.i_back { background-image: url('http://www.anidb.net/css/anidbstyle/images/back.gif'); }
*.i_logon { background-image: url('http://www.anidb.net/css/anidbstyle/images/button_logon.gif'); }
*.i_punkt { background-image: url('http://www.anidb.net/css/anidbstyle/images/button_punkt.gif'); }
*.i_signup { background-image: url('http://www.anidb.net/css/anidbstyle/images/button_signup.gif'); }
*.i_suchen { background-image: url('http://www.anidb.net/css/anidbstyle/images/button_suchen.gif'); }
*.i_down1 { background-image: url('http://www.anidb.net/css/anidbstyle/images/down1.gif'); width: 9px; height: 10px }
*.i_empty { background-image: url('http://www.anidb.net/css/anidbstyle/images/empty.gif'); }
*.i_invalid { background-image: url('http://www.anidb.net/css/anidbstyle/images/invalid.gif'); }
*.i_minus { background-image: url('http://www.anidb.net/css/anidbstyle/images/minus.gif'); }
*.i_na { background-image: url('http://www.anidb.net/css/anidbstyle/images/na.gif'); }
*.i_nodown1 { background-image: url('http://www.anidb.net/css/anidbstyle/images/nodown1.gif'); width: 9px; height: 10px }
*.i_none { background-image: url('http://www.anidb.net/css/anidbstyle/images/none.gif'); }
*.i_nopic { background-image: url('http://www.anidb.net/css/anidbstyle/images/nopic.gif'); }
*.i_noup1 { background-image: url('http://www.anidb.net/css/anidbstyle/images/noup1.gif'); width: 9px; height: 10px }
*.i_plus { background-image: url('http://www.anidb.net/css/anidbstyle/images/plus.gif'); }
*.i_up1 { background-image: url('http://www.anidb.net/css/anidbstyle/images/up1.gif'); width: 9px; height: 10px }
*.i_help { background: url('http://www.anidb.net/css/anidbstyle/images/ask2.gif') no-repeat right; cursor: help }
