*.i_censored { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_censored.gif'); }
*.i_comment { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_comment.gif'); }
*.i_crc_no { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_crc_no.gif'); }
*.i_crc_yes { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_crc_yes.gif'); }
*.i_file_add { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_add.gif'); }
*.i_file_addmylist { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_addmylist.gif'); }
*.i_file_delete { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_delete.gif'); }
*.i_file_ed2k { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_ed2k.gif'); }
*.i_file_edit { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_edit.gif'); }
*.i_file_removemylist { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_removemylist.gif'); }
