*.i_greenbar { background-image: url('http://www.anidb.net/css/anidbstyle/images/anidb_greenbar.gif'); }
*.i_greenbarh { background-image: url('http://www.anidb.net/css/anidbstyle/images/anidb_greenbarh.gif'); }
*.i_hanger { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_hanger.gif'); }
*.i_mylist { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_mylist.gif'); }
*.i_new2 { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_new2.gif'); }
*.i_new_icon { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_new_icon.gif'); }
*.i_no_rev { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_no_rev.gif'); }
*.i_no_vote { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_no_vote.gif'); }
*.i_nonotify { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_nonotify.gif'); }
*.i_notify { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_notify.gif'); }
*.i_orangebar { background-image: url('http://www.anidb.net/css/anidbstyle/images/anidb_orangebar.gif'); }
*.i_pri_high { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_pri_high.gif'); }
*.i_pri_low { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_pri_low.gif'); }
*.i_pri_med { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_pri_med.gif'); }
*.i_rate_corrupted { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_corrupted.gif'); }
*.i_rate_eyecancer { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_eyecancer.gif'); }
*.i_rate_unknown { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_unknown.gif'); }
*.i_recap { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_recap.gif'); }
*.i_rev { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_rev.gif'); }
*.i_seen { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_seen.gif'); }
*.i_seen_no { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_seen_no.gif'); }
*.i_seen_yes { background-image: url('http://www.anidb.net/css/anidbstyle/images/icon/anidb_seen_yes.gif'); }
*.i_state_all { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_state_all.gif'); }
*.i_state_deleted { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_state_deleted.gif'); }
*.i_state_mixed { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_state_mixed.gif'); }
*.i_state_oncd { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_state_oncd.gif'); }
*.i_state_onhdd { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_state_onhdd.gif'); }
*.i_state_release { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_state_release.gif'); }
*.i_state_shared { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_state_shared.gif'); }
*.i_state_unknown { background-image: url('http://www.anidb.net/css/anidbstyle/images/state/anidb_state_unknown.gif'); }
