table
{
	border-collapse: separate;
}

table table
{
	border: none;
}

img, a
{
	border: none;
}

#layout-main .g_list,
#layout-main .g_description,
#layout-main .g_image image,
#layout-main div.main_all div.news h4,
#layout-main div.g_definitionlist table
{
	border: 1px #98AAB1 dotted;
}

#layout-main .g_image image,
#layout-main .g_definitionlist
{
	padding: 1px;
}

#layout-main .block .g_definitionlist table
{
	border: none;
	margin: 0;
}

#layout-main div.anime_all table.stafflist + table.stafflist,
#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top: 2px #006699 double;
}

#layout-main div.anime_all div.episodes tr.heading th
{
	padding: 4px 1px 7px 1px;
	border-bottom: black 2px solid;
}

#layout-main div.avatar img
{
	border: 1px solid #cbd6e5;
}

#layout-tabs + #layout-main
{
	border-top: 1px dotted #98AAB1;
}

#layout-main div.tabbed_pane div.body,
#layout-tabs ul li a,
#layout-main div.tabbed_pane ul.tabs li
{
	border: 1px dotted #98AAB1;
}

#layout-tabs ul li.selected a,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	border-bottom: 1px #F2F3EE double;
}

#layout-tabs ul li a:hover,
#layout-main div.tabbed_pane ul.tabs li:hover
{
	border-bottom: 1px #F2F3EE double;
}

#layout-main div.anime_all div.info div.caststaff div.cast table,
#layout-main div.anime_all div.info div.caststaff div.staff table
{
	border: none;
}

#layout-main div.anime_all div.info div.caststaff div.cast,
#layout-main div.anime_all div.info div.caststaff div.staff
{
	border:1px dotted #98AAB1;
}

#layout-search div.g_bubble.search
{
	background-color: transparent;
	border:none;
}