html
{
	color: #2E3C55;
	border-color: #FFFFFF;
	background: #f2f3ee;
}

a
{
	text-decoration: none;
	color: #4e4f47;
	cursor: pointer;
}

a:hover
{
	text-decoration: underline;
}

a.i_icon:hover, a.i_inline:hover
{
	text-decoration: none;
}

#layout-main a:active
{
	color: red;
}

#layout-nav
{
	background: #a9aca3;
}

#layout-menu
{
	color: black;
}

th,
#layout-main div.main_all div.news h4,
#layout-main div.main_all div.rightbar h4,
#layout-main div.cmt_all div.comment h4
{
	color: black;
	background-color: #a9aca3;
}

#layout-main tr.g_odd,
#layout-main li.g_odd,
#layout-main span.g_odd
{
	background-color: #dcddd9;
}
