#layout-menu
{
	margin-top: 9.5em;
	padding-left:1.1em;
	padding-top: 0;
}

#layout-content
{
	margin-top:0;
}

#layout-search div.search
{
	width:100%;
	height: 94px;
	margin-left:-1.5em;
	margin-top:0;
}

#layout-search
{
	height: 94px;
	margin-left:0;
	width:100%;
}

#layout-tabs
{
	margin:8.7em 0.3em;
}

#layout-tabs ul
{
	margin-top:0;
	margin-bottom:0;
}

#layout-tabs ul li
{
	line-height:15px;
}

#layout-nav
{
	height:0;
	padding-bottom: 0;
}

#layout-search input.submit
{
	width:80px;
}

#layout-nav div.search a.advsearch
{
	margin-top:-2em;
	margin-left:84em;
	position:relative;
	top:0;
	left:0;
	width:83px;
}

#layout-main div.filter_menu span.actions.old input
{
	margin-top:3px;
}
#layout-hint + #layout-nav + #layout-content #layout-tabs
{
	margin:10.1em 0.3em;
}

#layout-hint + #layout-nav #layout-menu
{
	margin-top: 9.5em;
}

#layout-nav input.submit
{
	padding:3px 5px;
}

#layout-search div.search form
{
	padding-left:41.5em;
	padding-top:3em;
	width:auto;
}

span.test,
button,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
input[type="button"],
input[type="submit"]
{
	padding:3px;
}

#layout-menu li.sub-menu ul li#user-xname,
#layout-menu li.sub-menu ul li#user-xpass
{
	padding-bottom: 0.2em;
}

#layout-menu li.sub-menu ul li.alert
{
	clear:right;
}

#layout-menu li.sub-menu ul li#user-profile a,
#layout-menu li.sub-menu ul li#user-logout a,
#layout-menu li.sub-menu ul li#user-signup a,
#layout-menu li.sub-menu ul li#user-xauth button
{
	height:12px;
	display:block;
}

#layout-menu li.sub-menu ul li#user-profile span,
#layout-menu li.sub-menu ul li#user-logout span,
#layout-menu li.sub-menu ul li#user-xauth button span,
#layout-menu li.sub-menu ul li#user-signup a span
{
	display: none;
}

#layout-menu li.sub-menu ul li#user-profile,
#layout-menu li.sub-menu ul li#user-signup
{
	height:12px;
	width:42px;
	margin:3px 10px 3px 8px;
	padding:0;
}

#layout-menu li.sub-menu ul li#user-logout,
#layout-menu li.sub-menu ul li#user-xauth
{
	height:12px;
	width:42px;
	margin:-15px 2px 3px 58px;
	padding:0;
}

#layout-main div.main_all div.news p.comment
{
	margin:-2.3em 0 0;
}

#layout-main div.news h4
{
	padding:6px;
}

#layout-main div.avatar img,
#layout-main div.anime_all div.info div.image img,
#layout-main .g_image image,
#layout-main .g_definitionlist,
#layout-main div.g_content
{
	padding:1px;
}

#layout-main .block .g_definitionlist table
{
	margin:0;
}

#layout-menu li.sub-menu ul li#user-logout
{
	padding-bottom: 0.4em;
}

#layout-menu li.sub-menu ul li#user-profile,
#layout-menu li.sub-menu ul li#user-signup
{
	margin-top:7px;
}

#layout-menu li.sub-menu ul li#user-profile a,
#layout-menu li.sub-menu ul li#user-logout a
{
	padding:0;
}

#layout-main div.g_menu.filter_menu div.settings input[type="text"]
{
	margin-bottom: 2px;
}

#layout-nav li.user-xname input,
#layout-nav li.user-xpass input,
#layout-nav li.user-xkeep label
{
	margin: 0 8px;
}

#layout-nav li.user-xname input,
#layout-nav li.user-xpass input
{
	width: 90px;
}