#layout-menu li.sub-menu ul li#user-xpass input,
#layout-menu li.sub-menu ul li#user-xname input
{
	font-size:11px;
}

#layout-menu li.sub-menu ul li#user-signup a,
#layout-menu li.sub-menu ul li#user-xauth button
{
	cursor:pointer;
}

span.link,
a:visited,
a:active,
a:link
{
	text-decoration:none;
}