@import "../sub/common.css";
@import "../anigoogle/anigoogle-layout.css";
@import "../anigoogle/anigoogle-text.css";
@import "../anigoogle/anigoogle-border.css";
@import "../anigoogle-menu/anigoogle-menu-layout.css";
@import "../anigoogle-menu/anigoogle-menu-text.css";
@import "../anigoogle-menu/anigoogle-menu-border.css";
@import "../common/style/color/status-pastel.css";
@import "anidbstyle2-layout.css"
@import "anidbstyle2-border.css";
@import "anidbstyle2-color.css";
@import "anidbstyle2-text.css";
@import "anidbstyle2-icons.css";

#layout-footer:after
{
	content:"design by deridiot inspired by anidbstyle";
}