#layout-main table.eplist tr.files.episode td
{
	border-bottom:1px solid gray;
}

#layout-main div.anime_all table.stafflist + table.stafflist,
#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top:1px double black;
}

#layout-tabs ul.main-tabs li
{
	border-left:1px solid #B4BAC0;
	border-right:1px solid #B4BAC0;
	border-top:1px solid #B4BAC0;
}

#layout-tabs ul.main-tabs li.selected,
#layout-tabs ul.main-tabs li:hover
{
	border-bottom:1px double #9A9CA1;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	border-bottom:1px double #9A9CA1;
}

#layout-main div.pagination span strong,
#layout-main div.pagination span a,
#layout-main div.pagination span a:hover
{
	border:1px solid #777777;
}

#layout-main div.tabbed_pane ul.tabs li
{
	border:1px solid #B4BAC0;
}

#layout-nav
{
	border:none;
}

#layout-menu li.sub-menu ul
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #EEEEEE;
}

#layout-menu li.sub-menu ul li:first-child:hover
{
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
}

#layout-menu li.sub-menu ul li:last-child:hover
{
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
}

input[type="submit"],
input[type="button"],
button,
#layout-main div.g_menu.filter_menu div.settings input[type="text"],
#layout-main div.g_menu.filter_menu div.settings select
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #34394D;
}
