#layout-menu
{
	margin-top: 9.5em;
	padding-top: 0;
}

#layout-content
{
	margin-top: -10.5em;
}

#layout-search div.search
{
	margin-top: 0;
}

#layout-search div.search,
#layout-search
{
	height: 94px;
	margin-left: 0;
	width: 100%;
}

#layout-tabs
{
	margin: 8.3em 0.3em;
}

#layout-nav
{
	height: 10.5em;
	padding-bottom: 0;
}

#layout-nav div.search a.advsearch
{
	position: relative;
	top: 0;
	left: 0;
	width: 83px;
	margin-left: 0;
	margin-top: 0.5em;
	float: right;
	margin-right: 0.8em;
}

#layout-hint + #layout-nav + #layout-content #layout-tabs
{
	margin: 9.7em 0.3em;
}

#layout-hint + #layout-nav #layout-menu
{
	margin-top: 9.5em;
}

#layout-search div.search form
{
	padding-left: 0;
	padding-top: 3em;
	text-align: right;
	margin-right: 1em;
	width: auto;
}

#layout-menu li.sub-menu ul li#user-xname,
#layout-menu li.sub-menu ul li#user-xpass
{
	padding-bottom: 0.2em;
}

#layout-menu li.sub-menu ul li.alert
{
	clear: right;
}

#layout-menu li.sub-menu ul li#user-profile a,
#layout-menu li.sub-menu ul li#user-logout a,
#layout-menu li.sub-menu ul li#user-signup a,
#layout-menu li.sub-menu ul li#user-xauth button
{
	height: 12px;
	display: block;
}

#layout-menu li.sub-menu ul li#user-profile span,
#layout-menu li.sub-menu ul li#user-logout span,
#layout-menu li.sub-menu ul li#user-xauth button span,
#layout-menu li.sub-menu ul li#user-signup a span
{
	display: none;
}

#layout-menu li.sub-menu ul li#user-profile,
#layout-menu li.sub-menu ul li#user-signup
{
	height: 12px;
	width: 42px;
	margin: 3px 10px 3px 8px;
	padding: 0;
}

#layout-menu li.sub-menu ul li#user-logout,
#layout-menu li.sub-menu ul li#user-xauth
{
	height: 12px;
	width: 42px;
	margin: -16px 2px 3px 58px;
	padding: 0;
}

#layout-menu li.sub-menu ul li#user-logout
{
	padding-bottom: 0.4em;
}

#layout-menu li.sub-menu ul li#user-profile,
#layout-menu li.sub-menu ul li#user-signup
{
	margin-top: 7px;
}

#layout-menu li.sub-menu ul li#user-profile a,
#layout-menu li.sub-menu ul li#user-logout a
{
	padding: 0;
}

#layout-nav li.user-xname input,
#layout-nav li.user-xpass input,
#layout-nav li.user-xkeep label
{
	margin: 0 8px;
}

#layout-nav li.user-xname input,
#layout-nav li.user-xpass input
{
	width: 90px;
}

#layout-main div.main_all div.login input[type="text"],
#layout-main div.main_all div.login input[type="password"]
{
	padding: 2px;
	width: 8.5em;
}
