#layout-main div.anime_all table.stafflist + table.stafflist,
#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top:1px double #34394D;
}

#layout-tabs ul.main-tabs li.selected,
#layout-tabs ul.main-tabs li:hover
{
	border-bottom:1px double #CFD1D4;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	border-bottom:1px double #C3C5C9;
}

#layout-nav
{
	border:none;
}

#layout-menu li.sub-menu ul li:first-child:hover
{
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
}

#layout-menu li.sub-menu ul li:last-child:hover
{
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
}

input[type="submit"],
input[type="button"],
button,
#layout-main div.g_menu.filter_menu div.settings input[type="text"],
#layout-main div.g_menu.filter_menu div.settings select
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid;
}

#layout-menu li.sub-menu ul li + li
{
	border-top:1px solid #454959;
}

#layout-main > h1,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.news h4,
#layout-main div.g_timedentry h4,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.userpage_all > div.g_section > h4
{
	border: 1px solid;
}