#imgHelp {
  display: none;
}

#imgProfile {
  background-image: url(images/button_profile.gif);
  width: 42px;
  height: 12px;
}

#imgLogout {
  background-image: url(images/button_logout.gif);
  width: 42px;
  height: 12px;
}