div#navmenu {
  font-size: 10px;
  color: #bbbbbb;
}

div#navmenu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div#navmenu ul li.emptyListnode {
  display: none;
}

div#navmenu ul li a {
  color: #4E4F47;
  text-decoration: none;
}

img#imgProfile {
  display: none;
}

img#imgLogout {
  display: none;
}

div#loginButtons {
  text-align: center;
  padding-right: 20px;
}

div#loginInfo a {
  color: #4E4F47;
  text-decoration: none;
}
