#layout-menu li.sub-menu
{
	height:20px;
}

#layout-menu #menu-account
{
	background:none;
	border:none;
	display:none;
	height:auto;
	left:auto;
	margin:0;
	padding-left:0;
	position:static;
	right:auto;
	text-align:inherit;
	top:auto;
	width:auto;
}

#layout-search
{
	background:transparent url(images/layout/bg-login.png) no-repeat right top;
	border:none;
	left:auto;
	margin:0;
	padding:110px 0 0 200px;
	position:absolute;
	right:1em;
	text-align:right;
	top:0;
	width:35em;
}