@import "../zakura/zakura.css";
@import "layout-macro.css";
@import "style-usermenu.css";

body.nonav
{
	margin:0;
	width:auto;
}

textarea
{
	width:99%;
}

table table
{
	width:98%;
}

.main_all .rightbar
{
	background-color:#F7F7F2;
	margin-top:7px;
	width:27%;
}

.review .bar
{
	width:10em;
}

.animelist .type,.main_all .rightbar li,span.date,span.user,td.action,td.rating,th
{
	white-space:nowrap;
}

a.filter,span.time,span.user a.id,td.rating span,tr.mylist td.name a:after
{
	vertical-align:top;
}

a
{
	text-decoration:none;
}

.state.dropped,h4.collapsed span:first-child
{
	text-decoration:line-through;
}

.g_list,.tabs
{
	text-align:right;
}

.main_all .g_list,ul.contribution li
{
	text-align:left;
}

#layout-footer,.animeatt_all .review .bar .avatar,.pre_creq,div.pane p,p.action,p.mylistadd,td.count,td.rating,td.type,tr.action td.submit,tr.action td.value
{
	text-align:center;
}

.g_content,.main_all .news
{
	padding:6px;
}

.g_menu.mylist_menu
{
	background-color:#F5F5F5;
	border:1px solid #AFBEC7;
	margin-left:1em;
	padding:.4em;
}

.g_info,.g_timedentry .body
{
	padding:.2em 1em;
}

.g_msg
{
	padding:.1em .2em;
}

.i_award
{
	padding:0 .5em;
}

#layout-footer
{
	font-size:80%;
	padding-top:10px;
}

th
{
	padding-right:1em;
}

option
{
	padding-left:12px;
}

blockquote,input[type="text"],li.tab,option.section,select,td,textarea,th,tr.header,ul.g_list li,ul.main-tabs li,ul.tabs li.tab
{
	padding-left:2px;
}

.creq_data,div.animerel,pre
{
	overflow:scroll;
}

.main_all .rightbar li
{
	overflow:hidden;
}

pre
{
	max-height:36em;
}

.creq_data
{
	max-height:28em;
}

.main_all .rightbar > *
{
	margin:8px;
}

.g_info
{
	margin:1em 0;
}

td table
{
	margin:1em;
}

.animeatt_all .review .bar
{
	margin:0 0 1em 1em;
}

.animeatt_all .review + .review,.g_timedentry + .g_timedentry
{
	margin-top:2em;
}

h1
{
	font-size:220%;
	margin-top:.2em;
}

.g_list,.g_msg,.g_section,.tabs
{
	margin-bottom:.5em;
}

caption,h4
{
	color:#666;
	line-height:2em;
}

li.tab,tr.header,ul.g_list li,ul.main-tabs li,ul.tabs li.tab
{
	line-height:1.6em;
}

span.date,span.user a.id,td.id,td.size
{
	letter-spacing:-1px;
}

.g_msg h3,.state.new
{
	font-weight:700;
}

#layout-footer div
{
	font-size:200%;
}

.g_timedentry h4,caption,h4
{
	font-size:130%;
}

a.filter,span.time,span.user a.id,td.rating span
{
	font-size:76%;
}

tr.mylist td.name a:first-child:after
{
	content:" M";
	font-size:60%;
}

.hide
{
	display:none!important;
}

.g_list li,.main-tabs li,.tabs li.tab
{
	display:inline;
}

#layout-footer,.i_icon span,.tab,h4 span:first-child,span a
{
	-moz-user-select:none;
	-user-select:none;
	cursor:pointer;
}

.i_icon span,th
{
	cursor:default;
}

tr.mylist.all_watched .name a:first-child:after
{
	content:" W";
}

.group_all td.date.added,.pre_creq,.state.locked,a.filter,option.section,span.time,span.user a.id,td span.icons,td.rating span,td.type,tr.mylist td.name a:after
{
	color:gray;
}

.g_msg.warning h3
{
	color:#F80;
}

.g_msg.error h3
{
	color:#D53;
}

a:hover
{
	background-color:#FDA;
	color:#C60;
}

option[value="delall"]
{
	color:#B11;
}

#layout-footer,.selected a
{
	color:#AAA;
}

.tabs li,a,h1
{
	color:#963;
}

.g_msg.success h3
{
	color:#8A8;
}

.g_msg.note h3
{
	color:#88F;
}

td.count
{
	color:#700;
}

blockquote
{
	border-left:2px solid lightgray;
	color:#0F0F0F;
}

td.rating
{
	color:#00A;
}

.animeatt_all .review,.g_list
{
	clear:right;
}

.g_section,div.desc,.css_style + p
{
	clear:left;
}

.g_end
{
	clear:both;
}

tr.newtype td
{
	border-width:3px;
}

.g_info,.g_msg,.g_timedentry .body,.review h4,div.desc,0
p.action,p.mylistadd,td,tr.action td.submit,tr.action td.value
{
	border-top:1px solid #EEE;
}

.i_award + .i_award
{
	border-left:1px solid #000;
}

.g_info,.g_msg,.g_timedentry .body,div.desc,p.action,p.mylistadd,tr.action td.submit,tr.action td.value
{
	border-bottom:1px solid #EEE;
}

.main_all .rightbar h4
{
	border-bottom:1px solid #EAEADA;
}

.g_info,.g_msg,blockquote,body,div.desc,p.action,p.mylistadd,tr.action td.submit,tr.action td.value
{
	background-color:#FFF;
}

del
{
	background-color:#FFEAEA;
}

ins,tr.good td,tr.mylist td
{
	background-color:#F2FFF0;
}

#layout-menu > li
{
	background-attachement:scroll;
	background-color:transparent;
	background-image:url(images/layout/stripe-pink2.gif);
	border:1px solid #eec6dc;
	color:#de4799;
	display:block;
	float:left;
	font-weight:700;
	line-height:20px;
	padding-left:18px;
	padding-right:18px;
	padding-top:-20px;
}

#layout-menu > li ul
{
	border:1px solid #AFBEC7;
	border-top:0;
	display:none;
	font-weight:400;
	line-height:normal;
	margin-left:-19px;
	margin-top:20px;
	padding:0;
	position:absolute;
}

#layout-menu > li.alert
{
	color:#B00;
}

#layout-menu a
{
	display:block;
	padding:3px 8px;
}

#layout-menu a[title^=""] span
{
	display:none;
}

#layout-menu a[title^=""]:after
{
	content:attr(title);
}

th.sortable
{
	cursor:pointer;
}

#layout-content
{
	margin-left:1em;
	padding-top:20px;
}

#layout-menu span.tab
{
	display:inline;
	float:right;
}

#layout-tabs,.tabs
{
	color:#de4799;
	font-weight:700;
	margin-bottom:-4.5em;
	margin-top:3em;
	padding-left:18px;
	padding-right:18px;
}

#layout-tabs ul.main-tabs li
{
	background-color:#de4799;
	border:1px solid transparent;
	border-color:#f3e7ff #f3e7ff #f3e7ff #dec9f2;
	color:#FFF;
	line-height:1.6em;
	padding:4px 4px 2px;
	text-transform:capitalize;
}

#layout-tabs ul li a.selected,#layout-tabs ul.main-tabs li.selected a
{
	background-color:transparent;
}

#layout-tabs ul li a.selected,#layout-tabs ul.main-tabs li a
{
	color:#FFF;
}

#layout-tabs ul.main-tabs li a:hover,#layout-tabs ul.main-tabs li:hover,#layout-tabs ul.main-tabs li.selected,#layout-tabs ul.main-tabs li.selected a
{
	background-color:#96337b;
	color:#FFF;
}

#layout-main h1
{
	padding-bottom:1em;
}

.state.return,a.ascending,th.ascending
{
	text-decoration:underline;
}

a.descending,th.descending
{
	text-decoration:overline;
}

ul.contribution li,#layout-menu > li:hover ul,#layout-tabs
{
	display:block;
}

#layout-menu li:hover #menu-account
{
	background:#FFF none repeat scroll 0 0;
	display:block;
}

#layout-menu li #menu-account
{
	border-color:0 #AFBEC7 #afbec7;
	border-style:none solid solid;
	border-width:0 1px 1px;
	margin-top:1.7em;
}

#layout-menu li #menu-account li
{
	border-bottom:1px solid #FFECF5;
}