html
{
	background: #FFFFFF url(../harustyle/images/menubg.jpg) repeat-y left;
}

body.nonav
{
	background: #BFC2C9;
}

#layout-content
{
	margin-left: 182px;
	margin-top: -640px;
}

body > #layout-content
{
	margin-top: 0;
}

#layout-content h1
{
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

#layout-content div.g_section
{
	padding-top: 10px;
	clear: both;
}

#layout-footer
{
	margin-top: 19px;
	margin-left: 182px;
	text-align: center;
}

#menu-account
{
	position: absolute;
	top: 510px;
	left: 17px;
	line-height: 1.2;
}

#menu-mod
{
	display: none;
}

#layout-menu ul
{
	width: 96px;
	line-height: 1.1;
	margin-bottom: 0.6em;
}

#layout-menu li
{
	padding: 0;
	text-indent: 0;
}

#layout-menu li.mymessages, #layout-menu li.mynotifies, #layout-menu li.mywishlist,
#layout-menu li.myvotes, #layout-menu li.myreviews, #layout-menu li.mydbentries,
#layout-menu li.mycreqs, #layout-menu li.up2date
{
	display: none;
}

#layout-menu li.genre, #layout-menu li.genren
{
	display: inline;
}

#layout-menu li.forum
{
	font-weight: bold;
}

#menu-account li
{
	text-align: center;
}

#user-profile,
#user-logout
{
	float: right;
	margin: 3px;
}

#user-profile a,
#user-logout a
{
	display: block;
	width: 42px;
	height: 12px;
}

#user-profile a span,
#user-logout a span
{
	display: none;
}

#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	content: "!";
	color: red;
	padding: 0.2em;
}

#layout-menu #newmessages
{
	display: block;
}

#layout-search
{
	position: absolute;
	top: 0;
	right: 0;
}

#layout-search select
{
	display: none;
}

#layout-search div.search form
{
	display: block;
	float: right;
	margin: 0;
	height: 70px;
	width: 152px;
	padding: 70px 0 0 0;
}

#layout-search div.search form p
{
	margin: 0;
	padding: 0;
}

#layout-search form input.text
{
	display: block;
	float: right;
	font-size: 10px;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #272D43;
	border: #BFC2C9 1px solid;
	margin: 27px 3px 0 0;
	width: 90%;
}

#layout-search form input.submit
{
	padding: 20px 0 0 0;
	margin-left: 50px;
	overflow: hidden;
	width: 63px;
	height: 14px;
	border: 0;
	cursor: pointer;
}