/* Geass Mode 0.1a
 * by antennen
 */

/* Import common files */
@import "../sub/common.css";

/* Import global elements */
@import "./global/all.css";

/* Import basic layout */
@import "./layout/all.css";

/* Import pages */
@import "./pages/all.css";

/* Basic settings */
html, body {
	color:#333;
	font:normal 90% Arial, Verdana, sans-serif;
	text-align:left;
}
body {
	background:#1d1d1d url(./images/layout/header-cloud.png) repeat-x 250px 25px;
}

/* No background when navigation is not present */
body.nonav {
	background:#1d1d1d none;
}
