/*---------------------------------
				@ADDGROUP
----------------------------------*/

div.addgroup_all div.group_add table {
	margin: 0 auto;
}
div.addgroup_all div.group_add td.action {
	text-align: center;
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	padding: 0.5em;
}
