/*---------------------------------
				@ADD TO ANIME
	- add/del category
	- add tags
	- add a producer
	- add title
	- add genre
----------------------------------*/

/* add category */
div.addgenren_list table {
	width: 100%;
}
div.addgenren_form caption {
	display: none;
}
div.addgenren_form table {
	margin: 0 auto;
	border: 1px solid #EBE1EF;
}
div.addgenren_form table tr.action td,
div.addgenren_form table td.action {
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	text-align: center;
}

/* anime tags */
div.animetag_list table {
	width: 100%;
}
div.animetag_add {
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	border: 1px solid #565AB9;
}

/* add a producer */
div.addaproducer_all caption {
	display: none;
}
div.aproducer_entries table {
	width: 100%;
}
div.aproducer_add form {
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	border: 1px solid #EBE1EF;
	text-align: center;
	padding: 1em;
}

/* add title */
div.addanimetitle_list table {
	width: 100%;
}
div.addanimetitle_form form {
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	border: 1px solid #EBE1EF;
	text-align: center;
	padding: 1em;
}
div.addanimetitle_all table tr.yes {
	background-color: #E9FFD8;
}
div.addanimetitle_all table td.verified.yes {
	color:#4B9B39;
	font-weight:bold;
}

/* add genre */
div.addgenre_list table {
	width: 100%;
}

/* add sequel */
div.addseq_form form {
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	border: 1px solid #EBE1EF;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
}
div.addseq_form div.explanation dl {
	margin-left: 2em;
}

div.addseq_form div.explanation dt {
	font-weight:bold;
	clear:left;
	float:left;
	text-align: left;
}
div.addseq_form div.explanation dd {
	margin-left: 15em;
	text-align: left;
	margin-bottom: 0.3em;
}

/* mass add/edit eps */
div.addepm form div {
	margin: 0 auto;
}
div.addepm form p {
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	border: 1px solid #EBE1EF;
	text-align: center;
	padding: 1em;
}
div.addepm form div.ep p {
	background: none;
	border: none;
	text-align: left;
	padding: 0.3em;
}

/* mass add files */
div.addfilem form dt {
	font-weight:bold;
	clear:left;
	float:left;
	text-align: left;
}
div.addfilem form dd {
	margin-left: 10em;
	text-align: left;
	margin-bottom: 0.3em;
}

/* edit anime */
div.addanime_all div.anime_add form table {
	width: 100%;
}
div.addanime_all div.anime_add form table td.action {
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	text-align: center;
	padding: 1em;
}

/* anime export */
div.ed2kexport_all pre {
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}