body
{
	background: #f8f7ff url(images/layout/bg-content.gif) repeat left top;
}

body.nonav #layout-main {
	margin: 0 1em 1em 1em;
	padding: 0;
	background: transparent;
}

body.nonav form textarea {
	width: 99%;
}

#layout-nav {
	background: #fff url(images/layout/bg-header.gif) repeat-x left top;
	height: 166px;
	/*width: 100%;
	position: absolute;*/
}

#layout-menu {
	background: transparent url(images/layout/header.jpg) no-repeat left top;
	padding-top: 164px;
	padding-left: 12px;
}

#layout-menu li.sub-menu{
	width: 108px;
}

#layout-content, #layout-footer {
	margin-left: 132px;
	margin-right: 1em;
}

#layout-content{
	/* margin-top: 160px; */
	border-top: 1px solid #f8f7ff;
	background-color: #f8f7ff;
}

#layout-menu #menu-account {
	background: transparent url(images/layout/bg-login.png) no-repeat right top;
	margin: 0;
	position: absolute;
	top: 0;
	right: 1em;
	left: auto;
	padding-left: 200px;
	height: 102px;
	width: 56px;
	border: none;
	text-align: right;
	display: table;
}

#layout-search {
	position: absolute;
	top: 0;
	left: auto;
	right: 1em;
	width: 40em;
	margin-top: 110px;
	padding: 0;
}

#layout-search div.search p{
	text-align: right;
	font-size: 10pt;
}

#layout-search input.text {
	padding: 0.1em 0.3em;
	height: 1.5em;
	width: 16em;

}

#layout-search select,
#layout-search input.text
{
	border: 1px solid #eed0da;
	color: #1e2495;
}
#layout-search select:hover,
#layout-search input.text:hover
{
	border: 1px solid #dc9abf
}

#layout-search input.submit {
	height: 1.8em;
	padding-bottom: 0.2em;
	width: 4.5em;
}

#layout-footer p {
	font-size: 0.8em;
	text-align: center;
	color: #85809f;
	padding: 2em 0;
}

#layout-footer p:after {
	content: ". Design by zakness.";
}

/*rounded borders for stuff*/
h4,
*.g_button a,
*.g_msg,
div.quotebody,
div.spoiler,
#layout-main h1,
#layout-main div.tagcloud,
#layout-main div.catcloud,
#layout-main ul.g_list li,
#layout-main div.forum div.postbody dl.codebox,
#layout-main .latest_all .g_list.filter li,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.g_timedentry div.body,
#layout-main div.animeatt_reviews div.review div.text,
#layout-main div.tabbed_pane div.body,
#layout-main div.anime_all div.info div.caststaff div.cast,
#layout-main div.anime_all div.info div.caststaff div.staff,
#layout-main div.pagination span a,
#layout-main div.pagination span strong,
#layout-search input.text,
#layout-search input.submit,
span.test,
button,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
#layout-search select,
#layout-main div.format-buttons input,
#layout-main div.format-buttons select,
#layout-menu li.sub-menu ul,
.g_list.links,
.g_content,
div.main_all div.rightbar,
table
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#layout-main div.userpage_all div.blog div.g_timedentry h4
{
	-moz-border-radius:0 10px 0 0;
	-webkit-border-radius:0 10px 0 0;
	border-radius:0 10px 0 0;
	border-top:none;
}

#layout-main div.anime_all div.info div.caststaff div h4,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs > li,
#layout-main div.main_all div.rightbar h4
{
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}