/*---------------------------------
			@LOGIN
----------------------------------*/

div.login_all form>b, div.login_all form>br {
	display: none;
}
div.login_all table {
	margin: 0 auto;
	border:1px solid #E1D9F5;
}
div.login_all .g_section caption {
	width: 100%;
	text-align: center;
}
div.login_all td[colspan="2"] {
	text-align: center;
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	padding: 0.7em;
} 
