body {
	margin: 0;
	width: 100%;
	font: 9pt Verdana,Arial,Helvetica,sans-serif;
	line-height: 1.5;
	color: #3d3e6e;
	background: #f8f7ff url(images/layout/bg-content.gif) repeat left top;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1, h2, h3, h4 {
	margin: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

a img, :link img, :visited img {
	border: 0;
}

#layout-main h1 {
	font: bold 1.8em "Century Gothic", "Lucida Grande", sans-serif;
	margin: 0 0 0.3em 0.5em;
	color: #494a9c;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	text-align: left;
}

h4, caption {
	color: #7762ed;
	font: 1.4em "Century Gothic", "Lucida Grande", sans-serif;
	margin-bottom: 0.3em;
	text-align: left;
}

.s_small {
	font-size: 0.9em;
}

abbr {
	cursor: help;
}