#layout-menu #menu-account {
	width: auto;;
}

#layout-menu #menu-account li {
	display: table-cell;
	border-bottom: none;
	-display: block;
	-float: right;
}

#layout-menu #menu-account li a{
	display: table-cell;
	height: 102px;
	vertical-align: bottom;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: bold;
	padding: 4px;
	border-bottom: none;
}

#layout-menu #user-name a span {
	text-transform: none;
	color: black;
}

#layout-menu #user-profile a,
#layout-menu #user-profile a:link,
#layout-menu #user-profile a:visited {
	text-decoration: none;
	color: #be518c;
	background: transparent url(images/layout/trans-pink.png) repeat left top;
	border-left: 1px solid #e7c7d5;
	font-weight: bold;
}

#layout-menu #user-profile a:hover,
#layout-menu #user-profile a:active {
	background: transparent url(images/layout/stripe-pink.png) repeat left top;
	color: #a93373;
}

#layout-menu #user-logout a,
#layout-menu #user-logout a:link,
#layout-menu #user-logout a:visited {
	background: transparent url(images/layout/trans-blue.png) repeat left top;
	border-left: 1px solid #e7c7d5;
	border-right: 1px solid #e7c7d5;
	color: #4a63e1;
}

#layout-menu #user-logout a:hover,
#layout-menu #user-logout a:active {
	background: transparent url(images/layout/stripe-blue.png) repeat left top;
	color: #2d42af;
}

#menu-account .alert a,
#menu-account .alert a:link,
#menu-account .alert a:visited {
	color: #fd0576;
	font-weight: bold;
	margin-left: 0.5em;
	background: transparent url(images/layout/trans-white.png) repeat left top;
	border-left: 1px solid #e7c7d5;
}

#menu-account .alert a:hover,
#menu-account .alert a:active {
	color: #ff00c6;
	background: transparent url(images/layout/stripe-white.png) repeat left top;
}

#menu-account .alert a.history,
#menu-account .alert a.history:link,
#menu-account .alert a.history:visited,
#menu-account .alert a.nextnotify,
#menu-account .alert a.nextnotify:link,
#menu-account .alert a.nextnotify:visited {
	color: #ed95bd;
	border: 0;
	background: transparent url(images/layout/trans-white.png) repeat left top;
}

#menu-account .alert a.history:hover,
#menu-account .alert a.history:active,
#menu-account .alert a.nextnotify:hover,
#menu-account .alert a.nextnotify:active  {
	color: #fd0576;
}