.g_content
{
	background:#fff;
	border:1px solid #f3e7ff;
	border-bottom-color:#dec9f2;
	border-right-color:#dec9f2;
}

div.g_content>*
{
	margin:1em;
}

div.latestanimes_anime:after,
div.anime_all div.info .block:after,
div.search_all div.search_results ul.g_list:after,
div.file_all div.file_info dl:after,
div.mylist_list form:after,
div.userpage_all div.stats:after,
div.userpage_all div.charts:after,
div.animeatt_all div.animeatt_reviews div.review:after,
div.agcmts_all div.agcmts_head:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.g_list
{
	text-align:center;
}

.g_list li
{
	color:#de4799;
	display:inline;
	text-transform:capitalize;
}

.g_content ul.g_list.jump li a,
.g_content ul.g_list.jump li a:link,
.g_content ul.g_list.jump li a:visited
{
	background:#fff9fb;
	border:1px solid #f7edf1;
	border-bottom:1px solid #d28cb2;
	color:#d28cb2;
	font-size:.95em;
	font-weight:normal;
	padding:.2em .3em;
	text-decoration:none;
}

.g_content ul.g_list.jump li a:hover,
.g_content ul.g_list.jump li a:active
{
	background:transparent url(images/layout/stripe-pink2.gif) repeat left top;
	border:1px solid #eec6dc;
	color:#de4799;
}

.g_list li.prev
{
	background:transparent url(images/layout/larr.gif) no-repeat left center;
	float:left;
	font-weight:normal;
	padding-left:12px;
}

.g_list li.next
{
	background:transparent url(images/layout/rarr.gif) no-repeat right center;
	float:right;
	font-weight:normal;
	padding-right:12px;
}

.g_list li.all:before
{
	color:#3d3e6e;
	content:"Viewing: ";
	font-weight:normal;
	text-transform:none;
}

.g_menu
{
	float:right;
	text-transform:capitalize;
	width:11em;
}

.g_menu h4
{
	font-weight:normal;
	padding:0 .15em;
}

.g_menu ul li
{
	border-top:1px solid #ebe1ef;
	padding:.3em;
	position:relative;
}

select
{
	background:#fafafa;
	border:1px solid #cfd0d1;
	padding:.2em;
}

select option
{
	background:#e0ecfd;
	color:#3d3e6e;
}

select option[value="0"]
{
	color:#B14C7C;
}

input[type="submit"],
input[type="button"]
{
	background-color:#586fd1;
	border:1px solid #2d42af;
	color:#fff;
	cursor:pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover
{
	background-color:#2d42af;
}

.g_msg.note,
.g_note
{
	background:#faf0ff;
	border:1px solid #dfc8ec;
	color:#4d2f5f;
	padding:.7em;
}

.g_msg.error,
.g_msg.warning
{
	background:#ffeafc;
	border:1px solid #ffcbf8;
	color:#ac0d72;
	padding:.7em;
}

.g_info
{
	background:#fcfcfc;
	border:1px solid #e0e0e0;
	clear:both;
	color:#777;
	padding:.7em;
}

.g_msg.note h3,
.g_note h3,
.g_msg.error h3,
.g_info h3,
.g_msg.warning
{
	margin:0 0 -.5em;
}

.g_msg.note>*:last-child,
.g_note>*:last-child,
.g_msg.error>*:last-child,
.g_info>*:last-child,
.g_msg.warning>*:last-child
{
	margin-bottom:0;
}

.g_msg.note>*:first-child,
.g_note>*:first-child,
.g_msg.error>*:first-child,
.g_info>*:first-child,
.g_msg.warning>*:first-child
{
	margin-top:0;
}

.g_list.links
{
	background:#dff1ff;
	background-image:none;
	border:1px solid #b0dafb;
	clear:both;
	padding:.3em 1em .4em;
	text-align:center;
	text-transform:capitalize;
}

.g_list.links li
{
	display:inline;
	margin:0 .7em;
}

input[type="text"],
input[type="password"],
input.text,
textarea
{
	background:#fafafa;
	border:1px solid #cfd0d1;
	padding:.2em;
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover,
input.text:focus,
input.text:hover,
textarea:focus,
textarea:hover
{
	background:#fdfdfd;
	border:1px solid #a1aab2;
}

.g_definitionlist table
{
	border:0;
}

.g_definitionlist table td
{
	border-bottom:0;
	border-top:1px solid #ebe1ef;
	padding:.2em;
}

.g_definitionlist table th
{
	background-color:transparent;
	border-top:1px solid #ebe1ef;
	color:#8e83a9;
	padding:.2em;
	vertical-align:middle;
}

.g_definitionlist table table,
.g_definitionlist table table *
{
	border:none;
}

table
{
	border:1px solid #565ab9;
}

table tr
{
	background-color:#fff;
}

table th
{
	background-color:#565ab9;
	color:#fff;
	font-weight:normal;
	padding:.3em .4em;
	text-align:left;
	text-transform:capitalize;
	vertical-align:bottom;
}

table td span.count
{
	color:#8f95ae;
}

table td
{
	border-bottom:1px dotted #d3d7e2;
	font-size:.95em;
	padding:.3em .4em;
}

div.mylist_list table.animelist td td,
div.anime_all div.episodes table.eplist td td,
div.anime_info td td
{
	font-size:1em;
}

div.mylist_list table.animelist td.action,
div.anime_all div.episodes table.eplist td.action.expand,
div.anime_all div.episodes table.eplist td.action.collapse
{
	padding-left:1.2em;
	vertical-align:baseline;
}

table td.date
{
	color:#994da9;
}

div.anime_all div.episodes table td[colspan="10"] table
{
	border-width:0 0 0 1px;
}

div.mylist_list table td[colspan="7"],
div.anime_all div.episodes table td[colspan="10"]
{
	background:#dcdff7 url(images/layout/stripe-blue.gif) repeat left top;
	padding:0 0 0 20px;
}

div.mylist_list table td[colspan="7"] td[colspan="7"],
div#layout-main div.anime_all div.episodes table td[colspan="10"] td[colspan="10"]
{
	background:#fff url(images/layout/stripe-ltblue.gif) repeat left top;
	padding:.2em .4em;
	text-align:center;
}

div.mylist_list table table,
div.anime_all div.episodes table.filelist
{
	border-left:1px solid #a9b0e1;
	width:100%;
}

div.mylist_list table.eplist th,
div.anime_all div.episodes table.filelist th
{
	background-color:#a9b0e1;
	font-size:.95em;
}

div.mylist_list td.icons.file span
{
	float:left;
	padding:0 2px;
}

div.mylist_list table.filelist,
div.anime_all div.episodes table.filelist
{
	border-collapse:separate;
	border-spacing:1px;
}

table.filelist tr.generic td,
table.filelist tr.generic td
{
	background-color:#fff!important;
	color:#8e4eaf;
	font-weight:bold;
}

table.filelist td[colspan="11"] i
{
	color:#000;
	display:block;
	font-style:normal;
	text-align:center;
}

table .g_list
{
	margin:1em 0;
}

div.animelist_all table.anime_list,
div.grouplist_all table.group_list,
div.userlist_all table.users,
div.producerlist_all table.producer_list
{
	width:100%;
}

.g_list.filter
{
	text-align:right;
}

div.grouplist_list th.rating
{
	width:8em;
}

th.c_set,
th.c_setlatin,
th.c_date,
th.c_latin,
th.c_number,
#layout-main th a.inactive
{
	background-image:url(images/buttons/updown.gif);
	background-position:right center;
	background-repeat:no-repeat;
	background-color:#565ab9;
	cursor:pointer;
	padding-right:16px;
}

th.c_set:hover,
th.c_setlatin:hover,
th.c_date:hover,
th.c_latin:hover,
th.c_number:hover
{
	background-color:#353A8F;
}

th.s_forward,
th.s_reverse
{
	background-color:#565AB9;
	padding-right:18px;
}

th.s_forward,
#layout-main th a.descending
{
	background-image:url(images/buttons/down2.gif);
}

th.s_reverse,
#layout-main th a.ascending
{
	background-image:url(images/buttons/up2.gif);
}

div.animelist_all table.anime_list td.rating
{
	color:#aaa;
}

div.animelist_all table.anime_list td.rating.mid
{
	color:#444;
}

div.animelist_all table.anime_list td.rating.high
{
	color:#000;
	font-weight:bold;
}

div.animelist_all table.anime_list td.rating.low
{
	color:#999;
}

div.anime_all div.groups .state.ongoing,
div.anime_all div.groups .state.ongoing a
{
	color:#2618b1;
}

div.anime_all div.groups .state.stalled,
div.anime_all div.groups .state.stalled a
{
	color:#966319;
}

div.anime_all div.groups .state.complete,
div.anime_all div.groups .state.complete a
{
	color:#179023;
}

div.anime_all div.groups .complete,
div.anime_all div.groups .complete a
{
	font-weight:bold;
}

div.anime_all div.groups .state.dropped,
div.anime_all div.groups .state.dropped a
{
	color:#8d92a0;
}

#layout-main table.filelist
{
	background:#d3d7f3;
}

#layout-main table.filelist td
{
	background-color:#f7f7f7;
}

#layout-main table.filelist tr.g_odd td
{
	background-color:#f2f2f2;
}

#layout-main table.filelist td.id
{
	padding-left:16px;
}

#layout-main table.filelist tr.good.g_odd td
{
	background-color:#e9ffd8;
}

#layout-main table.filelist tr.good td
{
	background-color:#f0ffe3;
}

#layout-main table.filelist tr.good td.id
{
	background-image:url(images/layout/checkmark.png);
	background-position:2px center;
	background-repeat:no-repeat;
}

#layout-main table.filelist tr.deprecated td
{
	background-color:#ddd;
}

#layout-main table.filelist tr.deprecated td.id
{
	background-image:url(images/layout/deprecated.png);
	background-position:2px center;
	background-repeat:no-repeat;
}

#layout-main td ins
{
	background-color:#E9FFD8;
}

#layout-main td del
{
	background-color:#FFD7C2;
}

#layout-main div.forum div.navbar span.breadcrumbs,
#layout-main div.forum div.navbar span.info,
#layout-main div.forum div.navbar span.messages,
#layout-main div.forum div.linklist,
#layout-main div.forum div.signature,
#layout-main div.forum ul.topics dt,
#layout-main div.forum dd.lastpost,
#layout-main div.forum div.options-box dt,
#layout-main div.forum div.poll dl dd,
#layout-main div.forum div.poll dl dt,
#layout-main div.forum div.events dl dd,
#layout-main div.forum div.events dl dt,
#layout-main div.msg_all div.header dd,
#layout-main div.forum div.rules div.inner,
#layout-main div.forum div.navbar span.notify,
#layout-main div.forum div.quickreply textarea,
div.pagination
{
	font-size:.9em;
}

.g_menu ul li.g_odd,
table tr.g_odd
{
	background-color:#f5f7ff;
}

a
{
	color:#6470C3;
}

a:hover
{
	color:#AA0000;
}