@import "../common/normalize.css";
@import "../common/layout/default.css";
@import "../common/layout/common.css";

@import "../common/layout/global/all.css";
@import "../common/layout/page/all.css";

@import "../icons/all.css";
@import "../icons/zakura.css";

@import "../common/style/color/special.css";
@import "../common/style/color/forum-default.css";
@import "../common/style/text/default.css";

@import "../common/style/content/page-anime.css";

@import "layout-macro.css";

@import "style-default.css";
@import "style-menu.css";
@import "style-usermenu.css";
@import "style-content.css";
@import "zakura-old.css";
@import "forum-color.css";

#layout-main div.block > div.image{
	width: 32%;
}
#layout-main div.block > div.data{
	width: 65%;
}
#layout-main div.block div.data div.tabbed_pane table,
#layout-main div.block div.data > div > table{
	width: 99%;
}

/** TABS **/
/** TABBING PANE **/

#layout-main div.tabbed_pane div.body
{
	border: 1px solid;
	border-color: #F3E7FF #DEC9F2 #DEC9F2 #F3E7FF;
}
#layout-main div.tabbed_pane div.body div.* {
	left: 0px;
}

#layout-main div.tabbed_pane ul.tabs
{
	margin:1px 1px 2px 6px;
}

#layout-tabs ul.main-tabs li:hover,
#layout-tabs ul.main-tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	background-color:#FFFFFF;
	color:#7762ED;
	border-bottom:1px double #FFFFFF;
}

#layout-tabs ul.main-tabs li,
#layout-main div.tabbed_pane ul.tabs li
{
	color:#4D2F5F;
	background-color:#FAF0FF;
	border:1px solid #F3E7FF;
}

div.pagination span a
{
	border: 1px solid rgb(86, 90, 185);
	background-color: rgb(86, 90, 185);
	color: rgb(255, 255, 255);
}

div.pagination span a:hover,
div.pagination span strong
{
	border: 1px solid rgb(53, 58, 143);
	background-color: rgb(53, 58, 143);
	color: #FFFFFF;
}

#layout-tabs
{
	display: block;
}

#layout-tabs { 
	padding-left: 18px;
	margin-top: 3em;
	margin-bottom: -4.5em;
}

#layout-main h1
{
	padding-bottom: 1em;
}

#layout-tabs ul.main-tabs li { 
	padding: 4px 4px 2px 4px;
	line-height: 1.6em;
	text-transform: capitalize;
	line-height: 01.6em;
	padding-left: 02px;
	display: inline;
}

#layout-tabs ul.main-tabs li a,
#layout-main div.tabbed_pane ul.tabs li
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/*epbar colors*/
#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
	background-color:#c6c3ff;
	border-bottom: 2px solid #c6c3ff;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
	background-color:#6361ff;
	border-bottom: 2px solid #6361ff;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
	border-bottom: 2px solid #00ff00;
}
/*overrides*/
/*profile.css*/
#layout-main div.profile_all div.pane.general div.body div.pane div ul li a.i_inline
{
	padding: 4px 8px;
}

#layout-main div.anime_all div.info div.caststaff div.cast table,
#layout-main div.anime_all div.info div.caststaff div.staff table
{
	border: none;
}

#layout-main div.anime_all div.info div.caststaff div.cast,
#layout-main div.anime_all div.info div.caststaff div.staff
{
	border:1px solid #565AB9;
}

#layout-main div.profile_all div.preferences,
#layout-main div.profile_all div.tabbed_pane
{
	width:auto;
}
