#layout-main div.anime_all div.info th span.i_icon
{
	float: right;
}

#layout-main div.anime_all div.episodes div.mylist_add
{
	margin-top: 1em;
}

#layout-main div.anime_all div.mylist table td
{
	padding: 1em;
}

#layout-main div.anime_all div.mylist table td span.i_icon
{
	margin-left: 1em;
}

#layout-main div.anime_all div.awards
{
	clear: both;
	text-align: center;
}

#layout-main table.eplist table.filelist
{
	width: 100%;
}

#layout-main div.anime_all div.tags
{
 margin-top:1em;
 margin-bottom:1em;
}

#layout-main div.anime_all #htmltagcloud
{
	text-align: justify;
	line-height: 1;
	margin-left:2em;
	margin-right:2em;
	padding: 1.5em;
}

#layout-main div.anime_all div.tags span
{
	line-height:25px;
}

#layout-main div.anime_all div.tags span + span
{
	padding-left:15px;
}

#layout-main div.anime_all span.tagcloud0 { font-size: 12px;}
#layout-main div.anime_all span.tagcloud1 { font-size: 13px;}
#layout-main div.anime_all span.tagcloud2 { font-size: 14px;}
#layout-main div.anime_all span.tagcloud3 { font-size: 15px;}
#layout-main div.anime_all span.tagcloud4 { font-size: 16px;}
#layout-main div.anime_all span.tagcloud5 { font-size: 17px;}
#layout-main div.anime_all span.tagcloud6 { font-size: 18px;}
#layout-main div.anime_all span.tagcloud7 { font-size: 19px;}
#layout-main div.anime_all span.tagcloud8 { font-size: 20px;}
#layout-main div.anime_all span.tagcloud9 { font-size: 21px;}
#layout-main div.anime_all span.tagcloud10 { font-size: 22px;}
#layout-main div.anime_all span.tagcloud11 { font-size: 23px;}
#layout-main div.anime_all span.tagcloud12 { font-size: 24px;}
#layout-main div.anime_all span.tagcloud13 { font-size: 25px;}
#layout-main div.anime_all span.tagcloud14 { font-size: 26px;}
#layout-main div.anime_all span.tagcloud15 { font-size: 27px;}
#layout-main div.anime_all span.tagcloud16 { font-size: 28px;}
#layout-main div.anime_all span.tagcloud17 { font-size: 29px;}
#layout-main div.anime_all span.tagcloud18 { font-size: 30px;}
#layout-main div.anime_all span.tagcloud19 { font-size: 31px;}
#layout-main div.anime_all span.tagcloud20 { font-size: 32px;}
#layout-main div.anime_all span.tagcloud21 { font-size: 33px;}
#layout-main div.anime_all span.tagcloud22 { font-size: 34px;}
#layout-main div.anime_all span.tagcloud23 { font-size: 35px;}
#layout-main div.anime_all span.tagcloud24 { font-size: 36px;}