#layout-main div.animelist_all td.awards span.i_icon
{
	display: -moz-inline-box;
	display: inline-block;
}

#layout-main div.animelist_all div.filters ul li span,
#layout-main div.animelist_all div.filters ul li span span
{
    display: -moz-box;
    display: inline-block;
}

#layout-main div.animelist_all div.filters ul li span span span
{
    display: none;
}

#layout-main div.animelist_all div.note,
#layout-main div.animelist_all div.fullsearch_form
{
	clear:none;
}

#layout-main div.animelist_all table.animelist tr td
{
	padding-left: 1em;
	padding-right: 1em;
}

#layout-main div.animelist_all table.animelist tr td.name
{
	width:50%;
}

#layout-main div.animelist_all table.animelist tr td.rating
{
	text-align: left;
	min-width:6em;
}

#layout-main div.animelist_all table.animelist tr td.count,
#layout-main div.animelist_all table.animelist tr td.date
{
	text-align: right;
}

#layout-main div.animelist_all table.animelist tr td.count
{
	min-width:4em;
}