#layout-main div.buddylist_all th.last_online,
#layout-main div.buddylist_all th.size,
#layout-main div.buddylist_all th.date,
#layout-main div.buddylist_all th.name
{
	width: 10em;
}

#layout-main div.buddylist_all th.anime,
#layout-main div.buddylist_all th.episodes,
#layout-main div.buddylist_all th.files,
#layout-main div.buddylist_all th.image,
#layout-main div.buddylist_all th.taste,
#layout-main div.buddylist_all th.friendship
{
	width: 5em;
}

#layout-main div.buddylist_all th.size
{
	width: 8em;
}

#layout-main div.buddylist_all th.actions
{
	width:25em;
}

#layout-main div.buddylist_all td.action span.action a
{
	display: inline;
}

#layout-main div.buddylist_all td.action span.action
{
	float: right;
	margin-right: 0.5em;
}

#layout-main div.buddylist_all th.actions
{
	width:25em;
}

@media screen and (min-width: 1200px)
{
	#layout-main div.buddylist_all th.name
	{
		width: 20%;
	}
}

#layout-main div.buddylist_all td.acnt,
#layout-main div.buddylist_all td.epcnt,
#layout-main div.buddylist_all td.fcnt,
#layout-main div.buddylist_all td.size
{
	text-align: right;
}

#layout-main div.buddylist_all td.name
{
	text-align: left;
}

#layout-main div.buddylist_all td.action span.action a
{
	display: block;
}