#layout-main div.chartags_all div.addbox textarea
{
	height:200px;
	width:400px;
}

#layout-main div.chartagsmod_all div.addbox input,
#layout-main div.chartags_all div.addbox input
{
	display:block;
	margin:1em auto;
}

#layout-main div.chartagsmod_all dl,
#layout-main div.chartags_all dl
{
	display:block;
	height:1%;
	margin:0;
	overflow:hidden;
}

#layout-main div.chartagsmod_all dl dt,
#layout-main div.chartags_all dl dt
{
	clear:none;
	float:left;
}

#layout-main div.chartagsmod_all dl dd,
#layout-main div.chartags_all dl dd
{
	margin-left:20em;
}

#layout-main div.chartagsmod_all div.inner,
#layout-main div.chartags_all div.inner
{
	margin-bottom:1em;
	margin-left:auto;
	margin-right:auto;
	width:40em;
}

#layout-main div.chartagsmod_all table.charactertags,
#layout-main div.chartagsmod_all table.charactertaggroups,
#layout-main div.chartags_all table.charactertags
{
	width:100%;
}

#layout-main div.chartags_all table.charactertags
{
	margin-bottom: 1em;
}

#layout-main div.chartags_all div.addbox div.taggrouplist
{
	margin-top:.5em;
}

#layout-main div.chartags_all div.addbox div.tag-group div.inner
{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

#layout-main div.chartags_all div.addbox div.tag-column
{
	float:left;
	height:20em;
	max-width:12em;
	padding:0 2em 2em 0;
}

#layout-main div.chartags_all div.addbox div.tag-column span
{
	display:block;
}

#layout-main div.chartags_all div.addbox div.taggrouplist span,
#layout-main div.chartags_all div.addbox div.tag-column span
{
	color:blue;
	cursor:pointer;
	text-align:left;
	text-decoration:underline;
}

#layout-main div.chartags_all div.addbox div.taggrouplist span:hover,
#layout-main div.chartags_all div.addbox div.tag-column span:hover
{
	color:red;
}

#layout-main div.chartags_all div.addbox div.tag-column span.alreadyset
{
	color:inherit;
	cursor:default;
	text-decoration:none;
}

#layout-main div.chartags_all div.addbox div.tag-column h5
{
	font-weight:bold;
	margin:0 0 .5em;
}