#layout-main div.club_all div.cmt_entries div.postbody div.content,
#layout-main div.club_all div.cmt_entries div.postbody div.signature
{
    margin-left:1em;
}

#layout-main div.club_all div.cmt_entries div.postbody p.author
{
    padding-left:1em;
}