#layout-main div.creq_all table.creqlist,
#layout-main div.creq_all div.creq_hist table,
#layout-main div.creq_all div.creq_data table,
#layout-main div.creqhist_all div.creq_hist table
{
	width:98%;
}

#layout-main div.creq_all div.creq_raw table
{
	max-width:98%;
	min-width:50em;
}

#layout-main div.creq_all table.creqlist td.type,
#layout-main div.creq_all table.creqlist td.state,
#layout-main div.creq_all table.creqlist td.action,
#layout-main div.creq_all table.creqlist td.client,
#layout-main div.creq_all table.creqlist td.language
{
	width:5em;
}

#layout-main div.creq_all table.creqlist td.date,
#layout-main div.creq_all table.creqlist td.name
{
	width:10em;
}

#layout-main div.creq_all table.creqlist td.check,
#layout-main div.creq_all table.creqlist td.count
{
	width:3em;
}

#layout-main div.creq_all table.creqlist td.id,
#layout-main div.creq_all table.creqlist td.name,
#layout-main div.creq_all div.creq_header th.field
{
	text-align:left;
}

#layout-main div.creq_all table.creqlist td,
#layout-main div.creq_all div.creq_data td,
#layout-main div.creq_all div.creq_raw td
{
	padding: 2px 8px;
}

#layout-main div.creq_all div.creq_data td.field
{
	white-space:nowrap;
}

#layout-main div.creq_all th.field
{
	text-align:center;
}

#layout-main div.creq_all div.creq_data table td.old,
#layout-main div.creq_all div.creq_data table td.new,
#layout-main div.creq_all div.creq_raw table td.old,
#layout-main div.creq_all div.creq_raw table td.new
{
	white-space:pre-wrap;
	vertical-align:top;
}

#layout-main div.creq_all table.creqlist td.entry,
#layout-main div.creq_all table.creqlist td.summary
{
	width: auto;
}

#layout-main div.creq_hist div.forum
{
	max-width:98%;
	min-width:50em;
	margin: 0 auto;
}

#layout-main div.creq_hist div.cmt_entries div.creq_state div.postbody p.author
{
	margin: 0 0 0 0.8em
}

#layout-main div.creq_hist div.forum dl.profile dd.posts,
#layout-main div.creq_hist div.forum dl.profile dd.joined,
#layout-main div.creq_hist div.forum dl.profile dd.user_icons,
#layout-main div.creq_hist div.forum dl.profile > br
{
	display: none;
}

#layout-main div.creq_hist div.forum div.cmt_entries dl.profile
{
	margin:4px 8px -10pt 8pt;
	width:12em;
}

#layout-main div.creq_hist div.forum div.cmt_entries div.postbody div.content {
    margin-left: 14em;
}

#layout-main div.creq_hist div.forum dl.profile img
{
	max-width:75px;
}