#layout-main div.customise_all  div.pane > ul,
#layout-main div.customise_all  div.pane > div
{
	margin: 1em 0.5em;
}

#layout-main div.customise_all  div.pane > ul li
{
	line-height: 15px;
	margin-right:0.1em;
}

#layout-main div.customise_all  div.pane > ul li a.i_inline
{
	padding:4px 8px 0 7px;
}

#layout-main div.customise_all div.block div.image
{
	width:40%;
}

#layout-main div.customise_all  div.languages,
#layout-main div.customise_all  div.css_style p
{
	text-align: center;
}

#layout-main div.customise_all  div.languages div
{
	display: inline-table;
}

#layout-main div.customise_all  div.languages div + div
{
	margin-left: 1em;
}

#layout-main div.customise_all div.block div.info dl
{
	margin-left:0;
}

#layout-main div.customise_all *.javascript.hidden
{
	display:none;
}

#layout-main div.customise_all form p
{
	text-align: center;
}

#layout-main div.customise_all div.pane div.settings.block
{
	display:inline-table;
	vertical-align:top;
}

#layout-main div.customise_all div.tabbed_pane div.default_languages,
#layout-main div.customise_all div.tabbed_pane div.table.layout
{
	display:table;
	margin-left:auto;
	margin-right:auto;
}

#layout-main div.customise_all div.pane div.settings.block table
{
	margin:0;
}

#layout-main div.customise_all div.pane div.settings.block.languages > table
{
	margin:auto;
}

#layout-main div.customise_all span.checkbox span.text
{
	display:table;
	margin:-1.7em 0 0 4.5em;
}