#layout-main div.ep_all table.stafflist td.credit,
#layout-main div.ep_all table.stafflist td.name
{
	width:30%;
}

#layout-main div.ep_all table.stafflist td.comment,
#layout-main div.ep_all table.stafflist td.eprange
{
	min-width:10em;
}

#layout-main div.ep_all div.staffblock + div.staffblock
{
	margin-top:1.5em;
}

#layout-main div.ep_all div.staffblock h2
{
	margin-left:1em;
	text-align:center;
	width:30%;
}

#layout-main div.ep_all div.info div.tabbed_pane
{
	min-width:50em;
	max-width:50%;
	margin-left:auto;
	margin-right:auto;
}

#layout-main div.ep_all div.info table
{
	width:100%;
}

#layout-main div.ep_all div.info table th
{
	width:10em;
}

#layout-main div.ep_all div.desc
{
	clear:left;
	margin-left:1em;
	margin-right:1em;
	margin-top:1em;
	padding:1em;
}

#layout-main div.ep_all div.summary
{
	clear:left;
	margin-left:1em;
	margin-right:1em;
	margin-top:1em;
	padding:1em;
}

#layout-main div.ep_all ul.links_top
{
	display:none;
}
