#layout-main .categories div.controls
{
	text-align: center;
}

#layout-main ul#cattree a.i_icon
{
	position: relative;
	right: 18px;
	float: left;
	margin-right: -15px;
}

#layout-main ul#cattree li
{
	list-style: none outside;
	line-height: 14px;
	margin-left: 2em;
}

#layout-main ul#cattree li span
{
	display: block;
}

#layout-main ul#cattree li.collapsed ul
{
	display: none;
}