#layout-main div.latestanimes_form
{
	clear: both;
}

#layout-main div.latestanimes_form a
{
	margin: 1.3em;
}

#layout-main div.latestanimes_form form
{
	margin: 1em 0;
	text-align: center;
}

#layout-main div.latestanimes_form div
{
	display: inline;
}

#layout-main div.latestanimes_form form input.year
{
	width: 3em;
}

#layout-main div.latestanimes_anime
{
	clear: left;
	padding-left: 10%
}

#layout-main div.latestanimes_anime div.g_image img
{
	display: block;
	width: 150px;
	margin: 0 1em 1em;
	float: left;
}

#layout-main div.latestanimes_anime h3
{
	margin: 0.5em 0 0.5em 17.3em;
}

#layout-main div.latestanimes_anime div.data table
{
	width: 500px;
}

#layout-main div.latestanimes_anime div.data table tbody td
{
	width: 100%;
}


#layout-main div.latestanimes_form form input.year
{
	width: 4em;
	text-align: center;
}
