#layout-main h1.latest2
{
	margin-bottom:0.5em;
}

#layout-main div.latest2_all div.content + div.content
{
	margin-top: 1em;
}

#layout-main div.latest2_all div.content h4
{
	font-size: 1.4em;
	text-align: left;
}

#layout-main div.latest2_all div.content th.anime
{
	width: 60%;
}

#layout-main div.latest2_all div.latest_hotanime div.content th.anime,
#layout-main div.latest2_all div.latest_reviews div.content th.anime
{
	width: 80%;
}

#layout-main div.latest2_all div.latest_sequels div.content th.anime_a,
#layout-main div.latest2_all div.latest_sequels div.content th.anime_b
{
	width:50%;
}

#layout-main div.latest2_all div.latest_anime div.content th.name
{
	width: 90%;
}

#layout-main div.latest2_all div.latest_anime div.content td.type
{
	white-space:nowrap;
}

#layout-main div.latest2_all div.content table.filelist th.group
{
	width: 15%;
}

#layout-main div.latest2_all div.content table.completed th.group
{
	width: 30%;
}

#layout-main div.latest2_all div.content td.info
{
	min-width: 22em;
	max-width: 22em;
}

#layout-main div.latest2_all div.content td.info a.fid
{
	float:left;
	margin-right:0.5em;
}

#layout-main div.latest2_all div.content td.episode
{
	min-width: 5em;
	max-width: 5em;
	text-align: right;
}

#layout-main div.latest2_all div.content td.action
{
	min-width: 7em;
	max-width: 7em;
}

#layout-main div.latest2_all div.content td.mylist,
#layout-main div.latest2_all div.content td.seen
{
	min-width: 7em;
	max-width: 7em;
}


#layout-main div.latest2_all div.content td.group
{
	white-space: nowrap;
}

#layout-main div.latest2_all div.filter_menu ~ div.content
{
	margin-right:17.2em;
}

#layout-main div.latest2_all div.filter_menu.collapsed ~ div.content
{
	margin-right:0;
}