#layout-main div.lexicon_all td.awards span.i_icon
{
	display: -moz-inline-box;
	display: inline-block;
}

#layout-main div.lexicon_all div.filters ul li span,
#layout-main div.lexicon_all div.filters ul li span span
{
    display: -moz-box;
    display: inline-block;
}

#layout-main div.lexicon_all div.filters ul li span span span
{
    display: none;
}

#layout-main div.lexicon_all table.animelist th.title
{
	width: 98%
}

#layout-main div.lexicon_all div.note,
#layout-main div.lexicon_all div.fullsearch_form
{
	clear:none;
}

#layout-main div.lexicon_all table.characterlist
{
	width: 100%
}

#layout-main div.lexicon_all div.related_entries ul.jump:first-child
{
	margin-top: 0;
}