#layout-main div.main_all div.rightbar li span
{
	position:absolute;
}

#layout-main div.main_all div.rightbar li a,
#layout-main div.main_all div.rightbar li span + span
{
	display: table;
	margin-left: 4.5em;
	position: relative;
}

#layout-main div.main_all div.rightbar
{
	width: 19em;
	float: right;
}

#layout-main div.main_all div.rightbar h3
{
	margin-top: 1em;
}

#layout-main div.main_all div.rightbar ol
{
	list-style-type: none;
	margin-left: 0;
}

#layout-main div.main_all div.rightbar > div
{
	margin-bottom:1em;
}

#layout-main div.main_all div.datablocks
{
	-moz-column-count:2;
	-webkit-column-count:2;
	-ms-column-count:2;
	column-count:2;
	text-align:center;
}

#layout-main div.main_all div.datablocks > div
{
	width:100%;
	max-width: 400px; /*hack to get ie and opera in line as they lack multi column support atm*/
}

#layout-main div.main_all div.datablocks > div.account
{
	width:30em;
}

#layout-main div.main_all div.datablocks div.stripe
{
	height:7.5em;
	width:100%;
	overflow:hidden;
}

#layout-main div.main_all div.datablocks div.similaranime div.stripe div.data
{
	margin:0.5em 6em;
}

#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	margin-bottom:0.2em;
}

#layout-main div.main_all div.header div.account ul.tabs
{
	margin-bottom:-1px;
}

#layout-main div.main_all div.header div.account ul.tabs li
{
	display:inline-block;
	padding:0.2em 0;
	text-align:center;
	width:49%;
}

#layout-main div.main_all div.header div.account div.login input[type="text"],
#layout-main div.main_all div.header div.account div.login input[type="password"]
{
	padding:4px;
	width:16.5em;
}

#layout-main div.main_all div.header div.account table
{
	margin:0.4em auto;
}

#layout-main div.main_all div.header div.account table th
{
	padding:4px 8px;
}

#layout-main div.main_all div.header div.account,
#layout-main div.main_all div.header div.about
{
	padding:0.5em;
}

#layout-main div.main_all div.datablocks,
#layout-main div.main_all div.news.forum,
#layout-main div.main_all div.header
{
	clear:none;
	margin-right:20em;
}

#layout-main div.main_all div.header div.account
{
	float:right;
	width:30.5em;
}

#layout-main div.main_all div.header div.about ul li + li,
#layout-main div.main_all div.header div.about div.content > span + span
{
	padding-top:0.5em;
}

#layout-main div.main_all div.header div.about h4
{
	margin-right:26em;
}

#layout-main div.main_all div.header div.about ul
{
	list-style-type:disc;
	padding-left:1.5em;
}

#layout-main div.main_all div.header div.latestnews
{
	clear:none;
}

#layout-main div.main_all div.header div.content
{
	text-align:left;
}

#layout-main div.main_all div.header div.latestnews span.counter
{
	float: right;
}

#layout-main div.main_all div.header div.latestnews > div
{
	text-align:center;
}

#layout-main div.main_all div.header div.latestnews div.stripe
{
	width:100%;
}

#layout-main div.main_all div.header div.latestnews div.stripe div.data
{
	float:none;
	margin-left:6em;
	width:auto;
}

#layout-main div.main_all div.header div.latestnews div.posted
{
	margin-bottom:0.5em;
}

#layout-main div.main_all div.datablocks div.stripe div.data div.name,
#layout-main div.main_all div.header div.latestnews div.stripe div.name
{
	margin-right:0;
}

#layout-main div.main_all div.datablocks div.similaranime div.image.other,
#layout-main div.main_all div.header div.account ul.tabs li.signup
{
	float:right;
}

#layout-main div.main_all div.header div.account ul.tabs li a,
#layout-main div.main_all div.header div.about div.content > span
{
	display:block;
}

#layout-main div.main_all div.latestnews div.hidden,
#layout-main div.main_all div.datablocks div.hidden
{
	display: none;
}

@media screen and (max-width: 900px)
{
	#layout-main div.main_all div.datablocks
	{
		-moz-column-count: 1;
		-webkit-column-count: 1;
		-ms-column-count:1;
		column-count: 1;
	}
}

@media screen and (min-width: 1580px)
{
	#layout-main div.main_all div.datablocks
	{
		-moz-column-count: 4;
		-webkit-column-count: 4;
		-ms-column-count:4;
		column-count: 4;
	}

	#layout-main div.main_all div.latestnews div.hidden,
	#layout-main div.main_all div.datablocks div.hidden
	{
		display: inline-block;
	}
}

#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	border: 1px solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#layout-main div.main_all div.header div.account ul.tabs li
{
	-moz-border-radius:0.5em 0.5em 0 0;
	-webkit-border-radius:0.5em 0.5em 0 0;
	border-radius:0.5em 0.5em 0 0;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

#layout-main div.main_all div.header div.account div.login
{
	-moz-border-radius:0 0 0.5em 0.5em;
	-webkit-border-radius:0 0 0.5em 0.5em;
	border-radius:0 0 0.5em 0.5em;
}

#layout-main div.main_all div.header div.account table
{
	border-top: none;
}

#layout-main div.main_all div.header div.account ul.tabs li,
#layout-main div.main_all div.header div.account ul.tabs li.signup:hover
{
	border-bottom: 1px double;
}

#layout-main div.main_all div.header div.account ul.tabs li.signup
{
	border-bottom: none;
}