#layout-content div.main_all div.rightbar
{
	width: 19em;
	clear: right;
	float: right;
}

#layout-content div.main_all div.rightbar p
{
	text-align: center;
}

#layout-content div.main_all div.rightbar h3
{
	margin-top: 1em;
}

#layout-content div.main_all div.rightbar ol
{
	list-style-type: none;
	margin-left: 0;
}

#layout-content div.main_all div.news
{
	margin-right: 20em;
}

#layout-content div.main_all div.news h4,
#layout-content div.agcmts_entries div.comment h4
{
	padding: 0.1em;
	margin-top: 0;
	margin-bottom: 0;
}

#layout-content div.main_all div.news div
{
	padding: 0.2em;
}

#layout-content div.main_all div.news span.stamp
{
	display: block;
	text-align: right;
	padding-right: 0.5em;
}

#layout-content div.main_all div.news div+h4
{
	margin-top: 2em;
}

/* main_edit */

#layout-content div.main_edit
{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}

#layout-content div.main_edit label
{
	display: block;
	text-align: left;
	vertical-align: top;
	margin: auto;
	padding: 0.6em;
}

#layout-content div.main_edit label *
{
	display: block;
	margin-top: -1.2em;
	margin-left: 4em;
}

#layout-content div.main_edit label input
{
	width: 90%;
}

#layout-content div.main_edit textarea
{
	height: 30em;
	width: 90%;
}

#layout-content div.main_edit form div > input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}