#layout-main div.mylist_all table.animelist th.title,
#layout-main div.mylist_all table.animelist table.eplist,
#layout-main div.mylist_all table.animelist table.filelist
{
	width: 98%;
}

#layout-main div.g_menu.mylist_menu div.filestatefilters
{
	margin-top:1em;
}

#layout-main div.g_menu.mylist_menu div.filters ul li,
#layout-main div.g_menu.mylist_menu div.filestatefilters ul li
{
    padding:5px;
}

#layout-main div.g_menu.mylist_menu label
{
    display:block;
}

#layout-main div.g_menu.mylist_menu div.user span.user
{
    float: none;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 13px;
    display:block;
}