#layout-main div.mynotifies_all table.mynotifies_list,
#layout-main div.mynotifies_all div.mynotifies_list table
{
	width: 100%
}

#layout-main div.mynotifies_all tr td
{
	padding-left:1em;
	padding-right:1em;
}