#layout-main div.userpage_all div.stats,
#layout-main div.userpage_all div.g_menu
{
	clear:left;
	float:left;
	width:19em;
}

#layout-main div.userpage_all div.stats table
{
	width:95%;
}

#layout-main div.userpage_all div.stats div table td.value
{
	text-align:right;
}

#layout-main div.userpage_all div.g_menu div + div
{
	margin-top:1em;
}

#layout-main div.userpage_all div.buddies ul li,
#layout-main div.userpage_all div.favreviewers ul li
{
	padding:1px 6px;
}

#layout-main div.userpage_all div.userdetails div.desc
{
	clear:none;
}

#layout-main div.userpage_all div.userdetails .block > div
{
	display:table-cell;
	float:none;
	vertical-align:top;
	width:auto;
}

#layout-main div.userpage_all div.userdetails img
{
	margin-right:1em;
}

#layout-main div.userpage_all div.userprefs h4
{
	text-align:center;
}

#layout-main div.userpage_all div.charts div
{
	display:inline-block;
}

#layout-main div.userpage_all div.charts div.votedistribution
{
	padding-left:50px;
}

#layout-main div.userpage_all div.userdetails p
{
	margin-left:4em;
	margin-right:2em;
	margin-top:2em;
	text-align:left;
}

#layout-main div.userpage_all div.charts
{
	height:540px;
}

#layout-main div.userpage_all div.latest div + div,
#layout-main div.userpage_all div.stats div + div,
#layout-main div.userpage_all div.userprefs div + div
{
	margin-top:1em;
}

#layout-main div.userpage_all div.cmt_entries
{
	clear:none;
	float:left;
	width:100%;
}

#layout-main div.userpage_all div.charts div.error,
#layout-main div.userpage_all div.forum div.error
{
	clear:none;
	float:none;
}

#layout-main div.userpage_all div.stats table th
{
	width:8em;
}

#layout-main div.userpage_all div.userprefs div.block
{
	display:inline-block;
	margin-left: 1em;
	margin-bottom: 1em;
	width:auto;
}

#layout-main div.userpage_all div.blog p.comment
{
	float:right;
	margin:-2em 0 0;
}

#layout-main div.userpage_all div.blog div.g_msg.note
{
	clear:none;
}

#layout-main div.userpage_all div.cmt_entries div.postbody div.content,
#layout-main div.userpage_all div.cmt_entries div.postbody div.signature
{
    margin-left:1em;
}

#layout-main div.userpage_all div.cmt_entries div.postbody p.author
{
    padding-left:1em;
}


#layout-main div.userpage_all div.blog div.g_timedentry
{
	min-height:100px
}

#layout-main div.userpage_all div.history table
{
	width:100%;
}

#layout-main div.userpage_all div.history ul.nav,
#layout-main div.userpage_all div.history ul.filter
{
	text-align:center;
}

#layout-main div.userpage_all div.history ul.nav,
#layout-main div.userpage_all div.history ul.filter,
#layout-main div.userpage_all > div.g_section,
#layout-main div.userpage_all div.forum
{
	clear:none;
}

#layout-main div.userpage_all > div.g_section
{
	margin-left:20em;
	margin-right:1em;
}

#layout-main div.userpage_all div.clubs div
{
	display: inline-block;
}

#layout-main div.userpage_all div.clubs div.founded + div.joined
{
	margin-left:5em;
}

#layout-main div.userpage_all div.g_section + div.g_section
{
	margin-top:2.5em;
}

#layout-main div.userpage_all div.userdetails .block div.notify
{
	min-width:25em;
	padding-left: 1em;
}

#layout-main div.userpage_all div.userdetails .block div.notify div.msg + div.news
{
	margin-top:1em;
}


#layout-main div.userpage_all div.userdetails .block div table
{
	width:100%;
}

#layout-main div.userpage_all div.userdetails .block div table th
{
	width:7em;
}

#layout-main div.userpage_all div.userdetails div.desc
{
	margin-left: 0em;
	margin-right: 0em;
}

#layout-main div.userpage_all div.block
{
	display:inline-table;
	margin-bottom:1em;
	margin-left:1em;
	width:auto;
	margin-right:0;
}