#layout-main div.userpage_all div.stats
{
	clear:none;
	float:left;
	width:18em;
}

#layout-main div.userpage_all div.stats table
{
	width:95%;
}

#layout-main div.userpage_all div.stats div table td.value
{
	text-align:right;
}

#layout-main div.userpage_all div.g_menu
{
	clear:right;
	float:right;
	width:11em;
}

#layout-main div.userpage_all div.g_menu div + div
{
	margin-top:1em;
}

#layout-main div.userpage_all div.buddies ul li,
#layout-main div.userpage_all div.favreviewers ul li
{
	padding:1px 6px;
}

#layout-main div.userpage_all div.userdetails,
#layout-main div.userpage_all div.userprefs
{
	clear:none;
	margin-left:19em;
	margin-right:12.5em;
}

#layout-main div.userpage_all div.userdetails .block > div
{
	display:table-cell;
	float:none;
	vertical-align:top;
	width:auto;
}

#layout-main div.userpage_all div.userdetails img
{
	margin-right:1em;
}

#layout-main div.userpage_all div.userprefs h4
{
	text-align:center;
}

#layout-main div.userpage_all div.charts div
{
	float:left;
}

#layout-main div.userpage_all div.charts div.votedistribution
{
	padding-left:50px;
}

#layout-main div.userpage_all div.userdetails p
{
	margin-left:4em;
	margin-right:2em;
	margin-top:2em;
	text-align:left;
}

#layout-main div.userpage_all div.charts
{
	height:540px;
}

#layout-main div.userpage_all div.charts,
#layout-main div.userpage_all div.latest
{
	clear:none;
	margin-left:18.5em;
	margin-right:12em;
}

#layout-main div.userpage_all div.latest div + div,
#layout-main div.userpage_all div.stats div + div,
#layout-main div.userpage_all div.userprefs div + div
{
	margin-top:1em;
}

#layout-main div.userpage_all div.charts div.error
{
	clear:none;
	float:none;
}

#layout-main div.userpage_all div.forum
{
	margin-right:12.5em;
	margin-left:19em;
}

#layout-main div.userpage_all div.cmt_entries
{
	clear:none;
	float:left;
	width:100%;
}

#layout-main div.userpage_all div.forum div.error
{
	clear:none;
	float:none;
}