#layout-main div.profile_all div.passwords
{
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#layout-main div.profile_all div.passwords > div,
#layout-main div.profile_all div.passwords form > div
{
	display: table-cell;
}

#layout-main div.profile_all div.preferences
{
	width: 100%;
}
#layout-main div.profile_all div.tabbed_pane
{
	width: 100%;
}

#layout-main div.profile_all table
{
	border: none;
}

#layout-main div.css_style div.info dl dd
{
	margin-left: 7em;
	width: 60%;
}

#layout-main div.profile_all div.block div.image
{
	width: 40%;
}

#layout-main div.profile_all div.block div.info dl
{
	margin-left: 0;
}

#style_url
{
	width: 75%;
}

#style_thumbnail
{
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	padding: 3px;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
}

#image_viewer
{
	margin: 50px;
}


#layout-main div.tabbed_pane #tab7_pane div textarea
{
    width: 70%;
    height: 500px;
}

#layout-main div.tabbed_pane #tab5_pane div.detailed h4
{
    margin-bottom: 0.5em;
}

#layout-main div.tabbed_pane #tab5_pane form
{
    text-align: left;
}

#layout-main div.tabbed_pane #tab5_pane div.permissions div
{
    float: left;
    margin-bottom: 0.5em;
}

#layout-main div.tabbed_pane #tab5_pane div.permissions div label
{
    display: block;
	line-height: 2.3;
    margin-right: 1em;
}

#layout-main div.tabbed_pane #tab5_pane div.permissions div label select
{
    display: block;
    margin-left: 13.5em;
    margin-top: -1.8em;
    width: 330px;
}

#layout-main div.tabbed_pane #tab5_pane div.permissions div label input
{
    width: 326px;
}

#layout-main div.tabbed_pane #tab5_pane div.guest
{
    clear: left;
    text-align: center;
}

#layout-main div.tabbed_pane #tab7_pane div textarea
{
    width: 70%;
    height: 500px;
}

#layout-main div.tabbed_pane #tab2_pane table tr
{
	vertical-align:top;
}
