#styletable {
  width: 100%;
}

#styletable td.style_body { 
  width: 100%; 
}

#styletable td.style_next,
#styletable td.style_prev {
  width: 15px;
}

#styletable td.style_next :hover,
#styletable td.style_prev :hover {
  font-weight: bold;
}

#styletable div.style_chooser {
}

#styletable div.style_item {
  width: 600px;
}

#styletable td.style_description_heading {
  font-weight: bold;
  width: 80px;
  vertical-align: top;
}

#styletable td.style_thumbnail {
  width: 220px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  padding: 3px;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

#styletable table.style_description {
  vertical-align: top;
  height: 100%;
}

#image_viewer {
  margin: 50px;
}