#layout-content div.profile_css div.info dl dt
{
	font-weight: bold;
}
#layout-content div.profile_css div.info dl dd
{
	margin-left: 7em;
	width: 20em;
}

#style_thumbnail
{
  width: 220px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  padding: 3px;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

#image_viewer
{
  margin: 50px;
}