#layout-main div.addrelform span.main
{
	line-height:16px;
}

#layout-main div.addrelform ul.alt_titles li
{
	line-height:16px;
}

#layout-main div.addseq_all div.explanation div.description,
#layout-main div.addsongsongrel_all div.explanation div.description,
#layout-main div.addcharcharrel_all div.explanation div.description,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description
{
	margin:1em 0;
	padding:4px;
}

#layout-main div.addseq_all div.explanation div.description dl + dl,
#layout-main div.addsongsongrel_all div.explanation div.description dl + dl,
#layout-main div.addcharcharrel_all div.explanation div.description dl + dl,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dl + dl,
#layout-main div.addcreatoranimerel_all div.explanation div.description tr + tr,
#layout-main div.addcreatorsongrel_all div.explanation div.description tr + tr
{
	margin-top:0.25em;
	padding: 0.25em 0;
}

#layout-main div.addseq_all div.explanation div.description dl,
#layout-main div.addsongsongrel_all div.explanation div.description dl,
#layout-main div.addcharcharrel_all div.explanation div.description dl,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dl,
#layout-main div.addcreatorsongrel_all div.explanation div.description dl
{
	margin:0;
	text-align:left;
	width:100%;
}

#layout-main div.addseq_all div.explanation div.description dt,
#layout-main div.addsongsongrel_all div.explanation div.description dt,
#layout-main div.addcharcharrel_all div.explanation div.description dt,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dt,
#layout-main div.addcreatorsongrel_all div.explanation div.description dt
{
	width: 30em;
}

#layout-main div.addseq_all div.explanation div.description dd,
#layout-main div.addsongsongrel_all div.explanation div.description dd,
#layout-main div.addcharcharrel_all div.explanation div.description dd,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dd,
#layout-main div.addcreatorsongrel_all div.explanation div.description dd
{
	margin-left: 31em;
}

#layout-main div.addcreatoranimerel_all div.massadd textarea,
#layout-main div.addcreatorsongrel_all div.massadd textarea
{
	width:45%;
	height: 200px;
}

#layout-main div.addcreatoranimerel_all div.massadd div + div,
#layout-main div.addcreatorsongrel_all div.massadd div + div
{
	margin-top:0.5em;
}

#layout-main div.addcreatoranimerel_all div.explanation,
#layout-main div.addcreatorsongrel_all div.explanation
{
	margin-top:1em;
}

#layout-main div.addcharanimerel_all div.editcarel table
{
    width:100%;
}

#layout-main div.addcreatoranimerel_all div.explanation div.description table,
#layout-main div.addcreatorsongrel_all div.explanation div.description table
{
	width: 100%;
	padding: 4px;
}

#layout-main div.addcreatoranimerel_all div.explanation div.description tr + tr td,
#layout-main div.addcreatorsongrel_all div.explanation div.description tr + tr td
{
	margin-top:0.25em;
	padding:0.25em 0 0.3em;
}


#layout-main div.addsongcollectionrel_all div.massadd textarea
{
	height:200px;
	width:500px;
}

#layout-main div.addsongcollectionrel_all div.massadd_new_songs th.mediumno,
#layout-main div.addsongcollectionrel_all div.massadd_new_songs th.trackno,
#layout-main div.addsongcollectionrel_all div.massadd_new_songs th.length
{
	width:7em;
}

#layout-main div.addsongcollectionrel_all div.massadd_new_songs th.name
{
	width:20%;
}

#layout-main div.addsongcollectionrel_all div.massadd_new_songs th.anisonurl
{
	width:15em;
}

#layout-main div.addsongcollectionrel_all div.massadd_new_songs td input
{
	width:100%;
}

#layout-main div.addsongcollectionrel_all div.massadd_new_songs td
{
	padding: 2px 4px;
}