#layout-main div.addrelform span.main
{
	line-height:16px;
}

#layout-main div.addrelform ul.alt_titles li
{
	line-height:16px;
}

#layout-main div.addcharcharrel_all div.explanation div.description,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description,
#layout-main div.addcreatoranimerel_all div.explanation div.description
{
	background-color:#F4F4F4;
	border:1px solid #D1D7DC;
	margin:1em 0;
	padding:4px;
}

#layout-main div.addcharcharrel_all div.explanation div.description dl + dl,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dl + dl,
#layout-main div.addcreatoranimerel_all div.explanation div.description dl + dl
{
	border-top:1px solid #D1D7DC;
	margin-top:0.25em;
	padding: 0.25em 0;
}

#layout-main div.addcharcharrel_all div.explanation div.description dl,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dl,
#layout-main div.addcreatoranimerel_all div.explanation div.description dl
{
	margin:0;
	text-align:left;
	width:100%;
}

#layout-main div.addcharcharrel_all div.explanation div.description dt,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dt,
#layout-main div.addcreatoranimerel_all div.explanation div.description dt
{
	width: 30em;
}

#layout-main div.addcharcharrel_all div.explanation div.description dd,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dd,
#layout-main div.addcreatoranimerel_all div.explanation div.description dd
{
	margin-left: 31em;
}

#layout-main div.addcreatoranimerel_all div.massadd textarea
{
	width:45%;
	height: 200px;
}

#layout-main div.addcreatoranimerel_all div.massadd div + div
{
	margin-top:0.5em;
}

#layout-main div.addcreatoranimerel_all div.explanation
{
	margin-top:1em;
}