#layout-main #htmltagcloud
{
	text-align: justify;
	line-height: 1;
	margin-left:2em;
	margin-right:2em;
	padding: 1.5em;
}

#layout-main #htmltagcloud span
{
	line-height:25px;
	white-space: nowrap;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

#layout-main #htmltagcloud span.tagcloud0 { font-size: 9px;}
#layout-main #htmltagcloud span.tagcloud1 { font-size: 10px;}
#layout-main #htmltagcloud span.tagcloud2 { font-size: 11px;}
#layout-main #htmltagcloud span.tagcloud3 { font-size: 12px;}
#layout-main #htmltagcloud span.tagcloud4 { font-size: 14px;}
#layout-main #htmltagcloud span.tagcloud5 { font-size: 16px;}
#layout-main #htmltagcloud span.tagcloud6 { font-size: 18px;}
#layout-main #htmltagcloud span.tagcloud7 { font-size: 19px;}
#layout-main #htmltagcloud span.tagcloud8 { font-size: 20px;}
#layout-main #htmltagcloud span.tagcloud9 { font-size: 21px;}
#layout-main #htmltagcloud span.tagcloud10 { font-size: 22px;}
#layout-main #htmltagcloud span.tagcloud11 { font-size: 23px;}
#layout-main #htmltagcloud span.tagcloud12 { font-size: 24px;}
#layout-main #htmltagcloud span.tagcloud13 { font-size: 25px;}
#layout-main #htmltagcloud span.tagcloud14 { font-size: 26px;}
#layout-main #htmltagcloud span.tagcloud15 { font-size: 27px;}
#layout-main #htmltagcloud span.tagcloud16 { font-size: 28px;}
#layout-main #htmltagcloud span.tagcloud17 { font-size: 29px;}
#layout-main #htmltagcloud span.tagcloud18 { font-size: 30px;}
#layout-main #htmltagcloud span.tagcloud19 { font-size: 31px;}
#layout-main #htmltagcloud span.tagcloud20 { font-size: 32px;}
#layout-main #htmltagcloud span.tagcloud21 { font-size: 33px;}
#layout-main #htmltagcloud span.tagcloud22 { font-size: 34px;}
#layout-main #htmltagcloud span.tagcloud23 { font-size: 35px;}
#layout-main #htmltagcloud span.tagcloud24 { font-size: 36px;}

#layout-main div.animetag_all div.animetag_list table
{
	width:95%;
}

#layout-main div.animetag_all div.animetag_list table th
{
	width:5%;
}

#layout-main div.animetag_all div.animetag_list table th.name
{
	width:50%;
}

#layout-main div.animetag_all div.animetag_list table th.action,
#layout-main div.animetag_all div.animetag_list table th.date
{
	width:20%;
}

#layout-main div.animetag_all div.animetag_list table td.globalcnt,
#layout-main div.animetag_all div.animetag_list table td.spoiler,
#layout-main div.animetag_all div.animetag_list table td.approval
{
	text-align: center;
}

#layout-main div.animetag_all div.animetag_list table + div.spoiler
{
	margin-top: 1.5em;
}