#layout-main div.test_all div.block
{
margin-right: 17.2em;
}

#layout-main div.test_all div.block + div.block
{
margin-top: 3em;
}

#layout-main div.test_all div.block h4
{
font-size: 2em;
text-align: left;
}

#layout-main div.test_all div.block table
{
width: 100%;
}

#layout-main div.test_all div.block th.anime
{
width: 40%;
}

#layout-main div.test_all div.block th.group
{
width: 30%;
}

#layout-main div.test_all div.block td.status
{
width: 20em;
}

#layout-main div.test_all div.block td.episode
{
width: 5em;
text-align: right;
}

#layout-main div.test_all div.block td.action
{
width: 3em;
}