#layout-main div.test_all div.content
{
	margin-right: 17.2em;
}

#layout-main div.test_all div.content + div.content
{
	margin-top: 3em;
}

#layout-main div.test_all div.content h4
{
	font-size: 1.5em;
	text-align: left;
}

#layout-main div.test_all div.content table
{
	width: 100%;
}

#layout-main div.test_all div.content td.anime
{
	width: 40%;
}

#layout-main div.test_all div.content td.group
{
	width: 30%;
}

#layout-main div.test_all div.content td.info
{
	width: 20em;
}

#layout-main div.test_all div.content td.info a.fid
{
	float:left;
	margin-right:0.5em;
}

#layout-main div.test_all div.content td.episode
{
	width: 5em;
	text-align: right;
}

#layout-main div.test_all div.content td.action
{
	width: 3em;
}