#layout-main div.mywishlist_all table th.comment
{
	min-width: 20%;
}

#layout-main div.mywishlist_all table th.title
{
	width: 98%;
}

#layout-main div.mywishlist_all div.filter_menu div.settings
{
	margin-top: 0.5em;
}
