#layout-main div.block
{
	width: 100%;
	margin-top: 0.5em;
	display: block;
}
#layout-main div.block > div.image
{
	float: left;
	width: 49%;
	overflow: hidden;
	text-align: right;
	margin-right: 1em;
	margin-bottom: 1em;
}
#layout-main div.block > div.data
{
	float: left;
	width: 49%;
	text-align: left;
	margin-bottom: 1em;
}
#layout-main .css_style + p
{
	clear: left;
}
#layout-main div.block + div.desc
{
	clear: left;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	padding: 0.3em;
}


#layout-main div.block div.data table
{
	width:100%;
	margin: 0;
}

#layout-main div.block div.data table th
{
	width: 10em;
}