#layout-main div.block
{
	width: 100%;
	display: table;
}
#layout-main div.block div.image /*IE*/
{
	float: left;
	margin-left: 2em;
}
#layout-main div.block > div.image
{
	float: none;
	display: table-cell;
	vertical-align: top;
	padding-right: 1em;
	text-align: right;
	/*width: 40%;*/
}
#layout-main div.block > div.data
{
	display: table-cell;
	/*width: 60%;*/
	height: 100%;
}
#layout-main div.block > div.data > div
{
	display: table;
	height: 100%;
}
#layout-main div.desc
{
	clear: left; /*IE*/
}
#layout-main div.block + div.desc
{
	clear: none;
	margin-top: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.3em;
}
