#layout-main div.edit_actions
{
	float:right;
	margin-top:-1.5em;
	margin-right:2em;
}

#layout-main div.edit_actions span:before
{
	content: "[";
}
#layout-main div.edit_actions span:after
{
	content: "]";
}

#layout-main div.edit_actions span + span:before
{
	content:" - [";
}

#layout-main div.anime_all ul.links_top,
#layout-main div.creator_all ul.links_top,
#layout-main div.character_all ul.links_top
{
	display:none;
}