#layout-main div.g_menu
{
	float: right;
	margin-bottom: 1em;
}

#layout-main div.g_menu ul
{
	margin-top: 2px;
}

#layout-main div.g_menu ul li
{
	padding: 1px 6px 1px 6px;
}

#layout-main div.g_menu ul.state
{
	height: 15px;
	padding-top: 2px;
	padding-bottom: 1px;
}

#layout-main div.g_menu ul.state li
{
	float: left;
	padding: 0px 2px 0px 1px;
}

#layout-main div.g_menu ul.state + ul
{
	clear: left;
}

#layout-main div.g_menu.mylist_menu
{
	width: 15.8em;
	margin-left:1em;
}

#layout-main div.g_menu.wishlist_menu div.wishlistfilters,
#layout-main div.g_menu.wishlist_menu div.filestatefilters,
#layout-main div.g_menu.mylist_menu div.filestatefilters
{
	margin-top:1em;
}

#layout-main div.g_menu.wishlist_menu div.filters ul li,
#layout-main div.g_menu.wishlist_menu div.filestatefilters ul li,
#layout-main div.g_menu.wishlist_menu div.wishlistfilters ul li,
#layout-main div.g_menu.mylist_menu div.filters ul li,
#layout-main div.g_menu.mylist_menu div.filestatefilters ul li
{
    padding:5px;
}

#layout-main div.g_menu.wishlist_menu label,
#layout-main div.g_menu.mylist_menu label
{
    display:block;
}

#layout-main div.g_menu.wishlist_menu div.user span.user,
#layout-main div.g_menu.mylist_menu div.user span.user
{
    float: none;
    margin-top: 2px;
    height: 14px;
    display:block;
}

#layout-main div.g_menu.wishlist_menu p,
#layout-main div.g_menu.mylist_menu p
{
    margin-top: 0.2em;
}