/* Tabs */

#layout-tabs
{
	margin-left: 165px;
	padding: 1em;
	padding-bottom: 0;
	margin-top: 0;
	padding: 0;
}

#layout-tabs ul
{
	margin-left: 6px;
	display: inline;
	cursor: pointer;
	border: none;
	background-color: inherit;
}
#layout-tabs ul li
{
	display: inline;
	padding: 1px 6px 1px 6px;
	border: 1px #867f6a solid;
	border-bottom: 0;
}
#layout-tabs ul li:hover,
#layout-tabs ul li.selected
{
	background-color: silver;
}
#layout-tabs ul li.selected
{
	border-bottom: 2px solid #inherit;
}

#layout-tabs ul li+li
{
	margin-left: 6px;
}
