#layout-content div.addanimetitle_form input[type="text"],
#layout-content div.addeptitle_form p input[type="text"]
{
	width: 21em;
}

#layout-content div.addseq_form p span.comment label,
#layout-content div.addseq_form p span.action,
#layout-content div.addanimetitle_form span.comment label,
#layout-content div.addeptitle_form span.comment label,
#layout-content div.addanimetitle_form span input,
#layout-content div.addeptitle_form p span input,
#layout-content div.recommendation_add span,
#layout-content div.recommendation_add textarea
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.4em;
}

#layout-content div.addanimetitle_form p span label,
#layout-content div.addeptitle_form p span label,
#layout-content div.addanimetitle_form p span.header,
#layout-content div.addeptitle_form p span.header
{
	display: none;
}

#layout-content div.addseq_form div.explanation
{
	margin-left: 2em;
	margin-right: 2em;
}