#layout-content div.latestanimes_form
{
	clear: both;
}

#layout-content div.latestanimes_form a
{
	margin: 1.3em;
}

#layout-content div.latestanimes_form form
{
	margin: 1em 0;
	text-align: center;
}

#layout-content div.latestanimes_form div
{
	display: inline;
}

#layout-content div.latestanimes_form form input.year
{
	width: 2.5em;
}

#layout-content div.latestanimes_anime
{
	clear: left;
	padding-left: 10%
}

#layout-content div.latestanimes_anime img
{
	display: block;
	width: 15em;
	margin: -2em 1em 1em 1em;
	float: left;
}

#layout-content div.latestanimes_anime h3
{
	margin: 0.5em 0 0.5em 17.3em;
}
