#layout-content div.profile_all > div
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#layout-content div.profile_all div.css_style,
#layout-content div.profile_all div.languages
{
	display: table;
	margin-left: auto;
	margin-right: auto;
}


#layout-content div.profile_all > div > div,
#layout-content div.profile_all > div form > div
{
	display: table-cell;
}

#layout-content div.profile_all .g_info
{
	text-align: left;
}

#layout-content div.profile_all div.css_style div.info dl dt
{
	font-weight: bold;
}
#layout-content div.profile_all div.css_style div.info dl dd
{
	margin-left: 7em;
	width: 20em;
}

#style_thumbnail
{
  width: 220px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  padding: 3px;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

#image_viewer
{
  margin: 50px;
}