#layout-content div.g_menu
{
	float: right;
	margin-bottom: 1em;
}

#layout-content div.g_menu ul + ul
{
	margin-top: 2px;
}

#layout-content div.g_menu ul li
{
	padding: 1px 6px 1px 6px;
}

#layout-content div.g_menu ul.state
{
	height: 15px;
	padding-top: 2px;
	padding-bottom: 1px;
}

#layout-content div.g_menu ul.state li
{
	float: left;
	padding: 0px 2px 0px 1px;
}

#layout-content div.g_menu ul.state + ul
{
	clear: left;
}

#layout-content div.mylist_all div.g_menu li
{
	padding: 3px;
}
