#layout-content ul.g_navlist
{
	text-align: center;
}

#layout-content ul.g_navlist li
{
	display: inline;
	list-style: none outside;
}

#layout-content ul.g_navlist li.here
{
	font-style: italic;
         color: #FFFFFF;
}

#layout-content ul.g_navlist
{
	margin: 0 auto;
	padding: 0.3em;
	text-align: left;
	margin-bottom: 1em;
}

#layout-content ul.g_navlist li
{
	display: inline;
	list-style: none outside;
}