table
{
	border-collapse: separate;
}

table table
{
	border: none;
}

img, a
{
	border: none;
}

#layout-main .g_image image,
#layout-main .g_definitionlist
{
	padding: 1px;
}

#layout-main .block .g_definitionlist table
{
	border: none;
	margin: 0;
}

#layout-main div.avatar img,
#layout-main div.anime_all div.info div.image img
{
	border: 1px solid;
	border-color: #717377 #E8E9EC #E8E9EC #717377;
	padding: 1px;
}

#layout-main div.anime_all div.groups tr.header th,
#layout-main div.anime_all div.episodes tr.header th
{
	padding: 4px 1px 7px 1px;
	border-bottom: black 2px solid;
}

#layout-main table.eplist tr.files.episode td
{
	border-bottom: 1px solid gray;
}

#layout-main div.anime_all table.stafflist + table.stafflist,
#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top: 2px solid black;
}

#layout-main div.g_content
{
	border-top: 2px groove #BFC2CA;
	padding: 1em;
}

#layout-tabs li.selected a
{
	border-top: 1px solid #4A4A5A;
}

#layout-tabs ul li
{
	border-left: 1px solid #000008;
	border-right: 1px solid #000008;
	border-bottom: 1px solid #000008;
	border-top: none;
}

#layout-tabs ul li a
{
	border-left: 1px solid #D6DEE7;
	border-right: 1px solid #D6DEE7;
	border-bottom: 1px solid #D6DEE7;
	border-top: none;
}

#layout-tabs li.selected a
{
	border-top: 1px solid #4A4A5A;
}


.g_bubble
{
	border:1px solid #9A9CA1;
}

#layout-main div.tabbed_pane ul.tabs li
{
	border-left:1px solid #9A9CA1;
	border-right:1px solid #9A9CA1;
	border-top:1px solid #9A9CA1;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	border-bottom:1px double #b8bac0;
	border-left:1px solid #9A9CA1;
	border-right:1px solid #9A9CA1;
	border-top:1px solid #9A9CA1;
}

#layout-main div.animeatt_all div.review > h4,
#layout-main div.userpage_all > div.g_section > h4
{
	border-top: 1px solid black;
}

#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.g_timedentry div.body,
#layout-main div.animeatt_reviews div.review div.text,
#layout-main div.animeatt_all div.review > h4
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}

#layout-main div.userpage_all div.blog div.g_timedentry h4
{
	-moz-border-radius:0 10px 0 0;
	-webkit-border-radius:0 10px 0 0;
	border-radius:0 10px 0 0;
	border-top:none;
}

#layout-main div.userpage_all div.blog div.g_timedentry span.stamp
{
	border-top:1px solid;
}

#layout-main div.anime_all div.info div.caststaff div.cast,
#layout-main div.anime_all div.info div.caststaff div.staff
{
	background-color:#B8BAC0;
	border:1px solid #9A9CA1;
}

.g_bubble.stripe > div.data div.name,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.title
{
	border-color: #000000;
}