
#layout-content div.hint2_note
{
	text-align: center;
}

#layout-content div.hint2_hinter
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
}

#layout-content div.hint2_jscontrols
{
	float: right;
	padding: 0 0 0.5em 0;
}

#layout-content div.hint2_results
{
	clear: both;
}

#layout-content div.hint2_jscontrols h4
{
  border-top: 1px solid blue;
	background-color: #e5ecf9;
	color: #000000;
	font-weight: normal;
	margin: 0;
}

#layout-content div.hint2_jscontrols ul,
#layout-content div.hint2_jscontrols li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#layout-content div.hint2_hinter.jason form
{
	margin-right: 12em;
}

#layout-content div.hint2_hinter div.collapse *
{
	display: none;
}

#layout-content div.hint2_hinter *.g_note
{
	display: block;
}

#layout-content div.hint2_hinter.nonote *.g_note
{
	display: none;
}

#layout-content div.hint2_hinter h2
{
	font-size: 160%;
	margin: 0.5em 0 0 0;
}

#layout-content div.hint2_hinter li
{
	text-align: left;
}

#layout-content div.hint2_hinter label
{
	white-space: nowrap;
	line-height: 300%;
	padding: 0 0.3em 0 0.2em;
}

#layout-content div.hint2_hinter #Filter
{
	padding-bottom: 2em;
}

#layout-content div.hint2_hinter div.genre
{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0.5em;
	display: table;
}

#layout-content div.hint2_hinter div.genre label
{
	display: table-cell;
}

#layout-content div.hint2_hinter div.collapse div.genre
{
	display: none;
}

#layout-content div.hint2_hinter ol
{
	height: 8em;
	list-style: none;
	overflow: auto;
	padding: 0.8em;
	margin: 0;
	border: 2px inset white;
	background: white;
	width: 20em;
}

#layout-content div.hint2_hinter ol li
{
	list-style: none;
}

#layout-content div.hint2_hinter ol li input
{
	margin: 0.3em 0.3em 0 0;
}


#layout-content div.hint2_hinter label input
{
	width: 4em;
}

#layout-content div.hint2_hinter select input
{
	width: auto;
}
