@import "../common/normalize.css";
@import "../common/layout/default.css";
@import "../common/layout/common.css";
@import "../common/layout/global/all.css";
@import "../common/layout/page/all.css";
@import "../icons/all.css";
@import "../common/style/color/special.css";
@import "../common/style/text/default.css";
@import "../common/style/content/page-anime.css";


/* FMA specific styles */
@import "style-content.css";
@import "style-icons.css";
@import "style-flags.css";
@import "global.css";
@import "layout.css";

/* container - right sidebar */
div.main_all div.rightbar {
	float: right;
	width: 25%;
	background: #fcfafb url(images/layout/mamimi.png) no-repeat right top;
	padding: 14em 0 0;
	font-size: 0.95em;
	border: 1px solid #e4e4e4;
	border-right-color: #d5cccc;
	border-bottom-color: #d5cccc;
}

/* rightbar elements */
div.main_all div.rightbar h3 {
	color: #666666;
	padding: 0.3em 0.75em;
	margin: 1.5em 0 0;
	font-size: 1.3em;
	background-color: #FEF9E9;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FCECBC;
	border-bottom-color: #FCECBC;
}
div.main_all div.rightbar h4 {
	color: #2b5288;
	padding: 0.3em 1em;
	font-size: 1.1em;
	font-weight: bold;
}
div.main_all div.rightbar p {
	margin: 1em;
	background: transparent url(images/layout/trans-white.png) repeat left top;
	border-color: #ffdafc;
	padding: 0.5em 0.2em;
	margin: 0;
	text-align: center;
}
div#layout-content div.rightbar p.g_vital a, 
div#layout-content div.rightbar p.g_vital a:link, 
div#layout-content div.rightbar p.g_vital a:visited {
	border-bottom: 1px dotted #fd0576;
	color: #fd0576;
	font-weight: bold;
}
div#layout-content div.rightbar p.g_vital a:hover, 
div#layout-content div.rightbar p.g_vital a:active {
	color: #d90085;
	border-bottom: 1px dotted #d90085;
}

/* rightbar top 10 lists */
div.main_all div.rightbar ol {
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}
div.main_all div.rightbar ol:last-child {
	margin-bottom: 0;
}
div.main_all div.rightbar ol li {
	padding: 0.3em;
	padding-left: 1em;
	list-style: none;
	position: relative;
	border-bottom: 1px solid #e4e4e4;
}
div.main_all div.rightbar ol li span {
	position: absolute;
	top: 0.3em;
	left: 1em;
}
div.main_all div.rightbar ol li.g_odd {
	background: #fff;
}

div.main_all div.rightbar ol li a {
	margin-left: 20%;
	display: table;
	border-bottom: none !important;
}

/* container - news */
div.main_all div.news {
	margin: 0 28% 1em 0;
	padding: 0.5em 1em;
}

/* news item elements */
div.main_all div.newsitem {
	padding-left: 40px;
	background: transparent url(images/layout/flower1.png) no-repeat left top;
	border-bottom: 1px solid #f3e7ff;
	padding-bottom: 1.2em;
}
div.main_all div.news h4 {
	margin-top: 0.7em;
	margin-bottom: -0.1em;
	font-size: 1.5em;
	color: #000;
}
div.main_all div.news span.stamp {
	display: block;
	color: #859efd;
	padding: 0.2em;
	font-size: 0.85em;
}
div.main_all div.newsitem:last-child {
	border-bottom: 0;
}


#layout-main h1 {
	font-weight:bold;
	font-size:1.5em;
	margin: 0 0 0.3em 0.5em;
	color: #2B5288;
	width:auto;
	text-align: left;
}



/* news item elements */
div.main_all div.newsitem {
	padding-left: 30px;
	background: transparent url(images/layout/newsitem.png) no-repeat left top;
}
div.main_all div.news h4 {
	font-size:1.2em;
}

#layout-main div.block > div.image {
	width: 49%;
	}
#layout-main div.block > div.data {
	width: 49%;
	}

#layout-main div.block div.data div.tabbed_pane table,
#layout-main div.block div.data > div > table{
	width: 99%;
}

#layout-main div.main_all div.news p.comment
{
	float: right;
	margin: -2em 0 0 0;
	padding-left: 20px;
	background: transparent url(images/layout/yellow_cmnt.gif) no-repeat left center;
}

/*Timed Entry: from sub-zakura*/

#layout-main div.g_timedentry
{
	margin-bottom: 2em;
}

#layout-main div.g_timedentry
{
	min-height: 174px;
	/*IE*/
	height: auto !important;
	height: 174px;
}

#layout-main div.g_timedentry h4
{
	padding: 0.1em;
	margin: 0px;
	text-align: left;
}

#layout-main div.g_timedentry div.avatar
{
	float: right;
	margin: 10px;
	display:inline;
}

#layout-main div.g_timedentry div.body
{
	padding: 0.2em;
	text-align: left;
}

#layout-main div.g_timedentry span.stamp
{
	display: block;
	text-align: right;
	padding-right: 0.5em;
}

#layout-main div.g_timedentry span.stamp span.icons.user
{
	float: right;
	margin-top: -1.5em;
}

#layout-main div.cmt_entries div.comment
{
	text-align:left;
	min-height:0pt;
	margin-bottom:1em;
	border: 1px solid #D1D7DC;
}

#layout-main div.cmt_entries dl.profile
{
	border-right: 1px solid #D1D7DC;
	display:inline;
	float:left;
	margin:0pt 8px 8pt 8pt;
	min-height:80px;
	width:15em;
}

#layout-main div.cmt_entries dl.profile dd
{
	clear:none;
	float:none;
	margin-left:0em;
	color:#666666;
}

#layout-main div.cmt_entries dl.profile dd.user
{
	padding-top:4px;
}

#layout-main div.cmt_entries dl.profile dd strong
{
	color:#000000;
}

#layout-main div.cmt_entries dl.profile dd.user_icons span.icons
{
	float: none;
}

#layout-main div.cmt_entries div.postbody div.content
{
	margin-left: 17em;
}

#layout-main div.cmt_entries div.postbody p.author
{
	margin:0pt 15em 0.6em 0pt;
	padding:2pt 0pt 5px;
}

#layout-main div.cmt_entries div.postbody span.actions a
{
	float:right;
	margin-top: 4px;
}

#layout-main div.cmt_entries div.postfooter
{
	clear:both;
	height:11px;
	text-align:right;
	padding-bottom:0.9em;
}

#layout-main div.cmt_entries div.postfooter a.i_top
{
	display:block;
	float:right;
}

#layout-main div.cmt_entries a.username-colored
{
	color:#AA0000;
	font-weight:bold;
}

#layout-main div.cmt_entries hr
{
	border-color: #D1D7DC;
	border-style: solid none none;
	border-width: 1px 0pt 0pt;
	clear: both;
	display: block;
	height: 1px;
	margin: 5px 0pt;
}

/** TABS **/

#layout-main div.tabbed_pane div.body
{
	border:1px solid #565AB9;
}
#layout-main div.tabbed_pane div.body div.* {
	left: 0px;
}

#layout-tabs ul.main-tabs li:hover,
#layout-tabs ul.main-tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	background-color:#FFFFFF;
	color:#2B5288;
	border-bottom:1px double #FFFFFF;
}

#layout-tabs ul.main-tabs li,
#layout-main div.tabbed_pane ul.tabs li
{
	color:#FFFFFF;
	background-color:#EFF3FA;
	border:1px solid #565AB9;
	padding: 4px;
}

div.pagination span a
{
	border: 1px solid rgb(86, 90, 185);
	background-color: rgb(86, 90, 185);
	color: rgb(255, 255, 255);
}

div.pagination span a:hover,
div.pagination span strong
{
	border: 1px solid rgb(53, 58, 143);
	background-color: rgb(53, 58, 143);
	color: #FFFFFF;
}


/*TABS*/
#layout-content
{
	margin-top: 1.2em;
}

#layout-tabs { 
	display: block;
	/*margin-top: -1.8em;*/
	padding-left: 18px;
}
#layout-tabs ul.main-tabs{ 
	margin-top: -1.8em;
}

#layout-tabs ul.main-tabs li { 
	background-color: #353A8F;
	padding: 4px 4px 2px 4px;
	line-height: 1.6em;
	text-transform: capitalize;
	color: white;
	line-height: 01.6em;
	padding-left: 02px;
	display: inline;
}

#layout-tabs ul li a.selected,
#layout-tabs ul.main-tabs li.selected a 
{
	background-color: transparent;
}

#layout-tabs ul li a.selected,
#layout-tabs ul.main-tabs li a
{
	color: white;
}

#layout-tabs ul.main-tabs li a:hover,
#layout-tabs ul.main-tabs li:hover,
#layout-tabs ul.main-tabs li.selected,
#layout-tabs ul.main-tabs li.selected a
{
	background-color: #565AB9;
	color: white;
}

#layout-tabs ul.main-tabs li a,
#layout-main div.tabbed_pane ul.tabs li
{
	padding: 0.3em 0.5em;
}

/*epbar colors*/
#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
	background-color:#c6c3ff;
	border-bottom: 2px solid #c6c3ff;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
	background-color:#6361ff;
	border-bottom: 2px solid #6361ff;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
	border-bottom: 2px solid #00ff00;
}


#layout-main div.anime_all div.info div.caststaff div.cast table,
#layout-main div.anime_all div.info div.caststaff div.staff table
{
	border: none;
}

#layout-main div.anime_all div.info div.caststaff div.cast,
#layout-main div.anime_all div.info div.caststaff div.staff
{
	border:1px solid #565AB9;
}