#layout-main div.forum div.g_bubble.threads
{
	background-color:#305C97;
}

#layout-main div.forum ul.topics li.row
{
	background-color:#DDE6ED;
}

#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover
{
	background-color:#CBD6DE;
}

#layout-main div.forum ul.topiclist dd
{
	border-left-color:#FFFFFF;
}

#layout-main div.forum li.row
{
	border-bottom-color:#00608F;
	border-top-color:#FFFFFF;
}

#layout-main div.forum ul.topics
{
	border-left-color: #305C97;
	border-right-color: #305C97;
}

#layout-main div.forum div.signature
{
	border-top-color: #CCCCCC;
}

#layout-main div.forum div.signature,
#layout-main div.forum div.navbar div.inner div.bottom
{
	border-top-color:#305C97;
}

#layout-main div.forum div.navbar div.inner div.bottom
{
	border-color: #FFFFFF;
}

#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.events,
#layout-main div.forum div.g_bubble.comment,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.forum ul.topics li.g_odd.row
{
	background-color:#EFF3FA;
}

#layout-main ul.format-modes
{
	background-color: inherit;
}