/*---------------------------------
				@GLOBAL
	- menus			- pagination
	- sections		- forms
	- image replacement
----------------------------------*/

/* setup */
body {
	font-family: "Lucida Grande","Lucida Sans Unicode",helvetica,sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 9pt;
	color: #696969;
	background: none;
	background-color: #111214;
}

/* page titles */
h1 {
	font-weight:bold;
	font-size:1.4em;
	margin: 0 0 0.3em 0.5em;
	color: #2B5288;
	text-align: left;
}
h4 {
	color: #A03439;
	font-size:1.3em;
	margin-bottom: 0.3em;
	text-align: left;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*h1, h2, h3, h4 {
	margin: 0;
}*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img, :link img, :visited img {
	border: 0;
}

a {
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.s_small {
	font-size: 0.9em;
}

abbr {
	cursor: help;
}

/*tabbing pane*/
#layout-main div.tabbed_pane ul.tabs {
	margin: 1px 1px 2px 6px;
}

#layout-main div.info div.tabbed_pane ul.tabs {
	margin: 1px 1px 3px 6px;
}
#layout-main div.profile_all div.tabbed_pane,
#layout-main div.profile_all div.preferences {
	width: auto;
}
#layout-main div.tabbed_pane + h4 + div.tabbed_pane {
	padding-top: 0.5em;
}

