/*---------------------------------
				@LAYOUT
	- main nav		- structure
	- user login	- quick search
----------------------------------*/

/* container - main nav, login, & search */
#layout-nav {
	background: #fff url(images/layout/bg-header.jpg) repeat-x left top;
	height: 166px;
}

/* container - main nav links & login */
#layout-menu {
	
	background: transparent url(images/layout/header.jpg) no-repeat left top;
	padding-top: 164px;
	padding-left: 12px;
}

/* jk: Sub Menu container for group of menu items*/

#layout-menu li.sub-menu{
	width: 108px;
	background-color: #111214;
	font-size: 1.1em;
	font-family: "Century Gothic",Arial, Helvetica, sans-serif;
}

/* main nav link lists */
#layout-menu ul {
	border: 1px solid #252628;
	border-bottom-color: #252628;
	border-right-color: #252628;
	line-height: 1.5;
	margin-bottom: 1em;
}

#layout-menu ul li {
	color: #bcbcbc;
	background-color: #0d0d0f;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #252628;
}

#layout-menu ul li:last-child {
	border-bottom: none;
}

span.link,
#layout-menu a, 
#layout-menu a:link, 
#layout-menu a:visited {
	text-decoration: none;
	text-transform: capitalize;
	color: #bcbcbc;
	padding: 0.2em 0.7em;
	padding: -1px;
	display: block;
}
span.link:hover,
#layout-menu a:hover, 
#layout-menu a:active {
	background-color:#252628;
	color: #ffffff;
}

/* jk: Account Menu */ 
#layout-menu #menu-account {
	margin: 0;
	position:absolute;
	top: 0;
	right:1em;
	left: auto;
	height: 55px;
	min-height: 55px; 
	border: none;
	text-align: right;
	width: auto;
}

#layout-menu #menu-account li {
	display:inline;
	margin:0; padding:0;
	vertical-align: bottom; 
}

#layout-menu #menu-account li a {
	float:left;
	margin:0;
	text-decoration:none;
	vertical-align: bottom;
	height: 55px;
	padding: 43px 15px 4px;
} 
#layout-menu #user-name a span {
	text-transform: none;
	color:#FFFFFF;
}

#layout-menu #user-name a:hover,
#layout-menu #user-name a:active {
	background: transparent url(images/layout/top_hover.jpg) repeat left top;
}

#layout-menu #user-profile a,
#layout-menu #user-profile a:link,
#layout-menu #user-profile a:visited {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	border: none;
	background: none;
}

#layout-menu #user-profile a:hover,
#layout-menu #user-profile a:active {
	background: transparent url(images/layout/top_hover.jpg) repeat left top;
	border: none;
}

#layout-menu #user-logout a,
#layout-menu #user-logout a:link,
#layout-menu #user-logout a:visited {
	font-weight:bold;
	color: #ffffff;
	border: none;
	background: none;
}

#layout-menu #user-logout a:hover,
#layout-menu #user-logout a:active {
	background: transparent url(images/layout/top_hover.jpg) repeat left top;
	border: none;
}

#menu-account .alert a,
#menu-account .alert a:link,
#menu-account .alert a:visited {
	color: #ffffff;
	font-weight: bold;
	margin-left: 0.5em;
	border: none;
	background: none;
}

#menu-account .alert a:hover,
#menu-account .alert a:active {
	background: transparent url(images/layout/top_hover.jpg) repeat left top;
	border: none;
}

#menu-account .alert a.history,
#menu-account .alert a.history:link,
#menu-account .alert a.history:visited,
#menu-account .alert a.nextnotify,
#menu-account .alert a.nextnotify:link,
#menu-account .alert a.nextnotify:visited {
	color: #ffffff;
	border: 0;
}

#menu-account .alert a.history:hover,
#menu-account .alert a.history:active,
#menu-account .alert a.nextnotify:hover,
#menu-account .alert a.nextnotify:active  {
color: #cccccc;
}
#menu-account li.alert
{
white-space: nowrap;
}
/* my nav */
#layout-menu #menu-private {
	border: 1px solid #061335;
	border-bottom-color: #061335;
	border-right-color: #061335;
}

#layout-menu #menu-private li {
	border-bottom-color: #061335;
}

#layout-menu #menu-private a,
#layout-menu #menu-private a:link,
#layout-menu #menu-private a:visited {
	color: #bcbcbc;
}

#layout-menu #menu-private a:hover,
#layout-menu #menu-private a:active {
	color: #ffffff;
	background-color: #061335;
}
/* mylistreport */
#layout-menu #menu-mod {
border: 1px solid #460000;
border-bottom-color: #460000;
border-right-color: #460000;
}

#layout-menu #menu-mod li {
border-bottom-color: #460000;
}

#layout-menu #menu-mod a,
#layout-menu #menu-mod a:link,
#layout-menu #menu-mod a:visited {
color: #bcbcbc;
}

#layout-menu #menu-mod a:hover,
#layout-menu #menu-mod a:active {
color: #ffffff;
background: #460000;
}

/* help link */
#layout-menu #menu-support li.help {
background: transparent url(images/buttons/help-static.png) no-repeat 0.7em center;
}

#layout-menu #menu-support li.help a {
padding-left: 30px;
}

#layout-menu #menu-support  li.help a:hover,
#layout-menu #menu-support  li.help a:active {
color: #ffffff;
background: transparent url(images/buttons/help-static-red.png) no-repeat 0.7em center;
}

/* container - search */

#layout-search {
    position: absolute;
	top: 0;
	right: 1em;
	left: auto;
	width: 37em;
	margin-top: 103px;
	padding: 0;
}

#layout-search div.search p{
	text-align: right;
	font-size: 10pt;
	margin-top: 0.5em;
}

/* search - form */
#layout-search input.text
{
	padding:0.1em 0.3em;
	height: 1.5em;
	width: 16em;
}

#layout-search select,
#layout-search input.text
{
	color:#000033;
	border: 1px solid #EFF3FA;
}

#layout-search select:hover,
#layout-search input.text:hover
{
	border: 1px solid #565AB9;
}

#layout-search input.submit {
	height: 1.8em;
	padding-bottom: 0.2em;
	width: 4.5em;
}

/* container - content */
#layout-content {
	margin-left: 132px;
	margin-right: 1em;
	border-top: 1px solid #f8f7ff;
	background-color: #F5F5F5;
}

/* container - footer */
#layout-footer {
	margin-left: 132px;
	margin-right: 1em;
	
}

#layout-footer p {
	font-size: 0.8em;
	text-align: center;
	color: #FFFFFF;
	padding: 2em 0;
}
#layout-footer p:after {
	content: ". Design by jkaze.";
}

/*More Defaults!*/
body.nonav #layout-main {
	margin: 0 1em 1em 1em;
	padding: 0;
	background: transparent;
}

body.nonav form textarea {
	width: 99%;
}

/*rounded borders for stuff*/
h4,
*.g_button a,
*.g_msg,
div.quotebody,
div.spoiler,
#layout-main h1,
#layout-main div.tagcloud,
#layout-main div.catcloud,
#layout-main ul.g_list li,
#layout-main div.forum div.postbody dl.codebox,
#layout-main .latest_all .g_list.filter li,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.g_timedentry div.body,
#layout-main div.animeatt_reviews div.review div.text,
#layout-main div.tabbed_pane div.body,
#layout-main div.anime_all div.info div.caststaff div.cast,
#layout-main div.anime_all div.info div.caststaff div.staff,
#layout-main div.pagination span a,
#layout-main div.pagination span strong,
#layout-search input.text,
#layout-search input.submit,
span.test,
button,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
#layout-search select,
#layout-main div.format-buttons input,
#layout-main div.format-buttons select,
#layout-menu li.sub-menu ul,
.g_list.links,
.g_content,
div.main_all div.rightbar,
table,
#layout-content
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#layout-main div.userpage_all div.blog div.g_timedentry h4
{
	-moz-border-radius:0 10px 0 0;
	-webkit-border-radius:0 10px 0 0;
	border-radius:0 10px 0 0;
	border-top:none;
}

#layout-main div.anime_all div.info div.caststaff div h4,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs > li,
#layout-main div.main_all div.rightbar h4
{
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

#layout-main div.anime_all div.info div.caststaff div.cast table,
#layout-main div.anime_all div.info div.caststaff div.staff table
{
	border: none;
}

#layout-main div.anime_all div.info div.caststaff div.cast,
#layout-main div.anime_all div.info div.caststaff div.staff
{
	border: 1px solid #565AB9;
}

#layout-main div.forum div.threads,
#layout-main div.forum div.navbar
{
	font-size:80%;
}

#layout-main div.cmt_entries div.comment
{
	font-size:90%;
}

div.pagination span strong,
div.pagination span a
{
	padding: 1px 4px;
}