a.descending {
	padding-left: 11px; background: url(images/icons/order-descending.gif) no-repeat center left;
}
a.ascending {
	padding-left: 11px; background: url(images/icons/order-ascending.gif) no-repeat center left;
}
a.inactive {
	padding-left: 11px; background: url(images/icons/order.gif) no-repeat center left;
}

.i_help {
	background: transparent url(images/buttons/ask2.gif) no-repeat left center;
	cursor: help;
	border: 0 !important;
	padding: 4px 8px;
}

.i_help:hover {
	background: transparent url(images/buttons/ask2_over.gif) no-repeat left center;
}

.i_down1, .i_up1		{background-position: -11px center;}
.i_nodown1, .i_down1	{background-image: url(images/icons/down.gif);}
.i_noup1, .i_up1		{background-image: url(images/icons/up.gif);}
.i_minus				{background-image: url(images/icons/minus.gif);}
.i_plus					{background-image: url(images/icons/plus.gif);}
.i_minus:hover			{background-image: url(images/icons/minus_over.gif);}
.i_plus:hover			{background-image: url(images/icons/plus_over.gif);}

/* file state */
.i_filestate_oncd		{background-image: url(images/icons/state-cd.png);}
.i_filestate_ondvd		{background-image: url(images/icons/state-dvd.png);}
.i_filestate_onhdd		{background-image: url(images/icons/state-hdd.gif);}
.i_filestate_other		{background-image: url(images/icons/state-unknown.gif);}

/* file attributes */
.i_comment,
.i_group_comment		{background-image: url(images/icons/comment.png); height: 15px !important; background-position: center bottom !important;}

.i_new_icon				{background-image: url(images/icons/epfile-new.png);}
.i_uncensored			{background-image: url(images/icons/uncensored.gif);}
.i_video				{background-image: url(images/icons/video.gif);}
*.i_vrs_1
{
	background-image: url(images/icons/v1.png);
	height: 15px !important;
}

*.i_vrs_2
{
	background-image: url(images/icons/v2.png);
	height: 15px !important;
}

*.i_vrs_3
{
	background-image: url(images/icons/v3.png);
	height: 15px !important;
}

*.i_vrs_4
{
	background-image: url(images/icons/v4.png);
	height: 15px !important;
}

*.i_vrs_5
{
	background-image: url(images/icons/v5.png);
	height: 15px !important;
}


/* anime state */
.i_state_all			{background-image: url(images/icons/state-all.png);}
.i_state_deleted		{background-image: url(images/icons/state-del.png);}
.i_state_mixed			{background-image: url(images/icons/state-mixed.png);}
.i_state_oncd			{background-image: url(images/icons/state-cd.png);}
.i_state_onhdd			{background-image: url(images/icons/state-hdd.png);}
.i_state_unknown		{background-image: url(images/icons/state-unknown.png);}


/* seen */
.i_seen					{background-image: url(images/icons/state-seen.png);}
.i_seen_no				{background-image: url(images/buttons/seen-no.png);}
.i_seen_yes				{background-image: url(images/buttons/seen-yes.png);}

/* mylist */
.i_file_addmylist		{background-image: url(images/icons/mylist-add.png);}
.i_file_removemylist	{background-image: url(images/icons/mylist-remove.png);}
.i_mylist				{background-image: url(images/icons/state-inmylist.png);}

/* actions */
.i_file_add				{background-image: url(images/icons/epfile-add.gif);}
.i_ep_edit,
.i_file_edit			{background-image: url(images/icons/edit.png);}
.i_file_ed2k			{background-image: url(images/icons/ed2k.gif);}
.i_ep_vote				{background-image: url(images/icons/vote.gif);}
.i_group_vote			{background-image: url(images/icons/vote.gif);}
.i_vote					{background-image: url(images/icons/vote.gif);}



/* rating */
.i_rate_veryhigh,
.i_rate_high,
.i_rate_med,
.i_rate_low,
.i_rate_verylow {
	background-repeat: repeat-x !important;
	background-position: left !important;
	padding: 0 !important;
	background-image: url(images/icons/star.png);
}

.i_rate_veryhigh		{width: 45px !important;}
.i_rate_high			{width: 37px !important;}
.i_rate_med				{width: 30px !important;}
.i_rate_low				{width: 22px !important;}
.i_rate_verylow			{width: 15px !important;}
.i_rate_unknown		{
	background-image: url(images/icons/star-un.png);
	padding: 0 !important;
	height: 15px !important;
}

img[src*="anidb_pri_low.gif"] {
	background: transparent url(images/icons/priority-low.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_pri_med.gif"] {
	background: transparent url(images/icons/priority-med.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_pri_high.gif"] {
	background: transparent url(images/icons/priority-high.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_notify.gif"] {
	background: transparent url(images/icons/notify.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_nonotify.gif"] {
	background: transparent url(images/icons/notify-no.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}

img[src*="anidb_no_vote.gif"] {
	background: transparent url(images/icons/vote-no.gif) no-repeat left 3px;
	width: 0;
	padding-left: 5px;
	height: 16px;
}


/*----
Buttons
----*/
/*Reviews*/
*.i_review_add
{
	width: 78px;
	height: 16px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(images/buttons/postreview.jpg);
}
/*Comments*/
*.i_comment_add
{
	width: 108px;
	height: 16px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(images/buttons/cmnt_post.jpg);
}
*.i_comment_quote
{
	width: 61px;
	height: 16px;
	margin: 3px;
	background-image: url(images/buttons/cmnt_quote.jpg);
}
*.i_comment_creq
{
	width: 126px;
	height: 16px;
	margin: 3px;
	background-image: url(images/buttons/cmnt_cerq.jpg);
}
*.i_comment_edit
{
	width: 45px;
	height: 16px;
	margin: 3px;
	background-image: url(images/buttons/cmnt_edit.jpg);
}
*.i_comment_delete
{
	width: 64px;
	height: 16px;
	margin: 3px;
	background-image: url(images/buttons/cmnt_delete.jpg);
}
*.i_top
{
	width: 11px;
	height: 11px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(images/buttons/icon_back_top.gif);
}