*.i_audio_al
{
	background-image: url(images/flags/nu_audio_albanian.png);
}

*.i_sub_al
{
	background-image: url(images/flags/nu_sub_albanian.png);
}

*.i_audio_ar
{
	background-image: url(images/flags/nu_audio_arabic.png);
}

*.i_sub_ar
{
	background-image: url(images/flags/nu_sub_arabic.png);
}

*.i_audio_bg
{
	background-image: url(images/flags/nu_audio_bulgarian.png);
}

*.i_sub_bg
{
	background-image: url(images/flags/nu_sub_bulgarian.png);
}

*.i_audio_ca
{
	background-image: url(images/flags/nu_audio_catalan.gif);
}

*.i_sub_ca
{
	background-image: url(images/flags/nu_sub_catalan.gif);
}

*.i_audio_cs
{
	background-image: url(images/flags/nu_audio_czech.png);
}

*.i_sub_cs
{
	background-image: url(images/flags/nu_sub_czech.png);
}

*.i_audio_da
{
	background-image: url(images/flags/nu_audio_danish.png);
}

*.i_sub_da
{
	background-image: url(images/flags/nu_sub_danish.png);
}

*.i_audio_de
{
	background-image: url(images/flags/nu_audio_german.png);
}

*.i_sub_de
{
	background-image: url(images/flags/nu_sub_german.png);
}

*.i_audio_et
{
	background-image: url(images/flags/nu_audio_estonian.png);
}

*.i_sub_et
{
	background-image: url(images/flags/nu_sub_estonian.png);
}

*.i_audio_es
{
	background-image: url(images/flags/nu_audio_spanish.png);
}

*.i_sub_es
{
	background-image: url(images/flags/nu_sub_spanish.png);
}

*.i_audio_el
{
	background-image: url(images/flags/nu_audio_greek.png);
}

*.i_sub_el
{
	background-image: url(images/flags/nu_sub_greek.png);
}

*.i_audio_en
{
	background-image: url(images/flags/nu_audio_english.png);
}

*.i_sub_en
{
	background-image: url(images/flags/nu_sub_english.png);
}

*.i_audio_fi
{
	background-image: url(images/flags/nu_audio_finnish.png);
}

*.i_sub_fi
{
	background-image: url(images/flags/nu_sub_finnish.png);
}

*.i_audio_fr
{
	background-image: url(images/flags/nu_audio_french.png);
}

*.i_sub_fr
{
	background-image: url(images/flags/nu_sub_french.png);
}

*.i_audio_he
{
	background-image: url(images/flags/nu_audio_hebrew.png);
}

*.i_sub_he
{
	background-image: url(images/flags/nu_sub_hebrew.png);
}

*.i_audio_hr
{
	background-image: url(images/flags/nu_audio_croatian.png);
}

*.i_sub_hr
{
	background-image: url(images/flags/nu_sub_croatian.png);
}

*.i_audio_hu
{
	background-image: url(images/flags/nu_audio_hungarian.png);
}

*.i_sub_hu
{
	background-image: url(images/flags/nu_sub_hungarian.png);
}

*.i_audio_id
{
	background-image: url(images/flags/nu_audio_indonesian.png);
}

*.i_sub_id
{
	background-image: url(images/flags/nu_sub_indonesian.png);
}

*.i_audio_is
{
	background-image: url(images/flags/nu_audio_icelandic.png);
}

*.i_sub_is
{
	background-image: url(images/flags/nu_sub_icelandic.png);
}

*.i_audio_it
{
	background-image: url(images/flags/nu_audio_italian.png);
}

*.i_sub_it
{
	background-image: url(images/flags/nu_sub_italian.png);
}

*.i_audio_ja
{
	background-image: url(images/flags/nu_audio_japanese.png);
}

*.i_sub_ja
{
	background-image: url(images/flags/nu_sub_japanese.png);
}

*.i_audio_ka
{
	background-image: url(images/flags/nu_audio_georgian.png);
}

*.i_sub_ka
{
	background-image: url(images/flags/nu_sub_georgian.png);
}

*.i_audio_ko
{
	background-image: url(images/flags/nu_audio_korean.png);
}

*.i_sub_ko
{
	background-image: url(images/flags/nu_sub_korean.png);
}

*.i_audio_la
{
	background-image: url(images/flags/nu_audio_latin.png);
}

*.i_sub_la
{
	background-image: url(images/flags/nu_sub_latin.png);
}

*.i_audio_lv
{
	background-image: url(images/flags/nu_audio_latvian.png);
}

*.i_sub_lv
{
	background-image: url(images/flags/nu_sub_latvian.png);
}

*.i_audio_lt
{
	background-image: url(images/flags/nu_audio_lithuanian.png);
}

*.i_sub_lt
{
	background-image: url(images/flags/nu_sub_lithuanian.png);
}

*.i_audio_my
{
	background-image: url(images/flags/nu_audio_malay.png);
}

*.i_sub_my
{
	background-image: url(images/flags/nu_sub_malay.png);
}

*.i_audio_nl
{
	background-image: url(images/flags/nu_audio_dutch.png);
}

*.i_sub_nl
{
	background-image: url(images/flags/nu_sub_dutch.png);
}

*.i_audio_no
{
	background-image: url(images/flags/nu_audio_norwegian.png);
}

*.i_sub_no
{
	background-image: url(images/flags/nu_sub_norwegian.png);
}

*.i_audio_pl
{
	background-image: url(images/flags/nu_audio_polish.png);
}

*.i_sub_pl
{
	background-image: url(images/flags/nu_sub_polish.png);
}

*.i_audio_pt
{
	background-image: url(images/flags/nu_audio_portuguese.png);
}

*.i_sub_pt
{
	background-image: url(images/flags/nu_sub_portuguese.png);
}

*.i_audio_pt-BR
{
	background-image: url(images/flags/nu_audio_brasilian.png);
}

*.i_sub_pt-BR
{
	background-image: url(images/flags/nu_sub_brasilian.png);
}

*.i_audio_ro
{
	background-image: url(images/flags/nu_audio_romanian.png);
}

*.i_sub_ro
{
	background-image: url(images/flags/nu_sub_romanian.png);
}

*.i_audio_ru
{
	background-image: url(images/flags/nu_audio_russian.png);
}

*.i_sub_ru
{
	background-image: url(images/flags/nu_sub_russian.png);
}

*.i_audio_sk
{
	background-image: url(images/flags/nu_audio_slovak.png);
}

*.i_sub_sk
{
	background-image: url(images/flags/nu_sub_slovak.png);
}

*.i_audio_sl
{
	background-image: url(images/flags/nu_audio_slovenian.png);
}

*.i_sub_sl
{
	background-image: url(images/flags/nu_sub_slovenian.png);
}

*.i_audio_sr
{
	background-image: url(images/flags/nu_audio_serbian.png);
}

*.i_sub_sr
{
	background-image: url(images/flags/nu_sub_serbian.png);
}

*.i_audio_sv
{
	background-image: url(images/flags/nu_audio_swedish.png);
}

*.i_sub_sv
{
	background-image: url(images/flags/nu_sub_swedish.png);
}

*.i_audio_ta
{
	background-image: url(images/flags/nu_audio_tamil.png);
}

*.i_sub_ta
{
	background-image: url(images/flags/nu_sub_tamil.png);
}

*.i_audio_tt
{
	background-image: url(images/flags/nu_audio_tartar.gif);
}

*.i_sub_tt
{
	background-image: url(images/flags/nu_sub_tartar.gif);
}

*.i_audio_th
{
	background-image: url(images/flags/nu_audio_thai.png);
}

*.i_sub_th
{
	background-image: url(images/flags/nu_sub_thai.png);
}

*.i_audio_tr
{
	background-image: url(images/flags/nu_audio_turkish.png);
}

*.i_sub_tr
{
	background-image: url(images/flags/nu_sub_turkish.png);
}

*.i_audio_uk
{
	background-image: url(images/flags/nu_audio_ukrainian.png);
}

*.i_sub_uk
{
	background-image: url(images/flags/nu_sub_ukrainian.png);
}

*.i_audio_vi
{
	background-image: url(images/flags/nu_audio_vietnamese.png);
}

*.i_sub_vi
{
	background-image: url(images/flags/nu_sub_vietnamese.png);
}

*.i_audio_x-in
{
	background-image: url(images/flags/nu_audio_instrumental.png);
}

*.i_audio_x-jat
{
	background-image: url(images/flags/nu_audio_japanese-transcription.png);
}

*.i_sub_x-jat
{
	background-image: url(images/flags/nu_sub_japanese-transcription.png);
}

*.i_audio_x-other
{
	background-image: url(images/flags/nu_audio_unknown.png);
}

*.i_sub_x-other
{
	background-image: url(images/flags/nu_sub_unknown.png);
}

*.i_audio_x-unk
{
	background-image: url(images/flags/nu_audio_unknown.png);
}

*.i_sub_x-unk
{
	background-image: url(images/flags/nu_sub_unknown.png);
}

*.i_audio_zh
{
	background-image: url(images/flags/nu_audio_chinese.png);
}

*.i_sub_zh
{
	background-image: url(images/flags/nu_sub_chinese.png);
}

*.i_audio_zh-x-yue
{
	background-image: url(images/flags/nu_audio_cantonese.png);
}

*.i_audio_zh-x-cmn
{
	background-image: url(images/flags/nu_audio_mandarin.png);
}

*.i_audio_zh-x-nan
{
	background-image: url(images/flags/nu_audio_taiwanese.png);
}

*.i_audio_zh-Hans
{
	background-image: url(images/flags/nu_audio_simplified.png);
}

*.i_sub_zh-Hans
{
	background-image: url(images/flags/nu_sub_simplified.png);
}

*.i_audio_zh-Hant
{
	background-image: url(images/flags/nu_audio_traditional.png);
}

*.i_sub_zh-Hant
{
	background-image: url(images/flags/nu_sub_traditional.png);
}