/*.g_content a,
.g_content a:link {
	color: #154ef4;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.g_content a:visited {
	color: #7264a6;
}

.g_content a:hover,
.g_content a:active {
	color: #4876fe;
	border-bottom: 1px dotted #4876fe;
}

.g_content td.action a,
.g_content th a,
.g_content th a img {
	color: white;
	border: 0 !important;
}*/

.g_content {
	border: 1px solid #f3e7ff;
	border-bottom-color: #dec9f2;
	border-right-color: #dec9f2;
	background: #fff;
}

div.g_content>* {
	margin: 1em;
}

div.latestanimes_anime:after,
div.anime_all div.info .block:after,
div.search_all div.search_results ul.g_list:after,
div.file_all div.file_info dl:after,
div.mylist_list form:after,
div.userpage_all div.stats:after,
div.userpage_all div.charts:after,
div.animeatt_all div.animeatt_reviews div.review:after,
div.agcmts_all div.agcmts_head:after {
content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}

/* pagination */
.g_list {
	text-align: center;
}

.g_list li {
	display: inline;
	color: #a03439;
	text-transform: capitalize;
}

.g_list li a,
.g_list li a:link,
.g_list li a:visited {
	color: #A03439;
}
/*changed*/
.g_content ul.g_list.jump li a,
.g_content ul.g_list.jump li a:link,
.g_content ul.g_list.jump li a:visited {
	text-decoration: none;
	color: #000000;
	padding: 0.2em 0.3em;
	font-size: 0.95em;
	font-weight: normal;
	background-color: #F5F5F5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #999999;
	border-left-color: #CCCCCC;
}

.g_content ul.g_list.jump li a:hover,
.g_content ul.g_list.jump li a:active {
	color: #A03439;
	border: 1px solid #CCCCCC;
        background:none;
}
/* changed */
.g_list li.prev {
	float: left;
	font-weight: normal;
        background:none;
}
/* changed */
.g_list li.next {
	float: right;
	font-weight: normal;
        background:none;
}
/* to remove */
.g_list li.all:before {
	content: "";
	color: #3d3e6e;
	text-transform: none;
	font-weight: normal;
}

/* list menu */
.g_menu {
	float: right;
	text-transform: capitalize;
	width: 11em;
}

.g_menu h4 {
	font-weight: normal;
	padding: 0 0.15em;
}

.g_menu ul li {
	border-top: 1px solid #EFF3FA;
	padding: 0.3em;
	position: relative;
}

.g_menu ul li.g_odd {
	background-color: #f5f7ff;
}

/* selects */
select.shuttle,
select.shuttle:hover,
select.shuttle:focus,
select option
{
color: #3d3e6e;
background: #e0ecfd;
}

select option[value="0"] {
color: #B14C7C;
}

/* form input buttons */
input[type="submit"], input[type="button"] {
	border: 1px solid #234470;
	color: #fff;
	background-color: #305C97;
	cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
background-color: #234470;
}

/* informational boxes */
.g_msg.note,
.g_note {
border: 1px solid #dfc8ec;
padding: 0.7em;
background: #EFF3FA;
color: #4d2f5f;
}

.g_msg.error,
.g_msg.warning {
    border: 1px solid #DD0000;
	padding: 0.7em;
	color: #000000;
	background-color: #FFE5E5;
	background-repeat:no-repeat;
	background-position:5px;
	min-height: 52px;
}

.g_msg.success {
border: 1px solid #2eb42e;
padding: 0.7em;
background: #e5ffe5;
}

.g_msg.error h3,
.g_msg.warning h3{
    color: #A03439;
}

.g_msg.success h3{
    color: #2eb42e;
}
.g_msg.error p,
.g_msg.warning p,
.g_msg.note p,
.g_note p,
.g_msg.success p {
	margin-left:50px;
}
.g_msg.error a,
.g_msg.warning a {
	text-decoration:underline;
    color: #FF0000;
}
.g_msg.error {
	background-image:url(images/layout/msgerror.png);
}
.g_msg.warning {
	background-image:url(images/layout/msgwarn.png);
}
.g_msg.note,
.g_note {
	background-image:url(images/layout/msgnote.png);
    background-repeat:no-repeat;
	background-position:5px;
	min-height: 52px;
}

.g_msg.success {
	background-image:url(images/layout/msginfo.png);
    background-repeat:no-repeat;
	background-position:5px;
	min-height: 52px;
}

.g_msg.note a,
.g_note a,
.g_msg.success a {
    text-decoration:underline;
    color: #006699;
}
.g_info {
clear: both;
padding: 0.7em;
background: #fcfcfc;
border: 1px solid #e0e0e0;
color: #777;
}

.g_msg.note h3,
.g_note h3,
.g_msg.error h3,
.g_info h3,
.g_msg.warning h3 {
margin: 0 0 -0.5em;
}

.g_msg.note>*:last-child,
.g_note>*:last-child,
.g_msg.error>*:last-child,
.g_info>*:last-child,
.g_msg.warning>*:last-child {
margin-bottom: 0;
}

.g_msg.note>*:first-child,
.g_note>*:first-child,
.g_msg.error>*:first-child,
.g_info>*:first-child,
.g_msg.warning>*:first-child {
margin-top: 0;
}

/* actionlist */
.g_list.links {
	padding: 0.3em 1em 0.4em;
	border: 1px solid #CCCCCC;
	background-image: none;
	text-align: center;
	text-transform: capitalize;
	clear: both;
	background-color: #EEEEEE;
}

.g_list.links li {
display: inline;
margin: 0 0.7em;
}

/* text fields */
input[type="text"], input[type="password"], input.text, textarea, select {
background:#fafafa;
border: 1px solid #cfd0d1;
padding: 0.2em;
}

input[type="text"]:focus, input[type="text"]:hover,
input[type="password"]:focus, input[type="password"]:hover,
input.text:focus, input.text:hover,
textarea:focus, textarea:hover,
select:focus,
select:hover
{
border: 1px solid #a1aab2;
background: #fdfdfd;
}

/* definition list tables */
.g_definitionlist table {
border: 0;
}

.g_definitionlist table td {
padding: 0.2em;
border-top: 1px solid #EFF3FA;
border-bottom: 0;
}

.g_definitionlist table th {
background-color: transparent;
padding: 0.2em;
color: #3362A2;
border-top: 1px solid #EFF3FA;
vertical-align: middle;
}

.g_definitionlist table table,
.g_definitionlist table table * {
border: none;
}

/* default tables */
table  {
border: 1px solid #565ab9;
}

table tr {
background-color: #fff;
}

table tr.g_odd {
background-color: #f5f7ff;
}

table th {
text-align: left;
background-color: #305C97;
color: #fff;
font-weight: normal;
text-transform: capitalize;
padding: 0.3em 0.4em;
vertical-align: bottom;
}

table td span.count {
color: #8f95ae;
}

table td {
font-size: 0.95em;
border-bottom: 1px dotted #d3d7e2;
padding: 0.3em 0.4em;
}

div.mylist_list table.animelist td td,
div.anime_all div.episodes table.eplist td td,
div.anime_info td td {
font-size: 1em;
}

div.mylist_list table.animelist td.action,
div.anime_all div.episodes table.eplist td.action.expand,
div.anime_all div.episodes table.eplist td.action.collapse {
padding-left: 1.2em;
vertical-align: baseline;
}

table td.date {
color: #422C34;
}

div.anime_all div.episodes table td[colspan="10"] table {
border-width: 0 0 0 1px;
}

div.mylist_list table td[colspan="7"],
div.anime_all div.episodes table td[colspan="10"] {
padding: 0;
padding-left: 20px;
background: #D9E3F2;
}

div.mylist_list table td[colspan="7"] td[colspan="7"],
div#layout-main div.anime_all div.episodes table td[colspan="10"] td[colspan="10"] {
background: #fff url(images/layout/stripe-ltblue.gif) repeat left top;
padding: 0.2em 0.4em;
text-align: center;
}

div.mylist_list table table,
div.anime_all div.episodes table.filelist {
width: 100%;
border-left: 1px solid #a9b0e1;
}

div.mylist_list table.eplist th,
div.anime_all div.episodes table.filelist th {
background-color: #a9b0e1;
font-size: 0.95em;
}

div.mylist_list td.icons.file span {
float: left;
padding: 0 2px;
}

div.mylist_list table.filelist,
div.anime_all div.episodes table.filelist {
border-collapse: separate;
border-spacing: 1px;
}

table.filelist tr.generic td,
table.filelist tr.generic td {
background-color: #fff !important;
color: #422C34;
font-weight: bold;
}

table.filelist td[colspan="11"] i {
display: block;
text-align: center;
color: #000;
font-style: normal;
}

/* list tables */
table .g_list {
margin: 1em 0;
}

div.animelist_all table.anime_list,
div.grouplist_all table.group_list,
div.userlist_all table.users,
div.producerlist_all table.producer_list {
width: 100%;
}

.g_list.filter {
text-align: right;
}

div.grouplist_list th.rating {
width: 8em;
}

/* js sorting */
th.c_set,
th.c_setlatin,
th.c_date,
th.c_latin,
th.c_number {
cursor: pointer;
background-image: url(images/buttons/updown.gif);
background-position: right center;
background-repeat: no-repeat;
padding-right: 16px;
}

th.c_set:hover,
th.c_setlatin:hover,
th.c_date:hover,
th.c_latin:hover,
th.c_number:hover {
background-color: #22416A;
}

th.s_forward, th.s_reverse {
background-color: #305C97;
padding-right: 18px;
}

th.s_forward {
background-image: url(images/buttons/down2.gif);
}

th.s_reverse {
background-image: url(images/buttons/up2.gif);
}

/* anime list rating */
div.animelist_all table.anime_list td.rating {
color: #aaa;
}

div.animelist_all table.anime_list td.rating.mid {
color: #444;
}

div.animelist_all table.anime_list td.rating.high {
color: #000;
font-weight: bold;
}

div.animelist_all table.anime_list td.rating.low {
color: #999;
}

/* Group list */

div.anime_all div.groups .state.ongoing, div.anime_all div.groups .state.ongoing a		{color: #2618b1;}
div.anime_all div.groups .state.stalled, div.anime_all div.groups .state.stalled a		{color: #966319;}
div.anime_all div.groups .state.complete, div.anime_all div.groups .state.complete a	{color: #179023;}
div.anime_all div.groups .complete, div.anime_all div.groups .complete a				{font-weight: bold;}
div.anime_all div.groups .state.dropped, div.anime_all div.groups .state.dropped a		{color: #8d92a0;}

/* File Tables */
#layout-main table.filelist { background: #d3d7f3; }
#layout-main table.filelist td { background-color: #f7f7f7; }
#layout-main table.filelist tr.g_odd td { background-color: #f2f2f2; }
#layout-main table.filelist td.id {  padding-left: 16px; }
#layout-main table.filelist tr.good.g_odd td { background-color: #e9ffd8; }
#layout-main table.filelist tr.good td { background-color: #f0ffe3; }
#layout-main table.filelist tr.good td.id { 
background-image: url(images/layout/checkmark.png);
background-repeat: no-repeat;
background-position: 2px center;
}
#layout-main table.filelist tr.deprecated td { background-color: #ddd; }
#layout-main table.filelist tr.deprecated td.id {
background-image: url(images/layout/deprecated.png);
background-repeat: no-repeat;
background-position: 2px center;
}

div.quotebody {
	background-color: #F4F4F4;
	background-image: url(images/layout/quote.gif);
	background-repeat:no-repeat;
	background-position:5px 8px;
	border: 1px solid #D1D7DC;
}

div.quoteof {
margin-left: 18px;
}