*.i_tv_series
{
	width: 15px;
	height: 15px;
	background-image: url(../../../images/type_tv.gif);
}

*.i_movie
{
	width: 15px;
	height: 15px;
	background-image: url(../../../images/type_movie.gif);
}

*.i_ova
{
	width: 15px;
	height: 15px;
	background-image: url(../../../images/type_ova.gif);
}

*.i_web
{
	width: 15px;
	height: 15px;
	background-image: url(../../../images/type_web.gif);
}

*.i_tv_special
{
	width: 15px;
	height: 15px;
	background-image: url(../../../images/type_special.gif);
}

*.i_other, *.i_unknown
{
	width: 15px;
	height: 15px;
	background-image: url(../../../images/type_other.gif);
}

*.i_recap
{
	background-image: url(http://static.anidb.net/css/icons/icon/anidb_recap.gif);
}
