*.i_comment_add
{
	width: 96px;
	height: 25px;
	margin: 5px;
	background: transparent none no-repeat scroll 0pt;
	background-image: url(http://static.anidb.net/css/icons/test/comment_add_inactive.png);
	margin: 1.3em 0 1em 0;
}

*.i_review_add
{
	width: 96px;
	height: 25px;
	margin: 5px;
	background: transparent none no-repeat scroll 0pt;
	background-image: url(http://static.anidb.net/css/icons/test/review_add_inactive.png);
	margin: 1.3em 0 1em 0;
}
