*.f_button
{
	background-repeat: no-repeat;
	background-position: center;
	width: 21px;
	height: 21px;
	text-indent: -5000px;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid;
	border-color: #D6D3CE;
	background-color: #FFFFFF;
}

*.f_mouseover
{
	background-color: #B5BED6;
	border-color: #000000;
}

*.f_mouseout
{
	background-color: #FFFFFF;
	border-color: #D6D3CE;
}

*.f_selected
{
	background-color: #8492B5;
}

*.f_bold
{
	background-image: url(http://static.anidb.net/css/icons/formating/bold.gif);
}

*.f_italic
{
	background-image: url(http://static.anidb.net/css/icons/formating/italic.gif);
}

*.f_underline
{
	background-image: url(http://static.anidb.net/css/icons/formating/underline.gif);
}

*.f_strikethrough
{
	background-image: url(http://static.anidb.net/css/icons/formating/strikethrough.gif);
}

*.f_orderedlist
{
	background-image: url(http://static.anidb.net/css/icons/formating/orderedlist.gif);
}

*.f_unorderedlist
{
	background-image: url(http://static.anidb.net/css/icons/formating/unorderedlist.gif);
}

*.f_link
{
	background-image: url(http://static.anidb.net/css/icons/formating/link.gif);
}

*.f_separator
{
	background-image: url(http://static.anidb.net/css/icons/formating/separator.gif);
}

*.f_viewsource
{
	background-image: url(http://static.anidb.net/css/icons/formating/view_text.gif);
}

*.f_viewrte
{
	background-image: url(http://static.anidb.net/css/icons/formating/view_source.gif);
}

*.f_cleansource
{
	background-image: url(http://static.anidb.net/css/icons/formating/clean_source.gif);
}

*.f_buddy
{
	background-image: url(http://static.anidb.net/css/icons/formating/user.gif);
}

*.f_preview
{
	background-image: url(../../../images/f_preview.png);
}

*.f_spoiler
{
	background-image: url(../../../images/f_spoiler.png);
}
