*.i_help
{
	background: url(http://static.anidb.net/css/icons/orange/ask2.gif) no-repeat right;
	cursor: help; /* just for teh funs */
}

*.i_enlarge
{
	background-image: url(http://static.anidb.net/css/icons/enlarge.png);
	float: right;
	height: 11px;
	padding-top: 5px;
}

*.i_comment
{
	background-image: url(http://static.anidb.net/css/icons/icon/anidb_comment.gif);
}

*.i_report_entry,
*.i_no_vote
{
	background-image: url(http://static.anidb.net/css/icons/icon/anidb_no_vote.gif);
}

*.i_nonotify
{
	background-image: url(http://static.anidb.net/css/icons/icon/anidb_nonotify.gif);
}

*.i_notify
{
	background-image: url(http://static.anidb.net/css/icons/icon/anidb_notify.gif);
}

*.i_plus
{
	background-image: url(http://static.anidb.net/css/icons/orange/plus.gif);
}

*.i_minus
{
	background-image: url(http://static.anidb.net/css/icons/orange/minus.gif);
}

*.i_none
{
	background-image: url(http://static.anidb.net/css/icons/orange/none.gif);
}

*.i_nopic
{
	background-image: url(http://static.anidb.net/css/icons/orange/nopic.gif);
}

*.i_sort
{
  width: 5px;
	background-image: url(http://static.anidb.net/css/icons/orange/sort.gif);
}

*.i_vote
{
	background-image: url(http://static.anidb.net/css/icons/orange/anidb_vote.gif);
}

*.i_revote
{
	background-image: url(http://static.anidb.net/css/icons/orange/anidb_revote.gif);
}

*.i_arrow_up
{
	background-image: url(http://static.anidb.net/css/icons/test/arrow_up.png);
}

*.i_arrow_down
{
	background-image: url(http://static.anidb.net/css/icons/test/arrow_down.png);
}

*.i_arrow_inactive
{
	background-image: url(http://static.anidb.net/css/icons/test/arrow_inactive.png);
}

*.i_verified
{
	background-image: url(images/verified.png);
}

#layout-main th a.inactive
{
	background: url(http://static.anidb.net/css/icons/test/arrow_inactive.png) center left no-repeat;
	padding-left: 11px;
}

#layout-main th a.descending
{
	background: url(http://static.anidb.net/css/icons/test/arrow_down.png) center left no-repeat;
	padding-left: 11px;
}

#layout-main th a.ascending
{
	background: url(http://static.anidb.net/css/icons/test/arrow_up.png) center left no-repeat;
	padding-left: 11px;
}

.s_reverse
{
	text-decoration: underline;
}

.s_forward
{
	text-decoration: overline;
}
