*.i_wishlist_blacklist
{
	background-image: url(images/wishlist_blacklist.png);
}

*.i_wishlist_buddy
{
	background-image: url(images/wishlist_buddy.png);
}

*.i_wishlist_toget
{
	background-image: url(images/wishlist_toget.png);
}

*.i_wishlist_towatch
{
	background-image: url(images/wishlist_towatch.png);
}

*.i_wishlist_undefined
{
	background-image: url(images/wishlist_undefined.png);
}
