#layout-search ul.acdropdown
{
background-color:transparent;
background-image: url(images/bg_1.gif);
border:1px solid #85878C;
color: white;
}
#layout-search ul.acdropdown li:nth-child(2n+1)
{
background-image: none;
background-color: hsla(0, 0%, 0%, 0.4);
}

#layout-search ul.acdropdown li:hover,
#layout-search ul.acdropdown li.selected
{
color: #ADD8E6;
background: transparent url(images/whitepixel.png);
font-weight: normal;
}
