@import "../icons/icon.css";
@import "../icons/anime.css";
@import "../icons/awards.css";
@import "../icons/comment-grey.css";
@import "../icons/ep.css";
@import "../icons/file.css";
@import "../icons/flags.css";
@import "../icons/general.css";
@import "../icons/group.css";
@import "../icons/mylist.css";
@import "../icons/rate.css";
@import "../icons/silk.css";
@import "../icons/videostream.css";
@import "../icons/wishlist.css";
.i_expanded
{
background-image: url(../icons/grey/formatting/icon_contract.png);
}
.i_collapsed
{
background-image: url(../icons/grey/formatting/icon_expand.png);
}
.i_plus
{
background-image: url(../icons/grey/plus.gif);
}

*.i_minus
{
background-image: url(../icons/grey/minus.gif);
}
*.i_help
{
background-image: url(../icons/grey/ask2.gif);
}
*.i_group_vote,
*.i_ep_vote,
*.i_vote
{
background-image: url(../grey/images/anidb_vote.gif);
}
*.i_group_revote,
*.i_ep_revote,
*.i_revote
{
background-image: url(../grey/images/anidb_revote.gif);
}
*.i_crc_no
{
background-image: url(../grey/images/anidb_crc_no.gif);
}
*.i_crc_yes
{
background-image: url(../grey/images/anidb_crc_yes.gif);
}
*.i_crc_unv
{
background-image: url(../grey/images/anidb_crc_unv.gif);
}
*.i_av_yes
{
background-image: url(../grey/images/anidb_av_yes.gif);
}
*.i_revote
{
background-image: url(../grey/images/anidb_revote.gif);
}