table
{
	border-collapse: separate;
}

table table
{
	border: none;
}

img, a
{
	border: none;
}

#layout-content .g_image image,
#layout-content .g_definitionlist
{
	padding: 1px;
}

#layout-content .g_block .g_definitionlist > table
{
	border: none;
	margin: 0;
}

#layout-content div.anime_all div.episodes tr.heading th
{
	padding: 4px 1px 7px 1px;
	border-bottom: black 2px solid;
}

#layout-content div.anime_all div.episodes tr.newtype td
{
	border-top: black 2px solid;
}