html, tr
{
	background-color:#FFFFFF;
}

select,
input[type="text"]
{
	background-color:#272D43;
	border:1px solid #BFC2C9;
	color:#FFFFFF;
}

a:visited, a:active, a:hover, a:link
{
	color: #1979BE;
	text-decoration: none;
}

#layout-content div.anime_all div.mylist th,
#layout-content table.grouplist th,
#layout-content tr.g_odd,
#layout-content li.g_odd,
#layout-content span.g_odd
{
	background-color: #FAE287;
}

#layout-content div.main_all div.news h4,
#layout-content div.main_all div.news h4 a,
#layout-content div.main_all div.news p.comment,
#layout-content div.main_all div.news p.comment a,
#layout-content div.main_all div.rightbar h4,
#layout-content div.main_all div.news span.stamp,
#layout-content div.agcmts_entries div.comment h4
{
	color: #FFFFFF;
}

#layout-content div.main_all div.news h4,
#layout-content div.main_all div.rightbar h4,
#layout-content div.agcmts_entries div.comment h4
{
	background-color: #3496DA;
}

span.link,
#layout-menu a:link,
#layout-menu a:visited
{
	color: #000000;
}

span.link:hover,
#layout-menu a:active
{
	color: #ff0000;
}

#layout-menu #newnotifies
{
	color: white; /* text color - notifies */
}

#layout-menu #newmessages
{
	display: block;
	color: white;
}

#layout-menu a.history:link,
#layout-menu a.history:visited,
#layout-menu a.history:active,
#layout-menu a.history:hover
{
	color: #FFE681; /* text color - history link */
}

#menu-account #user-name a span
{
	color: white;
}

#layout-content div.agcmts_entries div.comment a:link,
#layout-content div.agcmts_entries div.comment a:hover,
#layout-content div.agcmts_entries div.comment a:active,
#layout-content div.agcmts_entries div.comment a:visited
{
	color: #FFFFFF; /* Link color in comments */
	font-weight: bold;
}

#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul li
{
	background-color: #FAE287;
	color: black;
}

#layout-tabs ul li a
{
	color: black;
}

#layout-tabs ul li:hover,
#layout-tabs ul li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	background-color: #338fd2;
	color: white;
}

#layout-tabs ul li a:hover,
#layout-tabs ul li.selected a
{
	color: white;
}

#layout-content table.filelist tr.deprecated
{
	background-color: #999999;
}

#layout-main div.tabbed_pane div.body
{
	background-color:#FAE287;
}

#layout-main div.tabbed_pane ul.tabs li.tab
{
	background-color:#E8DDB3;
}

#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover
{
	background-color:#FAE287;
	color:#000000;
}

#layout-main div.tagcloud,
#layout-main div.anime_all div.desc,
#layout-main div.desc
{
	background-color:#FAE287;
}

.g_bubble.stripe,
.g_bubble,
.g_bubble .g_bubble  .g_bubble
{
	background-color: #FAE287;
}

.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble
{
	background-color: #E8DDB3;
}

#layout-main div.main_all div.rightbar h4,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	background-color:#3496DA;
	color: #FFFFFF;
	border: none;
	padding:2px;
}
