@import "base.css";
@import "images.css";

body,
#layout-menu
{
	font-size: 10px;
}

#layout-content div.anime_all div.mylist th.anime
{
	width: 300px;
}

#layout-footer:after
{
	content: "design by b1nh"
}

/*disable new features until it's styled properly by the actual css dev if he wants to use it*/
#layout-tabs {
	display: none;
}