@import "base.css";
@import "images.css";

body,
#layout-menu
{
	font-size: 10px;
}

#layout-content div.anime_all div.mylist th.anime
{
	width: 300px;
}

#layout-footer:after
{
	content: "design by b1nh"
}

#layout-search div.search form.random
{
	display:none;
}

#layout-main
{
	margin-top: 1em;
}