@import "common.css";
@import "layout.css";
@import "border.css";
@import "color.css";
@import "text.css";


#user-logout a
{
	background-image: url(images/button_logout.gif);
}

#user-profile a
{
	background-image: url(images/button_profile.gif);
}

body,
#layout-menu
{
	font-size: 10px;
}

.main_all .rightbar
{
	margin-top: 10px;
}

#layout-content div.anime_all div.mylist th.anime
{
	width: 300px;
}

#layout-footer:after
{
	content: "design by b1nh"
}

/*disable new features until it's styled properly by the actual css dev if he wants to use it*/
#layout-search select,
#layout-tabs {
	display:none;
}