#layout-nav
{
	background: url(../harustyle/images/topback.png) repeat-x top;
	height: 102px;
}

#layout-menu
{
	background: url(../harustyle/images/menu.jpg) no-repeat left 94px;
	padding: 146px 23px 0px 28px;
	height: 603px;
	width: 120px;
}

#user-logout a
{
	background-image: url(images/button_logout.gif);
}

#user-profile a
{
	background-image: url(images/button_profile.gif);
}

#layout-search div.search
{
	background: url(../harustyle/images/banner.png) no-repeat top left;
	height: 102px;
}

#layout-search div.search form
{
	background: url(../harustyle/images/searchbg.png) no-repeat 0px 77px;
}

#layout-search form input.submit
{
	background: url(../harustyle/images/button_search.gif) no-repeat top;
}
