html
{
	background: #FFFFFF url(images/menubg.jpg) repeat-y left;
}

body.nonav
{
	background: #BFC2C9;
}

#layout-menu
{
	position: absolute;
	top: 94px;
	left: 0;
	width: 100px;
	height: 603px;
	background: url(images/menu.jpg) no-repeat top left;
	padding: 44px 42px 0px 28px;
}

#menu-account
{
	position: absolute;
	top: 420px;
	left: 17px;
	line-height: 1.2;
}

/* Mylist Report */
#menu-mod
{
	display: none;
}

#layout-menu ul
{
	line-height: 1.2;
}

#layout-menu li
{
	padding: 0;
	text-indent: 0;
}

#layout-menu li.mymessages, #layout-menu li.mynotifies, #layout-menu li.mywishlist,
#layout-menu li.myvotes, #layout-menu li.myreviews, #layout-menu li.mydbentries,
#layout-menu li.mycreqs, #layout-menu li.up2date
{
	display: none;
}

#layout-menu ul.main, #layout-menu li.ed2kdump, #layout-menu ul.lists
{
	margin-bottom: 1.0em;
}

#layout-menu li.genre, #layout-menu li.genren
{
	display: inline;
}

#layout-menu li.help
{
	margin-bottom: 2px;
	display: block;
	text-indent: 15px;
	background-position:  left 50%;
	background-repeat: no-repeat;
	background-image: url(images/ask2.gif);padding-left:0; padding-right:0; padding-top:1px; padding-bottom:0
}

#layout-menu li.forum
{
	font-weight: bold;
}

#menu-account li
{
	width: 90px;
	text-align: center;
}

#user-profile a,
#user-logout a
{
	float: left;
	display: block;
	width: 42px;
	height: 12px;
	margin: 2px;
}

#user-profile a span,
#user-logout a span
{
	display: none;
}

#user-logout a
{
	background-image: url('images/button_logout.gif');
}

#user-profile a
{
	background-image: url('images/button_profile.gif');
}

#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	content: "!";
	color: red;
	padding: 0.2em;
}

#layout-menu #newmessages
{
	display: block;
}

#layout-search
{
	background: url(images/topback.png) repeat-x top;
	width: 100%;
	height: 102px
}

#layout-search select
{
	display: none;
}

#layout-search div.search
{
	background: url(images/banner.png) no-repeat top left;
	height: 102px
}

#layout-search div.search form
{
	display: block;
	float: right;
	background: url(images/searchbg.png) no-repeat 0px 77px;
	margin: 0;
	height: 70px;
	width: 15.2em;
	max-width: 152px; padding-left:0; padding-right:0; padding-top:70px; padding-bottom:0
}

#layout-search div.search form p
{
	margin: 0;
	padding: 0;
}

#layout-search form input.text
{
	display: block;
	float: right;
	font-size: 10px;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #272D43;
	border: #BFC2C9 1px solid;
	margin: 27px 3px 0 0;
	width: 90%;
}

#layout-search form input.submit
{
	display: block;
	float: right;
	background: url(images/button_search.gif) no-repeat top;
	font-size: 10px;
	border: 0px solid white;
	width: 63px;
	height: 14px;
	overflow: hidden;
	margin-right: 2.3em;
	content: ""; padding-left:0; padding-right:0; padding-top:14px; padding-bottom:0
}

#layout-content
{
	margin-left: 182px;
	padding-top: 0.5em;
}

#layout-content h1
{
	font-size: 16px;
	font-weight: bold;
	margin: 3px 0 18px 37px;
	text-align: left;
}

#layout-content div.g_section
{
	padding-top: 10px;
	clear: both;
}

#layout-footer
{
	margin-top: 19px;
	margin-left: 182px;
	text-align: center;
}

#layout-footer:after
{
	content: "design by b1nh"
}

#layout-content div.anime_all div.mylist th.anime
{
	width: 300px;
}