/* haruhistylex-v1.5 created by Benda_11 */

@import "../harustyle/harustyle.css";

/* s_tart m_ain */
html
{
	font-size: 10px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	background-image: url(images/background.png);
	background-attachment: fixed;
	background-position: bottom right;
	background-repeat: no-repeat;
}

/* e_nd m_ain */
/* s_tart s_earch */
#layout-nav
{
	background: url(../haruhistylex-v1.5/images/topback.png) repeat-x top;
	height: 106px;
}

#layout-search div.search
{
	background: url(../haruhistylex-v1.5/images/banner.png) no-repeat 190px top;
	height: 106px;
}

#layout-search div.search form
{
	background: url(../haruhistylex-v1.5/images/searchbg.png) no-repeat 0px 77px;
}

#layout-search form input.text
{
	width: 10.3em;
}

#layout-search form input.submit
{
	background: url(../haruhistylex-v1.5/images/button_search.gif) no-repeat top;
	margin-top: 3px;
	width: 63px;
}

#layout-search form input.submit:hover
{
	background: url(../haruhistylex-v1.5/images/button_search-hover.gif) no-repeat top;
}

/* e_nd s_earch*/
/* s_tart m_enu */
#layout-menu
{
	background: url(../haruhistylex-v1.5/images/menu.png) no-repeat left 94px;
	padding: 146px 23px 0px 28px;
	height: 603px;
	width: 120px;
}

#layout-menu ul
{
	line-height: 1.3;
	margin-bottom: 1em;
}

#layout-menu *,
#layout-menu a:hover
{
	color: #000000;
}

#layout-menu a:hover
{
	text-decoration: underline;
}

#layout-menu li.help
{
	background: url(../haruhistylex-v1.5/images/help.gif) no-repeat left 50%;
	text-indent: 15px;
	margin-bottom: 2px;
	padding:2px;
}

#menu-support {
	position: absolute;
	top: 500px;
}

#menu-account {
	position: absolute;
	top: 20px;
	left: 25px;
	z-index: 1;
}

#menu-mod
{
	display: block;
}

/* e_nd m_enu */
/* s_tart p_rofile */

#user-logout a
{
	background-image: url(../haruhistylex-v1.5/images/button_logout.gif);
}

#user-logout a:hover
{
	background-image: url(../haruhistylex-v1.5/images/button_logout-hover.gif);
}

#user-profile a
{
	background-image: url(../haruhistylex-v1.5/images/button_profile.gif);
}

#user-profile a:hover
{
	background-image: url(../haruhistylex-v1.5/images/button_profile-hover.gif);
}

#user-name
{
	font-weight: 200;
	font-size: 11pt;
	margin-bottom: 10px;
}

/* e_nd t_ext */
/* s_tart f_ooter */
#layout-footer
{
margin-top: 19px;
margin-left: 182px;
text-align: center;
clear: both;
}

#layout-footer:after
{
content: "HaruhiStyleX v.1.5b from TheJAG by Benda_11 (Based on HaruStyle by b1nh)"
}

/* e_nd f_ooter */