/* Style created by Benda_11 */

@import "harustyle.css";

/* s_tart m_ain */
html
{
	background-color: #FFFFFF;
	background-image: url('images/background.png');
	background-attachment: fixed;
	background-position: bottom right;
	background-repeat: no-repeat;
	font-size: 10px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

body {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
/* e_nd m_ain */

/* s_tart s_earch */
#layout-search div.search
{
	background: url('images/banner.png') no-repeat top left;
	height: 94px;
	margin-left: 190px;
}

#layout-search
{
	background: url('images/topback.png') repeat-x top;
	height: 94px;
	width: 100%;
	_margin-top: -705px;
}

#layout-search div.search form
{
	display: block;
	float: right;
	background: url('images/searchbg.png') no-repeat 0px 77px;
	margin: 0;
	height: 70px;
	width: 15.2em;
	max-width: 152px; padding-left:0; padding-right:0; padding-top: 70px; padding-bottom:0;
	/*margin-top: -727px;*/
	_margin-top: 0px;
}
#layout-search div.search form p
{
	margin: 0;
	padding: 0;
}

#layout-search form select.type
{
	display: none;
}

#layout-search form input.text
{
	display: block;
	float: right;
	font-size: 10px;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #272D43;
	border: #BFC2C9 1px solid;
	margin: 27px 3px 0 0;
	width: 10.3em;
}

#layout-search form input.submit
{
	display: block;
	float: right;
	background: url('images/button_search.gif') no-repeat top;
	font-size: 10px;
	border: 0px solid white;
	width: 63px;
	height: 10px;
	overflow: hidden;
	margin-right: 2.3em;
	margin-top: 3px;
	content: "";
	padding:	0;
	padding-top:14px;
}
/* e_nd s_earch*/

/* s_tart m_enu */
#layout-menu
{
	width: 500px;
	background: url('images/menu.png') no-repeat;
	float: left;
	margin-top: 114px;
	margin-left: 0px;
	height: 603px;
	margin-right: 0px;
}

#layout-menu li
{
	margin-left: -25px;
}

#layout-menu *,
#layout-menu a:hover
{
	color: #000000;
}
#layout-menu a:hover
{
	text-decoration: underline;
}
/* e_nd m_enu */

/* s_tart p_rofile */
#user-logout
{
	background-image: url('images/button_logout.gif');
	background-repeat: no-repeat;
	width: 42px;
	height: 12px;
}

#user-logout span {
	visibility: hidden;
}

#user-profile
{
	background-image: url('images/button_profile.gif');
	background-repeat: no-repeat;
	width: 42px;
	height: 12px;
}

#user-profile span {
	visibility: hidden;
}

#user-name
{
	font-weight: 200;
	font-size: 11pt;
	margin-bottom: 10px; 
}

#menu-account {
	position: absolute;
	top: 0px;
	left: 90%;
	float: right;
	margin-top: 5px;
	_margin-top: 20px;
}

#menu-account li {
	margin-top: 5px;
	_margin-left: 5px; 
}

#menu-support {
	padding-top: 70px;
}
/* e_nd p_rofile */

/* s_tart c_ontent*/
#layout-content
{
	margin-left: 182px;
	padding-top: 0.5em;
	float: right;
	margin-top: -553px;
}
/* e_nd c_ontent*/

/* s_tart t_ext */
#layout-main div.block
{
	display: block;
}

#layout-main div.block div.image
{
	display: table-cell;
	vertical-align: top;
	padding-right: 1em;
	text-align: right;
	width: 40%;
	width: auto;
	float: left;
	margin-left: 2em;
	_width: auto;
	margin: auto 0px auto 0px;
}

#layout-main div.block div.data
{
	display: table-cell;
	width: 60%;
	height: 100%;
}

#layout-main div.block div.data > div
{
	display: table;
	height: 100%;
}

#layout-main div.desc
{
	margin-top: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.3em;
	clear: left;
}
/* e_nd t_ext */

/* s_tart f_ooter */
#layout-footer
{
	margin-top: 19px;
	margin-left: 182px;
	text-align: center;
	clear: both;
}

#layout-footer:after
{
	content: "HaruhiStyleX v.1.5b from TheJAG by Benda_11 (Based on HaruStyle by b1nh)"
}
/* e_nd f_ooter */