/* Style created by Benda_11 */

@import "../harustyle/harustyle.css";

/* s_tart m_ain */
html
{
	background-color: #FFFFFF;
	background-image: url('images/background.png');
	background-attachment: fixed;
	background-position: bottom right;
	background-repeat: no-repeat;
	font-size: 10px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

/* e_nd m_ain */

/* s_tart s_earch */
#layout-search div.search
{
	background: url('images/banner.png') no-repeat top left;
	height: 94px;
	margin-left: 190px;
}

#layout-search
{
	background: url('images/topback.png') repeat-x top;
	height: 94px;
	width: 100%;
}

#layout-search div.search form
{
	background: url(images/searchbg.png) no-repeat 0px 77px;
	margin: 0;
	height: 70px;
	width: 15.2em;
	max-width: 152px;
	padding: 70px 0 0 0;
}

#layout-search form select.type
{
	display: none;
}

#layout-search form input.submit
{
	background: url(images/button_search.gif) no-repeat top;
	margin-top: 3px;
}
/* e_nd s_earch*/

/* s_tart m_enu */
#layout-menu
{
	background: url(images/menu.png) no-repeat left 94px;
}

#layout-menu ul {
	margin-bottom: 2em;
}

#layout-menu *,
#layout-menu a:hover
{
	color: #000000;
}
#layout-menu a:hover
{
	text-decoration: underline;
}
/* e_nd m_enu */

/* s_tart p_rofile */
#user-logout a
{
	background-image: url(images/button_logout.gif);
}

#user-profile a
{
	background-image: url(images/button_profile.gif);
}

#user-profile a,
#user-logout a{
	float: none;
}

#user-name
{
	font-weight: 200;
	font-size: 11pt;
	margin-bottom: 10px; 
}

#menu-account {
	top: 0;
	right: 0;
	left: auto;
	margin-top: 5px;
	width: 120px;
	z-index: 10;
}

#menu-account li {
	text-align: left;
	margin-top: 5px;
}

#menu-support {
	position: absolute;
	top: 506px;
	left: 25px;
}
/* e_nd p_rofile */

/* s_tart c_ontent*/
#layout-content h1, .g_content
{
	margin-bottom: 1.5em;
}

/* e_nd c_ontent*/

/* s_tart t_ext */
#layout-main div.block
{
	display: block;
}

#layout-main div.block div.image
{
	display: table-cell;
	vertical-align: top;
	padding-right: 1em;
	text-align: right;
	width: 40%;
	width: auto;
	float: left;
	margin-left: 2em;
	_width: auto;
	margin: auto 0px auto 0px;
}

#layout-main div.block div.data
{
	display: table-cell;
	width: 60%;
	height: 100%;
}

#layout-main div.block div.data > div
{
	display: table;
	height: 100%;
}

#layout-main div.desc
{
	margin-top: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.3em;
	clear: left;
}
/* e_nd t_ext */

/* s_tart f_ooter */
#layout-footer
{
	margin-top: 19px;
	margin-left: 182px;
	text-align: center;
	clear: both;
}

#layout-footer:after
{
	content: "HaruhiStyleX v.1.5b from TheJAG by Benda_11 (Based on HaruStyle by b1nh)"
}
/* e_nd f_ooter */