/* Style created by Benda_11 */

@import "../common/style/icons/awards.css";
@import "../common/layout/default.css";
@import "../common/layout/common.css";
@import "../common/layout/global/all.css";
@import "../common/layout/page/all.css";
@import "../common/style/icons/default.css";
@import "../common/style/icons/flags.css";
@import "../common/style/color/msgbox-default.css";
@import "../common/style/color/special.css";
@import "../common/style/text/default.css";
@import "../common/style/content/page-anime.css";
@import "../common/style/color/status-radioactive.css";

@import "harustyle-old.css";

/* s_tart m_ain */
html
{
background-color: #FFFFFF;
background-image: url('images/background.png');
background-attachment: fixed;
background-position: bottom right;
background-repeat: no-repeat;
font-size: 10px;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

body {
padding: 0px;
margin: 0px;
border: 0px;
z-index: 10;
}

/* e_nd m_ain */
/* s_tart s_earch */
#layout-search div.search
{
background: url('images/banner.png') no-repeat top left;
height: 94px;
margin-left: 190px;
}

#layout-search
{
background: url('images/topback.png') repeat-x top;
height: 94px;
width: 100%;
_margin-top: -705px;
}

#layout-search div.search form
{
display: block;
float: right;
background: url('images/searchbg.png') no-repeat 0px 77px;
margin: 0;
height: 70px;
width: 15.2em;
max-width: 152px; 
}

#layout-search div.search form p
{
margin: 0;
padding: 0;
margin-top: -17px;
_margin-top: -20px;
}

#layout-search form select.type
{
display: none;
}

#layout-search form input.text
{
display: block;
float: right;
font-size: 10px;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #ffffff;
background-color: #272D43;
border: #BFC2C9 1px solid;
margin: 27px 3px 0 0;
width: 10.3em;
}

#layout-search form input.submit
{
display: block;
float: right;
background: url('images/button_search.gif') no-repeat top;
font-size: 10px;
border: 0px solid white;
width: 63px;
height: 10px;
overflow: hidden;
margin-right: 2.3em;
margin-top: 3px;
content: "";
padding:	0;
padding-top: 14px;
}

#layout-search form input.submit:hover
{
background: url('images/button_search-hover.gif') no-repeat top;
width: 63px;
}

/* e_nd s_earch*/
/* s_tart m_enu */
#layout-menu
{
position: absolute;
top: 0px;
left: 0px;
background: url('images/menu.png') no-repeat;
height: 603px;
width: 190px;
margin-right: 0px;
float: left;
margin-top: 115px; /*xxx*/
margin-left: 0px;
margin-right: 0px;
z-index: 0;
}

#layout-menu li.sub-menu,
#layout-menu li.sub-menu ul,
#layout-menu li.sub-menu ul li
{
width: 150px;
}

#layout-menu li.sub-menu ul
{

}

#layout-menu li.sub-menu
{
margin-top: 45px;
margin-left: -50px;
_margin-left: -15px;
margin-bottom: -23px;
}

#layout-menu *,
#layout-menu a:hover
{
color: #000000;
}

#layout-menu a:hover
{
text-decoration: underline;
}

#layout-menu li.help
{
margin-bottom: 2px;
display: block;
text-indent: 15px;
background-position:  left 50%;
background-repeat: no-repeat;
background-image: url('images/help.gif');
padding:2px;
}
/* e_nd m_enu */
/* s_tart p_rofile */
#user-logout
{
background-image: url('images/button_logout.gif');
background-repeat: no-repeat;
width: 42px;
height: 12px;
}

#user-logout a:hover
{
text-decoration: none;
background-image: url('images/button_logout-hover.gif');
background-repeat: no-repeat;
width: 42px;
height: 12px;
}

#user-logout span {
visibility: hidden;
}

#user-profile
{
background-image: url('images/button_profile.gif');
background-repeat: no-repeat;
width: 42px;
height: 12px;
}

#user-profile a:hover
{
text-decoration: none;
background-image: url('images/button_profile-hover.gif');
background-repeat: no-repeat;
width: 42px;
height: 12px;
}

#user-profile span {
visibility: hidden;
}

#user-name
{
font-weight: 200;
font-size: 11pt;
margin-bottom: 10px;
}

#menu-account {
position: absolute;
top: 0;
left: 0;
margin-top: -100px;
}

#menu-account li {
margin-top: 5px;
_margin-left: 5px;
}

#menu-support {
padding-top: 80px;
}

/* e_nd p_rofile */
/* s_tart c_ontent*/
#layout-content
{
margin-left: 200px;
padding-top: 0.5em;
float: right;
margin-top: 0px;
z-index: 100;
}

/* e_nd c_ontent*/
/* s_tart t_ext */
#layout-main div.block
{
display: block;
}

#layout-main div.block div.image
{
display: table-cell;
vertical-align: top;
padding-right: 1em;
text-align: right;
width: 40%;
width: auto;
float: left;
margin-left: 2em;
_width: auto;
margin: auto 0px auto 0px;
}

#layout-main div.block div.data
{
display: table-cell;
width: 60%;
height: 100%;
}

#layout-main div.block div.data > div
{
display: table;
height: 100%;
}

#layout-main div.desc
{
margin-top: 1em;
margin-left: 2em;
margin-right: 2em;
padding: 0.3em;
clear: left;
}

/* e_nd t_ext */
/* s_tart f_ooter */
#layout-footer
{
margin-top: 19px;
margin-left: 182px;
text-align: center;
clear: both;
}

#layout-footer:after
{
content: "HaruhiStyleX v.1.5b from TheJAG by Benda_11 (Based on HaruStyle by b1nh)"
}

/* e_nd f_ooter */