div.animelist_all{
	max-width: 1000px;
	margin: auto;
}

table.animelist>tbody>tr>th.image{
	width: 50px;
}

table.animelist td.count{
	text-align: center;
}

table.animelist>tbody>tr>th.title{
	width: 350px;
}

table.animelist td.name>span.main{
	float: left	;
}