@import "../common/normalize.css";
@import "../common/layout/common.css";
@import "../common/layout/default.css";
@import "../common/layout/global/all.css";
@import "../common/layout/macro/collapsed.css";
/*@import "../common/layout/macro/separate.css";*/
@import "../common/layout/macro/tabs.css";
@import "../common/layout/page/all.css";

@import "../common/style/color/msgbox-default.css";
@import "../common/style/color/similar-anime-default.css";
@import "../common/style/color/special.css";
/*@import "../common/style/color/status-creme.css";/*
/*@import "../common/style/color/status-radioactive.css";*/
@import "../common/style/content/page-anime.css";
@import "../common/style/content/page-main.css";
@import "../common/style/text/default.css";
@import "../common/style/text/global-formatting.css";
@import "../common/style/text/page-latestanimes.css";
