dd.user{
	width: 105px !important;
	float: left !important;
	padding-top: 0 !important;
}
dd.user img{height: 100px; width: 100px;}
dd.user>a.username-colored{margin-bottom: 2px;}
dl.profile{
	width: 220px !important;
	margin: 0 !important;
}
dd>strong{color: white !important}
.postfooter {
	height:0 !important;
	position:relative;
	top:-20px;
	padding-bottom: 2px !important;
}

#layout-main div.comment {
	line-height: 1em !important;
	margin-bottom: 0 !important;
}

#layout-main div.cmt_entries div.postbody div.content {
	margin-left:240px !important;
}