#layout-content ul.g_navlist li
{
	padding: 0px;
}

#layout-content ul.g_navlist li:before
{
	content: " | "
}
#layout-content ul.g_navlist li:first-child:before
{
	content: "";
}
#layout-content ul.g_numonpage li:first-child:before
{
	content: "show: ";
}

#layout-content div.main_all h4
{
	font-size: 18px;
	line-height: 1.2;
	font-weight: normal;
}

#layout-content p.g_vital a
{
	color: red;
	font-weight: bolder;
}

#layout-content div.main_all div.news span.stamp
{
	font-size: 11px;
}

#layout-content div.main_all div.news span.stamp a
{
	font-weight: bold;
}

#layout-menu li.genren:before
{
	content: "(";
}

#layout-menu li.genren:after
{
	content: ")";
}

#layout-menu a {
 	font-size: 12px;
         font-weight: bold;
}

#layout-content div.g_definitionlist a {
         font-weight: bold;
}

#layout-menu div.usermenu #newnews
{
	font-size: 10px;
}