span.link,
a,
#layout-main div.forum div.g_bubble.poll div.question h2
{
color:#ADD8E6;
border-bottom-color:white;
}
form input[type="text"],
form input[type="checkbox"],
form input[type="password"],
form textarea,
form select,
select
{
color:white;
background-color:black;
}
tr > th,
#layout-main div.agcmts_entries div.comment h4,
#layout-main div.dbstats_all h4,
#layout-main div.stats_all h4,
#layout-main div.main_all h4,
#layout-main div.main_edit h4,
#layout-main div.news_all h4,
#layout-main div.news h4,
#layout-main div.main_all div.rightbar h4,
#layout-main div.blog h4,
#layout-main div.timeline_all div.timeline ul.row li.dropped
{
background-color:hsla(0, 100%, 25%, 0.4);
}
#layout-main tr > th.field,
#layout-main div.pane.account th,
#layout-main div.pane.default_languages div.titles th
{
background-color:transparent;
}
html,
#layout-content,
#layout-main div.quotebody div.quotebody:nth-of-type(2n+1),
#layout-main div.forum div.postbody div.code,
.g_bubble .g_bubble .g_bubble
{
background-image:url(../grey/images/bg_1.gif);
}
#layout-nav,#menu-main,#menu-lists,#menu-private,#menu-mod,#menu-support,#menu-account,
#layout-main div.forum div.body div.code div.text,
div.tooltip .g_bubble
{
background-image:url(../grey/images/bg_2.gif);
}
#layout-main div.g_msg.error,
#layout-main div.g_msg.warning,
#layout-main div.g_msg.note,
#layout-main div.g_msg.success,
#layout-content #layout-main div.tabbed_pane ul.contribute li.g_odd,
#layout-main div.addcharcharrel_all div.explanation div.description,
#layout-main div.addseq_all div.explanation div.description,
#layout-main div.addcharcharrel_all div.explanation div.description,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description,
#layout-main div.addcreatoranimerel_all div.explanation div.description,
#layout-main div.forum div.g_bubble.comment,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div.forum hr,
#adba_update,
#style_next,
#style_prev,
#remAudLang,
#addAudLang,
#remSubLang,
#addSubLang,
#results_back,
#results_submit,
input#addfilem\.next,
input#addfilem\.search,
input[type="submit"],
input[type="button"],
div.buttons li a,
.g_button a,
*.button,
button,
*.confirmButton,
tr.g_odd,
li.g_odd,
span.g_odd,
#layout-main div.votes_all div.graph div.group_odd,
#layout-main div.votes_all div.graph.eps div.g_odd,
#layout-content div.creq_all tr.revoked > td,
#layout-content div.creq_all tr.deleted > td,
#layout-content div.animeatt_reviews > div.review > h4,
#layout-content div.animeatt_reviews > div.review > div.text,
div.quotebody div.quote div.g_odd,
#layout-main div.chartags_all div.addbox div.tag-column h5,
#layout-main div.quotebody div.quoteof,
#layout-footer,
#layout-main div.timeline_all div.timeline ul.legend li span,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.block,
#layout-main div.pane.default_languages div.titles tr:nth-of-type(2n+1) > *
{
background-color:hsla(0, 0%, 0%, 0.4);
}
#layout-content table.animelist tr.mylist td,
#layout-content table.stafflist tr.mylist td,
#layout-main div.timeline_all div.timeline ul.row li.watching,
.g_bubble.stripe.mylist
{
background-color:hsla(34, 95%, 44%, 0.4);
}
#layout-content table.animelist tr.complete td,
#layout-content table.stafflist tr.complete td,
#layout-main div.forum div.poll div.pollbar,
#layout-main div.timeline_all div.timeline ul.row li.stalled,
.g_bubble.stripe.mylist.complete
{
background-color:hsla(207, 86%, 44%, 0.4);
}
#layout-content div.anime_all tr.good td,
#layout-content div.group_all tr.good td,
#layout-content div.ep_all tr.good td,
#layout-content tr.verified.yes td,
#layout-content tr.verified.yes th,
#layout-content div.mylist_list table table table tr.good td,
#layout-content div.myvotes_all table .high,
#layout-content div.producer_related_anime tr.mylist td,
#layout-content div.creq_all tr.granted td,
#layout-content div.creq_data ins,
#layout-content div.animeatt_reviews div.review.approved > h4,
#layout-content table.animelist tr.all_watched td,
#layout-content table.stafflist tr.all_watched td,
#layout-content #layout-main div.ed2kdump_all table.filelist .in,
#layout-main div.timeline_all div.timeline ul.row li.completed,
.g_bubble.stripe.mylist.all_watched
{
background-color:hsla(127, 54%, 25%, 0.6);
}
#layout-content div.myvotes_all table .low,
#layout-content div.animeatt_reviews div.review.disapproved > h4
{
background-color:hsla(0, 100%, 50%, 0.3);
}
#layout-main div.quotebody,
#layout-main div.forum div.postbody dl.codebox dt,
#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.events,
#layout-main div.export_all div.g_bubble.exportblock
{
background-image:url(../grey/images/bg_3.gif);
}
#layout-main table ul li.g_odd,
#layout-main table table td.g_odd,
#layout-main ul.g_list li.g_odd,
#layout-tabs .g_odd,
tr.action td.submit:hover
{
background:inherit;
}
#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul.main-tabs > li
{
border:1px solid #565656;
border-bottom-color:transparent;
color:gray;
}
#adba_update,
#style_next,
#style_prev,
#remAudLang,
#addAudLang,
#remSubLang,
#addSubLang,
#results_back,
#results_submit,
input#addfilem\.next,
input#addfilem\.search,
input[type="submit"],
input[type="button"],
div.buttons li a,
.g_button a,
*.button,
button,
*.confirmButton
{
color:#c1c1c1;
border-color:#565656;
}
span.time,
span.user a.id,
td.rating span,
td.vote.temp,
a.filter
{
color:#a1a1a1;
}
#layout-tabs ul.main-tabs > li a span
{
color:gray;
}
#layout-main div.tabbed_pane div.body,
#layout-main div.forum div.signature,
#layout-main div.forum div.navbar div.bottom,
#layout-tabs ul.main-tabs > li.selected,
#layout-main div.tabbed_pane ul.tabs > li.selected,
#layout-main div.tabbed_pane ul.tabs > li:hover,
#layout-tabs ul.main-tabs > li:hover
{
border:1px solid #121212;
}
html,
#tooltip,
#layout-nav a,
#layout-tabs ul.main-tabs > li a:hover span,
#layout-tabs ul.main-tabs > li.selected a span,
#layout-main div.tabbed_pane ul.tabs > li.selected,
#layout-main div.tabbed_pane ul.tabs > li:hover
{
color:white;
}
#layout-main > h1,
#layout-nav div.menu_hr,
#layout-main div.forum div.g_bubble.navbar div.bottom
{
border-top-color:#121212;
}
#layout-search form input.text,
#layout-nav li li:hover
{
background-color:hsla(0, 100%, 100%, 0.2);
}
#adba_update:hover,
#style_next:hover,
#style_prev:hover,
#remAudLang:hover,
#addAudLang:hover,
#remSubLang:hover,
#addSubLang:hover,
#results_back:hover,
#results_submit:hover,
input#addfilem\.next:hover,
input#addfilem\.search:hover,
*.button:hover,
div.buttons li a:hover,
.g_button a:hover,
*.confirmButton:hover,
button:hover,
*.submit:not(div):hover,
input[type="submit"]:hover,
input[type="button"]:hover
{
background-color:hsla(0, 100%, 25%, 0.8);
color:#ff6000;
border-color:#797979;
}
#layout-main div.g_msg.error
{
border:1px solid #c40d0d;
}
#layout-main div.g_msg.warning
{
border:1px solid #ff6000;
}
#layout-main div.g_msg.note
{
border:1px solid #575757;
}
#layout-main div.g_msg.success
{
border:1px solid #1D6125;
}
#menu-account li.alert > span > a:first-of-type:before,
#menu-account li.alert > span > a:first-of-type:after,
#layout-content div.group_all div.group_released table td.notalldumped,
#layout-nav #layout-menu li.alert > span,
#layout-main div.g_msg.error h3
{
color:red;
}
#layout-main div.g_msg.warning h3,
#layout-hint span a
{
color:#FF6000;
}
#layout-main div.g_msg.note h3
{
color:gray;
}
#layout-main div.g_msg.success h3
{
color:#2EB42E;
}
input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly] 
{
color:#898989;
}
#layout-main tr:hover th.field,
#layout-main div.pane.account th:hover,
tr:hover > *,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover,
#layout-main div.tabbed_pane div.pane table tr:hover > td,
#layout-main div.timeline_all div.timeline ul.row li:hover,
ul.contribute li:hover
{
background-image:url(../grey/images/whitepixel.png);
/*background-color:hsla(0, 100%, 100%, 0.2);*/
}
#layout-main div.forum ul.topics,
#layout-main div.forum li.row:last-of-type
{
border-color:hsla(0, 100%, 25%, 0.4);
}
#layout-main div.forum ul.topiclist li.header
{
background-color:hsla(0, 100%, 25%, 0.4);
}
#layout-main div.forum div.deleted,
#layout-main div.forum li.deleted dl.icon
{
opacity:0.5;
}
#tooltip span.top
{
background:url(../grey/images/bubble.png) no-repeat top;
}

#tooltip span.middle
{
background:url(../grey/images/bubble_filler.png) repeat bottom;
}

#tooltip span.bottom
{
background:url(../grey/images/bubble.png) no-repeat bottom;
}
#layout-main div.tagcloud span:nth-of-type(2n+1) a
{
color:#f1f1f1;
}
#layout-main div.tagcloud span:nth-of-type(2n+1) a:active,
#layout-main div.tagcloud span a:active
{
color:#ff6000;
}
#layout-main div.anime_all table.stafflist + table.stafflist,
#layout-main div.anime_all div.episodes tr.newtype td
{
border-top:1px dashed #c1c1c1;
}
#obj-tooltip
{
background-image:url(../grey/images/bg_2.gif);
color:white;
}
#obj-tooltip h1
{
display:none;
}
#obj-tooltip ul li,
#obj-tooltip ul
{
list-style-type:none;
margin:0;
padding:0;
text-align:left;
vertical-align:middle;
}
#layout-hint
{
background-image:url(../grey/images/bluepixel.png);
background-color:#262a2a;
border:0;
}
#layout-hint span a:hover
{
color:red;
}
#layout-main div.forum div.poll div.pollbar
{
border-color:#3c37a5;
}
#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
background-color:gray;
border-bottom:2px solid grey;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
background-color:#343434;
border-bottom:2px solid #515151;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
border-bottom:2px solid #008800;
}
#layout-nav li li:hover a
{
color:#ff6000;
}
div.spoiler,
#layout-main div.cmt_entries dl.profile,
#layout-main div.msg_all div.forum ul.topics dd.check,
#layout-main div.forum ul.topiclist dd,
#layout-main div.quotebody,
.g_bubble,
.g_bubble.stripe > div.data div.name,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.title,
.g_bubble.box > div.top div.name
{
border-color:gray;
}
#layout-main div.blog div.body,
.g_bubble.stripe,
.g_section > .g_bubble
{
background-color:hsla(0, 0%, 10%, 0.4);
}
#layout-main div.userpage_all div.charts div.mylisthistory div.image
{
background-color:hsla(0, 100%, 100%, 0.4);
}
#layout-main div.timeline_all div.timeline ul.legend li span
{
border:1px solid grey;
border-left-width:0;
}
#layout-main div.timeline_all div.timeline ul.legend li:first-of-type span
{
border-left-width:1px;
}
#layout-main div.timeline_all div.g_timeline ul.legend
{
margin-bottom:0.5em;
}
div.g_timeline
{
margin:auto;
max-height:none;
overflow:visible;
}
#layout-content div.mylist_list table.animelist tr.watching td
{
background-image:url(images/orangepixels.png);
}
#layout-content div.mylist_list table.animelist tr.watching:hover td
{
background-image:url(images/orangepixels.png), url(../grey/images/whitepixel.png);
}
#layout-main div.votes_all div.graph div.bar div.colored
{
background-color:#006400;
}
#layout-main div.votes_all div.graph div.bar.my div.colored
{
background-color:#c1f167;
}
