#layout-main div.news_all div.news p.comment
{
	float: right;
	margin: -2em 0 0 0;
}

#layout-main div.news_all div.news div.newsitem
{
	clear: right;
}

#layout-main div.news_all div.news div.topic_actions
{
	padding-bottom: 2em;
}
