#layout-content
{
	border-bottom-color:#666666;
	border-left-color:#666666;
	border-top-color:#666666;
}

#layout-nav
{
	border-left-color:#666666;
}

#layout-menu li.sub-menu ul
{
	border-color: #666666;
}

#layout-menu
{
	border-right-color:#C9D7F1;
	background-color:#000000;
}

#layout-menu li.sub-menu:hover
{
	background-color:#000000;
}

#layout-menu li.sub-menu:hover
{
	border-color: #000000;
}

#layout-menu li.sub-menu ul
{
	background-color:#444444;
}

#layout-menu li.sub-menu ul li:hover
{
	background-color:#888888;
}

#layout-menu > li ul
{
	background-color:#444444;
}