/* Hide round corners */
#layout-main div.cmt_all div.g_timedentry > b {
	display:none;
}

/* Wrapping box with faux columns */
#layout-main div.cmt_all div.g_timedentry div.inner {
	margin:0; padding:0;
	background:#f2f8f6 url(images/layout/forum-post-fakebg.png) repeat-y;
	border:5px solid #595654;
}

/* Profile box */
#layout-main div.cmt_all div.g_timedentry div.inner dl.profile {
	margin:0; padding:0 20px;
	width:120px;
	background:#595654 url(images/layout/forum-post-arrow.png) no-repeat right 45px;
	border:none;
}
	#layout-main div.cmt_all div.g_timedentry div.inner dl.profile dd.user {
		margin-top:31px; padding:0;
	}
		#layout-main div.cmt_all div.g_timedentry div.inner dl.profile dd.user a {
			color:#ccc;
		}
	#layout-main div.cmt_all div.g_timedentry div.inner dl.profile dd.rank {
		color:#aaa;
	}
	#layout-main div.cmt_all div.g_timedentry div.inner dl.profile img {
		background:#fff;
		border:5px solid #eee;
	}
	#layout-main div.cmt_all div.g_timedentry div.inner dl.profile dd {
		color:#888;
	}
		#layout-main div.cmt_all div.g_timedentry div.inner dl.profile dd strong {
			color:inherit;
		}

/* Icon bar (profile box) */
#layout-main div.cmt_all div.g_timedentry span.icons.user a.i_user_history,
#layout-main div.cmt_all div.g_timedentry span.icons.user a.i_user_wishlist,
#layout-main div.cmt_all div.g_timedentry span.icons.user a.i_user_votes,
#layout-main div.cmt_all div.g_timedentry span.icons.user a.i_user_reviews {
	display:none;
}
	
/* Top bar */
#layout-main div.cmt_all div.g_timedentry div.inner div.postbody p.author {
	margin:0 0 0 160px; padding:5px 10px;
	width:auto;
	background:#dbdbdb;
	border-bottom:1px solid #aaa;
	line-height:20px;
}
#layout-main div.cmt_all div.g_timedentry div.inner div.postbody span.actions a.i_icon {
	margin:0; padding:6px 5px 4px;
	width:auto; height:20px;
	color:#333; background:none;
	text-transform:capitalize;
}
#layout-main div.cmt_all div.g_timedentry div.inner div.postbody span.actions a.i_icon:hover {
	background:#666;
}
	#layout-main div.cmt_all div.g_timedentry div.inner div.postbody span.actions a.i_icon span {
		display:inline;
	}

/* Text area */
#layout-main div.cmt_all div.g_timedentry div.inner div.postbody div.content {
	margin:0 0 0 180px; padding:10px 20px;
}
