#layout-main div.forum ul.topics li.row
{
	background-color:#E4EAE8;
}

#layout-main div.forum ul.topics li.g_odd.row
{
	background-color:#F2F8F6;
}

#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.row:hover,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row:hover,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover
{
	background-color:#DCE0DF;
}