#layout-main div.latestanimes_all div.latestanimes_anime {
	margin:0 0 20px; padding:0;
}

#layout-main div.latestanimes_all div.latestanimes_anime h3 {
	margin:0 0 15px; padding:5px 7px 5px 14px;
	display:block;
	color:#eee; background:#393634;
	font-size:1.1em; font-weight:normal;
	text-align:left;
}
	#layout-main div.latestanimes_all div.latestanimes_anime h3 div.icons {
		float:right;
	}
	#layout-main div.latestanimes_all div.latestanimes_anime h3 a,
	#layout-main div.latestanimes_all div.latestanimes_anime h3 a:visited {
		color:#eee;
	}
	#layout-main div.latestanimes_all div.latestanimes_anime h3 a:hover {
		color:#dbdbdb;
	}
#layout-main div.latestanimes_all div.latestanimes_anime div.g_image {
	margin:0; padding:0;
	width:200px;
	float:left;
	text-align:center;
}
	#layout-main div.latestanimes_all div.latestanimes_anime div.g_image img {
		margin:0;
		display:inline-block; float:none;
		width:auto; max-width:200px;
	}
#layout-main div.latestanimes_all div.latestanimes_anime div.g_definitionlist {
	margin:0 0 0 220px; padding:0;
	display:block; float:none;
	border:none;
}
