/*vote graphs*/
#layout-main div.votes_all div.graph div.bar div.colored
{
	background-color:green;
}

#layout-main div.votes_all div.graph div.bar.my div.colored
{
	background-color:#CD9D29;
}

#layout-main div.votes_all div.graph div.header
{
	color: #FFFFFF;
}

#layout-main div.votes_all div.graph div.column + div.column
{
	margin-left:-2px;
}

#layout-main div.votes_all div.graph div.group_odd,
#layout-main div.votes_all div.graph.eps div.g_odd
{
	background-color:#F2F8F6;
}