table
{
	border-collapse: separate;
}

table table
{
	border: none;
}

img, a
{
	border: none;
}

#layout-main .g_description,
#layout-main .g_image image,
#layout-main .g_timedentry h4,
#layout-main .g_definitionlist table
{
	border: 1px #98AAB1 dotted;
}

#layout-main .g_image image,
#layout-main .g_definitionlist
{
	padding: 1px;
}

#layout-main .block .g_definitionlist table
{
	border: none;
	margin: 0;
}

#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top: 2px #006699 double;
}

#layout-main div.anime_all div.episodes tr.heading th
{
	padding: 4px 1px 7px 1px;
	border-bottom: black 2px solid;
}

#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top: black 2px solid;
}

#layout-main div.profile_all div.g_section div.body
{
	border: 1px solid #486187;
}

#layout-main div.tabbed_pane div.body,
#layout-tabs ul li a,
#layout-main div.tabbed_pane ul.tabs li
{
	border: 1px solid #486187;
}

#layout-tabs + #layout-main
{
	border-top: 1px solid #486187;
}

#layout-tabs ul li.selected a,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	border-bottom: 1px #e7ebff double;
}

#layout-tabs ul li a:hover,
#layout-main div.tabbed_pane ul.tabs li:hover
{
	border-bottom: 1px #e7ebff double;
}