
#layout-nav
{
	position: absolute;
	width: 13em;
	background: #A9ACA3;
	color: #bbbbbb;
	text-align: center;
	padding-bottom: 0.5em;
}

#layout-nav:before
{
	content: "AnimeDB";
	color: #4B4F41;
	font: 18px "Trebuchet MS","Arial","Verdana",sans-serif;
	letter-spacing: 0.125em;
	font-style: italic;
}

#layout-menu
{
	text-align: left;
	width: 11em;
	margin-left: 1em;
	margin-right: 1em;
	padding-bottom: 0.5em;
}

#layout-menu div.mainmenu
{
	padding-top: 0.7em;
	padding-left: 0.2em;
}

#layout-menu div.usermenu
{
	color: black;
	padding-top: 1.2em;
}

#layout-menu a
{
	color: #4E4F47;
}

#layout-menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}



#layout-menu div.mainmenu li
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	white-space: pre;
	overflow: hidden;
	width: 10.6em;
}

#layout-menu div.mainmenu li.main, #layout-menu div.mainmenu li.up2date, #layout-menu div.mainmenu li.latestanimes
{
	margin-bottom: 1.2em;
}

#layout-menu div.mainmenu li.creqmod
{
	margin-top: 1.2em;
}

#layout-menu div.mainmenu li.search
{
	text-transform: lowercase;
}

#layout-menu div.mainmenu li.forum
{
	font-weight: bold;
}

#layout-menu div.mainmenu li.genren a:before
{
	content: "categories                                    ";
}

#layout-menu div.mainmenu li.forum a:before
{
	content: "AniDB forum                                    ";
}

#layout-menu div.mainmenu li.reclinks a:before
{
	content: "Rec links                                      ";
}

#layout-menu div.usermenu
{
	text-align: center;
	backgroud-color: pink;
	border: 1 solid black;
}

#layout-menu span.login,
#layout-menu span.user
{
	text-align: left;
	display: block;
}

#layout-menu span.login a
{
	display: inline;
}

#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	content: "!";
	color: black;
	padding: 0.2em;
}

#layout-menu #newmessages
{
	display: block;
}

#layout-menu div.usermenu *.i_button
{
	background: none;
	text-indent: 0;
	margin-right: 0;
	width: 4.2em;
	height: 1.2em;
}

#layout-menu div.usermenu *.i_profile
{
	margin-left: 0.4em;
}

#layout-search
{
	text-align: left;
	width: 13em;
}

#layout-search div.search form
{
	display: block;
	padding: 0.8em 1em 1em 1em;
	margin: 0;
}

#layout-search div.search form p
{
	margin: 0;
	padding: 0;
}

#layout-search form input.text
{
	display: block;
	float: right;
	font-size: 10px;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #272D43;
	border: #BFC2C9 1px solid;
	width: 10.3em;
}

#layout-search form input.submit
{
	display: block;
	float: right;
	height: 1.6em;
	padding: 0 0.3em 0.1em 0.4em;
	text-transform: capitalize;
}

#layout-content
{
	padding-top: 0.5em;
	margin-left: 13em;
}

/* make content fill everything in case of nonav */
body.nonav #layout-content
{
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #F2F3EE;
}

#layout-content h1
{
	text-align: center;
	font-size: 14pt;
	font-weight: lighter;
	font-family:"Trebuchet MS", Arial,Verdana, sans-serif;
	margin-top: 0;
	padding-top: 1.1em;
}

/* if a popup, kill the title */
body.nonav #layout-content h1
{
	display: none;
}

#layout-content div.section
{
	border-top: 2px groove #F2F2EA;
	padding: 0.5em 0 0.5em 0;
}

#layout-content div.section.vote form
{
	margin-bottom: 0.5em;
}

#layout-content div.section.vote form *
{
	margin: 0;
}

#layout-content div.section.vote form label
{
	display: block;
}


#layout-footer
{
	text-align: center;
}

#layout-footer p
{
	margin-top: 1.9em;
	margin-bottom: 0;
}

#layout-footer:after
{
	content: "design by PetriW"
}


