@import "../common/normalize.css";
@import "../common/layout/default.css";
@import "../common/layout/common.css";
@import "../common/style/color/similar-anime-default.css";
@import "../common/layout/global/all.css";
@import "../common/layout/page/all.css";
@import "../common/style/color/msgbox-default.css";
@import "../common/style/color/similar-anime-default.css";
@import "../common/style/color/forum-default.css";
@import "../common/style/color/special.css";
@import "../common/style/text/default.css";
@import "../common/style/content/page-anime.css";
@import "../icons/all.css";
@import "../icons/comment-grey.css";

*
{
	border:0;
	margin:0;
	padding:0;
}

html
{
	background-color: black;
	color:#ccc;
	font-family:Arial, Helvetica, Verdana, Tahoma, sans-serif;
	font-size:10px;
	font-weight:400;
	height:100%;
}

body
{
	height:100%;
}

span.link,
a
{
	color:white;
	text-decoration:none;
}

a img
{
	border:0;
}

h1
{
	color:#666;
	font-size:18px;
	margin-top:200px;
	text-align:center;
}

.nonav h1
{
	margin-top:20px;
}

h2,
h3
{
	color:white;
	font-size:12px;
	margin:0 0 0;
	text-align:center;
}
#layout-main div.g_timedentry h4,
h4
{
	background:url(images/h4.gif) left top no-repeat;
	color:white;
	font-size:10px;
	margin:10px 0 0;
	padding:3px 0 3px 18px;
}

table caption
{
	background:url(images/h4.gif) left top no-repeat;
	color: white;
	font-size:10px;
	margin:20px auto 0;
	padding:3px 0 3px 18px;
	text-align:left;
}

input,
select,
textarea
{
	background-color:black;
	border:#666 1px solid;
	color: white;
	font-family:Arial, Helvetica, Verdana, Tahoma, sans-serif;
	font-size:10px;
}

button,
input[type="button"],
input[type="submit"]
{
	background-color:#200e3d;
	border:#5323a0 1px dotted;
	color:white;
	cursor:pointer;
	font-family:Arial, Helvetica, Verdana, Tahoma, sans-serif;
	font-size:10px;
	padding:1px;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover
{
	border:white 1px dotted;
}

.g_odd input[type="submit"]
{
	background-color:black;
	color: white;
}

#layout-nav
{
	margin:0 auto;
	text-align: center;
	width: 100%;
	position: fixed;
	z-index: 1;
	height: 174px;
}
#layout-menu
{
	margin:0 auto;
	width:955px;
	height:174px;
	background:url(images/dark_new.gif) 0px top no-repeat;
	line-height: 110%;
}
#layout-menu ul
{
	float:left;
	position: relative
}
ul#menu-main
{
	left:182px;
	position:relative;
	background: url(images/dark_new2.gif) no-repeat;
	width: 209px;
	height: 97px;
	top:0;
	padding-left: 32px;
	padding-top: 100px;
	margin-top: -1px;
	margin-right: -200px;
}

ul#menu-private
{
	left:220px;
	position:relative;
	top:0;
	z-index:2;
}

ul#menu-mod
{
	left:530px;
	position:relative;
	top:0;
}

ul#menu-lists
{
	left:425px;
	position:relative;
}
ul#menu-lists li.creator
{
padding-top: 15px;
}

ul#menu-support
{
	left:375px;
	position:relative;
	top:0;
}

ul#menu-account
{
	float:right;
	padding-right:10px;
	position:relative;
	text-align:right;
	top:-5px;
	width: 150px;
}

*#user-logout a,
*#user-profile a
{
	float:right;
	height:12px;
	width:42px;
	font-size: 0;
}

*#user-logout a
{
	background-image:url(images/button_logout.gif);
	position:relative;
	top:-3px;
	left: 5px;
}

*#user-logout a:hover
{
	background-image:url(images/button_logout_over.gif);
}

*#user-profile a
{
	background-image:url(images/button_profile.gif);
	position:relative;
	top:5px;
}

*#user-profile a:hover
{
	background-image:url(images/button_profile_over.gif);
}

#layout-search
{
	margin: 0 auto;
	top: -59px;
	left: 365px;
	width:210px;
	position: relative;
}

#layout-search form input.text
{
	width:140px;
}

#layout-search select
{
	display: table-caption;
	margin: 0 40px 5px auto;
}

#layout-search form input.submit
{
	background:url(images/button_search.gif) no-repeat;
	border:none;
	cursor:pointer;
	height:14px;
	width: 39px;
	margin:0 3px;
	color: transparent;
	font-size: 0;

}

#layout-search form input.submit:hover
{
	background:url(images/button_search_over.gif) no-repeat;
}

#layout-content
{
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin:0 auto;
	overflow:hidden;
	width:955px;
}

body.nonav div#layout-content
{
	border:none;
	margin:0;
	min-height:100%;
	width:100%;
}

.g_content
{
	margin:20px;
}

.g_section
{
	clear:both;
	margin:0 auto;
	width:auto;
}

.g_end
{
	border-top:1px solid #333;
	clear:both;
	height:20px;
	margin:20px;
}

#layout-main div.g_msg h3
{
	margin-top:10px;
}

*.i_inline
{
	background-position:center;
	background-repeat:no-repeat;
	padding:7px 10px 6px;
}

*.i_button
{
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	float:left;
	height:12px;
	margin-right:4px;
	text-indent:-5000px;
	width:42px;
}

ul,
ol
{
	list-style:none outside;
	margin:0;
	padding:0;
	text-indent:0;
}

li
{
	list-style:none outside;
	margin:0;
	padding:1px;
	text-indent:0;
}

dt
{
	margin:0 0 -17px;
	padding:5px 0;
}
/*
dt:after
{
	content:": ";
}
*/
dd
{
	margin:0 0 0 90px;
	padding:0;
}

table
{
	border-spacing:0;
	margin:0 auto;
	width:600px;
}

.nonav table,
.nonav table caption
{
	margin:0;
	width:100%;
}

td
{
	border-left:1px solid #000;
	padding:1px 3px;
}

tr.newtype td
{
	border-top:1px dashed #666;
	padding-top:0;
}

tr.episode:hover td,
tr.file:hover td,
tr.anime:hover td,
tr.files:hover td
{
	border-bottom:1px solid #666;
	border-top:1px solid #666;
	padding-bottom:0;
	padding-top:0;
}

div.data th,
div.addgenren_all div.add th
{
	text-align:left;
	width:100px;
}

ul.g_actionlist li
{
	display:inline;
	font-style:italic;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
}

ul.g_actionlist li a
{
	display:inline;
	font-style:normal;
}

ul.g_actionlist li+li:before
{
	content:" - ";
}

ul.g_jumplist
{
	padding-bottom:2px;
	padding-left:0;
	padding-top:2px;
	text-align:center;
}

ul.g_jumplist li
{
	background:url("images/jumplist.gif") left bottom no-repeat;
	display:inline;
	font-style:italic;
	margin-left:0;
	margin-right:0;
	padding-left:5px;
	padding-right:5px;
}

ul.g_jumplist li:hover
{
	background-image:url("images/jumplist_over.gif");
}

ul.g_jumplist li a
{
	display:inline;
	font-style:normal;
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
}

ul.g_jumplist li.all,
ul.g_jumplist li.other,
ul.g_jumplist li.prev,
ul.g_jumplist li.next
{
	background:none;
}

ul.g_jumplist li.all:before
{
	content:"Jump to: ";
	font-style:normal;
}

ul.g_list,
ul.g_navlist,
div.mylist_menu ul,
div.messages ul
{
	clear:both;
	margin:5px auto;
	text-align:center;
}

ul.g_list li,
ul.g_navlist li,
div.mylist_menu ul li,
div.messages ul li
{
	display:inline;
}

ul.g_list li a,
ul.g_navlist li a,
div.mylist_menu ul li a,
div.messages ul li a
{
	padding:0 3px;
}

div.g_menu ul.state
{
	height:15px;
	margin:0 auto;
	width:180px;
}

div.g_menu ul.state span.i_icon
{
	float:left;
	padding-right:3px;
}

#layout-main div.block > div.image
{
	text-align:center;
}

div.anime_all div.desc
{
	float:right;
	text-align:justify;
	width:98%;
}

div.anime_all div.awards
{
	padding:10px 0;
	text-align:center;
}

div.anime_all div.awards a img
{
	margin:5px 1px;
}

div.anime_all table.filelist
{
	margin-left:33px;
	width:877px;
}

div.anime_all div.groups td.eps
{
	text-align:center;
	width:200px;
}

div.anime_all div.groups td.action,
div.anime_all div.episodes td.file
{
	white-space: nowrap;

}
div.anime_all *.i_vrs_1,
div.anime_all *.i_vrs_2,
div.anime_all *.i_vrs_3,
div.anime_all *.i_vrs_4,
div.anime_all *.i_vrs_5,
div.anime_all *.i_censored,
div.anime_all *.i_uncensored,
div.anime_all *.i_new_icon,
div.anime_all *.i_comment
{
	/*margin-left:-15px;*/
}

div.anime_all *.i_vrs_1,
div.anime_all *.i_vrs_2,
div.anime_all *.i_vrs_3,
div.anime_all *.i_vrs_4,
div.anime_all *.i_vrs_5
{
	position:relative;
	right:110px;
}
table.filelist span.icons.new span.i_new_icon
{
position: absolute;
left:105px;

}

div.animeatt_all div.animeatt_header table
{
	margin:0;
	width:auto;
}

div.animeatt_all div.animeatt_header table table
{
	margin:0 5px;
	width:auto;
}

div.animeatt_all div.animeatt_header big
{
	color:white;
	display:block;
	font-size:18px;
	font-weight:700;
	text-align:right;
	width:145px;
}

div.animeatt_all div.review
{
	clear:both;
	margin:20px 0;
	overflow:auto;
	width:100%;
}

div.animeatt_all h2
{
	color:black;
	margin-left:170px;
	text-align:left;
}

div.animeatt_all h2 span.approval
{
	color:#ccc;
	float:right;
	margin-top:-13px;
}

div.animeatt_all span.stamp,
div.animeatt_all div.g_definitionlist,
div.animeatt_all div.g_definitionlist table,
div.animeatt_all div.head,
div.animeatt_all div.menu
{
	clear:left;
	float:left;
	width:150px;
}

div.animeatt_all span.stamp
{
	margin-top:-13px;
}

div.animeatt_all div.body
{
	float:right;
	margin:-120px 0 10px;
	text-align:justify;
	width:750px;
}

#layout-main div.animeatt_reviews div.review div.bar
{
	width:15em;
}

div.animevotes_all table table.vote_graph
{
	width:500px;
}

div.rel_all div.animerel
{
	overflow-x:scroll;
}

div.rel_all div.animerel img
{
	background-color:#7A799A;
	border:none;
	display:block;
}

div.addgenren_all table
{
	width:600px;
}

div.addgenren_all table td.action
{
	width:175px;
}

div.animehist_all div.users,
div.animehist_all div.files
{
	margin:15px auto;
	width:600px;
}

div.main_all div.rightbar
{
	float:right;
	margin:-50px 0 0 10px;
	width:300px;
}

div.main_all div.news
{
	clear:none;
	overflow:hidden;
	text-align:justify;
	width:700px;
}

div.main_all div.news big
{
	font-weight:700;
}

div.main_all div.news h4
{
	float:left;
	width:430px;
}

#layout-main div.main_all div.news p.comment
{
	margin:0;
}

div.main_all div.news span.stamp
{
	color:#999;
	display:block;
	float:none;
	padding-top:2em;
	text-align:right;
}

div.main_all div.news div.body
{
	margin:0 0 30px;
}

div.search_all li a.i_icon
{
	float:left;
	margin:0 2px;
}

div.search_all li.collapsed
{
	height:17px;
}

div.search_all li ul
{
	margin:0 20px;
}

div.latestanimes_all div.latestanimes_anime
{
	clear:both;
	overflow:auto;
}

div.latestanimes_all h3
{
	margin:10px;
}

div.latestanimes_all img
{
	display:block;
	padding:0;
	width:150px;
}

div.latestanimes_all div.data
{
	width:750px;
}

div.myplace_all div.g_menu
{
	float:left;
	margin:20px 0;
	width:80px;
}

div.myplace_all div.general
{
	margin-top:-3em;
}

div.myplace_all div.stats
{
	float:right;
	margin:10px 0 -300px;
	padding-top:4.2em;
	position:relative;
	top:-320px;
	width:630px;
	z-index:-1;
}

div.myplace_all div.g_definitionlist
{
	float:right;
	width:100%;
}

div.myplace_all table th
{
	text-align:left;
	width:50%;
}

#layout-main div.myplace_all div.latest
{
	width:73%;
}

div.msg_all div.messages h4
{
	visibility:hidden;
}

div.mylist_all table.eplist
{
	margin-left:33px;
	width:877px;
}

div.mylist_all table.filelist
{
	margin-left:33px;
	width:842px;
}

div.mylist_all table.filelist td.ed2k + td.action
{
	text-align:center;
	width:65px;
}

div.mynotifies_all div.action
{
	margin:20px auto;
	width:300px;
}

div.hint2_all td
{
	width:0;
}

div.hint2_all th
{
	color:white;
	padding:10px 0 5px;
}

#layout-main div.profile_all div.passwords > div,
#layout-main div.profile_all div.passwords form > div,
#layout-main div.profile_all div.tabbed_pane div.default_languages div
{
	padding-right:5em;
}

div.latest_all td.status
{
	width:250px;
}

div.latest_all td.name,
div.animelist_all td.name
{
	text-align:left;
	width:auto;
}

div.latest_all td.action a
{
	float:right;
	margin:0 2px;
}

div.genren_all div.controls a
{
	cursor:pointer;
}

div.genren_all a.i_icon
{
	cursor:pointer;
	float:left;
	margin-right:-35px;
	position:relative;
	right:20px;
}

div.genren_all ul
{
	margin:0 0 0 20px;
}

div.genren_all li
{
	padding:1px 3px;
}

div.genren_all li span
{
	display:block;
}

#layout-footer
{
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	color:#666;
	margin:0 auto;
	overflow:auto;
	padding-top:10px;
	position:relative;
	text-align:center;
	top:-45px;
	width:955px;
}

*.i_help
{
	background:url(images/ask2.gif) no-repeat right;
	cursor:help;
}

*.i_censored
{
	background-image:url(images/anidb_censored.gif);
}

*.i_comment
{
	background-image:url(images/anidb_comment.gif);
}

*.i_av_yes
{
	background-image:url(images/anidb_av_yes.gif);
}

*.i_crc_no
{
	background-image:url(images/anidb_crc_no.gif);
}

*.i_crc_yes
{
	background-image:url(images/anidb_crc_yes.gif);
}

*.i_crc_unv
{
	background-image:url(images/anidb_crc_unv.gif);
}

*.i_araward
{
	background-image:url(images/anidb_araward.gif);
}

*.i_group_vote,
*.i_ep_vote,
*.i_vote
{
	background-image:url(images/anidb_vote.gif);
}

*.i_group_revote,
*.i_ep_revote,
*.i_revote
{
	background-image:url(images/anidb_revote.gif);
}

*.i_group_comment
{
	background-image:url(images/anidb_groupcomment.gif);
}

*.i_new_icon
{
	background-image:url(images/anidb_new_icon.gif);
}

*.i_uncensored
{
	background-image:url(images/anidb_uncensored.gif);
}

*.i_video
{
	background-image:url(images/anidb_video.gif);
}

*.i_video.avc
{
	background-image:url(images/anidb_video_avc.gif);
}

*.i_video.xvid,
*.i_video.divx5
{
	background-image:url(images/anidb_video_asp.gif);
}

*.i_vrs_1
{
	background-image:url(images/anidb_vrs_1.gif);
}

*.i_vrs_2
{
	background-image:url(images/anidb_vrs_2.gif);
}

*.i_vrs_3
{
	background-image:url(images/anidb_vrs_3.gif);
}

*.i_vrs_4
{
	background-image:url(images/anidb_vrs_4.gif);
}

*.i_vrs_5
{
	background-image:url(images/anidb_vrs_5.gif);
}

*.i_ext
{
	background-image:url(images/anidb_ext_other.gif);
}

*.i_ext.mkv
{
	background-image:url(images/anidb_ext_mkv.gif);
}

*.i_ext.ogm
{
	background-image:url(images/anidb_ext_ogm.gif);
}

*.i_ext.avi
{
	background-image:url(images/anidb_ext_avi.gif);
}

*.i_ext.mp4
{
	background-image:url(images/anidb_ext_mp4.gif);
}

*.i_ext.wmv
{
	background-image:url(images/anidb_ext_wmv.gif);
}

*.i_ext.srt
{
	background-image:url(images/anidb_ext_srt.gif);
}

*.i_rate_corrupted
{
	background-image:url(images/anidb_rate_corrupted.gif);
}

*.i_rate_eyecancer
{
	background-image:url(images/anidb_rate_eyecancer.gif);
}

*.i_rate_unknown
{
	background-image:url(images/anidb_rate_unknown.gif);
}

*.i_rate_star
{
	background-image:url(images/anidb_rate_star.gif);
}

*.i_rate_halfstar
{
	background-image:url(images/anidb_rate_halfstar.gif);
}

*.i_rate_veryhigh,
*.i_rate_high,
*.i_rate_med,
*.i_rate_low,
*.i_rate_verylow
{
	background:url(images/anidb_rate_star.gif) left center repeat-x;
}

*.i_rate_veryhigh
{
	width:39px;
}

*.i_rate_high
{
	width:32px;
}

*.i_rate_med
{
	width:26px;
}

*.i_rate_low
{
	width:19px;
}

*.i_rate_verylow
{
	width:13px;
}

*.i_file_add
{
	background-image:url(images/anidb_file_add.gif);
}

*.i_file_addmylist
{
	background-image:url(images/anidb_file_addmylist.gif);
}

*.i_file_delete
{
	background-image:url(images/anidb_file_delete.gif);
}

*.i_file_details
{
	background-image:url(images/anidb_file_details.gif);
}

*.i_file_ed2k
{
	background-image:url(images/anidb_file_ed2k.gif);
}

*.i_file_edit,
*.i_ep_edit
{
	background-image:url(images/anidb_file_edit.gif);
}

*.i_file_removemylist
{
	background-image:url(images/anidb_file_removemylist.gif);
}

*.i_seen_no
{
	background-image:url(images/anidb_seen_no.gif);
}

*.i_seen_yes
{
	background-image:url(images/anidb_seen_yes.gif);
}

*.i_filestate_corrupted
{
	background-image:url(images/anidb_filestate_corrupted.gif);
}

*.i_filestate_edited
{
	background-image:url(images/anidb_filestate_edited.gif);
}

*.i_filestate_ondvd
{
	background-image:url(images/anidb_filestate_ondvd.gif);
}

*.i_filestate_ontv
{
	background-image:url(images/anidb_filestate_ontv.gif);
}

*.i_filestate_onvhs
{
	background-image:url(images/anidb_filestate_onvhs.gif);
}

*.i_filestate_other
{
	background-image:url(images/anidb_filestate_other.gif);
}

*.i_filestate_selfripped
{
	background-image:url(images/anidb_filestate_selfripped.gif);
}

*.i_filestate_theater
{
	background-image:url(images/anidb_filestate_theater.gif);
}

*.i_recap
{
	background-image:url(images/anidb_recap.gif);
}

*.i_seen
{
	background-image:url(images/anidb_seen.gif);
}

*.i_state_all
{
	background-image:url(images/anidb_state_all.gif);
}

*.i_state_deleted
{
	background-image:url(images/anidb_state_deleted.gif);
}

*.i_state_mixed
{
	background-image:url(images/anidb_state_mixed.gif);
}

*.i_state_oncd
{
	background-image:url(images/anidb_state_oncd.gif);
}

*.i_state_onhdd
{
	background-image:url(images/anidb_state_onhdd.gif);
}

*.i_state_release
{
	background-image:url(images/anidb_state_release.gif);
}

*.i_state_shared
{
	background-image:url(images/anidb_state_shared.gif);
}

*.i_state_unknown
{
	background-image:url(images/anidb_state_unknown.gif);
}

*.i_mylist
{
	background-image:url(images/anidb_mylist.gif);
}

*.i_pri_high
{
	background-image:url(images/anidb_pri_high.gif);
}

*.i_pri_low
{
	background-image:url(images/anidb_pri_low.gif);
}

*.i_pri_med
{
	background-image:url(images/anidb_pri_med.gif);
}

*.i_nonotify
{
	background-image:url(images/anidb_nonotify.gif);
}

*.i_notify
{
	background-image:url(images/anidb_notify.gif);
}

*.i_rev
{
	background-image:url(images/anidb_rev.gif);
}

*.i_no_rev
{
	background-image:url(images/anidb_no_rev.gif);
}

*.i_no_vote
{
	background-image:url(images/anidb_no_vote.gif);
}

*.i_hanger
{
	background-image:url(images/anidb_hanger.gif);
}

*.i_punkt
{
	background-image:url(images/button_punkt.gif);
}

*.i_search
{
	background-image:url(images/button_search.gif);
}

*.i_signup
{
	background-image:url(images/button_signup.gif);
}

*.i_suchen
{
	background-image:url(images/button_suchen.gif);
}

*.i_down1
{
	background-image:url(images/down1.gif);
	height:10px;
	width:9px;
}

*.i_empty
{
	background-image:url(images/empty.gif);
}

*.i_invalid
{
	background-image:url(images/invalid.gif);
}

*.i_minus
{
	background-image:url(images/minus.gif);
}

*.i_na
{
	background-image:url(images/na.gif);
}

*.i_nodown1
{
	background-image:url(images/nodown1.gif);
	height:10px;
	width:9px;
}

*.i_none
{
	background-image:url(images/none.gif);
}

*.i_nopic
{
	background-image:url(images/nopic.gif);
}

*.i_noup1
{
	background-image:url(images/noup1.gif);
	height:10px;
	width:9px;
}

*.i_plus
{
	background-image:url(images/plus.gif);
}

*.i_up1
{
	background-image:url(images/up1.gif);
	height:10px;
	width:9px;
}

img[src*="anidb_mainichiaward.gif"]
{
	background:url(images/anidb_awardmainichi.gif) center center no-repeat;
	padding-right:15px;
	width:0;
}

img[src*="anidb_ar2002award.gif"],
img[src*="anidb_ar2003award.gif"],
img[src*="anidb_ar2004award.gif"],
img[src*="anidb_ar2005award.gif"],
img[src*="anidb_ar2006award.gif"],
img[src*="anidb_ar2007award.gif"]
{
	background:url(images/anidb_awardar.gif) center center no-repeat;
	padding-right:15px;
	width:0;
}

img[src*="anidb_rate_star.gif"]
{
	background:url(images/anidb_awardstar.gif) center center no-repeat;
	padding-right:15px;
	width:0;
}

img[src*="minus.gif"]
{
	background:url(images/minus.gif) center 1px no-repeat;
	padding-right:13px;
	width:0;
}

img[src*="plus.gif"]
{
	background:url(images/plus.gif) center 1px no-repeat;
	padding-right:13px;
	width:0;
}

img[src*="ask2.gif"]
{
	background:url(images/ask2.gif) center 1px no-repeat;
	cursor:help;
	padding-right:11px;
	position:relative;
	top:1px;
	width:0;
}

img[src*="up1.gif"]
{
	background:url(images/up1.gif) center center no-repeat;
	display:block;
	float:left;
	padding-right:15px;
	width:0;
}

img[src*="down1.gif"]
{
	background:url(images/down1.gif) center center no-repeat;
	display:block;
	float:right;
	padding-left:15px;
	width:0;
}

img[src*="noup1.gif"]
{
	background:url(images/noup1.gif) center center no-repeat;
	display:block;
	float:left;
	padding-right:15px;
	width:0;
}

img[src*="noup1.gif"]:hover
{
	background-image:url(images/up1_over.gif);
}

img[src*="nodown1.gif"]
{
	background:url(images/nodown1.gif) center center no-repeat;
	display:block;
	float:right;
	padding-left:15px;
	width:0;
}

img[src*="nodown1.gif"]:hover
{
	background-image:url(images/down1_over.gif);
}

img[src*="nopic.gif"],
div.latestanimes_all img[src*="nopic.gif"]
{
	background:url(images/nopic.gif) center center no-repeat;
	display:inline;
}

span.link:hover,
a:hover,
input[type="submit"]:hover,
ul#menu-main a:hover,
ul#menu-support a:hover,
div.tabbed_pane ul.tabs li.tab:hover,
button:hover,
input[type="button"]:hover
{
	color:#c9f;
}

.g_list a,
.g_actionlist a,
.g_jumplist a,
.latestanimes_form a,
.g_vital a,
.news a,
ul#menu-lists a
{
	color:#E6D4B5;
}

.g_list a:hover,
.g_actionlist a:hover,
.g_jumplist a:hover,
.latestanimes_form a:hover,
.g_vital a:hover,
.news a:hover,
ul#menu-lists a:hover,
div.main_all div.news b
{
	color:white;
}

.hide,
fieldset,
#layout-menu span.tab,,
#user-profile a span,
#user-logout a span,
div.search_all li.collapsed ul,
div.genren_all li.collapsed ul,
*.i_icon span,
*.i_button span,
*.i_inline span,
{
	display:none;
}
span.i_inline.i_help
{
	color: transparent;
}

ul#menu-main a,
ul#menu-support a
{
	color: black;
}

ul#menu-mod li,
ul.g_list .g_odd,
ul.g_actionlist .g_odd,
ul.g_jumplist .g_odd,
ul.g_navlist .g_odd,
div.mylist_menu .g_odd,
ul.state .g_odd
{
	background-color:transparent;
}

.g_info,
.g_actionlist,
.g_filterlist,
.g_msg.note,
.g_msg.success,
.g_msg.warning,
tr.action,
td.action,
tr.action td,
div.creq_all p,
div.producer_all div.block,
div.group_all div.block,
div.main_all div.rightbar p,
div.latestanimes_all div.latestanimes_form,
div.myplace_all table td,
div.genren_all div.controls
{
	text-align:center;
}

div.icons,
ul.g_jumplist li.next,
a.g_navnext
{
	float:right;
}

div.icons .i_icon,
ul.g_jumplist li.prev,
div.g_menu ul.state li,
a.g_navprev,
div.anime_all div.episodes td.quality span.i_icon,
div.ep_all td.quality span.i_icon,
div.latestanimes_all div.g_image,
div.myplace_all div.stats_mylist,
div.myplace_all div.stats_roles
{
	float:left;
}

.g_odd,
div.anime_all div.mylist td
{
	background-color:#333;
}

th,
#layout-main div.tabbed_pane div.pane table td
{
	vertical-align:top;
}

div.data td,
div.animevotes_all table td
{
	text-align:left;
}

ul.g_actionlist,
div.mylist_all div.mylist_action
{
	margin:20px 0;
}

div.anime_all div.data table,
div.anime_all table.grouplist,
div.anime_all table.eplist,
div.animevotes_all table,
div.addseq_all table,
div.addanime_all textarea,
div.creq_all textarea,
div.addep_all textarea,
div.creq_entry_hist table,
div.ep_all table,
div.file_all table,
div.producer_all div.producer_related_anime table,
div.group_all div.group_released table,
div.search_all table,
div.search_all table tr.title td input,
div.latestanimes_all div.data table,
div.myplace_all table,
div.msg_all div.send_form input[id="msg.title"],
div.msg_all div.send_form textarea[id="msg.body"],
div.hint2_all table,
div.hint2_all input[type="text"],
div.hint2_all select,
div.creq_all div.creq_list_closed table,
div.up2date_all table.files,
div.up2date_all table.sequels,
div.latest_all table,
div.animelist_all table,
div.grouplist_all table,
div.userlist_all table,
div.producerlist_all table
{
	width:100%;
}

div.anime_all div.mylist table,
div.anime_all div.mylist_add table,
div.animevotes_all table table,
div.creq_all div.creq_stats table,
div.up2date_all div.mylist_add table,
div.up2date_all div.up2date_sequels_filter,
#layout-main div.profile_all div.tabbed_pane div.permissions div.permissions div label select
{
	width:300px;
}

div.anime_all div.episodes td.action,
div.anime_all div.episodes td.codec,
div.latestanimes_all select.month
{
	width:40px;
}
div.anime_all div.episodes td.crc
{
width: 5em;
}
div.mywishlist_all td.expand,
div.anime_all div.groups td.expand,
div.anime_all div.episodes td.expand
{
	text-align:center;
	width:15px;
	padding:0;
	border-left: none;
}
div.mywishlist_all td.expand a.i_icon,
div.anime_all div.groups td.expand a.i_icon,
div.anime_all div.episodes td.expand a.i_icon
{
margin-left: 0;
}
div.anime_all div.mylist td.state,
div.anime_all div.groups td.note,
div.anime_all div.groups td.epno,
div.anime_all div.groups td.specials,
div.anime_all div.groups td.cmts,
div.anime_all div.episodes td.id,
div.anime_all div.episodes td.duration,
div.anime_all div.episodes td.files,
div.addgenren_list td.id,
div.addgenren_list td.weight,
div.animehist_all td.eps,
div.animehist_all td.files,
div.animehist_all td.groups,
div.ep_all td.id,
div.ep_all td.ed2k,
div.file_all div.file_tracks td.id,
div.file_all td.ar,
div.file_all td[class="icon language"],
div.file_all td.epno,
div.producer_all td.eps,
div.group_all td.eps,
div.group_all td.last_ep,
div.msg_all td.state,
div.msg_all td.action,
div.msg_all td.date,
div.msg_all td.from,
div.msg_all td.type,
div.mylist_all td.epno,
div.mylist_all td.duration,
div.mylist_all td.files,
div.mylist_all td.mylist,
div.mylist_all td.action,
div.mylist_all td.ed2k,
div.myvotes_all td.vote,
div.myvotes_all td.epno,
div.mynotifies_all td.check,
div.mynotifies_all td.priority,
div.mywishlist_all td.pri,
div.mywishlist_all td.nfy,
div.mywishlist_all td.releaseinfo,
div.mywishlist_all td.state,
div.up2date_all td.ed2k,
div.up2date_all td.epno,
div.up2date_all td.eps,
div.latest_all td.count,
div.latest_all td.number,
div.latest_all td.vote,
div.userlist_all td.acnt,
div.userlist_all td.epcnt,
div.userlist_all td.fcnt,
div.animelist_all td.eps
{
	text-align:center;
	width:25px;
}

div.anime_all div.groups td.name,
div.anime_all div.groups td.state,
div.anime_all div.groups td.date,
div.anime_all div.groups td.rating,
div.anime_all div.groups td.action,
div.anime_all div.episodes td.date,
div.anime_all div.episodes td.epusers,
div.anime_all div.episodes td.size,
div.anime_all div.episodes td.resolution,
div.anime_all div.episodes td.source,
div.anime_all div.episodes td.hash,
div.anime_all div.episodes td.users,
div.anime_all div.episodes td.mylist,
div.anime_all div.episodes td.file,
div.anime_all table.filelist td.title,
div.addgenren_list td.action,
div.addgenren_form td.weight,
div.addgenren_form td.check,
div.animehist_all td.users,
div.animehist_all td.review,
div.addanimetitle_all td.date,
div.addseq_all td.date,
div.addaproducer_all td.date,
div.ep_all td.title,
div.ep_all td.size,
div.ep_all td.resolution,
div.ep_all td.source,
div.ep_all td.hash,
div.ep_all td.users,
div.ep_all td.mylist,
div.ep_all td.file,
div.file_all td.size,
div.file_all td.type,
div.file_all td[class="text language"],
div.file_all td.channels,
div.file_all td.action,
div.producer_all td.date,
div.producer_all td.type,
div.group_all td.releases,
div.group_all td.state,
div.group_all td.rating,
div.group_all td.update,
div.group_all td.date,
div.mylist_all td.stats,
div.mylist_all td.rating,
div.mylist_all td.vote,
div.mylist_all td.date,
div.mylist_all td.group,
div.mylist_all td.size,
div.mylist_all td.quality,
div.mylist_all td.status,
div.myvotes_all td.state,
div.buddylist_all td.state,
div.mynotifies_all td.type,
div.mynotifies_all td.action,
div.mywishlist_all td.mylist,
div.mywishlist_all td.seen,
div.mywishlist_all td.date,
div.mywishlist_all td.rating,
div.mywishlist_all td.tmprating,
div.mywishlist_all td.revrating,
div.mywishlist_all td.cmts,
div.up2date_all td.action,
div.up2date_all td.date,
div.up2date_all td.size,
div.up2date_all td.group,
div.up2date_all td.mylist,
div.up2date_all td.relation,
div.up2date_all td.year,
div.latest_all td.action,
div.latest_all td.size,
div.latest_all td.type,
div.latest_all td.short,
div.latest_all td.user,
div.latest_all td.rating,
div.latest_all td.tmprating,
div.latest_all td.dub,
div.animelist_all td,
div.userlist_all td.size
{
	text-align:center;
	/*width:70px;*/
}

div.anime_all div.episodes td.quality,
div.addanimetitle_all td.id,
div.addaproducer_all td.id,
div.ep_all td.codec,
div.ep_all td.quality,
div.mylist_all td.id,
div.up2date_all td.id,
div.latest_all td.id
{
	text-align:center;
	width:40px;
}

div.animehist_all td.anime,
div.animehist_all td.tmpanime,
div.addanimetitle_all td.action,
div.file_all td.codec,
div.myvotes_all td.date,
div.myvotes_all td.action,
div.buddylist_all td.date,
div.mynotifies_all td.date,
div.latest_all td.category,
div.latest_all td.date,
div.userlist_all td.date
{
	text-align:center;
	width:100px;
}

div.maddtomylist_all div.maddtomylist,
div.ep_all div.info table,
div.ep_all div.ep_vote form,
div.file_all div.file_relations,
div.buddylist_all div.buddy_wait table,
div.buddylist_all div.buddy_add form,
div.ed2kdump_all div.ed2kdump_box,
div.ed2kdump_all table
{
	margin:0 auto;
	width:300px;
}

div.addseq_all td.action,
div.addaproducer_all td.action,
div.file_all td.flags,
div.latest_all div.latest_aproducer td.type
{
	text-align:center;
	width:175px;
}

div.addanimetitle_all form,
div.addaproducer_all form,
div.producer_all div.producer_info table,
div.group_all div.group_info table,
div.group_all div.group_vote,
div.search_all div.search_form,
div.reviewerlist_all h4,
div.creq_all div.states
{
	margin:0 auto;
	width:600px;
}

div.mylist_all table.animelist,
div.mywishlist_all div table
{
	width:80%;
}

div.mywishlist_all table,
#layout-main div.tabbed_pane div.pane table
{
	width:auto;
}

*.i_help:hover,
img[src*="ask2.gif"]:hover
{
	background-image:url(images/ask2_over.gif);
}

*.i_minus:hover,
img[src*="minus.gif"]:hover
{
	background-image:url(images/minus_over.gif);
}

*.i_plus:hover,
img[src*="plus.gif"]:hover
{
	background-image:url(images/plus_over.gif);
}

div.anime_all div.image
{
	background-color:black;
}

#layout-main div.schedule_all ul.g_list.nav
{
	display: block;
}

#layout-search .rtop,
#layout-search .rbottom,
#layout-search div.search form.random,
#layout-tabs
{
	display:none;
}

#layout-main div.tabbed_pane div.body,
#layout-main div.tabbed_pane ul.tabs li
{
	border: 1px solid #FFFFFF;
}

#layout-main div.tabbed_pane ul.tabs li.selected
{
	border-bottom: 1px #000000 double;
}

#layout-main div.tabbed_pane ul.tabs li:hover
{
	border-bottom: 1px #000000 double;
}

#layout-main div.tabbed_pane ul.tabs li
{
	background-color: #444444;
}

#layout-main div.tabbed_pane ul.tabs li:hover
{
	background-color: #000000;
	color:#FFFFFF;
}

#layout-main div.tabbed_pane ul.tabs li.selected
{
	background-color: #000000;
}

/*common overwrite stuff*/
#layout-main div.latestanimes_anime h3
{
	margin: 10px auto;
}
#layout-main div.forum .rtop *,
#layout-main div.forum .rbottom *,
#layout-main div.forum div.inner
{
	background-color:#170a2b;
}
#layout-main div.forum div.poll div.inner,
#layout-main div.forum div.poll .rbottom *,
#layout-main div.forum div.poll .rtop *,
#layout-main div.forum div.events div.inner,
#layout-main div.forum div.events .rbottom *,
#layout-main div.forum div.events .rtop *,
#layout-main div.forum div.comment div.inner,
#layout-main div.forum div.comment .rbottom *,
#layout-main div.forum div.comment .rtop *,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover
{
	background-color:#1a1a1a;
}
#layout-main div.cmt_entries dl.profile dd strong
{
	color: white;
}
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum a.topictitle:hover,
#layout-main div.forum a.username-coloured
{
	color:#8266b8;
}
div.quotebody
{
	background-color: black;
}

div.quotebody div.quoteof
{
	background-color: #545270;
	color:white;
	padding-left: 5px;
}
#layout-main div.forum div.poll div.pollbar
{
	background-color:#412b5e;
	border-bottom-color:#261937;
	border-right-color:#261937;
	color:#FFFFFF;
}
#layout-main div.forum div.events h2,
#layout-main div.forum div.poll h2,
#layout-main div.forum a.topictitle
{
	color:#d3adec;
}
#layout-main div.forum div.threads .rtop *,
#layout-main div.forum div.threads .rbottom *,
#layout-main div.forum div.threads div.inner
{
	background-color: #2a2a2a;
}
#layout-main div.forum ul.topics
{
	border-left-color:#2a2a2a;
	border-right-color:#2a2a2a;
}
#layout-main div.forum ul.topics li.row
{
	background-color: #333;
}
#layout-main div.forum ul.topics li.g_odd.row
{
	background-color:black;
}
#layout-main div.forum ul.topiclist li
{
	color: #7c668d;
}

#layout-main div.g_msg.error
{
	border: 1px solid #7c0000;
	background-color: #250000;
}
#layout-main div.g_msg.warning
{
	border: 1px solid #4c2e00;
	background-color: #201400;
}
#layout-main div.g_msg.note
{
	border: 1px solid #575757;
	background-color:#171717;
}
#layout-main div.g_msg.success
{
	border: 1px solid #002710;
	background-color: #001107;
}

#layout-main div.g_msg.error h3
{
	color: #FF0000;
}
#layout-main div.g_msg.warning h3
{
	color: #af6b00;
}
#layout-main div.g_msg.note h3
{
	color: white;
}
#layout-main div.g_msg.success h3
{
	color: #01702e;
}

#tooltip
{
	color:#993300;
	filter:alpha(opacity=90);
	khtmlopacity:0.90;
	mozopacity:0.90;
	opacity:0.90;
	font-size: 10px;
	word-wrap: break-word;
}
button + button
{
margin-left: 5px;
}
a.button,
input.button,
button.button,
a.confirmButton,
input.confirmButton,
button.confirmButton
{
	background-image: none;
	text-shadow: none;
}
#layout-main div.forum div.postbody dl.codebox
{
background-color:black;
border-color:#C9D2D8;
}
#layout-main div.forum div.postbody dl.codebox dt
{
	color: white;
}
#layout-main div.forum div.postbody dl.codebox code
{
	color: #8266B8;
}
*.i_top
{
	background-image: url(images/icon_back_top.gif);
}
/*Bubble Tooltip*/
#tooltip span
{
font-size: 10px;
color: white;
}
#tooltip span.top
{
background:url(images/bubble.png) no-repeat top;
}
#tooltip span.middle
{
background:url(images/bubble_filler.png) repeat-y bottom;
}
#tooltip span.bottom
{
background:url(images/bubble.png) no-repeat bottom;
}
#obj-tooltip
{
width: auto !important;
height: auto !important;
background-color: black;
color: white;
visibility: hidden;
z-index: 100;
}
#obj-tooltip h1
{
display: none;
}
#obj-tooltip ul li,
#obj-tooltip ul
{
list-style-type: none;
margin: 0;
padding: 0;
text-align: left;
vertical-align: middle;
}
/*epbar colors*/
#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
	background-color:#817eae;
	border-bottom: 2px solid #817eae;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
	background-color:#5e3f89;
	border-bottom: 2px solid #5e3f89;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
	border-bottom: 2px solid #00ff00;
}