/*---------------------------------
				@ADDFILE
----------------------------------*/

div.addfile_all div.addfile_add table {
	margin: 0 auto;
}
div.addfile_all div.addfile_add table table,
div.addfile_all div.addfile_add table table td {
	border: 0;
	margin: 0;
}
div.addfile_all div.addfile_add td.action {
	text-align: center;
	background: transparent url(http://anidb.zakness.com/layout/stripe-ltblue.gif) repeat left top;
	padding: 0.5em;
}
