/*---------------------------------
				@ANIMEVOTES
----------------------------------*/

/* anime votes graphs */
div.animevotes_all>table {
	width: 95%;
	margin: 0 auto;
	border: 0;
}
div.animevotes_all table table {
	width: 100%;
	border:1px solid #E1D9F5;
	margin-bottom: 1em;
}
div.animevotes_all table td,
div.animevotes_all table th {
	text-align: center;
}
div.animevotes_all table.vote_graph tr:last-child {
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	font-weight: bold;
}
div.animevotes_all caption {
	margin-top: 1em;
}
div.animevotes_all td.rating.ep+td {
	text-align: left;
}