/*---------------------------------
			@EPISODE
----------------------------------*/

div.ep_all div table {
	width: 100%;
}
div.ep_all div.ep_vote,
div.ep_all h4 {
	text-align: center;
}
div.ep_all td[colspan="11"] {
	background: #fff url(images/layout/stripe-ltblue.gif) repeat left top;
}