#layout-main div.forum div.threads .rtop *,
#layout-main div.forum div.threads .rbottom *,
#layout-main div.forum div.threads div.inner
{
	background-color:#6470C3;
}

#layout-main div.forum ul.topics li.row
{
	background-color:#F0F2FF;
}

#layout-main div.forum ul.topics li.row:hover
{
	background-color:#CBD6DE;
}

#layout-main div.forum .rtop *,
#layout-main div.forum .rbottom *,
#layout-main div.forum div.inner
{
	background-color:#f8f7ff;
}

#layout-main div.forum ul.topiclist dd
{
	border-left-color:#FFFFFF;
}

#layout-main div.forum li.row
{
	border-bottom-color:#00608F;
	border-top-color:#FFFFFF;
}

#layout-main div.forum ul.topics
{
	border-left-color: #6470C3;
	border-right-color: #6470C3;
}

#layout-main div.forum div.signature
{
	border-top-color: #CCCCCC;
}

#layout-main div.forum div.signature,
#layout-main div.forum div.navbar div.inner div.bottom
{
	border-top-color:#FFD2FE;
}

#layout-main div.forum div.navbar div.inner div.bottom
{
	border-color: #FFFFFF;
}

#layout-main div.forum div.poll div.inner,
#layout-main div.forum div.poll .rbottom *,
#layout-main div.forum div.poll .rtop *,
#layout-main div.forum div.events div.inner,
#layout-main div.forum div.events .rbottom *,
#layout-main div.forum div.events .rtop *,
#layout-main div.forum div.comment div.inner,
#layout-main div.forum div.comment .rbottom *,
#layout-main div.forum div.comment .rtop *,
#layout-main div.forum ul.topics li.g_odd
{
	background-color:#F0F2FF;
}

#layout-main ul.format-modes
{
	background-color: inherit;
}