/*---------------------------------
				@ICONS
----------------------------------*/


/* image replacement */
img[src*="minus.gif"], 
img[src*="plus.gif"] {
	background: transparent url(images/buttons/minus.gif) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="plus.gif"] {
	background: transparent url(images/buttons/plus.gif) no-repeat left top;
}
a:hover img[src*="minus.gif"], a:active img[src*="minus.gif"],
a:hover img[src*="plus.gif"], a:active img[src*="plus.gif"] {
	background-position: -16px top;
}
img[src*="down1.gif"] {
	background: #202379 url(images/buttons/down.gif) no-repeat 2px top;
	width: 0;
	padding-left: 13px;
	height: 12px;
	margin-bottom: -2px;
}
img[src*="up1.gif"] {
	background: #202379 url(images/buttons/up.gif) no-repeat 2px top;
	width: 0;
	padding-left: 13px;
	height: 12px;
	margin-bottom: -2px;
}
img[src*="nodown1.gif"] {
	background: transparent url(images/buttons/down.gif) no-repeat left top;
	width: 0;
	padding-left: 9px;
}
img[src*="noup1.gif"] {
	background: transparent url(images/buttons/up.gif) no-repeat left top;
	width: 0;
	padding-left: 9px;
}
a:hover img[src*="up1.gif"], a:active img[src*="up1.gif"],
a:hover img[src*="down1.gif"], a:active img[src*="down1.gif"] {
	background-position: -9px top;
}
a:hover img[src*="noup1.gif"], a:active img[src*="noup1.gif"],
a:hover img[src*="nodown1.gif"], a:active img[src*="nodown1.gif"] {
	background-position: -11px top;
}
img[src*="file_delete.gif"] {
	background: transparent url(images/icons/state-del.png) no-repeat left top;
	width: 0;
	padding-left: 14px;
}
img[src*="file_edit.gif"] {
	background: transparent url(images/buttons/mylist-edit.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_seen_no.gif"] {
	background: transparent url(images/buttons/seen-no.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_seen_yes.gif"] {
	background: transparent url(images/buttons/seen-yes.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_file_addmylist.gif"] {
	background: transparent url(images/buttons/mylist-add.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_file_removemylist.gif"] {
	background: transparent url(images/buttons/mylist-remove.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_file_ed2k.gif"] {
	background: transparent url(images/buttons/ed2k.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_rate_star.gif"] {
	background: transparent url(images/icons/star.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
img[src*="anidb_rate_halfstar.gif"] {
	background: transparent url(images/icons/star-half.png) no-repeat left top;
	width: 0;
	padding-left: 8px;
}
img[src*="ask2.gif"] {
	background: transparent url(images/buttons/help.png) no-repeat -1px top;
	width: 0;
	padding-left: 13px;
}
img[src*="ask2.gif"]:hover {
	background-color: #dfd5ff;
}
img[src*="anidb_no_vote.gif"] {
	background: transparent url(images/icons/vote-no.gif) no-repeat left 3px;
	width: 0;
	padding-left: 5px;
	height: 16px;
}


/* inline icon styles */
div#layout-content div.icoco {
	margin: 2px 0.3em 0;
}
div#layout-content td.title div.icoco {
	float: right;
}
div#layout-content .i_icon,
div.mylist_list td.icons span,
div.anime_all td.icons span {
	float: left;
	display: block;
	width: 15px;
	height: 13px;
	background-repeat: no-repeat;
	background-position: middle center;
	text-indent: -5000px;
	padding: 0 2px;
}
.icon a:hover {
	border: none !important;
}
.i_inline {
	padding: 8px;
	background-repeat: no-repeat;
	background-position: center;
}
.i_inline span {
	display: none;
}

/* buttons */
.i_help {
	background-image: url(images/buttons/help.png);
	cursor: help;
	border: 0 !important;
}
.i_help:hover {
	background-color: #dfd5ff;
}
.i_nodown1, .i_down1, .i_noup1, .i_up1 {
	width: 9px;
	height: 10px;
}
.i_down1, .i_up1		{background-position: -11px center;}
.i_nodown1, .i_down1	{background-image: url(images/buttons/down.gif);}
.i_noup1, .i_up1		{background-image: url(images/buttons/up.gif);}
.i_minus				{background-image: url(images/buttons/minus.gif);}
.i_plus					{background-image: url(images/buttons/plus.gif);}

/* file state */
.i_filestate_oncd 		{background-image: url(images/icons/state-cd.png);}
.i_filestate_ondvd 		{background-image: url(images/icons/state-dvd.png);}
.i_filestate_onhdd 		{background-image: url(images/icons/state-hdd.gif);}
.i_filestate_other	 	{background-image: url(images/icons/state-unknown.gif);}

/* anime state */
.i_state_all 			{background-image: url(images/icons/state-all.png);}
.i_state_deleted 		{background-image: url(images/icons/state-del.png);}
.i_state_mixed 			{background-image: url(images/icons/state-mixed.png);}
.i_state_oncd	 		{background-image: url(images/icons/state-cd.png);}
.i_state_onhdd	 		{background-image: url(images/icons/state-hdd.gif);}
.i_state_unknown 		{background-image: url(images/icons/state-unknown.gif);}
.i_no_vote				{background-image: url(images/icons/vote-no.gif);}

/* seen */
.i_seen 				{background-image: url(images/icons/state-seen.png);}
.i_seen_no 				{background-image: url(images/buttons/seen-no.png);}
.i_seen_yes 			{background-image: url(images/buttons/seen-yes.png);}

/* mylist */
.i_file_addmylist	 	{background-image: url(images/buttons/mylist-add.png);}
.i_mylist 				{background-image: url(images/icons/state-inmylist.png);}

/* actions */
.i_file_add 			{background-image: url(images/buttons/epfile-add.gif);}
.i_ep_vote				{background-image: url(images/buttons/vote.png);}
.i_group_vote			{background-image: url(images/buttons/vote.png);}


/* audio+sub flags */
.i_audio_ja 			{background-image: url(images/icons/audio-japanese.gif);}
.i_sub_ja 				{background-image: url(images/icons/audio-sub-japanese.gif);}
.i_audio_x-jat			{background-image: url(images/icons/audio-x-japanese.gif);}
.i_sub_x-jat			{background-image: url(images/icons/audio-sub-x-japanese.gif);}
.i_audio_pl 			{background-image: url(images/icons/audio-polish.gif);}
.i_sub_pl 				{background-image: url(images/icons/audio-sub-polish.gif);}
.i_audio_x-other 		{background-image: url(images/icons/audio-unknown.gif);}
.i_sub_x-other 			{background-image: url(images/icons/audio-sub-unknown.gif);}
.i_audio_x-unk 			{background-image: url(images/icons/audio-unknown.gif);}
.i_sub_x-unk 			{background-image: url(images/icons/audio-sub-unknown.gif);}

/* rating */
span.i_rate_vhigh,
span.i_rate_high,
span.i_rate_med,
span.i_rate_low,
span.i_rate_vlow {
	background-repeat: repeat-x;
	background-position: left;
	background-image: url(images/icons/star.png);
}
span.i_rate_vhigh	{width: 45px;}
span.i_rate_high	{width: 37px;}
span.i_rate_med		{width: 30px;}
span.i_rate_low		{width: 22px;}
span.i_rate_vlow	{width: 15px;}

