/*---------------------------------
			@MYHISTORY
----------------------------------*/

div.myhistory_all div table {
	width: 100%;
	margin: 1em 0;
}
div.myhistory_all .g_filterlist {
	text-align: center;
}