/*---------------------------------
			@MYREVIEWS
----------------------------------*/

div.myreviews_all caption {
	display: none;
}
div.myreviews_all div table {
	width: 100%;
	margin: 1em 0;
}
div.myreviews_all div table:first-child {
	margin-top: 0;
}
div.myreviews_all td.anime {
	font-weight: bold;
}