/*---------------------------------
			@MYWISHLIST
----------------------------------*/

div.mywishlist_all div table:first-child {
	width: 100%;
}
div.mywishlist_all caption {
	color: #7762ed;
	font: 1.5em "Century Gothic", "Lucida Grande", sans-serif;
	text-transform: capitalize;
}
div.mywishlist_all div table td {
	padding: 0.2em 0.3em;
}
div.mywishlist_all div table:last-child {
	border: 0;
	margin: 0 0 1em 0.5em;
}
div.mywishlist_all div table:last-child td {
	border: 0;
}
div.mywishlist_all form>table {
	border: 0;
}
div.mywishlist_all form>table:last-child {
	width: 100%;
	border:1px solid #E1D9F5;
}
div.mywishlist_all form>table:last-child tr {
	background: transparent url(http://anidb.zakness.com/images/layout/stripe-ltblue.gif) repeat left top;
}
div.mywishlist_all form>table table {
	border: 0;
}
div.mywishlist_all form>table td {
	border: 0;
}