/*---------------------------------
			@PROFILE
----------------------------------*/
div.profile_all .g_info {
	margin: 1em 0;
}
div.profile_all a[rel="anidb::wiki"] {
	border-bottom: none !important;
}
div.profile_all .g_section {
	padding-bottom: 1em;
	border-bottom: 1px solid #f3e7ff;
}
div.profile_all .g_section .info {
	margin: 1em 0;
	display: table-cell;
}
div.profile_all .block .info dl {
	position: relative;
}
div.profile_all .g_section table {
	margin: 0 auto;
	border:1px solid #E1D9F5;
}
div.profile_all .g_section caption {
	width: 100%;
	text-align: center;
}
div.profile_all td.action {
	text-align: center;
	background: transparent url(images/layout/stripe-ltblue.gif) repeat left top;
	padding: 0.7em;
} 

div.profile_all div.css_style {
	text-align: center;
}
div.profile_all div.css_style div {
	width: 50%;
	margin: 0 auto;
}

div.profile_all img#style_thumbnail {
	border:1px solid #EBEDF5;
	background-color:#F9F9F9;
	overflow:hidden;
	text-align:center;
	width:220px;
}
div.profile_all div.css_style div.block div.image {
	height:auto;
	width:40%;
}
div.profile_all div.css_style div.block div.info {
	height:auto;
	width:60%;
}

div.profile_all div.css_style div.info dl dt {
	font-weight:bold;
	clear:left;
	float:left;
	text-align: left;
}
div.profile_all div.css_style div.info dl dd {
	margin-left:7em;
	width:20em;
	text-align: left;
	margin-bottom: 0.3em;
}

div.profile_all div.css_style input#style_prev,
div.profile_all div.css_style input#style_next {
	border: 1px solid #f7edf1;
	border-bottom: 1px solid #d28cb2;
	color: #d28cb2;
	background: #fff9fb;
	padding: 0.2em 0.3em;
	font-size: 0.95em;
	cursor: pointer;
}
div.profile_all div.css_style input#style_prev:hover,
div.profile_all div.css_style input#style_next:hover {
	background: transparent url(images/layout/stripe-pink2.gif) repeat left top;
	color: #de4799;
	border: 1px solid #eec6dc;
}
div.profile_all div.css_style input#style_apply {
	padding: 0.2em 0.3em;
	font-size: 0.95em;
}
div.profile_all div.css_style input#style_url {
	margin-top: 1em;
	width: 100%;
}
div.profile_all .performance {
	text-align: center;
}
div.profile_all .languages div table {
	margin-bottom: 1em;
}
div.profile_all div.general form,
div.profile_all div.languages {
	position: relative;
	padding-bottom: 4em;
}
div.profile_all div.general form:after,
div.profile_all div.languages:after {
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
	display: block;
}
div.profile_all div.general form div,
div.profile_all div.languages div {
	float: left;
	width: 33.33%;
}
div.profile_all div.general form>input,
div.profile_all div.languages input {
	position: absolute;
	left: 45%;
	bottom: 1em;
}
div.profile_all div.languages div form {
	padding-right: 1em;
}
div.profile_all div.languages div form table {
	width: 100%;
}
div.profile_all div.general div+div ul,
div.profile_all div.general div+div h4 {
	margin: 0 1em;
}
div.profile_all div.general div+div+div ul,
div.profile_all div.general div+div+div h4 {
	margin: 0;
}
div.profile_all div.general ul li {
	position: relative;
	padding-left: 43px;
	min-height: 20px;
}
div.profile_all div.general ul li a.i_help {
	position: absolute;
	top: -2px;
	left: 0;
	padding: 7px;
}
div.profile_all div.general ul li input[type="checkbox"] {
	left: 20px;
	top: 0;
	position: absolute;
}
div.profile_all div.passwords>div,
div.profile_all div.permissions>div,
div.profile_all div.notify>div {
	width: 60%;
	margin: 1em auto;
}
div.profile_all div.passwords div.anidb form table,
div.profile_all div.permissions div form table {
	width: 100%;
}
div.profile_all div.notify>div table {
	margin: 0;
}
