/*---------------------------------
			@USERPAGE
----------------------------------*/

div.userpage_all div.g_menu,
div.userpage_all div.stats {
	margin-top: 0;
}
div.userpage_all div.g_menu div {
	margin-bottom: 1em;
}
div.userpage_all div.g_menu div:last-child {
	margin-bottom: 0;
}
div.userpage_all div.stats {
	width: 15em;
	float: left;
	clear: none;
}
div.userpage_all div.stats table {
	width: 100%;
}
div.userpage_all div.stats table td {
	text-align: right;
}
div.userpage_all div.stats>div {
	margin-bottom: 1em;
}
div.userpage_all div.userdetails,
div.userpage_all div.userprefs {
	margin: 1em 11.6em 1em 16em;
	clear: none;
}
div.userpage_all div.userprefs h4 {
	text-align: center;
}
div.userpage_all div.favreviewers,
div.userpage_all div.buddies {
	float: right;
	clear: right;
	margin-bottom: 1em;
	width: 10.6em;
}
div.userpage_all caption,
div.userpage_all div.latest h4 {
	text-align: left;
	padding: 0 0.05em;
}

/* latest */
div.userpage_all div.latest ul {
	margin-bottom: 1em;
	width: 100%;
}
div.userpage_all div.latest ul li {
	border-top: 1px solid #ebe1ef;
	padding: 0.3em;
	position: relative;
}
div.userpage_all div.latest ul li.g_odd {
	background-color: #f5f7ff;
}
div.userpage_all div.latest li span {
	position: absolute;
	top: 0.3em;
	left: 0.3em;
	font-weight: bold;
}
div.userpage_all div.latest div.latest_votes li a {
	margin-left: 3em;
}

/* stats */
div.userpage_all div.charts {
	width: 710px;
	margin: 0 auto;
}
div.userpage_all div.charts>div {
	margin: 1em 5px 0;
	float: left;
	text-align: center;
}
div.userpage_all div.charts>div:first-child {
	padding-left: 45px;
}
div.userpage_all div.charts div.mylisthistory {
	width: 100%;
	clear: both;
}

/* edit */
div.adduserdata_all table {
	border:1px solid #E1D9F5;
}
div.adduserdata_all table td.action {
	text-align: center;
	background: transparent url(http://anidb.zakness.com/images/layout/stripe-ltblue.gif) repeat left top;
	padding: 0.7em;
}