@import "../common/normalize.css";
@import "../common/layout/default.css";
@import "../common/layout/common.css";

@import "../common/layout/global/all.css";
@import "../common/layout/page/all.css";

@import "../icons/all.css";
@import "../icons/zakura.css";

@import "../common/style/color/special.css";
@import "../common/style/color/forum-default.css";
@import "../common/style/text/default.css";

@import "../common/style/content/page-anime.css";

@import "layout-macro.css";

@import "style-default.css";
@import "style-menu.css";
@import "style-usermenu.css";
@import "style-content.css";
@import "zakura-old.css";
@import "forum-color.css";

#layout-main div.block > div.image{
	width: 32%;
}
#layout-main div.block > div.data{
	width: 65%;
}
#layout-main div.block div.data div.tabbed_pane table,
#layout-main div.block div.data > div > table{
	width: 99%;
}

/** TABS **/
/** TABBING PANE **/

#layout-main div.tabbed_pane div.body div.* {
	left: 0px;
}

#layout-tabs ul.main-tabs li:hover,
#layout-tabs ul.main-tabs li.selected
{
	border-bottom:1px double #FFFFFF;
	background-color:#FFFFFF;
}

#layout-tabs ul.main-tabs li:hover,
#layout-tabs ul.main-tabs li.selected,
#layout-tabs ul.main-tabs li:hover a,
#layout-tabs ul.main-tabs li.selected a
{
	color:#7762ED;
}

#layout-tabs ul.main-tabs li
{
	color:#FFFFFF;
	background-color:#305C97;
	border:1px solid #F3E7FF;
}

#layout-tabs ul.main-tabs li a
{
	color:#FFFFFF;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	background-color:#F5F7FF;
	color:#4D2F5F;
	border-bottom:1px double #F5F7FF;
}


#layout-main div.tabbed_pane ul.tabs li
{
	background-color:#FFFFFF;
	color:#7762ED;
	border:1px solid #F3E7FF;
}

#layout-tabs
{
	display: block;
	padding-left: 18px;
	margin-top: 3em;
	margin-bottom: -4.5em;
}

#layout-main h1
{
	padding-bottom: 1em;
}

#layout-tabs ul.main-tabs li
{
	line-height: 1.6em;
	text-transform: capitalize;
	display: inline;
	padding:3px 0 2px;
}

#layout-tabs ul.main-tabs li a,
#layout-main div.tabbed_pane ul.tabs li
{
	padding: 3px 6px;
}

div.pagination span strong,
div.pagination span a
{
	padding: 1px 4px;
}

div.pagination span a,
div.pagination span strong
{
	border:1px solid #2D42AF;
}

div.pagination span a:hover,
div.pagination span strong
{
	background-color:#FFFFFF;
	color:#2B5288;
}

div.pagination span a
{
	color:#FFFFFF;
	background-color:#586FD1;
}

/*epbar colors*/
#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
	background-color:#c6c3ff;
	border-bottom: 2px solid #c6c3ff;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
	background-color:#6361ff;
	border-bottom: 2px solid #6361ff;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
	border-bottom: 2px solid #00ff00;
}
/*overrides*/
/*profile.css*/
#layout-main div.profile_all div.pane.general div.body div.pane div ul li a.i_inline
{
	padding: 4px 8px;
}

#layout-main div.anime_all div.info div.caststaff div.cast table,
#layout-main div.anime_all div.info div.caststaff div.staff table
{
	border: none;
}

#layout-main div.profile_all div.preferences,
#layout-main div.profile_all div.tabbed_pane
{
	width:auto;
}

#layout-main div.forum div.threads,
#layout-main div.forum div.navbar
{
	font-size:80%;
}

.g_bubble.stripe
{
	font-size:85%;
}

.g_bubble .g_bubble,
.g_bubble .g_bubble
{
	background-color: #FAF0FF;
}

.g_bubble,
.g_bubble .g_bubble .g_bubble
{
	background-color: #F5F7FF;
}

.g_bubble.stripe > div.data div.name
{
	border-bottom-color: #D3D7E2;;
	border-bottom-style: dotted;
}

#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.title
{
	border-right-color: #D3D7E2;;
	border-right-style: dotted;
}

.g_msg.note,
.g_note,
.g_bubble
{
	border: 1px solid;
	border-color:#E4E4E4 #D5CCCC #D5CCCC #E4E4E4;
}

#layout-main div.addsimilaranime_all div.addsimilaranime_entries dl.profile dd
{
	color:#666666;
}

#layout-main div.addsimilaranime_all div.addsimilaranime_entries dl.profile dd strong
{
	color:#000000;
}

.g_bubble.stripe > div.data
{
	width:320px;
}

#layout-main div.g_timedentry div.body
{
	padding:1em;
}

#layout-main div.main_all div.datablocks,
#layout-main div.main_all div.news.forum,
#layout-main div.main_all div.header
{
	margin-right:20.5em;
}

#layout-main div.main_all div.datablocks div.stripe
{
	width:100%;
	height: auto;
}

#layout-main div.main_all div.datablocks div.hidden
{
	display:inline-block;
}

#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	background-color:#FAF0FF;
	border-color:#F3E7FF #DEC9F2 #DEC9F2 #F3E7FF;
	color:#4D4993;
	font-size:1.1em;
	font-weight:bold;
	padding:0.3em 1em;
}


#layout-main div.main_all div.datablocks
{
	-moz-column-width:24em;
	-webkit-column-width:24em;
	column-width:24em;
}

#layout-main div.main_all div.datablocks > div
{
	width:24em;
}

#layout-main div.main_all div.datablocks div.similaranime div.stripe div.data
{
	width:165px;
}

#layout-main div.main_all div.datablocks div.stripe div.data
{
	width:220px;
}

@media screen and (min-width: 1200px) and (max-width: 1400px)
{
	#layout-main div.main_all div.datablocks
	{
		-moz-column-width:33em;
		-webkit-column-width:33em;
		column-width:33em;
	}

	#layout-main div.main_all div.datablocks > div
	{
		width:33em;
	}

	#layout-main div.main_all div.datablocks div.similaranime div.stripe div.data
	{
		width:270px;
	}

	#layout-main div.main_all div.datablocks div.stripe div.data
	{
		width:325px;
	}
}

@media screen and (min-width: 1850px)
{
	#layout-main div.main_all div.datablocks div.similaranime div.stripe div.data
	{
		width:225px;
	}

	#layout-main div.main_all div.datablocks div.stripe div.data
	{
		width: 280px;
	}

	#layout-main div.main_all div.datablocks
	{
		-moz-column-width: 29em;
		-webkit-column-width: 29em;
		column-width: 29em;
	}

	#layout-main div.main_all div.datablocks > div
	{
		width: 29em;
	}
}

.g_bubble.stripe.mini > div.data
{
	width:130px;
}

#layout-search div.g_bubble.search
{
	background-color: transparent;
	border:none;
}