#layout-main div.mylist_all div.g_section form table.animelist {
	margin:0 0 20px 3px;
}
	#layout-main div.mylist_all div.g_section form table.animelist th {
		font-size:0.8em;
	}
		#layout-main div.mylist_all div.g_section form table.animelist th abbr {
			display:none;
		}
	#layout-main div.mylist_all div.g_section form table.animelist tr.action td {
		padding:3px 0;
	}
