button,
select,
input,
textarea,
html
{
	background:#000000;
	color:#728972;
}

table
{
	border-top-color:#888888;
}

tr.g_odd,
li.g_odd,
span.g_odd
{
	background-color:inherit;
	color:#999999;
}

#layout-main table ul li.g_odd,
#layout-main table table td.g_odd,
#layout-main ul.g_list li.g_odd
{
	color:#728972;
}

#layout-main > h1
{
	background-color:#000000;
	border-top-color:#888888;
}

#layout-menu > li ul
{
	background-color:#888888;
	border-color:#000000;
}

#layout-tabs ul.main-tabs > li.selected
{
	background-color:#000000;
	border-bottom-color:#000000;
}

#layout-menu li.sub-menu ul li:hover
{
	background-color:#AAAAAA;
}

#layout-main div.pagination span a
{
	background-color:#728189;
	border-color:#888888;
	color:#CCCCCC;
}

#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong
{
	color:#000000;
}

#layout-main #htmltagcloud
{
	background-color:#888888;
	border-color:#888888;
}

#layout-main table tr.header
{
	background-color:#BBBBBB;
}

button:hover
{
	background-color:#888888;
	color:#CCCCCC;
}

a,
#layout-tabs ul.main-tabs > li.selected a,
ul.g_list li,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover
{
	color:#CCCCCC;
}

a:hover,
#layout-menu li.sub-menu:hover
{
	color:#FFFFFF;
}

#layout-main div.msg_all tr.mod
{
	background-color:#728972;
}

#layout-main div.forum ul.topics
{
	border-left-color:#888888;
	border-right-color:#888888;
}

#layout-main div.forum ul.topics li.row:hover
{
	background-color:#999999;
}

#layout-main div.forum .rtop *,
#layout-main div.forum .rbottom *,
#layout-main div.forum div.inner,
#layout-main div.forum ul.topics li.row:hover,
#layout-main #htmltagcloud
{
	background-color:#666666;
}

#layout-main div.forum div.poll div.inner,
#layout-main div.forum div.poll .rbottom *,
#layout-main div.forum div.poll .rtop *,
#layout-main div.forum div.comment div.inner,
#layout-main div.forum div.comment .rbottom *,
#layout-main div.forum div.comment .rtop *,
#layout-main table tr.header
{
	background-color:#999999;
	color:#000000;
}

#layout-main ul.g_list li,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs li,
#layout-nav div.menu_hr
{
	border-color:#888888;
}

#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.selected,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-menu li.sub-menu:hover,
#layout-main div.news_all div.g_timedentry h4,
#layout-main div.forum div.threads .rtop *,
#layout-main div.forum div.threads .rbottom *,
#layout-main div.forum div.threads div.inner
{
	background-color:#888888;
}