*.i_plus
{
	background-image: url(../icons/grey/plus.gif);
}

*.i_minus
{
	background-image: url(../icons/grey/minus.gif);
}

*.i_forum_link {
  background-image:url(../icons/grey/forum_link.gif);
}

*.i_help {
  background:transparent url(../icons/grey/ask2.gif) no-repeat scroll right center;
}

*.i_comment_add {
  background:transparent url(../icons/grey/comment_add.gif) no-repeat scroll 0 50%;
}

*.i_topic_add {
  background-image:url(../icons/grey/topic_add.gif);
}

*.i_topic_history {
  background-image:url(../icons/grey/topic_history.gif);
}

*.i_topic_delete {
  background-image:url(../icons/grey/topic_delete.gif);
}

*.i_topic_move {
  background-image:url(../icons/grey/topic_move.gif);
}

*.i_comment_revisions {
  background-image:url(../icons/grey/comment_revisions.gif);
}

*.i_comment_move {
  background-image:url(../icons/grey/comment_move.gif);
}

.i_comment_creq {
  background-image:url(../icons/grey/comment_creq.gif);
}

*.i_topic_lock {
  background-image:url(../icons/grey/topic_lock.gif);
}

*.i_comment_edit {
  background-image:url(../icons/grey/comment_edit.gif);
}

*.i_comment_quote {
  background-image:url(../icons/grey/comment_quote.gif);
}

*.i_comment_delete {
  background-image:url(../icons/grey/comment_delete.gif);
}

*.i_comment_info {
  background-image:url(../icons/grey/comment_info.gif);
}

*.i_top {
  background:transparent url(../icons/grey/icon_back_top.gif) no-repeat scroll 0 50%;
}

*.i_topic_undelete {
  background-image:url(../icons/grey/topic_undelete.gif);
}

*.i_topic_unlock {
  background-image:url(../icons/grey/topic_unlock.gif);
}

*.i_comment_setactive {
  background-image:url(../icons/grey/comment_setactive.gif);
}

*.i_topic_locked {
  background-image:url(../icons/grey/topic_locked.gif);
}

*.i_pm_delete {
  background-image:url(../icons/grey/pm_delete.gif);
}

*.i_comment_undelete {
  background-image:url(../icons/grey/comment_undelete.gif);
}

*.i_pm_delete {
  background-image:url(../icons/grey/pm_delete.gif);
}

*.i_vrs_2 {
  background-image:url(../icons/grey/anidb_vrs_2.gif);
}

*.i_vrs_3 {
  background-image:url(../icons/grey/anidb_vrs_3.gif);
}

*.i_vrs_4 {
  background-image:url(../icons/grey/anidb_vrs_4.gif);
}

*.i_vrs_5 {
  background-image:url(../icons/grey/anidb_vrs_5.gif);
}

*.i_review_add {
  background:transparent url(../icons/grey/review_add.gif) no-repeat scroll 0 50%;
}

*.i_pm_reply {
  background-image:url(../icons/grey/pm_reply.gif);
}

*.i_topic_subscribe {
  background-image:url(../icons/grey/topic_subscribe.gif);
}

*.i_topic_unsubscribe {
  background-image:url(../icons/grey/topic_unsubscribe.gif);
}
