@import "../sub/common.css";
@import "../common/style/color/status-black.css";
@import "../anigoogle/anigoogle-layout.css";
@import "../anigoogle/anigoogle-text.css";
@import "../anigoogle/anigoogle-border.css";
@import "../anigoogle/anigoogle-color.css";
@import "../anigoogle/anigoogle-search.css";
@import "aniblackle-border.css";
@import "aniblackle-color.css";
@import "aniblackle-icons.css";

#layout-footer:after
{
	content:"design by deridiot inspired by blackle";
}