#layout-main div.forum ul.topics li.row,
#layout-main div.animeatt_reviews div.review div.text,
#layout-main div.g_timedentry div.body,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	border: none;
}

button,
input[type="submit"],
input[type="button"]
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid;
	border-color:#777777 #666666 #666666 #777777;
}

#layout-search input.text
{
    box-shadow: 1px 1px 2px #777777 inset;
}

#layout-search select
{
    box-shadow: 0 1px 2px #777777 inset;
}