button,
select,
select option,
input,
textarea,
html,
#layout-main div.mylist_list tr.all_watched td.stats,
*.g_button a,
#layout-main table ul li.g_odd,
#layout-main table table td.g_odd,
#layout-main ul.g_list li.g_odd
{
	color: #728972;
}

#layout-menu > li ul
{
	border-color: #000000;
}

#layout-tabs ul.main-tabs > li:hover,
#layout-tabs ul.main-tabs > li.selected
{
	border-bottom-color: #000000;
}

*.g_button a:hover,
a:hover,
span.link:hover,
#layout-menu li.sub-menu:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover
{
	color: #FFFFFF;
}

#layout-main div.animeatt_all div.review > h4,
#layout-main div.forum ul.topics li.row,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.anime_all div.info div.caststaff div h4,
#layout-main div.mylist_list tr.all_watched td.stats,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main > h1,
#layout-search select,
#layout-search input.text,
#layout-tabs ul.main-tabs > li:hover,
#layout-tabs ul.main-tabs > li.selected,
*.g_button a,
input[type="text"],
input[type="password"],
input.text,
tr,
button,
select,
select option,
input,
textarea,
html
{
	background-color: #000000;
}

#layout-main div.cmt_entries dl.profile dd strong
{
	color: #666666;
}

#layout-main div.forum .rtop *,
#layout-main div.forum .rbottom *,
#layout-main div.forum div.inner,
#layout-main div.forum div.poll div.inner,
#layout-main div.forum div.poll .rbottom *,
#layout-main div.forum div.poll .rtop *,
#layout-main div.forum div.events div.inner,
#layout-main div.forum div.events .rbottom *,
#layout-main div.forum div.events .rtop *,
#layout-main div.forum div.comment div.inner,
#layout-main div.forum div.comment .rbottom *,
#layout-main div.forum div.comment .rtop *,
#layout-main div.forum div.threads .rtop *,
#layout-main div.forum div.threads .rbottom *,
#layout-main div.forum div.threads div.inner,
#layout-main div.animeatt_reviews div.review div.text,
#layout-main div.g_timedentry div.body,
#layout-main div.export_all div.exportblock div.inner,
#layout-main div.export_all div.exportblock .rbottom *,
#layout-main div.export_all div.exportblock .rtop *,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.news_all div.g_timedentry h4,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.anime_all div.info div.caststaff div.cast,
#layout-main div.anime_all div.info div.caststaff div.staff,
#layout-main div.tagcloud,
#layout-main div.desc,
#layout-main div.anime_all div.desc,
#layout-main div div.addrelform table tr,
#layout-main div.tabbed_pane div.body,
tr.g_odd,
li.g_odd,
span.g_odd
{
	background-color: #404040;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	border-bottom-color: #404040;
}

#layout-main div.forum ul.topics
{
	border-left-color: #404040;
	border-right-color: #404040;
}

#layout-main div.forum ul.topics li.row
{
	border-top-color: #777777;
}

#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row
{
	background-color: #333333;
}

#layout-main div.forum a.topictitle,
a,
th a,
span.link,
#layout-tabs ul.main-tabs > li:hover a,
#layout-tabs ul.main-tabs > li.selected a,
ul.g_list li,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.pagination span a,
div.quotebody,
#layout-main table tr.header,
#layout-main table thead tr
{
	color: #CCCCCC;
}

#layout-main div.forum div.deleted,
#layout-main div.forum li.deleted dl.icon
{
	opacity: 0.6;
}

div.quotebody,
#layout-main div.g_timedentry h4,
#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.selected,
#layout-menu li.sub-menu:hover,
#layout-main table tr.header,
#layout-main table thead tr,
#layout-menu > li ul,
#layout-main div div.addrelform table tr.header,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
*.g_button a:hover,
#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.selected,
#layout-main div.pagination span a,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.row:hover,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row:hover,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover
{
	background-color: #555555;
}

#layout-main div.cmt_entries dl.profile
{
	border-right-color: #666666;
}

#layout-main div.anime_all table.stafflist + table.stafflist,
#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top-color: #777777;
}

#layout-main div.g_definitionlist tr:first-child th
{
	border-top: none;
}

#layout-main div.forum div.events h2,
#layout-main div.forum div.poll h2,
#layout-main div.forum ul.topiclist li
{
	color: inherit;
}

#layout-main a.filter,
#layout-main div.forum div.events dl dt,
#layout-main div.forum div.poll dl dt,
#layout-main div.cmt_entries dl.profile dd,
#layout-main div.forum div.poll dl dd,
#layout-main div.forum div.events dl dd
{
	color: #888888;
}

#layout-main div.g_msg.error
{
	border-color: #6F1212;
	background-color: #916A6A;
}

#layout-main div.g_msg.warning
{
	border-color: #64320C;
	background-color: #9A6D4C;
}

#layout-hint,
#layout-main div.g_msg.note
{
	border-color: #6E6E50;
	background-color: #B3B379;
}

#layout-main div.g_msg.success
{
	border-color: #066506;
	background-color: #769E76;
}

#layout-main div.g_msg.error h3
{
	color: #6F1212;
}

#layout-main div.g_msg.warning h3
{
	color: #64320C;
}

#layout-main div.g_msg.note h3
{
	color: #6E6E50;
}

#layout-main div.g_msg.success h3
{
	color: #066506;
}

#layout-hint,
#layout-main div.g_msg
{
	color: #000000;
}

#layout-hint a,
#layout-main div.g_msg a
{
	color: #105086;
}

#layout-hint a:hover,
#layout-main div.g_msg a:hover
{
	color: #AA0000;
}

#layout-main div.cmt_all div.cmt_add hr
{
	background-color: #666666;
}

#layout-main div.mylist_all td+td,
#layout-main div.myvotes_all td+td,
#layout-main div.mywishlist_all tr td+td,
#layout-main div.animelist_all tr td+td,
#layout-main div.lexicon_all table.animelist tr td+td,
#layout-main div.mynotifies_all tr td+td
{
	border-left-color: #555555;
}

#layout-main div.userpage_all div.blog div.g_timedentry span.stamp,
tr + tr td,
tr + tr th,
#layout-main div div.explanation div.description dl + dl,
#layout-main div.report_all div.body ul li + li,
#layout-main div.g_definitionlist tr th
{
	border-top-color: #555555;
}

#layout-main div.anime_all div.data table.relationlist tr,
th,
#layout-main div.profile_all div.default_languages table tr
{
	background-color: inherit;
}

#layout-main tr.header th.sortable:hover
{
	background-color: #666666;
	color: #DDDDDD;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
	background-color: #4F75C9;
	border-bottom-color: #4F75C9;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
	border-bottom-color: #77BF77;
}

#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
	background-color: #A1AFC9;
	border-bottom-color: #A1AFC9;
}

input[type="text"],
input[type="password"],
input.text,
textarea,
select,
#layout-search select,
#layout-search input.text,
#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul.main-tabs > li
{
	border: 1px solid #666666;
}

span.test,
button,
input[type="button"],
input[type="submit"],
*.g_button a,
div.quotebody,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
#layout-main div.anime_all div.desc,
#layout-main div.anime_all div.info div.caststaff div.cast,
#layout-main div.anime_all div.info div.caststaff div.staff,
#layout-main div.anime_all div.info div.image img,
#layout-main div.avatar img,
#layout-main div.desc,
#layout-main div.pagination span a,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.tabbed_pane div.body,
#layout-main div.tagcloud,
#layout-nav div.menu_hr
{
	border: 1px solid;
	border-color: #666666 #444444 #444444 #666666;
}

#layout-main > h1,
table,
#layout-main div.anime_all div.info div.caststaff div table,
#layout-main div.g_timedentry h4,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.cmt_all div.cmt_add h4,
#layout-main div.forum div.signature,
#layout-main div.forum div.navbar div.inner div.bottom,
#layout-main div.userpage_all > div.g_section > h4
{
	border-top-color: #666666;
}