@charset "utf-8";

/** HaruhiStyleX.AniDB v2
 * A style for AniDB.net by TheJAG
 * 
 * This style is designed for a screen resolutions of 1024×768 and higher!
**/

@import url(../sub/common.css);

html
{
	background-attachment:fixed;
	background-color:#FFFFFF;
	background-image:url(images/Background.png);
	background-position:right bottom;
	background-repeat:no-repeat;
	font-family:"Times New Roman", Times, serif;
}

#anidb
{
	background-image:url(images/banner.png);
	background-position:center 20px;
	background-repeat:no-repeat;
}

*
{
	color:#000000;
	margin:0;
	padding:0;
}

*::selection
{
	background-color:#0099FF;
	color:#FFFFFF;
}

#layout-main > div.g_content > div.rightbar > p.g_vital > a,
a
{
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

#alert-msg > span > a:hover,
#alert-news > span > a:hover,
#alert-notif > span > a:hover,
#layout-main > div.g_content > div.rightbar > p.g_vital > a:hover,
#layout-menu > li.sub-menu > ul > li > a > span:hover,
#layout-menu > li.sub-menu > ul > li.search > a > span:hover,
a:hover
{
	color:#0099FF;
}

ol,
ul
{
	list-style-type:none;
}

#layout-main > div.g_content > div.g_section > div.g_timedentry > div.avatar,
#layout-main > div.g_content > div.rightbar > div > ol > li > span,
#layout-search > div.search > form > p > input.submit,
#menu-main > li.random,
#menu-private > li.mycreqs,
#menu-private > li.myentries,
#menu-private > li.mymessages,
#menu-private > li.mynotifies,
#menu-private > li.myreviews,
#menu-private > li.myvotes,
#menu-private > li.mywishlist,
#menu-private > li.up2date,
#menu-repl,
#menu-support > li.credits,
#menu-support > li.forum + li.forum,
#menu-support > li.reclinks,
#menu-support > li.report,
#menu-support > li.staff,
#tagsearch,
#user-name
{
	display:none;
}

#layout-nav
{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}

#layout-menu
{
	background-image:url(images/menuClean.png);
	background-position:left top;
	background-repeat:no-repeat;
	height:320px;
	width:200px;
	padding-top:5px;
}

#layout-menu:hover
{
	background-image:url(images/menu.png);
}

#layout-menu > li.sub-menu
{
	visibility:hidden;
	margin-left:10px;
}

#layout-menu:hover > li.sub-menu,
#menu-main > li.search,
#menu-support > li.forum,
#menu-support > li.help,
#menu-support > li.irc
{
	visibility:visible;
}

#layout-menu > li.sub-menu > ul > li
{
	height:16px;
}

#alert-msg > span > a,
#alert-news > span > a,
#alert-notif > span > a,
#layout-menu > li.sub-menu > ul > li > a > span
{
	font-size:16px;
	text-transform:capitalize;
	color:#FFFFFF;
}

#layout-menu > li.sub-menu > ul > li.search > a > span
{
	color:#000000;
}

#menu-main > li.main > a > span
{
	content:"news";
}

#menu-main > li.search > a > span
{
	content:"advanced search";
}

#menu-main > li.search,
#menu-support > li.forum,
#menu-support > li.help,
#menu-support > li.irc
{
	position:absolute;
	top:300px;
}

#menu-main > li.search > a > span
{
	position:absolute; /* Prevents the link from spanning the entire line. */
	left:65px;
	width:120px;
}

#menu-support > li.help > a > span
{
	content:url(images/wiki.gif);
	position:relative;
	left:-5px;
}

#menu-support > li.forum > a > span
{
	content:url(images/phpbb.gif);
	position:relative;
	left:17px;
}

#menu-support > li.irc > a > span
{
	content:url(images/mirc.gif);
	position:relative;
	left:39px;
}

#alert-notif
{
	position:absolute;
	left:90px;
	top:5px;
}

#alert-msg
{
	position:absolute;
	left:90px;
	top:21px;
}

#alert-news
{
	position:absolute;
	left:90px;
	top:37px;
}

#layout-search > div.search > form > p > input.text,
#layout-search > div.search > form > p > select
{
	position:absolute;
	top:320px;
	left:5px;
	height:20px;
	width:60px;
	border-color:#000000;
	border-width:1px;
}

#layout-search > div.search > form > p > input.text
{
	left:70px;
	height:18px;
	width:120px;
}

#layout-main > div.g_content > div.rightbar
{
	position:absolute;
	top:350px;
	left:0;
	width:200px;
}

#layout-main > div.g_content > div.rightbar > h3 > span,
#layout-main > div.g_content > div.rightbar > h4
{
	text-align:center;
	font-variant:small-caps;
	color:#0099FF;
  font-size:20px;
}

#layout-main > div.g_content > div.rightbar > h3 > span
{
	padding-top:10px;
  font-size:18px;
}

#layout-main > div.g_content > div.rightbar > div > h4
{
	background-image:url(images/SmallGlassTop.png);
	background-repeat:no-repeat;
	padding-top:10px;
	text-align:center;
	font-variant:small-caps;
	color:#0099FF;
	height:30px;
	font-size:16px;
}

#layout-main > div.g_content > div.rightbar > div > ol > li
{
	background-image:url(images/SmallGlassMiddle.png);
	background-repeat:repeat-y;
	text-align:center;
	font-size:12px;
	padding:0 8px;
}

#layout-main > div.g_content > div.rightbar > div > ol > li.g_odd
{
	background-image:url(images/SmallGlassMiddle2.png);
}

#layout-main > div.g_content > div.rightbar > div > ol > li:last-of-type
{
	background-image:url(images/SmallGlassBottom.png);
	background-repeat:no-repeat;
	height:40px;
}

#layout-main > div.g_content > div.rightbar > h3
{
	text-align:center;
	font-variant:small-caps;
	color:#0099FF;
	padding-bottom:10px;
	margin-top:10px;
	font-size:20px;
}

#layout-main > div.g_content > div.rightbar > h3:first-of-type
{
	margin:0;
}

#layout-main > div.g_content > div.rightbar > ol > li
{
	text-align:left;
	padding-left:10px;
}

#layout-content
{
	padding-top:100px;
	padding-left:200px;
}

#layout-main > h1
{
	text-align:center;
	font-variant:small-caps;
	color:#0099FF;
	font-size:36px;
}

#layout-main > div.g_content > div.g_section
{
	width:100%;
}

#layout-main > div.g_content > div.g_section > div.g_timedentry,
#layout-main > div.g_content > div.g_section.latestanimes_anime
{
	margin:0 auto 50px auto;
	width:650px;
	background-image:url(images/GlassBottom.png);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:60px;
	overflow:hidden;
}

#layout-main > div.g_content > div.g_section > div.g_timedentry > h4,
#layout-main > div.g_content > div.g_section > h3
{
	background-image:url(images/GlassTop.png);
	background-repeat:no-repeat;
	padding:30px 0 0 0;
	text-align:center;
	font-variant:small-caps;
	color:#0099FF;
	height:30px;
	font-size:20px;
	float:none;
}

#layout-main > div.g_content > div.g_section > div.g_timedentry > p.comment,
#layout-main > div.g_content > div.g_section > div.g_timedentry > span.stamp
{
	padding-right:40px;
}

#layout-main > div.g_content > div.g_section > div.g_timedentry > span.stamp
{
	display:block;
	background-image:url(images/GlassMiddle.png);
	background-repeat:repeat-y;
}

#layout-main > div.g_content > div.g_section > div.g_timedentry > div.body
{
	background-image:url(images/GlassMiddle.png);
	background-repeat:repeat-y;
	padding:0 40px;
	overflow:hidden;
	font-size:14px;
	font-weight:bold;
	min-height:120px;
}

#layout-main > div.g_content > div.g_section > div.g_timedentry > div.body > img
{
	max-width:570px;
}

#layout-main > div.g_content > div.g_section > div.g_timedentry > div.body > strong
{
	font-size:16px;
	font-weight:bold;
}

#layout-main > div.g_content > div.g_section > div.topic_actions > div.pagination
{
	width:100%;
	text-align:center;
	font-size:14px;
	margin:0 0 40px 0;
}

#layout-main > div.g_content > ul.g_list
{
	font-size:14px;
}

#layout-main > div.g_content > div.g_section > h3 > div.icons
{
  /*position:relative;
  left:30px;*/
  display:none;
}

#layout-main > div.g_content > div.g_section > div.g_image
{
  /*float:left;
  display:inline;*/
  display:none;
}

#layout-footer
{
	padding-left:200px;
	margin-bottom:50px;
	text-align:center;
	font-size:14px;
}

#layout-footer:before
{
	content:"HaruhiStyleX.AniDB v2 - A Stylesheet by TheJAG"
}