body/*,
#layout-main div.g_definitionlist table*/
{
	border-color: #cccccc;
	background-color: #cccccc;
	
	font: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, sans-serif;
}

a:link,a:active,a:visited
{
	color : #006699;
}


#layout-nav a
{
	color: #000000;
}

a:hover,
#layout-nav a:hover
{
	/*color : #98b974;*/
}

#layout-nav
{
	color: #000000;
	background-color: #FFFFFF;
}

#layout-main ul.g_list,
#layout-menu
{
	color: #FFFFFF;
}

#layout-main div.g_menu a,
#layout-main u.g_list a,
/*#layout-main tr,
#layout-main li,
#layout-main tr a,
#layout-main li a,*/
#layout-menu a
{
	color: #FFFFFF;
}

/*#layout-main tr,
#layout-main li,*/
#layout-main div.g_menu ul,
#layout-menu ul.my
{
	background-color: #1188dd;
}

#layout-main ul.g_list,
#layout-menu ul.lists
{
	background-color: #99cc00;
}

#layout-menu ul.other
{
	background-color: #dd88cc;
}

#layout-menu ul.main,
#layout-menu ul.mod
{
	background-color: #bb66aa;
}

#layout-main,
#layout-footer
{
	color: #00000000;
	background-color: #FFFFFF;
}

th,
#layout-main h1,
#layout-main div.main_all div.news h4,
#layout-main div.cmt_all div.comment h4
{
	color: #FFFFFF;
	background-color: #114477;
}

#layout-main table table.filelist tr,
#layout-main div.g_definitionlist tr
{
	background-color: inherit;
}

#layout-main div.g_definitionlist tr th
{
	color: inherit;
	background-image: none;
	background-color: inherit;
}
