#layout-search ul.acdropdown
{
	background-color:#FFFFFF;
	border:1px solid #85878C;
}

#layout-search ul.acdropdown li:hover,
#layout-search ul.acdropdown li.selected
{
	color:#FFFFFF;
	background:#5e81bc;
}