div.quotebody
{
	background-color:#EBEADD;
	border:1px solid #DBDBDB;
}

div.quotebody div.quote div.g_odd
{
	background-color:#EFEED9;
}

#layout-main div.cmt_entries dl.profile
{
	border-right-color: #4A4A5A;
}

#layout-main div.cmt_entries dl.profile dd
{
	color:#666666;
}

#layout-main div.cmt_entries dl.profile dd strong
{
	color:#000000;
}

#layout-main div.cmt_entries a.username-colored
{
	color:#AA0000;
}

#layout-main div.forum ul.topiclist
{
	background-color:inherit;
}

#layout-main div.forum ul.topiclist li
{
	color:#4C5D77;
}

#layout-main div.forum dl.icon
{
	background-position:10px 50%;
	background-repeat:no-repeat;
}

#layout-main div.forum li.header dt,
#layout-main div.forum li.header dd
{
	color:#FFFFFF;
}

#layout-main div.forum a.topictitle
{
	color:#105289;
}

#layout-main div.forum dl.icon dt
{
	background-position:5px 95%;
	background-repeat:no-repeat;
}

#layout-main div.forum div.threads .rtop *,
#layout-main div.forum div.threads .rbottom *,
#layout-main div.forum div.threads div.inner
{
	background-color:#4a4a5a;
}

#layout-main div.forum ul.topics li.row
{
	background-color:#bfc2c9;
}

#layout-main div.forum ul.topics li.g_odd
{
	background-color:#b0b0b0;
}

#layout-main div.forum .rtop *,
#layout-main div.forum .rbottom *,
#layout-main div.forum div.inner,
#layout-main div.forum ul.topics li.row:hover
{
	background-color:#969aa6;
}

#layout-main div.forum ul.linklist
{
	background-color: inherit;
}

#layout-main div.forum a.topictitle:hover,
#layout-main div.forum a.username-coloured
{
	color:#AA0000;
}

#layout-main div.forum div.deleted,
#layout-main div.forum li.deleted dl.icon
{
	opacity:0.3;
}

#layout-main div.forum ul.topics dd
{
	border-left-color:#4a4a5a;
}

#layout-main div.forum li.row
{
	border-bottom-color:#8F8F8F;
	border-top-color:#4a4a5a;
}

#layout-main div.forum ul.topics
{
	border-left-color: #4a4a5a;
	border-right-color: #4a4a5a;
}

#layout-main div.forum hr
{
	background-color: #4A4A5A;
}

#layout-main div.forum div.signature
{
	border-top-color: #CCCCCC;
}

#layout-main div.forum div.navbar div.inner div.bottom
{
	border-top:1px solid #4a4a5a;
}