#layout-search ul.quicksearch
{
	background-color:#FFFFFF;
	border:1px solid #85878C;
	color:black;
}

#layout-search ul.quicksearch li:hover,
#layout-search ul.quicksearch li.selected
{
	color:#FFFFFF;
	background-color:#5e81bc;
}