#layout-main td del,
#layout-main tr.g_fs_lame,
#layout-main table.filelist tr.invalid,
#layout-main div.myvotes_all table tr.low td
{
	background-color: #bf6269;
}

#layout-main td ins,
#layout-main table.filelist tr.good,
#layout-main div.myvotes_all table tr.high td,
#layout-main div.producer_all table tr.mylist
{
	background-color: #6fc279;
}

#layout-main table.filelist tr.deprecated
{
	background-color: #999999;
}

#layout-main div.anime_all div.episodes tr.generic td
{
	background-color: #eeeeee;
}