#layout-content td del,
#layout-content tr.g_fs_lame,
#layout-content table.filelist tr.invalid,
/*#layout-content table.filelist tr.deprecated,*/
#layout-content div.myvotes_all table tr.low td
{
	background-color: #ffd7c2;
}

#layout-content div.myvotes_all table tr.g_odd.low td
{
	background-color: #efc7b2;
}

#layout-content td ins,
#layout-content table.filelist tr.good,
#layout-content div.myvotes_all table tr.high td,
#layout-content div.producer_all table tr.mylist,
#layout-content div.animelist_all table tr.mylist,
#layout-content div.group_released table tr.mylist
{
	background-color: #f2ffe9;
}

#layout-content table.filelist tr.g_odd.good,
#layout-content div.myvotes_all table tr.g_odd.high td,
#layout-content div.producer_all table tr.g_odd.mylist,
#layout-content div.animelist_all table tr.g_odd.mylist,
#layout-content div.group_released table tr.g_odd.mylist
{
	background-color: #e2efd9;
}