#layout-main div.timeline_all div.timeline div.g_timeline
{
	border:5px solid #777777;
}

#layout-main div.timeline_all div.timeline div.g_timeline,
#layout-main div.timeline_all div.timeline ul
{
	background:#555555;
}

#layout-main div.timeline_all div.timeline ul.legend
{
	border-bottom:1px solid #f90;
}

#layout-main div.timeline_all div.timeline ul.legend li span
{
	color:#eee;
	background:#333333;
	border-bottom:1px solid #f90;
	border-right:1px solid #f90;
}

#layout-main div.timeline_all div.timeline li a
{
	color:#333333;
	background:#dfdfdf;
}