#layout-content div.userpage_all div.stats,
#layout-content div.myplace_all div.stats
{
	float: left;
	clear: none;
	width: 14em;
}

#layout-content div.userpage_all div.stats table,
#layout-content div.myplace_all div.stats table
{
	width: 95%;
}

#layout-content div.userpage_all div.stats div table th,
#layout-content div.myplace_all div.stats div table th
{
	width: 60%;
}

#layout-content div.userpage_all div.stats div table td.value,
#layout-content div.myplace_all div.stats div table td.value
{
	text-align: right;
}

#layout-content div.myplace_all div.latest
{
	margin-left: 15em;
	margin-right: 9em;
	clear: none;
}

#layout-content div.userpage_all div.buddies,
#layout-content div.userpage_all div.favreviewers
{
	float: right;
	clear: right;
	margin-bottom: 1em;	
}

#layout-content div.userpage_all div.g_menu h4,
#layout-content div.userpage_all div.buddies h4,
#layout-content div.userpage_all div.favreviewers h4
{
	width: 9em;
}

#layout-content div.userpage_all div.buddies ul li,
#layout-content div.userpage_all div.favreviewers ul li
{
	padding: 1px 6px 1px 6px;
}

#layout-content div.userpage_all div.userdetails,
#layout-content div.userpage_all div.userprefs
{
	margin-left: 15em;
	margin-right: 11.5em;
	clear: none;
}

#layout-content div.userpage_all div.userprefs h4
{
	text-align: center;
}

#layout-content div.userpage_all div.charts
{
	width: 710px;
	height: 600px;
	margin-left:auto;
	margin-right:auto;	
}

#layout-content div.userpage_all div.charts div
{
	float: left;
}

#layout-content div.userpage_all div.charts div.votedistribution
{
	margin-left: 50px;
}

#layout-content div.userpage_all div.userdetails p
{
	text-align: left;
	margin-left: 4em;
	margin-right: 2em;
	margin-top: 2em;
}
#layout-content div.userpage_all ul.g_navlist
{
	float: none;
	text-align: center;
}

#layout-content div.userpage_all div.latest div
{
	margin: 0 25% 0 25%;
}