#layout-content div.anime.mylist
{
	clear: left;
}

#layout-content div.anime.group td.langs .i_icon { float: left; }
#layout-content div.anime.group td.action .i_icon { float: left; }

#layout-content div.anime.table table
{
	width: 100%;
}

#layout-content div.anime.table td.fileaction .i_icon,
#layout-content div.anime.table td.stat .i_icon, 
#layout-content div.anime.table td.epaction .i_icon 
{ 
  float: left; 
}
#layout-content div.anime.table td.fid .i_icon,
#layout-content div.anime.table td.size .i_icon,
#layout-content div.anime.table td.by .i_icon,
#layout-content div.anime.table td.res .i_icon,
#layout-content div.anime.table td.source .i_icon,
#layout-content div.anime.table td.fileusers .i_icon
{ 
  float: right;
}

#layout-content div.anime.group td.filter { text-align: left; }

#layout-content div.anime_all div.info th span.i_icon,
#layout-content div.anime.group td.filter div,
#layout-content div.anime.group th div,
#layout-content div.anime.mylist td.anime div,
#layout-content div.anime.table td.title div { float: right; }

#layout-content div.anime.table .icoco .i_icon,
#layout-content div.anime.group .icoco .i_icon, 
#layout-content div.anime.mylist .icoco .i_icon,
#layout-content div.anime.mylist.mylistAnime .icoco .i_icon,
#layout-content div.anime.table .icoco .i_icon
{
	float: left;
	padding: 0px 2px 0px 2px;
}

/* Loading div styles */
#layout-content div.anime.table .loading {
  border-width: 1px;
  border-style: dotted;
  border-color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}
#layout-content div.anime.table .loading div { float: right; }
#layout-content div.anime.table .loading .icoco .i_icon {
	float: left;
	padding: 0px 2px 0px 2px;
}

#layout-content div.anime.table div.actions
{
	text-align: center;
	margin: auto;
}


#layout-content div.anime.edit
{
	text-align: center;
}

#layout-content div.anime.edit div
{
	padding-left: 19%;
	padding-right: 19%;
	margin-top: 1.2em;
}

#layout-content div.anime.filter a.i_plus,
#layout-content div.anime_all div.episodes table table.filelist td.ftype .i_icon,
#layout-content div.anime_all div.episodes td.ed2k .i_icon,
#layout-content div.anime_all div.episodes td.stat .i_icon,
#layout-content div.anime_all div.episodes td.action.file .i_icon
{
	padding-left: 5px;
	float: left;
}
#layout-content div.anime_all div.episodes td.action.file
{
	width: 60px;
}