html, body, form, div, table, ul, ol, dl, tr, td, li, label, caption
{
	padding: 1px;
}
div
{
	border: 1px solid red;
}
table, caption
{
	border: 1px solid blue;
}
ul, ol, dl
{
	border: 1px solid green;
}
td, li, span
{
	border: 1px solid orange;
}
form, label, h1, h2, h3, h4, p
{
	border: 1px solid black;
}