@import "base-icons.css";

@import "../base/icons-flags.css";
@import "../base/layout-animeatt.css";

@import "base-default.css";
@import "base-layout.css";
@import "base-text.css";
@import "base-fancy.css";

@import "base-color-box.css";
@import "base-color-special.css";

@import "../base/layout-jumplist.css";
@import "../bits/anidbstyle-mylist.css";
@import "../bits/anidbstyle-latestanimes.css";
@import "../bits/anidbstyle-genren.css";

/*@import "base-layout-anime.css";*/
@import "base-layout-myplace.css";

/*SHIT*/
#layout-content div.anime_all div.episodes table.eplist,
#layout-content div.ep_all table.filelist
{
	width: 98%;
}

/*#layout-content div.ed2kexport_all pre
{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
}*/
#layout-content div.addfilem.form div.dump textarea
{
	width: 100%;
	height: 30em;
	white-space: nowrap;
}
#layout-content div.addfilem.form dl.options dt
{
	text-align: left;
}
#layout-content div.addfilem.form dl.options dd
{
	margin-left: 8em;
}
#layout-content div.addfilem.form dl.options dd select
{
	min-width: 10em;
	max-width: 20.4em;
}

#layout-content div.mylist_list table td.rating.votes span.count
{
	display: none;
}

#layout-content div.anime_all div.mylist table td
{
	padding: 1em;
}

#layout-content div.anime_all div.mylist table td span.i_icon
{
	margin-left: 1em;
}

#layout-content div.anime_all div.mylist div.g_actionlist
{
	margin-top: 1em;
	margin-bottom: 1em;
}

#layout-content div.ed2kdump_box textarea
{
	width: 98%;
}

#layout-content div.stats_all table,
#layout-content div.dbstats_all table
{
	border: none;
	border-spacing: 1em;
}

#layout-content div.stats_all table tr,
#layout-content div.dbstats_all table tr,
#layout-content ul.g_actionlist li.g_odd
{
	background-color: inherit;
}

#layout-content div.stats_all table td,
#layout-content div.dbstats_all table td
{
	border: none;
}

#layout-content div.admin_menu,
#layout-content div.admin_cat_menu ul
{
	margin-left: 25%;
	margin-right: 25%;
}