@import "../sub/common.css";

@import "../common/style/color/status-radioactive.css";
@import "../common/style/color/similar-anime-default.css";

@import "layout.css";
@import "menu-user.css";
@import "border.css";
@import "color.css";
@import "text.css";
html, body, div, form, table, tr, td, ul, ol, dl, li, dt, h1, h2, h3, h4, p, caption
{
padding: 0;
margin: 0;
border: none;
}
html, th
{
font-weight: normal;
font-size: 10px;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
body,
#layout-nav input
{
	font-size: 10px;
}
html
{
background: url(images/backtoo.png);
}
#layout-tabs
{
	display: block;
}

.g_msg
{
	margin: 1em;
}

#layout-main div.main_all div.rightbar
{
	width: 20em;
}

#layout-main div.main_all div.rightbar p
{
	margin: 1.2em 0 0 0;
}

#layout-main div.main_all div.rightbar h3
{
	margin: 1.5em 0 0.4em 0;
}

#layout-main div.main_all div.rightbar ol
{
	margin: 0em 0 0.4em 0;
	padding: 0;
}

#layout-main div.main_all div.rightbar li a
{
	margin-left: 4em;
	display: table;
}

#layout-main div.main_all div.rightbar li span
{
	position: absolute;
}

#layout-main div.main_all div.news
{
	margin-right: 21em;
}

#layout-main div.main_all div.news div.newsitem span.stamp
{
	padding: 0.1em 1em 0.1em 0.1em;
}

#layout-main div.main_all div.news div.newsitem p.body
{
	margin: 0.1em 0.1em 3.1em 0.1em;
}

#layout-main .latest_all .g_list.filter li
{
	margin-top: 3px;
}

#layout-search select
{
	display: none;
}

#layout-main div.anime_all div.mylist th,
#layout-main tr.g_odd,
#layout-main li.g_odd,
#layout-main span.g_odd
{
	background-color: white;
}

#layout-main ul.g_list li.g_odd
{
	background-color: #BFC2C9;
}

#layout-search div.search form.random
{
	display:none;
}