#layout-main div.cmt_entries dl.profile,
#layout-main div.cmt_entries div.comment
{
	border-right-color: #aaaaaa;
}

#menu-mod
{
	border: 1px inset #232323;
}

#layout-search div.search,
#layout-tabs li a:hover,
#layout-tabs li.selected a,
#layout-tabs ul li a,
#layout-tabs ul li
{
	border: none;
}