#layout-main div.animeatt_all div.review > h4,
#layout-main div.userpage_all >  div.g_section > h4,
#layout-main div.userpage_all div.blog div.g_timedentry h4,
#layout-main div.main_all div.rightbar h4,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	color: #ffffff;
	background-color: #B5A89E;
}

#layout-menu,
#layout-menu a:hover,
#layout-tabs a:hover
{
	color: #191b7b;
}
#layout-menu #menu-main a,
#layout-menu #menu-lists a,
#layout-menu #menu-private a,
#layout-menu #menu-support a

{
	background-image: url(images/bg.png);
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
select, textarea
{
	color: black;
	background-color: white;
}

option /*Opera*/
{
	color: black;
}

/*IE*/
#layout-search input,
#user-xname input,
#user-xpass input
{
	color: black;
	background-color: white;
}

span.test,
button,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main .g_list li a,
#layout-main div.pagination span a,
input[type="button"],
input[type="submit"]
{
	color: white;
	border: outset #611214 1px;
	background-color: #9e2c30;
}

#layout-main div.tabbed_pane ul.tabs li.selected,
.g_list li.selected,
div.pagination span strong
{
	border: inset #611214 1px;
	background-color: #a25759;
}

span.test:hover,
button:hover,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main .g_list li a:hover,
#layout-main .g_list li.g_odd a:hover,
div.pagination span strong:hover,
input[type="button"]:hover,
input[type="submit"]:hover
{
	background-color: #a25759;
}

#layout-tabs a
{
	color: white;
}

#layout-tabs a:hover
{
	color: #DCCFC5;
}

#menu-mod
{
	background-color: #9E2C30;
}

#menu-mod li a,
#menu-mod li a:link,
#menu-mod li a:visited
{
	color: white;
}

#layout-main div.anime_all div.mylist th,
#layout-main tr.g_odd, #layout-main li.g_odd,
#layout-main span.g_odd,
#layout-main div.votes_all div.graph div.group_odd,
#layout-main div.votes_all div.graph.eps div.g_odd
{
	background-color: white;
}

#layout-menu a:active,
#layout-tabs li.selected a
{
	color: #FFAA55;
}

#layout-tabs li a:hover,
#layout-tabs li.selected a,
#layout-tabs ul li a,
#layout-tabs ul li
{
	background-color: inherit;
}

#layout-main div.forum ul.topics li.row,
#layout-main div.forum div.g_bubble.header,
#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.events,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box,
.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble
{
	background-color:#EBDDD3;
}

#layout-main div.forum div.g_bubble.comment,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
.g_bubble,
.g_bubble .g_bubble .g_bubble
{
    background-color:#E0CFC3;
}

#layout-main div.forum hr, #layout-main div.cmt_all div.cmt_add hr,
#layout-main div.forum div.g_bubble.threads
{
	background-color:#9E2C30;
}

#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row:hover,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover
{
	background-color: #D4C8C1;
}