html
{
	background: transparent url(images/backtoo.png) repeat scroll 0 0;
}

#layout-menu
{
	background: transparent url(images/menuback.png) no-repeat top left;
}

#layout-search
{
	background: transparent url(images/backlame.png) repeat-x top;
}

#layout-search div.search
{
	background: transparent url(images/anidb01toosimple.png) no-repeat top left;
}

#layout-search div.search form
{
	background: transparent url(images/searchback.png) no-repeat top right;
}

#layout-tabs
{
	top: 79px;
}