html, body
{
	padding: 0;
}

#layout-nav
{
	position: absolute;
	width: 13em;
}

#layout-content
{
	margin-left: 13em;
}

#layout-main
{
	padding: 1em;
}

#layout-footer
{
	margin-left: 13em;
}
