body
{
	padding: 8px;
}

#layout-nav
{
	position: absolute;
	left: 4px;
	width: 150px;
}

#layout-content
{
	margin-left: 165px;
}

#layout-main
{
	padding: 1em;
	padding-bottom: 0;	
}

#layout-footer
{
	margin-left: 165px;
	margin-top: 8px;
}
