#layout-main ul.g_navlist li
{
	padding: 0px;
}

#layout-main ul.g_navlist li:before
{
	content: " | "
}
#layout-main ul.g_navlist li:first-child:before
{
	content: "";
}
#layout-main ul.g_numonpage li:first-child:before
{
	content: "show: ";
}

#layout-main div.main_all h4
{
	font-size: 100%;
	line-height: 1.2;	
	font-weight: normal;
}

#layout-main p.g_vital a
{
	color: red;
	font-weight: bolder;
}

#layout-menu li.genren:before
{
	content: "(";
}

#layout-menu li.genren:after
{
	content: ")";
}

#layout-footer:after
{
	content: "design by akujiN"
}