div.badge,
div.badge div.inner
{
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
}

div.badge.level1
{
	background-image:url("../icons/achievements/ring-level1.png");
}

div.badge.level2
{
	background-image:url("../icons/achievements/ring-level2.png");
}

div.badge.level3
{
	background-image:url("../icons/achievements/ring-level3.png");
}

div.badge.level4
{
	background-image:url("../icons/achievements/ring-level4.png");
}

div.badge.level5
{
	background-image:url("../icons/achievements/ring-level5.png");
}

div.badge.level6
{
	background-image:url("../icons/achievements/ring-level6.png");
}

div.badge.level7
{
	background-image:url("../icons/achievements/ring-level7.png");
}

div.badge.level8
{
	background-image:url("../icons/achievements/ring-level8.png");
}

div.badge.mod
{
	background-image:url("../icons/achievements/ring-mod.png");
}

div.badge.special
{
	background-image:url("../icons/achievements/ring-special.png");
}

div.badge.special.code div.inner
{
	background-image:url("../icons/achievements/center-special-code3.png");
}

div.badge.special.creativity div.inner
{
	background-image:url("../icons/achievements/center-special-creativity.png");
}

div.badge.mod.benu div.inner
{
	background-image:url("../icons/achievements/center-mod-benu1.png");
}

div.badge.mod.deridiot div.inner
{
	background-image:url("../icons/achievements/center-mod-deridiot.png");
}

div.badge.mod.exp div.inner
{
	background-image:url("../icons/achievements/center-mod-exp.png");
}

div.badge.mod.nwa div.inner
{
	background-image:url("../icons/achievements/center-mod-nwa.png");
}

div.badge.mod.ommina div.inner
{
	background-image:url("../icons/achievements/center-mod-ommina1.png");
}

div.badge.mod.worf div.inner
{
	background-image:url("../icons/achievements/center-mod-worf.png");
}
