*.i_comment_add
{
	width: 72px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/orange/comment_add.png);
}

*.i_review_add
{
	width: 61px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/orange/review_add.png);
}

/*to center the paginationbar vertically*/
div.pagination
{
	margin-top:0.66em;
}
/*exception for this*/
#layout-main div.news_all div.news div.topic_actions div.pagination
{
	margin-top:0em;
}