a.i_icon:hover, a.i_inline:hover
{
	text-decoration: none;
}

.i_icon
{
	background-repeat: no-repeat;
	display: block;
	width: 15px;
	height: 13px;
	margin-left: 1px;
	margin-right: 0;
}

.i_inline
{
	padding: 2px 8px 2px 8px;
	margin: 4px;
}

.i_icon span, .i_button span, .i_inline span
{
	display: none;
}

.i_award
{
	width: 300px;
	height: 50px;
	padding: 0.2em;
	display: inline-block;
}

.i_audio
{
	display: none;
}

span.icons
{
	float: right;
	white-space:nowrap;
}

span.smiley
{
	display:inline-block;
}