*.i_vote_up
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/thumb_up.gif);
}

*.i_vote_down
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/thumb_down.gif);
}

*.i_vote_revoke
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/vote_revoke.gif);
}

*.i_tag_delete
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/tag_delete.png);
}

*.i_tag_edit
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/tag_edit.png);
}

*.i_tag_merge
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/tag_merge.png);
}
