*.i_vote_up
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/thumb_up.gif);
}

*.i_vote_down
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/thumb_down.gif);
}

*.i_tag_delete
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/tag_delete.png);
}

*.i_tag_edit
{
	width: 16px;
	height: 16px;
	background-image: url(../icons/test/tag_edit.png);
}

#layout-main div.animetag_all a.i_icon
{
    display:inline-block;
    margin-left:0;
}

#layout-main div.animetag_all td.action
{
    text-align:left;
}