/* Geass Mode 0.1a
 * by antennen
 */

/* Import common files */
@import "../sub/common.css";

/* Import global elements */
@import "./global/all.css";

/* Import pages */
@import "./pages/all.css";

body {
	color:#333; background:#1d1d1d url(images/header/cloud.png) repeat-x 250px 25px;
	font:normal 13px Helvetica, Verdana, sans-serif;
	text-align:left;
}
body.nonav {
	background:#1d1d1d none;
}

/* Basic layout */
#layout-nav {
	height:199px;
	background:transparent url(images/header/kallen.png) no-repeat right bottom;
	border-bottom:1px solid #666;
	clear:both;
}
#layout-content {
	margin:0 80px 0 195px; padding:20px 40px;
	min-width:700px; max-width:1200px;
	position:relative; top:-147px;
	background:#f2f8f6;
	border:1px solid #666;
}
	#layout-main h1 {
		margin:0 0 10px; padding:0 30px 0 50px;
		width:100%;
		position:relative; top:-20px; left:-40px;
		color:#eee; background:#333 url(images/layout/emblem.png) no-repeat 10px center;
		border-bottom:1px solid #666;
		font-weight:normal; font-size:1.4em;
		text-align:left;
		line-height:45px;
	}
	div#layout-tabs + div#layout-main h1 {
		/* If tabs are available, move header */
		top:-56px;
	}
#layout-footer {
	margin:-120px 80px -120px 195px; /* Negative margins here prevent weird whitespace at the page's bottom */
	min-width:700px; max-width:1200px;
}
