div.badge,
div.badge div.inner
{
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
}

div.badge.level1   { background-image:url("../icons/achievements/ring-level1.png"); }
div.badge.level2   { background-image:url("../icons/achievements/ring-level2.png"); }
div.badge.level3   { background-image:url("../icons/achievements/ring-level3.png"); }
div.badge.level4   { background-image:url("../icons/achievements/ring-level4.png"); }
div.badge.level5   { background-image:url("../icons/achievements/ring-level5.png"); }
div.badge.level6   { background-image:url("../icons/achievements/ring-level6.png"); }
div.badge.level7   { background-image:url("../icons/achievements/ring-level7.png"); }
div.badge.level8   { background-image:url("../icons/achievements/ring-level8.png"); }
div.badge.one-time { background-image:url("../icons/achievements/ring-onetime.png"); }
div.badge.special  { background-image:url("../icons/achievements/ring-special.png"); }
div.badge.mod      { background-image:url("../icons/achievements/ring-mod.png"); }

div.badge.special.code       div.inner { background-image:url("../icons/achievements/center-special-code2.png"); }
div.badge.special.creativity div.inner { background-image:url("../icons/achievements/center-special-creativity.png"); }

div.badge.mod.benu     div.inner { background-image:url("../icons/achievements/center-mod-benu1.png"); }
div.badge.mod.deridiot div.inner { background-image:url("../icons/achievements/center-mod-deridiot.png"); }
div.badge.mod.exp      div.inner { background-image:url("../icons/achievements/center-mod-exp.png"); }
div.badge.mod.nwa      div.inner { background-image:url("../icons/achievements/center-mod-nwa.png"); }
div.badge.mod.ommina   div.inner { background-image:url("../icons/achievements/center-mod-ommina3.png"); }
div.badge.mod.worf     div.inner { background-image:url("../icons/achievements/center-mod-worf.png"); }

div.badge.anime.adachimitsuru div.inner { background-image:url("../icons/achievements/center-adachi_mitsuru2.png"); }
div.badge.anime.clamp         div.inner { background-image:url("../icons/achievements/center-clamp.png"); }
div.badge.anime.classic_anime div.inner { background-image:url("../icons/achievements/center-classic_anime.png"); }
div.badge.anime.conan         div.inner { background-image:url("../icons/achievements/center-conan.png"); }
div.badge.anime.digimon       div.inner { background-image:url("../icons/achievements/center-digimon.png"); }
div.badge.anime.doraemon      div.inner { background-image:url("../icons/achievements/center-doraemon.png"); }
div.badge.anime.dragonball    div.inner { background-image:url("../icons/achievements/center-dragonball.png"); }
div.badge.anime.ghibli        div.inner { background-image:url("../icons/achievements/center-ghibli.png"); }
div.badge.anime.gundam        div.inner { background-image:url("../icons/achievements/center-gundam.png"); }
div.badge.anime.hentai        div.inner { background-image:url("../icons/achievements/center-hentai4.png"); }
div.badge.anime.lupin         div.inner { background-image:url("../icons/achievements/center-lupin.png"); }
div.badge.anime.macross       div.inner { background-image:url("../icons/achievements/center-macross1.png"); }
div.badge.anime.onepiece      div.inner { background-image:url("../icons/achievements/center-onepiece.png"); }
div.badge.anime.pokemon       div.inner { background-image:url("../icons/achievements/center-pokemon.png"); }
div.badge.anime.precure       div.inner { background-image:url("../icons/achievements/center-precure.png"); }
div.badge.anime.sazae         div.inner { background-image:url("../icons/achievements/center-sazae.png"); }
div.badge.anime.tenchi_muyou  div.inner { background-image:url("../icons/achievements/center-tenchi_muyou.png"); }

div.badge.mylist.animecount   div.inner { background-image:url("../icons/achievements/center-mylist_anime.png"); } 
div.badge.mylist.episodecount div.inner { background-image:url("../icons/achievements/center-mylist_episodes.png"); } 
div.badge.mylist.filecount    div.inner { background-image:url("../icons/achievements/center-mylist_files.png"); } 
div.badge.mylist.mylistsize   div.inner { background-image:url("../icons/achievements/center-mylist_size.png"); } 
div.badge.mylist.timewasted   div.inner { background-image:url("../icons/achievements/center-time_wasted2.png"); } 
div.badge.mylist.seenepisodes div.inner { background-image:url("../icons/achievements/center-watched1.png"); } 

div.badge.stats.creqcount    div.inner { background-image:url("../icons/achievements/center-creqs.png"); }
div.badge.stats.review       div.inner { background-image:url("../icons/achievements/center-reviews1.png"); }
div.badge.stats.similaranime div.inner { background-image:url("../icons/achievements/center-similar_anime.png"); }
div.badge.stats.votes        div.inner { background-image:url("../icons/achievements/center-votes.png"); }

div.badge.one-time.introduction div.inner { background-image:url("../icons/achievements/center-onetime-introduction1.png"); }
div.badge.one-time.club         div.inner { background-image:url("../icons/achievements/center-onetime-club_joined.png"); }


