div.badge,
div.badge div.inner
{
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
}

div.badge.level1
{
	background-image:url("../icons/achievements/ring-level1.png");
}

div.badge.level2
{
	background-image:url("../icons/achievements/ring-level2.png");
}

div.badge.level3
{
	background-image:url("../icons/achievements/ring-level3.png");
}

div.badge.level4
{
	background-image:url("../icons/achievements/ring-level4.png");
}

div.badge.level5
{
	background-image:url("../icons/achievements/ring-level5.png");
}

div.badge.level6
{
	background-image:url("../icons/achievements/ring-level6.png");
}

div.badge.level7
{
	background-image:url("../icons/achievements/ring-level7.png");
}

div.badge.level8
{
	background-image:url("../icons/achievements/ring-level8.png");
}

div.badge.mod
{
	background-image:url("../icons/achievements/ring-mod.png");
}

div.badge.special
{
	background-image:url("../icons/achievements/ring-special.png");
}

div.badge div.inner.special.code
{
	background-image:url("../icons/achievements/center-special-code3.png");
}

div.badge div.inner.special.creativity
{
	background-image:url("../icons/achievements/center-special-creativity.png");
}

div.badge div.inner.mod.benu
{
	background-image:url("../icons/achievements/center-mod-benu1.png");
}

div.badge div.inner.mod.deridiot
{
	background-image:url("../icons/achievements/center-mod-deridiot.png");
}

div.badge div.inner.mod.exp
{
	background-image:url("../icons/achievements/center-mod-exp.png");
}

div.badge div.inner.mod.nwa
{
	background-image:url("../icons/achievements/center-mod-nwa.png");
}

div.badge div.inner.mod.ommina
{
	background-image:url("../icons/achievements/center-mod-ommina1.png");
}

div.badge div.inner.mod.worf
{
	background-image:url("../icons/achievements/center-mod-worf.png");
}
