*.i_comment_add
{
	width: 72px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/orange/comment_add.png);
}

*.i_review_add
{
	width: 61px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/orange/review_add.png);
}

*.i_review_add
{
	width: 61px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/orange/review_add.png);
}

*.i_top
{
	width: 11px;
	height: 11px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/phpbb/icon_back_top.gif);
}

*.i_comment_info
{
	width: 15px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_info.gif);
}

*.i_comment_quote
{
	width: 40px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_quote.gif);
}

*.i_comment_delete
{
	width: 45px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_delete.gif);
}

*.i_comment_creq
{
	width: 94px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_creq.gif);
}

*.i_comment_edit
{
	width: 32px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_edit.gif);
}

*.i_topic_add
{
	background-image: url(../icons/orange/topic_add.png);
	height:12px;
	margin:5px;
	width:65px;
}

*.i_topic_delete
{
	background-image: url(../icons/orange/topic_delete.png);
	height:12px;
	margin:5px;
	width:89px;
}

*.i_topic_undelete
{
	background-image: url(../icons/orange/topic_undelete.png);
	height:12px;
	margin:5px;
	width:101px;
}

*.i_topic_history
{
	background-image: url(../icons/orange/topic_history.png);
	height:12px;
	margin:5px;
	width:83px;
}

*.i_topic_move
{
	background-image: url(../icons/orange/topic_move.png);
	height:12px;
	margin:5px;
	width:77px;
}

*.i_comment_undelete
{
	width: 89px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_undelete.png);
}

*.i_comment_setactive
{
	width: 71px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_setactive.png);
}

*.i_comment_revisions
{
	width: 87px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_revisions.png);
}

/*Smiley*/
*.i_smiley_tehehe
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_tehehe.gif);
}

*.i_smiley_sweating
{
	width:17px;
	height:15px;
	background-image:url(../icons/smiley/smiley_sweating.gif);
}

*.i_smiley_cool
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_cool.gif);
}

*.i_smiley_sad
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_sad.gif);
}

*.i_smiley_happy
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_happy.gif);
}

*.i_smiley_surprised
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_surprised.gif);
}

*.i_smiley_undecided
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_undecided.gif);
}

*.i_smiley_confused
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_confused.gif);
}

*.i_smiley_very_happy
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_very_happy.gif);
}

*.i_smiley_razz
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_razz.gif);
}

*.i_smiley_angel
{
	width:42px;
	height:23px;
	background-image:url(../icons/smiley/smiley_angel.gif);
}

*.i_smiley_baka
{
	width:41px;
	height:46px;
	background-image:url(../icons/smiley/smiley_baka.gif);
}

*.i_smiley_brickwall
{
	width:25px;
	height:20px;
	background-image:url(../icons/smiley/smiley_brickwall.gif);
}

*.i_smiley_crying
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_crying.gif);
}

*.i_smiley_mad
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_mad.gif);
}

*.i_smiley_laughing
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_laughing.gif);
}

*.i_smiley_mymaster
{
	width:29px;
	height:15px;
	background-image:url(../icons/smiley/smiley_mymaster.gif);
}

*.i_smiley_embarassed
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_embarassed.gif);
}

*.i_smiley_rolleyes
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_rolleyes.gif);
}

*.i_smiley_shock
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_shock.gif);
}

*.i_smiley_thumbup
{
	width:23px;
	height:18px;
	background-image:url(../icons/smiley/smiley_thumbup.gif);
}

*.i_smiley_twisted
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_twisted.gif);
}

*.i_smiley_wink
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_wink.gif);
}

*.i_smiley_zzz
{
	width:15px;
	height:24px;
	background-image:url(../icons/smiley/smiley_zzz.gif);
}

*.i_smiley_neutral
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_neutral.gif);
}

*.i_smiley_nosebleed
{
	width:15px;
	height:19px;
	background-image:url(../icons/smiley/smiley_nosebleed.gif);
}

*.i_smiley_disgusted
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_disgusted.gif);
}

*.i_smiley_thinking
{
	width:15px;
	height:15px;
	background-image:url(../icons/smiley/smiley_thinking.gif);
}

*.i_smiley_sweatdrop
{
	width:17px;
	height:15px;
	background-image:url(../icons/smiley/smiley_sweatdrop.gif);
}

*.i_smiley_wtf
{
	width:17px;
	height:15px;
	background-image:url(../icons/smiley/smiley_wtf.gif);
}

/*to center the paginationbar vertically*/
div.pagination
{
	margin-top:0.66em;
}
/*exception for this*/
#layout-main div.news_all div.news div.topic_actions div.pagination
{
	margin-top:0em;
}

/*TEMP*/
*.i_topic_normal
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/topic_read.gif) no-repeat;
	margin-right:-.5em;
	margin-top:.2em;
}

*.i_topic_sticky
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/sticky_read.gif) no-repeat;
	margin-right:-.5em;
	margin-top:.2em;
}

*.i_topic_announcement
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/announce_read.gif) no-repeat;
	margin-right:-.5em;
	margin-top:.2em;
}

*.i_topic_global
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/announce_read.gif) no-repeat;
	margin-right:-.5em;
	margin-top:.2em;
}

*.i_forum
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/forum_read.gif) no-repeat;
	margin-right:-.5em;
	margin-top:.2em;
	height:2.5em;
}

#layout-main div.forum a.lastpost
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/icon_topic_latest.gif) no-repeat;
}