*.i_comment_delete
{
	background-image: url(../icons/silk/comment_delete.png);
}

*.i_comment_deleterequest
{
	background-image: url(../icons/silk/comment_deleterequest.png);
}

*.i_comment_edit
{
	background-image: url(../icons/silk/comment_edit.png);
}