*.i_comment_add
{
	width: 72px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/orange/comment_add.png);
}

*.i_review_add
{
	width: 61px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/orange/review_add.png);
}

*.i_review_add
{
	width: 61px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/orange/review_add.png);
}

*.i_top
{
	width: 11px;
	height: 11px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../icons/phpbb/icon_back_top.gif);
}

*.i_comment_info
{
	width: 15px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_info.gif);
}

*.i_comment_quote
{
	width: 40px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_quote.gif);
}

*.i_comment_delete
{
	width: 45px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_delete.gif);
}

*.i_comment_creq
{
	width: 94px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_creq.gif);
}

*.i_comment_edit
{
	width: 32px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_edit.gif);
}

*.i_topic_add
{
	background-image: url(../icons/orange/topic_add.png);
	height:12px;
	margin:5px;
	width:65px;
}

*.i_topic_delete
{
	background-image: url(../icons/orange/topic_delete.png);
	height:12px;
	margin:5px;
	width:89px;
}

*.i_topic_undelete
{
	background-image: url(../icons/orange/topic_undelete.png);
	height:12px;
	margin:5px;
	width:101px;
}

*.i_comment_undelete
{
	width: 89px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_undelete.png);
}

*.i_comment_setactive
{
	width: 71px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_setactive.png);
}

*.i_comment_revisions
{
	width: 87px;
	height: 12px;
	margin: 3px;
	background-image: url(../icons/orange/comment_revisions.png);
}

/*to center the paginationbar vertically*/
div.pagination
{
	margin-top:0.66em;
}
/*exception for this*/
#layout-main div.news_all div.news div.topic_actions div.pagination
{
	margin-top:0em;
}