@import "/anidbstyle-dongato/common.css";

@import "/anidbstyle-dongato/common/style/color/status-radioactive.css";

@import "/anidbstyle-dongato/css/border.css";
@import "/anidbstyle-dongato/css/color.css";
@import "/anidbstyle-dongato/css/layout.css";
@import "/anidbstyle-dongato/css/menu-user.css";
@import "/anidbstyle-dongato/css/text.css";

body,
#layout-nav input
{
	font-size: 10px;
}

#layout-tabs
{
	display: block;
}

.g_msg
{
	margin: 1em;
}

#layout-main div.main_all div.rightbar
{
	width: 20em;
}

#layout-main div.main_all div.rightbar p
{
	margin: 1.2em 0 0 0;
}

#layout-main div.main_all div.rightbar h3
{
	margin: 1.5em 0 0.4em 0;
}

#layout-main div.main_all div.rightbar ol
{
	margin: 0em 0 0.4em 0;
	padding: 0;
}

#layout-main div.main_all div.rightbar li a
{
	margin-left: 4em;
	display: table;
}

#layout-main div.main_all div.rightbar li span
{
	position: absolute;
}

#layout-main div.main_all div.news
{
	margin-right: 21em;
}

#layout-main div.main_all div.news div.newsitem span.stamp
{
	padding: 0.1em 1em 0.1em 0.1em;
}

#layout-main div.main_all div.news div.newsitem p.body
{
	margin: 0.1em 0.1em 3.1em 0.1em;
}

#layout-main .latest_all .g_list.filter li
{
	margin-top: 3px;
}
