table
{
	border-collapse: separate;
}

table table
{
	border: none;
}

img, a
{
	border: none;
}
/*F0FFC9*/
input, textarea
{
	border: 1px #9CCD17  solid;
         padding-left: 2px;
         color: #3FB2E7;
}

input[type="submit"],
input[type="button"]
{
	color: #FFFFFF;
         background-color: #3FB2E7;
}

select
{
	border: 1px #3FB2E7  solid;
}

#layout-content .g_image image,
#layout-content .g_definitionlist
{
	padding: 1px;
}

#layout-content .block .g_definitionlist > table
{
	margin: 0;
}


#layout-content div.g_definitionlist table
{
	border: 2px #9CCD17 solid;
         padding: 1px;
}


#layout-content div.avatar img,
#layout-content div.anime_all div.info div.image img
{
	border: 1px solid;
	border-color: #9CCD17;
	padding: 1px;
}

#layout-content div.anime_all div.mylist tr.heading th,
#layout-content div.anime_all div.groups tr.heading th 
{
	border-bottom: #46C5FF 2px solid;
}

#layout-content div.anime_all div.episodes tr.heading th
{
	padding: 4px 1px 7px 1px;
	border-bottom: #46C5FF 2px solid;
}

#layout-content div.anime_all div.episodes tr.newtype td
{
	border-top: #46C5FF 2px solid;
}