html,
body.nonav
{
	background-color: #FFFFFF;
}

input, textarea
{
    color: #3FB2E7;
}

input[type="submit"],
input[type="button"]
{
	color: #FFFFFF;
    background-color: #3FB2E7;
}

span.link,
a:visited, a:active, a:hover, a:link {
         color: #9CCD17;
}

select
{
	color: #46C5FF;
}

/* CHANGES */

#layout-content  tr
{
         color: #46C5FF;
}

#layout-content div.profile_all div.css_style
{
         color: #9CCD17;
}

#layout-content tr span.main
{
         color: #46C5FF;
}


#layout-content  tr a
{
         color: #46C5FF;
}

#layout-content  tr.high a
{
	color: #FFFFFF;
}

#layout-content tr.g_odd,
#layout-main div.votes_all div.graph div.group_odd,
#layout-main div.votes_all div.graph.eps div.g_odd
{
         background-color: #9CCD17;
         color: #FFFFFF;
}

#layout-content tr.g_odd span.main
{
         color: #f5f5f5;
}

#layout-content  tr.g_odd a,
#layout-content  tr.mod a,
#layout-content  tr.g_odd td
{
         color: #FFFFFF;
}

#layout-content div.g_filterlist a,
#layout-content ul.g_actionlist a
{
	color: #FFFFFF;
}

#layout-content table.grouplist th,
#layout-content tr.g_odd,
#layout-content li.g_odd,
#layout-content span.g_odd,
#layout-content tr.mod
{
         color: #FFFFFF;
}


#layout-content div.anime_all div.mylist th,
#layout-content div.anime_all div.groups th
{
         color: #46C5FF;
}

#layout-content div.notify_all h3,
#layout-content div.notify_all h4
{
	font-size: 14px;
         color: #3FB2E7;
}

#layout-content div.desc
{
	border: 1px #9CCD17 solid;
         padding: 10px;
         color: #3FB2E7;
}

#layout-content p
{
         color: #3FB2E7;
}

#layout-content div.g_filterlist li a,
#layout-content ul.g_actionlist li a,
#layout-content ul.g_navlist li a
{
	color: #FFFFFF;
}

#layout-content div.addepm h4
{
         font-size: 14px;
         color: #9CCD17;
}

#layout-content td del,
#layout-content tr.g_fs_lame,
#layout-content table.filelist tr.invalid,
#layout-content div.myvotes_all table tr.low td
{
	background-color: #FF4242;
         color: #FFFFFF;
}

#layout-main td ins,
#layout-main input.include,
#layout-main table.filelist tr.good,
#layout-main div.myvotes_all table tr.high td,
#layout-main div.producer_all table tr.mylist,
#layout-main div.latest2_all table tr.mylist,
#layout-main div.latest2_all table tr td.mylist,
#layout-main div.character_all div.tabbed_pane_main table tr.mylist,
#layout-main div.creator_all div.tabbed_pane_main table tr.mylist,
#layout-main div.anime_all div.tabbed_pane_main table tr.mylist,
#layout-main div.animelist_all table tr.mylist,
#layout-main div.group_released table tr.mylist,
#layout-main div.forum div.comment div.content strong,
#layout-main div.forum a.topictitle strong,
#layout-main div.addcreatoranimerel_all tr.identical
{
	background-color: #46C5FF;
         color: #FFFFFF;
}

#layout-content table.filelist tr.deprecated,
#layout-content table.filelist tr.deprecated a,
#layout-content table.filelist tr.good a,
#layout-content table.filelist tr.invalid a
{
         color: #FFFFFF;
}

#wysiwyg_0
{
	background-color:#FFFFFF;
}

/* CHANGES END*/

#layout-content div.rightbar li.g_odd
{
	background-color: #46C5FF;
	color: #FFFFFF;
}

#layout-content div.rightbar li
{
	background-color: #FFFFFF;
	color: #46C5FF;
}

#layout-content div.main_all h4,
#layout-content div.main_edit h4
{
	color: #46C5FF;
}

#layout-content div.main_all div.news h4
{
	color: #46C5FF;
}

#layout-content div.main_all div.rightbar h4
{
	color: #FFFFFF;
         background: url(images/punkt.gif) no-repeat;
         background-position:7px 5px;
}

#layout-content div.g_timedentry div.body
{
	color: #3FB0E4;
}

#layout-content div.agcmts_entries div.comment h4
{
	background-color: #969aa6;
}

#layout-content div.main_all div.news span.stamp,
#layout-content div.main_all div.news span.stamp a
{
	color: #9CCD17;
}


#layout-menu a:link,
#layout-menu a:visited {
	color: #ffffff;
}

#layout-menu a:active
{
	color: #FFFFFF;
}
#layout-menu *,
#layout-menu a:hover {
	color: #FFFFFF;
}

#layout-content div.main_all div.rightbar p a
{
	color: #FFFFFF;
}

#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	color: red;
}

#layout-search form input.text,
#layout-search form select
{
	color: #9CCD17;
	background-color: #FFFFFF;
}

#layout-footer
{
	color: #92C016;
}

#layout-content div.g_filterlist,
#layout-content ul.g_actionlist,
#layout-content ul.g_navlist
{
	background-color: #46C5FF;
	color: #FFFFFF;
}

#layout-content caption,
#layout-content div.profile_all h4
{
	color: #46C5FF;
}

#layout-content h1
{
	color: #9CCD17;
}

#layout-menu li.sub-menu:nth-child(odd)
{
    background-color: #47C2FF;
}

#layout-menu li.sub-menu:nth-child(even)
{
    background-color: #98CB1B;
}

.g_bubble
{
	border-color: #46C5FF;
}