*.i_help
{
	background: url(images/icons/ask2.gif) no-repeat right;
	cursor: help; /* just kept for teh funs */
}

*.i_report_entry,
*.i_no_vote
{
	background-image: url(images/icons/anidb_no_vote.gif);
}

*.i_down1
{
	background-image: url(images/icons/down1.gif);
	width: 15px;
	height: 13px;
}

*.i_minus
{
	background-image: url(images/icons/minus.gif);
	width: 15px;
	height: 13px;
}

*.i_nodown1
{
	background-image: url(images/icons/nodown1.gif);
	width: 15px;
	height: 13px;
}

*.i_noup1
{
	background-image: url(images/icons/noup1.gif);
	width: 15px;
	height: 13px;
}

*.i_plus
{
	background-image: url(images/icons/plus.gif);
	width: 15px;
	height: 13px;
}

*.i_up1
{
	background-image: url(images/icons/up1.gif);
	width: 15px;
	height: 13px;
}

/* credits to zak */
img[src*="down1.gif"] {
	background: url(images/icons/down.gif) no-repeat top;
	width: 15px;
	height: 13px;
}
img[src*="up1.gif"] {
	background: url(images/icons/up1.gif) no-repeat top;
	width: 15px;
	height: 13px;
}
img[src*="nodown1.gif"] {
	background: transparent url(images/icons/nodown1.gif) no-repeat left top;
	width: 15px;
	height: 13px;
}
img[src*="noup1.gif"] {
	background: transparent url(images/icons/noup.gif) no-repeat left top;
	width: 15px;
	height: 13px;
}