html
{
	background: #FFFFFF;
}

body.nonav
{
	background: #FFFFFF;
}

#layout-content
{
	margin-left: 202px;
}

#layout-nav
{
	background: transparent url(images/header.png) no-repeat;
	height: 187px;
}

#layout-menu
{
	background: url(images/menubg.png) no-repeat left 187px;
	padding-top: 195px;
	padding-left: 24px;
	height: 578px;
}

#layout-menu li.sub-menu{
	width: 108px;
}

#menu-mod
{
	position: absolute;
	top: 740px;
	left: 24px;
	padding: 0px;
}

#layout-menu ul
{
	line-height: 1.35;
         width: 170px;
}

#layout-menu li
{
	padding: 0;
	text-indent: 0;
	text-transform:capitalize;
	width: 170px;
}

#menu-main .random,
#menu-support .irc,
#menu-adm
{
	display: none;
}

#menu-main,
#menu-lists,
#menu-private
{
	margin-bottom: 33px;
}

#layout-menu ul.my
{
	margin-top: 36px;
}

#layout-menu li.genre, #layout-menu li.genren
{
	display: inline;
}

#layout-menu li.help
{
	padding: 1px 0 0 0;
	margin-bottom: 2px;
	display: block;
	text-indent: 15px;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(images/help.gif);
}

#layout-menu li.forum
{
	font-weight: bold;
}

#layout-menu span.user
{
	text-align: left;
	display: block;
}

#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	content: "!";
	color: red;
	padding: 0.2em;
}

#layout-menu #newmessages
{
	display: block;
}

#layout-search form input.text
{
	font-size: 13px;
	font-weight: bold;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #9CCD17;
	background-color: #FFFFFF;
	border: #D1EDFA 2px solid;
	width: 180px;
}

#layout-content h1
{
	position: relative;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0 5px 0px;
	text-align: left;
	height: 23px;
	color: #9CCD17;
	padding: 4px 0px 0px 13px;
	border-left:#9CCD17 3px solid;
}

#layout-content div.g_section
{
	padding-top: 10px;
	clear: both;
}

#layout-content div.info caption
{
	display: none;
}

#layout-content caption,
#layout-content div.profile_all h4
{
	font-size: 14px;
	color: #46C5FF;
}

#layout-content table
{
	border:#9CCD17 2px solid;
}

#layout-content div.g_content div.profile_all
{
	text-align: center;
}

#layout-content div.g_filterlist,
#layout-content ul.g_actionlist,
#layout-content ul.g_navlist
{
	background: #46C5FF;
	padding: 2px;
	color: #FFFFFF;
}

#layout-content div.adduserdata_all table
{
	border-collapse: collapse;
}

#layout-footer
{
	margin-top: 19px;
	margin-left: 182px;
	color: #92C016;
	text-align: center;
}

#layout-footer:after
{
	content: "design by b1nh (AniDB: binhkun)"
}

#layout-content div.anime_all div.mylist th.anime
{
	width: 300px;
}
