#include "windows.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,35,0,1
 PRODUCTVERSION 0,35,0,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK

#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080004b0"
        BEGIN
            VALUE "CompanyName", "AniDB"
            VALUE "FileDescription", "Audio Video Info Extractor"
            VALUE "FileVersion", "0.35a1"
            VALUE "InternalName", "avdump"
            VALUE "OriginalFilename", "avdump.exe"
            VALUE "ProductVersion", "AVDump"
            VALUE "ProductVersion", "0.35a1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x800, 1200
    END
END