* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 12px;
    font-family: Tahoma, Verdana, Arial, Helvetica;
    margin: 0;
    height: 100%;
}

.episodesTable {
	text-align: left;
}

table.episodesTable {
	 width: 90%;
}

tr.oddEpisodeTable {
	background-color: Green
}	

tr.evenEpisodeTable {
	background-color: #000000;
}	

.descending {
    background-image: url( images/desc.gif );
}

.ascending {
    background-image: url( images/asc.gif );
}

.complete {
    background-image: url(images/check2.gif);
    background-position: left;
}

h1 {
    color: #800000;
    text-align: center;
    font-size: 1.5em;
}

h2 {
    color: #008000;
    text-align: left;
    font-size: 1.2em;
}

.sub {
    font-size: 10px;
}

.clickable {
    border: thin outset #993300;
}

.headerCenter {
    margin-right: 215px;
    margin-left: 215px;
}

tbody {
/*overflow : scroll;*/
}

.headerLeft {
    float: left;
    width: 20%;
}

.headerRight {
    float: right;
    width: 20%;
}

table {
    width: 100%;
    border-color: Black;
    border-style: solid;
    border-width: 0px;
    border-collapse: collapse;
    font-size: 12px;
}

tr {
    background-color: #000000;
}

tr.even {
    color: #FFFFFF;
    background-color: #000000;
}

tr.odd {
    color: #FFFFFF;
    background-color: #330000;
}

tr.dir {
    background-color: #000030;
}

tr.high1 {
    color: #FFCC00;
    background-color: #660000;
}

tr.high2 {
    color: #FFCC00;
    background-color: #330066;
}

td.sort {
    color: #FFCC00;
    background-color: #330000;
}

td.opt {
    color: #FFCC00;
    background-color: #003000;
}

tr.options {
    color: #F0F0F0;
    font-weight: bold;
    padding-bottom: 100px;
    text-align: center;
    background-color: #005000;
}

tr.thead {
    color: #F0F0F0;
    font-weight: bold;
    font-size: 14px;
    background-color: #993300;
    padding: 0px;
    padding-bottom: 100px;
    text-align: center;

}

tfoot tr {
    color: #F0F0F0;
    background-color: #00C000;
}

td, th {
    padding: 0px; /*white-space: nowrap;*/
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-repeat: no-repeat;
    background-position: right center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #99CCFF;
}