#layout-main div.main_all div.header
{
	margin-right:21em;
}

#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	border: none;
	border-bottom:1px solid #CCCCCC;
	font-size:1.2em;
	line-height:15px;
	margin:5px 0 10px;
	padding:3px 0;
	text-align:left;
}