html
{
	background: #000000 url('images/Lucky_Menu_Pixel.gif') repeat-y left;
         color: #FFFFFF;
}

body.nonav
{
	background: #000000;
}

#layout-menu
{
	position: absolute;
	top: 132px;
	left: 0;
	width: 100px;
	height: 603px;
	padding: 10px 42px 0px 28px;
	background: url('images/Lucky_Menu.png') no-repeat top left;
}

#menu-account
{
	position: absolute;
	top: 370px;
	left: 17px;
	line-height: 1.2;
}

#menu-mod,
#menu-main .random
{
	display: none;
}

#layout-menu ul
{
	line-height: 1.2;
}

#layout-menu li
{
	padding: 0;
	text-indent: 0;
}


#layout-menu li.mywishlist,
#layout-menu li.myreviews,
#layout-menu li.mydbentries,
#layout-menu li.mycreqs,
#layout-menu li.up2date
{
	display: none;
}

#menu-main, #menu-private, #menu-lists
{
	margin-bottom: 1.0em;
}

#layout-menu li.genre, #layout-menu li.genren
{
	display: inline;
}

#layout-menu li.help
{
	margin-bottom: 2px;
	display: block;
	text-indent: 15px;
	background-position:  left 50%;
	background-repeat: no-repeat;
	background-image: url('images/buttons/ask2.gif');padding-left:0; padding-right:0; padding-top:1px; padding-bottom:0
}

#layout-menu li.forum
{
	font-weight: bold;
}

#menu-account li
{
	width: 92px;
	text-align: center;
}

#user-profile a,
#user-logout a
{
	float: left;
	display: block;
	width: 42px;
	height: 12px;
	margin: 2px;
}

#user-profile a span,
#user-logout a span
{
	display: none;
}

#user-logout a
{
	background-image: url('images/buttons/button_logout.gif');
}

#user-profile a
{
	background-image: url('images/buttons/button_profile.gif');
}

#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	content: "!";
	color: red;
	padding: 0.2em;
}

#layout-menu #newmessages
{
	display: block;
}

#layout-search
{
	background: url('images/Lucky_Header_Pixel.gif') repeat-x top;
	width: 100%;
	height: 132px;
}

#layout-search div.search
{
	background: url('images/Lucky_Header.png') no-repeat top left;
	height: 132px;

}

#layout-search div.search form
{
	display: block;
	float: right;
	background: url('images/Lucky_Searchteil.gif') no-repeat 0px 1px;
	margin: 0;
	height: 70px;
	width: 166px;
	max-width: 166px;
         padding-left:0;
         padding-right:0px;
         padding-top:70px;
         padding-bottom:0;

}

#layout-search div.search form p
{
	margin: 0;
	padding: 0;
}

#layout-search form select.type
{
	display: none;
}

#layout-search form input.text
{
	display: block;
	float: right;
	font-size: 10px;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #06b3fe;
	background-color: #000000;
	border: #06b3fe 1px solid;
	margin: 27px 3px 0 0;
	width: 10.3em;
         padding-right: 26px;
}

#layout-search form input.submit
{
	display: block;
	float: right;
	background: url('images/buttons/button_search.gif') no-repeat top;
	font-size: 10px;
	border: 0px solid white;
	width: 63px;
	height: 14px;
	overflow: hidden;
	margin-right: 2.3em;
	content: ""; padding-left:0; padding-right:0; padding-top:14px; padding-bottom:0
}

#layout-content
{
	margin-left: 182px;
	padding-top: 0.5em;
}

#layout-content h1
{
         font-size: 16px;
         font-weight: bold;
         margin: 3px 0 18px 37px;
         text-align: left;
}

#layout-content div.g_section
{
	padding-top: 10px;
	clear: both;
}

#layout-footer
{
	margin-top: 19px;
	margin-left: 182px;
	text-align: center;
}

#layout-footer:after
{
	content: "Design by Breadstone. Coding by B1nh"
}

#layout-content div.rightbar
{
	padding-top: 2px;
}

#layout-content div.anime_all div.mylist th.anime
{
	width: 300px;
}