@import "buttons.css";
@import "common.css";

@import "status-radioactive.css";

@import "layout.css";
@import "border.css";
@import "color.css";
@import "text.css";


html, body, div
{
	padding: 0;
}

body,
#layout-menu
{
	font-size: 10px;
}

*.i_button
{
	display: block;
	width: 42px;
	height: 12px;
	float: left;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -5000px;
}

.i_logout
{
	background-image: url('images/Buttons/button_logout.gif');
}

*.i_profile
{
	background-image: url('images/Buttons/button_profile.gif');
}

*.i_signup
{
	background-image: url('images/Buttons/button_signup.gif');
}


#layout-content div.main_all h4,
#layout-content div.main_edit h4
{
	background-color: #3496DA;
	color: #FFFFFF;
}

#layout-content div.main_all div.rightbar
{
	width: 16em;
	float: right;
	text-align: center;
	margin: 0.3em;
}

#layout-content div.main_all div.rightbar p
{
	margin: 1.2em 0 0 0;
}

#layout-content div.main_all div.rightbar h3
{
	font-size: 100%;
	margin: 1.5em 0 0.4em 0;
}

#layout-content div.main_all div.rightbar ol
{
	margin: 0em 0 0.4em 0;
	padding: 0;
}

#layout-content div.main_all div.rightbar li
{
	list-style: none;
	text-align: left;
}

#layout-content div.main_all div.rightbar li span
{
	display: block;
	float: left;
	height: 100%;
	width: 4em;
	text-align: center;
}

#layout-content div.main_all div.rightbar li a
{
	display: block;
	margin-left: 4em;
}

#layout-content div.main_all div.news
{
	margin-right: 17em;
	margin-left: 0.3em;
}

#layout-content div.main_all div.news div.newsitem h4
{
	padding: 0.1em;
}

#layout-content div.main_all div.news div.newsitem span.stamp
{
	padding: 0.1em 1em 0.1em 0.1em;
}

#layout-content div.main_all div.news div.newsitem p.body
{
	margin: 0.1em 0.1em 3.1em 0.1em;
}

#layout-content div.g_notebox
{
	color: white;
         background-color: #000000;
         border: 0;
}

#layout-content div.g_notebox h3
{
	color: white;
}

#layout-content div.g_errorbox
{
	color: white;
         background-color: #000000;
         border: 1px #e64b73 solid;
}

#layout-content div.g_errorbox h3
{
	color: #e64b73;
}

#layout-content div.g_successbox
{
	color: white;
         background-color: #000000;
         border: 1px #FFE681 solid;
}

#layout-content div.g_successbox h3
{
	color: #FFE681;
}

#layout-content div.g_warnbox
{
	color: white;
         background-color: #000000;
         border: 1px #e64b73 solid;
}

#layout-content div.g_warnbox h3
{
	color: #e64b73;
}