@import "css/main.css";

/* hide mod panel */
#layout-menu #menu-mod
{
	display: none;
}

/* remove odd coloring in some divs */
div.mylistadd .g_odd,
div.mylist_edit .g_odd,
div.search .g_odd,
div.g_menu .g_odd,
div.mylist_dump .g_odd,
div.ed2kdump_options .g_odd,
div.mylist_add .g_odd,
div.g_actionlist .g_odd,
div.addgenren_form .g_odd,
div.latestanimes_anime .g_odd,
li.cat
{
	background-color: transparent !important;
}

/* buttons and input boxes customization */
input[type="checkbox"], input[type="radio"]
{
	vertical-align: middle;
}

input[type="text"],
input[type="password"],
select,
textarea
{
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 1px;
}

input[type="text"],
input[type="password"]
{
	padding-left: 3px;
	padding-right: 3px;
}

/* center and align group description */
div.group_info div.desc
{
	margin-top: 2em;
	text-align: center;
}

/* anime page align left */
#layout-content div.info div.block
{
	margin-left: 1em;
	margin-right: 1em;
}

/* different anime description style */
#layout-content div.info div.desc,
#layout-content div.info ul
{
	background-color: #B0B0B0;
	margin: 1em;
	padding: 1em;
}

/* border for anime images */
div.anime_all div.image img
{
	border: 1px solid;
	border-color: #717377 #E8E9EC #E8E9EC #717377;
	display: block;
}

/* relationlist align fixed */
table .relationlist
{
	margin-left: 0px;
	margin-right: auto;
	width: auto;
}

/* nicer style for created entry row */
#layout-content tr.created
{
	background-color: #6FC279;
}

/* fixed color mistake in hint feature */
div.anime_mylist table td,
div.anime_vote table,
div.hint2_all td.nav
{
	background-color: #B0B0B0;
}

/* fixes for export page */
div.export_themes div h4
{
	color: #BBBBBB;
	background-color: #494D59;
}

div.export_all div
{
	margin: 4em 5em 4em 5em;
}

div.g_info,
div.export_action,
div.export_status ul,
div.animeatt_info ul,
div.add_done ul
{
	text-align: center;
}

div.agcmts_entries div.comment h4,
div.export_themes table
{
	background-color: #B0B0B0;
	margin-bottom: 20px;
}

/* if a popup, kill the title */
body.nonav #layout-content h1
{
	display: none;
}

/* if a popup, kill the top border */
body.nonav #layout-content div.g_content
{
	border-top: none;
}

/* remove useless image in mylist */
div.mylist_all table.eplist td.action img[title="fold entry"],
div.mylist_all table.eplist td.action img[title="expand entry"]
{
	display: none;
}

/* hide background in popups */
body.nav
{
	background: none;
}

/* fix for spacing of MyPlace latest entries */
div.latest ul li
{
	padding: 2px;
}

/* centering mass add results */
div.maddtomylist_all ul.results,
div.group_released p.stats
{
	padding-top: 1em;
	text-align: center;
}

/* colored anime review header */
div.review h2
{
	border: 1px solid #696969;
	background-color: Silver;
	padding: 4px;
}

/* add separation to review end */
div.review
{
	margin-bottom: 2em;
}

/* exception for quality stars alignement */
td.quality .i_rate_star,
td.quality .i_rate_halfstar
{
	background-position: left;
	padding: 0px !important;
}

/* main page news alignement */
#layout-content div.main_all div.news div.newsitem p.body
{
	text-align: left;
}

/* textarea sizing and positioning */
#layout-content div.agcmts_add form div textarea,
#layout-content div.animegroup_all form div textarea
{
	display: block;
	width: 80%;
	margin-left: 10%;
	height: 10em;
}

#wysiwyg_0
{
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

/* profile styling */
*.i_inline
{
	padding: 2px 8px 2px 8px;
	margin: 4px;
}

div.css_style div.block
{
	margin-left: auto;
	margin-right: auto;
}

/* tooltip support */
#obj-tooltip
{
	position: absolute;
	left: 0px;
	width: 150px;
	border: 1px solid black;
	padding: 2px;
	background-color: #FFFFF0;
	visibility: hidden;
	z-index: 100;
	font-size: x-small;
}

#obj-pointer
{
	position: absolute;
	left: -300px;
	width: 15px;
	height: 13px;
	z-index: 101;
	visibility: hidden;
}

*.releaseinfotooltip div.icons
{
	float: left;
}

/* wrap fix for icon and action cells */
th, td.action.icons
{
	white-space: nowrap;
}

.grouplist .action.icons
{
	width: 60px;
}

/* fix for lates anime files */
div.latest_files_list table
{
	width: 100%;
}

div.latest_files_list table td.id
{
	text-align: center;
}

/* remove odd coloring for mylist table headers */
div.mylist_list .g_odd.files
{
	background-color: transparent !important;
}

/* different color for main/match/filter */
#layout-content a.filter,
#layout-content .name span.main,
#layout-content .name span.match
{
	color: gray;
}

/* notification box centering */
#layout-content div.g_errorbox,
#layout-content div.g_warnbox,
#layout-content div.g_notebox,
#layout-content div.g_successbox
{
	text-align: center;
}

table.filelist tr.generic td
{
	background-color: white;
}

/* fix for mylist size */
#layout-content div.mylist_list table.animelist
{
	width: 80%;
}

/* fix for table row height */
#layout-main table.animelist tr,
#layout-main table.eplist tr,
#layout-main table.grouplist tr
{
	height: 20px;
}

/* fix for jumplist */
ul.g_list.jump
{
	margin: 2em 0 2em 0;
}

/* search input box fix */
div.search input.text
{
	width: 90% !important;
}

/* add section fix */
div.mylistadd table,
div.ed2kdump_options table
{
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

/* a little space for checkboxes */
input[type=checkbox]
{
	margin: 2px;
}
