table
{
	border-collapse: separate;
}

table table
{
	border: none;
}

img, a
{
	border: none;
}

#layout-main .g_image image,
#layout-main .g_definitionlist
{
	padding: 1px;
}

#layout-main .block .g_definitionlist table
{
	border: none;
	margin: 0;
}

#layout-main div.avatar img,
#layout-main div.anime_all div.info div.image img
{
	border: 1px solid;
	border-color: #717377 #E8E9EC #E8E9EC #717377;
	padding: 1px;
}

#layout-main div.anime_all div.groups tr.header th,
#layout-main div.anime_all div.episodes tr.header th
{
	padding: 4px 1px 7px 1px;
	border-bottom: black 2px solid;
}

#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top: black 2px solid;
}

#layout-main div.g_content
{
	border-top: 2px groove #BFC2CA;
	padding: 1em;
}