html
{
	background: #BFC2C9 url(../anidbstyle/images/backtoo.png) repeat-y left;
}

body.nonav
{
	background: #BFC2C9;
}

#layout-menu
{
	position: absolute;
	top: 94px;
	left: 0;
	width: 170px;
	height: 603px;
	background: transparent url(../anidbstyle/images/menuback.png) no-repeat top left;
}

#layout-menu div.menu
{
	padding: 51px 42px 0px 28px;
}

#layout-menu div.usermenu
{
	position: absolute;
	top: 420px;
	left: 10px;
	line-height: 2;
}
#layout-menu div.menu ul.mod
{
	position: absolute;
	top: 600px;
	left: 20px;
	padding: 10px;
	background-color: #1a2238;
	border: 1px solid #969aa6;
}

#layout-menu ul
{
	line-height: 1.2;
}

#layout-menu li
{
	padding: 0;
	text-indent: 0;
}

#layout-menu li.mymessages, #layout-menu li.mynotifies, #layout-menu li.mywishlist,
#layout-menu li.myvotes, #layout-menu li.myreviews, #layout-menu li.mydbentries,
#layout-menu li.mycreqs, #layout-menu li.up2date
{
	display: none;
}

#layout-menu ul.main, #layout-menu li.ed2kdump, #layout-menu ul.lists
{
	margin-bottom: 1.0em;
}

#layout-menu li.genre, #layout-menu li.genren
{
	display: inline;
}

#layout-menu li.help
{
	padding: 1px 0 0 0;
	margin-bottom: 2px;
	display: block;
	text-indent: 15px;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(../icons/ask2.gif);
}

#layout-menu li.forum
{
	font-weight: bold;
}

#layout-menu div.usermenu
{
	text-align: center;
}

#layout-menu span.login
{
	text-align: left;
	display: block;
	margin-left: 47px;
}

#layout-menu span.user
{
	text-align: left;
	display: block;
}

#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	content: "!";
	color: red;
	padding: 0.2em;
}

#layout-menu #newmessages
{
	display: block;
}
#layout-menu form
{
	margin-top: 16px;
}
#layout-menu form input.text
{
	display: block;
	font-size: 10px;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #272D43;
	border: #BFC2C9 1px solid;
	width: 8.7em;
}

#layout-menu form input.logon
{
	position: absolute;
	display: block;
	width: 42px;
	height: 12px;
	top: 14px;
	left: 2px;
	padding: 12px 0 0 0;
	overflow: hidden;	
	background: transparent url(../icons/button_logon.gif) no-repeat top;
	border: 0;
	content: "";
}

#layout-menu div.usermenu a.i_signup
{
	position: absolute;
	top: 14px;
	left: 46px;
}

#layout-menu form label.remember
{
	margin-left: -20px;
	font-size: 90%;
}

#layout-menu form label.remember input
{
	font-size: 111%;
	vertical-align: middle;
}

#layout-search
{
	background: transparent url(../anidbstyle/images/backlame.png) repeat-x top;
	width: 100%;
	height: 94px;
}

#layout-search div.search
{
	background: transparent url(../anidbstyle/images/anidb01toosimple.png) no-repeat top left;
	height: 94px;
}

#layout-search div.search form
{
	display: block;
	float: right;
	background: transparent url(../anidbstyle/images/searchback.png) no-repeat 0px 77px;
	padding: 70px 0 0 0;
	margin: 0;
	height: 64px;
	width: 15.2em;
	max-width: 152px;
}

#layout-search div.search form p
{
	margin: 0;
	padding: 0;
}

#layout-search form select.type
{
	display: none;
}

#layout-search form input.text
{
	display: block;
	float: right;
	font-size: 10px;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #272D43;
	border: #BFC2C9 1px solid;
	margin: 27px 3px 0 0;
	width: 10.3em;
}

#layout-search form input.submit
{
	display: block;
	float: right;
	background: url(../icons/button_search.gif) no-repeat top;
	font-size: 10px;
	border: solid 0 white;
	width: 63px;
	height: 14px;
	padding: 14px 0 0 0;
	overflow: hidden;
	margin-right: 2.3em;
	content: "";
}

#layout-content
{
	margin-left: 182px;
	padding-top: 0.5em;
}

#layout-content h1
{
	font-size: 16px;
	font-weight: bold;
	margin: 3px 0 18px 37px;
	text-align: left;
}

#layout-content div.g_section
{
	padding-top: 10px;
	clear: both;
}

#layout-content div.g_content
{
	border-top: 2px groove #BFC2CA;
}

#layout-footer
{
	margin-top: 19px;
	margin-left: 182px;
	text-align: center;
}

#layout-footer:after
{
	content: "design by akujiN"
}

#layout-content div.anime_all div.mylist th.anime
{
	width: 300px;
}