table
{
	border-collapse:separate;
}

#layout-content div.g_section img
{
	border:0 #e64b73 solid;
}

#layout-content div.mylist_add table
{
	border:2px #028fcd solid;
}

#layout-content div.anime_all div.episodes tr.heading th
{
	border-bottom:black 2px solid;
}

#layout-content div.anime_all div.episodes tr.newtype td
{
	border-top:black 2px solid;
}

#layout-search form input.submit
{
	border:0 solid white;
}

#layout-search form input.text
{
	border:#06b3fe 1px solid;
}

#layout-content div.g_msg.note
{
	border:0;
}

#layout-content div.g_msg.success
{
	border:1px #FFE681 solid;
}

table table,
img,
a,
#layout-content .g_block .g_definitionlist > table
{
	border:none;
}

#layout-content div.g_msg.error,
#layout-content div.g_msg.warning
{
	border:1px #e64b73 solid;
}