
a:visited, a:active, a:hover, a:link {
  color: blue;
  text-decoration: none;
}

#layout-content div.anime_all div.mylist th,
#layout-content table.grouplist th,
#layout-content tr.g_odd,
#layout-content li.g_odd,
#layout-content span.g_odd
{
	background-color: #028fcd;
}

#layout-content div.rightbar li.g_odd
{
 	background-color: #028fcd;
}

#layout-content div.main_all div.news h4
{
	color: #FFFFFF;
	background-color: #e64b73;
}

#layout-content div.main_all div.rightbar h4
{
	color: #FFFFFF;
	background-color: #06b3ff;
}

#layout-content div.agcmts_entries div.comment h4
{
	color: #FFFFFF;
	background-color: #e64b73;
}

#layout-content div.main_all div.news span.stamp
{
	background-color: #000000;
}

#layout-content div.main_all div.news a:link,
#layout-content div.main_all div.news a:visited
{
	color: #f9ff7b;
}

#layout-menu a:link, #layout-menu a:visited
{
	color: #FFFFFF;
}

#layout-content div.rightbar a:link,
#layout-content div.rightbar a:visited
{
	color: #f9ff7b;
}

#layout-menu a:active
{
	color: #ff0000;
}

#layout-menu *,
#layout-menu a:hover {
	color: #bbbbbb;
}

#layout-menu #newnotifies
{
	color: white; /* text color - notifies */
}

#layout-menu #newmessages
{
	display: block;
	color: white;
}

#layout-menu a.history:link,
#layout-menu a.history:visited,
#layout-menu a.history:active,
#layout-menu a.history:hover
{
	color: #FFE681; /* text color - history link */
}

#layout-menu div.usermenu p.user
{
	color: white;
}

#layout-content div.agcmts_entries div.comment a:link,
#layout-content div.agcmts_entries div.comment a:hover
#llayout-content div.agcmts_entries div.comment a:active
#llayout-content div.agcmts_entries div.comment a:visited
{
	color: #f9ff7b;    /* Link color in comments */
	font-weight: bold;
}

#layout-content .g_definitionlist a:link,
#layout-content .g_definitionlist a:visited
{
	color: #f9ff7b;
}

#layout-content a:link,
#layout-content a:visited,
#layout-content a:active,
#layout-content a:hover
{
      	color: #f9ff7b;
}

#layout-content div.episodes th
{
	background-color: #028fcd;
}

#layout-content div.message table,
#layout-content div.message tr,
#layout-content div.message th,
#layout-content div.message td,
#layout-content div.message td.iframe,
#layout-content div.message td.iframe wysiwyg
{
	background-color: #000000;
         color: white;
}

#layout-content div.episodes tr.invalid
{
	background-color: #e64b73;
}

#layout-content div.episodes tr.good,
#layout-content div.episodes tr.good a
{
	background-color: #88fe90;
         color: #000000;
}