#layout-menu
{
	height:603px;
	left:0;
	padding:10px 48px 0 22px;
	position:absolute;
	top:132px;
	width:100px;
}

#layout-menu li
{
	padding:0;
	text-indent:0;
}

#menu-main,
#menu-private,
#menu-lists
{
	margin-bottom:1em;
}

#layout-menu li.genre,
#layout-menu li.genren
{
	display:inline;
}

#layout-menu li.help
{
	display:block;
	margin-bottom:2px;
	padding:1px 0 0;
	text-indent:15px;
}

#menu-account li
{
	text-align:center;
	width:92px;
}

#user-profile a,
#user-logout a
{
	display:block;
	float:left;
	height:12px;
	margin:2px;
	width:42px;
}

#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	padding:0.2em;
}

#layout-menu #newmessages
{
	display:block;
}

#layout-search div.search form
{
	display:block;
	float:right;
	margin:0;
	max-width:166px;
	padding:70px 0 0;
}

#layout-search div.search form p
{
	margin:0;
	padding:0;
}

#layout-search form input.text
{
	display:block;
	float:right;
	margin:27px 3px 0 0;
	padding-right:26px;
	width:10.3em;
}

#layout-search form input.submit
{
	display:block;
	float:right;
	margin-right:2.3em;
	overflow:hidden;
	padding:14px 0 0;
}

#layout-content
{
	margin-left:182px;
	padding-top:0.5em;
}

#layout-content h1
{
	margin:3px 0 18px 37px;
	text-align:left;
}

#layout-content div.g_section
{
	clear:both;
	padding-top:10px;
}

#layout-footer
{
	margin-left:182px;
	margin-top:19px;
	text-align:center;
}

#layout-content div.rightbar
{
	padding-top:2px;
}

#layout-content div.anime_all div.mylist th.anime
{
	width:300px;
}

#layout-content .g_block .g_definitionlist > table
{
	margin:0;
}

#layout-content div.main_all div.rightbar
{
	float:right;
	margin:0.3em;
	text-align:center;
	width:16em;
}

#layout-content div.main_all div.rightbar p
{
	margin:1.2em 0 0;
}

#layout-content div.main_all div.rightbar h3
{
	margin:1.5em 0 0.4em;
}

#layout-content div.main_all div.rightbar ol
{
	margin:0 0 0.4em;
	padding:0;
}

#layout-content div.main_all div.rightbar li
{
	list-style:none;
	text-align:left;
}

#layout-content div.main_all div.rightbar li span
{
	display:block;
	height:100%;
	text-align:left;
}

#layout-content div.main_all div.rightbar li a
{
	display:block;
	margin-left:4em;
}

#layout-content div.main_all div.news
{
	margin-left:0.3em;
	margin-right:17em;
}

#layout-content div.main_all div.news div.newsitem h4
{
	padding:0.1em;
}

#layout-content div.main_all div.news div.newsitem span.stamp
{
	padding:0.1em 1em 0.1em 0.1em;
}

#layout-content div.main_all div.news div.newsitem p.body
{
	margin:0.1em 0.1em 3.1em;
}

#layout-main div.profile_all div.tabbed_pane div.user_css div textarea
{
	height:500px;
	width:70%;
}

#menu-mod,
#menu-main .random,
#layout-menu li.mywishlist,
#layout-menu li.myreviews,
#layout-menu li.mydbentries,
#layout-menu li.mycreqs,
#user-profile a span,
#user-logout a span,
#layout-search form select.type,
#layout-search select,
#layout-search div.search form.random
{
	display:none;
}

#layout-menu ul,
#layout-content div.main_all h4
{
	line-height:1.2;
}

#layout-content ul.g_navlist li,
html,
body,
div
{
	padding:0;
}

#layout-content div.anime_all div.episodes tr.heading th,
#layout-content .g_image image,
#layout-content .g_definitionlist,
button,
input[type="button"],
input[type="submit"]
{
	padding:1px;
}

h4,
#layout-main div.g_timedentry h4
{
	padding:0.3em;
}

#layout-tabs
{
	display:block;
	margin:0;
	position:absolute;
	right:170px;
	top:73px;
}

#layout-tabs ul li
{
	display:inline;
	line-height:15px;
	padding:4px 6px 3px;
}

#layout-tabs ul
{
	display:block;
	margin-bottom:.5em;
	margin-top:.5em;
	text-align:right;
}

#layout-main div.tabbed_pane ul.tabs
{
	margin:1px 1px 1px 6px;
	text-align:left;
}