body,
#layout-menu
{
	font-size:10px;
}

#layout-menu li.forum
{
	font-weight:bold;
}

#layout-search form input.text
{
	font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size:10px;
}

#layout-search form input.submit
{
	content:"";
	font-size:10px;
}

#layout-content h1
{
	font-size:16px;
	font-weight:bold;
}

#layout-content div.main_all div.rightbar h3
{
	font-size:100%;
}

#layout-content ul.g_navlist li:before
{
	content:" | ";
}

#layout-content ul.g_navlist li:first-child:before
{
	content:"";
}

#layout-content ul.g_numonpage li:first-child:before
{
	content:"show: ";
}

#layout-content div.main_all h4
{
	font-size:100%;
	font-weight:normal;
}

#layout-content p.g_vital a:link,
#layout-content p.g_vital a:visited
{
	font-weight:bolder;
}

#layout-menu li.genren:before
{
	content:"(";
}

#layout-menu li.genren:after
{
	content:")";
}

#layout-footer:after
{
	content:"Design by Breadstone. Coding by B1nh";
}

#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	content:"!";
}

span.link,
a:visited,
a:active,
a:hover,
a:link
{
	text-decoration:none;
}