/*currently no icon available
*.i_award_mediaarts_small
{
	background-image: url(../icons/awards/<gimmeanicon>);
}*/

*.i_award_mainichi_small
{
	background-image: url(../icons/awards/anidb_mainichi.gif);
}

*.i_award_top10_small
{
	background-image: url(../icons/awards/anidb_top10.gif);
}

*.i_award_arc2001_small
{
	background-image: url(../icons/awards/arc2001award.gif);
}

*.i_award_arc2002_small
{
	background-image: url(../icons/awards/arc2002award.gif);
}

*.i_award_arc2003_small
{
	background-image: url(../icons/awards/arc2003award.gif);
}

*.i_award_arc2004_small
{
	background-image: url(../icons/awards/arc2004award.gif);
}

*.i_award_arc2005_small
{
	background-image: url(../icons/awards/arc2005award.gif);
}

*.i_award_arc2006_small
{
	background-image: url(../icons/awards/arc2006award.gif);
}

*.i_award_mainichi_animation
{
	background-image: url(../icons/awards/anidb_mainichi_animation.jpg);
}

*.i_award_mainichi_oofuji_noburou
{
	background-image: url(../icons/awards/anidb_mainichi_oofuji_noburou.jpg);
}

*.i_award_arc2001_action
{
	background-image: url(../icons/awards/arc2001_action.jpg);
}

*.i_award_arc2002_action
{
	background-image: url(../icons/awards/arc2002_action.jpg);
}

*.i_award_arc2003_action
{
	background-image: url(../icons/awards/arc2003_action.jpg);
}

*.i_award_arc2004_action
{
	background-image: url(../icons/awards/arc2004_action.jpg);
}

*.i_award_arc2005_action
{
	background-image: url(../icons/awards/arc2005_action.jpg);
}

*.i_award_arc2006_action
{
	background-image: url(../icons/awards/arc2006_action.jpg);
}

*.i_award_arc2001_adventure_fantasy
{
	background-image: url(../icons/awards/arc2001_adventure_fantasy.jpg);
}

*.i_award_arc2002_adventure_fantasy
{
	background-image: url(../icons/awards/arc2002_adventure_fantasy.jpg);
}

*.i_award_arc2003_adventure_fantasy
{
	background-image: url(../icons/awards/arc2003_adventure_fantasy.jpg);
}

*.i_award_arc2004_adventure_fantasy
{
	background-image: url(../icons/awards/arc2004_adventure_fantasy.jpg);
}

*.i_award_arc2005_adventure_fantasy
{
	background-image: url(../icons/awards/arc2005_adventure_fantasy.jpg);
}

*.i_award_arc2006_adventure_fantasy
{
	background-image: url(../icons/awards/arc2006_adventure_fantasy.jpg);
}

*.i_award_arc2001_animation
{
	background-image: url(../icons/awards/arc2001_animation.jpg);
}

*.i_award_arc2002_animation
{
	background-image: url(../icons/awards/arc2002_animation.jpg);
}

*.i_award_arc2003_animation
{
	background-image: url(../icons/awards/arc2003_animation.jpg);
}

*.i_award_arc2004_animation
{
	background-image: url(../icons/awards/arc2004_animation.jpg);
}

*.i_award_arc2005_animation
{
	background-image: url(../icons/awards/arc2005_animation.jpg);
}

*.i_award_arc2006_animation
{
	background-image: url(../icons/awards/arc2006_animation.jpg);
}

*.i_award_arc2001_anime_overall
{
	background-image: url(../icons/awards/arc2001_anime_overall.jpg);
}

*.i_award_arc2002_anime_overall
{
	background-image: url(../icons/awards/arc2002_anime_overall.jpg);
}

*.i_award_arc2003_anime_overall
{
	background-image: url(../icons/awards/arc2003_anime_overall.jpg);
}

*.i_award_arc2004_anime_overall
{
	background-image: url(../icons/awards/arc2004_anime_overall.jpg);
}

*.i_award_arc2005_anime_overall
{
	background-image: url(../icons/awards/arc2005_anime_overall.jpg);
}

*.i_award_arc2006_anime_overall
{
	background-image: url(../icons/awards/arc2006_anime_overall.jpg);
}

*.i_award_arc2001_character_development
{
	background-image: url(../icons/awards/arc2001_character_development.jpg);
}

*.i_award_arc2002_character_development
{
	background-image: url(../icons/awards/arc2002_character_development.jpg);
}

*.i_award_arc2003_character_development
{
	background-image: url(../icons/awards/arc2003_character_development.jpg);
}

*.i_award_arc2004_character_development
{
	background-image: url(../icons/awards/arc2004_character_development.jpg);
}

*.i_award_arc2005_character_development
{
	background-image: url(../icons/awards/arc2005_character_development.jpg);
}

*.i_award_arc2006_character_development
{
	background-image: url(../icons/awards/arc2006_character_development.jpg);
}

*.i_award_arc2001_comedy
{
	background-image: url(../icons/awards/arc2001_comedy.jpg);
}

*.i_award_arc2002_comedy
{
	background-image: url(../icons/awards/arc2002_comedy.jpg);
}

*.i_award_arc2003_comedy
{
	background-image: url(../icons/awards/arc2003_comedy.jpg);
}

*.i_award_arc2004_comedy
{
	background-image: url(../icons/awards/arc2004_comedy.jpg);
}

*.i_award_arc2005_comedy
{
	background-image: url(../icons/awards/arc2005_comedy.jpg);
}

*.i_award_arc2006_comedy
{
	background-image: url(../icons/awards/arc2006_comedy.jpg);
}

*.i_award_arc2001_drama
{
	background-image: url(../icons/awards/arc2001_drama.jpg);
}

*.i_award_arc2002_drama
{
	background-image: url(../icons/awards/arc2002_drama.jpg);
}

*.i_award_arc2003_drama
{
	background-image: url(../icons/awards/arc2003_drama.jpg);
}

*.i_award_arc2004_drama
{
	background-image: url(../icons/awards/arc2004_drama.jpg);
}

*.i_award_arc2005_drama
{
	background-image: url(../icons/awards/arc2005_drama.jpg);
}

*.i_award_arc2006_drama
{
	background-image: url(../icons/awards/arc2006_drama.jpg);
}

*.i_award_arc2001_ecchi
{
	background-image: url(../icons/awards/arc2001_ecchi.jpg);
}

*.i_award_arc2002_ecchi
{
	background-image: url(../icons/awards/arc2002_ecchi.jpg);
}

*.i_award_arc2003_ecchi
{
	background-image: url(../icons/awards/arc2003_ecchi.jpg);
}

*.i_award_arc2004_ecchi
{
	background-image: url(../icons/awards/arc2004_ecchi.jpg);
}

*.i_award_arc2005_ecchi
{
	background-image: url(../icons/awards/arc2005_ecchi.jpg);
}

*.i_award_arc2006_ecchi
{
	background-image: url(../icons/awards/arc2006_ecchi.jpg);
}

*.i_award_arc2001_female_character
{
	background-image: url(../icons/awards/arc2001_female_character.jpg);
}

*.i_award_arc2002_female_character
{
	background-image: url(../icons/awards/arc2002_female_character.jpg);
}

*.i_award_arc2003_female_character
{
	background-image: url(../icons/awards/arc2003_female_character.jpg);
}

*.i_award_arc2004_female_character
{
	background-image: url(../icons/awards/arc2004_female_character.jpg);
}

*.i_award_arc2005_female_character
{
	background-image: url(../icons/awards/arc2005_female_character.jpg);
}

*.i_award_arc2006_female_character
{
	background-image: url(../icons/awards/arc2006_female_character.jpg);
}

*.i_award_arc2001_male_character
{
	background-image: url(../icons/awards/arc2001_male_character.jpg);
}

*.i_award_arc2002_male_character
{
	background-image: url(../icons/awards/arc2002_male_character.jpg);
}

*.i_award_arc2003_male_character
{
	background-image: url(../icons/awards/arc2003_male_character.jpg);
}

*.i_award_arc2004_male_character
{
	background-image: url(../icons/awards/arc2004_male_character.jpg);
}

*.i_award_arc2005_male_character
{
	background-image: url(../icons/awards/arc2005_male_character.jpg);
}

*.i_award_arc2006_male_character
{
	background-image: url(../icons/awards/arc2006_male_character.jpg);
}

*.i_award_arc2001_music_ost
{
	background-image: url(../icons/awards/arc2001_music_ost.jpg);
}

*.i_award_arc2002_music_ost
{
	background-image: url(../icons/awards/arc2002_music_ost.jpg);
}

*.i_award_arc2003_music_ost
{
	background-image: url(../icons/awards/arc2003_music_ost.jpg);
}

*.i_award_arc2004_music_ost
{
	background-image: url(../icons/awards/arc2004_music_ost.jpg);
}

*.i_award_arc2005_music_ost
{
	background-image: url(../icons/awards/arc2005_music_ost.jpg);
}

*.i_award_arc2006_music_ost
{
	background-image: url(../icons/awards/arc2006_music_ost.jpg);
}

*.i_award_arc2001_mystery_thriller_horror
{
	background-image: url(../icons/awards/arc2001_mystery_thriller_horror.jpg);
}

*.i_award_arc2002_mystery_thriller_horror
{
	background-image: url(../icons/awards/arc2002_mystery_thriller_horror.jpg);
}

*.i_award_arc2004_mystery_thriller_horror
{
	background-image: url(../icons/awards/arc2004_mystery_thriller_horror.jpg);
}

*.i_award_arc2005_mystery_thriller_horror
{
	background-image: url(../icons/awards/arc2005_mystery_thriller_horror.jpg);
}

*.i_award_arc2006_mystery_thriller_horror
{
	background-image: url(../icons/awards/arc2006_mystery_thriller_horror.jpg);
}

*.i_award_arc2003_newcomer
{
	background-image: url(../icons/awards/arc2003_newcomer.jpg);
}

*.i_award_arc2004_newcomer
{
	background-image: url(../icons/awards/arc2004_newcomer.jpg);
}

*.i_award_arc2005_newcomer
{
	background-image: url(../icons/awards/arc2005_newcomer.jpg);
}

*.i_award_arc2006_newcomer
{
	background-image: url(../icons/awards/arc2006_newcomer.jpg);
}

*.i_award_arc2001_op-ed
{
	background-image: url(../icons/awards/arc2001_op-ed.jpg);
}

*.i_award_arc2002_op-ed
{
	background-image: url(../icons/awards/arc2002_op-ed.jpg);
}

*.i_award_arc2003_op-ed
{
	background-image: url(../icons/awards/arc2003_op-ed.jpg);
}

*.i_award_arc2004_op-ed
{
	background-image: url(../icons/awards/arc2004_op-ed.jpg);
}

*.i_award_arc2005_op-ed
{
	background-image: url(../icons/awards/arc2005_op-ed.jpg);
}

*.i_award_arc2006_op-ed
{
	background-image: url(../icons/awards/arc2006_op-ed.jpg);
}

*.i_award_arc2001_quick_watch
{
	background-image: url(../icons/awards/arc2001_quick_watch.jpg);
}

*.i_award_arc2002_quick_watch
{
	background-image: url(../icons/awards/arc2002_quick_watch.jpg);
}

*.i_award_arc2004_quick_watch
{
	background-image: url(../icons/awards/arc2004_quick_watch.jpg);
}

*.i_award_arc2005_quick_watch
{
	background-image: url(../icons/awards/arc2005_quick_watch.jpg);
}

*.i_award_arc2006_quick_watch
{
	background-image: url(../icons/awards/arc2006_quick_watch.jpg);
}

*.i_award_arc2001_romance
{
	background-image: url(../icons/awards/arc2001_romance.jpg);
}

*.i_award_arc2002_romance
{
	background-image: url(../icons/awards/arc2002_romance.jpg);
}

*.i_award_arc2003_romance
{
	background-image: url(../icons/awards/arc2003_romance.jpg);
}

*.i_award_arc2004_romance
{
	background-image: url(../icons/awards/arc2004_romance.jpg);
}

*.i_award_arc2005_romance
{
	background-image: url(../icons/awards/arc2005_romance.jpg);
}

*.i_award_arc2006_romance
{
	background-image: url(../icons/awards/arc2006_romance.jpg);
}

*.i_award_arc2001_sci-fi
{
	background-image: url(../icons/awards/arc2001_sci-fi.jpg);
}

*.i_award_arc2002_sci-fi
{
	background-image: url(../icons/awards/arc2002_sci-fi.jpg);
}

*.i_award_arc2003_sci-fi
{
	background-image: url(../icons/awards/arc2003_sci-fi.jpg);
}

*.i_award_arc2004_sci-fi
{
	background-image: url(../icons/awards/arc2004_sci-fi.jpg);
}

*.i_award_arc2005_sci-fi
{
	background-image: url(../icons/awards/arc2005_sci-fi.jpg);
}

*.i_award_arc2006_sci-fi
{
	background-image: url(../icons/awards/arc2006_sci-fi.jpg);
}

*.i_award_arc2001_sports
{
	background-image: url(../icons/awards/arc2001_sports.jpg);
}

*.i_award_arc2003_sports
{
	background-image: url(../icons/awards/arc2003_sports.jpg);
}

*.i_award_arc2001_story
{
	background-image: url(../icons/awards/arc2001_story.jpg);
}

*.i_award_arc2002_story
{
	background-image: url(../icons/awards/arc2002_story.jpg);
}

*.i_award_arc2003_story
{
	background-image: url(../icons/awards/arc2003_story.jpg);
}

*.i_award_arc2004_story
{
	background-image: url(../icons/awards/arc2004_story.jpg);
}

*.i_award_arc2005_story
{
	background-image: url(../icons/awards/arc2005_story.jpg);
}

*.i_award_arc2006_story
{
	background-image: url(../icons/awards/arc2006_story.jpg);
}

*.i_award_arc2001_villain
{
	background-image: url(../icons/awards/arc2001_villain.jpg);
}

*.i_award_arc2002_villain
{
	background-image: url(../icons/awards/arc2002_villain.jpg);
}

*.i_award_arc2004_villain
{
	background-image: url(../icons/awards/arc2004_villain.jpg);
}

*.i_award_arc2005_villain
{
	background-image: url(../icons/awards/arc2005_villain.jpg);
}

*.i_award_arc2006_villain
{
	background-image: url(../icons/awards/arc2006_villain.jpg);
}