a.i_icon:hover, a.i_inline:hover
{
	text-decoration: none;
}

*.i_icon
{
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 15px;
	height: 13px;
	text-indent: -5000px;
	margin-left: 0;
	margin-right: 0;
}

*.i_enlarge {
	background-image: url(http://www.anidb.net/pics/enlarge.png);
	float: right;
	height: 11px;
	padding-top: 5px;
}

*.i_araward
{
	background-image: url(../icons/anidb_araward.gif);
}

*.i_censored
{
	background-image: url(../icons/icon/anidb_censored.gif);
}

*.i_comment
{
	background-image: url(../icons/icon/anidb_comment.gif);
}

*.i_crc_no
{
	background-image: url(../icons/icon/anidb_crc_no.gif);
}

*.i_crc_yes
{
	background-image: url(../icons/icon/anidb_crc_yes.gif);
}

*.i_file_add
{
	background-image: url(../icons/icon/anidb_file_add.gif);
}

*.i_file_addmylist
{
	background-image: url(../icons/icon/anidb_file_addmylist.gif);
}

*.i_file_delete
{
	background-image: url(../icons/icon/anidb_file_delete.gif);
}

*.i_file_ed2k
{
	background-image: url(../icons/icon/anidb_file_ed2k.gif);
}

*.i_file_edit
{
	background-image: url(../icons/icon/anidb_file_edit.gif);
}

*.i_file_removemylist
{
	background-image: url(../icons/icon/anidb_file_removemylist.gif);
}

*.i_filestate_corrupted
{
	background-image: url(../icons/state/anidb_filestate_corrupted.gif);
}

*.i_filestate_edited
{
	background-image: url(../icons/state/anidb_filestate_edited.gif);
}

*.i_filestate_ondvd
{
	background-image: url(../icons/state/anidb_filestate_ondvd.gif);
}

*.i_filestate_ontv
{
	background-image: url(../icons/state/anidb_filestate_ontv.gif);
}

*.i_filestate_onvhs
{
	background-image: url(../icons/state/anidb_filestate_onvhs.gif);
}

*.i_filestate_other
{
	background-image: url(../icons/state/anidb_filestate_other.gif);
}

*.i_filestate_selfripped
{
	background-image: url(../icons/state/anidb_filestate_selfripped.gif);
}

*.i_filestate_theater
{
	background-image: url(../icons/state/anidb_filestate_theater.gif);
}

*.i_greenbar
{
	background-image: url(../icons/anidb_greenbar.gif);
}

*.i_greenbarh
{
	background-image: url(../icons/anidb_greenbarh.gif);
}

*.i_hanger
{
	background-image: url(../icons/icon/anidb_hanger.gif);
}

*.i_mylist
{
	background-image: url(../icons/icon/anidb_mylist.gif);
}

/**.i_new2
{
	background-image: url(../icons/icon/anidb_new2.gif);
}*/

*.i_new_icon
{
	background-image: url(../icons/icon/anidb_new_icon.gif);
}

*.i_no_rev
{
	background-image: url(../icons/icon/anidb_no_rev.gif);
}

*.i_report_entry,
*.i_no_vote
{
	background-image: url(../icons/icon/anidb_no_vote.gif);
}

*.i_nonotify
{
	background-image: url(../icons/icon/anidb_nonotify.gif);
}

*.i_notify
{
	background-image: url(../icons/icon/anidb_notify.gif);
}

*.i_orangebar
{
	background-image: url(../icons/anidb_orangebar.gif);
}

*.i_pri_high
{
	background-image: url(../icons/icon/anidb_pri_high.gif);
}

*.i_pri_low
{
	background-image: url(../icons/icon/anidb_pri_low.gif);
}

*.i_pri_med
{
	background-image: url(../icons/icon/anidb_pri_med.gif);
}

*.i_rate_corrupted
{
	background-image: url(../icons/icon/anidb_rate_corrupted.gif);
}

*.i_rate_eyecancer
{
	background-image: url(../icons/icon/anidb_rate_eyecancer.gif);
}

*.i_rate_unknown
{
	background-image: url(../icons/icon/anidb_rate_unknown.gif);
}

*.i_recap
{
	background-image: url(../icons/icon/anidb_recap.gif);
}

*.i_rev
{
	background-image: url(../icons/icon/anidb_rev.gif);
}

*.i_seen
{
	background-image: url(../icons/icon/anidb_seen.gif);
}

*.i_seen_no
{
	background-image: url(../icons/icon/anidb_seen_no.gif);
}

*.i_seen_yes
{
	background-image: url(../icons/icon/anidb_seen_yes.gif);
}

*.i_state_all
{
	background-image: url(../icons/state/anidb_state_all.gif);
}

*.i_state_deleted
{
	background-image: url(../icons/state/anidb_state_deleted.gif);
}

*.i_state_mixed
{
	background-image: url(../icons/state/anidb_state_mixed.gif);
}

*.i_state_oncd
{
	background-image: url(../icons/state/anidb_state_oncd.gif);
}

*.i_state_onhdd
{
	background-image: url(../icons/state/anidb_state_onhdd.gif);
}

*.i_state_release
{
	background-image: url(../icons/state/anidb_state_release.gif);
}

*.i_state_shared
{
	background-image: url(../icons/state/anidb_state_shared.gif);
}

*.i_state_unknown
{
	background-image: url(../icons/state/anidb_state_unknown.gif);
}

*.i_uncensored
{
	background-image: url(../icons/icon/anidb_uncensored.gif);
}

*.i_vrs_1
{
	background-image: url(../icons/icon/anidb_vrs_1.gif);
}

*.i_vrs_2
{
	background-image: url(../icons/icon/anidb_vrs_2.gif);
}

*.i_vrs_3
{
	background-image: url(../icons/icon/anidb_vrs_3.gif);
}

*.i_vrs_4
{
	background-image: url(../icons/icon/anidb_vrs_4.gif);
}

*.i_vrs_5
{
	background-image: url(../icons/icon/anidb_vrs_5.gif);
}

*.i_ask
{
	background-image: url(../icons/ask.gif);
}

*.i_back
{
	background-image: url(../icons/back.gif);
}

*.i_logon
{
	background-image: url(../icons/button_logon.gif);
}

*.i_punkt
{
	background-image: url(../icons/button_punkt.gif);
}

*.i_search
{
	background-image: url(../icons/button_search.gif);
}

*.i_suchen
{
	background-image: url(../icons/button_suchen.gif);
}

*.i_down1
{
	background-image: url(../icons/down1.gif);
	width: 9px;
	height: 10px;
}

*.i_empty
{
	background-image: url(../icons/empty.gif);
}

*.i_invalid
{
	background-image: url(../icons/invalid.gif);
}

*.i_minus
{
	background-image: url(../icons/minus.gif);
}

*.i_na
{
	background-image: url(../icons/na.gif);
}

*.i_nodown1
{
	background-image: url(../icons/nodown1.gif);
	width: 9px;
	height: 10px;
}

*.i_none
{
	background-image: url(../icons/none.gif);
}

*.i_nopic
{
	background-image: url(../icons/nopic.gif);
}

*.i_noup1
{
	background-image: url(../icons/noup1.gif);
	width: 9px;
	height: 10px;
}

*.i_plus
{
	background-image: url(../icons/plus.gif);
}

*.i_up1
{
	background-image: url(../icons/up1.gif);
	width: 9px;
	height: 10px;
}

*.i_vrs_1
{
	background-image: url(../icons/icon/anidb_vrs_1.gif);
}

*.i_vrs_2
{
	background-image: url(../icons/icon/anidb_vrs_2.gif);
}

*.i_vrs_3
{
	background-image: url(../icons/icon/anidb_vrs_3.gif);
}

*.i_vrs_4
{
	background-image: url(../icons/icon/anidb_vrs_4.gif);
}

*.i_vrs_5
{
	background-image: url(../icons/icon/anidb_vrs_5.gif);
}

/* NEW ANIME PAGE */
*.i_crc_unv
{
	background-image: url(../icons/icon/anidb_crc_unv.gif);
}
*.i_sort
{
  width: 5px;
	background-image: url(../icons/sort.gif);
}

*.i_group_vote,
*.i_ep_vote
{
	background-image: url(../icons/anidb_vote.gif);
}

/**.i_group_revote,
*.i_ep_revote
{
	background-image: url(../icons/anidb_revote.gif);
}*/

span.i_videostream_unknown,
span.i_videostream_other__non_asp_,
span.i_videostream_asp_other,
span.i_videostream_mpeg_2,
span.i_videostream_mpeg_1,
span.i_videostream_realvideo_other,
span.i_videostream_wmv9__also_wmv3_,
span.i_videostream
{
	background-image: url(../icons/icon/anidb_videoStream.gif);
}

span.i_videostream_realvideo_9_10__also_rv40_,
span.i_videostream_realvideo_other 
{
  width: 20px;
	background-repeat: repeat-x;
	background-position: left;
	background-image: url(../icons/icon/anidb_videoStream_real.gif);
}

span.i_videostream_ms_mp4x__also_wmv1_2_,
span.i_videostream_wmv9__also_wmv3_
{
  width: 20px;
	background-repeat: repeat-x;
	background-position: left;
	background-image: url(../icons/icon/anidb_videoStream_wmv.gif);
}

span.i_videostream_divx__unk,
span.i_videostream_divx3,
span.i_videostream_divx4,
span.i_videostream_divx5__also_divx6_
{
  width: 20px;
	background-image: url(../icons/icon/anidb_videoStream_divx.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_videostream_xvid
{
  width: 20px;
	background-image: url(../icons/icon/anidb_videoStream_xvid.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_videostream_h264_avc
{
  width: 20px;
	background-image: url(../icons/icon/anidb_videoStream_h264.gif);
	background-repeat: repeat-x;
	background-position: left;
}

*.i_ftype_video
{
	background-image: url(../icons/icon/anidb_video.gif);
}

*.i_ftype_video2
{
	background-image: url(../icons/icon/anidb_video2.gif);
}

*.i_ftype_subtitle
{
	background-image: url(../icons/icon/anidb_subtitles.gif);
}

*.i_ftype_subtitle2
{
	background-image: url(../icons/icon/anidb_subtitles2.gif);
}

*.i_ftype_audio
{
	background-image: url(../icons/icon/anidb_audio.gif);
}

/**.i_ftype_other
{
	background-image: url(../icons/icon/anidb_other.gif);
}*/