#layout-search
{
	width: 150px;
	height: 53px;
	background-image: url(images/logo_small.gif);
	background-repeat: no-repeat;
}

#layout-nav
{
	height:6em;
}

#layout-main h1.main,
#layout-main div.main_all
{
	display:none;
}

#layout-nav div.main_search
{
	height: 110px;
	background-image: url(images/logo.gif);
	background-repeat: no-repeat;
	left:43%;
	margin-top: 5em;
	width:45em;
}

#layout-nav div.main_search div.search
{
	padding-top:1em;
	margin-left:-7em;
	margin-right:7em;
}

#layout-nav div.main_search div.search p
{
	margin-top: 10em;
}

#anidb div.main_nav
{
	height:25em;
}

#layout-nav div.main_search input.text
{
	font-size:1.2em;
	padding:3px;
}

#layout-nav div.main_search select
{
	font-size:1.2em;
	padding:2px;
}

#layout-nav div.main_search input.submit
{
	margin-top:0.2em;
}

#layout-menu > li:hover ul
{
	display:block;
}

#layout-menu > li ul {
	display:none;
	position:absolute;
}

#layout-menu span.tab
{
	display: block;
	position:relative;
}

#layout-menu > li {
	display:block;
	float:left;
	padding-left:0.7em;
	padding-right:0.7em;
	font-size: 1.2em;
}

#layout-menu ul li
{
	display:block;
}

#layout-menu > li ul
{
	background-color:#F5F5F5;
	padding:4px;
	z-index:5;
}

#layout-menu
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	z-index:5;
}

#layout-nav div.menu_hr
{
	margin-top: 2.5em;
	border-top: 1px solid #c9d7f1;
	display:block;
}

#layout-search
{
	margin-left:1em;
	width:60em;
	left:0;
	top:3em;
}

#layout-search div.search
{
	margin-left:16em;
	margin-top:1.3em;
}

#layout-search div.search form
{
	text-align: left;
}

#layout-search input.text,
#layout-search input.submit
{
	float:none;
}

#layout-nav input,
#layout-nav button
{
	padding-left:0;
}

#layout-search select
{
	font-size:1.1em;
	padding:4px 4px 3px;
}

#layout-search input.text
{
	width:200px;
	font-size:1.2em;
	padding:4px;
}

#layout-search input.submit
{
	width:100px;
}

#layout-nav div.search_main input.text,
#layout-nav div.search_main input.submit
{
	float:left;
}

#layout-nav div.search_main input,
#layout-nav div.search_main button
{
	padding-left:5em;
	width:20em;
}

#layout-main > h1
{
	padding:4px;
	text-align:left;
}

#layout-tabs
{
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	font-size:1.2em;
	margin-right:0.5em;
}

#layout-tabs ul li
{
	display: inline;
	padding: 4px 6px;
}

#layout-tabs ul
{
	text-align: right;
	margin-bottom:0.5em;
	margin-top:0.5em;
}
