#layout-nav
{
	display:block;
	height:6em;
}

#layout-menu
{
	display:block;
	left:0;
	position:absolute;
	top:0;
	z-index:5;
}

#layout-search
{
	background-image:url(images/logo_small.gif);
	background-repeat:no-repeat;
	display:block;
	height:53px;
	left:0;
	margin-left:1em;
	position:absolute;
	top:3em;
	width:60em;
}

#layout-search p,
#layout-search form
{
	margin:0;
	padding:0;
}

#layout-search select.type
{
	border:1px solid;
	float:right;
	margin:0;
	position:relative;
	width:5em;
}

#layout-search input.text
{
	border:1px solid;
	float:left;
	font-size:1.2em;
	margin:0;
	padding:4px;
	width:200px;
}

#layout-search input.submit
{
	float:right;
	font-size:1.2em;
	margin:0;
	text-transform:capitalize;
	width:100px;
}

#layout-main > h1
{
	background-color:#e5ecf9;
	border-top:1px solid blue;
	display:block;
	padding:4px;
	text-align:left;
	width:100%;
}

#layout-footer p
{
	margin-bottom:0;
}

#layout-footer:after
{
	content:"design by hrm & deridiot inspired by google";
}

#layout-main h1.main,
#layout-main div.main_all
{
	display:none;
}

#layout-nav div.main_search
{
	background-image:url(images/logo.gif);
	background-repeat:no-repeat;
	height:110px;
	left:43%;
	margin-top:5em;
	width:42em;
}

#layout-nav div.main_search div.search
{
	margin-left:-7em;
}

#layout-nav div.main_search div.search p
{
	margin-top:9em;
}

#anidb div.main_nav
{
	height:25em;
}

#layout-nav div.main_search input.text
{
	font-size:1.2em;
	padding:3px;
}

#layout-nav div.main_search select
{
	font-size:1.2em;
	padding:2px;
}

#layout-nav div.main_search input.submit
{
	float:left;
	margin-left:5em;
	margin-top:.2em;
	width:150px;
}

#layout-menu > li ul
{
	background-color:#FFF;
	border:1px solid #000;
	display:none;
	padding:0;
	position:absolute;
	z-index:5;
}

#layout-menu span.tab
{
	display:block;
	position:relative;
}

#layout-menu > li
{
	display:block;
	float:left;
	font-size:1.2em;
	padding-left:.7em;
	padding-right:.7em;
}

#layout-nav div.menu_hr
{
	border-top:1px solid #c9d7f1;
	display:block;
	margin-top:2.5em;
}

#layout-search div.search
{
	margin-left:16em;
	margin-top:1.3em;
}

#layout-search div.search form
{
	text-align:left;
}

#layout-search input.text,
#layout-search input.submit
{
	float:none;
}

#layout-nav input,
#layout-nav button
{
	padding-left:0;
}

#layout-search select
{
	font-size:1.1em;
	padding:4px 4px 3px;
}

#layout-nav div.search_main input.text,
#layout-nav div.search_main input.submit
{
	float:left;
}

#layout-nav div.search_main input,
#layout-nav div.search_main button
{
	padding-left:5em;
	width:20em;
}

#layout-tabs
{
	display:block;
	font-size:1.2em;
	margin-right:.5em;
	position:absolute;
	right:0;
	top:0;
}

#layout-tabs ul li
{
	display:inline;
	padding:4px 6px 3px;
}

#layout-tabs ul
{
	margin-bottom:.5em;
	margin-top:.5em;
	text-align:right;
}

#layout-menu li.sub-menu span
{
	padding-bottom:.5em;
	padding-top:.5em;
}

#layout-menu li.sub-menu ul li
{
	padding:2px 8px;
}

#layout-main ul.g_list li,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs li
{
	border:1px solid #E5ECF9;
	font-size:1.1em;
}

#layout-tabs ul.main-tabs > li
{
	border-bottom:none;
}

#layout-tabs ul.main-tabs > li.selected
{
	background-color:#FFF;
	border-bottom:2px solid #FFF;
}

#layout-nav div.main_search div.search form
{
	width:45em;
}

#layout-nav div.main_search div.search input.text
{
	width:300px;
}

#layout-nav div.main_search a.advsearch
{
	color:#00C;
	float:right;
	font-family:arial,sans-serif;
	margin-top:-2em;
	text-decoration:underline;
	text-transform:capitalize;
}

#layout-nav div.main_search input.random
{
	margin-left:.5em;
}

#layout-menu ul li,
#layout-menu > li:hover ul,
#layout-nav div.main_search a.advsearch,
#layout-nav div.main_search form.random
{
	display:block;
}

#layout-footer,
#layout-main div.tabbed_pane ul.tabs
{
	text-align:center;
}

#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.selected,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-menu li.sub-menu:hover,
#layout-menu li.sub-menu ul li:hover,
#layout-main table tr.header
{
	background-color:#E5ECF9;
}

#layout-content div.dbstats_all
{
	padding-left:9.6em;
	padding-right:8em;
}

#layout-main div.pagination span a
{
	background-color:#ECEDEE;
	border:1px solid #BABABA;
	border-color:#B4BAC0;
	color:#5C758C;
}

#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong
{
	background-color:#4692BF;
	border:1px solid #BFBFBF;
	border-color:#4692BF;
	color:#FFFFFF;
}

#layout-main #htmltagcloud
{
	background-color:#FAFAFA;
	border:1px solid #D1D7DC;
}

#layout-main div.g_timedentry h4
{
	padding:.3em;
}

#layout-content div.anime_info div.data table
{
	border-top:none;
}