@import "../base/icons-flags.css";
@import "../base/layout-jumplist.css";

@import "base.css";
@import "anidbstyle_images.css";
@import "suppy_layout.css";
@import "suppy-main.css";
@import "suppy-msg.css";
@import "suppy-anime.css";
@import "anidbstyle-animelist.css";
@import "anidbstyle-ep.css";
@import "suppy-dbstats.css";
@import "anidbstyle-genren.css";
@import "suppy-hint2.css";
@import "anidbstyle-latest.css";
@import "anidbstyle-latestanimes.css";
@import "anidbstyle-latestreviews.css";
@import "suppy-mynotifies.css";
@import "anidbstyle-myvotes.css";
@import "suppy-stats.css";

html
{
        background: white;
}

a:hover
{
  text-decoration: underline;
}
a.i_icon:hover, a.i_inline:hover, a.i_button:hover
{
	text-decoration: none;
}

table
{
	border: 0;
	border-collapse: separate;
}

tr.g_odd,
li.g_odd,
span.g_odd
{
	background-color: #e5ecf9;
}

/* Transitional Hacks */

*[bgcolor="#b0b0b0"], *[bgcolor="#969aa6"]
{
	background-color: #e5ecf9;
}

*[bgcolor="#494D59"]
{
	background-color: #3366cc;
	color: white;
}