@import "../sub/common.css";
@import "suppy_layout.css";
@import "suppy-main.css";
@import "suppy-msg.css";
@import "suppy-anime.css";
@import "suppy-dbstats.css";
@import "suppy-hint2.css";
@import "suppy-mynotifies.css";
@import "suppy-stats.css";

html
{
	background:white;
}

a:hover
{
	text-decoration:underline;
}

a.i_icon:hover,
a.i_inline:hover,
a.i_button:hover
{
	text-decoration:none;
}

table
{
	border:0;
	border-collapse:separate;
}

*[bgcolor="#494D59"]
{
	background-color:#3366cc;
	color:white;
}

tr.g_odd,li.g_odd,span.g_odd,
*[bgcolor="#b0b0b0"],
*[bgcolor="#969aa6"]
{
	background-color:#e5ecf9;
}