#layout-content div.image
{
	clear:none;
	float:right;
}

#layout-content div.data
{
	display:table;
	padding-left:7px;
	vertical-align:middle;
	width:auto;
}

#layout-content div.anime_info div.data dt
{
	margin-bottom:-1.2em;
	margin-right:10em;
	margin-top:.36em;
}

#layout-content div.anime_info div.data dt:after
{
	content:": ";
}

#layout-content div.anime_info div.data dd
{
	margin-left:10em;
	min-height:1.3em;
	overflow:hidden;
}

#layout-content div.anime_info div.data dd.anirec
{
	overflow:visible;
}

#layout-content div.anime_info div.data dd.anirec a.i_help
{
	padding:7px 8px 7px 12px;
}

#layout-content .anime_vote:before
{
	background-color:#e5ecf9;
	border-top:1px solid blue;
	content:"Vote";
	display:block;
	width:auto;
}

#layout-content .anime_vote
{
	clear:both;
	display:block;
	margin-bottom:5em;
	margin-top:2em;
}

#layout-content div.anime_vote form
{
	margin-bottom:.5em;
}

#layout-content div.anime_vote form *
{
	margin:0;
}

#layout-content div.anime_vote form label
{
	display:block;
}

#layout-content div.anime_vote form.permvote
{
	margin:1.1em 0;
}

#layout-content div.anime_vote form.tempvote
{
	float:left;
	margin:1.1em .6em 1.1em 0;
	width:50%;
}

#layout-content div.anime_vote form.tempvote div
{
	float:right;
	padding-right:6px;
}

#layout-content div.anime_group,
#layout-content div.anime_mylist
{
	display:block;
	margin-bottom:5em;
	margin-top:2em;
}

#layout-content div.anime_group table,
#layout-content div.anime_mylist table
{
	margin-left:auto;
	margin-right:auto;
}

#layout-content div.anime_mylist th,
#layout-content div.anime_group th
{
	background-color:#e5ecf9;
	border-top:1px solid blue;
	font-weight:normal;
}

#layout-content div.anime_mylist th.heading,
#layout-content div.anime_group th.info
{
	font-weight:bold;
	padding:.1em .9em;
}

#layout-content div.anime_mylist th.anime
{
	text-align:left;
	width:30em;
}

#layout-content div.anime_mylist td.eps,
#layout-content div.anime_mylist td.seen
{
	padding:.1em .9em;
	text-align:center;
}

#layout-content div.anime_group td.state.complete,
#layout-content div.anime_group td.state.finished
{
	font-weight:bold;
}

#layout-content div.anime_group td.state.stalled
{
	font-style:italic;
}

#layout-content div.anime_table table
{
	width:100%;
}

#layout-content div.anime_table th
{
	font-weight:normal;
	text-align:left;
}

#layout-content div.anime_table td
{
	height:1.6em;
	padding:.1em;
	vertical-align:middle;
}

#layout-content div.anime_table table.eplist
{
	margin-bottom:15px;
	padding:0;
}

#layout-content div.anime_table table.filelist
{
	padding:2px 3px 15px 57px;
}

#layout-content div.anime_table tr.heading th
{
	border-bottom:blue 1px solid;
	padding:4px 1px 7px;
}

#layout-content div.anime_table tr.good td
{
	background-color:#6fc279;
}

#layout-content div.anime_table tr.deprecated td
{
	background-color:#999999;
}

#layout-content div.anime_table tr.generic td
{
	background-color:#eeeeee;
}

#layout-content div.anime_table td.stat .i_icon
{
	float:left;
}

#layout-content div.anime_table td.stat .i_crc_yes
{
	margin-left:3px;
}

#layout-content div.anime_table td.qual .i_icon
{
	margin-left:0;
}

#layout-content div.anime_table td.title div
{
	float:right;
}

#layout-content div.anime_table .icons .i_icon
{
	float:left;
	padding:0 2px;
}

#layout-content div.anime_table div.actions
{
	margin:auto;
	text-align:center;
}

#layout-content div.anime_edit div
{
	margin-top:1.2em;
	padding-left:19%;
	padding-right:19%;
}

#layout-content div.anime_group th.group,
#layout-content div.anime_group td.group,
#layout-content div.anime_group td.lastupdate
{
	text-align:left;
}

#layout-content div.anime_group td,
#layout-content div.anime_table th.expand,
#layout-content div.anime_table td.expand,
#layout-content div.anime_table td.check,
#layout-content div.anime_table td.ed2k,
#layout-content div.anime_table td.fileaction,
#layout-content div.anime_edit
{
	text-align:center;
}

#layout-content div.anime_group td.lastep,
#layout-content div.anime_group td.cmts,
#layout-content div.anime_table td.epusers,
#layout-content div.anime_table td.files
{
	text-align:right;
}