#layout-content div.mynotifies_all
{
	text-align: center;
}

#layout-content div.mynotifies_all label
{
	display: block;
}

#layout-content div.mynotifies_all table
{
	margin-left: auto;
	margin-right: auto;
}
