#layout-content div.hint2_note
{
	text-align:center;
}

#layout-content div.hint2_hinter
{
	padding-left:.5em;
	padding-right:.5em;
	text-align:center;
}

#layout-content div.hint2_jscontrols
{
	float:right;
	padding:0 0 .5em;
}

#layout-content div.hint2_results
{
	clear:both;
}

#layout-content div.hint2_jscontrols h4
{
	background-color:#e5ecf9;
	border-top:1px solid blue;
	color:#000000;
	font-weight:normal;
	margin:0;
}

#layout-content div.hint2_jscontrols ul,
#layout-content div.hint2_jscontrols li
{
	list-style:none;
	margin:0;
	padding:0;
}

#layout-content div.hint2_hinter.jason form
{
	margin-right:12em;
}

#layout-content div.hint2_hinter *.g_note
{
	display:block;
}

#layout-content div.hint2_hinter h2
{
	font-size:160%;
	margin:.5em 0 0;
}

#layout-content div.hint2_hinter li
{
	text-align:left;
}

#layout-content div.hint2_hinter label
{
	line-height:300%;
	padding:0 .3em 0 .2em;
	white-space:nowrap;
}

#layout-content div.hint2_hinter #Filter
{
	padding-bottom:2em;
}

#layout-content div.hint2_hinter div.genre
{
	display:table;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:.5em;
}

#layout-content div.hint2_hinter div.genre label
{
	display:table-cell;
}

#layout-content div.hint2_hinter ol
{
	background:white;
	border:2px inset white;
	height:8em;
	list-style:none;
	margin:0;
	overflow:auto;
	padding:.8em;
	width:20em;
}

#layout-content div.hint2_hinter ol li
{
	list-style:none;
}

#layout-content div.hint2_hinter ol li input
{
	margin:.3em .3em 0 0;
}

#layout-content div.hint2_hinter label input
{
	width:4em;
}

#layout-content div.hint2_hinter select input
{
	width:auto;
}

#layout-content div.hint2_hinter div.collapse *,
#layout-content div.hint2_hinter.nonote *.g_note,
#layout-content div.hint2_hinter div.collapse div.genre
{
	display:none;
}