#layout-content
{
	padding-left:1em;
	padding-right:1em;
}

.rightbar
{
	float:right;
	position:relative;
	top:-4em;
}

#layout-content div.main_all h4:first-letter
{
	text-transform:capitalize;
}

#layout-content div.main_all h4,
#layout-content div.main_edit h4
{
	color:blue;
	font-size:1.6em;
	font-weight:bold;
	margin:0;
}

#layout-content div.main_all div.rightbar
{
	clear:right;
	float:right;
	text-align:center;
	top:0;
	width:16em;
}

#layout-content div.main_all div.rightbar p
{
	margin:1.2em 0 0;
}

#layout-content div.main_all div.rightbar h3
{
	font-size:100%;
	margin:1.5em 0 .4em;
}

#layout-content div.main_all div.rightbar ol
{
	margin:0 0 .4em;
	padding:0;
}

#layout-content div.main_all div.rightbar li
{
	list-style:none;
	text-align:left;
}

#layout-content div.main_all div.rightbar li span
{
	display:block;
	float:left;
	height:100%;
	text-align:center;
	width:4em;
}

#layout-content div.main_all div.rightbar li a
{
	display:block;
	margin-left:4em;
}

#layout-content div.main_all div.news
{
	margin:.3em 17em .3em .3em;
}

#layout-content div.main_all div.news h4
{
	padding:.1em;
}

#layout-content div.main_all div.news span.stamp:before
{
	content:"-------------------------------------------- ";
}

#layout-content div.main_all div.news span.stamp
{
	display:block;
	padding:.1em 1em .1em .1em;
	text-align:right;
}

#layout-content div.main_all div.news div
{
	margin:.1em .1em 3.1em;
}

#layout-content div.main_edit
{
	padding-left:5%;
	padding-right:5%;
	text-align:center;
}

#layout-content div.main_edit label
{
	display:block;
	margin:auto;
	padding:.6em;
	text-align:left;
	vertical-align:top;
}

#layout-content div.main_edit label *
{
	display:block;
	margin-left:4em;
	margin-top:-1em;
}

#layout-content div.main_edit textarea
{
	height:30em;
	width:90%;
}