@import "../sub/common.css";
@import "../sub/silver/forum-color.css";
@import "suppy_layout.css";
@import "suppy-main.css";
@import "suppy-msg.css";
@import "suppy-anime.css";
@import "suppy-dbstats.css";
@import "suppy-hint2.css";
@import "suppy-mynotifies.css";
@import "suppy-stats.css";
@import "suppy-new.css";

html
{
	background:white;
}

a:hover
{
	text-decoration:underline;
}

a.i_icon:hover,
a.i_inline:hover,
a.i_button:hover
{
	text-decoration:none;
}

table
{
	border:0;
	border-collapse:separate;
}

tr.g_odd,
li.g_odd,
span.g_odd,
{
	background-color:#e5ecf9;
}