div#searchBar input#searchBox {
  font-size: 10px;
  font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #272D43;
  border: #BFC2C9 1px solid;
  margin-top: 3px;
  margin-right: 3px;
}

div#searchBar input#searchButtonImage {
  background-image: url(images/button_search.gif);
  background-repeat: no-repeat;
  width: 63px;
  height: 14px;
  margin-right: 17px;
  border: none;
}

div#searchBar input#searchButtonSubmit {
  display: none;
}