/* Defaults for structural divs */

div#supercontainer {
  width: 100%;
}

div#container {
  margin: 0px;
  padding: 0px;
}

div#container h1 {
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 11px;
}

div#banner {
  background-image: url(images/banner_padding.gif);
  background-color: #969AA6;
  width: 100%;
}

div#banner-a {
  color: #4B4F41;
  font-size: 40px;
  display: none;
}

div#banner-b {
  background-image: url(images/banner.jpg);
  width: 859px;
  height: 92px;
}

div#content-b {
  height: 200px;
}

div#content-b-a {
  background-image: url(images/pagetitle_left.gif);
  background-repeat: no-repeat;
  height: 42px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

div#content-b-f {
  background-image: url(images/search_background.gif);
  background-position: top right;
  position: absolute;
  right: 0px;
  top: 92px;
  height: 42px;
  width: 141px;
  text-align: right;
  margin: 0px;
  padding: 0px;
}

div#content-b-h {
  background-image: url(images/pagetitle_background.gif);
  background-repeat: repeat-x;
  position: absolute;
  top: 92px;
  left: 187px;
  right: 141px;
  height: 42px;
  padding-left: 32px;
  vertical-align: middle;
}

div#content-b-b {
  background-image: url(images/navmenu.jpg);
  float: left;  
  margin-left: 0px;
  padding: 0px;
  width: 170px;
  height: 564px;
}

div#navmenu {
  padding-left: 29px;
  padding-top: 15px;
}

div#content-b-d {
  position: absolute;
  left: 5px;
  top: 520px;
  margin: 0px;
  padding: 0px;
  width: 110px;
  color: white;
  text-align: center;
}

div#content-b-k {
  display: none;
  margin-left: 182px;
}

div#content-b-l {
  padding-left: 190px;
  right: 0px;
}

div#footer {
  position: absolute;
  top: 700px;
  left: 10px;
  width: 160px;
  text-align: center;
}

div.visibleSidebar div#content-b div#content-b-j {
  float: right;
  width: 130px;
}