#layout-search ul.acdropdown {
	margin:0; padding:0;
	overflow:auto;
	border:1px solid #85878c;
	font-family:Verdana, sans-serif; font-size:0.8em;
	list-style-type:none;
}
	#layout-search ul.acdropdown li {
		margin:0px; padding:2px;
		cursor:default;
	}
