.g_bubble.stripe
{
	display: inline-block;
	width: 400px;
	text-align: left;
	position: relative;
	vertical-align: top;
	margin-bottom: 0.3em;
	min-height:75px;
}

.g_bubble.stripe > div.image
{
	margin: 0.5em;
	width: 5em;
	height: 5.5em;
	overflow: hidden;
	float: left;
}

.g_bubble.stripe > div.image div.tooltip
{
	display: none;
}

.g_bubble.stripe > div.image:hover div.tooltip
{
	display: block;
	width: 400px;
	text-align: left;
	z-index: 10;
	position: absolute;
	margin: 2em 0 0 3em;
}

.g_bubble.stripe > div.image div.tooltip div.comments div.content
{
	padding: 0 4px 4px;
	word-wrap: break-word;
}

.g_bubble.stripe > div.image div.tooltip div.comments div.postbody + div.postbody
{
	margin-top: 0.5em;
}

.g_bubble
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style:solid;
	border-width:1px;
}

.g_bubble.stripe > div.data
{
	margin: 0.5em 0.5em 0.5em 6em
}

.g_bubble.stripe > div.data div + div
{
	margin-top:0.2em;
}

.g_bubble.stripe > div.data div.name
{
	margin-bottom: 0.5em;
	margin-right: 5em;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.g_bubble.stripe > div.data div.actions.icons
{
	float: right;
}

.g_bubble.stripe > div.data div.text
{
	word-wrap: break-word;
	overflow-y:auto;
	max-height:7em;
}

.g_bubble.box
{
	display: inline-block;
	width: 300px;
	text-align: left;
	vertical-align: top;
	height:375px;
	margin-bottom:1em;
	margin-right:0.5em;
	overflow:hidden;
	word-wrap: break-word;
}

.g_bubble.box > div.image
{
	margin:0 0.5em 0.5em;
	float: left;
	max-height:180px;
	width:150px;
	overflow:hidden;
}

.g_bubble.box > div.top
{
	padding: 0.5em 0.5em 0 0.5em;
}

.g_bubble.box > div.data
{
	margin: 0.2em 0.5em 0.5em;
}

.g_bubble.box > div.data div + div
{
	margin-top:0.2em;
}

.g_bubble.box > div.top div.name
{
	margin-bottom: 0.5em;
	margin-right: 7em;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.g_bubble.box > div.top div.actions.icons
{
	float: right;
	margin-top:-0.2em;
}

.g_bubble.box > div.data div.desc
{
	clear:left;
}

.g_bubble.stripe.mini
{
	width:200px;
}

.g_bubble.stripe.mini > div.data
{
	width:135px;
}

.g_bubble.stripe.mini > div.data div.name 
{
	margin-right: 0;
}

.g_bubble.stripe.small
{
	width:250px;
}

.g_bubble.stripe.small > div.data
{
	width:185px;
}

.g_bubble.stripe.small > div.data div.name 
{
	margin-right: 2em;
}

.g_bubble.stripe.medium > div.image:hover div.tooltip,
.g_bubble.stripe.medium
{
	width:300px;
}

.g_bubble.stripe.medium > div.data
{
	width:235px;
}

.g_bubble.stripe.max > div.data div.name,
.g_bubble.stripe.medium > div.data div.name
{
	margin-right: 2em;
}

.g_bubble.stripe.max
{
	width:98%;
}

.g_bubble.stripe.max > div.data
{
	width: auto;
}

.g_bubble.stripe.medium div.data div.eprange,
.g_bubble.stripe.max > div.image:hover div.tooltip
{
	display:none;
}

.g_bubble.stripe.medium
{
	min-height:90px;
}

.g_bubble.stripe.recommendation
{
    height: 125px;
}

.g_bubble.stripe.recommendation > div.data div.text
{
    max-height: 100px;
}
