#layout-main ul.g_list
{
	clear: both;
	margin: 1em;
	text-align: center;	
}

#layout-main ul.g_list li
{
	display: inline;
}

#layout-main ul.g_list li.prev
{
	float: left;
}

#layout-main ul.g_list li.next
{
	float: right;
}