#layout-main ul.g_list
{
	clear: both;
	text-align: center;
	min-height: 1.4em;
}

#layout-main ul.g_list.nav
{
	text-align: left;	
}


#layout-main ul.g_list li
{
	display: inline;
}

#layout-main ul.g_list li.prev
{
	float: left;
}

#layout-main ul.g_list li.next
{
	float: right;
}

#layout-main .latest_all .g_list.filter li
{
	display: block;
}

#layout-main ul.jump
{
	margin-top: 1em;
}