#layout-main ul.g_list
{
	clear: both;
	text-align: center;
	min-height: 1.4em;
}

#layout-main ul.g_list.nav
{
	text-align: left;	
}

#layout-main ul.g_list li
{
	display: inline;
}

#layout-main ul.g_list li.prev
{
	text-align: left;
}

#layout-main ul.g_list li.next
{
	text-align: right;
}

#layout-main ul.jump
{
	margin-top: 1em;
}