#layout-main div.g_menu
{
	float: right;
	margin-bottom: 1em;
}

#layout-main div.g_menu ul
{
	margin-top: 2px;
}

#layout-main div.g_menu ul li
{
	padding: 1px 6px 1px 6px;
}

#layout-main div.g_menu ul.state
{
	height: 15px;
	padding-top: 2px;
	padding-bottom: 1px;
}

#layout-main div.g_menu ul.state li
{
	float: left;
	padding: 0px 2px 0px 1px;
}

#layout-main div.g_menu ul.state + ul
{
	clear: left;
}

#layout-main div.g_menu.filter_menu
{
	width: 16.2em;
	margin-left:1em;
}

#layout-main div.g_menu.filter_menu div.wishlistfilters,
#layout-main div.g_menu.filter_menu div.filestatefilters
{
	margin-top:1em;
}

#layout-main div.g_menu.filter_menu div.filters ul li,
#layout-main div.g_menu.filter_menu div.filestatefilters ul li,
#layout-main div.g_menu.filter_menu div.wishlistfilters ul li
{
    padding:5px;
}

#layout-main div.g_menu.filter_menu label,
#layout-main div.g_menu.filter_menu span.options
{
    display:block;
    text-align:left;
}

#layout-main div.g_menu.filter_menu div.user span.user
{
    float: none;
    margin-top: 2px;
    height: 14px;
    display:block;
}

#layout-main div.g_menu.filter_menu p
{
    margin-top: 0.2em;
}

#layout-nav div.menu_hr,
#layout-search a.advsearch,
#layout-search form.random
{
	display:none;
}

#layout-main div.g_menu.filter_menu div.settings select
{
	width:100%;
}

#layout-main div.g_menu.filter_menu div.settings div.inner
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#layout-main div.g_menu.filter_menu div.settings input[type="text"]
{
	width: 10.5em;
}

#layout-main div.g_menu.filter_menu div.settings span
{
	display: block;
	margin-top: 0.3em;
	text-align:center;
}

/** Thingie to hide/show g_menu's */
div.g_mcontainer {
	width: auto;
	min-width: 16px;
	min-height: 16px;
}

div.g_mcontainer.expanded { 
	background: transparent url(../icons/formating/icon_contract.gif) top right no-repeat;
}

div.g_mcontainer.collapsed { 
	background: transparent url(../icons/formating/icon_expand.gif) top right no-repeat;
}
