#layout-main div.g_timedentry 
{
	margin-bottom: 2em;
}

#layout-main div.g_timedentry
{
	min-height: 174px;
	/*IE*/
	height: auto !important;
	height: 174px;
}

#layout-main div.g_timedentry h4
{
	padding: 0.1em;
	margin: 0px;
	text-align: left;
}

#layout-main div.g_timedentry div.avatar
{
	float: right;
	margin: 10px;
}

#layout-main div.g_timedentry div.body
{
	padding: 0.2em;
	text-align: left;
	min-height:174px;
}

#layout-main div.g_timedentry span.stamp
{
	display: block;
	text-align: right;
	padding-right: 0.5em;
}

#layout-main div.g_timedentry span.stamp span.icons.user
{	
	float: right;
	margin-top: -1.5em;
}

#layout-main div.g_timedentry ol,
#layout-main div.g_timedentry ul,
#layout-main div.cmt_add div.preview-box ol,
#layout-main div.cmt_add div.preview-box ul

{
	list-style-type:disc;
	margin-top:0.5em;
	padding-left:4em;
}

#layout-main div.g_timedentry ol li + br,
#layout-main div.g_timedentry ul li + br
{
	display:none
}

#layout-main div.g_timedentry ol
{
	list-style-type:decimal;
	padding-left:2.5em;
}