#layout-main div.g_timedentry 
{
	margin-bottom: 2em;
}

#layout-main div.g_timedentry
{
	min-height: 174px;
	/*IE*/
	height: auto !important;
	height: 174px;
}

#layout-main div.g_timedentry h4
{
	padding: 0.1em;
	margin: 0;
	text-align: left;
}

#layout-main div.g_timedentry div.avatar
{
	float: right;
	margin: 10px;
}

#layout-main div.g_timedentry div.body
{
	padding: 0.2em;
	text-align: left;
}

#layout-main div.g_timedentry span.stamp
{
	display: block;
	text-align: right;
	padding-right: 0.5em;
}

#layout-main div.g_timedentry span.stamp span.icons.user
{	
	float: right;
	margin-top: -1.5em;
}

#layout-main div.cmt_entries div.comment
{
	text-align:left;
	min-height:0pt;
	margin-bottom:1em;
}

#layout-main div.cmt_entries dl.profile
{
	border-right:1px solid #FFFFFF;
	display:inline;
	float:left;
	margin:0pt 8px 8pt 8pt;
	min-height:80px;
	width:18%;
}

#layout-main div.cmt_entries dl.profile dd
{
	clear:none;
	float:none;
	margin-left:0em;
	color:#666666;
}

#layout-main div.cmt_entries dl.profile dd.user
{
	padding-top:4px;
}

#layout-main div.cmt_entries dl.profile dd strong
{
	color:#000000;
}

#layout-main div.cmt_entries dl.profile dd.user_icons span.icons
{
	float: none;
}

#layout-main div.cmt_entries div.postbody p.author
{
	margin:0pt 15em 0.6em 0pt;
	padding:2pt 0pt 5px;
}

#layout-main div.cmt_entries div.postbody span.actions a
{
	float:right;
	margin-top: 4px;
}

#layout-main div.cmt_entries div.postbody
{
	float:right;
	width: 80%;
}

#layout-main div.cmt_entries div.postfooter
{
	clear:both;
	height:11px;
	text-align:right;
	padding-bottom:0.9em;
}

#layout-main div.cmt_entries div.postfooter a.i_top
{
	display:block;
	float:right;
}

#layout-main div.cmt_entries a.username-colored
{
	color:#AA0000;
	font-weight:bold;
}