#obj-tooltip
{
	width: 16em;
}
#obj-tooltip div.releaseinfotooltip ul li
{
	padding: 2px;
}
#obj-tooltip div.releaseinfotooltip ul li span.icons
{
	float: right;
}
#obj-tooltip div.releaseinfotooltip ul li span.icons .i_icon
{
	float: left;
}

/*Bubble Tooltip*/
#tooltip span
{
	display:none;
}

a:hover #tooltip
{
	display:block;
	padding:15px 0 0;
	text-align:center;
	width:200px;
}

a:hover #tooltip span.top
{
	display:block;
	padding:30px 8px 0;
}

a:hover #tooltip span.middle
{
	display:block;
	padding:0 8px;
}

a:hover #tooltip span.bottom
{
	display:block;
	padding:3px 8px 10px;
}