#obj-tooltip
{
	width: 16em;
}
#obj-tooltip div.releaseinfotooltip ul li
{
	padding: 2px;
}
#obj-tooltip div.releaseinfotooltip ul li span.icons
{
	float: right;
}
#obj-tooltip div.releaseinfotooltip ul li span.icons .i_icon
{
	float: left;
}

/*Bubble Tooltip*/
#tooltip span
{
	display:none;
}

span.cat span.name:hover #tooltip,
a:hover #tooltip
{
	display: block;
	line-height: normal;
	padding: 0;
	margin: 7px 0em 0em -7em;
	position: absolute;
	text-align: center;
	white-space: normal;
	width: 250px;
	z-index: 5;
}

span.cat span.name:hover #tooltip span.top,
a:hover #tooltip span.top
{
	display:block;
	padding:30px 8px 0;
}

span.cat span.name:hover #tooltip span.middle,
a:hover #tooltip span.middle
{
	display:block;
	padding:0 8px;
}

span.cat span.name:hover #tooltip span.bottom,
a:hover #tooltip span.bottom
{
	display:block;
	padding:3px 8px 10px;
}