#obj-tooltip
{
	width: 16em;
}
#obj-tooltip div.releaseinfotooltip ul li
{
	padding: 2px;
}
#obj-tooltip div.releaseinfotooltip ul li span.icons
{
	float: right;
}
#obj-tooltip div.releaseinfotooltip ul li span.icons .i_icon
{
	float: left;
}

/*Bubble Tooltip*/
a.tooltip span.text
{
	z-index:10;
	display:none;
	padding: 14px 20px;
	margin-top:50px;
	margin-left:-160px;
	width:240px;
	line-height:16px;
	position: relative;
}

a.tooltip:hover span.text
{
	display:inline;
	position:absolute;
}

a.tooltip span.text:after,
a.tooltip span.text:before
{
	bottom: 100%;
	height: 0;
	width: 0;
	position: absolute;
	left: 50%;
	content: " ";
	pointer-events: none;
}

a.tooltip span.text:after
{
	margin-left: -10px;
}
a.tooltip span.text:before
{
	margin-left: -13px;
}