a.i_icon:hover, a.i_inline:hover
{
	text-decoration: none;
}

*.i_icon
{
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 15px;
	height: 13px;
	text-indent: -5000px;
	margin-left: 0;
	margin-right: 0;
}

/**.i_icon span, *.i_button span, *.i_inline span
{
	display: none;
}*/

*.i_araward
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/anidb_araward.gif);
}

*.i_censored
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_censored.gif);
}

*.i_comment
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_comment.gif);
}

*.i_crc_no
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_crc_no.gif);
}

*.i_crc_yes
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_crc_yes.gif);
}

*.i_file_add
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_add.gif);
}

*.i_file_addmylist
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_addmylist.gif);
}

*.i_file_delete
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_delete.gif);
}

*.i_file_ed2k
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_ed2k.gif);
}

*.i_file_edit
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_edit.gif);
}

*.i_file_removemylist
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_removemylist.gif);
}

*.i_filestate_corrupted
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_corrupted.gif);
}

*.i_filestate_edited
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_edited.gif);
}

*.i_filestate_ondvd
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_ondvd.gif);
}

*.i_filestate_ontv
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_ontv.gif);
}

*.i_filestate_onvhs
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_onvhs.gif);
}

*.i_filestate_other
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_other.gif);
}

*.i_filestate_selfripped
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_selfripped.gif);
}

*.i_filestate_theater
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_theater.gif);
}

*.i_greenbar
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/anidb_greenbar.gif);
}

*.i_greenbarh
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/anidb_greenbarh.gif);
}

*.i_hanger
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_hanger.gif);
}

*.i_mylist
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_mylist.gif);
}

*.i_new2
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_new2.gif);
}

*.i_new_icon
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_new_icon.gif);
}

*.i_no_rev
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_no_rev.gif);
}

*.i_report_entry,
*.i_no_vote
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_no_vote.gif);
}

*.i_nonotify
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_nonotify.gif);
}

*.i_notify
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_notify.gif);
}

*.i_orangebar
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/anidb_orangebar.gif);
}

*.i_pri_high
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_pri_high.gif);
}

*.i_pri_low
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_pri_low.gif);
}

*.i_pri_med
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_pri_med.gif);
}

*.i_rate_corrupted
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_corrupted.gif);
}

*.i_rate_eyecancer
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_eyecancer.gif);
}

*.i_rate_unknown
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_unknown.gif);
}

*.i_recap
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_recap.gif);
}

*.i_rev
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rev.gif);
}

*.i_seen
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_seen.gif);
}

*.i_seen_no
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_seen_no.gif);
}

*.i_seen_yes
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_seen_yes.gif);
}

*.i_state_all
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_all.gif);
}

*.i_state_deleted
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_deleted.gif);
}

*.i_state_mixed
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_mixed.gif);
}

*.i_state_oncd
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_oncd.gif);
}

*.i_state_onhdd
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_onhdd.gif);
}

*.i_state_release
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_release.gif);
}

*.i_state_shared
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_shared.gif);
}

*.i_state_unknown
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_unknown.gif);
}

*.i_uncensored
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_uncensored.gif);
}

*.i_vrs_1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_1.gif);
}

*.i_vrs_2
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_2.gif);
}

*.i_vrs_3
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_3.gif);
}

*.i_vrs_4
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_4.gif);
}

*.i_vrs_5
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_5.gif);
}

*.i_ask
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/ask.gif);
}

*.i_back
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/back.gif);
}

*.i_logon
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_logon.gif);
}

/*
*.i_logout
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_logout.gif);
}

*.i_profile
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_profile.gif);
}*/

*.i_punkt
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_punkt.gif);
}

*.i_search
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_search.gif);
}

/**.i_signup
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_signup.gif);
}*/

*.i_suchen
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_suchen.gif);
}

*.i_down1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/down1.gif);
	width: 9px;
	height: 10px;
}

*.i_empty
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/empty.gif);
}

*.i_invalid
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/invalid.gif);
}

*.i_minus
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/minus.gif);
}

*.i_na
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/na.gif);
}

*.i_nodown1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/nodown1.gif);
	width: 9px;
	height: 10px;
}

*.i_none
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/none.gif);
}

*.i_nopic
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/nopic.gif);
}

*.i_noup1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/noup1.gif);
	width: 9px;
	height: 10px;
}

*.i_plus
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/plus.gif);
}

*.i_up1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/up1.gif);
	width: 9px;
	height: 10px;
}

*.i_vrs_1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_1.gif);
}

*.i_vrs_2
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_2.gif);
}

*.i_vrs_3
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_3.gif);
}

*.i_vrs_4
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_4.gif);
}

*.i_vrs_5
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_5.gif);
}

/* NEW ANIME PAGE */
*.i_gstatus_complete { background-image: url(../icon/anidb_gstatus_complete.gif); }
*.i_gstatus_finished { background-image: url(../icon/anidb_gstatus_finished.gif); }
*.i_gstatus_ongoing { background-image: url(../icon/anidb_gstatus_ongoing.gif); }
*.i_gstatus_stalled { background-image: url(../icon/anidb_gstatus_stalled.gif); }
*.i_gstatus_dropped { background-image: url(../icon/anidb_gstatus_dropped.gif); }
*.i_gstatus_all { background-image: url(../icon/state_all.gif); }
*.i_mark_dropped { background-image: url(../icon/anidb_mark_dropped.gif); }
*.i_mark_ongoing { background-image: url(../icon/anidb_mark_ongoing.gif); }

*.i_group_vote,
*.i_ep_vote
{
	background-image: url(../icon/anidb_vote.gif);
}

*.i_group_revote,
*.i_ep_revote
{
	background-image: url(../icon/anidb_revote.gif);
}

*.i_videoStream
{
	background-image: url(../icon/anidb_videoStream.gif);
}

*.i_ftype_video
{
	background-image: url(../icon/anidb_video.gif);
}

*.i_ftype_video2
{
	background-image: url(../icon/anidb_video2.gif);
}

*.i_ftype_subtitle
{
	background-image: url(../icon/anidb_subtitles.gif);
}

*.i_ftype_subtitle2
{
	background-image: url(../icon/anidb_subtitles2.gif);
}

*.i_ftype_audio
{
	background-image: url(../icon/anidb_audio.gif);
}

*.i_ftype_other
{
	background-image: url(../icon/anidb_other.gif);
}

span.i_file2ep_rel
{
	background-image: url(../icon/anidb_file2ep.gif);
}

span.i_file2file_rel
{
	background-image: url(../icon/anidb_file2file.gif);
}

span.i_file2ep_rel2
{
    width: 20px;
    padding-left: 1px;
    padding-right: 1px;
	background-image: url(../icon/anidb_file2ep2.gif);
}

span.i_file2file_rel2
{
    width: 20px;
    padding-left: 1px;
    padding-right: 1px;
	background-image: url(../icon/anidb_file2file2.gif);
}

span.i_rate_veryhigh
{
	width: 43px;
	background-image: url(../icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_rate_high
{
	width: 36px;
	background-image: url(../icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_rate_med
{
	width: 30px;
	background-image: url(../icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_rate_low
{
	width: 22px;
	background-image: url(../icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_rate_verylow
{
	width: 15px;
	background-image: url(../icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}
*.i_audio_arabic
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_arabic.gif);
}

*.i_audio_brazilian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_brasilian.gif);
}

*.i_audio_bulgarian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_bulgarian.gif);
}

*.i_audio_cantonese
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_cantonese.gif);
}

*.i_audio_catalan
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_catalan.gif);
}

*.i_audio_chinese
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_chinese.gif);
}

*.i_audio_czech
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_czech.gif);
}

*.i_audio_danish
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_danish.gif);
}

*.i_audio_dutch
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_dutch.gif);
}

*.i_audio_english
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_english.gif);
}

*.i_audio_finnish
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_finnish.gif);
}

*.i_audio_french
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_french.gif);
}

*.i_audio_georgian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_georgian.gif);
}

*.i_audio_german
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_german.gif);
}

*.i_audio_greek
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_greek.gif);
}

*.i_audio_hebrew
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_hebrew.gif);
}

*.i_audio_hungarian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_hungarian.gif);
}

*.i_audio_instrumental
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_instrumental.gif);
}

*.i_audio_italian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_italian.gif);
}

*.i_audio_japanese
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_japanese.gif);
}

*.i_audio_romaji
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_romaji.gif);
}

*.i_audio_korean
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_korean.gif);
}

*.i_audio_latin
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_latin.gif);
}

*.i_audio_latvian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_latvian.gif);
}

*.i_audio_lithuanian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_lithuanian.gif);
}

*.i_audio_malay
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_malay.gif);
}

*.i_audio_mandarin
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_mandarin.gif);
}

*.i_audio_none
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_none.gif);
}

*.i_audio_norwegian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_norwegian.gif);
}

*.i_audio_other
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_unknown.gif);
}

*.i_audio_polish
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_polish.gif);
}

*.i_audio_portuguese
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_portuguese.gif);
}

*.i_audio_romanian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_romanian.gif);
}

*.i_audio_russian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_russian.gif);
}

*.i_audio_slovak
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_slovak.gif);
}

*.i_audio_slovenian
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_slovenian.gif);
}

*.i_audio_spanish
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_spanish.gif);
}

*.i_audio_swedish
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_swedish.gif);
}

*.i_audio_taiwanese
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_taiwanese.gif);
}

*.i_audio_tamil
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_tamil.gif);
}

*.i_audio_tartar
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_tartar.gif);
}

*.i_audio_thai
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_thai.gif);
}

*.i_audio_turkish
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_turkish.gif);
}

*.i_audio_unknown
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_unknown.gif);
}

*.i_audio_vietnamese
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_vietnamese.gif);
}*.i_sub_arabic
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_arabic.gif);
}

*.i_sub_brazilian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_brasilian.gif);
}

*.i_sub_bulgarian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_bulgarian.gif);
}

*.i_sub_cantonese
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_cantonese.gif);
}

*.i_sub_catalan
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_catalan.gif);
}

*.i_sub_chinese
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_chinese.gif);
}

*.i_sub_czech
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_czech.gif);
}

*.i_sub_danish
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_danish.gif);
}

*.i_sub_dutch
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_dutch.gif);
}

*.i_sub_english
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_english.gif);
}

*.i_sub_finnish
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_finnish.gif);
}

*.i_sub_french
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_french.gif);
}

*.i_sub_georgian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_georgian.gif);
}

*.i_sub_german
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_german.gif);
}

*.i_sub_greek
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_greek.gif);
}

*.i_sub_hebrew
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_hebrew.gif);
}

*.i_sub_hungarian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_hungarian.gif);
}

*.i_sub_instrumental
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_instrumental.gif);
}

*.i_sub_italian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_italian.gif);
}

*.i_sub_japanese
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_japanese.gif);
}

*.i_sub_romaji
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_romaji.gif);
}

*.i_sub_korean
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_korean.gif);
}

*.i_sub_latin
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_latin.gif);
}

*.i_sub_latvian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_latvian.gif);
}

*.i_sub_lithuanian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_lithuanian.gif);
}

*.i_sub_malay
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_malay.gif);
}

*.i_sub_mandarin
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_mandarin.gif);
}

*.i_sub_none
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_none.gif);
}

*.i_sub_norwegian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_norwegian.gif);
}

*.i_sub_other
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_unknown.gif);
}

*.i_sub_polish
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_polish.gif);
}

*.i_sub_portuguese
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_portuguese.gif);
}

*.i_sub_romanian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_romanian.gif);
}

*.i_sub_russian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_russian.gif);
}

*.i_sub_slovak
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_slovak.gif);
}

*.i_sub_slovenian
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_slovenian.gif);
}

*.i_sub_spanish
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_spanish.gif);
}

*.i_sub_swedish
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_swedish.gif);
}

*.i_sub_taiwanese
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_taiwanese.gif);
}

*.i_sub_tamil
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_tamil.gif);
}

*.i_sub_tartar
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_tartar.gif);
}

*.i_sub_thai
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_thai.gif);
}

*.i_sub_turkish
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_turkish.gif);
}

*.i_sub_unknown
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_unknown.gif);
}

*.i_sub_vietnamese
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_vietnamese.gif);
}
html, body, div, form, table, tr, td, ul, ol, dl, li, dt, h1, h2, h3, h4, p
{
	padding: 1px;
	margin: 0;
	border: none;
}
table, dt, dd
{
	padding: 0;
}
table table
{
	width: 100%;
}
td, th
{
	padding: 1px 2px 1px 2px;
}
li
{
	padding: 0px 4px 0px 2px;
}
p
{
	padding: 2px;
}
table, table caption
{
	margin: 0 auto 0 auto;
}
span
{
	display: inline;
}
fieldset
{
	display: none;
}
ul
{
	list-style-type: none;
}
ol
{
	list-style-position: outside;
	margin-left: 2em;
}
dl
{
  display: table;
	margin: 1px auto 1px auto;
}
dl dt
{
	float: left;
	clear: left;
}
dl dd
{
	margin-left: 10em;
	text-align: left;
}
body.nonav #layout-content,
body.nonav #layout-footer
{
	width: auto;
	height: 90%;
	margin:0;
}

#layout-content ul.g_navlist
{
	text-align: center;
}

#layout-content ul.g_navlist li
{
	display: inline;
	list-style: none outside;
}

#layout-content ul.g_navlist li.here
{
	font-style: italic;
}

#layout-nav input
{
	width: 100%;
}
#layout-nav > div
{
	margin-left: 6px;
	margin-right: 6px;
}
#layout-nav ul+ul
{
	margin-top: 2px;
}
#layout-nav label input
{
	width: auto;
}

body.nonav
{
	padding: 0;
}
body.nonav #layout-content h1
{
	display: none;
}

/*#layout-content div.g_filterlist+div.g_section,
#layout-content div.g_section+div.g_section,
#layout-content div.g_section+ul.g_actionlist*/
#layout-content h1,
#layout-content div.g_section,
#layout-content div.g_filterlist,
#layout-content ul.g_actionlist,
#layout-content div.g_errorbox,
#layout-content div.g_warnbox,
#layout-content div.g_notebox,
#layout-content div.g_successbox,
#layout-content div.mylist_list ul.g_jumplist,
#layout-content div.addepm div.ep
{
	margin-bottom: 1em;
}

#layout-content table + ul.g_jumplist,
#layout-content ul.g_jumplist + table
{
	margin-top: 1em;
}

#layout-content ul.g_jumplist
{
	height: 1.2em;
}

#layout-content div.g_end
{
	padding: 0;
	margin: 0;
	clear: right;
	border: none;
}

#layout-content div.g_menu
{
	float: right;
	margin-bottom: 1em;
}

#layout-content div.g_menu ul li
{
	padding: 1px 6px 1px 6px;
}

#layout-content div.dbstats_all table ol
{
	width: 20em;
}

#layout-content div.genren_all li.collapsed ul
{
	display: none;
}

/*** myplace ***/

#layout-content div.myplace_all div.stats
{
	/*float: left; works in opera, but not firefox*/
	position: absolute; /*ff*/
	width: 14.1em; /*ff*/
}

#layout-content div.myplace_all div.stats table,
#layout-content div.myplace_all div.stats table caption
{
	margin-left: 0; /*ff*/
}

#layout-content div.myplace_all div.stats table
{
	width: 14em;
}

#layout-content div.myplace_all div.stats table caption
{
	width: 12em; /*ff*/
}

#layout-content div.myplace_all div.stats div table td.value
{
	text-align: right;
}

#layout-content div.myplace_all div.latest
{
	margin-left: 16em;
	margin-right: 8em;
	clear: none;
}

#layout-content div.creqmod_all table
{
	width: 90%;
}

/* main_news */

#layout-content div.main_all div.rightbar
{
	width: 19em;
	clear: right;
	float: right;
}

#layout-content div.main_all div.rightbar p
{
	text-align: center;
}

#layout-content div.main_all div.rightbar h3
{
	margin-top: 1em;
}

#layout-content div.main_all div.rightbar ol
{
	list-style-type: none;
	margin-left: 0;
}

#layout-content div.main_all div.news
{
	margin-right: 20em;
}

#layout-content div.main_all div.news h4,
#layout-content div.agcmts_entries div.comment h4
{
	padding: 0.1em;
	margin-top: 0;
	margin-bottom: 0;
}

#layout-content div.main_all div.news div
{
	padding: 0.2em;
}

#layout-content div.main_all div.news span.stamp
{
	display: block;
	text-align: right;
	padding-right: 0.5em;
}

#layout-content div.main_all div.news div+h4
{
	margin-top: 2em;
}

/* main_edit */

#layout-content div.main_edit
{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}

#layout-content div.main_edit label
{
	display: block;
	text-align: left;
	vertical-align: top;
	margin: auto;
	padding: 0.6em;
}

#layout-content div.main_edit label *
{
	display: block;
	margin-top: -1.2em;
	margin-left: 4em;
}

#layout-content div.main_edit label input
{
	width: 90%;
}

#layout-content div.main_edit textarea
{
	height: 30em;
	width: 90%;
}

#layout-content div.main_edit form div > input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#layout-content div.latest_completed td.icon span.i_icon
{
	float: left;
	padding: 0px 2px 0px 2px;
}

/* file */
#layout-content div.file_info dl .type,
#layout-content div.file_info dl .censored,
#layout-content div.file_info dl .stats,
#layout-content div.file_info dl .owner
{
	margin-top: 0.4em;
}

#layout-content div.file_tracks div+div,
#layout-content div.file_relations div+div
{
	margin-top: 0.6em;
}

/*** agcmts ***/
#layout-content div.agcmts_entries div.comment + div.comment
{
	margin-top: 1em;
}

#layout-content div.agcmts_entries div.comment,
#layout-content div.agcmts_entries div.comment h4
{
	text-align: left;
}

#layout-content div.agcmts_entries div.comment span.stamp
{
	display: block;
	text-align: right;
	margin-top: -1.3em;
	padding-right: 0.5em;
}
#layout-content div.agcmts_add p.g_howto
{
	text-align: left;
}
#layout-content div.agcmts_add form div textarea
{
	display: block;
	width: 80%;
	margin-left: 10%;
	height: 10em;
}
/*#layout-content div.agcmts_entries p
{
	text-align: left;
}*/body
{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a, del, ins
{
	text-decoration: none;
}

/*a:hover
{
	text-decoration: underline;
}*/

th, td.action
{
	white-space: nowrap;
}


/** ALIGNMENT **/
td.id, td.count, td.number, td.size, td.epno
{
	text-align: right;
}

td, ul, p.desc,
th.field, td.value, td.name, td.quality, td.title, td.name,
#layout-content div.main_all div.news h4
{
	text-align: left;
}

th, h1, h2, h3, h4, form,
tr.action td.value, td.stats,
td.state, td.type, td.date, td.action, td.icon, td.ignore,
td.name.user, td.name.owner, td.vote, td.rating, td.check,
.g_navlist, .g_filterlist, .g_actionlist, .g_info, .g_input,
#layout-content div.g_section,
#layout-footer p
{
	text-align: center;
}


/** WEIGHT/STYLE **/
.v_high,
.v_med, span.diff,
#layout-content div.creqmod_all .state.new,
#layout-content div.creqmod_all .state.return,
#layout-content div.creqmod_all span.type.del
{
	font-weight: bold;
}

table caption,
#layout-content div.msg_all tr.new td.state,
#layout-content div.msg_all tr td.type
{
	font-weight: bold;
}


/** SIZE **/
#layout-nav
{
	font-size: small;
}

#layout-content div.main_all div.rightbar li
{
	font-size: x-small;
	/*overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;*/
}

.tiny, small
{
	font-size: 95%;
}


/** SHIT **/

table caption, h4
{
	font-size: 115%;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

#layout-content div.userlist_all table td.hidden:after
{
	color: red;
	content: " hidden";
}
#layout-content div.anime_group td.state.unknown
{
	content: "N/A";
}

#layout-content div.mylist_list tr.complete td.stats,
#layout-content div.mylist_list tr.all_watched td.stats,
#layout-content div.anime_group td.lastupdate.new,
#layout-content div.anime_group td.state.finished,
#layout-content div.group_released td.state.finished,
#layout-content div.anime_group td.state.complete,
#layout-content div.group_released td.state.complete
{
 	font-weight: bold;
}

#layout-content div.anime_group td.state.stalled,
#layout-content div.group_released td.state.stalled,
#layout-content div.anime_group td.state.unknown,
#layout-content div.group_released td.state.unknown
{
	font-style: italic;
}

#layout-content div.anime_group td.state.dropped,
#layout-content div.group_released td.state.dropped
{
	text-decoration: underline;
}

#layout-content div.addfile_add tr.subheader td
{
	font-weight: bold;
	height: 2em;
}

#layout-content div.anime_group td.mylist
{
	font-weight: bold;
	text-align: center;
}
#layout-content div.anime_group td.mylist.new
{
	color: red;
}
#layout-content div.anime_group td.mylist:before
{
	content: "* ";
}
#layout-content div.anime_group td.mylist:after
{
	content: " *";
}

#layout-content div.anime_info div.g_definitionlist table td.value
{
	width: 40em;
}

#layout-content div.up2date_file_list table td.mylist
{
	text-align: right;
}#layout-nav:before
{
	background-image: url(images/shun23fv.png);
	display: block;
	height: 100px;
	width: 100px;
	margin: 0.5em auto 0.5em auto;
	border: 1px #98AAB1 solid;
	content:"";
}

#layout-nav div.menu
{
	margin-top: 1em;
}
#layout-nav div.usermenu p.user
{
	position: absolute;
	width: 130px;
	top: 110px;
	text-align: center;
}
#layout-nav div.usermenu p.user:before
{
	content: "Hi, ";
}
#layout-nav div.usermenu p.user:after
{
	content: "!";
}

#layout-content div.g_errorbox,
#layout-content div.g_warnbox,
#layout-content div.g_notebox,
#layout-content div.g_successbox
{
	padding: 0.4em;
}

#layout-content div.block
{
	display: table;
	margin-left: auto;
	margin-right: auto;
}
#layout-content div.block div.image
{
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
}
#layout-content div.anime_info > p
{
	margin-top: 10px;
}


#layout-content ul.g_navlist
{
	margin: 0 auto;
	padding: 0.3em;
	text-align: left;
	margin-bottom: 1em;
}

#layout-content ul.g_navlist li
{
	display: inline;
	list-style: none outside;
}
#layout-content ul.type
{
	float: left;
}
#layout-content ul.g_numonpage
{
	float: right;
}
#layout-content div.g_section,
#layout-content div.g_filterlist
{
	clear: both;
}

#layout-content ul.g_actionlist,
#layout-content ul.g_jumplist
{
	clear: right;
}

*.g_navprev
{
	float: left;
	padding-left: 0.3em;
}

*.g_navnext
{
	float: right;
	padding-right: 0.3em;
}

#layout-content div.g_definitionlist
{
	border: none;
}

#layout-content div table td.title div
{
	float: right;
}

#layout-content div.anime_group table.grouplist tr td.languages span.i_icon,
#layout-content div table td div.icoco span.i_icon
{
	float: left;
	padding: 0px 2px 0px 2px;
}

#layout-content div.addanimetitle_form input[type="text"],
#layout-content div.addeptitle_form p input[type="text"]
{
	width: 21em;
}
#layout-content div.addanimetitle_form input,
#layout-content div.addeptitle_form p input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#layout-content div.addanimetitle_form p span label,
#layout-content div.addeptitle_form p span label,
#layout-content div.addanimetitle_form p span.header,
#layout-content div.addeptitle_form p span.header
{
	display: none;
}

#layout-content div.anime_all a.action:before
{
	content: "[";
}
#layout-content div.anime_all a.action:after
{
	content: "]";
}

#layout-content div.g_errorbox
{
	border: 1px solid #DD0000;
	background-color: #FFE5E5;
}
#layout-content div.g_warnbox
{
	border: 1px solid #F46F0B;
	background-color: #FFF0E5;
}
#layout-content div.g_notebox
{
	border: 1px solid #AFAF00;
	background-color: #FFFFDF;
}
#layout-content div.g_successbox
{
	border: 1px solid #2EB42E;
	background-color: #E5FFE5;
}

#layout-content div.g_errorbox h3
{
	color: #FF0000;
}
#layout-content div.g_warnbox h3
{
	color: #F46F0B;
}
#layout-content div.g_notebox h3
{
	color: #AFAF00;
}
#layout-content div.g_successbox h3
{
	color: #2EB42E;
}
#layout-content td del,
#layout-content tr.g_fs_lame,
#layout-content table.filelist tr.invalid,
#layout-content table.filelist tr.deprecated,
#layout-content div.myvotes_all table tr.low td
{
	background-color: #ffd7c2;
}

#layout-content div.myvotes_all table tr.g_odd.low td
{
	background-color: #efc7b2;
}

#layout-content td ins,
#layout-content table.filelist tr.good,
#layout-content div.myvotes_all table tr.high td,
#layout-content div.producer_all table tr.mylist/*,
#layout-content div.mylist_list table table table tr.good td*/
{
	background-color: #f2ffe9;
}

#layout-content table.filelist tr.g_odd.good,
#layout-content div.myvotes_all table tr.g_odd.high td
{
	background-color: #e2efd9;
}

.v_pos
{
	color: #006600;
}

.g_vital a,
.v_neg,
.v_high,
span.diff,
#layout-content td.reviewed.no a,
#layout-content div.creqmod_all .state.return,
#layout-content div.creqmod_all span.type.del
{
	color: red;
}

#layout-content div.msg_all tr.mod
{
	background-color: orange;
}

#layout-content div.mylist_list tr.all_watched td.stats
{
	color: darkgreen;
}
#layout-content ul.g_jumplist
{
	padding-left: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
	text-align: center;
}
#layout-content ul.g_actionlist li,
#layout-content ul.g_jumplist li
{
	display: inline;
	font-style: italic;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
#layout-content ul.g_actionlist li a,
#layout-content ul.g_jumplist li a
{
	display: inline;
	font-style: normal;
}
#layout-content ul.g_jumplist li.prev:after,
#layout-content ul.g_jumplist li.next:after,
#layout-content ul.g_jumplist li.other:after
{
	content: "";
}
#layout-content ul.g_jumplist li:after
{
	font-style: normal;
	content: " |";
}
#layout-content ul.g_jumplist li.prev
{
	padding-left: 1em;
	float: left;
}
#layout-content ul.g_jumplist li.next
{
	padding-right: 1em;
	float: right;
}
#layout-content ul.g_jumplist li.all:before
{
	font-style: normal;
	content: "Jump to: ";
}
#layout-content ul.g_actionlist li+li:before
{
	content: " - ";
}#layout-content div.g_menu ul.state
{
	height: 15px;
	padding-top: 2px;
	padding-bottom: 1px;
}

#layout-content div.g_menu ul.state li
{
	float: left;
	padding: 0px 2px 0px 1px;
}

#layout-content div.g_menu ul + ul
{
	margin-top: 2px;
}

#layout-content div.g_menu ul.state + ul
{
	clear: left;
}

#layout-content div.mylist_list table.animelist
{
	width: 75%;
}
#layout-content div.mylist_list td.title div
{
	float: right;
}

#layout-content div.mylist_list td div.icoco span.i_icon
{
	float: left;
	padding: 0px 2px 0px 2px;
}

#layout-content div.mylist_list table table
{
	width: 100%;
}

#layout-content div.mylist_list table table table tr.good td
{
	background-color: #6fc279;
}

#layout-content div.mylist_all ul li
{
	list-style: none;
	text-align: left;
}

#layout-content div.mylist_all tr.all_watched td.stats 
{ 
   color: darkgreen;
}#layout-content div.latestanimes_form
{
	clear: both;
}

#layout-content div.latestanimes_form a
{
	margin: 1.3em;
}

#layout-content div.latestanimes_form form
{
	margin: 1em 0;
	text-align: center;
}

#layout-content div.latestanimes_form div
{
	display: inline;
}

#layout-content div.latestanimes_form form input.year
{
	width: 2.5em;
}


#layout-content div.latestanimes_anime
{
	clear: left;
	padding-left: 10%
}

#layout-content div.latestanimes_anime img
{
	display: block;
	width: 15em;
	margin: -2em 1em 1em 1em;
	float: left;
}

#layout-content div.latestanimes_anime h3
{
	margin: 0.5em 0 0.5em 17.3em;
	font-size: 100%;
	font-weight: inherit;
}

#layout-content div.latestanimes_anime h3 a
{
	font-size: 120%;
	font-weight: bolder;
}

#layout-content div.latestanimes_anime th:after
{
	content: ":";
}


#layout-content div.latestanimes_footer 
{
	text-align: center;
}

/*
#layout-content div.anime.info div.block
{
	display: table;
	margin-left: 6px;
	margin-top: 6px;
}

#layout-content div.anime.info div.image
{
	display: table-cell;
	vertical-align: middle;
	border: 1px solid;
	border-color: #E8E9EC #717377 #717377 #E8E9EC;
	padding: 2px;
}

#layout-content div.anime.info div.image img
{
	display: block;
	border: 1px solid;
	border-color: #717377 #E8E9EC #E8E9EC #717377;
	padding: 1px;
}

#layout-content div.anime.info div.data
{
	display: table-cell;
	vertical-align: middle;
	padding-left: 7px;
}

#layout-content div.anime.info div.data dt
{
	margin-top: 0.36em;
	margin-bottom: -1.2em;
	margin-right: 10em;
}

#layout-content div.anime.info div.data dt:after
{
	content: ": ";
}

#layout-content div.anime.info div.data dd
{
	min-height: 1.3em;
	overflow: hidden;
	margin-left: 100px;
}

#layout-content div.anime.info div.data dd.anirec
{
	overflow: visible;
}

#layout-content div.anime.info div.data dd.anirec a.i_help
{
	padding: 7px 8px 7px 12px;
}


#layout-content div.anime.info p.desc
{
	margin: 0.7em 0.3em 0.3em 0.3em;
}

#layout-content div.anime.vote form.permvote
{
	margin: 1.1em 0 1.1em 0;
}

#layout-content div.anime.vote form.tempvote
{
	width: 50%;
	margin: 1.1em 0.6em 1.1em 0;
	float: left;
}

#layout-content div.anime.vote form.tempvote div
{
	padding-right: 6px;
	float: right;
}*/

#layout-content div.anime.mylist
{
	clear: left;
}
/*
#layout-content div.anime.mylist th,
#layout-content div.anime.group th,
#layout-content div.anime.filter th
{
	font-weight: normal;
}

#layout-content div.anime.mylist th.heading,
#layout-content div.anime.group th.info
{
	font-weight: bold;
	padding: 0.1em 0.9em 0.1em 0.9em;
}

#layout-content div.anime.mylist th.anime
{
	width: 300px;
	text-align: left;
}

#layout-content div.anime.mylist td.eps,
#layout-content div.anime.mylist td.seen
{
	padding: 0.1em 0.9em 0.1em 0.9em;
	text-align: center;
}

#layout-content div.anime.group th.group
{
	text-align: left;
}

#layout-content div.anime.group th.action
{
	text-align: center;
	vertical-align: middle;
}

#layout-content div.anime.group td
{
	text-align: center;
}*/

#layout-content div.anime.group td.langs .i_icon { float: left; }
#layout-content div.anime.group td.action .i_icon { float: left; }

/*
#layout-content div.anime.group td.lastep,
#layout-content div.anime.group td.cmts
{
	text-align: right;
}

#layout-content div.anime.group td.group,
#layout-content div.anime.group td.lastupdate
{
	text-align: left;
}

#layout-content div.anime.group td.state.complete,
#layout-content div.anime.group td.state.finished
{
	font-weight: bold;
}

#layout-content div.anime.group td.state.stalled
{
	font-style: italic;
}

#layout-content div.anime.group td.state.dropped
{
	text-decoration: underline;
}
*/
#layout-content div.anime.table table
{
	width: 100%;
}

/*#layout-content div.anime.table th
{
	font-weight: normal;
	text-align: left;
}*/

/*#layout-content div.anime.table td
{
	height: 1.6em;
	padding: 0.1em 0.1em 0.1em 0.1em;
	vertical-align: middle;
}

#layout-content div.anime.table table.eplist
{
	padding: 0;
	margin-bottom: 15px;
}

#layout-content div.anime.table table.filelist
{
	padding: 2px 3px 15px 57px;
}

#layout-content div.anime.table tr.heading th
{
	padding: 4px 1px 7px 1px;
	border-bottom: black 2px solid;
}*/

/*#layout-content div.anime.table tr.odd td { background-color: #b0b0b0; }
#layout-content div.anime.table tr.good td { background-color: #6fc279; }
#layout-content div.anime.table tr.bad td { background-color: #bf6269; }
#layout-content div.anime.table tr.depr td { background-color: #999999; }
#layout-content div.anime.table tr.genr td { background-color: #eeeeee; }
#layout-content div.anime.table tr.hover td { background-color: #FFFFFF; }
#layout-content div.anime.table tr.hoverbad td { background-color: #EED0D0; }
#layout-content div.anime.table tr.hovergood td { background-color: #D0EED0; }
#layout-content div.anime.table tr.hoverdepr td { background-color: #c0c0c0; }

#layout-content div.anime.table td.epusers,
#layout-content div.anime.table td.files
{
	text-align: right;
}

#layout-content div.anime.table th.expand,
#layout-content div.anime.table td.expand,
#layout-content div.anime.table td.check,
#layout-content div.anime.table td.ed2k,
#layout-content div.anime.table td.fileaction
{
	text-align: center;
}
*/
#layout-content div.anime.table td.fileaction .i_icon,
#layout-content div.anime.table td.stat .i_icon, 
#layout-content div.anime.table td.epaction .i_icon 
{ 
  float: left; 
}
#layout-content div.anime.table td.fid .i_icon,
#layout-content div.anime.table td.size .i_icon,
#layout-content div.anime.table td.by .i_icon,
#layout-content div.anime.table td.res .i_icon,
#layout-content div.anime.table td.source .i_icon,
#layout-content div.anime.table td.fileusers .i_icon
{ 
  float: right;
}

/*
#layout-content div.anime.table td.stat .i_crc_yes
{
	margin-left: 3px;
}

#layout-content div.anime.table td.qual .i_icon
{
	margin-left: 0;
}
*/
#layout-content div.anime.group td.filter { text-align: left; }

#layout-content div.anime_info th span.i_icon,
#layout-content div.anime.group td.filter div,
#layout-content div.anime.group th div,
#layout-content div.anime.mylist td.anime div,
#layout-content div.anime.table td.title div { float: right; }


#layout-content div.anime.table .icoco .i_icon,
#layout-content div.anime.group .icoco .i_icon, 
#layout-content div.anime.mylist .icoco .i_icon,
#layout-content div.anime.mylist.mylistAnime .icoco .i_icon,
#layout-content div.anime.table .icoco .i_icon
{
	float: left;
	padding: 0px 2px 0px 2px;
}

/* Loading div styles */
#layout-content div.anime.table .loading {
  border-width: 1px;
  border-style: dotted;
  border-color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}
#layout-content div.anime.table .loading div { float: right; }
#layout-content div.anime.table .loading .icoco .i_icon {
	float: left;
	padding: 0px 2px 0px 2px;
}

#layout-content div.anime.table div.actions
{
	text-align: center;
	margin: auto;
}


#layout-content div.anime.edit
{
	text-align: center;
}

#layout-content div.anime.edit div
{
	padding-left: 19%;
	padding-right: 19%;
	margin-top: 1.2em;
}

#layout-content div.anime.filter a.i_plus
{
	float: left;
}
/*SHIT*/
#layout-content div.anime_table table.eplist,
#layout-content div.ep_all table.filelist
{
	width: 98%;
}

/*#layout-content div.ed2kexport_all pre
{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
}*/
#layout-content div.addfilem.form div.dump textarea
{
	width: 100%;
	height: 30em;
	white-space: nowrap;
}
#layout-content div.addfilem.form dl.options dt
{
	text-align: left;
}
#layout-content div.addfilem.form dl.options dd
{
	margin-left: 8em;
}
#layout-content div.addfilem.form dl.options dd select
{
	min-width: 10em;
	max-width: 20.4em;
}

#layout-content div.mylist_list table td.rating.votes span.count
{
	display: none;
}

#layout-content div.anime_mylist table td
{
	padding: 1em;
}

#layout-content div.anime_mylist table td span.i_icon
{
	margin-left: 1em;
}

#layout-content div.mylist_list div.g_actionlist
{
	margin-top: 1em;
	margin-bottom: 1em;
}

#layout-content div.ed2kdump_box textarea
{
	width: 98%;
}

#layout-content div.stats_all table,
#layout-content div.dbstats_all table
{
	border: none;
	border-spacing: 1em;
}

#layout-content div.stats_all table tr,
#layout-content div.dbstats_all table tr
{
	background-color: inherit;
}

#layout-content div.stats_all table td,
#layout-content div.dbstats_all table td
{
	border: none;
}

#layout-content div.admin_menu,
#layout-content div.admin_cat_menu ul
{
	margin-left: 25%;
	margin-right: 25%;
}

/*#layout-content table tr:hover { background: #fff; }
#layout-content tr.g_odd:hover { background: #fff; }*/

body
{
	padding: 8px;
}

#layout-nav
{
	position: absolute;
	width: 150px;
}

#layout-content
{
	margin-left: 165px;
	padding: 1em;
	padding-bottom: 0;
}

#layout-footer
{
	margin-left: 165px;
	margin-top: 10px;
}
body,
#layout-content div.g_definitionlist table
{
	color: #2E3C55;
	border-color: #e5e5e5;
	background: #e5e5e5 url(images/sub-bg-body.gif) repeat-x;
}

a:link,a:active,a:visited
{
	color : #006699;
}

a:hover
{
	color : #f26522/*#DD6900*/;
}

#layout-content
{
	background: #FBFBFB url(images/sub-bg-layout2.gif) repeat-x;
}
#layout-nav
{
	background: url(images/sub-nav.gif) repeat-y;
}

#layout-footer
{
	background-color: #FBFBFB;
}

th
{
	color: #FFA34F;
	background: #3a95c2 url(images/sub-bg-th.gif) repeat-x;
}

#layout-content h1
{
	/*color: #FFA34F;*/
	color: #efefef;
	border: 1px solid #03699c;
	background: #3a95c2 url(images/sub-bg-th.gif) repeat-x;
}

#layout-content div.main_all div.news h4,
#layout-content div.main_all div.news div,
#layout-content div.agcmts_entries div.comment p
{
	background-color: #fafafa;
}

ul,
#layout-content tr,
#layout-content ul.g_jumplist,
#layout-content *.g_filterlist,
#layout-content *.g_actionlist,
#layout-content *.g_description,
#layout-content div.addepm div.ep
{
	background-color: #f4f4f4
}

#layout-content tr.g_odd,
#layout-content li.g_odd
{
	background-color: #dee3e7;
}

#layout-content table table.filelist tr,
#layout-content div.g_definitionlist tr
{
	background-color: inherit;
}

#layout-content div.g_definitionlist tr th
{
	color: inherit;
	background-image: none;
	background-color: inherit;/*#d1d7dc;*/
}
tr+tr td
{
	border-top: 1px #FFFFFF solid;
}

table
{
	border: 2px #006699 solid;
	/*border-collapse: collapse;*/
	border-spacing: 0;
}

table table
{
	border: none;
}

img, a
{
	border: none;
}

#layout-nav,
#layout-footer,
#layout-content
{
	border: 1px #98AAB1 solid;
}

ul,
#layout-content *.g_jumplist,
#layout-content *.g_filterlist,
#layout-content *.g_actionlist,
#layout-content *.g_description,
#layout-content *.g_image image,
#layout-content .g_block .g_definitionlist,
#layout-content div.main_all div.news h4,
#layout-content div.main_all div.news div,
#layout-content div.agcmts_entries div.comment p,
#layout-content div.g_definitionlist table,
#layout-content div.latestanimes_form,
#layout-content div.addepm div.ep
{
	border: 1px #d1d7dc solid;
}

#layout-content .g_image image,
#layout-content .g_definitionlist
{
	padding: 1px;
}

#layout-content .g_block .g_definitionlist > table
{
	border: none;
	margin: 0;
}

#layout-content div.anime_table tr.newtype td
{
	border-top: 2px #FFFFFF double;
}

#layout-content div.g_definitionlist tr th
{
	border-top: 1px #FFFFFF solid;
	border-right: 1px #FFFFFF solid;
}