#layout-main div.g_timedentry
{
	min-height: 174px;
	/*IE*/
	height: auto !important;
	height: 174px;
}

#layout-main div.g_timedentry h4
{
	padding: 0.1em;
	margin: 0px;
	text-align: left;
}

#layout-main div.g_timedentry div.avatar
{
	float: right;
	margin: 10px;
}

#layout-main div.g_timedentry div.body
{
	padding: 1em;
	text-align: left;
}

#layout-main div.g_timedentry span.stamp
{
	display: block;
	text-align: right;
	padding-right: 0.5em;
}

#layout-main div.g_timedentry 
{
	margin-bottom: 2em;
}
