@import "../common.css";
@import "../../common/style/icons/zakura.css";

@import "layout-macro.css";

@import "style-default.css";
@import "style-menu.css";
@import "style-usermenu.css";
@import "style-content.css";

/*@import "../../zakura/icons.css";*/

@import "../../zakura/main.css";

/**
{
	font-size: 9pt;
}*/

#layout-main div.block div.image
{
	width: auto;
}
#layout-main div.block div.image
{
	vertical-align: middle;
}
#layout-main div.block div.data{
	width: 100%;
}
#layout-main div.block div.data > div > table{
	width: 100%;
}