body
{
	background: #f8f7ff url(images/layout/bg-content.gif) repeat left top;
}

body.nonav #layout-main {
	margin: 0 1em 1em 1em;
	padding: 0;
	background: transparent;
}

body.nonav form textarea {
	width: 99%;
}

#layout-nav {
	background: #fff url(images/layout/bg-header.gif) repeat-x left top;
	height: 166px;
	/*width: 100%;
	position: absolute;*/
}

#layout-menu {
	background: transparent url(images/layout/header.jpg) no-repeat left top;
	padding-top: 164px;
	padding-left: 12px;
}

#layout-menu li.sub-menu{
	width: 108px;
	height: 20px;
}

#layout-content, #layout-footer {
	margin-left: 132px;
	margin-right: 1em;
}

#layout-content{
	margin-top 160px;
	border-top: 1px solid #f8f7ff;
	background-color: #f8f7ff;
}
/*
#layout-menu #menu-account {
background: transparent url(images/layout/bg-login.png) no-repeat right top;
margin: 0;
position: absolute;
top: 0;
right: 1em;
left: auto;
padding-left: 200px;
height: 102px;
width: 56px;
border: none;
text-align: right;
display: table;
}
*/
#layout-search {
position: absolute;
top: 0;
left: auto;
right: 1em;
/* width: 35em;
margin-top: 110px; */
padding: 0;
padding-top: 110px;
background: transparent url(images/layout/bg-login.png) no-repeat right top;
padding-left: 200px;
/* height: 102px; */
width: 35em;
border: none;
text-align: right;
/* display: table; */
margin: 0px;
}

#layout-search div.search p{
	text-align: right;
	font-size: 10pt;
}

#layout-search input.text {
	border: 1px solid #eed0da;
	padding: 0.3em 0.3em 0;
	height: 1.5em;
	width: 16em;
	color: #1e2495;
}

#layout-search input.text:hover {
	border: 1px solid #dc9abf
}

#layout-search input.submit {
	height: 1.8em;
	padding-bottom: 0.2em;
	width: 4.5em;
}

#layout-footer p {
	font-size: 0.8em;
	text-align: center;
	color: #85809f;
	padding: 2em 0;
}

#layout-footer p:after {
	content: ". Design by zakness.";
}