*.i_audio_ar
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_arabic.gif);
}

*.i_sub_ar
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_arabic.gif);
}

*.i_audio_br
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_bulgarian.gif);
}

*.i_sub_br
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_bulgarian.gif);
}

*.i_audio_ca
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_catalan.gif);
}

*.i_sub_ca
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_catalan.gif);
}

*.i_audio_cs
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_czech.gif);
}

*.i_sub_cs
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_czech.gif);
}

*.i_audio_da
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_danish.gif);
}

*.i_sub_da
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_danish.gif);
}

*.i_audio_de
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_german.gif);
}

*.i_sub_de
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_german.gif);
}

*.i_audio_ee
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_estonian.gif);
}

*.i_sub_ee
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_estonian.gif);
}

*.i_audio_es
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_spanish.gif);
}

*.i_sub_es
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_spanish.gif);
}

*.i_audio_el
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_greek.gif);
}

*.i_sub_el
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_greek.gif);
}

*.i_audio_en
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_english.gif);
}

*.i_sub_en
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_english.gif);
}

*.i_audio_fi
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_finnish.gif);
}

*.i_sub_fi
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_finnish.gif);
}

*.i_audio_fr
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_french.gif);
}

*.i_sub_fr
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_french.gif);
}

*.i_audio_ge
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_georgian.gif);
}

*.i_sub_ge
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_georgian.gif);
}

*.i_audio_he
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_hebrew.gif);
}

*.i_sub_he
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_hebrew.gif);
}

*.i_audio_hr
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_croatian.gif);
}

*.i_sub_hr
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_croatian.gif);
}

*.i_audio_hu
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_hungarian.gif);
}

*.i_sub_hu
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_hungarian.gif);
}

*.i_audio_id
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_indonesian.gif);
}

*.i_sub_id
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_indonesian.gif);
}

*.i_audio_it
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_italian.gif);
}

*.i_sub_it
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_italian.gif);
}

*.i_audio_jp
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_japanese.gif);
}

*.i_sub_jp
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_japanese.gif);
}

*.i_audio_ko
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_korean.gif);
}

*.i_sub_ko
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_korean.gif);
}

*.i_audio_la
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_latin.gif);
}

*.i_sub_la
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_latin.gif);
}

*.i_audio_lv
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_latvian.gif);
}

*.i_sub_lv
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_latvian.gif);
}

*.i_audio_lt
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_lithuanian.gif);
}

*.i_sub_lt
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_lithuanian.gif);
}

*.i_audio_my
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_malay.gif);
}

*.i_sub_my
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_malay.gif);
}

*.i_audio_nl
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_dutch.gif);
}

*.i_sub_nl
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_dutch.gif);
}

*.i_audio_no
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_norwegian.gif);
}

*.i_sub_no
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_norwegian.gif);
}

*.i_audio_pl
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_polish.gif);
}

*.i_sub_pl
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_polish.gif);
}

*.i_audio_pt
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_portuguese.gif);
}

*.i_sub_pt
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_portuguese.gif);
}

*.i_audio_pt-BR
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_brasilian.gif);
}

*.i_sub_pt-BR
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_brasilian.gif);
}

*.i_audio_ro
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_romanian.gif);
}

*.i_sub_ro
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_romanian.gif);
}

*.i_audio_rs
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_serbian.gif);
}

*.i_sub_rs
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_serbian.gif);
}

*.i_audio_ru
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_russian.gif);
}

*.i_sub_ru
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_russian.gif);
}

*.i_audio_sk
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_slovak.gif);
}

*.i_sub_sk
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_slovak.gif);
}

*.i_audio_sl
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_slovenian.gif);
}

*.i_sub_sl
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_slovenian.gif);
}

*.i_audio_sv
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_swedish.gif);
}

*.i_sub_sv
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_swedish.gif);
}

*.i_audio_sg
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_tamil.gif);
}

*.i_sub_sg
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_tamil.gif);
}

*.i_audio_tt
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_tartar.gif);
}

*.i_sub_tt
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_tartar.gif);
}

*.i_audio_th
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_thai.gif);
}

*.i_sub_th
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_thai.gif);
}

*.i_audio_tr
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_turkish.gif);
}

*.i_sub_tr
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_turkish.gif);
}

*.i_audio_ua
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_ukrainian.gif);
}

*.i_sub_ua
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_ukrainian.gif);
}

*.i_audio_vn
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_vietnamese.gif);
}

*.i_sub_vn
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_vietnamese.gif);
}

*.i_audio_x-in
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_instrumental.gif);
}

*.i_sub_x-in
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_instrumental.gif);
}

*.i_audio_x-jpt
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_romaji.gif);
}

*.i_sub_x-jpt
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_romaji.gif);
}

*.i_audio_x-other
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_unknown.gif);
}

*.i_sub_x-other
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_unknown.gif);
}

*.i_audio_x-unk
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_unknown.gif);
}

*.i_sub_x-unk
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_unknown.gif);
}

*.i_audio_zh
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_chinese.gif);
}

*.i_sub_zh
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_chinese.gif);
}

*.i_audio_zh-ca
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_cantonese.gif);
}

*.i_sub_zh-ca
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_cantonese.gif);
}

*.i_audio_zh-ma
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_mandarin.gif);
}

*.i_sub_zh-ma
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_mandarin.gif);
}

*.i_audio_zh-ta
{
	background-image: url(http://www.anidb.net/pics/anidb_audio_taiwanese.gif);
}

*.i_sub_zh-ta
{
	background-image: url(http://www.anidb.net/pics/anidb_sub_taiwanese.gif);
}

#layout-content ul.g_jumplist
{
	padding-left: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
	text-align: center;
}
#layout-content ul.g_actionlist li,
#layout-content ul.g_jumplist li
{
	display: inline;
	font-style: italic;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
#layout-content ul.g_actionlist li a,
#layout-content ul.g_jumplist li a
{
	display: inline;
	font-style: normal;
}
#layout-content ul.g_jumplist li.prev:after,
#layout-content ul.g_jumplist li.next:after,
#layout-content ul.g_jumplist li.other:after
{
	content: "";
}
#layout-content ul.g_jumplist li:after
{
	font-style: normal;
	content: " |";
}
#layout-content ul.g_jumplist li.prev
{
	padding-left: 1em;
	float: left;
}
#layout-content ul.g_jumplist li.next
{
	padding-right: 1em;
	float: right;
}
#layout-content ul.g_jumplist li.all:before
{
	font-style: normal;
	content: "Jump to: ";
}
#layout-content ul.g_actionlist li+li:before
{
	content: " - ";
}
html
{
	width: 100%;
	height: 100%;
	font-weight: normal;
	font-size: 10px;
	line-height: 1.2;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: black;
}

body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

a
{
	text-decoration: none;
	color: blue;
	cursor: pointer;
}
a:active
{
	color: red;
}

a img
{
	border: 0;
}

ul, li
{
	list-style: inside;
}

th
{
	font-weight: normal;
	text-align: left;
}

fieldset
{
	display: none;
}
input[type="checkbox"]
{
	height: 1.3em;
	width: 1.3em;
	font-size: 100%;
}

*.g_note
{
	font-style: italic;
	font-weight: normal;
}

*.g_note *
{
	font-style: normal;
}

*.g_note li
{
	font-style: italic;
}

*.g_note em
{
	font-style: italic;
	text-decoration: underline;
}

div.g_note h4
{
	display: inline;
}

*.g_vital, *.g_vital *
{
	color: red;
	font-weight: bolder;
}

tr.g_odd,
li.g_odd,
span.g_odd
{
	background-color: #b0b0b0;
}

*.g_navprev
{
	float: left;
	padding-left: 0.3em;
}

*.g_navnext
{
	float: right;
	padding-right: 0.3em;
}

span.g_navprev,
span.g_navnext
{
	font-style: italic;
}


ul.g_navlist
{
	margin: 0;
	padding: 0.3em;
	text-align: center;
	float: left;
}

ul.g_navlist li
{
	display: inline;
	list-style: none outside;
}

ul.g_navlist li:before
{
	content: " | "
}

ul.g_navlist li:first-child:before
{
	content: "";
}

ul.g_navlist li.here
{
	font-style: italic;
}

td.action,
tr.action td
{
	text-align: center;
}

#layout-content div.g_errorbox
{
	border: 1px solid #DD0000;
	background-color: #FFE5E5;
	margin: 2em;
	padding: 1.2em;
}
#layout-content div.g_warnbox
{
	border: 1px solid #F46F0B;
	background-color: #FFF0E5;
	margin: 2em;
	padding: 1.2em;
}
#layout-content div.g_notebox
{
	border: 1px solid #AFAF00;
	background-color: #FFFFDF;
	margin: 2em;
	padding: 1.2em;
}
#layout-content div.g_successbox
{
	border: 1px solid #2EB42E;
	background-color: #E5FFE5;
	margin: 2em;
	padding: 1.2em;
}

#layout-content div.g_errorbox h3
{
	color: #FF0000;
}
#layout-content div.g_warnbox h3
{
	color: #F46F0B;
}
#layout-content div.g_notebox h3
{
	color: #AFAF00;
}
#layout-content div.g_successbox h3
{
	color: #2EB42E;
}

#layout-content div.g_errorbox *,
#layout-content div.g_warnbox *,
#layout-content div.g_notebox *,
#layout-content div.g_successbox *
{
	display: inline;
}

#layout-content ul.g_numonpage
{
	float: right;
}

#layout-content ul.g_numonpage li:first-child:before
{
	content: "show: ";
}

/* Transitional Hacks */

#layout-content *[align="left"]
{
	text-align: left;
}

#layout-content *[align="left"] > *
{
	margin-left: 0;
}

#layout-content *[align="center"]
{
	text-align: center;
}

#layout-content *[align="center"] > *
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#layout-content *[align="right"]
{
	text-align: right;
}

#layout-content *[align="right"] > *
{
	margin-right: 0;
}

#layout-content,
#layout-content > form
{
	text-align: center;
}

#layout-content > h1
{
	text-align: left;
}

#layout-content > *,
#layout-content > form > *
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#layout-content div,
#layout-content table,
#layout-content table caption
{
	margin-left: auto;
	margin-right: auto;
}

#layout-content .g_filterlist,
#layout-content .g_actionlist,
#layout-content .g_info
{
	text-align: center;
}

#layout-content div.g_menu
{
	float: right;
}

#layout-content div.g_section,
#layout-content div.g_filterlist
{
	clear: both;
}

#layout-content div.block
{
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#layout-content div.block div.image
{
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
}

#layout-content td.state,
#layout-content td.type,
#layout-content td.date,
#layout-content td.rating,
#layout-content td.vote,
#layout-content td.action
{
	text-align: center;
}

#layout-content td.count
{
	text-align: right;
}

#layout-content div.g_section
{
	clear: both;
}
*.i_icon
{
	display: block;
	width: 15px;
	height: 13px;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -5000px;
	margin-left: auto;
	margin-right: auto;
}

*.i_inline
{
	padding: 7px 10px 6px 10px;
	background-repeat: no-repeat;
	background-position: center;
}


*.i_button
{
	display: block;
	width: 42px;
	height: 12px;
	float: left;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -5000px;
}

*.i_icon span, *.i_button span, *.i_inline span
{
	display: none;
}

*.i_help
{
	background: url(http://www.anidb.net/css/anidbstyle/images/ask2.gif) no-repeat right;
	cursor: help; /* just for teh funs */
}

span.i_rate_vhigh
{
	width: 45px;
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_rate_high
{
	width: 37px;
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_rate_med
{
	width: 30px;
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_rate_low
{
	width: 22px;
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}

span.i_rate_vlow
{
	width: 15px;
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_star.gif);
	background-repeat: repeat-x;
	background-position: left;
}

*.i_araward
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/anidb_araward.gif);
}

*.i_censored
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_censored.gif);
}

*.i_comment
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_comment.gif);
}

*.i_crc_no
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_crc_no.gif);
}

*.i_crc_yes
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_crc_yes.gif);
}

*.i_file_add
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_add.gif);
}

*.i_file_addmylist
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_addmylist.gif);
}

*.i_file_delete
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_delete.gif);
}

*.i_file_ed2k
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_ed2k.gif);
}

*.i_file_edit
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_edit.gif);
}

*.i_file_removemylist
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_file_removemylist.gif);
}

*.i_filestate_corrupted
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_corrupted.gif);
}

*.i_filestate_edited
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_edited.gif);
}

*.i_filestate_ondvd
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_ondvd.gif);
}

*.i_filestate_ontv
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_ontv.gif);
}

*.i_filestate_onvhs
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_onvhs.gif);
}

*.i_filestate_other
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_other.gif);
}

*.i_filestate_selfripped
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_selfripped.gif);
}

*.i_filestate_theater
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_filestate_theater.gif);
}

*.i_greenbar
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/anidb_greenbar.gif);
}

*.i_greenbarh
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/anidb_greenbarh.gif);
}

*.i_hanger
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_hanger.gif);
}

*.i_mylist
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_mylist.gif);
}

*.i_new2
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_new2.gif);
}

*.i_new_icon
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_new_icon.gif);
}

*.i_no_rev
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_no_rev.gif);
}

*.i_no_vote
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_no_vote.gif);
}

*.i_nonotify
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_nonotify.gif);
}

*.i_notify
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_notify.gif);
}

*.i_orangebar
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/anidb_orangebar.gif);
}

*.i_pri_high
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_pri_high.gif);
}

*.i_pri_low
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_pri_low.gif);
}

*.i_pri_med
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_pri_med.gif);
}

*.i_rate_corrupted
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_corrupted.gif);
}

*.i_rate_eyecancer
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_eyecancer.gif);
}

*.i_rate_unknown
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rate_unknown.gif);
}

*.i_recap
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_recap.gif);
}

*.i_rev
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_rev.gif);
}

*.i_seen
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_seen.gif);
}

*.i_seen_no
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_seen_no.gif);
}

*.i_seen_yes
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_seen_yes.gif);
}

*.i_state_all
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_all.gif);
}

*.i_state_deleted
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_deleted.gif);
}

*.i_state_mixed
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_mixed.gif);
}

*.i_state_oncd
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_oncd.gif);
}

*.i_state_onhdd
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_onhdd.gif);
}

*.i_state_release
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_release.gif);
}

*.i_state_shared
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_shared.gif);
}

*.i_state_unknown
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/state/anidb_state_unknown.gif);
}

*.i_uncensored
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_uncensored.gif);
}

*.i_vrs_1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_1.gif);
}

*.i_vrs_2
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_2.gif);
}

*.i_vrs_3
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_3.gif);
}

*.i_vrs_4
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_4.gif);
}

*.i_vrs_5
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/icon/anidb_vrs_5.gif);
}

*.i_ask
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/ask.gif);
}

*.i_back
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/back.gif);
}

*.i_logon
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_logon.gif);
}

*.i_logout
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_logout.gif);
}

*.i_profile
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_profile.gif);
}

*.i_punkt
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_punkt.gif);
}

*.i_search
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_search.gif);
}

*.i_signup
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_signup.gif);
}

*.i_suchen
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/button_suchen.gif);
}

*.i_down1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/down1.gif);
	width: 9px;
	height: 10px;
}

*.i_empty
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/empty.gif);
}

*.i_invalid
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/invalid.gif);
}

*.i_minus
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/minus.gif);
}

*.i_na
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/na.gif);
}

*.i_nodown1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/nodown1.gif);
	width: 9px;
	height: 10px;
}

*.i_none
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/none.gif);
}

*.i_nopic
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/nopic.gif);
}

*.i_noup1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/noup1.gif);
	width: 9px;
	height: 10px;
}

*.i_plus
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/plus.gif);
}

*.i_up1
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/up1.gif);
	width: 9px;
	height: 10px;
}

*.i_mybuddy
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/mybuddy.gif);
}

*.i_yourbuddy
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/yourbuddy.gif);
}

*.i_authmybuddy
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/buddywaiting.gif);
}

*.i_authyourbuddy
{
	background-image: url(http://www.anidb.net/css/anidbstyle/images/buddywaiting.gif);
}

#layout-nav
{
  display: block;
  height: 16em;
}

#layout-menu
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#layout-nav .usermenu
{
  position: absolute;
  top: 1em;
  left: 1em;
  border: 0px;
  width: 10em;
}
#layout-nav .usermenu:before
{
  font-size: 3em;
  content: "AniDB";
}
.usermenu > #newnotifies
{
  display: list-item;
  position: absolute;
  top: 3.5em;
  left: 20em;
  color: red;
  white-space: nowrap;
}
.usermenu > #newnotifies + .history
{
  position: absolute;
  top: 3.5em;
  left: 26em;
  color: red;
}
.usermenu > #newmessages
{
  display: list-item;
  position: absolute;
  top: 3.5em;
  left: 30em;
  color: red;
  white-space: nowrap;
}
.usermenu > .login
{
  display: block;
  position: relative;
}
.usermenu > .user
{
  display: block;
  position: absolute;
  white-space: nowrap;
  top: 3.6em;
  left: 4.5em;
}
.usermenu > .i_profile, .usermenu > .i_logout
{
  margin-top: 1px;
}
.usermenu > input[name="xuser"], .usermenu > input[name="xpass"]
{
  display: block;
  position: relative;
  width: 9.3em;
  border: 1px solid;
  margin-top: 1px;
  font-size: 1em;
  font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
  clear: both;
}
.usermenu > .logon
{
  display: block;
  position: relative;
  width: 42px;
  height: 12px;
  padding-top: 12px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  margin-top: 1px;
  background: transparent url(../icon/button_logon.gif) no-repeat top;
  border: 0px;
  content: "";
}
.usermenu > .i_signup
{
  display: block;
  position: relative;
  top: 0em;
  left: 0px;
  width: 42px;
  height: 12px;
  margin-top: 1px;
}
.usermenu > .remember
{
  display: block;
  position: absolute;
  top: 9.8em;
  left: 0.3em;
}

#layout-search
{
  display: block;
  position: relative;
  top: 2em;
  left: 11em;
  width: 43em;
}
#layout-search p, #layout-search form
{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#layout-search select.type
{
  position: relative;
  float: right;
  width: 5em;
  border: 1px solid;
  margin: 0 0 0 0;
}
#layout-search input.text
{
  width: 80%;
  border: 1px solid;
  margin: 0 0 0 0;
  float: left;
}
#layout-search input.submit
{
  font-size: 1.2em;
  text-transform: capitalize;
  margin: 0 0 0 0;
  float: right;
}



#layout-menu div.mainmenu
{
  display: block;
  position: relative;
  top: 0em;
  left: 11em;
  padding-bottom: 2em;
}
#layout-menu div.mainmenu > ul
{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  white-space: nowrap;
}
li.animelist
{
  display: block;
  position: absolute;
  top: 0.5em;
  left: 1em;
}
li.grouplist
{
  position: absolute;
  top: 0.5em;
  left: 7em;
  white-space: nowrap;
}
li.userlist
{
  position: absolute;
  top: 0.5em;
  left: 14em;
  white-space: nowrap;
}
li.producerlist
{
  position: absolute;
  top: 0.5em;
  left: 20em;
  white-space: nowrap;
}
li.genre
{
  position: absolute;
  top: 0.5em;
  left: 28.3em;
  white-space: nowrap;
}
li.genren:before
{
  content: "(";
}
li.genren
{
  display: block;
  position: absolute;
  top: 0.5em;
  left: 33.3em;
}
li.genren:after
{
  content: ")";
}
li.search
{
  position: absolute;
  top: 0.5em;
  left: 35.6em;
  white-space: nowrap;
}

li.main
{
  display: block;
  position: absolute;
  top: 5.8em;
  left: 0.3em;
}
li.report
{
  position: absolute;
  top: 5.8em;
  left: 3.7em;
}
li.latest
{
  position: absolute;
  top: 5.8em;
  left: 13.8em;
}
li.latestreviews
{
  position: absolute;
  top: 5.8em;
  left: 24.2em;
}
li.latestanimes
{
  position: absolute;
  top: 5.8em;
  left: 33.6em;
}

li.help
{
  display: block;
  position: absolute;
  top: 7em;
  left: 10em;
}
li.forum
{
  position: absolute;
  top: 7em;
  left: 17.7em;
}
li.reclinks
{
  position: absolute;
  top: 7em;
  left: 26.8em;
}

li.mylist, li.myplace, li.ed2kwatch, li.ed2kdump, li.mymessages, li.mynotifies, li.mywishlist,
li.myvotes, li.myreviews, li.mydbentries, li.mycreqs, li.up2date
{
  display: block;
  position: relative;
  left: 44.5em;
  top: 1em;
  width: 1em;
  white-space: nowrap;

}

#layout-content > h1
{
  display: block;
  width: 100%;
  background-color: #e5ecf9;
  border-top: 1px solid blue;

}

#layout-footer
{
	text-align: center;
}

#layout-footer p
{
	margin-bottom: 0;
}

#layout-footer:after
{
	content: "design by hrm"
}
#layout-content
{
  padding-left: 1em;
  padding-right: 1em;
}

.rightbar
{
  position: relative;
  top: -4em;
  float: right;
}


#layout-content div.main_all h4:first-letter
{
  text-transform: capitalize;
}

#layout-content div.main_all h4,
#layout-content div.main_edit h4
{
  color: blue;
  font-weight: bold;
  font-size: 1.6em;
  margin: 0;
        
}


#layout-content div.main_all div.rightbar
{
	top: 0em;
	width: 16em;
	clear: right;
	float: right;
	text-align: center;
}

#layout-content div.main_all div.rightbar p
{
	margin: 1.2em 0 0 0;
}

#layout-content div.main_all div.rightbar h3
{
	font-size: 100%;
	margin: 1.5em 0 0.4em 0;
}

#layout-content div.main_all div.rightbar ol
{
	margin: 0em 0 0.4em 0;
	padding: 0;
}

#layout-content div.main_all div.rightbar li
{
	list-style: none;
	text-align: left;
}

#layout-content div.main_all div.rightbar li span
{
	display: block;
	float: left;
	height: 100%;
	width: 4em;
	text-align: center;
}

#layout-content div.main_all div.rightbar li a
{
	display: block;
	margin-left: 4em;	
}


#layout-content div.main_all div.news
{
	margin: 0.3em 17em 0.3em 0.3em;
}

#layout-content div.main_all div.news h4
{
	padding: 0.1em;
}

#layout-content div.main_all div.news span.stamp:before
{
  content: "-------------------------------------------- ";
}



#layout-content div.main_all div.news span.stamp
{
	display: block;
	text-align: right;
	/*background-color: #969aa6;*/
	padding: 0.1em 1em 0.1em 0.1em;
}

#layout-content div.main_all div.news div
{
	margin: 0.1em 0.1em 3.1em 0.1em;
}

#layout-content div.main_edit
{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}

#layout-content div.main_edit label
{
	display: block;
	text-align: left;
	vertical-align: top;
	margin: auto;
	padding: 0.6em;
}

#layout-content div.main_edit label *
{
	display: block;
	margin-top: -1em;
	margin-left: 4em;
}

#layout-content div.main_edit textarea
{
	height: 30em;
	width: 90%;
}

#layout-content div.msg_all table,
#layout-content div.msg_all div.menu
{
	background-color: #ffffff;
	border-color: blue;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	margin: 0;
}

#layout-content div.msg_all div.menu
{
	float: right;
	width: 15em;
	margin-left: 4px;
	margin-right: 10%;
}

#layout-content div.msg_all table.messages
{
	border-collapse: collapse;
	width: auto;
	text-align: center;
	margin-top: 1px;
	margin-left: 3em;
}

#layout-content div.msg_all th,
#layout-content div.msg_all h4
{
	background-color: #e5ecf9;
	color: #000000;
	font-weight: normal;
	text-align: left;
	margin: 0;
	padding: 1px;
}

#layout-content div.msg_all div.menu ul
{
	padding: 0.1em 0.5em 1.3em 0.5em;
	margin: 0;
}

#layout-content div.msg_all div.menu li
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#layout-content div.msg_all div.menu li.refresh,
#layout-content div.msg_all div.menu li.sent,
#layout-content div.msg_all div.menu li.delsys
{
	margin-bottom: 1.2em;
}

#layout-content div.msg_all table.messages td.date
{
	white-space: nowrap;
}

#layout-content div.msg_all table.messages td.title
{
	text-align: left;
}

#layout-content div.msg_all table.messages td.state.old
{
	font-style: italic;
}

#layout-content div.msg_all table.messages td.state.new,
#layout-content div.msg_all table.messages td.type.sys
{
	font-weight: bold;
}
#layout-content div.image
{
  float: right;
  clear: none;

}

#layout-content div.data
{
  display: table;
  vertical-align: middle;
  padding-left: 7px;
  width: auto;
}


#layout-content div.anime_info div.data dt
{
	margin-top: 0.36em;
	margin-bottom: -1.2em;
	margin-right: 10em;
}

#layout-content div.anime_info div.data dt:after
{
	content: ": ";
}

#layout-content div.anime_info div.data dd
{
	min-height: 1.3em;
	overflow: hidden;
	margin-left: 10em;
}

#layout-content div.anime_info div.data dd.anirec
{
	overflow: visible;
}

#layout-content div.anime_info div.data dd.anirec a.i_help
{
	padding: 7px 8px 7px 12px;
}



#layout-content .anime_vote:before
{
  display: block;
  width: auto;
  content: "Vote";
  border-top: 1px solid blue;
  background-color: #e5ecf9;
}



#layout-content .anime_vote
{
  margin-top: 2em;
  margin-bottom: 5em;
  display: block;
  clear: both;

}


#layout-content div.anime_vote form
{
	margin-bottom: 0.5em;
}

#layout-content div.anime_vote form *
{
	margin: 0;
}

#layout-content div.anime_vote form label
{
	display: block;
}

/*#layout-content div.anime_info p.desc
{
	margin: 0.7em 0.3em 0.3em 0.3em;
}*/

#layout-content div.anime_vote form.permvote
{
	margin: 1.1em 0 1.1em 0;
}

#layout-content div.anime_vote form.tempvote
{
	width: 50%;
	margin: 1.1em 0.6em 1.1em 0;
	float: left;
}

#layout-content div.anime_vote form.tempvote div
{
	padding-right: 6px;
	float: right;
}

#layout-content div.anime_group,
#layout-content div.anime_mylist
{
  margin-top: 2em;
  margin-bottom: 5em;
  display: block;
}

#layout-content div.anime_group table,
#layout-content div.anime_mylist table
{
  margin-left: auto;
  margin-right: auto;
}

#layout-content div.anime_mylist th,
#layout-content div.anime_group th
{
	font-weight: normal;
  border-top: 1px solid blue;
  background-color: #e5ecf9;
}

#layout-content div.anime_mylist th.heading,
#layout-content div.anime_group th.info
{
	font-weight: bold;
	padding: 0.1em 0.9em 0.1em 0.9em;
}

#layout-content div.anime_mylist th.anime
{
	width: 30em;
	text-align: left;
}

#layout-content div.anime_mylist td.eps,
#layout-content div.anime_mylist td.seen
{
	padding: 0.1em 0.9em 0.1em 0.9em;
	text-align: center;
}

#layout-content div.anime_group th.group
{
	text-align: left;
}

#layout-content div.anime_group td
{
	text-align: center;
}

#layout-content div.anime_group td.lastep,
#layout-content div.anime_group td.cmts
{
	text-align: right;
}

#layout-content div.anime_group td.group,
#layout-content div.anime_group td.lastupdate
{
	text-align: left;
}

#layout-content div.anime_group td.state.complete,
#layout-content div.anime_group td.state.finished
{
	font-weight: bold;
}

#layout-content div.anime_group td.state.stalled
{
	font-style: italic;
}

#layout-content div.anime_table table
{
	width: 100%;
}

#layout-content div.anime_table th
{
	font-weight: normal;
	text-align: left;
}

#layout-content div.anime_table td
{
	height: 1.6em;
	padding: 0.1em 0.1em 0.1em 0.1em;
	vertical-align: middle;
}

#layout-content div.anime_table table.eplist
{
	padding: 0;
	margin-bottom: 15px;
}

#layout-content div.anime_table table.filelist
{
	padding: 2px 3px 15px 57px;
}

#layout-content div.anime_table tr.heading th
{
	padding: 4px 1px 7px 1px;
	border-bottom: blue 1px solid;
}

#layout-content div.anime_table tr.good td
{
	background-color: #6fc279;
}

#layout-content div.anime_table tr.depr td
{
	background-color: #999999;
}

#layout-content div.anime_table tr.genr td
{
	background-color: #eeeeee;
}

#layout-content div.anime_table td.epusers,
#layout-content div.anime_table td.files
{
	text-align: right;
}

#layout-content div.anime_table th.expand,
#layout-content div.anime_table td.expand,
#layout-content div.anime_table td.check,
#layout-content div.anime_table td.ed2k,
#layout-content div.anime_table td.fileaction
{
	text-align: center; /* Not actually much use, doesn't center block images */
}

#layout-content div.anime_table td.stat .i_icon
{
	float: left;
}

#layout-content div.anime_table td.stat .i_crc_yes
{
	margin-left: 3px;
}

#layout-content div.anime_table td.qual .i_icon
{
	margin-left: 0;
}

#layout-content div.anime_table td.title div
{
	float: right;
}

#layout-content div.anime_table .icoco .i_icon
{
	float: left;
	padding: 0px 2px 0px 2px;
}

#layout-content div.anime_table div.actions
{
	text-align: center;
	margin: auto;
}


#layout-content div.anime_edit
{
	text-align: center;
}

#layout-content div.anime_edit div
{
	padding-left: 19%;
	padding-right: 19%;
	margin-top: 1.2em;
}


#layout-content div.animelist_navtop,
#layout-content div.animelist_navbottom,
#layout-content div.animelist_actions
{
	text-align: center;
}

#layout-content div.animelist_navtop,
#layout-content div.animelist_navbottom
{
	padding: 1em 0 0.5em 0;
}

#layout-content div.animelist_list table
{
	margin-left: auto;
	margin-right: auto;
}

#layout-content div.animelist_list table th *.i_icon
{
	float: left;
}


#layout-content div.animelist_navtop ul,
#layout-content div.animelist_navbottom ul
{
	margin-bottom: 0.3em;
}

#layout-content div.animelist_navtop ul:before,
#layout-content div.animelist_navbottom ul:before
{
	content: "Jump to"
}


/* Default center is probably too zealous... */
#layout-content div.ep_info table
{
	margin-left: 0;
}

#layout-content div.ep_info th:after
{
	content: ": ";
}

#layout-content div.ep_info tr.anime > *,
#layout-content div.ep_info tr.misc > *,
#layout-content div.ep_info tr.desc > *
{
	padding-bottom: 2.3em;
}

#layout-content div.ep_vote form
{
	margin-bottom: 0.5em;
}

#layout-content div.ep_vote form *
{
	margin: 0;
}

#layout-content div.ep_vote form label
{
	display: block;
}
#layout-content div.dbstats_all
{
	padding-left: 9.6em;
	padding-right: 8em;
}

#layout-content div.dbstats_all table
{
  margin-left: auto;
  margin-right: auto;
}

#layout-content div.dbstats_all div.stat
{
	float: left;
	margin: 0.3em 0.1em 0.1em 0.3em;
	border-top: 1px blue ridge;
	width: 20em;
}

#layout-content div.dbstats_all div.actions
{
	clear: left;
	text-align: center;
}

#layout-content div.dbstats_all h3
{
	clear: left;
	font-size: 100%;
	text-align: center;
}

#layout-content div.dbstats_all h4
{
	background-color: #e5ecf9;
	color: #000000;
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	text-align: center;
	padding: 0.3em;
}

#layout-content div.dbstats_all div.stat ol
{
	margin: 0;
	padding: 0;
}

#layout-content div.dbstats_all div.stat li
{
	list-style: none;
	text-align: left;
}

#layout-content div.dbstats_all div.stat li span
{
	display: block;
	float: left;
	height: 100%;
	width: 5.2em;
	text-align: right;
	white-space: nowrap;
}

#layout-content div.dbstats_all div.stat li a
{
	display: block;
	margin-left: 6.8em;	
}
#layout-content div.genren_all
{
	text-align: center;
}

#layout-content div.genren_all div.categories
{
	width: 90%;
	margin: 1em auto 1em auto;
	text-align: left;
}

#layout-content div.genren_all div.controls
{
	text-align: center;
}

#layout-content div.genren_all a.i_icon
{
	position: relative;
	right: 18px;
	float: left;
	margin-right: -15px;
}

#layout-content div.genren_all li
{
	list-style: none outside;
	line-height: 14px;
}

#layout-content div.genren_all li span
{
	display: block;
}

#layout-content div.genren_all li.collapsed ul
{
	display: none;
}


#layout-content div.hint2_note
{
	text-align: center;
}

#layout-content div.hint2_hinter
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
}

#layout-content div.hint2_jscontrols
{
	float: right;
	padding: 0 0 0.5em 0;
}

#layout-content div.hint2_results
{
	clear: both;
}

#layout-content div.hint2_jscontrols h4
{
  border-top: 1px solid blue;
	background-color: #e5ecf9;
	color: #000000;
	font-weight: normal;
	margin: 0;
}

#layout-content div.hint2_jscontrols ul,
#layout-content div.hint2_jscontrols li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#layout-content div.hint2_hinter.jason form
{
	margin-right: 12em;
}

#layout-content div.hint2_hinter div.collapse *
{
	display: none;
}

#layout-content div.hint2_hinter *.g_note
{
	display: block;
}

#layout-content div.hint2_hinter.nonote *.g_note
{
	display: none;
}

#layout-content div.hint2_hinter h2
{
	font-size: 160%;
	margin: 0.5em 0 0 0;
}

#layout-content div.hint2_hinter li
{
	text-align: left;
}

#layout-content div.hint2_hinter label
{
	white-space: nowrap;
	line-height: 300%;
	padding: 0 0.3em 0 0.2em;
}

#layout-content div.hint2_hinter #Filter
{
	padding-bottom: 2em;
}

#layout-content div.hint2_hinter div.genre
{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0.5em;
	display: table;
}

#layout-content div.hint2_hinter div.genre label
{
	display: table-cell;
}

#layout-content div.hint2_hinter div.collapse div.genre
{
	display: none;
}

#layout-content div.hint2_hinter ol
{
	height: 8em;
	list-style: none;
	overflow: auto;
	padding: 0.8em;
	margin: 0;
	border: 2px inset white;
	background: white;
	width: 20em;
}

#layout-content div.hint2_hinter ol li
{
	list-style: none;
}

#layout-content div.hint2_hinter ol li input
{
	margin: 0.3em 0.3em 0 0;
}


#layout-content div.hint2_hinter label input
{
	width: 4em;
}

#layout-content div.hint2_hinter select input
{
	width: auto;
}

#layout-content div.latest
{
	text-align: center;
}

#layout-content div.latest table
{
	margin-left: auto;
	margin-right: auto;
	min-width: 80%;
	padding: 1em;
	clear: both;
}

#layout-content div.latest table td,
#layout-content div.latest table th
{
	padding: 2px;
	text-align: left;
}

#layout-content div.latest table td.weight,
#layout-content div.latest table td.addedby,
#layout-content div.latest table td.action
{
	text-align: center;
}

#layout-content div.latest table td.size,
#layout-content div.latest table td.rating
{
	text-align: right;
}

#layout-content div.latest table td.date
{
	white-space: nowrap;
}

#layout-content div.latest ul.type
{
	float: left;
}

#layout-content div.latest ul.type li:first-child:before
{
	content: "type: ";
	font-style: normal;
}
#layout-content div.latestanimes_form
{
	clear: both;
}

#layout-content div.latestanimes_form a
{
	margin: 1.3em;
}

#layout-content div.latestanimes_form form
{
	margin: 1em 0;
	text-align: center;
}

#layout-content div.latestanimes_form div
{
	display: inline;
}

#layout-content div.latestanimes_form form input.year
{
	width: 2.5em;
}


#layout-content div.latestanimes_anime
{
	clear: left;
	padding-left: 10%
}

#layout-content div.latestanimes_anime img
{
	display: block;
	width: 15em;
	margin: -2em 1em 1em 1em;
	float: left;
}

#layout-content div.latestanimes_anime h3
{
	margin: 0.5em 0 0.5em 17.3em;
	font-size: 100%;
	font-weight: inherit;
}

#layout-content div.latestanimes_anime h3 a
{
	font-size: 120%;
	font-weight: bolder;
}

#layout-content div.latestanimes_anime th:after
{
	content: ":";
}


#layout-content div.latestanimes_footer 
{
	text-align: center;
}

#layout-content div.latestreviews_all ul.g_navlist
{
	text-align: right;
}

#layout-content div.latestreviews_all ul.g_navlist:before
{
	content: "show: ";
}

#layout-content div.latestreviews_all ul li:first-child:before
{
	content: "";
}

#layout-content div.latestreviews_all table
{
	margin: 0 auto;
}

#layout-content div.latestreviews_all table th
{
	padding: 2px;
	font-weight: normal;
	text-align: left;
}

#layout-content div.latestreviews_all table td
{
	padding: 2px;
}

#layout-content div.latestreviews_all td.date
{
	white-space: nowrap;
}

#layout-content div.latestreviews_all div.footer 
{
	text-align: center;
}

#layout-content div.latestreviews_all div.filter
{
	margin: 1em 0 1em 0;
}

#layout-content div.latestreviews_all h4
{
	display: inline;
}

#layout-content div.mynotifies_all
{
	text-align: center;
}

#layout-content div.mynotifies_all label
{
	display: block;
}

#layout-content div.mynotifies_all table
{
  margin-left: auto;
  margin-right: auto;
}

#layout-content div.myvotes_all
{
	text-align: center;
}

#layout-content div.myvotes_all table
{
	margin-left: auto;
	margin-right: auto;
	min-width: 80%;
	padding: 1em;
	clear: both;
}

#layout-content div.myvotes_all table td,
#layout-content div.myvotes_all table th
{
	padding: 2px;
	text-align: left;
}

#layout-content div.myvotes_all table td.date,
#layout-content div.myvotes_all table td.reviewed,
#layout-content div.myvotes_all table td.action
{
	text-align: center;
}

#layout-content div.myvotes_all table td.reviewed.no a
{
	color: #EE0000;
	text-transform: uppercase;
}

#layout-content div.myvotes_all table tr.high td
{
	background-color: #6FC279;
}

#layout-content div.myvotes_all table tr.low td
{
	background-color: #BF6269;
}

#layout-content div.myvotes_all table td.vote,
#layout-content div.myvotes_all table td.epno
{
	text-align: right;
}

#layout-content div.myvotes_all table th,
#layout-content div.myvotes_all table td.date
{
	white-space: nowrap;
}

#layout-content div.myvotes_all ul.type
{
	float: left;
}

#layout-content div.myvotes_all ul.type li:first-child:before
{
	content: "type: ";
	font-style: normal;
}

#layout-content div.stats_all
{
	padding-left: 9.6em;
	padding-right: 8em;
}

#layout-content div.stats_all div.stat
{
	float: left;
	margin: 0.3em 0.1em 0.1em 0.3em;
	border-top: 1px blue solid;
	min-width: 15em;
}

#layout-content div.stats_all div.actions
{
	clear: left;
	text-align: center;
}

#layout-content div.stats_all h4
{
	background-color: #e5ecf9;
	color: #000000;
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	text-align: center;
	padding: 0.3em;
}

#layout-content div.stats_all div.stat ol
{
	margin: 0;
	padding: 0;
}

#layout-content div.stats_all div.stat li
{
	list-style: none;
	text-align: left;
}

#layout-content div.stats_all div.stat li span
{
	display: block;
	float: left;
	height: 100%;
	width: 5.2em;
	text-align: right;
	white-space: nowrap;
}

#layout-content div.stats_all div.stat li a
{
	display: block;
	margin-left: 6.8em;	
}

html
{
        background: white;
}

a:hover
{
  text-decoration: underline;
}
a.i_icon:hover, a.i_inline:hover, a.i_button:hover
{
	text-decoration: none;
}

table
{
	border: 0;
	border-collapse: separate;
}

tr.g_odd,
li.g_odd,
span.g_odd
{
	background-color: #e5ecf9;
}

/* Transitional Hacks */

*[bgcolor="#b0b0b0"], *[bgcolor="#969aa6"]
{
	background-color: #e5ecf9;
}

*[bgcolor="#494D59"]
{
	background-color: #3366cc;
	color: white;
}