#dhtmltooltip{
	position: absolute;
	left: -300px;
	width: 150px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	font-size: x-small;
}

#dhtmlpointer{
	position: absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}