th
{
	background-color:#C3D9FF;
}

span.link,
a,
th a
{
	color:#105289;
}

#layout-main a.filter
{
	color:darkblue;
}

table
{
	border-top-color:blue;
}

#layout-search
{
	background-image:url(images/logo_small.gif);
	background-repeat:no-repeat;
}

#layout-main > h1
{
	background-color:#ECF4FD;
	border-top-color:blue;
}

#layout-menu > li ul
{
	background-color:#FFF;
	border-color:#000;
}

#layout-tabs ul.main-tabs > li.selected
{
	background-color:#FFFFFF;
	border-bottom-color:#FFFFFF;
}

#layout-main div.pagination span a
{
	background-color:#FFFFFF;
	color:#000000;
	border-color:#B4BAC0;
}

#layout-main div.pagination span strong
{
	background-color:#E5ECF9;
	color:#000000;
	border-color:#4692BF;
}

#layout-main div.tagcloud
{
	background-color:#ECF4FD;
	border-color:#D1D7DC;
}

#layout-main ul.g_list li,
#layout-tabs ul.main-tabs > li
{
	border-color:#C9D7F1;
}

#layout-nav div.menu_hr
{
	border-top-color:#c9d7f1;
}

#layout-main table tr.header
{
	background-color:#c3d9ff;
}

#layout-main div.export_all div.exportblock div.inner,
#layout-main div.export_all div.exportblock .rbottom *,
#layout-main div.export_all div.exportblock .rtop *
{
	background-color:#CADCEB;
}

#layout-main div.desc
{
	background-color:#ECF4FD;
	border-color:#C9D7F1;
}

#layout-main div.profile_all div.tabbed_pane div.general table tr
{
	background-color:inherit;
}

#layout-main div.animeatt_reviews div.review div.text,
#layout-main div.g_timedentry div.body
{
	background-color:#F4F9FD;
}

html,
tr,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.forum ul.topics li.row
{
	background-color:#FFFFFF;
}

span.link:hover,
a:hover,
#layout-main a.filter:hover,
#layout-main div.pagination span a:hover
{
	color:#AA0000;
}

tr.g_odd,
li.g_odd,
span.g_odd,
#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.selected,
#layout-tabs ul.main-tabs > li,
#layout-main div.g_timedentry h4,
#layout-main div.tabbed_pane div.body,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li:hover,
#layout-main div.tabbed_pane_cfg ul.tabs li.selected,
#layout-main div.forum div.poll div.inner,
#layout-main div.forum div.poll .rbottom *,
#layout-main div.forum div.poll .rtop *,
#layout-main div.forum div.events div.inner,
#layout-main div.forum div.events .rbottom *,
#layout-main div.forum div.events .rtop *,
#layout-main div.forum div.comment div.inner,
#layout-main div.forum div.comment .rbottom *,
#layout-main div.forum div.comment .rtop *,
#layout-main div.forum ul.topics li.g_odd,
#layout-main div div.addrelform table tr,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.profile_all div.default_languages table tr,
#layout-main div.userpage_all > div.g_section > h4
{
	background-color:#ECF4FD;
}

#layout-main div.userpage_all div.blog div.g_timedentry span.stamp a
{
	color:#999999;
}

#layout-main div.userpage_all div.blog div.g_timedentry span.stamp
{
	border-top-color:#C9D7F1;
	color:#999999;
}

#layout-main div.anime_all div.data table.relationlist tr
{
	background-color: inherit;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
	background-color: #6193FF;
	border-bottom-color: #6193FF;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
	border-bottom-color: #6CF06C;
}

#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
	background-color:#C3D8FF;
	border-bottom-color: #C3D8FF;
}

#layout-main tr.header th.sortable:hover
{
	background-color: #D5E2F7;
	color: #000000;
}