*.i_plus
{
	background-image: url(../icons/blue/plus.gif);
}

*.i_minus
{
	background-image: url(../icons/blue/minus.gif);
}

*.i_forum_link {
  background-image:url(../icons/blue/forum_link.gif);
}

*.i_help {
  background:transparent url(../icons/blue/ask2.gif) no-repeat scroll right center;
}

*.i_comment_add {
background:transparent url(../icons/blue/comment_add.gif) no-repeat scroll 0 50%;
}

*.i_topic_add {
background-image:url(../icons/blue/topic_add.gif);
}

*.i_topic_history {
background-image:url(../icons/blue/topic_history.gif);
}

*.i_topic_delete {
background-image:url(../icons/blue/topic_delete.gif);
}

*.i_topic_move {
background-image:url(../icons/blue/topic_move.gif);
}

*.i_comment_revisions {
background-image:url(../icons/blue/comment_revisions.gif);
}

*.i_comment_move {
background-image:url(../icons/blue/comment_move.gif);
}

*.i_topic_lock {
background-image:url(../icons/blue/topic_lock.gif);
}

*.i_comment_edit {
background-image:url(../icons/blue/comment_edit.gif);
}

*.i_comment_quote {
background-image:url(../icons/blue/comment_quote.gif);
}

*.i_comment_delete {
background-image:url(../icons/blue/comment_delete.gif);
}