/*------------------------------------
    AniDB CSS - Zakura - Fixed Menu
		
    zakura.css: www.zakness.com
    this code by ricce
-------------------------------------*/

@import "../sub/zakura/main.css";

#layout-nav {
	position: fixed;
	top: 0px;
	width: 100%;
}

#layout-content {
	padding-top: 0;
	margin-top: 160px;
	background: transparent;
}

#layout-footer p:after {
	content: ". Design by zakness. (Fixed menu by ricce)"
}
