#layout-menu li[title="Account"] {
	visibility:hidden;
}

#layout-menu li.sub-menu #menu-account {
	margin:0; padding:0;
	width:100%; height:24px;
	left:0; top:0;
	position:absolute; visibility:visible; overflow:hidden;
	background:#1d1d1d;
	border-bottom:1px solid #666;
	font-size:13px;
}
	#layout-menu li.sub-menu #menu-account li {
		float:left;
		display:inline;
		background:transparent none;
		border:none;
		font-size:10px;
	}
	#layout-menu li.sub-menu #menu-account li a,
	#layout-menu li.sub-menu #menu-account li a:active,
	#layout-menu li.sub-menu #menu-account li a:visited,
	#layout-menu li.sub-menu #menu-account li a:hover {
		margin:2px 0 0px 10px; padding:3px 4px 3px 24px;
		display:block;
		color:#ababab;
		border:none;
	}
	#layout-menu li.sub-menu #menu-account li a:hover {
		color:#dbdbdb;
	}
		#layout-menu li.sub-menu #menu-account li#user-name a {
			background-image:url(images/bar/house.png);
			background-repeat:no-repeat;
			background-position:4px center;
		}
		#layout-menu li.sub-menu #menu-account li#alert-msg a {
			background-image:url(images/bar/letter.png);
			background-repeat:no-repeat;
			background-position:4px center;
		}
		#layout-menu li.sub-menu #menu-account li#alert-news a {
			background-image:url(images/bar/letter.png);
			background-repeat:no-repeat;
			background-position:4px center;
		}
		#layout-menu li.sub-menu #menu-account li#alert-notif span {
			margin:2px 0 0 10px; padding:3px 4px 3px 24px;
			display:block;
			color:#ABABAB;
			background-image:url(images/bar/bell.png);
			background-repeat:no-repeat;
			background-position:4px center;
		}
			#layout-menu li.sub-menu #menu-account li#alert-notif span a {
				margin:0 !important; padding:0 !important;
				display:inline !important;
			}
			#layout-menu li.sub-menu #menu-account li span a#newnotifies:before { content:"Notifies: "; }
			#layout-menu li.sub-menu #menu-account li span a.history:before { content:"("; }
			#layout-menu li.sub-menu #menu-account li span a.nextnotify:after { content:")"; }
		#layout-menu li.sub-menu #menu-account li#user-profile a {
			background-image:url(images/bar/tick.png);
			background-repeat:no-repeat;
			background-position:4px center;
		}
		#layout-menu li.sub-menu #menu-account li#user-logout a {
			background-image:url(images/bar/lock.png);
			background-repeat:no-repeat;
			background-position:4px center;
		}
	
	#layout-menu li.sub-menu #menu-account li a span {
		padding:0px;
		display:block;
		border-style:none;
	}
