#layout-main div.profile_all h4.header {
	display:block;
}
#layout-main div.profile_all div.g_section.preferences div.tabbed_pane { }
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane ul.tabs {
		padding:0 20px 0 0;
		position:relative; top:26px;
		text-align:right;
	}
		#layout-main div.profile_all div.g_section.preferences div.tabbed_pane ul.tabs li {
			margin:0 4px 0 0; padding:4px 8px;
			display:inline-block;
		}
		#layout-main div.profile_all div.g_section.preferences div.tabbed_pane ul.tabs li.selected {
			color:#eee; background:#393634;
			text-align:right;
		}
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane div.body div#tab1_pane form div.css_style > h4,
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane div.body div#tab2_pane form > h4,
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane div.body div#tab3_pane form > h4,
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane div.body div#tab4_pane div.g_section.passwords form > h4,
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane div.body div#tab5_pane form div.detailed > h4,
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane div.body div#tab6_pane form > h4,
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane div.body div#tab7_pane form > h4,
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane div.body div#tab8_pane > h4 {
		margin:0 0 30px;
		position:relative; top:-30px;
	}

