#layout-main div.profile_all div.g_section.preferences div.tabbed_pane { }
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane ul.tabs {
		padding:0 20px 0 0;
		position:relative; top:26px;
		text-align:right;
	}
		#layout-main div.profile_all div.g_section.preferences div.tabbed_pane ul.tabs li {
			margin:0 4px 0 0; padding:4px 8px;
			display:inline-block;
		}
		#layout-main div.profile_all div.g_section.preferences div.tabbed_pane ul.tabs li.selected {
			color:#eee; background:#393634;
			text-align:right;
		}
	#layout-main div.profile_all div.g_section.preferences div.tabbed_pane div.body h4 {
		margin:0 0 30px;
		position:relative; top:-30px;
	}
