#layout-content,
#layout-nav
{
	margin-left:13.2em;
	padding-left:1em;
}

#layout-nav
{
	margin-top:2.3em;
}

#layout-main
{
	margin-left:0;
}

#layout-main div.main_all div.rightbar
{
	margin-top:-24em;
}

#layout-main h1.main
{
	margin-right:12.5em;
}

#layout-main h1.main,
#layout-main div.main_all
{
	display:block;
}

#layout-menu
{
	display:block;
	margin-left:-13em;
	margin-top:-.1em;
	padding-left:1em;
	padding-right:1em;
	padding-top:1em;
	position:relative;
	width:10em;
}

#layout-menu > li
{
	display:block;
	float:none;
	padding-left:0;
	padding-right:0;
}

#layout-menu > li ul
{
	display:block;
	margin-left:0;
	padding:0;
	position:relative;
}

#layout-menu li.sub-menu
{
	display:block;
	margin-bottom:1em;
	padding:2px 0;
}

#layout-menu li.sub-menu ul li
{
	padding:0 8px;
}

#layout-nav div.menu_hr,
#layout-menu span.tab
{
	display:none;
}

#layout-search
{
	margin-left:15em;
}

#layout-tabs
{
	margin:0.2em 0.3em;
}

#layout-hint + #layout-nav + #layout-content #layout-tabs
{
	margin:1.6em 0.3em;
}

#layout-hint + #layout-nav #layout-menu
{
	margin-top: 0;
}