#layout-content
{
	border-bottom:1px solid #C9D7F1;
	border-left:1px solid #C9D7F1;
	border-top:1px solid #C9D7F1;
}

#layout-nav
{
	border-left:1px solid #C9D7F1;
}

#layout-menu > li ul
{
	border:none;
}

#layout-menu li.sub-menu
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px dotted #C9D7F1;
	border-radius:5px;
}