#layout-menu
{
	font-size:1.1em;
}

#layout-menu li.sub-menu
{
	font-size:1em;
}
#layout-tabs
{
	font-size:1em;
}

#layout-nav div.search a.advsearch
{
	font-family:arial,sans-serif;
	text-decoration:underline;
	text-transform:capitalize;
}

#layout-menu li.sub-menu ul li a
{
	text-transform:capitalize;
}
