body.nonav
{
	background-color:#C8CACE;
	height:100%;
}

span.link,
a:visited,
a:active,
a:link
{
	color:#105289;
	text-decoration:none;
}

span.link:hover,
a:hover
{
	color:#AA0000;
}

#layout-main div.news h4,
#layout-main div.main_all div.rightbar h4
{
	background-color:#494d59;
	color:#bbbbbb;
	padding:2px;
}

#layout-main div.cmt_all div.comment h4
{
	background-color:#969aa6;
}

#layout-menu a:link,
#layout-menu a:visited
{
	color:white;
}

#layout-menu a:active
{
	color:#FFAA55;
}

option /*opera*/
{
	color:#CCCCCC;
}

input[size="10"]
{
	width:6em;
}

input[size="60"]
{
	width:36em;
}

#layout-main div.news p.comment,
#layout-main div.news p.comment a,
#layout-main div.news div.newsitem h4 a
{
	color:#C0C0C0;
}

#layout-main div.tabbed_pane div.body
{
	background-color:#b8bac0;
}

#layout-main div.tabbed_pane ul.tabs li
{
	background-color:#D3D5D9;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	background:#b8bac0;
}

#layout-content
{
	border-bottom-color:#666666;
	border-left-color:#666666;
	border-top-color:#666666;
}

#layout-nav
{
	border-left-color:#666666;
}

#layout-main > h1
{
	background-color:#34394D;
	border-top-color:#DDDDDD;
	color:#CCCCCC;
}

#layout-menu li.sub-menu ul li:hover
{
	background-color:#666666;
}

#layout-main div.g_definitionlist tr th,
tr + tr td,
#layout-main div div.explanation div.description dl + dl,
#layout-main div.report_all div.body ul li + li,
#layout-main div.g_definitionlist tr th
{
	border-top-color:#CCCCCC;
}

#layout-main div.tagcloud,
#layout-main div.desc
{
	background-color:#B8BAC0;
	border-color:#9A9CA1;
}

#layout-main table tr.header
{
	background-color:#999999;
}

table
{
	border-top-color:#DDDDDD;
}

#layout-main div.animeatt_all div.review > h4
{
	background-color:#969AA6;
	border-top-color:#DDDDDD;
	color:#EEEEEE;
}

span.test,
button,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
input[type="button"],
input[type="submit"]
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#34394D;
	border:1px solid #34394D;
	border-radius:5px;
	color:#FFFFFF;
	padding:3px 5px;
}

span.test:hover,
button:hover,
#layout-main ul.g_list li.selected,
#layout-main ul.g_list li.selected:hover,
#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.g_odd:hover,
input[type="button"]:hover,
input[type="submit"]:hover
{
	background-color:#C8CACE;
	border:1px solid #34394D;
	color:#000000;
}

#layout-main div.pagination span a
{
	background-color:#ECEDEE;
	color:#5C758C;
}

#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong
{
	background-color:#8B8F9B;
	color:#FFFFFF;
}

#layout-main div.mylist_all td.stats,
#layout-main div.mylist_all td.rating,
#layout-main div.mylist_all td.vote
{
	border-left-color:#CCCCCC;
}

html,
tr,
#layout-menu,
#layout-main *.g_odd *.g_odd,
#layout-main *.g_odd *.g_odd *.g_odd *.g_odd,
#layout-tabs ul.main-tabs li.selected,
#layout-tabs ul.main-tabs li:hover
{
	background-color:#C8CACE;
}

#layout-main div.anime_all div.mylist th,
#layout-main tr.g_odd,
#layout-main li.g_odd,
#layout-main span.g_odd,
#layout-main *.g_odd *.g_odd *.g_odd,
#layout-main *.g_odd *.g_odd *.g_odd *.g_odd *.g_odd,
#layout-main div.news div.newsitem span.stamp
{
	background-color:#B0B0B0;
}

#layout-tabs ul.main-tabs li,
#layout-menu > li ul,
#layout-menu li.sub-menu
{
	background-color:#34394D;
}

#layout-tabs ul.main-tabs li a,
#layout-main ul.g_list li a
{
	color:#FFFFFF;
}

#layout-tabs ul.main-tabs li.selected a,
#layout-tabs ul.main-tabs li:hover a,
#layout-main ul.g_list li:hover a
{
	color:#000000;
}

#layout-search input,
#user-xname input,
#user-xpass input,
#user-xname input,
#user-xpass input
{
	background-color:#34394d;
	color:#CCCCCC;
	font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size:130%;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="checkbox"]
{
	background-color:#34394D;
	border:#C8CACE 1px solid;
	color:#CCCCCC;
	font-family:Arial,Verdana, Tahoma, Helvetica, sans-serif;
	font-size:130%;
}

#layout-main div.export_all div.exportblock div.inner,
#layout-main div.export_all div.exportblock .rbottom *,
#layout-main div.export_all div.exportblock .rtop *,
#layout-main div.main_all div.register div.inner,
#layout-main div.main_all div.register .rbottom *,
#layout-main div.main_all div.register .rtop *
{
	background-color:#A9ABB1;
}

th,
#layout-main div.profile_all div.default_languages table tr,
#layout-main div div.addrelform table tr
{
	background-color:inherit;
}