#layout-search div.search
{
	margin-left:36em;
	margin-top:1.9em;
}

#layout-search
{
	margin-left:13.5em;
	height:65px;
}

#layout-nav div.search a.advsearch
{
	left:800px;
	top:23px;
}

#layout-tabs
{
	margin:8em 0.3em;
}

#layout-nav
{
	height:11em;
	padding-bottom: 0;
}