#layout-search div.search
{
	margin-left:26em;
	margin-top:1.9em;
	width:44em;
}

#layout-search
{
	margin-left:13.5em;
	height:65px;
}

#layout-tabs
{
	margin:7.5em 0.3em;
}

#layout-nav
{
	height:10.5em;
	padding-bottom: 0;
}

#layout-search input.submit
{
	width:80px;
}

#layout-nav div.search a.advsearch
{
	left:680px;
	top:25px;
	width:83px;
}

#layout-main div.filter_menu span.actions.old input
{
	margin-top:3px;
}