#layout-main div.forum div.g_bubble.header,
#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.events,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box,
.g_bubble
{
	border:5px solid #595654;
	font-size: 90%;
}

#layout-main div.forum div.g_bubble.header,
#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.events,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box,
.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble
{
	background-color: #F2F8F6;
}

.g_bubble,
.g_bubble .g_bubble  .g_bubble
{
	background-color: #E4EAE8;
}