#layout-main .g_definitionlist {
	margin:0 0 10px;
	color:#333; background:transparent none;
	border-left:5px solid #393634;
	font-size:0.85em;
	text-align:left;
}
	#layout-main .g_definitionlist table {
		width:100% !important;
		border:none;
	}
		#layout-main .g_definitionlist table caption {
			padding:5px 7px 5px 14px;
			color:#eee; background:#393634;
			font-size:1.3em; font-weight:normal;
			text-align:left;
		}
		#layout-main .g_definitionlist table tr,
		#layout-main .g_definitionlist table tr.g_odd {
			background:transparent none;
			border:none; border-bottom:1px solid #dbdbdb;
		}
			#layout-main .g_definitionlist table tr th {
				padding:2px 8px 2px 14px;
				border:none;
			}
			#layout-main .g_definitionlist table tr td {
				padding:2px 8px 2px 8px;
				border:none;
			}
