#layout-main .g_section {
	margin:0 0 10px;
	color:#333;
	text-align:left;
}
	#layout-main .g_section h4 {
		padding:5px 7px 5px 14px;
		color:#eee; background:#393634;
		font-size:1.1em; font-weight:normal;
		text-align:left;
	}
		#layout-main .g_section h4.collapsed span {
			text-decoration:none;
		}
