#tagsearch { z-index:5000; }
#layout-search {
	margin-left:-265px; padding:0;
	width:250px; height:24px;
	z-index:5000;
	left:100%;top:0;
	position:absolute; float:right;
}
	#layout-search form {
		margin:0; padding:0;
	}
	#layout-search form.random,
	#layout-search a.advsearch,
	#layout-search b.rtop,
	#layout-search b.rbottom {
		display:none;
	}
	#layout-search form select {
		margin:0; padding:0;
		width:82px;
		float:left;
		color:#dbdbdb; background:#333;
		border:1px solid #666;
		font-size:10px;
		line-height:15px;
	}
	#layout-search form input {
		margin:0 0 0 4px; padding:1px 0;
		width:137px;
		display:inline; float:left;
		color:#dbdbdb; background:#333;
		border:1px solid #666;
		font-size:10px;
		line-height:15px;
	}
	#layout-search form input[type="hidden"] {
		display:none;
	}
	#layout-search form input.submit {
		margin:0; padding:0;
		width:16px; height:17px;
		overflow:hidden;
		background:transparent url(images/bar/arrow.png) no-repeat center center;
		border-left:none;
		text-indent:-5000px;
	}
