#layout-main table {
	color:#333;
	border-collapse:collapse;
}
	#layout-main table tr.header {
		background:#333;
		border:none;
		border-left:1px solid #333;
		border-right:1px solid #333;
	}
		#layout-main table tr.header th {
			padding:5px;
			color:#eee;
			font-size:0.8em; font-weight:bold;
			text-align:left;
			
		}
		#layout-main table tr.header th.c_set,
		#layout-main table tr.header th.c_setlatin,
		#layout-main table tr.header th.sortable {
			color:#dbdbdb; background-position:right center;
			cursor:pointer;
		}
		#layout-main table tr.header th.c_set:hover,
		#layout-main table tr.header th.c_setlatin:hover,
		#layout-main table tr.header th.sortable:hover {
			color:#ababab; background-color:#444;
		}
			#layout-main table tr.header th a {
				margin:-5px; padding:5px;
				display:block;
				color:#dbdbdb; background-position:right center;
			}
			#layout-main table tr.header th a:hover {
				color:#ababab; background-color:#444;
			}
	#layout-main table tr {
		background:#f2f8f6;
		border-bottom:1px solid #cbcbcb;
		border-left:1px solid #cbcbcb;
		border-right:1px solid #cbcbcb;
	}
	#layout-main table tr:first-child {
		border-top:1px solid #cbcbcb;
	}
	#layout-main table tr.g_odd {
		background:#e4eae8;
	}
		#layout-main table tr td {
			padding:3px;
			font-size:11px;
		}
#layout-main table tr.mylist {
	background:#e6ffe6;
}
#layout-main table tr.g_odd.mylist {
	background:#c7ffc7;
}
#layout-main table tr.deprecated {
	background:#ffe6e6;
}
#layout-main table tr.g_odd.deprecated {
	background:#ffc7c7;
}
