*.i_comment_add
{
	width: 72px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(http://static.anidb.net/css/icons/orange/comment_add.png);
}

*.i_review_add
{
	width: 61px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(http://static.anidb.net/css/icons/orange/review_add.png);
}

*.i_review_add
{
	width: 61px;
	height: 12px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(http://static.anidb.net/css/icons/orange/review_add.png);
}

*.i_top
{
	width: 11px;
	height: 11px;
	margin: 5px;
	background:transparent none no-repeat scroll 0pt;
	background-image: url(../../../images/icon_back_top.gif);
}

*.i_comment_info
{
	width: 15px;
	height: 12px;
	margin: 3px;
	background-image: url(http://static.anidb.net/css/icons/orange/comment_info.gif);
}

*.i_comment_quote
{
	width: 40px;
	height: 12px;
	margin: 3px;
	background-image: url(http://static.anidb.net/css/icons/orange/comment_quote.gif);
}

*.i_comment_delete
{
	width: 45px;
	height: 12px;
	margin: 3px;
	background-image: url(http://static.anidb.net/css/icons/orange/comment_delete.gif);
}

*.i_comment_creq
{
	width: 94px;
	height: 12px;
	margin: 3px;
	background-image: url(http://static.anidb.net/css/icons/orange/comment_creq.gif);
}

*.i_comment_edit
{
	width: 32px;
	height: 12px;
	margin: 3px;
	background-image: url(http://static.anidb.net/css/icons/orange/comment_edit.gif);
}

/*to center the paginationbar vertically*/
div.pagination
{
	margin-top:0.66em;
}

/*exception for this*/
#layout-main div.news_all div.news div.topic_actions div.pagination
{
	margin-top:0em;
}
