*.i_comment_add
{
	background-image: url(../../../images/comment_add.png);
}

*.i_comment_delete
{
	background-image: url(../../../images/comment_delete.png);
}

*.i_comment_deleterequest
{
	background-image: url(../../../images/comment_deleterequest.png);
}

*.i_comment_edit
{
	background-image: url(../../../images/comment_edit.png);
}
