a:hover
{
	text-decoration:underline;
}

a.i_icon:hover,
a.i_inline:hover,
a.i_button:hover
{
	text-decoration:none;
}

#layout-search input.submit
{
	text-transform:capitalize;
}

#layout-search input.text,
#layout-search input.submit,
#layout-menu > li,
#layout-tabs
{
	font-size:1.2em;
}

#layout-main ul.g_list li,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs li,
#layout-search select,
#layout-main div.report_all div.body ul li
{
	font-size:1.1em;
}

#layout-main div.userpage_all div.blog div.g_timedentry h4
{
	font-size:1.4em;
}

#layout-main div.userpage_all div.blog div.g_timedentry span.stamp
{
	font-size:.9em;
}