span.link,
a,
th a,
#layout-main div.main_all div.header div.account ul.tabs li.signup a
{
	color: #105289;
}

#layout-main a.filter
{
	color: darkblue;
}

#layout-search
{
	background-image: url(images/logo_small.gif);
	background-repeat: no-repeat;
}

#layout-main > h1
{
	background-color: #ECF4FD;
	border-top-color: blue;
}

#layout-menu > li ul
{
	background-color: #FFFFFF;
	border-color: #000000;
}

#layout-main div.pagination span a
{
	background-color: #FFFFFF;
	color: #000000;
	border-color: #B4BAC0;
}

#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong
{
	background-color: #E5ECF9;
	color: #000000;
	border-color: #4692BF;
}

#layout-nav div.menu_hr
{
	border-top-color: #c9d7f1;
}

#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4,
#layout-main table tr.header,
#layout-main div.anime_all div.info div.caststaff div h4,
#layout-main div.main_all div.rightbar h4,
th
{
	background-color: #c3d9ff;
}

#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box
{
	background-color: #CADCEB;
}

#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.row:hover,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row:hover,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover
{
	background-color:#CBD6DE;
}

.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble
{
	background-color: #F4F9FD;
}

#layout-tabs ul.main-tabs > li:hover,
#layout-tabs ul.main-tabs > li.selected,
#layout-main div.main_all div.header div.account ul.tabs li,
#layout-main div.main_all div.header div.account ul.tabs li.signup:hover
{
	border-bottom-color: #FFFFFF;
}

span.link:hover,
a:hover,
.g_button a:hover,
.g_bubble .name-colored,
#layout-main a.filter:hover,
#layout-main div.pagination span a:hover,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries a.name-colored,
#layout-main div.main_all div.header div.account ul.tabs li.signup:hover a,
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum a.topictitle:hover,
#layout-main div.forum a.username-coloured
{
	color: #AA0000;
}

#layout-main div.userpage_all div.blog div.g_timedentry span.stamp a
{
	color: #999999;
}

#layout-main div.userpage_all div.blog div.g_timedentry span.stamp
{
	border-top-color: #C9D7F1;
	color: #999999;
}

#layout-main div.anime_all div.data table.relationlist tr,
#layout-main div.profile_all div.tabbed_pane div.general table tr
{
	background-color: inherit;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
	background-color: #6193FF;
	border-bottom-color: #6193FF;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
	border-bottom-color: #6CF06C;
}

#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
	background-color: #C3D8FF;
	border-bottom-color: #C3D8FF;
}

#layout-main tr.header th.sortable:hover
{
	background-color: #D5E2F7;
	color: #000000;
}

tr.g_odd,
li.g_odd,
span.g_odd,
.g_bubble,
.g_bubble .g_bubble  .g_bubble,
*.g_button a:hover,
#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.selected,
#layout-tabs ul.main-tabs > li,
#layout-main div.g_timedentry h4,
#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li:hover,
#layout-main div.tabbed_pane_cfg ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div div.addrelform table tr,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.profile_all div.default_languages table tr,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.main_all div.header div.account ul.tabs li.signup,
#layout-main div.forum div.g_bubble.comment
{
	background-color: #ECF4FD;
}

#layout-main div.anime_all div.info div.caststaff div table,
table
{
	border-top-color: blue;
}

*.g_button a,
html,
tr,
#layout-main div.forum ul.topics li.row,
#layout-tabs ul.main-tabs > li.selected,
#layout-tabs ul.main-tabs > li:hover,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.main_all div.header div.account ul.tabs li.signup:hover
{
	background-color: #FFFFFF;
}

#layout-main div.tabbed_pane ul.tabs li,
input[type="text"],
input[type="password"],
input.text,
textarea,
select,
#layout-tabs ul.main-tabs > li,
#layout-search select,
#layout-search input.text
{
	border-color: #C9D7F1;
}

.g_bubble,
*.g_button a,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
#layout-main div.avatar img,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4,
#layout-main div.anime_all div.info div.image img,
span.test
{
	border-color: #C9D7F1 #97AACC #97AACC #C9D7F1;
}

.g_bubble.stripe > div.data div.name,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.title
{
	border-color: #97AACC;
}

#layout-main div.main_all div.header div.latestnews div.posted,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries dl.profile dd
{
	color:#666666;
}

#layout-main div.main_all div.rightbar h4,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	color:#555555;
}

#layout-main div.addsimilaranime_all div.addsimilaranime_entries dl.profile dd strong
{
	color:#000000;
}

#layout-main div.main_all div.header div.account ul.tabs li
{
	border-top-color: #C9D7F1;
	border-left-color: #C9D7F1;
	border-right-color: #97AACC;
}

#layout-main div.forum div.g_bubble.navbar div.bottom
{
	border-color:#FFFFFF;
}

#layout-main div.forum div.events h2,
#layout-main div.forum div.poll h2
{
	color:#006699;
}

#layout-main div.forum div.g_bubble.threads
{
	background-color:#4992B6;
}