#layout-nav
{
	display:block;
	height:6em;
}

#layout-main
{
	margin-left:1em;
	margin-right:1em;
}

#layout-menu
{
	display:block;
	left:0;
	position:absolute;
	top:0;
	z-index:5;
}

#layout-search
{
	display:block;
	height:53px;
	left:0;
	margin-left:1em;
	position:absolute;
	top:3em;
	width:60em;
}

#layout-search p,
#layout-search form
{
	margin:0;
	padding:0;
}

#layout-search select.type
{
	float:right;
	margin:0;
	position:relative;
	width:5em;
}

#layout-search input.text
{
	float:left;
	margin:0;
	padding:4px;
	width:200px;
}

#layout-search input.submit
{
	float:right;
	margin:0;
	width:100px;
}

#layout-main > h1
{
	display:block;
	padding:4px;
	text-align:left;
}

#layout-footer p
{
	margin-bottom:0;
}

#layout-footer:after
{
	content:"design by hrm & deridiot inspired by google";
}

#layout-main h1.main,
#layout-main div.main_all
{
	display:none;
}

#layout-nav div.main_search
{
	height:110px;
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	position:relative;
	width:268px;
}

#layout-nav div.main_search div.search
{
	margin-left:-11em;
}

#anidb div.main_nav
{
	height:25em;
}

#layout-nav div.main_search input.text
{
	padding:3px;
}

#layout-nav div.main_search select
{
	padding:2px;
	margin-top: 7em;
}

#layout-nav div.main_search input.submit
{
	float:left;
	margin-left:6.5em;
	margin-top:.2em;
	width:150px;
}

#layout-menu > li ul
{
	display:none;
	padding:0;
	position:absolute;
	z-index:5;
	margin-left:-0.7em;
}

#layout-menu span.tab
{
	display:block;
	position:relative;
}

#layout-menu > li
{
	display:block;
	float:left;
	padding-left:.7em;
	padding-right:.7em;
}

#layout-nav div.menu_hr
{
	display:block;
	margin-top:2.5em;
}

#layout-search div.search
{
	margin-left:16em;
	margin-top:1.3em;
	width: 100%;
}

#layout-search div.search form
{
	text-align:left;
}

#layout-search input.text,
#layout-search input.submit
{
	float:none;
}

#layout-nav input,
#layout-nav button
{
	padding-left:0;
}

#layout-search select
{
	padding:4px 4px 3px;
}

#layout-nav div.search_main input.text,
#layout-nav div.search_main input.submit
{
	float:left;
}

#layout-nav div.search_main input,
#layout-nav div.search_main button
{
	padding-left:5em;
	width:20em;
}

#layout-tabs
{
	display:block;
	margin-right:.5em;
	position:absolute;
	right:0;
	top:0;
	margin:0;
}

#layout-tabs ul li
{
	display:inline;
	padding:4px 6px 3px;
}

#layout-tabs ul
{
	display:block;
	margin-bottom:.5em;
	margin-top:.5em;
	text-align:right;
}

#layout-menu li.sub-menu span.tab
{
	padding-bottom:.5em;
	padding-top:.5em;
}

#layout-menu li.sub-menu ul li
{
	padding:2px 8px;
}

#layout-nav div.main_search div.search form
{
	width:45.5em;
}

#layout-nav div.main_search div.search input.text
{
	width:300px;
}

#layout-nav div.main_search a.advsearch
{
	float:right;
	margin-top:-2em;
	margin-right:-16em;
}

#layout-nav div.main_search input.random
{
	margin-left:.5em;
}

#layout-menu ul li,
#layout-menu > li:hover ul,
#layout-nav div.main_search a.advsearch,
#layout-nav div.main_search form.random
{
	display:block;
}

#layout-footer,
#layout-main div.tabbed_pane ul.tabs
{
	text-align:center;
}

#layout-content div.dbstats_all
{
	padding-left:9.6em;
	padding-right:8em;
}

h4,
#layout-main div.g_timedentry h4
{
	padding:.3em;
}

#layout-tabs li.news
{
	display:inline;
}

#layout-main div.tabbed_pane ul.tabs
{
	text-align:left;
	margin:1px 1px 1px 6px;
}

#layout-main div.anime_all div.desc
{
	border: 1px solid;
	padding:4px;
}