#layout-content,
#layout-nav
{
	margin-left:13.2em;
	padding-left:1em;
}

#layout-content
{
	margin-top:-0.9em;
	padding-top:1em;
}

#layout-menu,
#layout-nav
{
	margin-top:0;
}

#layout-main
{
	margin-left:0;
	min-height:60em;
}

#layout-nav
{
	padding-bottom:2em;
}

#layout-main h1.main,
#layout-main div.main_all
{
	display:block;
}

#layout-menu
{
	display:block;
	margin-left:-13em;
	padding-left:1em;
	padding-right:1em;
	padding-top:1em;
	position:relative;
	width:10em;
}

#layout-menu > li
{
	display:block;
	float:none;
	padding-left:0;
	padding-right:0;
}

#layout-menu > li ul
{
	display:block;
	margin-left:0;
	padding:0;
	position:relative;
}

#layout-menu li.sub-menu
{
	display:block;
	margin-bottom:1em;
}

#layout-nav div.menu_hr,
#layout-menu span.tab
{
	display:none;
}

#layout-search
{
	top:0.5em;
	margin-left:15em;
}

#layout-tabs
{
	margin:5em 0.3em;
}

#layout-nav div.search a.advsearch
{
	display: block;
	left:623px;
	position:absolute;
	top:19px;
	width:100px;
	white-space: nowrap;
}

#layout-hint + #layout-nav + #layout-content #layout-tabs
{
    margin:6.4em 0.3em;
}

#layout-hint + #layout-nav #layout-menu
{
    margin-top:0;
}

#layout-hint + #layout-nav #layout-search
{
    top:2em;
}

#layout-menu li.sub-menu ul li
{
	padding:0;
}

#layout-menu li.sub-menu.alert ul li span,
#layout-menu li.sub-menu ul li > a span
{
	padding: 0 8px;
}

#layout-menu li.sub-menu.alert ul li:first-child span,
#layout-menu li.sub-menu ul li:first-child > a
{
	padding-top:0.4em;
}

#layout-menu li.sub-menu ul li.user-xkeep > label
{
	display:block;
}

#layout-menu li.sub-menu ul li.user-xkeep:last-child > label,
#layout-menu li.sub-menu ul li:last-child > a
{
	padding-bottom:0.4em;
}

#layout-menu li.sub-menu.alert ul li span
{
	display: block;
}