#layout-content,
#layout-nav
{
	margin-left: 13.2em;
	padding-left: 1em;
}

#layout-content
{
	margin-top: -10.5em;
	padding-top: 1em;
}

#layout-main
{
	margin-left: 0;
	min-height: 60em;
}

#layout-nav
{
	padding-bottom: 2em;
}

#layout-menu
{
	display: block;
	margin-left: -13em;
	padding-left: 1em;
	padding-right: 1em;
	position: relative;
	width: 10em;
	margin-top: 9.5em;
	padding-top: 0;
}

#layout-menu > li
{
	display: block;
	float: none;
	padding-left: 0;
	padding-right: 0;
}

#layout-menu > li ul
{
	display: block;
	margin-left: 0;
	padding: 0;
	position: relative;
}

#layout-menu li.sub-menu
{
	display: block;
	margin-bottom: 0.5em;
}

#layout-nav div.menu_hr,
#layout-menu span.tab
{
	display: none;
}

#layout-tabs
{
	margin: 8.3em 0.3em;
}

#layout-nav div.search a.advsearch
{
	display: block;
	margin-right: 0;
	margin-top: -1.5em;
	position: absolute;
	right: 1em;
}

#layout-hint + #layout-nav + #layout-content #layout-tabs
{
	margin: 9.7em 0.3em;
}

#layout-hint + #layout-nav #layout-menu,
#layout-nav
{
	margin-top: 9.5em;
}

#layout-nav
{
	height: 10.5em;
	padding-bottom: 0;
}

#layout-hint + #layout-nav #layout-search
{
	top: 2em;
}

#layout-menu li.sub-menu ul li
{
	padding: 0;
}

#layout-menu li.sub-menu.alert ul li span,
#layout-menu li.sub-menu ul li > a span
{
	padding: 0 8px;
}

#layout-menu li.sub-menu.alert ul li span,
#layout-menu li.sub-menu ul li.user-xkeep > label,
#layout-main h1.main,
#layout-main div.main_all
{
	display: block;
}


#layout-search
{
	top: 0.5em;
	height: 94px;
	margin-left: 0;
	width: 100%;
}

#layout-search div.search
{
	width: 100%;
	margin-left: 0;
	margin-top: 0;
	height: 94px;
}

#layout-search div.search form
{
	padding-left: 0;
	padding-top: 3em;
	width: auto;
	text-align: right;
	margin-right: 1em;
}

#layout-search div.search form > div
{
	float:right;
}

#layout-menu li.sub-menu ul li > a,
#layout-menu li.sub-menu ul li > label
{
	line-height: 17px;
}

#layout-search form
{
	margin:0;
	padding:0;
}