#layout-menu
{
	background-color:#FFFFFF;
}

#layout-menu li.sub-menu
{
	background-color:#ECF4FD;
}

#layout-menu li.sub-menu ul li:hover
{
	background-color:#C9D7F1;
}

#layout-menu > li ul
{
	background-color:#ECF4FD;
}
