#layout-content
{
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border-bottom: 1px solid #97AACC;
	border-left: 1px solid #C9D7F1;
	border-top: 1px solid #C9D7F1;
}

#layout-menu li.sub-menu
{
	border: 1px solid;
}

#layout-menu li.sub-menu,
#layout-menu li.sub-menu ul
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#layout-menu li.sub-menu li:first-child:hover
{
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
}

#layout-menu li.sub-menu li:last-child:hover
{
	-moz-border-radius: 0px 0px 2px 2px;
	-webkit-border-radius: 0px 0px 2px 2px;
	border-radius: 0px 0px 2px 2px;
}

#layout-menu li.sub-menu li+li
{
	border-top: 1px solid #DEE8FA;
}

#layout-menu > li ul
{
	border:none;
}