#layout-menu
{
	background-color: #FFFFFF;
}

#layout-menu > li ul
{
	background-color: #ECF4FD;
}

#layout-menu li.sub-menu ul li:hover,
#layout-menu li.sub-menu ul li:active
{
	background: transparent url(images/stripe-ltgrey.gif) repeat left top;
}

#layout-menu li.sub-menu ul
{
	border-color: #C9D7F1 #97AACC #97AACC #C9D7F1;
}

/*logo @1024*/
#layout-search
{
	background:url("images/logo.png") no-repeat scroll left top transparent;
}

/*logo @ 1280*/
@media screen and (min-width: 1235px)
{
	#layout-search
	{
		background:url("images/logo-wide.png") no-repeat scroll left top transparent;
	}
}

/*logo @ 1650*/
@media screen and (min-width: 1575px)
{
	#layout-search
	{
		background:url("images/logo-wider.png") no-repeat scroll left top transparent;
	}
}

/*logo @ 1920*/
@media screen and (min-width: 1860px)
{
	#layout-search
	{
		background:url("images/logo-widest.png") no-repeat scroll left top transparent;
	}
}