#layout-content
{
	border-bottom:1px solid #C9D7F1;
	border-left:1px solid #C9D7F1;
	border-top:1px solid #C9D7F1;
}

#layout-nav
{
	border-left:1px solid #C9D7F1;
}

#layout-menu > li ul
{
	border:none;
}

#layout-menu li.sub-menu ul
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #C9D7F1;
	border-radius:5px;
}

#layout-menu li.sub-menu ul li:first-child:hover
{
	-moz-border-radius:2px 2px 0px 0px;
	-webkit-border-radius:2px 2px 0px 0px;
	border-radius:2px 2px 0px 0px;
}

#layout-menu li.sub-menu ul li:last-child:hover
{
	-moz-border-radius:0px 0px 2px 2px;
	-webkit-border-radius:0px 0px 2px 2px;
	border-radius:0px 0px 2px 2px;
}