/*---------------------------------
			@ADDEPTITLE
----------------------------------*/

div.addeptitle_all div.addeptitle_list table,
div.addeptitle_all div.addeptitle_form form {
	width: 100%;
}
div.addeptitle_all div.addeptitle_list tr.yes.g_odd td {
	background-color: #e9ffd8;
}
div.addeptitle_all div.addeptitle_list tr.yes td {
	background-color: #f0ffe3;
}
div.addeptitle_all div.addeptitle_list td.verified.yes {
	color: #4b9b39;
	font-weight: bold;
}
div.addeptitle_all div.addeptitle_form form p>span {
	display: block;
	margin: 1em 0;
	position: relative;
}
div.addeptitle_all div.addeptitle_form form label {
	position: absolute;
	left: 0;
	top: 0;
}
div.addeptitle_all div.addeptitle_form form label+*,
div.addeptitle_all div.addeptitle_form form span.action input {
	margin-left: 10em;
}
div.addeptitle_all div.addeptitle_form form label+a {
	margin-left: 10.8em;
}