/*---------------------------------
			@CATEGORIES
----------------------------------*/

div.genren_all div.controls {
	background: #eaf6ff;
	border: 1px solid #c0e0f9;
	padding: 0.7em;
	text-align: center;
}
div.genren_all div.controls a {
	cursor: pointer;
}
div#layout-content div.genren_all a.i_icon {
	float: left;
	display: block;
	width: 15px;
	height: 13px;
	text-indent: -5000px;
	border-bottom: 0 !important;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: -2px;
	padding: 0;
}
div.genren_all a.i_minus {
	background: transparent url(http://anidb.zakness.com/buttons/minus.gif) no-repeat left top;
}
div.genren_all a.i_plus {
	background: transparent url(http://anidb.zakness.com/buttons/plus.gif) no-repeat left top;
}
div.genren_all a.i_minus:hover,
div.genren_all a.i_plus:hover {
	background-position: -16px top;
}
div.genren_all span.cat {
	color: #8f95ae;
}
div.genren_all li.branch.collapsed ul {
	display: none;
}
div.genren_all ul ul {
	margin-left: 20px;
}
div.genren_all #cattree {
	margin: 1em auto;
}
div.genren_all #cattree>li {
	float: left;
	width: 29%;
	margin: 0 2% 1em;
	font-weight: bold;
}
div.genren_all #cattree>li+li+li,
div.genren_all #cattree>li+li+li+li+li+li {
	clear: right;
}
div.genren_all #cattree>li+li+li+li,
div.genren_all #cattree>li+li+li+li+li+li+li {
	clear: left;
}
div.genren_all #cattree>li+li+li+li+li,
div.genren_all #cattree>li+li+li+li+li+li+li+li {
	clear: none;
}
div.genren_all #cattree>li li {
	font-weight: normal;
}