/*---------------------------------
			@PROFILE
----------------------------------*/

div.profile_all a[rel="anidb::wiki"] {
	border-bottom: none !important;
}
div.profile_all .g_section {
	padding-bottom: 1em;
	border-bottom: 1px solid #f3e7ff;
}
div.profile_all .g_section .g_info {
	margin: 1em 0;
}
div.profile_all .g_section table {
	margin: 0 auto;
	border:1px solid #E1D9F5;
}
div.profile_all .g_section caption {
	width: 100%;
	text-align: center;
}
div.profile_all td.action {
	text-align: center;
	background: transparent url(http://anidb.zakness.com/layout/stripe-ltblue.gif) repeat left top;
	padding: 0.7em;
} 