#layout-content{
	margin-left: 200px;
}

html{
	background:  #114411 url('images/BG.jpg');
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

body{
	min-height: 1200px;
	min-width: 1220px;
	margin-top: 100px;
	font-size: 10px;
	/*background: url('bgy.png');*/
	background-repeat: repeat-y;
	background-position: top left;
	color: #55bbff;
}
a{ color: #55bbff;} /*IE*/

.g_odd,
#layout-main div.votes_all div.graph div.group,
#layout-main div.votes_all div.graph.eps div.g_odd
{
	background-color: #002233;
}
tr{
	background-color: #003344;
}
.g_definitionlist{
	float: left;
}

td, th {
	padding: 0px 2px;
}

