@import "../icons/all.css";
@import "common.css";
@import "navi.css";
@import "nonav.css";

html{
	background:  #114411 url('Images/BG.jpg');
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

body{
	min-height: 1200px;
	min-width: 1220px;
	margin-top: 100px;
	font-size: 10px;
	/*background: url('bgy.png');*/
	background-repeat: repeat-y;
	background-position: top left;
	color: #55bbff;
}

#layout-search{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	/*background: url('bgx.png');*/
	background-position: bottom left;
	height: 100px;
}
#layout-search div.search{
	/*background: url('Banner.png');*/
	background-repeat: no-repeat;
	height: 100px;
}
#layout-search div.search form{
	float: right;
	width: 100px;
}
#layout-search div.search form>p>select{width: 96px;}
#layout-search div.search form>p>input.text{width: 92px;}
#layout-search div.search form>p>input.submit{width: 96px; }

#layout-nav{
	width: 200px;
	position: static;
	float: left;
}

#layout-content{
	margin-left: 200px;
}

#layout-main>h1{
	color: #55bbff;
}

#layout-menu{
	width: 200px;
	height: 199px;
	background: url('Images/Navi.png');
}
#layout-menu>li.sub-menu>ul{
	width: 120px;
}

.g_odd{
	background-color: #002233;
}
tr{
	background-color: #003344;
}
table.filelist{
	border: medium double black;
	border-collapse: separate;
	padding-bottom: 10px;
}
.g_definitionlist{
	float: left;
}
tr.header,table.filelist>thead>tr{
	background-color: black;
}
#layout-main .g_section, #layout-main .g_list{
	clear: none !important;
}

.newsitem{ /*g_timedentry newsitem*/
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	background: url('Images/bottom.png');
	background-position: bottom left;
	background-repeat:repeat-x;
	padding-bottom: 20px; /*bottom.png height*/
	min-height: 0 !important;
}

.newsitem>h4{
	background: url('Images/top.png');
	text-align: center !important;
	height: 16px;
	padding: 3px 0 0 0 !important;
	margin: 0 !important;
	color: #1177bb;
}
.newsitem>h4 a {
	color: darkred;
}

.newsitem>.stamp{
	background: url('Images/bg_shadow.png');
	padding-right: 22px !important;
}
.newsitem>.comment{
	margin-top: -2em !important;
	padding-right: 38px;
	color: #1177bb;
}
.newsitem>.body{
	min-height: 100px !important;
	background: url('Images/bg_shadow.png');
	padding: 0px 100px 2px 20px !important;
}
.newsitem>.body a {
	color: blue;
}
.newsitem>.body ul{
	list-style-type: disc !important;
	list-style-position: inside;
	padding-left: 10px;
}

.newsitem>div.avatar{
	margin: 0 22px 0 20px !important;
}

.rightbar>p,.rightbar>h4:first-child,.rightbar h3{display:none;}
/*.rightbar h4,.rightbar ol{ float: left;}*/
#layout-footer{
	/*background: url('Horo.png') !important;*/
	position: fixed !important;
	right: 0px !important;
	bottom: 0px !important;
	margin-left: auto;
	height: 500px;
	width: 800px;
	z-index: -1;	
}
#layout-footer p
{
	display: none;
}

/* Color */
#layout-main td del,
#layout-main tr.g_fs_lame,
#layout-main input.exclude,
#layout-main table.filelist tr.invalid,
/*#layout-main table.filelist tr.deprecated,*/
#layout-main div.myvotes_all table tr.low td{
	background-color: #442233;
}

#layout-main div.myvotes_all table tr.g_odd.low td{
	background-color: #442233;
}

#layout-main td ins,
#layout-main input.include,
#layout-main table.filelist tr.good,
#layout-main div.myvotes_all table tr.high td,
#layout-main div.producer_all table tr.mylist,
#layout-main div.animelist_all table tr.mylist,
#layout-main div.group_released table tr.mylist{
	background-color: #442233;
}

#layout-main table.filelist tr.g_odd.good,
#layout-main div.myvotes_all table tr.g_odd.high td,
#layout-main div.producer_all table tr.g_odd.mylist,
#layout-main div.animelist_all table tr.g_odd.mylist,
#layout-main div.group_released table tr.g_odd.mylist{
	background-color: #331122;
}
/* /Color */

.animerel img{background-color: white;}

dd.user{
	width: 105px !important;
	float: left !important;
	padding-top: 0 !important;
}
dd.user img{height: 100px; width: 100px;}
dd.user>a.username-colored{margin-bottom: 2px;}
dl.profile{
	width: 220px !important;
	margin: 0 !important;
}
dd>strong{color: white !important}
.postfooter {
	height:0 !important;
	position:relative;
	top:-20px;
	padding-bottom: 2px !important;
}

#layout-main div.comment {
	line-height: 1em !important;
	margin-bottom: 0 !important;
}

#layout-main div.cmt_entries div.postbody div.content {
	margin-left:240px !important;
}