ul.acdropdown
{
background-color:transparent !important;
background-image: url(images/bg_1.gif) !important;
border:1px solid #85878C !important;
border-top: none !important;
color: white !important;
}
ul.acdropdown li:nth-child(2n+1)
{
background-image: none !important;
background-color: hsla(0, 0%, 0%, 0.4) !important;
}

ul.acdropdown li:hover,
ul.acdropdown li.selected
{
color: #ADD8E6 !important;
background: transparent url(images/whitepixel.png) !important;
font-weight: normal !important;
}
