@import "../common/layout/page/all.css";
@import "../common/layout/global/tabbed_pane.css";
@import "../common/layout/global/tagcloud.css";
@import "../common/layout/global/timedentry.css";
@import "../common/layout/global/menu.css";
@import "../common/layout/global/block.css";
@import "../common/layout/global/tooltip.css";
@import "../common/layout/global/editdata.css";
@import "../common/layout/global/bubble.css";
@import "../common/layout/global/timeline.css";
@import "quicksearch.css";
@import "../grey_r2/formatting.css";
@import "icons.css";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,blockquote {
margin:0;
padding:0;
}
h4 span,
span.test,
div.pagination span strong,
div.pagination span a
{
padding: 1px 2px 1px 2px;
cursor: default;
}
#layout-main h1,
#layout-main .g_section,
#layout-main .g_list,
#layout-main .g_msg,
#layout-main div.addepm div.ep,
#layout-main div.cmt_all div.topic_actions
{
margin-bottom: 1em;
}
#layout-main div.forum ul.topiclist li.row
{
background: inherit;
}
#layout-main .g_end
{
padding: 0;
margin: 0;
clear: right;
border: none;
}
/*#layout-main .g_section,
#layout-main .g_list
{
clear: both;
}*/
#layout-main .g_list.type
{
float: left;
}
#layout-main .g_list.limit
{
float: right;
}
html
{
width: 100%;
height: 100%;
font-weight: normal;
font-size: 10px;
line-height: 1.2;
font-family: "Arial Unicode MS", Verdana, Tahoma, Arial, Helvetica, sans-serif;
color: white;
background-image: url(images/bg_1.gif);
}
body
{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
border: 0;
color: white;
}
span.link,
a
{
text-decoration: none;
color: #ADD8E6;
cursor: pointer;
}
span.link:hover,
a:active
{
color: red;
}
a img, img
{
border: 0;
}
th
{
font-weight: normal;
text-align: left;
background-image: url(images/redpixel.png)
}
fieldset
{
display: none;
}
form input[type="text"],
form input[type="checkbox"],
form input[type="password"],
form textarea,
form select,
select
{
color: white;
background-color: black;
border: 0;
font-family: Arial Unicode MS;
font-size: 11px;
margin-left: 0.3em;
}
#adba_update,
#style_next,
#style_prev,
#remAudLang,
#addAudLang,
#remSubLang,
#addSubLang,
div.addfilem input[id="addfilem.next"],
div.result input,
form input[type="submit"],
*.button,
*.confirmButton
{
margin-top: 0.3em;
color: #797979;
border-style: dashed;
background-image: url(images/bg_2.gif);
text-shadow: none;
}
#adba_update:hover,
#style_next:hover,
#style_prev:hover,
#remAudLang:hover,
#addAudLang:hover,
#remSubLang:hover,
#addSubLang:hover,
div.addfilem input[id="addfilem.next"]:hover,
div.result input:hover,
input[type="submit"]:hover,
*.confirmButton:hover,
*.button:hover
{
color: white;
background-image: url(images/blackpixel.png);
border-color: #797979;
}
ul,
ol
{
list-style-type: none;
list-style-image: none;
list-style-position: outside;
}
dl dt
{
float: left;
clear: left;
}
dl
{
display: table;
margin: 1px auto 1px auto;
}
caption
{
margin: 0.7em 0 0.4em 0;
font-weight: bold;
font-size: 110%;
}
span
{
display: inline;
}
h2
{
text-align: center;
font-size: 117%;
}
h4
{
font-size: 100%;
text-align: center;
}
table
{
border-spacing: 0;
}
*.g_note
{
font-style: italic;
font-weight: normal;
}
*.g_note *
{
font-style: normal;
}
*.g_note li
{
font-style: italic;
}
*.g_note em
{
font-style: italic;
text-decoration: underline;
}
div.g_note h4
{
display: inline;
}
*.g_vital, *.g_vital *
{
color: red;
font-weight: bolder;
}
tr.g_odd,
li.g_odd,
span.g_odd,
.tagcloud
{
background-image: url(images/bg_2.gif);
}
*.g_navprev
{
float: left;
padding-left: 0.3em;
}
*.g_navnext
{
float: right;
padding-right: 0.3em;
}
span.g_navprev,
span.g_navnext
{
font-style: italic;
}
#layout-content div.userpage_all ul.g_list
{
float: none;
text-align: center;
}
#layout-content ul.g_list li
{
padding: 0 0 0 0;
}
td.action
{
text-align: center;
}
*.hide
{
display: none !important;
}
.g_msg
{
text-align: left;
}
#layout-content div.g_msg.error
{
border: 1px solid #c40d0d;
background: url(images/bg_2.gif);
margin: 2em;
padding: 1.2em;
}
#layout-content div.g_msg.warning
{
border: 1px solid #ff6000;
background: url(images/bg_2.gif);
margin: 2em;
padding: 1.2em;
}
#layout-content div.g_msg.note
{
border: 1px solid maroon;
background: url(images/bg_2.gif);
margin: 2em;
padding: 1.2em;
}
#layout-content div.g_msg.success
{
border: 1px solid #1D6125;
background: url(images/bg_2.gif);
margin: 2em;
padding: 1.2em;
}
#layout-content div.g_msg.error h3
{
color: red;
}
#layout-content div.g_msg.warning h3
{
color: #FF6000;
}
#layout-content div.g_msg.note h3
{
color: #006600;
}
#layout-content div.g_msg.success h3
{
color: #2EB42E;
}
#layout-content div.g_msg h3
{
float: right;
}
#layout-content ul.g_numonpage
{
float: right;
}
/* Transitional Hacks */
#layout-content *[align="left"]
{
text-align: left;
}
#layout-content *[align="left"] > *
{
margin-left: 0;
}
#layout-content *[align="center"]
{
text-align: center;
}
#layout-content *[align="center"] > *
{
margin-left: auto;
margin-right: auto;
text-align: left;
}
#layout-content *[align="right"]
{
text-align: right;
}
#layout-content *[align="right"] > *
{
margin-right: 0;
}
#layout-content > h1
{
text-align: left;
}
#layout-content table,
#layout-content table caption
{
margin-left: auto;
margin-right: auto;
}
#layout-content .g_filterlist,
#layout-content .g_list.links,
#layout-content .g_info
{
text-align: center;
}
#layout-content .g_list.links .g_odd
{
background: inherit;
}
#layout-content div.g_menu
{
float: right;
}
#layout-content div.g_filterlist
{
clear: both;
}
#layout-content div.block
{
display: table;
margin-left: auto;
margin-right: auto;
}

#layout-content td.state,
#layout-content td.type,
#layout-content td.date,
#layout-content td.rating,
#layout-content td.vote,
#layout-content td.action
{
text-align: center;
}
#layout-content td.count
{
text-align: right;
}
#layout-content ul.g_list.nav,
#layout-content ul.g_list.jump,
#layout-content ul.g_list.limit,
#layout-tabs ul.main-tabs
{
padding-left: 0;
padding-top: 2px;
padding-bottom: 2px;
width: 100%;
text-align: center;
}
#layout-content ul.g_list.nav li,
#layout-content ul.g_list.links li,
#layout-content ul.g_list.jump li,
#layout-content ul.g_list.limit li,
#layout-tabs ul.main-tabs li
{
display: inline;
margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
}
#layout-content ul.g_list.nav li a,
#layout-content ul.g_list.links li a,
#layout-content ul.g_list.jump li a,
#layout-content ul.g_list.limit li a,
#layout-tabs ul.main-tabs
{
display: inline;
font-style: normal;
}
#layout-content ul.g_list.jump li+li:before,
#layout-content ul.g_list.limit li+li:before
{
font-style: normal;
content: " | ";
}
#layout-content ul.g_list.nav li.prev:after,
#layout-content ul.g_list.nav li.next:after,
#layout-content ul.g_list.nav li.other:after,
#layout-content ul.g_list.jump li.prev:before,
#layout-content ul.g_list.jump li.next:before,
#layout-content ul.g_list.jump li.all:before
{
content: "";
}
#layout-content ul.g_list.jump li.prev
{
padding-left: 1em;
float: left;
}
#layout-content ul.g_list.jump li.next
{
padding-right: 1em;
float: right;
}
#layout-content ul.g_list.links li+li:before,
#layout-content ul.g_list.nav li+li:before,
#layout-content ul.main-tabs li+li:before
{
content: " - ";
}
#layout-tabs ul.main-tabs li
{
background: inherit;
padding: 0 0 0 0;
margin: 0 0 0 0;
}
#layout-tabs ul.main-tabs li.selected a
{
color: #FF6600;
}
#layout-hint
{
position: fixed;
background-image:url(images/bluepixel.png);
background-color: #262a2a;
width: 100%;
height: 1.5em;
padding-top: 0px;
text-align: center;
}
#layout-hint span a
{
color: #ff6000;
}
#layout-hint span a:hover
{
color: red;
}
#layout-nav
{
position: fixed;
width: 100%;
height: 2em;
padding-top: 0px;
/*background: #232323;*/
background-image: url(images/bg_2.gif);
}
#layout-hint + #layout-nav
{
margin-top: 1.5em;
}
#layout-hint + #layout-nav + #layout-content
{
padding-top:4.5em;
}
#layout-menu
{
text-align: left;
margin-left: 1em;
margin-right: 1em;
margin-bottom: 1em;
margin-top: 0.4em;
display: block;
}
#layout-menu ul
{
list-style: none;
margin: 0;
padding-left: 2px;
padding-top: 3px;
padding-bottom: 1px;
}
#layout-menu ul li
{
list-style: none;
margin-top: 0px;
}
#layout-menu div.menu li.calendar, #layout-menu div.menu li.ed2kdump, #layout-menu div.menu li.genre
{
margin-bottom: 0.3em;
}
#layout-menu div.menu li.creq
{
margin-top: 0.3em;
}
#layout-menu div.menu .g_odd
{
background: none;
}
#layout-menu div.menu li.forum
{
font-weight: bold;
}
#layout-menu span.login,
#layout-menu span.user
{
text-align: left;
display: block;
}
#layout-menu span.login a
{
display: inline;
}
#menu-account li.alert > span > a:first-child:before,
#menu-account li.alert > span > a:first-child:after
{
content: "!";
font-weight: bold;
color: red;
margin: 0.2em;
}
#layout-menu #newmessages,
#layout-menu #newnews
{
display: table-caption;
text-align: center;
white-space: nowrap;
margin: auto;
}
#layout-search
{
display: inline;
padding: 0 0 0 0;
margin: -20px 0 0 0;
float: right;
clear: right;
}
#layout-search form input.text
{
width: 15em;
font-size: 10px;
margin: 0;
padding: 0;
background: url(images/whitepixel.png);
}
#layout-search form p
{
text-align: right;
}
#layout-search form input.submit,
form button[type="submit"]
{
margin: 0;
padding: 0;
color: white;
font-size: 11px;
font-weight: normal;
border-style: dashed;
border-color: #565656;
background: url(images/whitepixel.png);
}
#layout-search form input.submit:hover,
form button[type="submit"]:hover
{
color: #ff6000;
background: url(images/redpixel.png);
border-color: #797979;
}
#layout-content
{
margin: 0 0 0 0;
padding-top: 3em;
padding-bottom: 0.1em;
width: 100%;
}
body.nonav #layout-content
{
width: auto;
height: auto;
margin: 0;
}
body.nonav #layout-content h1
{
display: none;
}
#layout-content h1
{
text-align: center;
font-size: 14pt;
font-weight: lighter;
font-family:"Arial Unicode MS", Arial,Verdana, sans-serif;
margin-top: 0;
padding-top: 1.1em;
}
#layout-nav a
{
color: white;
}
ul#layout-menu li ul li:hover a:first-child
{
color: #ff6000;
cursor: default;
display: block;
background-image: url(images/whitepixel.png);
}
#layout-content div.section
{
border-top: 2px groove #486187;
padding: 0.7em 0 0.5em 0;
}
#layout-content div.section.vote form
{
margin-bottom: 0.5em;
}
#layout-content div.section.vote form *
{
margin: 0;
}
#layout-content div.section.vote form label
{
display: block;
}
#layout-footer
{
text-align: center;
margin-left: 0;
background-image: url(images/bg_2.gif);
}
#layout-footer p
{
margin-top: 3em;
padding-bottom: 0.3em;
}
#layout-content div.anime_info div.data dd.anirec
{
overflow: visible;
}
#layout-content div.anime_info div.data dd.anirec a.i_help
{
padding: 7px 8px 7px 12px;
}
#layout-content div.anime_vote form
{
margin-bottom: 0.5em;
}
#layout-content div.anime_vote form *
{
margin: 0;
}
#layout-content div.anime_vote form label
{
display: block;
}
#layout-content div.anime_vote form.permvote
{
margin: 1.1em 0 1.1em 0;
}
#layout-content div.anime_vote form.tempvote
{
width: 50%;
margin: 1.1em 0.6em 1.1em 0;
float: left;
}
#layout-content div.anime_vote form.tempvote div
{
padding-right: 6px;
float: right;
}
#layout-content div.anime_mylist
{
clear: left;
}
#layout-content div.anime_mylist th,
#layout-content div.anime_group th
{
font-weight: normal;
background-image: url(images/redpixel.png);
}
#layout-content div.anime_mylist th.heading,
#layout-content div.anime_group th.info
{
font-weight: bold;
padding: 0.1em 0.9em 0.1em 0.9em;
}
#layout-content div.anime_mylist th.anime
{
width: 300px;
text-align: left;
}
#layout-content div.anime_mylist td.eps,
#layout-content div.anime_mylist td.seen
{
padding: 0.1em 0.9em 0.1em 0.9em;
text-align: center;
}
#layout-content div.anime_group th.group
{
text-align: left;
}
#layout-content div.anime_group td
{
text-align: center;
}
#layout-content div.anime_group td.lastep,
#layout-content div.anime_group td.cmts
{
text-align: right;
}
#layout-content div.anime_group td.group,
#layout-content div.anime_group td.lastupdate
{
text-align: left;
}
#layout-content div.anime_group td.state.complete,
#layout-content div.anime_group td.state.finished
{
font-weight: bold;
}
#layout-content div.anime_group td.state.stalled,
#layout-content div.anime_group td.state.unknown
{
font-style: italic;
}
#layout-content div.anime_group td.state.unknown
{
content: "N/A";
}
#layout-content div.anime_all div.episodes table.eplist,
#layout-content div.anime_all div.episodes table.filelist
{
width: 99%;
}
#layout-content div.anime_all th
{
font-weight: normal;
text-align: left;
}
#layout-content div.anime_all td
{
height: 1.6em;
padding: 0.1em 0.1em 0.1em 0.1em;
}
#layout-content div.anime_all table.eplist
{
padding: 0;
margin-bottom: 15px;
}
#layout-content div.anime_all table.filelist
{
padding: 2px 3px 15px 57px;
}
#layout-content div.anime_all tr.newtype td
{
border-top: #c12312 1px dotted;
}
#layout-content div.anime_all tr.good td,
#layout-content div.group_all tr.good td,
#layout-content div.ep_all tr.good td,
#layout-content tr.verified.yes td,
#layout-content tr.verified.yes th
{
background-image: url(images/greenpixel.png);
}
#layout-content div.anime_all tr.invalid td,
#layout-content div.group_all tr.invalid td,
#layout-content div.ep_all tr.invalid td,
#layout-content div.mydb_all tr.lame td,
#layout-main div.timeline_all div.timeline ul.row li.dropped
{
background-image: url(images/badredpixel.png);
}
#layout-content div.anime_all tr.deprecated td,
#layout-content div.group_all tr.deprecated td,
#layout-content div.ep_all tr.deprecated td
{
background-image: url(images/whitepixel.png);
}
#layout-content div.anime_all tr.generic,
#layout-content div.ep_all tr.generic
{
background-image: url(images/bg_3.gif)
}
#layout-content div.anime_all tr.generic td,
#layout-content div.ep_all tr.generic td
{
border-style: dotted;
border-color: #565656;
border-width: 1px;
border-right-width: 0;
border-left-width: 0;
}
#layout-content div.anime_all tr.generic td:first-child,
#layout-content div.ep_all tr.generic td:first-child
{
border-style: dotted;
border-color: #565656;
border-width: 1px;
border-left-width: 1px;
border-right-width: 0;
}
#layout-content div.anime_all tr.generic td:last-child,
#layout-content div.ep_all tr.generic td:last-child
{
border-style: dotted;
border-color: #565656;
border-width: 1px;
border-right-width: 1px;
border-left-width: 0;
}
#layout-content div.anime_all td.epusers,
#layout-content div.anime_all td.files,
#layout-content div.anime_all td.id,
#layout-content div.anime_all td.size
{
text-align: right;
}
#layout-content div.anime_all th.expand,
#layout-content div.anime_all td.expand,
#layout-content div.anime_all td.check,
#layout-content div.anime_all td.ed2k,
#layout-content div.anime_all td.fileaction,
#layout-content div.anime_all td.resolution,
#layout-content div.anime_all td.source
{
text-align: center; /* Not actually much use, doesn't center block images */
}
#layout-content div.anime_all td.stat .i_icon
{
float: left;
}
#layout-content div.anime_all td.stat .i_crc_yes
{
margin-left: 3px;
}
#layout-content div.anime_all td.qual .i_icon
{
margin-left: 0;
}
#layout-content div.anime_all td.title div
{
float: right;
}
#layout-main *.icons *.i_icon,
#layout-main div.ep_files table.filelist td .icons .i_icon,
#layout-main div.anime_group table.grouplist tr td.languages span.i_icon,
#layout-main div.anime_mylist td div.icons span.i_icon,
#layout-main div.group_all td div.icons span.i_icon,
#layout-main div.group_released tr td.languages span.i_icon,
#layout-main div table td div.icons span.i_icon,
#layout-main div.anime_all div.groups td.languages span.i_icon,
#layout-main div.anime_all div.episodes td.action .i_icon,
#layout-main div.latest_completed td.icon span.i_icon,
#layout-main div.mylist_all div.icons span.i_icon,
#layout-main div.group_all div.icons span.i_icon
{
float: left;
}
#layout-main div.anime_all div.info th span.i_icon
{
display: inline;
float: right;
padding: 0px 1px 0px 1px;
}
#layout-main td.icons.quality *.i_icon
{
padding: 0px;
}
#layout-content div.anime_all div.actions
{
text-align: center;
margin: auto;
}
#layout-content div.anime_edit
{
text-align: center;
}
#layout-content div.anime_edit div
{
padding-left: 19%;
padding-right: 19%;
margin-top: 1.2em;
}
#layout-content div.anime_awards
{
text-align: center;
}
#layout-content div.anime_group td.mylist
{
font-weight: bold;
text-align: center;
}
#layout-content div.anime_group td.mylist.new
{
color: red;
}
#layout-content div.anime_group td.mylist:before
{
content: "* ";
}
#layout-content div.anime_group td.mylist:after
{
content: " *";
}
#layout-content div.ed2kdump_box
{
text-align: center;
}
#layout-content div.ed2kdump_box textarea,
{
width: 80%;
}
#layout-main div.profile_all div.tabbed_pane div.user_css div textarea
{
width: 80em;
}
#layout-content div.anime_all a.action:before
{
content: "[";
}
#layout-content div.anime_all a.action:after
{
content: "]";
}
#layout-content div.ep_info div.info table
{
margin-left: auto;
margin-right: auto;
}
#layout-content div.ep_files h4,
#layout-content div.ep_vote p
{
text-align: center;
}
#layout-content div.agcmts_entries
{
padding-left: 2em;
padding-right: 2em;
}
#layout-content div.agcmts_entries div.comment + div.comment
{
margin-top: 2em;
}
#layout-content div.agcmts_entries div.comment h4
{
text-align: left;
background-image: url(images/redpixel.png);
margin-bottom: 0;
}
#layout-content div.agcmts_entries div.comment h4 a
{
color: white;
}
#layout-content div.agcmts_entries div.comment span.stamp
{
display: block;
text-align: right;
padding-right: 0.5em;
}
#layout-content div.agcmts_add p.g_howto
{
text-align: left;
}
#layout-content div.agcmts_add form div textarea,
#layout-content div.animegroup_all form div textarea,
#layout-content div.creq_all form div textarea,
#layout-content div.addfilem_all div form div textarea
{
display: block !important;
width: 80% !important;
margin-left: 10% !important;
height: 20em !important;
}
#layout-content div.agcmts_add form div input,
#layout-content div.animegroup_all label,
#layout-content div.animegroup_all form div input,
#layout-content div.creq_all form div input,
#layout-content div.creq_all div.creq_buttons,
#layout-content div.creq_all div.creq_messages > p,
#layout-content div.addfilem_all form div input
{
margin: 0.3em 0 0 10%;
}
#layout-content div.agcmts_all div.agcmts_head,
#layout-content div.agcmts_all div.agcmts_add
{
margin: 1em;
}
#layout-content div.animelist_list table
{
margin-left: auto;
margin-right: auto;
}
#layout-content div.animelist_list table th *.i_icon
{
float: left;
}

#layout-content div.animelist_list .g_list ul:before
{
content: "Jump to"
}
#layout-content div.animelist_list .g_list il:before,
#layout-content div.animelist_list .g_list il:after
{
content: ""
}
#layout-content div.dbstats_all,
#layout-content div.stats_all
{
max-width: 80%;
padding: auto;
margin: auto;
}
#layout-content div.dbstats_all div.stat,
#layout-content div.stats_all div.stat
{
float: left;
margin: 0.3em 0.1em 0.1em 0.3em;
border: 2px #BFC2CA ridge;
width: 20em;
}
#layout-content div.dbstats_all div.actions,
#layout-content div.stats_all div.actions
{
clear: left;
text-align: center;
}
#layout-content div.dbstats_all h3,
#layout-content div.stats_all h3
{
clear: left;
font-size: 100%;
text-align: center;
}
#layout-content div.dbstats_all h4,
#layout-content div.stats_all h4
{
background-image: url(images/redpixel.png);
color: white;
font-weight: bold;
font-size: 100%;
margin: 0;
text-align: center;
padding: 0.3em;
margin-bottom: 0.1em;
}
#layout-content div.dbstats_all div.dbstats ol,
#layout-content div.stats_all div.stats ol
{
margin: 0;
padding: 0;
width: 100%;
}
#layout-content div.dbstats_all div.dbstats li,
#layout-content div.stats_all div.stats li
{
list-style: none;
text-align: left;
padding: 0.1em;
}
#layout-content div.dbstats_all div.dbstats li span,
#layout-content div.stats_all div.stats li span
{
display: table-cell;
width: 5.2em;
text-align: right;
white-space: nowrap;
}
#layout-content div.dbstats_all div.dbstats li a,
#layout-content div.stats_all div.stats li a
{
display: table-cell;
padding-left: 0.7em;
}
#layout-main div.stats_all table, #layout-main div.dbstats_all table
{
border-spacing: 0;
}
/* Default center is probably too zealous... */
#layout-content div.ep_info table
{
margin-left: 0;
}
#layout-content div.ep_vote form
{
margin-bottom: 0.5em;
}
#layout-content div.ep_vote form *
{
margin: 0;
}
#layout-content div.ep_vote form label
{
display: block;
}
#layout-content div.genren_all
{
text-align: center;
}
#layout-content div.genren_all div.categories
{
width: 90%;
margin: 1em auto 1em auto;
text-align: left;
}
#layout-content div.genren_all div.controls
{
text-align: center;
}
#layout-content div.genren_all a.i_icon,
#layout-content #cattree a.i_icon
{
position: relative;
right: 18px;
float: left;
margin-right: -15px;
}
#layout-content div.genren_all li,
#layout-content #cattree li
{
list-style: none outside;
line-height: 14px;
}
#layout-content #cattree li.collapsed ul
{
display: none;
}
#layout-content div.group_released td.state.complete,
#layout-content div.group_released td.state.finished
{
font-weight: bold;
}
#layout-content div.group_released td.state.stalled
{
font-style: italic;
}
#layout-content div.group_released td.count
{
text-align: right;
}
#layout-content div.group_vote,
#layout-content div.group_released td.state,
#layout-content div.group_released td.rating
{
text-align: center;
}
#layout-content div.hint2_note
{
text-align: center;
}
#layout-content div.hint2_hinter
{
padding-left: 0.5em;
padding-right: 0.5em;
text-align: center;
}
#layout-content div.hint2_jscontrols
{
float: right;
padding: 0 0 0.5em 0;
}
#layout-content div.hint2_results
{
clear: both;
}
#layout-content div.hint2_jscontrols h4
{
background-color: #494D59;
color: #bbbbbb;
font-weight: normal;
margin: 0;
}
#layout-content div.hint2_jscontrols ul,
#layout-content div.hint2_jscontrols li
{
list-style: none;
margin: 0;
padding: 0;
}
#layout-content div.hint2_hinter.jason form
{
margin-right: 12em;
}
#layout-content div.hint2_hinter div.collapse *
{
display: none;
}
#layout-content div.hint2_hinter *.g_note
{
display: block;
}
#layout-content div.hint2_hinter.nonote *.g_note
{
display: none;
}
#layout-content div.hint2_hinter h2
{
font-size: 160%;
margin: 0.5em 0 0 0;
}
#layout-content div.hint2_hinter li
{
text-align: left;
}
#layout-content div.hint2_hinter label
{
white-space: nowrap;
line-height: 300%;
padding: 0 0.3em 0 0.2em;
}
#layout-content div.hint2_hinter #Filter
{
padding-bottom: 2em;
}
#layout-content div.hint2_hinter div.genre
{
margin-left: auto;
margin-right: auto;
padding-bottom: 0.5em;
display: table;
}
#layout-content div.hint2_hinter div.genre label
{
display: table-cell;
}
#layout-content div.hint2_hinter div.collapse div.genre
{
display: none;
}
#layout-content div.hint2_all ol
{
height: 8em;
list-style: none;
overflow: auto;
padding: 0 !important;
margin: 0;
border: 2px transparent solid !important;
background: black !important;
color: white !important;
}
#layout-content div.hint2_all ol li
{
list-style: none;
}
#layout-content div.hint2_hinter ol li input
{
margin: 0.3em 0.3em 0 0;
}
#layout-content div.hint2_hinter label input
{
width: 4em;
}
#layout-content div.hint2_hinter select input
{
width: auto;
}
#layout-content div.latest
{
text-align: center;
}
#layout-content div.latest table
{
margin-left: auto;
margin-right: auto;
min-width: 40%;
padding: 1em;
clear: both;
}
#layout-content div.latest table td,
#layout-content div.latest table th
{
padding: 2px;
text-align: left;
}
#layout-content div.latest table td.weight,
#layout-content div.latest table td.addedby,
#layout-content div.latest table td.action
{
text-align: center;
}
#layout-content div.latest table td.size,
#layout-content div.latest table td.rating
{
text-align: right;
}
#layout-content div.latest table td.date
{
white-space: nowrap;
}
#layout-content div.latest ul.type
{
float: left;
}
#layout-content div.latest ul li
{
list-style: none;
}
#layout-content div.latest ul.type li:first-child:before
{
content: "type: ";
font-style: normal;
}
#layout-content div.latestreviews_all ul.g_list
{
text-align: right;
}
#layout-content div.latestreviews_all ul.g_list:before
{
content: "show: ";
}
#layout-content div.latestreviews_all ul li:first-child:before
{
content: "";
}
#layout-content div.latestreviews_all table
{
margin: 0 auto;
}
#layout-content div.latestreviews_all table th
{
padding: 2px;
font-weight: normal;
text-align: left;
}
#layout-content div.latestreviews_all table td
{
padding: 2px;
}
#layout-content div.latestreviews_all td.date
{
white-space: nowrap;
}
#layout-content div.latestreviews_all div.footer
{
text-align: center;
}
#layout-content div.latestreviews_all div.filter
{
margin: 1em 0 1em 0;
}
#layout-content div.latestreviews_all h4
{
display: inline;
}
#layout-content div.main_all h4,
#layout-content div.main_edit h4,
#layout-content div.news_all h4
{
background-image: url(images/redpixel.png);
font-weight: normal;
margin: 0;
}
#layout-content div.news h4
{
text-align: left;
}
#layout-content div.main_all div.rightbar
{
width: 16em;
clear: right;
float: right;
text-align: center;
margin: 0 0.3em 0 0;
}
#layout-content div.main_all div.rightbar p
{
margin: 1.2em 0 0 0;
}
#layout-content div.main_all div.rightbar h3
{
font-size: 100%;
margin: 1.5em 0 0.4em 0;
}
#layout-content div.main_all div.rightbar h4
{
padding: 0.1em;
}
#layout-content div.main_all div.rightbar ol
{
margin: 0em 0 0.4em 0;
padding: 0;
}
#layout-content div.main_all div.rightbar li
{
list-style: none;
text-align: left;
}
#layout-content div.main_all > div.news
{
clear: none;
margin-right: 20em;
}
#layout-content div.main_all div.rightbar li span
{
display: block;
float: left;
height: 100%;
width: 4em;
text-align: center;
}
#layout-content div.main_all div.rightbar li a
{
display: block;
margin-left: 4em;
}
#layout-content div.main_all div.news
{
margin: 0.3em 17em 0.3em 0.3em;
}
#layout-content div.main_all div.news h4,
#layout-content div.news_all div.news h4
{
padding: 0.1em;
}
#layout-content div.news span.stamp
{
display: block;
text-align: right;
padding: 0.1em 1em 0.1em 0.1em;
background-image: url(images/whitepixel.png);
}
#layout-content div.news > div
{
margin: 0.1em 0.1em 3.1em 0.1em;
}
#layout-content div.main_edit
{
text-align: center;
padding-left: 5%;
padding-right: 5%;
}
#layout-content div.main_edit label
{
display: block;
text-align: left;
vertical-align: top;
margin: auto;
padding: 0.6em;
}
#layout-content div.main_edit label *
{
display: block;
margin-top: -1em;
margin-left: 4em;
}
#layout-content div.main_edit textarea
{
height: 30em;
width: 90%;
}
#layout-content div.g_menu ul.state
{
height: 15px;
padding-top: 2px;
padding-bottom: 1px;
}
#layout-content div.g_menu ul.state li
{
float: left;
padding: 0px 2px 0px 1px;
}
#layout-content div.g_menu ul + ul
{
margin-top: 2px;
}
#layout-content div.g_menu ul.state + ul
{
clear: left;
}
#layout-content div.mylist_list table.animelist
{
width: 75%;
}
#layout-content div.mylist_list td.title div
{
float: right;
}
#layout-content div.mylist_list table table
{
width: 100%;
}
#layout-content div.mylist_list table table table tr.good td
{
background-image: url(images/greenpixel.png);
}
#layout-content div.mylist_all ul li
{
list-style: none;
text-align: left;
}
#layout-content div.mynotifies_all
{
text-align: center;
}
#layout-content div.mynotifies_all label
{
display: block;
}
#layout-content div.userpage_all div.stats,
#layout-content div.myplace_all div.stats
{
float: left;
width: 13.1em;
margin-top: 2em;
}
#layout-main div.userpage_all div.charts,
#layout-main div.userpage_all div.latest,
#layout-content div.userpage_all div.userdetails,
#layout-content div.userpage_all div.userprefs
{
clear: none;
margin-left: 21em;
}
#layout-main div.userpage_all div.g_menu
{
width: 10em;
}
#layout-content div.userpage_all div.stats table,
#layout-content div.userpage_all div.stats table caption,
#layout-content div.myplace_all div.stats table,
#layout-content div.myplace_all div.stats table caption
{
margin-left: 1em;
}
#layout-content div.userpage_all div.stats table,
#layout-content div.myplace_all div.stats table
{
width: 14em;
}
#layout-content div.userpage_all div.stats table caption,
#layout-content div.myplace_all div.stats table caption
{
width: 12em;
}
#layout-content div.userpage_all div.stats div table td.value,
#layout-content div.myplace_all div.stats div table td.value
{
text-align: right;
}
#layout-content div.myplace_all div.latest
{
margin-left: 14em;
margin-right: 10em;
clear: none;
}
#layout-content div.userpage_all,
#layout-content div.myplace_all
{
padding-right: 1em;
}
#layout-content div.userpage_all div.buddies li,
#layout-content div.userpage_all div.favreviewers li,
#layout-content div.userpage_all div.g_menu li,
#layout-content div.myplace_all div.g_menu li,
#layout-content div.msg_all div.g_menu li,
#layout-content div.animeatt_all div.menu li
{
padding-left: 6px;
padding-right: 6px;
text-align: left;
list-style-type: none;
}
#layout-content div.userpage_all div.buddies,
#layout-content div.userpage_all div.favreviewers
{
margin-bottom: 1em;
}
#layout-content div.userpage_all div.buddies ul li,
#layout-content div.userpage_all div.favreviewers ul li
{
padding: 1px 6px 1px 6px;
}
#layout-main div.userpage_all div.userdetails
{
display: table;
}
#layout-content div.userpage_all,
#layout-content div.myplace_all
{
min-height:60em;
}
#layout-content div.userpage_all div.userprefs h4
{
text-align: center;
}
#layout-content div.userpage_all div.userprefs ol
{
margin-left: 4em;
}
#layout-content div.userpage_all div.charts div
{
float: left;
}
#layout-content div.userpage_all div.charts div h4
{
text-align: center;
}
#layout-content div.userpage_all ul.g_list.links,
#layout-content div.userpage_all div.charts div.mylisthistory
{
clear: none;
}
#layout-content div.myvotes_all
{
text-align: center;
}
#layout-content div.myvotes_all table
{
margin-left: auto;
margin-right: auto;
min-width: 80%;
padding: 1em;
clear: both;
}
#layout-content div.myvotes_all table td,
#layout-content div.myvotes_all table th
{
padding: 2px;
text-align: left;
}
#layout-content div.myvotes_all table td.date,
#layout-content div.myvotes_all table td.reviewed,
#layout-content div.myvotes_all table td.action
{
text-align: center;
}
#layout-content div.myvotes_all table td.reviewed.no a
{
color: #EE0000;
text-transform: uppercase;
}
#layout-content div.myvotes_all table .high
{
background-image: url(images/greenpixel.png);
}
#layout-content div.myvotes_all table .low
{
background-image: url(images/badredpixel.png);
}
#layout-content div.myvotes_all table td.vote,
#layout-content div.myvotes_all table td.epno
{
text-align: right;
}
#layout-content div.myvotes_all table th,
#layout-content div.myvotes_all table td.date
{
white-space: nowrap;
}
#layout-content div.myvotes_all ul.type
{
float: left;
}
a.i_icon:hover, a.i_inline:hover
{
text-decoration: none;
}
/* Transitional Hacks */
*[bgcolor="#b0b0b0"], *[bgcolor="#969aa6"]
{
background-image: url(images/redpixel.png);
}
*[bgcolor="#494D59"]
{
background-image: url(images/redpixel.png);
}
/* zeromind */
#layout-content div.producer_related_anime tr.mylist td
{
background-image: url(images/greenpixel.png);
}
#layout-content div.msg_all tr.new td.state
{
font-weight: bold;
color: red;
}
#layout-content div.creq_all tr.granted td
{
background: url(images/greenpixel.png);
}
#layout-content div.creq_all tr.denied td
{
background-image: url(images/badredpixel.png);
}
#layout-content div.creq_all tr.revoked td
{
background-image: url(images/bg_2.gif);
}
#layout-content div.creq_all tr.deleted td
{
color: red;
background-image: url(images/bg_2.gif);
}
#layout-content div.creq_all dd
{
margin-bottom: 0.5em;
}
#layout-main tr th.field
{
background: inherit;
}
#layout-content div.creq_data ins
{
background-image: url(images/greenpixel.png);
text-decoration: none;
}
#layout-content div.creq_data del
{
background-image: url(images/badredpixel.png);
text-decoration: none;
}
#layout-content div.creq_list_open h4
{
text-align: center;
}
#layout-content div.group_info div.desc
{
text-align: center;
}
#layout-content div.anime_all div.data table.relationlist
{
margin: 0;
border: 0;
}
#layout-content div.animegroup_all div.form
{
margin-left: 0.3em;
}
#layout-content div.animegroup_all div.form textarea
{
display: block;
width: 80%;
margin-left: 10%;
height: 10em;
}
#layout-content div.animeatt_reviews div.review
{
border: #898989 1px dashed;
margin-right: 0.5em;
margin-left: 0.5em;
min-height: 42em;
}
#layout-content div.animeatt_reviews div.review > h4
{
padding: 0.5em;
margin: 0.5em 15.5em 0.5em 7em;
background-image: url(images/bg_2.gif);
}
#layout-content div.animeatt_reviews div.review.approved > h4
{
background-image: url(images/greenpixel.png);
}
#layout-content div.animeatt_reviews div.review.disapproved > h4
{
background-image: url(images/badredpixel.png);
}
#layout-content div.animeatt_reviews div.review+div.review
{
margin-top: 1.5em;
}
#layout-content div.animeatt_reviews div.review div.head,
#layout-content div.animeatt_reviews div.review div.avatar,
#layout-content div.animeatt_reviews div.review div.menu
{
float: right;
width: 10em;
padding-right: 2em;
}
#layout-content div.animeatt_reviews div.review div.avatar
{
margin-top: -2em;
}
#layout-content div.animeatt_reviews div.review div.head table,
#layout-content div.animeatt_reviews div.review div.avatar,
#layout-content div.animeatt_reviews div.review div.menu
{
width: 10em;
}
#layout-content div.animeatt_reviews div.review div.text
{
text-align: left;
margin: 0 15.5em 1em 7em;
padding: 0.5em;
background-image: url(images/bg_2.gif);
}
#layout-content div.animeatt_reviews div.review div.head table td.value
{
text-align: right;
}
#layout-content div.animeatt_form table
{
width: 80%;
}
#layout-content div.animeatt_form textarea
{
width: 99%;
}
#layout-content div.animeatt_comment
{
text-align: left;
}
#layout-content div.animeatt_comment textarea
{
width: 96%;
height: 10em;
}
#layout-content div.group_all div.ep_files table
{
width: 99%;
}
#layout-content div.addeptitle_all div.addeptitle_form p,
#layout-content div.addanimetitle_all div.addanimetitle_form p
{
text-align: center;
}
#layout-content div.latest_all td.name.file
{
padding-left: 1em;
}
#layout-content div.profile_all .g_info
{
text-align: left;
}
#layout-content div.profile_all div.css_style div.info dl dt
{
font-weight: bold;
}
#layout-content div.profile_all div.css_style div.info dl dd
{
margin-left: 7em;
width: 20em;
}
#layout-main dl dd
{
margin-left: 10em;
text-align: left;
}
#layout-content div.profile_all div.css_style div.block div.image
{
background-image: url(images/bg_2.gif);
border: 2px solid #565656;
}
#layout-content div.profile_all div.css_style div.block div.info
{
margin-left: 0.7em;
text-align: left;
}
#style_description
{
width: 20em;
}
#image_viewer
{
margin: 50px;
}
#style_url
{
margin-bottom: 1em;
}
*.releaseinfotooltip div.icons span.i_icon
{
float: left;
}
#obj-tooltip
{
background-color: black;
color: white;
}
#obj-tooltip h1
{
display: none;
}
#obj-tooltip ul li,
#obj-tooltip ul
{
list-style-type: none;
margin: 0;
padding: 0;
text-align: left;
vertical-align: middle;
}
/*formatting*/
#wysiwyg_0
{
background-color: black;
border: 0;
}
#layout-overlay
{
position: absolute;
z-index:100000;
width: 100%;
height: 100%;
top: 0;
left: 0;
min-height:100%;
background-color:#000000;
opacity: 0.6;
}
#layout-content span.preview-box
{
display: block;
width: 100%;
width: 365px;
/*overflow: auto; */
border-width: 2px;
border-style: solid;
border-color: #000000;
background: #b0b0b0;
}
#layout-content span.preview-title
{
display: block;
font-weight: bold;
text-align: center;
width: 100%;
background-color: #494d59;
color: #bbbbbb;
padding: 1px;
}
#layout-content span.preview-text
{
text-align: left;
padding: 1px;
}
#layout-content table.animelist tr.mylist td,
.g_bubble.stripe.mylist,
#layout-main div.timeline_all div.timeline ul.row li.watching
{
background-image: url(images/orangepixel.png);
}
#layout-content table.animelist tr.complete td,
.g_bubble.stripe.mylist.complete,
#layout-main div.timeline_all div.timeline ul.row li.stalled
{
background-image: url(images/bluepixel.png);
}
#layout-content table.animelist tr.all_watched td,
.g_bubble.stripe.mylist.all_watched,
#layout-main div.timeline_all div.timeline ul.row li.completed
{
background-image: url(images/greenpixel.png);
}
#layout-content div.latest_all div.latest_files_list tr td a.filter
{
color: orange;
}
#layout-content div.mylist_list tr td.vote.temp,
#layout-content div.myplace_all div.latest div.latest_votes span.vote.temp,
#layout-content div.userpage_all div.latest div.latest_votes span.vote.temp
{
font-style: italic;
}
#layout-content div.g_timedentry div.avatar
{
float: right;
margin: 10px;
}
#layout-content div.g_timedentry div.body
{
padding: 0.2em;
text-align: left;
}
#layout-content div.g_timedentry
{
min-height: 150px;
}
#layout-content div.g_timedentry+div.g_timedentry 
{
margin-top: 2em;
}
#layout-content div.anime_all div.episodes table table.filelist td.id .i_icon
{
text-align: left;
}
#menu-main,#menu-lists,#menu-private,#menu-mod,#menu-support,#menu-account
{
display: none;
z-index: 7;
position: absolute;
top: 16px;
}
ul#layout-menu li:hover ul {
display: block;
position: absolute;
background-image: url(images/bg_2.gif);
padding-top: 4px;
padding-right: 2px;
padding-bottom: 1px;
padding-left: 2px;
margin-top: 0px;
}
ul#layout-menu li ul li{
float: none;
display: block;
line-height: normal;
white-space: nowrap;
margin-left: 0;
margin-right: 0;
}
ul#layout-menu li {
float: left;
margin-left: 10px;
}
#layout-menu
{
cursor: default;
}
#layout-main .g_image image,
#layout-main .g_definitionlist
{
padding: 1px;
}
#layout-main .block .g_definitionlist table
{
border: none;
margin: 0;
}
html, body, div, form, table
{
left: 0;
}
#layout-content div.group_all div.group_released table td.undumped
{
visibility: hidden;
}
#layout-content div.group_all div.group_released table td.notalldumped
{
visibility: visible;
color: red;
font-weight: bold;
}
#layout-nav #layout-menu li.sub-menu span.tab
{
text-transform: lowercase;
}
#layout-nav #layout-menu li.alert > span
{
color: red;
}
#layout-main div.animelist_all td.awards span.i_icon
{
display: inline-block;
}
#layout-content #layout-main div.ed2kdump_all table.filelist .not
{
background-image: url(images/bluepixel.png);
}
#layout-content #layout-main div.ed2kdump_all table.filelist .unknown
{
background-image: url(images/badredpixel.png);
}
#layout-content #layout-main div.ed2kdump_all table.filelist .in
{
background-image: url(images/greenpixel.png);
}
#layout-main div.cmt_entries div.comment
{
margin-left: 1em;
margin-right: 1em;
border: #898989 1px dashed;
}
#layout-main div.g_timedentry
{
margin-bottom: 0;
padding-bottom: 0;
}
#layout-main dl.profile dd
{
color: #5aacd3;
}
#layout-main dl.profile dd strong
{
color: #FFFFFF;
}
#layout-main div.cmt_entries dl.profile
{
width: 16em;
border-right: #898989 1px dashed;
margin-right: 0;
}
#layout-main div.quotebody
{
margin-left: 2em;
background: url(images/bg_3.gif);
border: #898989 1px dashed;
}
#layout-main div.quotebody div.quotebody:nth-of-type(2n+1),
#layout-main div.forum div.postbody div.code
{
background: url(images/bg_1.gif);
}
#layout-main div.quotebody div.quoteof
{
color: #5aacd3;
font-weight: bold;
margin-left: 0.5em;
}
#layout-main div.quotebody div.quote
{
margin-left: 1.4em;
margin-bottom: 0.5em;
}
#layout-main div.pagination, div.display_options
{
margin-left: 1.5em;
}
#layout-main div.cmt_entries hr
{
border-top: #898989 1px dashed;
border-top: #898989 1px dashed;
}
#layout-content #layout-main div.userpage_all div.stats div.stats_roles td,
#layout-content #layout-main div.myplace_all div.stats div.stats_roles td,
#layout-content #layout-main div.preferences ul li
{
white-space: nowrap;
}
div.filters
{
margin-left: auto;
margin-right: auto;
width: auto;
}
#layout-main div.mylisthistory div.image img,
#layout-main div.g_section.animerel img
{
background: #FFFFFF;
border: 0;
}
#layout-main div.tabbed_pane li.tab
{
background: url(images/whitepixel.png);
}
#layout-main div.tabbed_pane li.tab.selected
{
background: url(images/orangepixel.png);
}
#layout-content #layout-main div.tabbed_pane ul.contribute li.g_odd
{
background: url(images/bg_2.gif);
}
#layout-content #layout-main div.latestanimes_all div.latestanimes_anime h3
{
text-align: center;
}
#layout-main div.profile_all div.tabbed_pane div.permissions div.permissions div label select
{
display: block;
margin-left: 13.5em;
margin-top: -1em;
width: 250px;
}
#layout-main div.profile_all div.tabbed_pane div.user_css textarea
{
width: 500px;
height: 350px;
}
#layout-main div.addanime_all textarea
{
width: 100%;
}
#layout-main div.main_all div.news p.comment
{
float: right;
margin-top: -1.4em;
margin-right: 3pt;
margin-bottom: 0pt;
margin-left: 0pt;
}
div.tagcloud span:nth-child(2n+1) a
{
color: #99FFB6;
}
div.tagcloud span:nth-child(2n+1) a:active
{
color: blue;
}
/*FORUM*/
div.quotebody div.quote div.g_odd
{
background-image: url(images/bg_2.gif);
}
#layout-main div.forum ul.topiclist li
{
background-image: url(images/redpixel.png);
}
#layout-main div.forum dl.icon
{
background-position:10px 50%;
background-repeat:no-repeat;
}
#layout-main div.forum li.header dt,
#layout-main div.forum li.header dd
{
color:#FFFFFF;
}
#layout-main div.forum dl.icon dt
{
background-position:5px 50%;
background-repeat:no-repeat;
}
#layout-main div.forum div.g_bubble.threads
{
background: inherit;
}
#layout-main div.forum div.g_bubble.comment,
#layout-main div.forum ul.topics li.g_odd.row
{
background-image: url(images/bg_2.gif)
}
#layout-main div.forum div.g_bubble.header,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover,
#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.events,
#layout-main div.export_all div.exportblock
{
background-image: url(images/bg_3.gif)
}
#layout-main div.forum div.deleted,
#layout-main div.forum li.deleted dl.icon
{
opacity:0.3;
}
#layout-main div.forum hr
{
background-image: url(images/bg_2.gif)
}
#layout-main div.forum div.signature,
{
border-top-color:#121212;
}
#layout-main div.forum div.poll div.pollbar
{
background-color:#105289;
border-bottom-color:#092e4d;
border-right-color:#092e4d;
color:#FFFFFF;
}
#layout-main div.forum div.poll h2,
#layout-main div.forum div.events h2
{
border-bottom-color:#989898;
color: #ff6000;
}
#layout-main div.forum div.events dl+dl,
#layout-main div.forum div.poll dl+dl
{
border-top-color:#989898;
}
#layout-main div.forum div.events dl,
#layout-main div.forum div.poll dl
{
color:#676767;
}
#layout-main div.forum div.events dl dt,
#layout-main div.forum div.poll dl dt
{
color: white;
}
#layout-main div.forum div.events,
#layout-main div.forum div.poll
{
border-bottom-color:#4A4A5A;
}
#layout-main div.forum div.postbody div.code code
{
color: white;
}
#layout-main div.forum div.postbody div.code
{
background-image: url(images/bg_1.gif);
border-color:#C9D2D8;
}
#layout-main div.forum div.postbody div.code div.title
{
background-image: url(images/bg_3.gif);
border-bottom-color:#CCCCCC;
color: white;
font-weight: bold;
}
#layout-main div.forum div.g_bubble.rules
{
background-color:#ECD5D8;
}
#layout-main div.forum div.g_bubble.rules
{
color:#BC2A4D;
}
#layout-main div.forum div.quickreply textarea
{
border-color:#A9A9A9;
}
#layout-main div.forum div.events dl dd,
#layout-main div.forum div.poll dl dd
{
color:#878787;
}
#layout-main a.username-colored,
#layout-main div.forum a.topictitle:hover
{
color: #ff6000;
}
#layout-main a.username-colored:hover
{
color: #006600;
}
h1,
h2,
h3,
h4,
caption,
#layout-main table.filelist tr.undumped td.id a,
.v_high,
.v_med,
span.diff,
#layout-main div.creq_all .state.new,
#layout-main div.creq_all .state.return,
#layout-main div.creq_all span.type.del,
#layout-main div.msg_all tr.new td.state,
#layout-main div.msg_all tr td.type,
#layout-main div.mylist_list tr.complete td.stats,
#layout-main div.mylist_list tr.all_watched td.stats,
#layout-main div.anime_all div.groups td.lastupdate.new,
#layout-main div.anime_all div.groups td.state.finished a,
#layout-main div.anime_all div.groups td.state.complete a,
#layout-main div.group_released td.state.finished a,
#layout-main div.group_released td.state.complete a,
div.quotebody div.quoteof,
#layout-main div.forum a.username-colored,
#layout-main div.forum div.navbar span.breadcrumbs,
#layout-main div.forum ul.topics dd.lastpost span a,
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum dl.icon dt,
#layout-main div.forum div.options-box dt,
#layout-main div.forum div.events dl dt,
#layout-main div.forum div.poll dl dt,
#layout-main div.forum div.poll div.pollbar
{
font-weight:bold;
}
#layout-main div.forum ul.topics
{
border-left-width: 0;
border-right-width: 0;
}
#layout-main div.forum li.row
{
border: 0;
}
#layout-main div.forum a.topictitle
{
font-size: 120%;
}
#layout-main div.animetag_all div.animetag_list table + div.spoiler
{
margin-top: 1.5em;
}
#layout-main div.tabbed_pane div.pane.hide
{
display: none;
}
div.spoiler
{
padding: 0.6em;
border: #898989 1px dashed;
}
div.spoiler span.spoiler
{
display:block;
margin-bottom: 1em;
}
a.button,
input.button,
button.button,
a.confirmButton,
input.confirmButton,
button.confirmButton {
margin-top: 0.3em;
color: #797979;
border: 1px dashed;
background: url(images/bg_2.gif);
}
#layout-main div.animetag_all div.animetag_list div.spoiler
{
text-align: center;
}
#layout-main div.animetag_all div.animetag_list table td.globalcnt,
#layout-main div.animetag_all div.animetag_list table td.spoiler,
#layout-main div.animetag_all div.animetag_list table td.approval
{
text-align: center;
}
#layout-main div.animetag_all div.animetag_list table td.name
{
text-align: left;
}
#layout-main div.chartags_all div.addbox div.tag-column h5
{
font-size: 100%;
background-image: url(images/bg_2.gif);
}
#layout-main div.chartags_all div.addbox div.tag-group h3
{
text-align: center;
}
#layout-main div.addcharcharrel_all div.explanation div.description
{
background: url(images/bg_2.gif);
border:1px solid #D1D7DC;
margin:1em 0;
padding:4px;
}
.format-buttons select
{
background-color: black;
color: white;
}
#layout-main div.cmt_entries div.postbody div.content
{
margin-left: 18em;
margin-right:1em;
}
#layout-main div.cmt_entries div.postbody p.author,
#layout-main div.cmt_entries div.postbody div.signature
{
margin-left: 18em;
}
#layout-main div.latestanimes_anime
{
padding-left: auto;
padding-right: auto;
margin-left: auto;
margin-right: auto;
clear: none;
max-width: 800px;
}
#layout-main div.latestanimes_anime .i_icon
{
float: right;
}
#layout-main div.latestanimes_anime div.g_image
{
float: none;
display: table-cell;
margin-left: auto;
margin-right: auto;
}
#layout-main div.latestanimes_all .g_image image,
#layout-main div.latestanimes_all div.g_definitionlist
{
display: table-cell;
vertical-align: top;
margin-left: auto;
margin-right: auto;
}
#layout-main div.latestanimes_anime h3
{
margin-left: auto;
margin-right: auto;
display: table-caption;
width: auto;
}
th.c_set,
th.c_setlatin,
th.c_date,
th.c_latin,
th.c_number,
#layout-main th a.inactive {
background: url(images/redpixel.png);
padding-left: inherit;
}
th.s_forward, 
#layout-main th a.descending {
background: url(images/redpixel.png);
padding-left: inherit;
text-decoration: overline;
}
th.s_reverse,
#layout-main th a.ascending{
background: url(images/redpixel.png);
padding-left: inherit;
text-decoration: underline;
}
#layout-main div.addseq_all div.explanation div.description,
#layout-main div.addcharcharrel_all div.explanation div.description,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description,
#layout-main div.addcreatoranimerel_all div.explanation div.description
{
background: url(images/bg_2.gif);
border:1px solid #D1D7DC;
}

#layout-main div.addseq_all div.explanation div.description dl + dl,
#layout-main div.addcharcharrel_all div.explanation div.description dl + dl,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dl + dl,
#layout-main div.addcreatoranimerel_all div.explanation div.description tr + tr td,
#layout-main div.votes_all div.graph div.group + div.group_odd,
#layout-main div.votes_all div.graph div.group_odd + div.group,
#layout-main div.votes_all div.graph.eps div.row + div.row
{
border-top:1px solid #D1D7DC;
}
*.rating
{
white-space: nowrap;
}
#tooltip
{
color:#993300;
filter:alpha(opacity=90);
khtmlopacity:0.90;
mozopacity:0.90;
opacity:0.90;
font-size: 10px;
word-wrap: break-word;
}
/*Bubble Tooltip*/
#tooltip span
{
font-size: 10px;
color: white;
}
#tooltip span.top
{
background:url(images/bubble.png) no-repeat top;
}
#tooltip span.middle
{
background:url(images/bubble_filler.png) repeat-y bottom;
}
#tooltip span.bottom
{
background:url(images/bubble.png) no-repeat bottom;
}
/*epbar colors*/
#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
background-color:grey;
border-bottom: 2px solid grey;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
background-color:#343434;
border-bottom: 2px solid #515151;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
border-bottom: 2px solid #008800;
}
span.i_help
{
color: transparent;
}
#layout-main div.profile_all div.block div.image
{
width: 220px;
padding-left: 40% -220px;
}
#layout-main div.tabbed_pane ul.tabs
{
margin: 0;
padding-left: 4px;
}
div.animetagmod_all tr #tooltip,
div.animetag_all tr #tooltip
{
margin-left: 0px;
}
td,
ul,
div.desc,
.body,
td.id a.i_icon,
th.field,
td.value,
td.name,
td.quality,
td.title,
td.name,
#layout-main div.main_all div.news h4,
#layout-main div.profile_all .g_info
{
text-align:left;
}
.g_list,
.g_info,
.g_input,
.g_section,
#layout-footer p,
#layout-main div.profile_all p,
#layout-main table.grouplist td.number.eps
{
text-align:center;
}
#layout-main div.userpage_all div.charts div,
#layout-main div.userpage_all div.cmt_entries
{
float: none;
clear: none;
display: inline-table;
width: auto;
margin-left: 0;
}
#layout-main div.userpage_all div.forum
{
margin-right: 0;
}
#layout-main div.userpage_all div.cmt_entries
{
width: 100%;
}
#layout-main div.userpage_all div.g_menu
{
float: right;
clear: right;
}
#layout-main div.userpage_all div.g_menu.stats
{
float: left;
clear: left;
}
#layout-main div.userpage_all div.g_section,
#layout-main div.userpage_all div.forum
{
margin-right: 12em;
}
ul#layout-menu li ul li:hover a#newnotifies:first-child, li:hover #newnotifies + a.history, li:hover #newnotifies + a.history + a.nextnotify
{
display: inline-block;
}
.g_bubble
{
-moz-border-radius:0;
border-style:none;
border-width:0;
}
div.tooltip .g_bubble
{
background-image:url(images/bg_2.gif);
border:1px solid gray;
}
#layout-main div.tagcloud
{
padding:1.5em 3.5em;
}
#layout-main div.userpage_all div.charts div.mylisthistory div.image
{
background-color:hsla(0, 100%, 100%, 0.4);
}
#layout-main div.timeline_all div.timeline ul.legend li span
{
border:1px solid grey;
border-left-width:0;
}
#layout-main div.timeline_all div.timeline ul.legend li:first-of-type span
{
border-left-width:1px;
}
#layout-main div.timeline_all div.g_timeline ul.legend
{
margin-bottom:0.5em;
}
div.g_timeline
{
margin:auto;
max-height:none;
overflow:visible;
}
