@import "rarstyle_layout.css";
@import "anidbstyle_images.css";
@import "rarstyle-anime.css";
@import "anidbstyle-animelist.css";
@import "anidbstyle-ep.css";
@import "anidbstyle-genren.css";
@import "anidbstyle-hint2.css";
@import "anidbstyle-latestanimes.css";
@import "anidbstyle-latestreviews.css";
@import "anidbstyle-main.css";
@import "anidbstyle-msg.css";
@import "anidbstyle-mynotifies.css";

html
{
	width: 100%;
}

body
{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	background: white;
}

body, input, select
{
	font-weight: normal;
	font-size: 11px;
	line-height: normal;
	font-family: Georgia, Times, serif;
}


a, input[type="submit"]
{
	text-decoration: none;
	font-variant: small-caps;
	font-family: Georgia, Times, serif;
	word-spacing: 0.3em;
}
a:link, a:visited, a:hover
{
	color: inherit;
}
a:active
{
	color: silver;
}

h4
{
	font-size: 100%;
}

p.g_note, span.g_note, div.g_note
{
	display: none;
}

p, form, div
{
	margin: 0;
	border: 0;
	padding: 0;
}

input[type="checkbox"]
{
	height: 1.3em;
	width: 1.3em;
	margin: 0;
	font-size: 100%;
}

tr.g_odd td,
li.g_odd,
span.g_odd
{
	background-color: black;
	color: white;
}

ul.g_navlist
{
	margin: 0;
	padding: 0.3em;
	text-align: center;
}

ul.g_navlist li
{
	display: inline;
	list-style: none outside;
}

ul.g_navlist li:before
{
	content: " | "
}

ul.g_navlist li.here
{
	font-style: italic;
}

#layout-content div.latest_all ul.g_numonpage
{
	float: right;
}

#layout-content div.latest_all ul.g_numonpage li:first-child:before
{
	content: "show: ";
}


/*:lang(ja)*/ .l_ja
{
	font-size: 200%;
}

/*:lang(ja)*/ .l_ja th
{
	font-size: 50%;
}