#layout-nav
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 1.5em;
	padding-bottom: 16px;
	width: 100%;
	background: transparent url(../bg/daftfader.png) repeat-x bottom;
	color: white;
}

#layout-menu
{
	float: left;
	width: 87%;
	height: 1.3em;
	padding-bottom: 0.3em;
	background-color: black;
}

#layout-menu div.usermenu
{
	display: none;
}

#layout-menu div.mainmenu
{
	height: inherit;
}

#layout-menu div.mainmenu li.genre,
#layout-menu div.mainmenu li.ed2kwatch,
#layout-menu div.mainmenu li.reclinks,
#layout-menu div.mainmenu li.help,
#layout-menu div.mainmenu li.report,
#layout-menu li.mymessages, #layout-menu li.mynotifies, #layout-menu li.mywishlist,
#layout-menu li.myvotes, #layout-menu li.myreviews, #layout-menu li.mydbentries,
#layout-menu li.mycreqs, #layout-menu li.up2date, #layout-menu li.mydbentries
{
	display: none;
}

#layout-menu div.mainmenu li.main a:before
{
	content: "news ________________";
}

#layout-menu div.mainmenu li.producerlist a:before
{
	content: "companies ________________";
}

#layout-menu div.mainmenu li.genren a:before
{
	content: "genres ________________";
}

#layout-menu div.mainmenu li.search a:before
{
	content: "search+ ________________";
}

#layout-menu div.mainmenu li.latest a:before
{
	content: "additions ________________";
}

#layout-menu div.mainmenu li.latestreviews a:before
{
	content: "reviews ________________";
}

#layout-menu div.mainmenu li.forum a:before
{
	content: "forum ________________";
}

#layout-menu div.mainmenu li.latestanimes a:before
{
	content: "calendar ________________";
}

#layout-menu div.mainmenu ul
{
	height: inherit;
	padding: 0;
	margin: 0;
	list-style: none;
}

#layout-menu div.mainmenu li
{
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	height: inherit;
	width: 7.14%;
}

#layout-menu div.mainmenu a
{
	display: block;
	overflow: hidden;
	text-align: center;
	background: black;
	color: white;
	border: white 1px outset;
	margin: 1px 0 0 1px;
	padding: 0 1px 2px 1px;
	height: inherit;
}

#layout-menu div.mainmenu a:hover,
#layout-search div.search form input.submit:hover
{
	background: black;
	color: silver;
	border: silver 1px inset;
}

#layout-search
{
	float: left;
	background: black;
	width: 13%;
	height: 1.5em;
}

#layout-search div.search
{
	height: 1.3em;
}

#layout-search div.search form
{
	height: inherit;
}

#layout-search div.search form p
{
	float: right;
	height: inherit;
}

#layout-search div.search form input.text
{
	display: block;
	float: left;
	min-width: 59%;
	max-width: 59%;
	height: inherit;
	margin: 1px;
	padding: 1px 0px 1px 1px;
	border: white 1px inset;
	background-color: silver;
	color: black;
	overflow: hidden;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#layout-search div.search form input.text:focus
{
	background-color: white;
	border: silver 1px solid;
}

#layout-search div.search form input.submit
{
	display: block;
	float: left;
	min-width: 35%;
	max-width: 35%;
	text-align: center;
	height: inherit;
	margin: 1px;
	padding: 0px 0px 2px 1px;
	border: white 1px outset;
	background: black;
	color: white;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	overflow: hidden;
}


#layout-content
{
	margin-top: 1.3em;
	padding: 16px;
}

#layout-content h1
{
	clear: both;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 0.5em 0;
	text-align: right;
	border-bottom: 3px black double;
}

#layout-content div.section
{
	border-top: 3px black double;
	padding: 1em 0px 1em 0px;
}

#layout-content table
{
	 margin-left: auto;
	 margin-right: auto;
	 border: white 1px solid;
	 border-collapse: collapse;
}

#layout-content a:hover
{
	text-decoration: underline overline;
}

#layout-content div.section.vote form
{
	border: 1px outset;
	padding: 1px;
	background-color: black;
	color: white;
}

#layout-content div.section.vote form div
{
	margin: 0;
	border: white 1px solid;
	padding: 1px;
}

#layout-content div.section.vote form h4
{
	border-bottom: 3px white double;
	font-variant: small-caps;
	text-transform: capitalize;
	font-size: 1.2em;
	margin: 0 0 0.2em 0;
}

#layout-content div.section.vote form label
{
	display: none;
}

#layout-content div.section.vote form input,
#layout-content div.section.vote form select
{
	margin: 1px;
	border: white 1px outset;
	background: black;
	color: white;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#layout-footer
{
	font-size: 60%;
	text-align: center;
	clear: both;
}

#layout-footer p
{
	margin-top: 1em;
	margin-bottom: 0;
}

#layout-footer:after
{
	content: "design by a plum pudding"
}
