#layout-main div.dbstats_all table ol
{
	width: 20em;
}

#layout-main div.stats_all table,
#layout-main div.dbstats_all table
{
	border: none;
	border-spacing: 1em;
}

#layout-main div.stats_all table td,
#layout-main div.dbstats_all table td
{
	border: none;
}

#layout-main div.admin_menu ul,
#layout-main div.admin_cat_menu ul
{
	margin-left: auto;
	margin-right: auto;
	width: 22em;
	text-align: left;
}

#layout-main div.admin_menu ul li,
#layout-main div.admin_cat_menu ul li
{
	padding: 0px 4px;
}

#layout-main div.admin_all div.creatoranimerelation dl,
#layout-main div.admin_all div.characterrelation dl,
#layout-main div.admin_all div.creatorrelation dl
{
	display:block;
	height:1%;
	margin:0;
	overflow:hidden;
}

#layout-main div.admin_all div.creatoranimerelation dl dt,
#layout-main div.admin_all div.characterrelation dl dt,
#layout-main div.admin_all div.creatorrelation dl dt
{
	clear:none;
	float:left;
}

#layout-main div.admin_all div.creatoranimerelation dl dd,
#layout-main div.admin_all div.characterrelation dl dd,
#layout-main div.admin_all div.creatorrelation dl dd
{
	margin-left:20em;
}

#layout-main div.admin_all div.creatoranimerelation div.inner,
#layout-main div.admin_all div.characterrelation div.inner,
#layout-main div.admin_all div.creatorrelation div.inner
{
	margin-bottom:1em;
	margin-left:auto;
	margin-right:auto;
	width:55em;
}

#layout-main div.admin_all div.creatoranimerelation input[type="text"],
#layout-main div.admin_all div.characterrelation input[type="text"],
#layout-main div.admin_all div.creatorrelation input[type="text"]
{
	width:300px;
}

#layout-main div.admin_all div.creatoranimerelation dl dd label,
#layout-main div.admin_all div.characterrelation dl dd label,
#layout-main div.admin_all div.creatorrelation dl dd label
{
	display:block;
}

#layout-main div.creqmod_all table
{
	width: 98%;
}

#layout-main div.creqmod_all div.creq_head dl dd
{
	margin-left: 15em;
}

#layout-main div.admin_all div.admin_genren_edit textarea
{
	width:500px;
	height:300px;
}

#layout-main div.avmf_all div.avmf_list table,
#layout-main div.admin_all div.admin_blacklist.list table,
#layout-main div.admin_all div.admin_genren table,
#layout-main div.admin_all div.searchassist table,
#layout-main div.admin_all div.admin_user_avatars table,
#layout-main div.admin_all div.admin_user.list table,
#layout-main div.admin_all table.creatorrelation,
#layout-main div.admin_all table.creatoranimerel,
#layout-main div.log_all div.log_list table
{
	width:100%;
}

#layout-main div.admin_all table.creatoranimerel td.count
{
	width:6em;
}

#layout-main div.log_all div.log_list
{
	margin-top: -3em;
}

#layout-main div.avmf_all div.avmf_list ul.g_list + table,
#layout-main div.log_all div.log_list ul.g_list + table,
#layout-main div.admin_all div.admin_user_avatars  ul.g_list + table
{
	margin-top:1em;
}