@import "addentity.css";
@import "addepm.css";
@import "addsimilaranime.css";
@import "addsimilarmanga.css";
@import "addtagentityrel.css";
@import "admin.css";
@import "anime.css";
@import "animeatt.css";
@import "animelist.css";
@import "buddylist.css"
@import "calendar.css";
@import "charlist.css";
@import "club.css";
@import "clublist.css";
@import "cmt.css";
@import "collection.css";
@import "collectionlist.css";
@import "creatorlist.css";
@import "credits.css";
@import "creq.css";
@import "customise.css";
@import "ed2kdump.css";
@import "export.css";
@import "ep.css";
@import "file.css";
@import "genren.css";
@import "group.css";
@import "grouplist.css";
@import "import.css";
@import "irc.css";
@import "latest.css";
@import "main.css";
@import "manga.css";
@import "mangaatt.css";
@import "mangalist.css";
@import "mangaelement.css";
@import "modlatest.css";
@import "msg.css";
@import "mydb.css";
@import "mylist.css";
@import "mynotifies.css";
@import "myplace.css";
@import "myrecs.css";
@import "myvotes.css";
@import "picupload.css";
@import "profile.css";
@import "relations.css";
@import "reports.css";
@import "song.css";
@import "songlist.css";
@import "tag.css";
@import "tags.css";
@import "userlist.css";
@import "votes.css";
@import "wishlist.css";
