#layout-main div.animelist_all td.awards span.i_icon
{
	display: -moz-inline-box;
	display: inline-block;
}

#layout-main div.animelist_all div.filters ul li span,
#layout-main div.animelist_all div.filters ul li span span
{
    display: -moz-box;
    display: inline-block;
}

#layout-main div.animelist_all div.filters ul li span span span
{
    display: none;
}

#layout-main div.animelist_all table.animelist
{
	width: 100%
}