#layout-main div.anime_all div.info th span.i_icon
{
	float: right;
}

#layout-main div.anime_all div.episodes div.mylist_add
{
	margin-top: 1em;
}

#layout-main div.anime_all div.mylist table td
{
	padding: 1em;
}

#layout-main div.anime_all div.mylist table td span.i_icon
{
	margin-left: 1em;
}

#layout-main div.anime_all div.awards
{
	clear: both;
	text-align: center;
}

#layout-main table.eplist table.filelist
{
	width: 100%;
}

#layout-main div.anime_all div.tags
{
	margin-top:1em;
	margin-bottom:1em;
}

#layout-main div.anime_all div.tabbed_pane ul.contribute
{
    border:none;
}

#layout-main div.anime_all div.data td.value form
{
	text-align:left;
}

#layout-main div.anime_all #grouplist td.icons a + a
{
	margin-left: 0.5em;
}

#layout-main div.anime_all div.groups table.grouplist,
#layout-main div.anime_all div.character table.characterlist,
#layout-main div.anime_all div.seiyuu table.seiyuulist,
#layout-main div.anime_all div.relations table.relationslist,
#layout-main div.anime_all div.recommendations table.recommendationslist,
#layout-main div.anime_all div.reviews table.reviewlist,
#layout-main div.anime_all div.episodes table.eplist,
#layout-main div.anime_all > div.g_section.characters > table,
#layout-main div.anime_all > div.g_section.staff > table,
#layout-main div.anime_all > div.g_section.songs > table,
#layout-main div.anime_all > div.g_section.reviews > table
{
	width: 98%;
}

#layout-main div.anime_all #tabbed_pane_main
{
	margin:1.5em 1em 1em;
}

#layout-main div.anime_all div.reviews table.reviewlist th.approval
{
	width:12em;
}

#layout-main div.anime_all table.stafflist td.credit,
#layout-main div.anime_all table.stafflist td.name
{
	width:30%;
}

#layout-main div.anime_all table.stafflist td.comment,
#layout-main div.anime_all table.stafflist td.eprange
{
	min-width:10em;
}

#layout-main div.anime_all table.stafflist + table.stafflist
{
	margin-top: 1.5em;
}

#layout-main div.anime_all div.songs table th.credit
{
	min-width:15em;
}

#layout-main div.anime_all div.recommendations td.action,
#layout-main div.anime_all div.reviews td.action
{
	text-align:right;
}

#layout-main div.group_all div.group_released td.epbar,
#layout-main div.anime_all div.groups td.epbar
{
	width:30%;
}

#layout-main div.group_all div.group_released td.epbar div,
#layout-main div.anime_all div.groups td.epbar div
{
	float:left;
	height:8px;
}

#layout-main div.anime_all div.forum div.threads,
#layout-main div.anime_all div.forum div.note
{
	margin-left: 1em;
	margin-right: 1em;
}

#layout-main div.anime_all div.episodes table.eplist th.title
{
	max-width: 50%;
}

#layout-main div.anime_all div.info div.caststaff
{
	margin-top: 0.5em;
}

#layout-main div.anime_all div.info div.caststaff > div
{
	float:left;
	padding:4px;
	width:46.5%;
	margin-right: 0.5em;
}

#layout-main div.anime_all div.info div.caststaff div.cast + div.staff
{
	float:right;
	margin-right:0;
}

#layout-main div.anime_all div.info div.caststaff div h4
{
	text-align:left;
}

#layout-main div.anime_all div.info div.caststaff div.cast td.as
{
	width:1em;
}

#layout-main div.anime_all div.info div.caststaff div td
{
	padding:0.2em 0.5em 0.2em 0;
}

#layout-main div.anime_all div.info div.caststaff div.staff td.creator,
#layout-main div.anime_all div.info div.caststaff div.cast td.char
{
	padding-right:0;
}

#layout-main div.anime_all div.info div.caststaff div td.action
{
	padding-top: 1em;
	text-align:right;
}