#layout-main div.anime_all div.info th span.i_icon
{
	float: right;
}

#layout-main div.anime_all div.episodes div.mylist_add
{
	margin-top: 1em;
}

#layout-main div.anime_all div.mylist table td
{
	padding: 1em;
}

#layout-main div.anime_all div.mylist table td span.i_icon
{
	margin-left: 1em;
}

#layout-main div.anime_all div.awards
{
	clear: both;
	text-align: center;
}

#layout-main table.eplist table.filelist
{
	width: 100%;
}

#layout-main div.anime_all div.tags
{
	margin-top:1em;
	margin-bottom:1em;
}

#layout-main div.anime_all div.tabbed_pane ul.contribute
{
    border:none;
}

#layout-main div.anime_all div.data td.value form
{
	text-align:left;
}

#layout-main div.anime_all #grouplist td.icons a + a
{
	margin-left: 0.5em;
}

#layout-main div.anime_all div.groups table.grouplist,
#layout-main div.anime_all div.character table.characterlist,
#layout-main div.anime_all div.seiyuu table.seiyuulist,
#layout-main div.anime_all div.relations table.relationslist,
#layout-main div.anime_all div.relations table.recommendationslist,
#layout-main div.anime_all div.relations table.reviewlist,
#layout-main div.anime_all div.episodes table.eplist
{
	width: 98%;
}

#layout-main div.anime_all div.#tabbed_pane_main
{
	margin:1.5em 1em 1em;
}