#layout-main div.animeatt_reviews div.review
{
	clear: right;	
}
#layout-main div.animeatt_reviews div.review
{
	padding-top: 3em;
}
#layout-main div.animeatt_reviews div.review div.head,
#layout-main div.animeatt_reviews div.review div.avatar,
#layout-main div.animeatt_reviews div.review div.menu
{
	float: right;
	clear: right;
	width: 10em;
	padding-right: 2em;
}
#layout-main div.animeatt_reviews div.review div.avatar
{
	margin-top: -2em;
}
#layout-main div.animeatt_reviews div.review div.head table,
#layout-main div.animeatt_reviews div.review div.avatar,
#layout-main div.animeatt_reviews div.review div.menu
{
	width: 10em;
}
#layout-main div.animeatt_reviews div.review div.body
{
	text-align: left;
	padding-right: 14em;
	padding-left: 8em;
}
#layout-main div.animeatt_reviews div.review div.head table td.value
{
	text-align: right;
}

#layout-main div.animeatt_comment
{
	text-align: left;	
}
#layout-main div.animeatt_comment textarea
{
	width: 96%;
	height: 10em;
}

#layout-main div.animeatt_all div.topic_actions
{
	height: 25px;
}

#layout-main div.animeatt_all div.topic_actions div.buttons a
{
	float: left;
}

#layout-main div.animeatt_all div.topic_actions div.icons
{
	float: right;
}