#layout-main div.animelist_all td.awards span.i_icon
{
	display: -moz-inline-box;
	display: inline-block;
}

#layout-main div.animelist_all div.filters ul li span,
#layout-main div.animelist_all div.filters ul li span span
{
    display: -moz-box;
    display: inline-block;
}

#layout-main div.animelist_all div.filters ul li span span span
{
    display: none;
}

#layout-main div.animelist_all table.animelist th.title
{
	width: 98%
}

#layout-main div.animelist_all div.note,
#layout-main div.animelist_all div.fullsearch_form
{
	clear:none;
}

#layout-main div.latest2_all div.animelist_all td.type
{
	white-space:nowrap;
}