#layout-main div.addcharcharrel_all div.explanation div.description
{
	background-color:#F4F4F4;
	border:1px solid #D1D7DC;
	margin:1em 0;
	padding:4px;
}

#layout-main div.addcharcharrel_all div.explanation div.description dl + dl
{
	border-top:1px solid #D1D7DC;
	margin-top:0.25em;
	padding:0.25em;
}

#layout-main div.addcharcharrel_all div.explanation div.description dl
{
	margin:0;
	text-align:left
}

#layout-main div.addcharcharrel_all div.explanation div.description dt
{
	font-weight: bold;
	width: 20em;
}

#layout-main div.addcharcharrel_all div.explanation div.description dd
{
	margin-left: 21em;
}