#layout-main div.cmt_add p.g_howto
{
	text-align: left;
}

#layout-main div.cmt_add form div textarea
{
	display: block;
	width: 80%;
	margin-left: 10%;
	height: 10em;
}

#layout-main div.comment
{
	line-height: 1.4;
}
#layout-main div.comment span.icons
{
	float: right;
}
#layout-main div.comment span.stamp span.icons
{
	float: left;
}

#layout-main div.cmt_all div.topic_actions
{
	height: 25px;
}

#layout-main div.cmt_all div.topic_actions span.icons
{
	float: right;
}

#layout-main div.cmt_all div.topic_actions div.buttons a
{
	float: left;
}

/*

-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------
-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------
-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------
-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------
-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------
-----------------PURE DEV ENVIROMENT AHEAD----------------------------
-----------------JUST PUTTING THIS HERE FOR BACKUP PURPOSE------------
-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------
-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------
-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------
-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------
-----------------DON'T USE ANYTHING FROM BELOW THIS-------------------

*/

#layout-main div.forum ul.topiclist
{
	background-color:inherit;
	border:none;
	display:block;
	list-style-type:none;
	margin:0;
}

#layout-main div.forum ul.topiclist dd
{
	border-left:1px solid #FFFFFF;
	border-left-color:#FFFFFF;
	display:block;
	float:left;
	margin-left:0;
	padding-left:.5em;
}

#layout-main div.forum ul.topiclist li
{
	color:#4C5D77;
	display:block;
	list-style-type:none;
	margin:0;
}

#layout-main div.forum li.header dl.icon
{
	min-height:0;
	width:100%;
}

#layout-main div.forum ul.topiclist dl
{
	display:block;
	height:1%;
	margin:0;
	overflow:hidden;
	position:relative;
}

#layout-main div.forum dl.icon
{
	background-position:10px 50%;
	background-repeat:no-repeat;
	height:auto!important;
	min-height:35px;
}

#layout-main div.forum li.header dl.icon dt
{
	padding-left:.5em;
}

#layout-main div.forum dl.icon dt
{
	background-position:5px 95%;
	background-repeat:no-repeat;
	font-weight:bold;
}

#layout-main div.forum ul.topiclist dt
{
	display:block;
	float:left;
	padding-left:.5em;
	width:50%;
}

#layout-main div.forum li.row
{
	border-bottom:1px solid #8F8F8F;
	border-bottom-color:#00608F;
	border-top:1px solid #FFFFFF;
	border-top-color:#FFFFFF;
}

#layout-main div.forum li.header dt,
#layout-main div.forum li.header dd
{
	border-left-width:0;
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
	line-height:1em;
	margin:2px 0 4px;
	padding-bottom:2px;
	padding-top:2px;
	text-transform:uppercase;
}

#layout-main div.forum ul.topiclist dd.posts,
#layout-main div.forum ul.topiclist dd.topics
{
	text-align:center;
	width:8%;
}

#layout-main div.forum ul.topics dd.posts,
#layout-main div.forum ul.topics dd.topics
{
	font-size:1.2em;
	line-height:2.2em;
}

#layout-main div.forum a.topictitle
{
	color:#105289;
	font-family:"Trebuchet MS",Helvetica,Arial,Sans-serif;
	font-size:1.2em;
	font-weight:bold;
}

#layout-main div.forum a.topictitle:hover
{
	color:#AA0000;
}

#layout-main div.forum a.username-coloured
{
	color:#AA0000;
	display:inline!important;
	font-weight:bold;
}

#layout-main div.forum ul.topics dt,
#layout-main div.forum dd.lastpost
{
	font-size:1.1em;
}

#layout-main div.forum ul.topiclist li.row dl
{
	padding:2px 0;
}

#layout-main div.forum ul.topiclist li.row dd.lastpost
{
	padding-bottom:4px;
	padding-top:2px;
}

#layout-main div.forum a.lastpost
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/icon_topic_latest.gif) no-repeat;
	display:inline-block;
	height:9px;
	width:11px;
}

#layout-main div.forum ul.topiclist li.row dl.icon dt.icon span
{
	display:block;
	font-weight:normal;
	margin-top:-.3em;
	padding-left:3em;
}

#layout-main div.forum ul.topiclist li.row dl.icon
{
	padding-left:0.3em;
}

#layout-main div.forum div.threads
{
	background:#B1B1B1 none repeat-x scroll 0 0;
	background-color:#4992B6;
	background-image:url(http://forum.anidb.net/styles/arsilver/theme/images/bg_list.gif);
	margin-bottom:4px;
}

#layout-main div.forum div.topic_actions
{
	height:25px;
	margin-bottom:1em;
}

#layout-main div.forum div.topic_actions span.icons
{
	float:right;
}

#layout-main div.forum div.topic_actions div.buttons a
{
	float:left;
}

#layout-main div.forum ul.topics
{
	border-left:5px solid #4992B6;
	border-right:5px solid #4992B6;
}

#layout-main div.forum ul.topics li.row
{
	background-color:#ECF3F7;
}

#layout-main div.forum ul.topics li.g_odd
{
	background-color:#E1EBF2;
}

#layout-main div.forum span.corners-bottom
{
	clear:both;
}

#layout-main div.forum span.corners-top,
#layout-main div.forum span.corners-bottom,
#layout-main div.forum span.corners-top span,
#layout-main div.forum span.corners-bottom span
{
	background-repeat:no-repeat;
	display:block;
	font-size:1px;
	height:5px;
	line-height:1px;
}

#layout-main div.forum hr
{
	border-color:#CCCCCC #FFFFFF #FFFFFF;
	border-style:solid none none;
	border-width:1px 0 0;
	clear:both;
	display:block;
	height:1px;
	margin:5px 0;
}

#layout-main div.forum ul.topics li.row:hover
{
	background-color:#CBD6DE;
}

#layout-main div.forum div.navbar div.linklist span
{
	display:block;
	font-size:1.1em;
	font-weight:bold;
	line-height:2em;
	margin-right:5px;
	width:auto;
}

#layout-main div.forum div.navbar div.linklist
{
	padding-bottom:.5em;
	padding-left:1em;
	padding-top:.5em;
}

#layout-main div.forum div.navbar
{
	background-color:#CADCEB;
}

*.i_topic_normal
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/topic_read.gif) no-repeat;
	margin-right:-.5em;
	margin-top:.2em;
}

*.i_topic_sticky
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/sticky_read.gif) no-repeat;
	margin-right:-.5em;
	margin-top:.2em;
}

*.i_topic_announcement
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/announce_read.gif) no-repeat;
	margin-right:-.5em;
	margin-top:.2em;
}

*.i_topic_global
{
	background:url(http://forum.anidb.net/styles/arsilver/imageset/announce_read.gif) no-repeat;
	margin-right:-.5em;
	margin-top:.2em;
}

*.i_topic_add
{
	background:transparent url(http://forum.anidb.net/styles/arsilver/imageset/en/button_topic_new.gif) no-repeat scroll 0 50%;
	height:25px;
	margin:5px;
	width:96px;
}

*.i_topic_delete
{
	background:transparent url(http://forum.anidb.net/styles/arsilver/imageset/en/button_topic_new.gif) no-repeat scroll 0 50%;
	height:25px;
	margin:5px;
	width:96px;
}