#layout-main div.cmt_add p.g_howto
{
	text-align: left;
}

#layout-main div.cmt_add form div textarea
{
	display: block;
	width: 80%;
	margin-left: 10%;
	height: 10em;
}

#layout-main div.cmt_entries div.comment span.icons
{
	float: right;
}
#layout-main div.cmt_entries div.comment span.stamp span.icons
{
	float: left;
}

#layout-main div.cmt_entries div.comment
{
	text-align:left;
	min-height:0pt;
	margin-bottom:1em;
	line-height: 1.4;
}

#layout-main div.cmt_entries dl.profile
{
	display:inline;
	float:left;
	margin:0pt 8px 8pt 8pt;
	min-height:80px;
	width:15em;
}

#layout-main div.cmt_entries dl.profile dd
{
	clear:none;
	float:none;
	margin-left:0em;
}

#layout-main div.cmt_entries dl.profile dd.user
{
	padding-top:8pt;
}

#layout-main div.cmt_entries dl.profile dd.user_icons
{
	padding-top: 1.6em;
}

#layout-main div.cmt_entries dl.profile dd.user_icons span.icons
{
	float: none;
}

#layout-main div.cmt_entries div.postbody div.content
{
	margin-left: 17em;
	margin-right: 1em;
}

#layout-main div.cmt_entries div.postbody p.author
{
	margin:0pt 15em 0.6em 0pt;
	padding:2pt 0pt 5px;
}

#layout-main div.cmt_entries div.postbody span.actions
{
	display:block;
	padding-right: 0.5em;
}

#layout-main div.cmt_entries div.postbody span.actions a
{
	float:right;
	margin-top: 4px;
}

#layout-main div.cmt_entries div.postfooter
{
	clear:both;
	height:11px;
	text-align:right;
	padding-bottom:0.9em;
	padding-right:1em;
}

#layout-main div.cmt_entries div.postfooter a.i_top
{
	display:block;
	float:right;
}

#layout-main div.forum div.topic_actions
{
	height: 25px;
}

#layout-main div.forum div.topic_actions span.icons
{
	float: right;
}

#layout-main div.forum div.topic_actions div.buttons a
{
	float: left;
}

#layout-main div.forum ul.topiclist
{
	display:block;
	list-style-type:none;
	margin:0;
}

#layout-main div.forum ul.topiclist dd
{
	display:block;
	float:left;
	margin-left:0;
	padding-left:.5em;
}

#layout-main div.forum ul.topiclist li
{
	display:block;
	list-style-type:none;
	margin:0;
}

#layout-main div.forum li.header dl.icon
{
	min-height:0;
	width:100%;
}

#layout-main div.forum ul.topiclist dl
{
	display:block;
	height:1%;
	margin:0;
	overflow:hidden;
	position:relative;
}

#layout-main div.forum dl.icon
{
	height:auto!important;
	min-height:35px;
}

#layout-main div.forum li.header dl.icon dt
{
	padding-left:.5em;
}

#layout-main div.forum ul.topiclist dt
{
	display:block;
	float:left;
	padding-left:.5em;
	width:50%;
}

#layout-main div.forum li.header dt,
#layout-main div.forum li.header dd
{
	line-height:1em;
	margin:2px 0 4px;
	padding-bottom:2px;
	padding-top:2px;
}

#layout-main div.forum ul.topiclist dd.posts,
#layout-main div.forum ul.topiclist dd.topics
{
	text-align:center;
	width:8%;
}

#layout-main div.forum ul.topics dd.posts,
#layout-main div.forum ul.topics dd.topics
{
	line-height:2.2em;
}

#layout-main div.forum a.username-coloured
{
	display:inline!important;
}

#layout-main div.forum ul.topiclist li.row dl
{
	padding:2px 0;
}

#layout-main div.forum ul.topiclist li.row dd.lastpost
{
	padding-bottom:4px;
	padding-top:2px;
}

#layout-main div.forum a.lastpost
{
	display:inline-block;
	height:9px;
	width:11px;
}

#layout-main div.forum ul.topiclist li.row dl.icon dt.icon span.title
{
	display:block;
	margin-top:-.3em;
	padding-left:3em;
}

#layout-main div.forum ul.topiclist li.row dl.icon dt.icon span.title div.pagination
{
	margin-top:0em;
}

#layout-main div.forum ul.topiclist li.row dl.icon
{
	padding-left:0.3em;
}

#layout-main div.forum div.threads
{
	margin-bottom:4px;
}

#layout-main div.forum div.topic_actions
{
	height:12px;
	margin-bottom:1.5em;
	margin-top:1.5em;
}

#layout-main div.forum div.topic_actions span.icons
{
	float:right;
}

#layout-main div.forum div.topic_actions div.buttons a
{
	float:left;
}

#layout-main div.forum hr
{
	clear:both;
	display:block;
	height:1px;
	margin:5px 0;
}

#layout-main div.forum div.navbar
{
	margin-bottom: 1em;
}

#layout-main div.forum div.navbar div.inner span.messages,
#layout-main div.forum div.navbar div.inner span.breadcrumbs,
#layout-main div.forum div.navbar div.inner span.info
{
	display:block;
	line-height:2em;
	width:auto;
}

#layout-main div.forum div.navbar div.inner span.breadcrumbs
{
	float:left;
}

#layout-main div.forum div.navbar span.icons
{
padding-top: 0.5em;
padding-right: 1em;
}

#layout-main div.forum div.navbar div.inner div.bottom
{
clear:both;
margin-right: 1em;
}

#layout-main div.forum div.navbar div.inner
{
	padding-bottom:.5em;
	padding-left:1em;
	padding-top:.5em;
}

#layout-main div.forum div.navbar span.info
{
	float:right;
	padding-right: 1em;
}

#layout-main div.forum div.navbar div.fake
{
	clear:both;
}

#layout-main div.forum div.signature
{
	line-height:140%;
	margin-top:1.5em;
	overflow:hidden;
	padding-top:0.2em;
	margin-left:16em;
	margin-right:1em;
}

#layout-main div.forum span.postdeleted,
#layout-main div.forum span.postedited
{
	display:block;
	padding-top:3em;
}

#layout-main div.forum div.spoiler
{
	padding: 0.6em;
}

#layout-main div.forum div.spoiler span
{
	display:block;
	margin-bottom: 1em;
}

#layout-main div.forum .rtop, .rbottom
{
	display:block;
}

#layout-main div.forum .rtop *, .rbottom *
{
	display: block;
	height: 1px;
	overflow: hidden;
}

#layout-main div.forum .r1
{
	margin: 0 5px;
}

#layout-main div.forum .r2
{
	margin: 0 3px;
}

#layout-main div.forum .r3
{
	margin: 0 2px;
}

#layout-main div.forum .r4
{
	margin: 0 1px;
	height: 2px;
}

#layout-main div.forum div.posting-box dt
{
	clear:none;
	float:left;
	font-size:1.1em;
	font-weight:700;
	padding-top:3px;
}

#layout-main div.forum div.posting-box dl
{
	display:block;
	height:1%;
	margin:0;
	overflow:hidden;
}

#layout-main div.forum div.posting-box div.message-box,
#layout-main div.forum div.posting-box dl.topic
{
	clear:left;
}

#layout-main div.forum div.posting-box div.smiley-box
{
	float:right;
	width:18%;
}

#layout-main div.forum div.posting-box div.smiley-box a
{
	margin:.3em;
}

#layout-main div.forum div.posting-box div.message-box textarea
{
	height:20em;
	margin-left:0;
	width:100%;
}

#layout-main div.forum div.posting-box div.message-box
{
	width:80%;
}

#layout-main div.forum div.format-buttons
{
	margin-bottom:.2em;
	margin-left:.2em;
	text-align:left;
}

#layout-main div.forum div.format-buttons input + input
{
	margin-left:.5em;
}

#layout-main div.forum div.posting-box,
#layout-main div.forum div.submit-box,
#layout-main div.forum div.options-box
{
	margin-top:1em;
}

#layout-main div.forum div.posting-box div.inner,
#layout-main div.forum div.options-box div.inner,
#layout-main div.forum div.submit-box div.inner
{
	padding:.5em 1em;
}

#layout-main div.forum dl.topic
{
	padding-bottom:1.5em;
}

#layout-main div.forum dl.subject input
{
	width:300px;
}

#layout-main div.forum div.options-box h3
{
	padding-bottom:.5em;
}

img.smiley
{
	display: -moz-inline-box;
	display: inline-block;
}

#layout-main div.forum div.options-box div,
#layout-main div.forum div.options-box h3,
#layout-main div.forum span.messages,
#layout-main div.forum div.statistics h3
{
	text-align:left;
}

#layout-main div.forum div.statistics
{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

#layout-main div.forum div.statistics p
{
	margin: 0;
	padding: 0;
}

#layout-main div.forum div.buttons a + a
{
	margin-left: 1em;
}

#layout-main div.forum div.topic_actions div.linklist
{
	float:left;
	margin-top: 1em;
}

#layout-main div.forum div.options-box,
#layout-main div.forum div.posting-box dl.vote
{
	margin-bottom: 1em;
}

#layout-main div.forum div.posting-box div.format-buttons select
{
	margin-left: 0.5em;
}

/*BORDER*/
#layout-main div.forum hr,
#layout-main div.forum ul.topiclist
{
	border:none;
}

#layout-main div.forum ul.topiclist dd
{
	border-left:1px solid;
}

#layout-main div.forum li.row
{
	border-bottom:1px solid;
	border-top:1px solid;
}

#layout-main div.forum li.header dt,
#layout-main div.forum li.header dd
{
	border-left-width:0;
}

#layout-main div.forum ul.topics
{
	border-left:5px solid;
	border-right:5px solid;
}

#layout-main div.forum div.spoiler
{
	border: 1px inset;
}

#layout-main div.forum div.signature,
#layout-main div.forum div.navbar div.inner div.bottom
{
	border-top:1px solid;
}

#layout-main div.cmt_entries dl.profile
{
	border-right: 1px solid;
}

/*playthign test code*/
#layout-main div.forum div.postbody dl.codebox
{
	background-color:#FFFFFF;
	border:1px solid;
	border-color:#C9D2D8;
	display:block;
	font-size:1em;
	line-height:1.4em;
	padding:3px;
}

#layout-main div.forum div.postbody dl.codebox dt
{
	border-bottom:1px solid #CCCCCC;
	color:#000000;
	display:block;
	font-family:"Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	font-size:1em;
	font-weight:bold;
	margin-bottom:3px;
	text-transform:uppercase;
	clear: none;
	float: none;
}

#layout-main div.forum div.postbody dl.codebox dd
{
	margin:0;
}

#layout-main div.forum div.postbody dl.codebox code
{
	-x-system-font:none;
	color:#2E8B57;
	display:block;
	font-family:Monaco,"Andale Mono","Courier New",Courier,mono;
	font-size:1.2em;
	height:auto;
	line-height:1.3em;
	margin:2px 0;
	max-height:200px;
	overflow:auto;
	padding-top:5px;
	white-space:normal;
}

#layout-main div.forum div.options-box dt
{
	clear:none;
	float:left;
	font-size:1em;
	font-weight: bold;
	font-size:1.1em;
}

#layout-main div.forum div.options-box dl
{
	display:block;
	height:1%;
	margin:0;
	overflow:hidden;
}

#layout-main div.forum dl.question input
{
	width:85%;
	padding-left:4px;
	padding-right:4px;
}

#layout-main div.forum div.options-box textarea
{
	height:10em;
	margin-left:0;
	width:85%;
}

#layout-main div.forum div.options-box dl dd
{
	margin-left:15em;
}

#layout-main div.forum dl.enddate input
{
	width:75px;
}

#layout-main div.forum div.posting-box dl + dl,
#layout-main div.forum div.options-box dl + dl
{
	margin-top: 0.5em;
}

#layout-main div.forum div.options-box div.polls
{
	margin-top: 0.5em;
}

#layout-main div.forum span.desc
{
	display:block;
	width: 12em;
	margin-top: 0.5em;
	font-style: italic; 
	font-weight: normal;
}

#layout-main div.forum div.poll
{
	border-bottom:1px solid #4A4A5A;
	margin-bottom:.5em;
	padding-bottom:.5em;
}

#layout-main div.forum div.poll div.inner,
#layout-main div.forum div.poll .rbottom *,
#layout-main div.forum div.poll .rtop *,
#layout-main div.forum div.comment div.inner,
#layout-main div.forum div.comment .rbottom *,
#layout-main div.forum div.comment .rtop *
{
	background-color:#A9ABB1;
}

#layout-main div.forum div.poll div.question,
#layout-main div.forum div.poll form
{
	display:block;
	margin-left:1em;
	margin-right:1em;
	padding-bottom:1em;
	padding-top:.5em;
}

#layout-main div.forum div.poll dl
{
	border-top:1px solid #989898;
	color:#666666;
	height:1%;
	line-height:120%;
	margin-top:5px;
	padding:5px 0 0;
	width:100%;
}

#layout-main div.forum div.poll dl dd
{
	border-left:medium none;
	color:#666666;
	display:block;
	float:left;
	font-size:1.1em;
	line-height:120%;
	margin-bottom:3px;
	margin-left:0;
	padding:0 5px;
	vertical-align:top;
	width:10%;
}

#layout-main div.forum div.poll dl dt
{
	border-right:medium none;
	color:#555555;
	display:block;
	float:left;
	font-size:1.1em;
	font-weight:bold;
	line-height:120%;
	margin:0;
	padding:0 5px 0 0;
	text-align:left;
	width:30%;
}

#layout-main div.forum div.poll form div.resultbar
{
	margin-left:30%;
	margin-top:1em;
	text-align:left;
}

#layout-main div.forum div.poll form div.resultbar a,
#layout-main div.forum div.poll form div.resultbar input
{
	margin-left:10px;
}

#layout-main div.forum div.poll h2
{
	border-bottom:1px solid #989898;
	color:#006699;
	display:block;
	font-size:1.6em;
	font-weight:bold;
	line-height:1.4em;
	padding-bottom:.5em;
	text-align:left;
}

#layout-main div.forum div.poll p
{
	font-size:1em;
	line-height:1.2em;
	margin-left:1em;
	margin-right:1em;
	padding:0;
	text-align:left;
}

#layout-main div.forum div.poll div.pollbar
{
	background-color:#F81157;
	color:#FFFFFF;
	font-weight:bold;
	min-width:2%;
	overflow:visible;
	padding:0 2px;
	text-align:right;
	border-right-color:#D11A4E;
	border-bottom:1px solid #D11A4E;
	border-right:1px solid #D11A4E;
}

#layout-main div.forum div.poll dl dd.resultbar
{
	width: 50%;
}

#layout-main div.forum dl.useroptions input
{
	width:25px;
}

#layout-main div.forum div.poll dl dd.votebox
{
	width:15px;
}