#layout-main div.export_all div.exportblock + div.exportblock
{
	margin-top: 2em;
}

#layout-main div.export_all div.exportblock div.inner
{
	padding-top: 1em;
	padding-bottom: 1em;
}

#layout-main div.export_all div.exportblock div.inner h4
{
	padding-bottom: 0.5em;
}

#layout-main div.export_all div.exportblock div.inner div.content
{
	text-align: left;
	padding-left: 2em;
}

#layout-main div.export_all div.exportblock div.inner div.content a.example
{
	padding-top: 1em;
	display:block;
}

#layout-main div.export_all .rtop, .rbottom
{
	display:block;
}

#layout-main div.export_all .rtop *, .rbottom *
{
	display: block;
	height: 1px;
	overflow: hidden;
}

#layout-main div.export_all .r1
{
	margin: 0 5px;
}

#layout-main div.export_all .r2
{
	margin: 0 3px;
}

#layout-main div.export_all .r3
{
	margin: 0 2px;
}

#layout-main div.export_all .r4
{
	margin: 0 1px;
	height: 2px;
}