#layout-content div.file_info dl .type,
#layout-content div.file_info dl .censored,
#layout-content div.file_info dl .stats,
#layout-content div.file_info dl .owner
{
	margin-top: 0.4em;
}

#layout-content div.file_tracks div,
#layout-content div.file_relations div
{
	margin-top: 0.6em;
}

#layout-content div.addfilem.form div.dump textarea
{
	width: 100%;
	height: 30em;
	white-space: nowrap;
}

#layout-content div.addfilem.form dl.options dt
{
	text-align: left;
}

#layout-content div.addfilem.form dl.options dd
{
	margin-left: 8em;
}

#layout-content div.addfilem.form dl.options dd select
{
	min-width: 10em;
	max-width: 20.4em;
}