#layout-main .categories div.controls
{
	text-align: center;
}

#layout-main ul#cattree
{
	margin-left: 1em;
}
#layout-main ul#cattree a.i_icon
{
	float: left;
	margin-left: -16px;
}

#layout-main ul#cattree li
{
	line-height: 14px;
	margin-left: 2em;
}

#layout-main ul#cattree li > span
{
	display: block;
}

#layout-main ul#cattree li.collapsed ul
{
	display: none;
}

#layout-main ul#cattree li
{
    margin-bottom: 0.5em;
}

#layout-main ul#cattree li span
{
    display: block;
    line-height: 1.8;
    margin-right: 1em;
}

#layout-main ul#cattree li span select
{
    display: block;
    margin-left: 20em;
    margin-top: -1.8em;
}