#layout-main ul#cattree ul
{
	margin-left: 2em;
}
#layout-main ul#cattree *.cat
{
	display: block;
	line-height: 2;
	margin-left: 2em;
	margin-right: 2em;
}
#layout-main ul#cattree a.i_icon
{
	float: left;
	/* an unsatisfactory nudge to get better vertical centering */
	margin-top: 0.3em; 
}

#layout-main ul#cattree *.cat span.name,
#layout-main ul#cattree *.cat a
{
	display: inline-block;
	min-width: 20em;
}

#layout-main ul#cattree li.collapsed ul
{
	display: none;
}

#layout-main ul#cattree .cat span.edit
{
	text-align:right;
	margin-right: 1em;
	margin-top: -2em;
	display: block;
}

#layout-main ul#cattree .cat span.edit a
{
	min-width:1em;
}

#layout-main ul#cattree .cat span.edit a:before
{
	content: "["
}

#layout-main ul#cattree .cat span.edit a:after
{
	content: "]";
}

#layout-main div.genren_all div.genren_edit textarea
{
	height:300px;
	width:500px;
}

#layout-main div.genren_all div.genren_edit input[type="text"]
{
	width:200px;
}