#layout-main div.group_all ul.links_top
{
	display:none;
}

#layout-main div.group_all table.filelist
{
	width:98%;
}

#layout-main div.group_all table.filelist td
{
	width:10em;
}

#layout-main div.group_all table.filelist td + td
{
	padding-left: 1em;
}

#layout-main div.group_all table.filelist td.no
{
	text-align:right;
}