#layout-main div.main_all div.rightbar
{
	width: 19em;
	float: right;
}

#layout-main div.main_all div.rightbar p
{
	text-align: center;
}

#layout-main div.main_all div.rightbar h3
{
	margin-top: 1em;
}

#layout-main div.main_all div.rightbar ol
{
	list-style-type: none;
	margin-left: 0;
}

#layout-main div.main_all div.rightbar > div+div
{
	margin-top: 1em;
}

#layout-main div.main_all div.news
{
	clear: none;
	margin-right: 20em;
}

#layout-main div.main_all div.news p.comment
{
	float: right;
	margin: -2em 0 0 0;
}

/* main_edit */

#layout-main div.main_edit
{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}

#layout-main div.main_edit label
{
	display: block;
	text-align: left;
	vertical-align: top;
	margin: auto;
	padding: 0.6em;
}

#layout-main div.main_edit label *
{
	display: block;
	margin-top: -1.2em;
	margin-left: 4em;
}

#layout-main div.main_edit label input
{
	width: 90%;
}

#layout-main div.main_edit textarea
{
	height: 30em;
	width: 90%;
}

#layout-main div.main_edit form div > input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*CRAZY TESTING!*/
#layout-main div.main_all div.info
{
	clear:none;
	margin-right:20em;
	margin-bottom: 1em;
}

#layout-main div.main_all div.info div.right
{
	float:right;
	width:25em;
}

#layout-main div.main_all div.register
{
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 2em;
	font-weight: bold;
	font-size: 1.1em;
}

#layout-main div.main_all div.inner div.text
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom:2.5em;
	padding-top:2.5em;
}

#layout-main div.main_all div.login INPUT[type="text"],
#layout-main div.main_all div.login INPUT[type="password"]
{
	width: 7em;
}

#layout-main div.main_all div.info div.left
{
	text-align: left;
	margin-right: 2em;
}

#layout-main div.main_all div.info div.left dl dd
{
	line-height:1.5em;
	margin-bottom:0.1em;
	margin-left:2em;
}

#layout-main div.main_all div.info div.left dl
{
	display:block;
	margin:0.2em 0 0.5em 0;
}

#layout-main div.main_all div.info div.left ul
{
	list-style-type: square;
}

#layout-main div.main_all div.info div.about
{
	padding-bottom: 1em;
	border-bottom:2px groove #BFC2CA;
}

#layout-main div.main_all div.info div.signup
{
	padding-top: 1em;
}

#layout-main div.main_all div.info h2
{
	font-size:150%;
}

#layout-tabs ul.main-tabs li.news
{
	display:none;
}