#layout-main div.msg_all div.header dt
{
	clear:none;
	float:left;
}

#layout-main div.msg_all div.header
{
	margin-bottom: 1em;
}

#layout-main div.msg_all div.header dl
{
	display:block;
	height:1%;
	margin:0;
	overflow:hidden;
}

#layout-main div.msg_all div.header
{
	padding:0.5em 1em;
}

#layout-main div.msg_all div.forum div.topic_actions
{
	margin-top:0;
	margin-bottom:1em;
}

#layout-main div.msg_all th
{
	min-width:5em;
}