#layout-main div.userpage_all div.stats,
#layout-main div.userpage_all div.g_menu
{
	clear: left;
	float: left;
}

#layout-main div.userpage_all div.stats,
#layout-main div.userpage_all div.g_menu
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 19em;
}

#layout-main div.userpage_all div.stats div table td.value
{
	text-align: right;
}

#layout-main div.userpage_all div.buddies ul li,
#layout-main div.userpage_all div.favreviewers ul li
{
	padding: 1px 6px;
}

#layout-main div.userpage_all div.userdetails .block > div
{
	display: table-cell;
	float: none;
	vertical-align: top;
	width: auto;
}

#layout-main div.userpage_all div.userdetails img
{
	margin-right: 1em;
	margin-top: 1.5em;
}

#layout-main div.userpage_all div.charts div
{
	display: inline-block;
}

#layout-main div.userpage_all div.charts div.votedistribution
{
	padding-left: 50px;
}

#layout-main div.userpage_all div.userdetails p
{
	margin-left: 4em;
	margin-right: 2em;
	margin-top: 2em;
	text-align: left;
}

#layout-main div.userpage_all div.charts
{
	height: 540px;
}

#layout-main div.userpage_all div.cmt_entries
{
	clear: none;
	display: inline-block;
	width: 100%;
}

#layout-main div.userpage_all div.charts div.error,
#layout-main div.userpage_all div.forum div.error
{
	clear: none;
	float: none;
}

#layout-main div.userpage_all div.stats table th
{
	width: 8em;
}

#layout-main div.userpage_all div.userprefs div.block
{
	display: inline-table;
	margin-left: 1em;
	margin-bottom: 1em;
	width: auto;
}

#layout-main div.userpage_all div.blog div.pagination
{
	float: none;
	text-align: right;
}

#layout-main div.userpage_all div.blog div.topic_actions a
{
	float: none;
	text-align: left;
}

#layout-main div.userpage_all div.cmt_entries div.postbody div.content,
#layout-main div.userpage_all div.cmt_entries div.postbody div.signature
{
	margin-left: 1em;
}

#layout-main div.userpage_all div.cmt_entries div.postbody p.author
{
	padding-left: 1em;
}

#layout-main div.userpage_all div.blog div.g_timedentry,
#layout-main div.userpage_all div.blog div.g_timedentry div.body
{
	min-height: 100px;
}

#layout-main div.userpage_all div.history ul.nav,
#layout-main div.userpage_all div.history ul.filter,
#layout-main div.userpage_all div.userprefs h4
{
	text-align: center;
}

#layout-main div.userpage_all div.history ul.nav,
#layout-main div.userpage_all div.history ul.filter,
#layout-main div.userpage_all > div.g_section,
#layout-main div.userpage_all div.forum,
#layout-main div.userpage_all div.blog div.g_msg.note
{
	clear: none;
}

#layout-main div.userpage_all > div.g_section
{
	margin-right: 1em;
}

#layout-main div.userpage_all > div.g_section,
#layout-main div.userpage_all div.forum
{
	margin-left: 22em;
}

#layout-main div.userpage_all div.g_section + div.g_section
{
	margin-top: 2.5em;
}

#layout-main div.userpage_all div.userdetails .block div.notify
{
	min-width: 25em;
	padding-left: 1em;
}

#layout-main div.userpage_all div.userdetails .block div.notify div.msg + div.news,
#layout-main div.userpage_all div.latest div + div,
#layout-main div.userpage_all div.stats div + div,
#layout-main div.userpage_all div.userprefs div + div,
#layout-main div.userpage_all div.g_menu div + div
{
	margin-top: 1em;
}

#layout-main div.userpage_all div.userdetails .block div table,
#layout-main div.userpage_all div.history table,
#layout-main div.userpage_all div.stats table
{
	width: 100%;
}

#layout-main div.userpage_all div.userdetails .block div table th
{
	width: 7em;
}

#layout-main div.userpage_all div.userdetails div.desc
{
	clear: none;
	margin-left: 0em;
	margin-right: 0em;
}

#layout-main div.userpage_all div.block
{
	display: inline-table;
	margin-bottom: 1em;
	margin-left: 1em;
	width: auto;
	margin-right: 0;
}

#layout-main div.userpage_all div.blog div.buttons,
#layout-main div.userpage_all div.blog div.buttons + div.pagination
{
	display: inline-block;
	width: 48%;
}

#layout-main div.userpage_all div.blog div.g_timedentry.comment,
#layout-main div.userpage_all div.blog div.g_timedentry.comment div.body
{
	min-height: 0;
}

#layout-main div.userpage_all div.blog div.g_timedentry div.poll
{
	margin-top: .5em;
}

#layout-main div.userpage_all div.blog div.blogcomments div.topic_actions
{
	margin-bottom: 1em;
	margin-top: 0;
}

#layout-main div.userpage_all div.blog div.g_timedentry
{
	margin-bottom: 1em;
}

#layout-main div.userpage_all div.blog div.g_timedentry h4
{
	display: table-cell;
	padding-left: .5em;
	padding-right: 1.5em;
}

#layout-main div.userpage_all div.blog div.g_timedentry span.stamp
{
	margin-bottom: 1.5em;
	margin-top: 0;
	padding-top: 1px;
	text-align: left;
	width: 45%;
}

#layout-main div.userpage_all div.blog div.blogcomments h4,
#layout-main div.userpage_all div.blog div.g_timedentry p.cmt
{
	text-align: left;
}

#layout-main div.userpage_all div.latest_recommendations > div.edit_actions
{
	text-align: right;
	margin-right: 1em;
	margin-top: -1.6em;
	float:none;
}

#layout-main div.userpage_all div.latest_recommendations > div.content
{
	margin-top:1em;
}