#layout-main div.profile_all div.passwords
{
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#layout-main div.profile_all div.passwords > div,
#layout-main div.profile_all div.passwords form > div
{
	display: table-cell;
}

#layout-main div.profile_all div.preferences
{
	width: 100%;
}
#layout-main div.profile_all div.tabbed_pane
{
	width: 100%;
	min-height: 400px;
}
#layout-main div.profile_all table
{
	border: none;
}

#layout-main div.profile_all .g_info
{
	text-align: left;
}

#layout-main div.profile_all div.css_style div.info dl dt
{
	font-weight: bold;
}
#layout-main div.profile_all div.css_style div.info dl dd
{
	margin-left: 7em;
	width: 20em;
}

#style_thumbnail
{
  width: 220px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  padding: 3px;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
}

#image_viewer
{
  margin: 50px;
}