#layout-main div.report_all div.body ul li
{
	padding: 2px 4px;
}

#layout-main div.report_all td.left
{
	text-align: left;
}

#layout-main div.report_all td.right
{
	text-align: right;
}

#layout-main div.report_all td.center
{
	text-align: center;
}