#layout-main div.animetag_all div.animetag_entries_spoiler table + div.animetag_entries_spoiler
{
	margin-top: 1.5em;
}

#layout-main div.animetag_all table td.action
{
	width: 14em;
}

#layout-main div.animetag_all table td.status,
#layout-main div.animetag_all table td.count
{
	width: 5em;
}

#layout-main div.animetag_all table td.icons
{
	float:right;
}

#layout-main div.animetag_all table td.name.tag
{
	width:50%;
}