/*admin bits*/
#layout-main div.admin_tags_all table.tags
{
	width:100%;
}

/*edit form*/
#layout-main div.g_definitionlist.tagedit_form table table
{
	width:100%;
}

#layout-main div.g_definitionlist.tagedit_form table.options th.anime,
#layout-main div.g_definitionlist.tagedit_form table.options th.character,
#layout-main div.g_definitionlist.tagedit_form table.options th.creator,
#layout-main div.g_definitionlist.tagedit_form table.options th.episode,
#layout-main div.g_definitionlist.tagedit_form table.options th.manga
{
	width:5em;
}

#layout-main div.g_definitionlist.tagedit_form table.types td
{
	vertical-align: top;
}

#layout-main div.addtagentityrel_all div.tags_add textarea
{
	height: 25em;
	width: 50em;
}

/*display parts on anime/manga page*/
#layout-main div.tag-list
{
	-moz-column-width: 25em;
	-webkit-column-width: 25em;
	-ms-column-width: 25em;
	column-width: 25em;
}

#layout-main div.tag-column
{
	display: inline-table;
	width: 27em;
	padding: 4px;
	margin-bottom: 1em;
}

#layout-main div.tag-column div.tag > span
{
	line-height:1.5em;
}

#layout-main div.tag-column div.tag span.name
{
	display: inline-block;
	width: 21.5em;
	text-align: left;
}

#layout-main div.tag-column div.tag span.weight
{
	float:right;
	width: 4.5em;
}

#layout-main div.tag-column div.tag span.indent
{
	white-space:pre;
	float: left;
	line-height: 1.6em;
}

#layout-main div.tag-column h5
{
	text-align: center;
}