#layout-main div.latestanimes_anime h3
{
	margin: 0.5em 0 0.5em 17.3em;
	font-size: 100%;
	font-weight: inherit;
}

#layout-main div.latestanimes_anime h3 a
{
	font-size: 120%;
	font-weight: bolder;
}

#layout-main div.latestanimes_anime th:after
{
	content: ":";
}


#layout-main div.latestanimes_footer 
{
	text-align: center;
}
