html
{
	font-family:Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
}

div,
p,
th,
td,
li,
dt,
dd,
span,
a
{
	font-weight:inherit;
}

a,
del,
ins
{
	text-decoration:none;
}

h1
{
	font-size:160%;
}

h1 a
{
	font-size:100%;
}

h4,
caption
{
	font-size:120%;
}

.tab,
h4 span
{
	-cursor:hand;
	cursor:pointer;
}

th,
td.action,
td.date,
td.year,
span.date,
span.user,
td.rating,
#menu-account li.alert,
#layout-main div.anime_all div.g_section.mylist td.title
{
	white-space:nowrap;
}

span.date,
span.user a.id,
td.id,
td.size
{
	letter-spacing:-1px;
}

span.time,
span.user a.id,
td.rating span,
a.filter
{
	font-size:80%;
	vertical-align:top;
}

.file_all dd.group span.time
{
	display:none;
}

td.id,
td.count,
td.number,
td.size,
td.epno,
td.duration,
#layout-main div.up2date_file_list table td.mylist
{
	text-align:right;
}

td,
ul,
div.desc,
.body,
td.id a.i_icon,
th.field,
td.value,
td.name,
td.quality,
td.title,
td.name,
#layout-main div.main_all div.news h4,
#layout-main div.profile_all .g_info
{
	text-align:left;
}

th,
h1,
h2,
h3,
h4,
form,
caption,
tr.action td.value,
tr.action td.submit,
td.stats,
td.state,
td.type,
td.date,
td.action,
td.icon,
td.ignore,
td.name.user,
td.name.owner,
td.vote,
td.rating,
td.check,
.g_list,
.g_info,
.g_input,
.g_section,
#layout-footer p,
#layout-main div.profile_all p,
#layout-main table.grouplist td.number.eps
{
	text-align:center;
}

.tiny,
small,
#layout-main .name span.main,
#layout-main .name span.match
{
	font-size:95%;
}

#layout-main div.userlist_all table td.hidden:after
{
	color:red;
	content:" hidden";
}

#layout-main div.anime_all div.groups td.state.unknown
{
	content:"N/A";
}

#layout-main div.addfile_add tr.subheader td
{
	font-weight:bold;
	height:2em;
}

#layout-main div.anime_all div.groups td.mylist
{
	font-weight:bold;
	text-align:center;
}

#layout-main div.japan_time
{
	font-size:120%;
	font-weight:bold;
	text-align:left;
}

button,
input[type="button"],
input[type="submit"]
{
	padding:1px;
}

h4 span,
span.test,
.tabbed_pane ul.tabs li,
.g_list li,
.g_list li a,
div.pagination span strong,
div.pagination span a
{
	-moz-user-select:none;
	-user-select:none;
	padding:1px 2px;
	text-transform:capitalize;
}

#layout-main div.forum li.header dt,
#layout-main div.forum li.header dd
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
	text-transform:uppercase;
}

#layout-main div.forum a.topictitle
{
	font-family:"Trebuchet MS",Helvetica,Arial,Sans-serif;
	font-size:1.2em;
	font-weight:bold;
}

#layout-main div.forum div.statistics h3
{
	font-size:1.05em;
	font-weight:bold;
	text-transform:uppercase;
}

#layout-main div.forum div.statistics p
{
	font-size:1.1em;
	line-height:1.3em;
}

#layout-main div.forum div.postbody dl.codebox dt
{
	font-family:"Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	font-size:1em;
	font-weight:bold;
}

#layout-main div.forum div.postbody dl.codebox code
{
	font-family:Monaco,"Andale Mono","Courier New",Courier,mono;
	font-size:1.2em;
}

#layout-main div.forum div.options-box span.desc
{
	font-style:italic;
	font-weight:normal;
}

#layout-main div.forum div.events h2,
#layout-main div.forum div.poll h2
{
	font-size:1.6em;
	font-weight:bold;
}

#layout-main div.forum ul.topiclist li.row dl.icon dt.icon span.title,
#layout-main div.forumsearch_form dt span.desc
{
	font-weight:normal;
}

button:hover,
input[type="submit"]:hover,
th.sortable
{
	cursor:pointer;
}

#layout-main table.filelist tr.virtual,
#layout-main ul.g_list li.selected,
#layout-main div.anime_all div.groups td.state.stalled,
#layout-main div.anime_all div.groups td.state.unknown,
#layout-main div.group_released td.state.stalled,
#layout-main div.group_released td.state.unknown,
#layout-main div.forum span.postdeleted,
#layout-main div.forum span.postedited
{
	font-style:italic;
}

#layout-main div.anime_all div.groups td.state.dropped,
#layout-main div.group_released td.state.dropped
{
	text-decoration:underline;
}

#layout-main div.msg_all div.header dt,
#layout-main div.forumsearch_form dt,
#layout-main div.forum div.add-box dl dt
{
	font-size:1.1em;
	font-weight:bold;
}

#layout-main div.chartags_all div.addbox div.taggrouplist span.link,
#layout-main div.chartags_all div.addbox div.tag-column span.link
{
	line-height:1.5em;
}

ul.acdropdown
{
	background-color:white;
	border:black 1px solid;
	color:black;
}

ul.acdropdown li
{
	background-color:transparent;
	color:none;
	font-weight:normal;
}

ul.acdropdown li:hover
{
	background-color:blue;
	color:white;
	font-weight:bold;
}

h4.collapsed span
{
	text-decoration:line-through;
}

#tooltip
{
	font-size:10px;
}

#layout-main div.forum ul.topics dd.posts,
#layout-main div.forum ul.topics dd.views,
#layout-main div.forum ul.topics dd.topics,
#layout-main div.chartags_all div.addbox div.tag-group h3,
#layout-main div.userpage_all div.userdetails div.block caption
{
	font-size:1.2em;
}

#layout-main div.forum div.events p,
#layout-main div.forum div.poll p,
#layout-main div.forum div.postbody dl.codebox,
#layout-main div.userpage_all div.block caption,
#layout-main div.userpage_all div.block h3
{
	font-size:1em;
}

#layout-main div.forum div.navbar span.breadcrumbs,
#layout-main div.forum div.navbar span.info,
#layout-main div.forum div.navbar span.messages,
#layout-main div.forum div.linklist,
#layout-main div.forum div.signature,
#layout-main div.forum ul.topics dt,
#layout-main div.forum dd.lastpost,
#layout-main div.forum div.options-box dt,
#layout-main div.forum div.poll dl dd,
#layout-main div.forum div.poll dl dt,
#layout-main div.forum div.events dl dd,
#layout-main div.forum div.events dl dt,
#layout-main div.msg_all div.header dd,
#layout-main div.forum div.rules div.inner,
#layout-main div.forum div.navbar span.notify,
#layout-main div.forum div.quickreply textarea,
#layout-main div.chartags_all div.addbox div.tag-column h5,
#layout-main div.chartags_all div.addbox div.taggrouplist span.link
{
	font-size:1.1em;
}

h1,
h2,
h3,
h4,
caption,
#layout-main table.filelist tr.undumped td.id a,
.v_high,
.v_med,
span.diff,
#layout-main div.creqmod_all .state.new,
#layout-main div.creqmod_all .state.return,
#layout-main div.creqmod_all span.type.del,
#layout-main div.msg_all tr.new td.state,
#layout-main div.msg_all tr td.type,
#layout-main div.mylist_list tr.complete td.stats,
#layout-main div.mylist_list tr.all_watched td.stats,
#layout-main div.anime_all div.groups td.lastupdate.new,
#layout-main div.anime_all div.groups td.state.finished a,
#layout-main div.anime_all div.groups td.state.complete a,
#layout-main div.group_released td.state.finished a,
#layout-main div.group_released td.state.complete a,
div.quotebody div.quoteof,
#layout-main div.forum a.username-coloured,
#layout-main div.forum div.navbar span.breadcrumbs,
#layout-main div.forum ul.topics dd.lastpost span a,
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum dl.icon dt,
#layout-main div.forum div.options-box dt,
#layout-main div.forum div.events dl dt,
#layout-main div.forum div.poll dl dt,
#layout-main div.forum div.poll div.pollbar,
#layout-main div.chartags_all div.addbox div.tag-column h5,
#layout-main div.userpage_all div.discussions tr.unread td,
#layout-main div.userpage_all div.msg tr.unread td,
#layout-main div.userpage_all div.news tr.unread td,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries a.name-colored,
#layout-main div.profile_all div.account tr th,
.g_bubble .name-colored,
div.relations .g_bubble.stripe div.type,
.g_bubble.box > div.top div.name,
.g_bubble.box > div.data div.airdate
{
	font-weight:bold;
}


#layout-main div.profile_all div.account tr th p.note
{
	font-style: italic;
	font-weight: normal;
}

#layout-main div.anime_all div.info div.caststaff div h4
{
	text-transform: uppercase;
}