tr+tr td
{
	border-top: 1px #FFFFFF solid;
}

table
{
	border: 2px #006699 solid;
	border-spacing: 0;
}

table.filelist tr.newep td{
	border-top: 1px solid #006699;
}

table table
{
	border: none;
}

img, a
{
	border: none;
}

#layout-nav,
#layout-footer,
#layout-content
{
	border: 1px #98AAB1 solid;
}

ul,
#layout-content *.g_jumplist,
#layout-content *.g_filterlist,
#layout-content *.g_actionlist,
#layout-content *.g_description,
#layout-content *.g_image image,
#layout-content div.g_timedentry,
#layout-content div.g_definitionlist table,
#layout-content div.latestanimes_form,
#layout-content div.addepm div.ep,
#layout-content div.desc,
#layout-content div.block div.image img,
#layout-content div.avatar img
{
	border: 1px #d1d7dc solid;
}

#layout-content h1
{
	border: 1px solid #03699c;
}

#layout-content div.block div.image img
{
	padding: 1px;
}

#layout-content .g_image image,
#layout-content .g_definitionlist
{
	padding: 1px;
}

#layout-content .block .g_definitionlist table
{
	border: none;
	margin: 0;
}

#layout-content div.anime_all div.episodes tr.newtype td
{
	border-top: 2px #FFFFFF double;
}

#layout-content div.g_definitionlist tr th
{
	border-top: 1px #FFFFFF solid;
	border-right: 1px #FFFFFF solid;
}

#layout-content div.profile_all div.g_section
{
	border: 3px solid #3a95c2;
}