tr+tr td
{
	border-top: 1px #FFFFFF solid;
}

table
{
	border: 2px #006699 solid;
	border-spacing: 0;
}

table.filelist tr.newep td{
	border-top: 1px solid #006699;
}

table table
{
	border: none;
}

img, a
{
	border: none;
}

#layout-nav,
#layout-footer,
#layout-main,
#layout-tabs ul li a,
#layout-tabs ul li.g_odd a
{
	border: 1px #98AAB1 solid;
}

#layout-main div.g_definitionlist table
{
	border-color: #E5E5E5;
}

#layout-tabs ul li.selected a
{
	border-bottom: 1px #E5E5E5 double;
}

#layout-main div.tabbed_pane ul.tabs li.selected
{
	border-bottom: 1px #fefefe double;
}

#layout-main ul,
#layout-menu ul, 
#layout-main .g_list,
#layout-main .g_description,
#layout-main .g_image image,
#layout-main div.g_timedentry,
#layout-main div.g_definitionlist table,
#layout-main div.latestanimes_form,
#layout-main div.addepm div.ep,
#layout-main div.desc,
#layout-main div.block div.image img,
#layout-main div.avatar img,
#layout-main div.review div.text,
#layout-main div.tabbed_pane div.body,
#layout-main div.tabbed_pane ul.tabs li
{
	border: 1px #d1d7dc solid;
}

#layout-main h1
{
	border: 1px solid #03699c;
}

#layout-main div.block div.image img
{
	padding: 1px;
}

#layout-main .g_image image,
#layout-main .g_definitionlist
{
	padding: 1px;
}

#layout-main .block .g_definitionlist table
{
	border: none;
	margin: 0;
}

#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top: 2px #FFFFFF double;
}

#layout-main div.g_definitionlist tr th
{
	border-top: 1px #FFFFFF solid;
	border-right: 1px #FFFFFF solid;
}

#layout-main div.forum div.comment,
#layout-main div.tabbed_pane ul.contribute
{
    border:none;
}

#layout-main div.report_all div.body ul li
{
	border-top:1px solid #FFFFFF;
}

#layout-main div.addseq_all div.explanation div.description,
#layout-main div.addcharcharrel_all div.explanation div.description,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description,
#layout-main div.addcreatoranimerel_all div.explanation div.description
{
	border:1px solid #D1D7DC;
}

#layout-main div.addseq_all div.explanation div.description dl + dl,
#layout-main div.addcharcharrel_all div.explanation div.description dl + dl,
#layout-main div.addcreatorcreatorrel_all div.explanation div.description dl + dl,
#layout-main div.addcreatoranimerel_all div.explanation div.description dl + dl
{
	border-top:1px solid #D1D7DC;
}