body,
#layout-content div.g_definitionlist table
{
	color: #2E3C55;
	border-color: #e5e5e5;
	background: #e5e5e5 url(images/sub-bg-body.gif) repeat-x;
}

a:link,a:active,a:visited
{
	color : #006699;
}

a:hover
{
	color : #f26522/*#DD6900*/;
}

#layout-content
{
	background: #FBFBFB url(images/sub-bg-layout2.gif) repeat-x;
}
#layout-nav
{
	background: url(images/sub-nav.gif) repeat-y;
}

#layout-footer
{
	background-color: #FBFBFB;
}

th
{
	color: #FFA34F;
	background: #3a95c2 url(images/sub-bg-th.gif) repeat-x;
}

#layout-content h1
{
	color: #efefef;
	background: #3a95c2 url(images/sub-bg-th.gif) repeat-x;
}

#layout-content div.g_timedentry,
#layout-content div.block + p.desc
{
	background-color: #fafafa;
}

ul,
#layout-content tr,
#layout-content ul.g_jumplist,
#layout-content *.g_filterlist,
#layout-content *.g_actionlist,
#layout-content *.g_description,
#layout-content div.addepm div.ep
{
	background-color: #f4f4f4
}

#layout-content div.g_timedentry h4,
#layout-content tr.g_odd,
#layout-content li.g_odd,
#layout-content span.g_odd
{
	background-color: #dee3e7;
}

#layout-content table table.filelist tr,
#layout-content div.g_definitionlist tr
{
	background-color: inherit;
}

#layout-content div.g_definitionlist tr th
{
	color: inherit;
	background-image: none;
	background-color: inherit;/*#d1d7dc;*/
}

#layout-menu > div > ul > li:hover
{
	background-color: #fafafa;
}