<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AVDump2GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AVDump2GUI.Properties.Settings>
            <setting name="AniDBHost" serializeAs="String">
                <value>api.anidb.net</value>
            </setting>
            <setting name="UserPort" serializeAs="String">
                <value>9001</value>
            </setting>
            <setting name="BlockSize" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="BlockCount" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="TimeoutSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxRetryCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IntelliProc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoreCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="MakeAcreq" serializeAs="String">
                <value>True</value>
            </setting>
        </AVDump2GUI.Properties.Settings>
    </userSettings>
</configuration>