#layout-main tr.g_fs_lame,
#layout-main input.exclude,
#layout-main table.filelist tr.invalid,
#layout-main div.myvotes_all table tr.low td,
#layout-main div.addcreatoranimerel_all tr.left_only,
#layout-main div.addcreatorsongrel_all tr.left_only
{
	background-color: #AAAAAA;
}

#layout-main td del,
#layout-main div.myvotes_all table tr.g_odd.low td,
#layout-main div.myvotes_all table tr.low td,
#layout-main div.addcreatoranimerel_all tr.right_only,
#layout-main div.addcreatorsongrel_all tr.right_only
{
	background-color: #BF6269;
}

#layout-main td ins,
#layout-main input.include,
#layout-main table.filelist tr.good,
#layout-main div.myvotes_all table tr.high td,
#layout-main div.producer_all table tr.mylist,
#layout-main div.latest2_all table tr.mylist,
#layout-main div.latest2_all table tr td.mylist,
#layout-main div.character_all div.tabbed_pane_main table tr.mylist,
#layout-main div.creator_all div.tabbed_pane_main table tr.mylist,
#layout-main div.collection_all div.tabbed_pane_main table tr.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr.mylist,
#layout-main div.anime_all div.tabbed_pane_main table tr.mylist,
#layout-main div.animelist_all table tr.mylist,
#layout-main div.group_released table tr.mylist,
#layout-main div.schedule_all table tr.mylist,
#layout-main div.forum div.comment div.content strong,
#layout-main div.forum a.topictitle strong,
#layout-main div.addcreatoranimerel_all tr.identical,
#layout-main div.addcreatorsongrel_all tr.identical
{
	background-color: #6FCF7F;
}

#layout-main td.g_odd ins,
#layout-main table.filelist tr.g_odd.good,
#layout-main div.myvotes_all table tr.g_odd.high td,
#layout-main div.producer_all table tr.g_odd.mylist,
#layout-main div.latest2_all table tr.g_odd.mylist,
#layout-main div.latest2_all table tr.g_odd td.mylist,
#layout-main div.character_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.creator_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.collection_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.anime_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.animelist_all table tr.g_odd.mylist,
#layout-main div.group_released table tr.g_odd.mylist,
#layout-main div.schedule_all table tr.g_odd.mylist
{
	background-color: #6FC279;
}

#layout-main table.filelist tr.deprecated
{
	background-color: #CC9999;
}

#layout-main div.anime_all div.episodes tr.generic td
{
	background-color: #EEEEEE;
}

#layout-main div.addcreatoranimerel_all tr.same_name,
#layout-main div.addcreatorsongrel_all tr.same_name,
#layout-main div.addsongcollectionrel_all tr.same_name
{
	background-color: #FFFFDF;
}

/*epbar colors*/
#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
	background-color:#c6c3ff;
	border-bottom: 2px solid #c6c3ff;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
	background-color:#6361ff;
	border-bottom: 2px solid #6361ff;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
	border-bottom: 2px solid #00ff00;
}