html, th, div
{
	font-weight: normal;
	font-size: 10px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

a, del, ins
{
	text-decoration: none;
}

th, td.action
{
	white-space: nowrap;
}


/** ALIGNMENT **/
td.count, td.number, td.size, td.epno, td.duration
{
	text-align: right;
}

td, ul, div.desc, .body,
th.field, td.id, td.value, td.name, td.quality, td.title, td.name,
#layout-content div.main_all div.news h4
{
	text-align: left;
}

th, h1, h2, h3, h4, form,
tr.action td.value, td.stats,
td.state, td.type, td.date, td.action, td.icon, td.ignore,
td.name.user, td.name.owner, td.vote, td.rating, td.check,
.g_navlist, .g_filterlist, .g_actionlist, .g_info, .g_input,
#layout-content div.g_section,
#layout-footer p,
#layout-menu div.usermenu
{
	text-align: center;
}


/** WEIGHT/STYLE **/
.v_high,
.v_med, span.diff,
#layout-content table.filelist tr.undumped td.id,
#layout-content div.creqmod_all .state.new,
#layout-content div.creqmod_all .state.return,
#layout-content div.creqmod_all span.type.del,
#layout-content div.msg_all tr.new td.state,
#layout-content div.msg_all tr td.type
{
	font-weight: bold;
}

#layout-content table.filelist tr.deprecated
{
	text-decoration: line-through;
}

#layout-content table.filelist tr.virtual
{
	font-style: italic;
}

/** SIZE **/
#layout-menu
{
	font-size: small;
	line-height: 1.1;
}

#layout-menu > div > ul > li > a
{
	display: block;
	width: 104%;
}

#layout-content div.main_all div.rightbar li
{
	font-size: x-small;
	/*overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;*/
}

.tiny, small,
#layout-content .name span.main,
#layout-content .name span.match
{
	font-size: 95%;
}

/** SHIT **/

table caption, h4
{
	font-size: 115%;
	font-weight: bold;
	margin-top: 0.4em;
	margin-bottom: 0.2em;
}

#layout-content div.userlist_all table td.hidden:after
{
	color: red;
	content: " hidden";
}
#layout-content div.anime_all div.groups td.state.unknown
{
	content: "N/A";
}

/*#layout-content div.mylist_all tr.all_watched td.stats,*/
#layout-content div.mylist_list tr.complete td.stats,
#layout-content div.mylist_list tr.all_watched td.stats,
#layout-content div.anime_all div.groups td.lastupdate.new,
#layout-content div.anime_all div.groups td.state.finished,
#layout-content div.anime_all div.groups td.state.complete,
#layout-content div.group_released td.state.finished,
#layout-content div.group_released td.state.complete
{
 	font-weight: bold;
}

#layout-content div.anime_all div.groups td.state.stalled,
#layout-content div.anime_all div.groups td.state.unknown,
#layout-content div.group_released td.state.stalled,
#layout-content div.group_released td.state.unknown
{
	font-style: italic;
}

#layout-content div.anime_all div.groups td.state.dropped,
#layout-content div.group_released td.state.dropped
{
	text-decoration: underline;
}

#layout-content div.addfile_add tr.subheader td
{
	font-weight: bold;
	height: 2em;
}

#layout-content div.anime_all div.groups td.mylist
{
	font-weight: bold;
	text-align: center;
}
#layout-content div.anime_all div.groups td.mylist.new
{
	color: red;
}

#layout-content div.up2date_file_list table td.mylist
{
	text-align: right;
}

#layout-content div.ed2kexport_all pre
{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
}


#layout-menu #newmessages:before,
#layout-menu #newnotifies:before,
#layout-menu #newmessages:after,
#layout-menu a.history:after
{
	content: "!";
	/*color: #FFFFFF;*/
	padding: 0.2em;
}

#layout-menu #newmessages
{
	display: block;
}