html
{
	font-size: 10px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

div, p, th, td, li, dt, dd, span, a
{
	font-weight: inherit;
}

h1, h2, h3, h4, caption
{
	font-weight: bold;
}

a, del, ins
{
	text-decoration: none;
}

h1
{
	font-size: 160%;
}

h1 a
{
	font-size: 100%;
}

h4, caption
{
	font-size: 120%;
}

.tab,
h4 span
{
	cursor: pointer;
	-cursor: hand;
}

th, td.action, td.date, td.year,
span.date, span.user, td.rating,
#menu-account li.alert,
#layout-main div.anime_all div.g_section.mylist td.title
{
	white-space: nowrap;
}

span.date, span.user a.id, td.id, td.size{ letter-spacing: -1px }

span.time, span.user a.id, td.rating span, a.filter{ font-size: 80%; vertical-align: top; }

.file_all dd.group span.time { display: none }

td.id, td.count, td.number, td.size, td.epno, td.duration,
#layout-main div.up2date_file_list table td.mylist
{
	text-align: right;
}

td, ul, div.desc, .body, td.id a.i_icon,
th.field, td.value, td.name, td.quality, td.title, td.name,
#layout-main div.main_all div.news h4,
#layout-main div.profile_all .g_info
{
	text-align: left;
}

th, h1, h2, h3, h4, form, caption
tr.action td.value, tr.action td.submit, td.stats,
td.state, td.type, td.date, td.action, td.icon, td.ignore,
td.name.user, td.name.owner, td.vote, td.rating, td.check,
.g_list, .g_info, .g_input, .g_section,
#layout-footer p,
#layout-main div.profile_all p,
#layout-main table.grouplist td.number.eps
{
	text-align: center;
}

h4.collapsed span,
#layout-main table.filelist tr.deprecated
{
	text-decoration: line-through;
}

#layout-main table.filelist tr.virtual,
#layout-main ul.g_list li.selected
{
	font-style: italic;
}

.tiny, small,
#layout-main .name span.main,
#layout-main .name span.match
{
	font-size: 95%;
}

#layout-main div.userlist_all table td.hidden:after
{
	color: red;
	content: " hidden";
}
#layout-main div.anime_all div.groups td.state.unknown
{
	content: "N/A";
}

#layout-main table.filelist tr.undumped td.id a
{
	font-weight: bold;
}


.v_high, .v_med, span.diff,
#layout-main div.creqmod_all .state.new,
#layout-main div.creqmod_all .state.return,
#layout-main div.creqmod_all span.type.del,
#layout-main div.msg_all tr.new td.state,
#layout-main div.msg_all tr td.type,
#layout-main div.mylist_list tr.complete td.stats,
#layout-main div.mylist_list tr.all_watched td.stats,
#layout-main div.anime_all div.groups td.lastupdate.new,
#layout-main div.anime_all div.groups td.state.finished a,
#layout-main div.anime_all div.groups td.state.complete a,
#layout-main div.group_released td.state.finished a,
#layout-main div.group_released td.state.complete a
{
 	font-weight: bold;
}

#layout-main div.anime_all div.groups td.state.stalled,
#layout-main div.anime_all div.groups td.state.unknown,
#layout-main div.group_released td.state.stalled,
#layout-main div.group_released td.state.unknown
{
	font-style: italic;
}

#layout-main div.anime_all div.groups td.state.dropped,
#layout-main div.group_released td.state.dropped
{
	text-decoration: underline;
}

#layout-main div.addfile_add tr.subheader td
{
	font-weight: bold;
	height: 2em;
}

#layout-main div.anime_all div.groups td.mylist
{
	font-weight: bold;
	text-align: center;
}

#layout-main div.ed2kexport_all pre
{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
}

#layout-main div.japan_time
{
	text-align: left;
	font-weight: bold;
	font-size: 120%;
}

button,
input[type="button"],
input[type="submit"]
{
	padding: 1px;
}

h4 span,
span.test,
.tabbed_pane ul.tabs li,
.g_list li,
.g_list li a,
div.pagination span strong,
div.pagination span a
{
	padding: 1px 2px 1px 2px;
	-moz-user-select: none;
	-user-select: none;
	text-transform: capitalize;
}

th.sortable{ cursor: pointer }
.s_reverse, th.ascending
{
	text-decoration: underline;
}
.s_forward, th.descending
{
	text-decoration: overline;
}

/*quotes (comments, news, messages, etc.)*/
div.quotebody
{
	margin-right: 0.5em;
	margin-left: 1em;
	padding: 0.4em;
}

div.quotebody div.quoteof
{
	font-weight: bold;
}

div.quotebody div.quote div.quotebody
{
	margin-top: 1em;
	margin-right: 0.2em;
}