@import "../harustyle/harustyle.css";
html
{
background-color: #FFFFFF;
background-image: url('images/menubg.jpg');
background-position: 0px 697px;
background-repeat:repeat-y;
}

#layout-menu
{
width: 189px;
background: url('images/menu.png') no-repeat top left; /* menu background picture */
}

#layout-search
{
height: 94px; /* height of the banner layer, change if the height of your banner background is different */
}

#layout-search div.search
{
height: 94px;	
}

#layout-search form input.submit
{
margin-top:2px;
}

#layout-content div.g_section
{
padding: 0.5em 0 0.5em 2em;
}

#layout-content div.g_content
{
margin-left:1em;
margin-right:1em;
}

#layout-footer:after
{
content: "HaruhiStyleX by TheJAG (Based on HaruStyle by b1nh)"
}

#layout-content div.main_all div.news
{
margin: 0.3em 17em 0.3em 2em;
}

#layout-content div.main_all div.news div
{
margin: 0.1em 0.1em 3.1em 1em;
}