body.nonav #layout-content,
body.nonav #layout-footer
{
	width: auto;
	height: 90%;
	margin:0;
}

#layout-nav input
{
	width: 100%;
}

#layout-nav ul+ul
{
	margin-top: 2px;
}
#layout-nav label input
{
	width: auto;
}

body.nonav
{
	padding: 0;
}
body.nonav #layout-content h1
{
	display: none;
}

#layout-content h1,
#layout-content div.g_section,
#layout-content div.g_filterlist,
#layout-content ul.g_actionlist,
#layout-content div.g_errorbox,
#layout-content div.g_warnbox,
#layout-content div.g_notebox,
#layout-content div.g_successbox,
#layout-content div.mylist_list ul.g_jumplist,
#layout-content div.addepm div.ep
{
	margin-bottom: 1em;
}

#layout-content div.g_end
{
	padding: 0;
	margin: 0;
	clear: right;
	border: none;
}

#layout-content div.g_section,
#layout-content div.g_filterlist,
#layout-content ul.g_actionlist
{
	clear: both;
}

#layout-content ul.type
{
	float: left;
}

#layout-content ul.g_numonpage
{
	float: right;
}

*.g_navprev
{
	float: left;
	padding-left: 0.3em;
}

*.g_navnext
{
	float: right;
	padding-right: 0.3em;
}

/*#layout-content div.g_definitionlist
{
	border: none;
}*/

#layout-content div.anime_all div.info tr.official td.value div.icons,
#layout-content div table td.title div.icons,
#layout-content table.filelist td.source div.icons
{
	float: right;
}

#layout-content *.icons *.i_icon,
#layout-content div.group_released tr td.languages span.i_icon,
#layout-content div.anime_all div.groups td.languages span.i_icon,
#layout-content div.anime_all div.episodes td.action .i_icon
{
	float: left;
	padding: 0px 1px 0px 1px;
}

#layout-content td.icons.quality *.i_icon
{
	padding: 0px;
}

#layout-content div.anime_all div.episodes table.eplist,
#layout-content div.ep_all table.filelist
{
	width: 98%;
}


#layout-content div.mylist_list table td.rating.votes span.count
{
	display: none;
}

#layout-content div.ed2kdump_box textarea
{
	width: 98%;
}

/* Tooltip support */
#obj-tooltip {
	position: absolute;
	left: 0px;
	width: 300px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	font-size: x-small;
}

#obj-pointer {
	position: absolute;
	left: -300px;
  width: 15px;
  height: 13px;
	z-index: 101;
	visibility: hidden;
}
