html,
#layout-main div.g_definitionlist table,
#layout-main div.tabbed_pane div.body
{
	color: #2E3C55;
	background: #E5E5E5 url(images/sub-bg-body.gif) repeat-x;
}

span.link,
a:link,a:active,a:visited
{
	color : #006699;
}

span.link:hover,
a:hover
{
	color : #f26522/*#DD6900*/;
}

#layout-main,
#layout-main div.animeatt_reviews div.review div.text
{
	background: #FBFBFB url(images/sub-bg-layout2.gif) repeat-x;
}
#layout-nav
{
	background: url(images/sub-nav.gif) repeat-y;
}

#layout-footer
{
	background-color: #FBFBFB;
}

#layout-main th,
#layout-main tr.header th a
{
	color: #FFA34F;
}

#layout-main th
{
	background: #3a95c2 url(images/sub-bg-th.gif) repeat-x;
}

#layout-main h1
{
	color: #efefef;
	background: #3a95c2 url(images/sub-bg-th.gif) repeat-x;
}

#layout-main div.g_timedentry,
#layout-main div.desc
{
	background-color: #fafafa;
}

#layout-tabs ul li a,
#layout-tabs ul li.g_odd a,
#layout-menu ul,
#layout-main ul,
#layout-main tr,
#layout-main .g_list,
#layout-main .g_description,
#layout-main div.addepm div.ep
{
	background-color: #f4f4f4
}

#layout-main div.g_timedentry h4,
#layout-main tr.g_odd,
#layout-main li.g_odd,
#layout-main span.g_odd
{
	background-color: #dee3e7;
}

#layout-main table table.filelist tr,
#layout-main div.g_definitionlist tr
{
	background-color: transparent;
}

#layout-main div.g_definitionlist tr th
{
	color: inherit;
	background-image: none;
	background-color: transparent;
}

#layout-menu ul li:hover
{
	background-color: #fafafa;
}

#layout-tabs ul li a:hover,
#layout-main div.tabbed_pane ul.tabs li:hover
{
	background-color: white;
}

#layout-tabs ul li.selected a
{
	background-color: #E5E5E5;
}
#layout-main div.tabbed_pane ul.tabs li.selected
{
	background: #FFFFFF;
}
#layout-main div.tabbed_pane ul.tabs li
{
	background-color: #E5E5E5;
}

div.pagination span a
{
	border: 1px solid #BABABA;
}

div.pagination span a
{
	background-color: #ECEDEE;
	border-color: #B4BAC0;
	color: #5C758C;
}

div.pagination span a:hover,
div.pagination span strong
{
	border: 1px solid #BFBFBF;
	background-color: #4692BF;
	border-color: #4692BF;
	color: #FFFFFF;
}

#layout-main div.tagcloud
{
	border:1px solid #D1D7DC;
	background-color:#FAFAFA;
}

#layout-main div.export_all div.exportblock div.inner,
#layout-main div.export_all div.exportblock .rbottom *,
#layout-main div.export_all div.exportblock .rtop *
{
	background-color:#CADCEB;
}

#layout-main div div.explanation div.description
{
	background-color:#F4F4F4;
}