#layout-main div.forum div.g_bubble.threads
{
	background-color:#4992B6;
}

#layout-main div.forum ul.topics li.row
{
	background-color:#ECF3F7;
}

#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.row:hover,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row:hover,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover
{
	background-color:#CBD6DE;
}

#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.events,
#layout-main div.forum div.g_bubble.comment,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box
{
	background-color:#CADCEB;
}

#layout-main div.forum div.g_bubble.comment,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row,
#layout-main div.forum ul.topics li.g_odd.row
{
	background-color:#E1EBF2;
}

#layout-main ul.format-modes
{
	background-color: inherit;
}