#layout-main div.forum div.threads .rtop *,
#layout-main div.forum div.threads .rbottom *,
#layout-main div.forum div.threads div.inner
{
	background-color:#4992B6;
}

#layout-main div.forum ul.topics li.row
{
	background-color:#ECF3F7;
}

#layout-main div.forum ul.topics li.row:hover
{
	background-color:#CBD6DE;
}

#layout-main div.forum .rtop *,
#layout-main div.forum .rbottom *,
#layout-main div.forum div.inner
{
	background-color:#CADCEB;
}

#layout-main div.forum ul.topiclist dd
{
	border-left-color:#FFFFFF;
}

#layout-main div.forum li.row
{
	border-bottom-color:#00608F;
	border-top-color:#FFFFFF;
}

#layout-main div.forum ul.topics
{
	border-left-color: #4992B6;
	border-right-color: #4992B6;
}

#layout-main div.forum hr
{
	border-color:#CCCCCC #FFFFFF #FFFFFF;
}

#layout-main div.forum div.signature
{
	border-top-color: #CCCCCC;
}

#layout-main div.forum div.signature,
#layout-main div.forum div.navbar div.inner div.bottom
{
	border-top-color:#4a4a5a;
}

#layout-main div.forum div.navbar div.inner div.bottom
{
	border-color: #FFFFFF;
}

#layout-main div.forum div.poll div.inner,
#layout-main div.forum div.poll .rbottom *,
#layout-main div.forum div.poll .rtop *,
#layout-main div.forum div.events div.inner,
#layout-main div.forum div.events .rbottom *,
#layout-main div.forum div.events .rtop *,
#layout-main div.forum div.comment div.inner,
#layout-main div.forum div.comment .rbottom *,
#layout-main div.forum div.comment .rtop *,
#layout-main div.forum ul.topics li.g_odd
{
	background-color:#E1EBF2;
}

#layout-main ul.format-modes
{
	background-color: inherit;
}

#layout-main div.cmt_all div.cmt_add h4
{
	border-bottom-color: #CCCCCC;
}

#layout-main div.cmt_all div.cmt_add hr
{
	background-color:#CCCCCC;
}