html,
body.nonav
{
	background: none;
	background-color: #BFC2C9;
}

span.link,
a:visited,
a:active,
a:hover,
a:link
{
  color: blue;
}

#layout-menu a:active,
#layout-tabs li.selected a
{
	color: red;
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
select, textarea
{
	color: #B0B0B0;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 130%;
}

/*IE*/
#layout-search input,
#user-xname input,
#user-xpass input
{
	color: white;
	border: #BFC2C9 1px solid;
	background-color: #34394d;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

input[type="button"], /*NIE*/
#layout-main div.tabbed_pane ul.tabs li
{
	color: black;
	border: outset #969AA6 1px;
	background-color: #BFC2C9;
}

#layout-main div.tabbed_pane ul.tabs li.selected
{
	border: inset #969AA6 1px;
	background-color: #B0B0B1;
}


#layout-main div.tabbed_pane ul.tabs li:hover
{
	background-color: #B0B0B1;
}
