#layout-menu li.mymessages,
#layout-menu li.myvotes
{
	display: none;
}

#layout-search
{
	background: transparent url(../anidbstyle/images/backlame.png) repeat-x scroll center center
}

#layout-search div.search
{
	background: transparent url(../anidbstyle/images/anidb01toosimple.png) no-repeat top left;
}

#layout-search div.search form
{
	background: transparent url(../anidbstyle/images/searchback.png) no-repeat top right;
}