@charset "utf-8";
@import "http://static.anidb.net/css/common/style/icons/default.css";
@import "http://static.anidb.net/css/common/style/icons/flags.css";

/**
 * HaruhiStyleX.AniDB v2
 * A style for AniDB.net by TheJAG
 * Based on Harustyle by b1hn
 * 
 * Currently known supported browsers:
 * Opera 9+
 * Firefox 2+
 * Safari 3+
 */

html
{
	background-image:url(images/Background.png);
	background-position:bottom right;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

body
{
	background-image:url(images/Banner.png);
	background-position:top center;
	background-repeat:no-repeat;
	font-family:Calibri, "Arial Unicode MS", Arial, Helvetica, sans-serif;
	margin:0px;
	padding:80px 0 0 200px;
}

body.nonav
{
	background:none;
	padding:0;
}

h1,
h2,
h3,
h4,
h5
{
	font-variant:small-caps;
	color:#0099FF;
	text-align:center;
}

ul,
ol
{
	margin:0;
	padding:0;
}

a
{
	color:#000000;
	text-decoration:none;
	font-weight:bold;
}

a:hover
{
	color:#0099FF;
}

#layout-menu
{
	position:fixed;
	left:0px;
	top:0px;
	margin:0;
	padding:15px 0 0 30px;
	background-image:url(images/menuClean.png);
	background-repeat:no-repeat;
	width:200px;
	height:600px;
	line-height:.9;
	font-size:small;
}

#layout-menu:first-child:hover
{
	background-image:url(images/menu.png);
}

#layout-menu > div.menu
{
	position:absolute;
	top:12px;
	left:24px;
	width:130px;
	height:490px;
}

#layout-menu > div.menu > ul
{
	list-style-type:none;
	visibility:hidden;
	text-transform:capitalize;
}

#layout-menu > div.menu > ul.main > li.main > a
{
	content:"news";
}

#layout-menu > div.usermenu
{
	visibility:hidden;
}

#layout-menu > div.menu:hover > ul,
#layout-menu > div.menu:hover + div.usermenu
{
	visibility:visible;
}

#layout-search
{
	position:fixed;
	top:550px;
	left:15px;
}

#layout-search > div.search > form > p > input[type=text]
{
	width:100px;
	color:#0099FF;
	font-weight:bold;
}

#layout-search > div.search > form > p > input[type=submit]
{
}

#layout-content
{
	margin:0px;
	padding:0px;
}

#layout-content div,
#layout-content p,
#layout-content span
{
	font-size:small;
}

#layout-content > div.main_all > div.rightbar
{
	position:absolute;
	top:80px;
	right:0px;
	width:250px;
	display:none;
}

#layout-content > div.main_all > div.news > div.newsitem
{
	background-image:url(images/GlassMediumBottom.png);
	background-repeat:no-repeat;
	margin:-40px 0 0 0;
	padding:60px 0 0 0;
	width:650px;
	margin:0 auto;
}

#layout-content > div.main_all > div.news > div.newsitem:first-child
{
	background-image:none;
	padding:0;
}

#layout-content > div.main_all > div.news > div.newsitem > h4
{
	background-image:url(images/GlassMediumTop.png);
	background-repeat:no-repeat;
	padding:40px 60px 0 60px;
	margin:0;
	height:60px;
}

#layout-content > div.main_all > div.news > div.newsitem > div.avatar,
#layout-content > div.main_all > div.news > div.newsitem > span.stamp
{
	display:none;
}

#layout-content > div.main_all > div.news > div.newsitem > div.body
{
	background-image:url(images/GlassMediumMiddle.png);
	background-repeat:repeat-y;
	padding:0 60px;
	margin:-40px 0 0 0;
}

#layout-content > div.main_all > div.news > div.newsitem > div.body > ul,
#layout-content > div.main_all > div.news > div.newsitem > div.body > ol
{
	padding:10px 0 0 40px;
}

#layout-footer
{
	background-image:url(images/GlassMediumBottom.png);
	background-repeat:no-repeat;
	width:650px;
	margin:0 auto;
	padding:70px 0 0 0;
	font-size:small;
	text-align:center;
}

#layout-footer:before
{
	content:"HaruhiStyleX.AniDB v2 - Made by TheJAG - Based on Harustyle by b1hn";
}