@charset "UTF-8";
/** HaruhiStyleX.AniDB v2 (Opera Version)
 * Style by: TheJAG
 * Based on Harustyle by b1hn.
 */

/** Colors
 * Complete (Green): #90EE90
 * Dropped (Red): #FF6666
 * Stalled (Red): #FFC0CB
 * Background: #AAD8E6
 * Border: #3496DA
 */


 
/* Imports. */
@import "../common/style/icons/default.css";
@import "../common/style/icons/flags.css";

/* Global */
html
{
	background-image:url(images/topBack.png);
	background-repeat:repeat-x;
}

body
{
	background-image:url(images/banner.png);
	background-position:190px 0px;
	background-repeat:no-repeat;
	font-family:Calibri, Corbel, Consolas, Candara, Cambria, Constantia, "Arial Unicode MS", Arial, monospace;
	padding-left:200px;
	padding-top:80px;
	margin:0;
}

body.nonav
{
	background-image:none;
	margin-left:0;
	margin-top:0;
}

a
{
	color:#000000;
	text-decoration:none;
	font-weight:bold;
}

a:hover
{
	color:#0000FF;
}

#layout-content > h1:first-child
{
	color:#0099FF;
	text-align:center;
	font-variant:small-caps;
	border-bottom:#0099FF solid 4px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#layout-footer
{
	color:#0099FF;
	text-align:center;
	font-variant:small-caps;
	border-top:#0099FF solid 4px;
	width:50%;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}

#layout-footer > p:before
{
	content:"HaruhiStyleX.AniDB v2 by TheJAG! (Based on Harustyle by b1hn.)";
	display:block;
}

/* Menu */
#layout-menu div.menu
{
	background-attachment:fixed;
	background-image:url(images/menuClean.png);
	background-repeat:no-repeat;
	position:fixed;
	top:0;
	left:0;
	width:190px;
	height:600px;
	z-index:2;
}

#layout-menu div.menu:hover
{
	background-image:url(images/menu.png);
}

#layout-menu div.menu ul
{
	list-style-type:none;
	padding:0 0 0 30px;
	text-transform:capitalize;
	line-height:1em;
	visibility:hidden;
}

#layout-menu div.menu ul.main li.main a
{
	content:"News";
}

#layout-menu div.menu ul li a
{
	display:block;
	width:120px;
}

#layout-menu div.menu:hover ul
{
	visibility:visible;
}

/* Usermenu */
#layout-menu div.usermenu
{
	position:fixed;
	top:660px;
	left:0;
	width:190px;
	background-color:#AAD8E6;
	border:#2496DA solid 2px;
}

#layout-menu div.usermenu p
{
	margin:0;
	padding:0;
	font-size:small;
	text-align:center;
}

#layout-menu div.usermenu p a
{
	display:block;
}

#layout-menu div.usermenu p.user:before
{
	content:"Welcome ";
	text-transform:none;
}

#layout-menu div.usermenu p.user
{
	background-color:#2496DA;
	font-size:large;
	text-transform:uppercase;
	text-align:center;
	color:#FFFFFF;
	font-variant:small-caps;
	overflow:auto;
	font-weight:bold;
}

#layout-menu div.usermenu p.user:after
{
	content:"!";
}

#layout-menu div.usermenu p a#newnews:before,
#layout-menu div.usermenu p a#newnotifies:before,
#layout-menu div.usermenu p a#newmessages:before
{
	content:"You Have ";
}

#layout-menu div.usermenu p a#newnews,
#layout-menu div.usermenu p a#newnotifies,
#layout-menu div.usermenu p a#newmessages
{
	text-transform:capitalize;
}

#layout-menu div.usermenu p a#newnews:after,
#layout-menu div.usermenu p a#newnotifies:after,
#layout-menu div.usermenu p a#newmessages:after
{
	content:"!";
}

#layout-menu div.usermenu p a.history
{
	content:"Notification History!";
	font-size:xx-small;
	line-height:0.5em;
}

#layout-menu div.usermenu p a.i_profile
{
	content:"Account Settings!";
	text-transform:capitalize;
}

#layout-menu div.usermenu p a.i_logout
{
	content:"Leave AniDB!";
	text-transform:capitalize;
}

/* Search */
#layout-search div.search p
{
	position:fixed;
	top:600px;
	left:0;
	margin:0;
	padding:0;
	background-color:#2496DA;
}

#layout-search div.search p:before
{
	content:"Quick Search!";
	display:block;
	background-color:#2496DA;
	font-size:large;
	text-align:center;
	color:#FFFFFF;
	font-variant:small-caps;
	font-weight:bold;
}

#layout-search div.search p input.text
{
	width:188px;
	height:20px;
	background-color:#AAD8E6;
	border-top:none;
	border-left:#2496DA solid 2px;
	border-right:#2496DA solid 2px;
	border-bottom:#2496DA solid 2px;
	font-weight:bold;
	text-align:center;
}

#layout-search div.search p input.text.value
{
	content:"test";
}

#layout-search div.search p input.submit
{
	display:none;
}

/* Main/News Rightbar */
#layout-content div.main_all div.rightbar
{
	position:absolute;
	right:0px;
	width:300px;
}

#layout-content div.main_all div.rightbar > h4:first-child
{
	background-color:#2496DA;
	font-size:large;
	text-align:center;
	color:#FFFFFF;
	font-variant:small-caps;
	margin:0;
	padding:0;
}

#layout-content div.main_all div.rightbar > h4
{
	background-color:#2496DA;
	font-size:large;
	text-align:center;
	color:#FFFFFF;
	font-variant:small-caps;
	margin:20px 0 0 0;
	padding:0;
}

#layout-content div.main_all div.rightbar > h4 + p.g_vital
{
	background-color:#AAD8E6;
	border-left:#2496DA solid 2px;
	border-right:#2496DA solid 2px;
	margin:0;
	padding:0;
	text-align:center;
}

#layout-content div.main_all div.rightbar > h4 + p.g_vital + p
{
	background-color:#AAD8E6;
	border-left:#2496DA solid 2px;
	border-right:#2496DA solid 2px;
	margin:0;
	padding:0;
	text-align:center;
}

#layout-content div.main_all div.rightbar > h4 + p.g_vital + p + p
{
	background-color:#AAD8E6;
	border-left:#2496DA solid 2px;
	border-right:#2496DA solid 2px;
	border-bottom:#2496DA solid 2px;
	margin:0;
	padding:0;
	text-align:center;
}

#layout-content div.main_all div.rightbar > h3
{
	color:#0099FF;
	text-align:center;
	font-variant:small-caps;
	border-bottom:#0099FF solid 4px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#layout-content div.main_all div.rightbar > h4 + ol
{
	background-color:#AAD8E6;
	border-left:#2496DA solid 2px;
	border-right:#2496DA solid 2px;
	border-bottom:#2496DA solid 2px;
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:small;
}

#layout-content div.main_all div.rightbar > h4 + ol > li > span
{
	font-weight:bold;
	text-decoration:underline;
}

#layout-content div.main_all div.rightbar > h4 + ol > li > span + a
{
	padding-left:20px;
}

/* Main/News Page */
#layout-content div.main_all div.news
{
	position:relative;
	right:310px;
	margin-left:310px;
}

#layout-content div.main_all div.news > div.newsitem
{
	background-color:#AAD8E6;
	border-left:#2496DA solid 2px;
	border-right:#2496DA solid 2px;
	border-bottom:#2496DA solid 2px;
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:small;
}

#layout-content div.main_all div.news > div.newsitem > h4
{
	background-color:#2496DA;
	font-size:large;
	text-align:center;
	color:#FFFFFF;
	font-variant:small-caps;
	margin:20px 0 0 0;
	padding:0;
}

#layout-content div.main_all div.news > div.newsitem > span.stamp
{
	font-size:smaller;
	float:right;
	margin-right:10px;
	text-decoration:underline;
}