@charset "utf-8";
@import "../common/style/icons/default.css";
@import "../common/style/icons/flags.css";
@import "../common/style/icons/awards.css";

/**
 * HaruhiStyleX.AniDB v2
 * A style for AniDB.net by TheJAG
 * 
 * Currently known supported browsers:
 * Opera 9+
 * Firefox 2+ (No CSS Content)
 * Safari 3+ (No CSS Content)
 */

html
{
	background-image:url(images/Background.png);
	background-position:bottom right;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

body
{
	background-image:url(images/banner.png);
	background-position:top center;
	background-repeat:no-repeat;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:80px 0 0 200px;
}

body.nonav
{
	background:none;
	padding:0;
}

h1,
h2,
h3,
h4,
h5
{
	font-variant:small-caps;
	color:#0099FF;
	text-align:center;
}

ul,
ol
{
	margin:0;
	padding:0;
}

a
{
	color:#000000;
	font-weight:bold;
}

a:hover
{
	color:#0099FF;
}

#layout-menu
{
	background-image:url(images/menuClean.png);
	height:300px;
	width:200px;
	position:absolute;
	top:0;
	left:0;
}

#layout-menu:hover
{
	background-image:url(images/menu.png);
}

#layout-menu > div.menu,
#layout-menu > div.usermenu
{
	visibility:hidden;
}

#layout-menu:hover > div.menu,
#layout-menu:hover > div.usermenu
{
	visibility:visible;
}

#layout-menu > div.menu > ul
{
	padding:10px 0 0 0;
	list-style-type:none;
	width:170px;
}

#layout-menu > div.menu > ul.my,
#layout-menu > div.menu > ul.mod
{
	display:none;
}

#layout-menu > div.menu > ul > li
{
	margin:0;
	padding:0;
	height:10px;
}

#layout-menu > div.menu > ul > li > a
{
	font-size:x-small;
	text-transform:capitalize;
	text-decoration:none;
	display:list-item;
	list-style-type:none;
	padding:0 0 0 40px;
}

#layout-menu > div.usermenu > p
{
	font-size:x-small;
	line-height:1;
	margin:0;
	padding:10px 0 0 0;
	width:170px;
}

#layout-menu > div.usermenu > p.user
{
	font-size:small;
	margin:0;
	padding:10px 0 0 10px;
	font-weight:bold;
	overflow:hidden;
	height:20px;
}

#layout-menu > div.usermenu > p.user:after
{
	content:"!";
}

#layout-menu > div.usermenu > p.user:before
{
	content:"Welcome ";
}

#layout-menu > div.usermenu > p > a
{
	display:list-item;
	list-style-type:none;
	line-height:1;
	text-transform:capitalize;
	text-decoration:none;
	padding:0 0 0 40px;
}

#layout-menu > div.usermenu > p > a.history
{
	display:none;
}

#layout-menu > div.menu > ul > li > a:hover,
#layout-menu > div.usermenu > p > a:hover
{
	color:#FFFFFF;
}

#layout-search
{
	position:absolute;
	top:400px;
	left:5px;
}

#layout-search > div.search > form > p > input[type=text]
{
	width:100px;
	font-weight:bold;
}

#layout-content > div.main_all > div.rightbar
{
	position:absolute;
	top:480px;
	left:0px;
	width:200px;
}

#layout-content > div.main_all > div.rightbar > h4
{
	background-image:url(images/SmallGlassTop.png);
	background-repeat:no-repeat;
	margin:0;
	padding:10px 0 0 0;
	height:30px;
}

#layout-content > div.main_all > div.rightbar > p > a,
#layout-content > div.main_all > div.rightbar > ol > li > a
{
	text-decoration:none;
}

#layout-content > div.main_all > div.rightbar > p.g_vital,
#layout-content > div.main_all > div.rightbar > p.g_vital + p,
#layout-content > div.main_all > div.rightbar > p.g_vital + p + p,
#layout-content > div.main_all > div.rightbar > ol > li
{
	background-image:url(images/SmallGlassMiddle.png);
	background-repeat:repeat-y;
	margin:0;
	padding:0 10px;
	font-size:x-small;
	text-align:center;
}

#layout-content > div.main_all > div.rightbar > p.g_vital + p + p,
#layout-content > div.main_all > div.rightbar > ol > li + li + li + li + li + li + li + li + li + li
{
	background-image:url(images/SmallGlassBottom.png);
	background-repeat:no-repeat;
	height:40px;
}

#layout-content > div.main_all > div.rightbar > ol
{
	margin-bottom:20px;
	list-style-type:none;
}

#layout-content > div.main_all > div.rightbar > ol > li
{
	text-align:left;
}

#layout-content > div.main_all > div.rightbar > ol > li.g_odd
{
	background-image:url(images/SmallGlassMiddle2.png);
}

#layout-content > div.main_all > div.rightbar > ol > li.g_odd > a:hover
{
	color:#FFFFFF;
}

#layout-content > div.main_all > div.rightbar > ol > li > span
{
	display:none;
}

#layout-content
{
	margin:0px;
	padding:0px;
}

#layout-content div,
#layout-content p,
#layout-content span
{
	font-size:small;
}

#layout-content > div.main_all > div.news > div.newsitem
{
	background-image:url(images/GlassBottom.png);
	background-repeat:no-repeat;
	margin:-40px 0 0 0;
	padding:60px 0 0 0;
	width:650px;
	margin:0 auto;
}

#layout-content > div.main_all > div.news > div.newsitem:first-child
{
	background-image:none;
	padding:0;
}

#layout-content > div.main_all > div.news > div.newsitem > h4
{
	background-image:url(images/GlassTop.png);
	background-repeat:no-repeat;
	padding:40px 60px 0 60px;
	margin:40px 0 0 0;
	height:60px;
}

#layout-content > div.main_all > div.news > div.newsitem:first-child > h4
{
	margin-top:0;
}

#layout-content > div.main_all > div.news > div.newsitem > div.avatar,
#layout-content > div.main_all > div.news > div.newsitem > span.stamp
{
	display:none;
}

#layout-content > div.main_all > div.news > div.newsitem > div.body
{
	background-image:url(images/GlassMiddle.png);
	background-repeat:repeat-y;
	padding:0 60px;
	margin:-40px 0 0 0;
	font-weight:bold;
}

#layout-content > div.main_all > div.news > div.newsitem > div.body > ul,
#layout-content > div.main_all > div.news > div.newsitem > div.body > ol
{
	padding:10px 0 0 40px;
}

#layout-footer
{
	background-image:url(images/GlassBottom.png);
	background-repeat:no-repeat;
	width:650px;
	margin:0 auto;
	padding:70px 0 0 0;
	font-size:small;
	text-align:center;
	font-weight:bold;
}

#layout-footer:before
{
	content:"HaruhiStyleX.AniDB v2 - Made by TheJAG";
}

/*disable tabbing until it's styled properly by the actual css dev if he wants to use it*/
#layout-tabs {
	display:none;
}