/*<Magic>*/
.myreviews,.myentries,.mycreqs,.mysignatures,.ed2kdump,li.report,li.irc,li.staff,li.reclinks,
#menu-main>li>a>span,#menu-support>li>a>span,#user-logout>a>span,#user-profile>a>span,#menu-repl>a>span{display: none;}
#menu-main>li>a:hover,#menu-support>li>a:hover,#user-logout>a:hover,#menu-repl>a:hover{opacity: 1;}
#menu-main>li>a,#menu-support>li>a,#user-logout>a,#user-profile>a,#menu-repl>a{
	display: block;
	opacity: 0.5;
	position: absolute;	
	width: 24px;
	height: 24px;
}

#user-name{
	position: absolute;
	left: 76px;
	top: 164px;
	font-size: 16px;
	font-weight: 700;
	color: darkred;
	text-align: center !important;
}
#user-name>a{opacity: 1 !important; width: 90px !important;}
#user-name>a>span{display: inline !important;}

#menu-lists {
	background-image: url("Lists.png");
	text-transform: capitalize;
	position: absolute;
	left: 1px;
	top: 300px;
	width: 100px !important;
	height: 132px;
	padding-top: 28px;
	text-align: center;
}
#menu-private {
	background-image: url("Lists.png");
	text-transform: capitalize;
	position: absolute;
	left: 100px;
	top: 300px;
	width: 100px !important;
	height: 132px;
	padding-top: 28px;
	text-align: center;
}

#menu-main>li.random>a{
	background-image: url("Random.png");
	left: 152px;
	top: 142px;
	width: 16px;
	height: 16px;
}
#menu-main>li.schedule>a{
	left: 135px;
	top: 126px;
	width: 14px;
	height: 16px;
	background-image: url("Schedule.png");
}
#menu-main>li.calendar>a{
	left: 114px;
	top: 117px;
	width: 16px;
	height: 16px;
	background-image: url("Calendar.png");
}

#menu-repl>a{
	left: 18px;
	top: 184px;
	width: 14px;
	height: 14px;
	background-image: url("Report.png");
}
#user-logout>a{
	left: 75px;
	top: 115px;
	width: 20px !important;
	height: 20px !important;
	background-image: url("Shutdown.png");
}
#menu-main>li.main>a{
	left: 45px;
	top: 132px;
	width: 14px;
	height: 14px;
	background-image: url("Home.png");
}
#menu-support>li.help>a{
	left: 18px;
	top: 202px;
	width: 14px;
	height: 14px;
	background-image: url("Help.png");
}
/*#menu-private>li.applet>a{
	left: 17px;
	top: 182px;
	width: 16px;
	height: 16px;
	background-image: url("Client.png");
}*/
#menu-main>li.search>a{
	left: 20px;
	top: 164px;
	width: 16px;
	height: 16px;
	background-image: url("Search.png");
}
#menu-support>li.forum>a{
	left: 28px;
	top: 147px;
	width: 17px;
	height: 14px;
	background-image: url("Forum.png");
}
#user-profile>a{
	left: 56px;
	top: 164px;
	width: 16px !important;
	height: 16px !important;
	background-image: url("Profile.png");
	opacity: 1 !important;
}
#alert-notif{
	position: absolute;
	left: 50px;
	top: 230px;
	width: 100px;
	text-align: center;
	color: darkred;
}
#alert-notif-pri{
	position: absolute;
	left: 50px;
	top: 218px;
	width: 100px;
	text-align: center;
	color: darkred;
}
/*</Magic>*/